<html lang="ja">
<head>
% if request.path == '/smartphone/':
  <meta name="google-site-verification" content="yFzqWCCVejIRueBln5-83rn9kJc856t18oyXjEeaGew" />
%endif
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-title" content="楽天チケット" />
<link rel="shortcut icon" href="${request.static_url('altaircms:static/RT/img/common/favicon.ico')}">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
<script src=${request.static_url('altaircms:static/RT/smartphone/js/jquery-1.9.1.min.js')}></script>
<script src=${request.static_url('altaircms:static/RT/smartphone/js/jquery-ui-1.9.2.custom.min.js')}></script>
<script src=${request.static_url('altaircms:static/RT/smartphone/js/flipsnap.min.js')}></script>
<link rel="stylesheet" type="text/css" href=${request.static_url('altaircms:static/RT/smartphone/css/jquery-ui-1.9.2.custom.min.css')} />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/RT/smartphone/css/default.css')}" />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/RT/smartphone/css/slick.css')}" />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/RT/smartphone/css/slick-theme.css')}" />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/RT/smartphone/css/default.css')}" />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/RT/smartphone/css/new_sptop.css')}" />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/RT/smartphone/css/header-logo.css')}" />
<title>楽天チケット-<%block name="title"/></title>
% if request.path == '/smartphone/':
<link rel="canonical" href="/"/>
% elif request.path == '/smartphone/detail':
    % if event:
      <link rel="canonical" href="${request.environ['wsgi.url_scheme']}://${request.host}/${helper.get_pageset_from_evnet_id(request, event.id).url}"/>
    % endif
% endif
</head>
<body>

<div class="header-navigation">
  <div class="header-logo header-logo-top">
	<h1><a href="https://ticket.rakuten.co.jp/">楽天チケット</a></h1>
  </div>
  </div>
    <div class="ticket-top-icon clearfix">
        <span class="icon_help"><a href="https://ticket.faq.rakuten.ne.jp/app/home"><img
                src="${request.static_url('altaircms:static/RT/smartphone/img/icon_help.png')}" alt="ヘルプ"></a></span>
        <span class="icon_check"><a href="https://rt.tstar.jp/orderreview"><img
                src="${request.static_url('altaircms:static/RT/smartphone/img/icon_check.png')}"
                alt="お申込内容確認"></a></span>
    </div>

</div>
${self.body()}
<%block name="fnavi" />
<%include file="_footer.html"/>

% if request.featuresettingmanager.get_boolean_value("altair.cms.usersite.front.usesitecatalyst"):
    <%include file="altaircms:templates/front/sitecatalyst.html"/>
% endif
