<%page args="areas, helper" />
<%namespace file="tags_smartphone.html" name="m" />

<section id="sns" class="sns">
    <div class="sns_box">
        <ul>
            <li><a href="https://line.me/R/ti/p/%40ybn4429n"><img
                    src="${request.static_url('altaircms:static/RT/smartphone/img/icon_line.png')}" alt=""></a>
            </li>
            <li><a href="https://twitter.com/intent/follow?screen_name=RakutenTicket"><img
                    src="${request.static_url('altaircms:static/RT/smartphone/img/icon_tw.png')}"
                    alt=""></a></li>
            <li><a href="https://www.facebook.com/Rakutenticket/"><img
                    src="${request.static_url('altaircms:static/RT/smartphone/img/icon_face.png')}" alt=""></a>
            </li>
        </ul>
    </div>
</section>