<%page args="weekly_sale" />
% if weekly_sale and weekly_sale.events:
<script>
$(document).ready(function(){
    $(".next_display_week").hide();
    $(".disp_next_week").on('click',function(){
        $(".next_display_week").show();
    });
});
</script>


<section id="week_tickets" class="week_tickets">
    <h2 class="category_ttl">今週発売のチケット</h2>
    <div class="top_inner">
        <ul>
            % for num, event in enumerate(weekly_sale.events):
              % if num < 4:
                <li>
                    <a href="${request.route_path('smartphone.detail', _query=dict(event_id=event.id))}">${event.title}</a>
                </li>
              % else:
                <li class="next_display_week">
                    <a href="${request.route_path('smartphone.detail', _query=dict(event_id=event.id))}">${event.title}</a>
                </li>
              % endif
            % endfor
        </ul>
        <p class="over_txt disp_next_week"><span>もっとみる</span></p>
    </div>
</section>
% endif
