@charset "utf-8";

.couponPosionRe {
	position: relative;
}
table.couponSeats {
	width: 90% !important;
	border:  dotted 1px #DDD !important;
	padding: 10px;
	margin:0 auto 20px !important;
	box-sizing: border-box;
	display: block;
}
table.couponSeats thead tr {
	display: block;
	width: 99%;
	text-align: center;
	margin: 0 0.5%;
}
table.couponSeats thead td {
	font-weight: bold;
	display: block;
	box-sizing: border-box;
	font-weight: bold;
	background: #DDD;
	padding: 10px;
	margin-bottom: 10px;
}
table.couponSeats tbody tr {
	display: block;
	width: 49%;
	float: left;
	margin: 5px 0.5%;
}
table.couponSeats tbody td {
	font-weight: bold;
	padding: 10px;
	display: block;
	box-sizing: border-box;
	border: solid 1px #DDD;
}
.couponSeatsText {
	padding: 0 20px;
	box-sizing: border-box;
}
table.couponCodeBox {
	width: 100%;
	margin-bottom: 30px !important;
	padding: 0;
	border: none !important;
}
table.couponCodeBox span.couponCodeTtl {
	border: none !important;
	background: #860010;
	box-sizing: border-box;
	width: 20%;
  	height: 70px;
	font-weight: bold;
	clear: both;
  	text-align: center;
	color: #FFF;
  	margin: 0;
	padding: 15px 10px 0 !important;
	box-sizing: border-box;
  	display: block;
  	float: left;

	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	-webkit-border-top-left-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-bottomleft: 40px;
}
table.couponCodeBox td {
	border: none !important;
	box-sizing: border-box;
  	padding: 30px 0 0 0 !important;
}
table.couponCodeBox td .couponSeatBox {
  	width: 80%;
  	float: left;
}
table.couponCodeBox td span.couponSeat {
  	border: solid 1px #CCC;
  	display: block;
  	height: 35px;
  	line-height: 35px;
  	padding-left: 10px;
  	box-sizing: border-box;
  	color: #000;
}
table.couponCodeBox td.couponAttention  {
	border: none;
	padding: 2px 10px !important;
	font-weight: bold;
	color: #C00;
	display: block;
	background: #FEE;
	box-sizing: border-box;
	font-size: 13px;
  	margin-left: 20%;
}
table.couponCodeBox input {
	width: 100%;
	height: 35px;
  	line-height: 35px;
  	display: block;
  	background: #fafafa;
  	border: solid 1px #CCC;
  	border-top: none;
  	padding:0 0 0 10px;
  	box-sizing: border-box;
	font-size: 17px;
}
.couponBtnNext {
	text-align: center;
	clear: both;
	padding: 30px 0;
}

@media screen and (max-width: 767px) {

	table.couponCodeBox span.couponCodeTtl {
		width: 100%;
		height: auto;
		padding: 5px !important;
		float: none;
		font-size: 1rem;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;

		border-bottom-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-bottomleft: 0px;
	}
	table.couponCodeBox span.couponCodeTtl br {
		display: none;
	}
	table.couponCodeBox td .couponSeatBox {
		width: 100%;
		float: none;
	}
	table.couponCodeBox td span.couponSeat {
		height: auto;
		line-height: 1.4;
		padding: 10px;
		font-size: 1rem;
		text-align: center;
	}
	table.couponCodeBox input {
		width: 100%;
		height: auto;
		float: none;
		line-height: 40px;
		padding:5px;
		text-align: center;
		font-size: 17px;
	}
	table.couponCodeBox td.couponAttention  {
		margin-left: 0%;
		width: 100%;
	}

}
