@charset "UTF-8";

:root {
    --header-logo-url: url(../images/logo.png);
    --custom-header-color: #FFFFFF;
    --custom-head-section-color: #7D00BE;
    --custom-button-color: #FF762C;
    --custom-icon-search-txt: "他の公演へ"
}

/* ---------- header-logo-url ---------- */
header .title div.header-logo {
    background-image: var(--header-logo-url) !important;
}

/* ---------- custom-header-color ---------- */
header {
    background-color: var(--custom-header-color) !important;
}

/* ---------- custom-head-section-color ---------- */
.headArea {
    background-color: var(--custom-head-section-color) !important;
}

/* ---------- custom-button-color ---------- */
.choiceArea .seatSearch button {
    background-color: var(--custom-button-color) !important;
}

.mapArea #mapAreaRight dl dd button {
    background-color: var(--custom-button-color) !important;
}

#buyChoiceSeatArea .buttonBox .clear {
    background-color: var(--custom-button-color) !important;
}

#buyChoiceSeatArea .buttonBox .reserve {
    background-color: var(--custom-button-color) !important;
}

.modalWindow .modalInner .modalBtnBox button , .modalWindow-quantity .modalInner .modalBtnBox button {
    background-color: var(--custom-button-color) !important;
}

.fixed .modalBtnBox button {
    background-color: var(--custom-button-color) !important;
}

div.inner form button#logout {
    background-color: var(--custom-button-color) !important;
}

#productSelectBtn button {
    background-color: var(--custom-button-color) !important;
}

.modalWindowAlert .modalInner .modalAlert button {
    background-color: var(--custom-button-color) !important;
}

/* ---------- custom-icon-search-txt ---------- */
span.iconSearchTxt:after {
    content: var(--custom-icon-search-txt) !important;
}
