<%inherit file="/layout.html" />
<%namespace file="/common/helpers.html" name="h" />

<div class="container" style="width: 600px;">
  <div class="page-header">
    <h1>パスワードリセット</h1>
  </div>

  <div class="content">
    ${h.flash_messages(request)}
  </div>

  <div style="margin-bottom: 20px;">
    ログインIDおよびパスワードを忘れた場合、登録済みのメールアドレスを入力してください。<br>
    メールにてパスワード再設定URLを通知いたします。
  </div>
  <div class="well">
    <div style="margin-top: 30px;">
      <form class="form-horizontal" action="${request.route_url('login.reset')}" method="POST">
        <fieldset>
          ${h.form_item(form.email)}
        </fieldset>
        <div class="spacer" style="width:100px; margin:0 auto 0 auto;">
          <input class="btn btn-primary" type="submit" name="submit" value="リセット">
        </div>
      </form>
    </div>
  </div>
</div>
