<%inherit file="../layout.html" />
<%block name="title">リセット</%block>

<%def name="error(f)">
%if f.errors:
  <ul class="errors">
  %for error in f.errors:
      <li>${error}</li>
  %endfor:
  </ul>
% endif:
</%def>

<ul class="errors">
% for field in form:
%   if field.errors:
%     for e in field.errors:
        <li>${field.label}:${e}</li>
%     endfor:
%   endif:
% endfor
</ul>


<div id="login1">
    <div class="box">
        <form action="${request.route_url('login.reset')}" method="POST">
            <label><span>Email</span>${form.email(id="email")}</label>
            <div class="spacer">
                <input type="submit" name="submit" value="リセット" />
            </div>
        </form>
    </div>
</div>
