@charset "utf-8";

/*
	File Name   : import.css
	Author      : Kensuke Takahashi
	Description : 各CSSファイルの読み込み
*/


@import'default2.css';
@import'layout2.css';
@import'content2.css';
@import'jquery.colorbox2.css';
@import'message2.css';
