<%inherit file="./base.html"/>
<style>
    .error{
        color: red;
    }
</style>

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif

<form id="form1" name="form1" method="post" action="${request.current_route_path()}">
  <input type="hidden" name="return_to" value=${return_to} />

  ${agreement_body}

  <br/>
  <input type="checkbox" name="agree" value="agree" id="agree" />
  <label for="agree">上記の注意事項を確認、同意し申し込みます。</label><br>

  <input type="submit" value="次へ"/>
</form>
