<%inherit file="./base.html" />
<%namespace file="./tags_mobile.html" name="mobile" />

%if can_withdraw:
<div align="center">
<h3>この抽選申込を取消しますか?</h3>
<form method="POST" id="withdrawForm" action="${request.route_path('lots.review.withdraw.withdraw')}">
    <input type="hidden" name="csrf_token" value=${request.session.get_csrf_token()}>
    <input type="hidden" name="entry_no" value=${entry_no}>
    <input type="hidden" name="tel_no" value=${tel_no}>
    <input type="submit" style="width:100px;height:30px;background-color:#FF6C0D;font-size:12px;padding: 5px 15px 5px 15px;color:white;border-radius: 7px;text-decoration: none; text-align:center;" value="はい">
</form>
<form method="POST" action="${request.route_path('lots.review.index')}">
    <input type="hidden" name="csrf_token" value=${request.session.get_csrf_token()}>
    <input type="hidden" name="entry_no" value=${entry_no}>
    <input type="hidden" name="tel_no" value=${tel_no}>
    <input type="submit" style="width:100px;height:30px;background-color:#FF6C0D;font-size:12px;padding: 5px 15px 5px 15px;color:white;border-radius: 7px;text-decoration: none; text-align:center;" value="いいえ">
</form>
</div>
<span style="color:red">(取消した抽選申込を有効な抽選申込に戻す事はできません)</span>
%endif
%if error_msg:
<div align="center" style="font-size:10px;height:30px;margin:5px;">${error_msg}</div>
<div align="center" style="height:30px;margin:8px;">
    <a href="${request.route_path('lots.review.index')}" style="background-color:#FF6C0D;font-size:10px;padding: 5px 15px 5px 15px;color:white;border-radius: 7px;text-decoration: none;">入力画面に戻る</a>
</div>
%endif


<%mobile:header>詳細</%mobile:header>
<%mobile:form_header>申込番号</%mobile:form_header>
<div>${entry.entry_no}</div>

<%mobile:form_header>抽選結果</%mobile:form_header>
<div>
% if entry.is_ordered:
抽選の結果、お客様はご当選されました。
<a href="/orderreview/guest" target="_blank">購入履歴確認ページ</a>をご確認ください。 予約番号は ${entry.entry_no} です。
% elif entry.is_rejected:
抽選の結果、お客様は残念ながら落選となりました。
% elif not entry.lot.is_elected():
抽選結果発表は、${h.announce_time_label(entry.lot)}を予定しております。抽選結果発表後、抽選結果確認ページにて当選・落選をご確認下さい。
% endif
</div>

<div>
<%mobile:header>お申込内容</%mobile:header>
<%mobile:form_header>決済方法</%mobile:form_header>
${entry.payment_delivery_method_pair.payment_method.name}<br/>
<%mobile:form_header>引取方法</%mobile:form_header>
${entry.payment_delivery_method_pair.delivery_method.name}<br/>
%for wish in wishes:
  <div>
  <strong>第${wish.wish_order + 1}希望</strong><span>${wish.performance.name}</span>
  抽選結果<br/>
  <div>
  %if entry.is_ordered:
    %if wish.elected_at:
      ご用意できました
    %else:
      ご用意できませんでした
    %endif
  %elif entry.rejected_at:
    ご用意できませんでした
  %else:
    抽選処理前です
  %endif
  </div>
  <%mobile:form_header>公演日</%mobile:form_header>
  ${h.japanese_datetime(wish.performance.start_on)}<br/>
  <%mobile:form_header>会場</%mobile:form_header>
  ${wish.performance.venue.name}<br/>
  <%mobile:form_header>希望内容と手数料</%mobile:form_header>
  <div>
  %for lot_product in wish.products:
    ${lot_product.product.name}
    ${h.format_currency(lot_product.product.price)}×${lot_product.quantity}枚=${h.format_currency(lot_product.subtotal)} (税込)
  %endfor
  <%mobile:form_header>決済手数料</%mobile:form_header>
  (${wish.lot_entry.payment_delivery_method_pair.payment_method.name})
  ${h.format_currency(wish.transaction_fee)}<br/>
  <%mobile:form_header>引取手数料</%mobile:form_header>
  (${wish.lot_entry.payment_delivery_method_pair.delivery_method.name})
  ${h.format_currency(wish.delivery_fee)}<br/>
  <%mobile:form_header>システム利用料</%mobile:form_header>
  ${h.format_currency(wish.system_fee)}
  %if wish.special_fee > 0:
    ${wish.special_fee_name}
    ${h.format_currency(wish.special_fee)}
  %endif
  <br/>
  <%mobile:form_header>合計</%mobile:form_header>
  ${h.format_currency(wish.total_amount)} (税込)<br/>
  </div>
  </div>
%endfor
</div>

<div>
<%mobile:header>購入者情報</%mobile:header>
<%mobile:form_header>購入者氏名</%mobile:form_header>
${shipping_address.last_name} ${shipping_address.first_name}
<%mobile:form_header>購入者氏名（カナ）</%mobile:form_header>
${shipping_address.last_name_kana} ${shipping_address.first_name_kana}
<%mobile:form_header>メールアドレス</%mobile:form_header>
${shipping_address.email_1}
<%mobile:form_header>電話番号</%mobile:form_header>
${shipping_address.tel_1}
<%mobile:form_header>住所</%mobile:form_header>
〒${shipping_address.zip}<br/>
${shipping_address.prefecture}${shipping_address.city}${shipping_address.address_1}
${shipping_address.address_2}
<%mobile:form_header>生年月日</%mobile:form_header>
${u"{0.year} 年 {0.month}月 {0.day}日".format(birthday)}
<%mobile:form_header>性別</%mobile:form_header>
${h.format_gender(request, gender)}
</div>

<%mobile:header>追加情報</%mobile:header>
<% extra_form_data = entry.get_lot_entry_attribute_pair_pairs(request) %>
% if extra_form_data:
% for _, (display_name, display_value) in extra_form_data:
<div>
<%mobile:form_header>${display_name}</%mobile:form_header>
</div>
<div>
${h.sensible_coerce(request, display_value)}
</div>
% endfor
% endif
