<%page args="form, payment_methods" />
<%namespace file="/common/helpers.html" name="h"/>

% if payment_methods.items:
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th class="span1"></th>
    <th class="span1">${h.sortable(form.id)}</th>
    <th>${h.sortable(form.name)}</th>
    <th>${h.sortable(form.fee)}</th>
  </tr>
  </thead>
  <tbody>
  % for payment_method in payment_methods.items:
  <tr id="payment_method-${payment_method.id}">
    <td><input name="payment_method_id" type="radio" value=${payment_method.id} /></td>
    <td><span id="id">${payment_method.id}</span></td>
    <td><a href="javascript:edit_payment_method(${payment_method.id});"><span id="name">${payment_method.name}</span></a></td>
    <td><span id="fee">${h.price_format(payment_method.fee)}</span>円</td>
  </tr>
  % endfor
  </tbody>
</table>
% endif

${h.pager(payment_methods)}
