header .head {
    background-color: #04a4e4 !important;
}

header .head h1 img {
    padding: 0;
}

main #content .btn,
main #content h2 {
    background-color: #04a4e4 !important;
}

main #content .btn:hover {
    opacity: 0.75 !important;
}