<%inherit file="../outer.html"/>
<!-- ========== main ========== -->
<%block name="title">【楽天チケット】詳細検索｜チケット予約・購入</%block>
<div id="main">
		<!-- InstanceBeginEditable name="main" -->
		<form action="${request.route_path("page_search_result")}" method="GET">
		<div class="searchInput">
		  <dl>
			  <dt><div class="searchInputHeader">フリーワードで探す</div></dt>
			<dd>
			  ${forms.query}
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">ジャンルで探す</div></dt>
			<dd>
			  <table>
				  <tbody>
					${forms.genre}
				  </tbody>
				</table>
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">開催地で探す</div></dt>
			<dd>
			  <table>
				  <tbody>
					${forms.area}
				  </tbody>
			  </table>
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">公演日で探す</div></dt>
			<dd>
			  ${ forms.performance_term }
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">販売条件</div></dt>
			<dd>
			  ${ forms.deal_cond }
			</dd>
		  </dl>
		</div>
<%doc>
		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">付加サービス</div></dt>
			<dd>
			  ${ forms.added_service }
			</dd>
		  </dl>
		</div>
</%doc>
		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">発売日</div></dt>
			<dd>
			  ${ forms.about_deal }
			</dd>
		  </dl>
		</div>

		<div id="searchFormButton">
		  <ul>
			<li>
			  <a style="display: block;" href="${request.route_path("page_search_input")}"><img src="${request.static_url("altaircms:static/RT/img/search/btn_clear.gif")}" alt="条件をクリア" name="clear_button"/></a>
			</li>
			<li><input style="display: block;"  type="image" src="${request.static_url("altaircms:static/RT/img/search/btn_search.gif")}" alt="検索" name="search_button"/></li>
		  </ul>
		</div>
	</form>
</div>
<script type="text/javascript">
  $('input#freeword_query').attr("placeholder", "イベント スポーツ")
</script>
<!-- ========== /main ========== -->

<hr />

<!-- ========== side ========== -->
<div id="side">
  <div class="sideCategoryGenre">
    <h2>ジャンル一覧</h2>

	  <ul>
		  % for g in layout.top_category_genre_list:
		    <li><a href="${h.link.get_link_from_genre(request, g)}">${g.label}</a></li>
		  % endfor
</ul>
</div>

## area
<%
   from altaircms.seeds.area import AREA_CHOICES
   %>
<dl id="sideRefineSearch">
  <dt>エリアを選択</dt>
  <dd>
	  <ul>
	    % for en,ja in AREA_CHOICES:
	    <li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="area", value=en)}">${ja}</a></li>
	    % endfor
	  </ul>
  </dd>

## deal_cond
<%
from altairsite.search.forms import DealCondPartForm
%>
<dt>販売状態で絞込み</dt>
<dd>
  <ul>
    % for k in layout.top_salessegment_kind_list:
	  <li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_cond", value=k.name)}">${k.label}</a></li>
    % endfor
  </ul>
</dd>

## deal_open
	<dt>発売日・受付日で絞込み</dt>
	<dd>
		<ul>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_open", value=7) }">7日以内に受付・発売開始</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_open", value=14) }">14日以内に受付・発売開始</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_open", value=30) }">30日以内に受付・発売開始</a></li>
		</ul>
	</dd>

## event open
	<dt>公演日で絞込み</dt>
	<dd>
		<ul>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="event_open", value=7) }">7日以内に公演</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="event_open", value=14) }">14日以内に公演</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="event_open", value=30) }">30日以内に公演</a></li>
		</ul>
	</dd>
</dl>
</div>
<!-- ========== /side ========== -->
