<%inherit file="altaircms:templates/usersite/subbase.html"/>
<div id="main">
		<!-- InstanceBeginEditable name="main" -->
		<form action="${request.route_path("page_search_result")}" method="GET">
		<div class="searchInput">
		  <dl>
			  <dt><div class="searchInputHeader">フリーワードで探す</div></dt>
			<dd>
			  ${forms.query}
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">ジャンルで探す</div></dt>
			<dd>
			  <table>
				  <tbody>
					${forms.genre}
				  </tbody>
				</table>
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">開催地で探す</div></dt>
			<dd>
			  <table>
				  <tbody>
					${forms.area}
				  </tbody>
			  </table>
			</dd>
		  </dl>
		</div>

		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">公演日で探す</div></dt>
			<dd>
			  ${ forms.performance_term }
			</dd>
		  </dl>
		</div>
		
		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">販売条件</div></dt>
			<dd>
			  ${ forms.deal_cond }
			</dd>
		  </dl>
		</div>
<%doc>
		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">付加サービス</div></dt>
			<dd>
			  ${ forms.added_service }
			</dd>
		  </dl>
		</div>
</%doc>
		<div class="searchInput">
		  <dl>
			<dt><div class="searchInputHeader">発売日</div></dt>
			<dd>
			  ${ forms.about_deal }
			</dd>
		  </dl>
		</div>

		<div id="searchFormButton">
		  <ul>
			<li>
			  <a style="display: block;" href="${request.route_path("page_search_input")}"><img src=${request.static_url("altaircms:static/RT/img/search/btn_clear.gif")} alt="条件をクリア" name="clear_button"/></a>
			</li>
			<li><input style="display: block;"  type="image" src=${request.static_url("altaircms:static/RT/img/search/btn_search.gif")} alt="検索" name="search_button"/></li>
		  </ul>
		</div>
	</form>
</div>
<script type="text/javascript">
  $('input#freeword_query').attr("placeholder", "イベント スポーツ")
</script>
