:root {
    --custom-btn-color: #5a5a5a;    /* buttons  */
    --custom-color: #333333;        /* fonts  */
    --custom-border-color: #5a5a5a;     /* border  */
    --custom-background-color: #333333;     /* background  */
    --custom-default-color: #333333;
    --custom-light-color: #ccc;
    --custom-dark-color: #fff;
}

/* buttons color ボタン
-------------------------------------------- */
main .wrap-form .btn,
.btn-primary,
.qr-btn {
    background-color: var(--custom-btn-color) !important;
}


/* input color 見出し
-------------------------------------------- */
input[type=checkbox]:checked + label::after {
  border-left-color: var(--custom-color) !important;
	border-bottom-color: var(--custom-color) !important;
}

/* heading color 見出し
-------------------------------------------- */
.heading-primary {
    background-color: var(--custom-background-color) !important;
}

main .wrap-form h2 {
    background-color: var(--custom-background-color) !important;
}

header .head {
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: var(--custom-background-color) !important;
}

header h1 {
    text-align: left;
    padding-left: 10px;
    line-height: 60px;
}

header h1 img {
    border-radius: 5px;
    background: #ffffff;
    padding: 5px;
    vertical-align: middle !important;
    height: 100%;
}


/* navi step bar
-------------------------------------------- */
.nav-stepbar ol li {
    background: var(--custom-light-color);
    color: var(--custom-dark-color);
}

.nav-stepbar ol li:after {
    border-left: 10px solid var(--custom-light-color);
}

.nav-stepbar ol li.current {
    background: var(--custom-default-color);
}

.nav-stepbar ol li.current:after {
    border-left: 10px solid var(--custom-default-color);
}