<%page args="event, order=None, small=False" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function delete_event(id) {
    modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/events/delete/' + id);
    modal.find('#message').text("${u'選択したイベントを削除します。よろしいですか？'}");
    modal.modal('toggle');
  }
  function copy_event(id) {
    $(location).attr('href', '/events/copy/' + id);
  }
</script>
<%
  actions = {
    'new':dict(
      label=u'新規',
      url=request.route_path('events.new'),
      icon='icon-plus',
      route_name='events.new',
    ),
    'edit':dict(
      label=u'編集',
      url=request.route_path('events.edit', event_id=event.id),
      icon='icon-pencil',
      route_name='events.edit',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_event(%d);' % event.id,
      icon='icon-minus',
      route_name='events.delete',
    ),
    'show':dict(
      label=u'詳細',
      url=request.route_path('events.show', event_id=event.id),
      icon='icon-th-list',
      route_name='events.show',
    ),
    'copy':dict(
      label=u'コピーして新規',
      url='javascript:copy_event(%d);' % event.id,
      icon='icon-plus',
      route_name='events.copy',
    ),
  }

  order = iter(order or ['new', 'show', 'edit', 'delete', 'copy'])
%>
<div style="float: left;">
  ${HH.action_button(actions, order, extra_classes=[u'btn-small'] if small else [])}
</div>

${delete_modal()}
