<ul class="nav nav-pills">
  <li class="dropdown" id="top-search-text">
    <form id="search-event" action="/events/" method="GET">
      ${form_search.event_name_or_code(class_="search-query", placeholder=u"イベント検索")}
    </form>
  </li>
  <li class="dropdown" id="top-search" style="margin-left: 10px;">
    <div class="btn-group">
      <a href="javascript:void(0);" onclick="$('#search-event').submit();" class="btn">
        <i class="icon-search"></i> 検索
      </a>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a data-toggle="modal" href="#modal-search">
            <i class=""></i> 詳細検索
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <a href="${request.route_path('events.index')}" class="btn">
        <i class=""></i> クリア
      </a>
    </div>
  </li>
</ul>

<div class="modal hide" id="modal-search">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>検索条件設定</h3>
  </div>

  <div class="modal-body">
    <form id="search" action="/events/" method="get">
      <div class="control-group">
        <div class="controls">
          ${form_search.event_name_or_code.label()}
          ${form_search.event_name_or_code()}
        </div>
        <div class="controls">
          ${form_search.performance_name_or_code.label()}
          ${form_search.performance_name_or_code()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.perf_range_start.label()}
          (指定した期間に公演が開催しているイベントを表示)<br/>
          ${form_search.perf_range_start()} 〜 ${form_search.perf_range_end()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.deal_range_start.label()}
          (指定した期間に公演が販売しているイベントを表示)<br/>
          ${form_search.deal_range_start()} 〜 ${form_search.deal_range_end()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.perf_open_start.label()}
          (指定した期間に公演開始日があるイベントを表示)<br/>
          ${form_search.perf_open_start()} 〜 ${form_search.perf_open_end()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.deal_open_start.label()}
          (指定した期間に販売開始日があるイベントを表示)<br/>
          ${form_search.deal_open_start()} 〜 ${form_search.deal_open_end()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.perf_close_start.label()}
          (指定した期間に公演終了日があるイベントを表示)<br/>
          ${form_search.perf_close_start()} 〜 ${form_search.perf_close_end()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.deal_close_start.label()}
          (指定した期間に販売終了日があるイベントを表示)<br/>
          ${form_search.deal_close_start()} 〜 ${form_search.deal_close_end()}
        </div>
        <hr/>
        <div class="controls">
          ${form_search.lot_only()} ${form_search.lot_only.label(class_='inline')}
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="$('#search').submit();" class="btn btn-primary">検索</a>
  </div>
</div>
