<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<%!
  label_classes = [
    'label-important',
    'label-warning',
    'label-default',
    'label-success',
    'label-info',
    'label-inverse'
  ]
%>

<script>
  $(document).ready(function(){
    var event_rows = event_table.rows.length - 2;
    if (event_rows < 0) event_rows = 0;

    for (var cnt=0; cnt<event_rows; cnt++) {
      $(".deal_range" + cnt).hide();
      $(".performance_range" + cnt).hide();
    }
  });

  function toggle_detail(cnt) {
      if ($(".deal_range" + cnt).css("display") == "block") {
        $(".deal_range" + cnt).hide();
        $(".performance_range" + cnt).hide();
      } else {
        $(".deal_range" + cnt).show();
        $(".performance_range" + cnt).show();
      }
  }

</script>


<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'イベント'],
      urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h3>イベント</h3>
</div>

<div style="float: left;">
  <%include file="/events/_search.html" />
</div>

<span style="float: right; margin-right: 20px;">
  <div class="btn-group">
    <a class="btn" href="/events/new">
      <i class="icon-plus"></i>新規イベント
    </a>
  </div>
</span>

<div class="events" style="clear: both">
  ${search_query}
  <table id="event_table" class="table bordered">
    <thead>
      <tr>
        <th>イベント名</th>
        % if search_query:
          <th>公演期間</th>
          <th>販売期間</th>
          <th></th>
        % endif
        <th>登録公演数</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
    <% row_no = 0 %>
    % for event, perf_count in events.items:
      <tr>
        <td>
          <a href="${request.route_path('events.show', event_id=event.id)}">${event.title}</a>
          % for i, sales_segment_group in enumerate(event.sales_segment_groups):
            <span class="label ${label_classes[i%6]}">${sales_segment_group.name}</span>
          % endfor
        </td>
        % if search_query:
          <td>
            % for cnt, range in enumerate(h.get_performance_range(event)):
              % if cnt == 0:
                ${range}<br/>
                <div class="performance_range${row_no}">
              % else:
                ${range}<br/>
              % endif
            % endfor
            </div>
          </td>
          <td>
            % for cnt, range in enumerate(h.get_deal_range(event)):
              % if cnt == 0:
                ${range}<br/>
                <div class="deal_range${row_no}">
              % else:
                ${range}<br/>
              % endif
            % endfor
            </div>
          </td>
          <td>
            % if (len(h.get_deal_range(event)) > 1) or (len(h.get_performance_range(event)) > 1):
            <a href="javascript:toggle_detail(${row_no});">
              <button>開く</button>
            </a>
            % endif
          </td>
        % endif
        <td class="span1">${perf_count}</td>
        <td class="span3">
          <%include file="./_action_button.html" args="event=event, order=['edit', 'copy', 'delete'], small=True" />
          % if event.cms_send_at:
            % if event.updated_at > event.cms_send_at:
              <a class="btn btn-small btn-warning" href="javascript:send_event(${event.id});" style="margin-left: 10px;">
                <i class="icon-refresh icon-white"></i> CMSへ送信
              </a>
            % else:
              <a class="btn btn-small btn-inverse" href="javascript:send_event(${event.id});" style="margin-left: 10px;">
                <i class="icon-refresh icon-white"></i> CMSへ送信
              </a>
            % endif
          % else:
            <a class="btn btn-small btn-warning" href="javascript:send_event(${event.id});" style="margin-left: 10px;">
                <i class="icon-refresh icon-white"></i> CMSへ送信
            </a>
          % endif
        </td>
      </tr>
      <% row_no += 1 %>
    % endfor
    </tbody>
  </table>
  ${ch.pager(events)}
</div>
<%include file="./_send_event_mixin.html" />
