<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<script type="text/javascript">
  $(function() {
    $("#btn-report-event-stocks").click(function() {
      modal = $('#modal-report');
      modal.find('form select[name="report_type"]').val('stock');
      modal.modal('show');
    });
    $("#btn-report-event-unsold").click(function() {
      modal = $('#modal-report');
      modal.find('form select[name="report_type"]').val('unsold');
      modal.modal('show');
    });
    $("#btn-report-event-stocks-by-stockholder").click(function() {
      modal = $('#modal-report-stockholder');
      modal.modal('show');
    });
    $("#btn-report-event-sales").click(function() {
      modal = $('#modal-report-sales');
      modal.modal('show');
    });
  });
</script>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'イベント', event.title, u'帳票'],
    urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
  )}
</%block>

<div class="page-header">
  <h1>帳票</h1>
</div>

<div class="well">
  <p>
    <button id="btn-report-event-sales" class="btn btn-success">
      <i class="icon-file icon-white"></i> 販売日程管理表
    </button>
    <span style="margin-left: 10px;">販売日程管理表をダウンロードします。</span>
  </p>
  <p>
    <button id="btn-report-event-stocks" class="btn btn-success">
      <i class="icon-file icon-white"></i> 仕入明細　　　
    </button>
    <span style="margin-left: 10px;">自社枠に紐づいた座席の仕入明細をダウンロードします。</span>
  </p>
  <p>
    <button id="btn-report-event-stocks-by-stockholder" class="btn btn-success">
      <i class="icon-file icon-white"></i> 配券明細　　　
    </button>
    <span style="margin-left: 10px;">配券先の枠ごとの配券明細、追券明細、返券明細、最終返券明細をダウンロードします。</span>
  </p>
  <p>
    <button id="btn-report-event-unsold" class="btn btn-success">
      <i class="icon-file icon-white"></i> 残席明細　　　
    </button>
    <span style="margin-left: 10px;">自社枠に紐づいた座席の残席明細をダウンロードします。</span>
  </p>
</div>

<div id="modal-report" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>ダウンロード</h3>
  </div>
  <div class="modal-body">
    <p>以下の明細をダウンロードします。</p>
    <form class="form-horizontal" action="${request.route_path('reports.stocks', event_id=event.id)}" method="POST">
      ${ch.form_item(form_stock.report_type)}
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">戻る</button>
    <button class="btn btn-inverse" onclick="$('#modal-report').find('form').submit();$('#modal-report').modal('hide');">ダウンロード</button>
  </div>
</div>

<div id="modal-report-stockholder" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>ダウンロード</h3>
  </div>
  <div class="modal-body">
    <p>配券明細をダウンロードします。対象の枠と明細種別を選択してください。</p>
    <form class="form-horizontal" action="${request.route_path('reports.stocks_by_stockholder', event_id=event.id)}" method="POST">
      ${ch.form_item(form_stock_holder.stock_holder_id)}
      ${ch.form_item(form_stock_holder.report_type)}
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">戻る</button>
    <button class="btn btn-inverse" onclick="$('#modal-report-stockholder').find('form').submit();$('#modal-report-stockholder').modal('hide');">ダウンロード</button>
  </div>
</div>

<div id="modal-report-sales" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>ダウンロード</h3>
  </div>
  <div class="modal-body">
    <p>販売日程管理表をダウンロードします。</p>
    <form class="form-horizontal" action="${request.route_path('reports.sales', event_id=event.id)}" method="POST">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">戻る</button>
    <button class="btn btn-inverse" onclick="$('#modal-report-sales').find('form').submit();$('#modal-report-sales').modal('hide');">ダウンロード</button>
  </div>
</div>
