#header {
    background-color: #eeeeee;
}
#footer {
    background-color: #eeeeee;
}
#column-left {
    background-color: #ffaaaa;
}
#column-right {
    background-color: #aaffaa;
}

div {
    border: 0px solid gray;
}