<%inherit file="mypage_layout.html" />
		<!-- InstanceBeginEditable name="main" -->
        <h2><img src="${request.static_url('ticketing.cart:static/img/mypage/title_history.gif')}" alt="予約・購入履歴" width="742" height="43" /></h2>
		<div class="mypageBox1">
			<div>
			<h3>${order.event_name}${u'(%s)' % order.performance_names if order.performance_names else ''}</h3>
				<dl>
					<dt>${",".join([d.strftime(u"%Y年%m月%d(%a)".encode('utf-8')).decode('utf-8') for d in order.performance_dates])}</dt>
					<dd>${order.venue_names}&nbsp;<a href="#">会場地図</a></dd>
				</dl>
			</div>
            <%
            if order.paid_at and order.delivered_at:
                icon_url = request.static_url('ticketing.cart:static/img/mypage/icon_beige_circle.gif')
            else:
                icon_url = request.static_url('ticketing.cart:static/img/mypage/icon_pink_circle.gif')
            %>
			<p style="border: 1px solid #FFFFFF;margin: 0 0 0 0; display: block; width: 60px; height: 60px; background-image: url(${icon_url})">
                % if order.payment_delivery_pair.payment_method.payment_plugin_id == 1:
                <span style="display: block; margin: 20px 0 0 0; width: 60px; text-align: center">
                    % if order.paid_at:
                    %   if order.delivered_at:
                    配送済み
                    %   else:
                    入金済み
                    %   endif
                    % else:
                    未入金
                    % endif
                </span>
                % endif
			</p>
			<table>
				<tr>
					<th scope="row">予約番号</th>
					<td colspan="2">${"%012d" % order.id}</td>
				</tr>
				<tr>
					<th scope="row">申し込み日時</th>
					<td colspan="2">${order.created_at.strftime(u"%Y年%m月%d %H時%M分".encode('utf-8')).decode('utf-8')}</td>
				</tr>
                % for i, op in enumerate(order.items):
                <tr>
                    % if i == 0:
                    <th rowspan="${len(order.items)}" scope="row">購入内容</th>
                    % endif
                    <td class="mypageBuy">${op.product.name}</td>
                    <td class="align1"><strong>${op.quantity if op.quantity else 1}</strong>枚</td>
                </tr>
                % endfor
				<tr>
					<th scope="row">購入金額</th>
					<td colspan="2">￥${h.format_number(order.total_amount)}</td>
				</tr>
				<tr>
					<th scope="row" ${'class="waitingPayment"' if order.paid_at else ''}>お支払い</th>
					<td colspan="2" ${'class="waitingPayment"' if order.paid_at else ''}">
                        % if order.paid_at:
                        入金済み
                        % else:
                        未完了
                        % endif
                        <span>（${order.payment_delivery_pair.payment_method.name}）</span></td>
				</tr>
				% if order.payment_delivery_pair.delivery_method.delivery_plugin_id == 5:
				<tr>
					<th scope="row" ${'class="waitingPayment"' if order.paid_at else ''}>QRコード</th>
					<td colspan="2">
						% if order.paid_at:
							% for ticket in tickets:
								<img src="/qr?d=${ticket.qr | u}" style="float: left; width: 200px; height: 200px;"/>
								発券番号 ${ticket.serial} <br />
								パフォーマンス ${ticket.performance_code} <br />
								注文番号 ${order.order_no} <br />
								興行日 ${ticket.performance_date} <br />
								席種 ${ticket.product.name} (${ticket.product.id}) <br />
								席番号 ${ticket.seat.name} <br />
								<br style="clear: left;" />
							% endfor
						% else:
							QRコードは支払い完了後に表示されます
						% endif
					</td>
				</tr>
				% else:
				<tr>
					<th scope="row" ${'class="waitingPayment"' if order.paid_at else ''}>配送ステータス</th>
					<td colspan="2" ${'class="waitingPayment"' if order.paid_at else ''}>
                        % if order.delivered_at:
					     配送済み
					    % else:
					     未完了
					    % endif
                        <span> (${order.payment_delivery_pair.delivery_method.name}）</span></td>
				</tr>
				% endif
			</table>
                ## <img src="${request.static_url('ticketing.cart:static/img/mypage/btn_invoice_on.gif')}" alt="請求書発行" width="88" height="22" /></p>
		</div>

