<%inherit file="./base.html"/>

<%block name="javascript">
    <script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/js/ajaxzip3-https.js')}"></script>
    <script type="text/javascript">
    <!--
        (function() {
            var g = /^\?.*account=([^&=]*)/.exec(location.search);
            if (g) {
                window.opener.document.forms["form1"].accountno.value = g[1];
                window.close();
            }
        })();
    // -->
    </script>
</%block>

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif

<div id="content">
  <div class="wrap-content">
  % if view_context.get_include_template_path('links.html') is not None:
      <%include file="${view_context.get_include_template_path('links.html')}" args="device=view_context.ua_type" />
    % endif
    %if request.session.peek_flash():
    <div class="error-box">
      <ul>
        %for message in request.session.pop_flash():
        <li>${message}</li>
        %endfor
      </ul>
    </div>
    %endif

    <form id="form1" name="form1" method="post" action="${request.url}">
      <div class="lots-item">
        <h3>${__(u'購入者情報')}</h3>
        <div class="box-border">
            <table>
              <tr>
                <th scope="row">楽天スーパーポイント口座<br/>(半角数字)</th>
                <td>
                  <ul>
                    <li>
                      ${form['accountno'](placeholder=u"(" + __(u"例") + u": 1111-2222-3333-4444)", style="width: 20em; height: 2em")}
                      ${h.error_list(request, form, 'accountno')}
                    </li>
                    <li>
                     お持ちの方は、楽天スーパーポイント口座情報を入力して下さい。<br/>
                     楽天ポイント口座を確認するには、
                     <a href="javascript:void(window.open('https://point.rakuten.co.jp/PointAccount/PointAccountDisplay/?asid=${asid}', '_blank', 'width=700,height=500,scrollbars=yes'))">こちら</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
      </div>
      <div class="wrap-btn">
        <p class="btn" onclick="$('#form1').submit()">${__(u'次へ')}</p>
      </div>

    </form>

  </div>
</div>