<%inherit file="./base.html"/>
<%namespace file="altair.app.ticketing.cart:templates/__commons__/tags_mobile.html" name="mobile" />
<%mobile:header>チケット購入</%mobile:header>
<div><font size="-1">
<font color="red">まだお申し込みは完了していません。</font><br />
注文内容を確認の上、ページ下の「申し込む」ボタンでお申し込みください。<br />
</font></div>
<%mobile:header>申込内容確認</%mobile:header>
<form id="form1" action="${delegator['url'] if delegator else request.route_url('payment.finish.mobile')}" method="post">
${form.csrf_token()}
<div>
${cart.performance.event.title} ${cart.performance.name} ${h.performance_datetime(cart.performance)} ${cart.performance.venue.name}
</div>
% for idx, product in enumerate(cart.items):
<%mobile:form_header>商品${idx + 1}</%mobile:form_header>
<div>
% if len(product.items) == 1:
  ${product.product.name} ${product.seat_quantity} 枚<br/>
% else:
  ${product.product.name} × ${product.quantity}<br/>
% endif
￥${h.format_number(product.product.price * product.quantity)}<br/>
% if product.product.sales_segment.setting.display_seat_no:
  % for seat in product.seats:
  ${seat['name']}<br/>
  % endfor
% endif
</div>
% endfor
<%mobile:form_header>決済手数料</%mobile:form_header>
<div>
￥${h.format_number(cart.transaction_fee)}
</div>
<%mobile:form_header>発券/引取手数料</%mobile:form_header>
<div>
￥${h.format_number(cart.delivery_fee)}
</div>
<%mobile:form_header>システム利用料</%mobile:form_header>
<div>
￥${h.format_number(cart.system_fee)}
</div>
%if cart.special_fee > 0:
<%mobile:form_header>${cart.special_fee_name}</%mobile:form_header>
<div>
￥${h.format_number(cart.special_fee)}
</div>
%endif
<%mobile:form_header>合計金額</%mobile:form_header>
<div>
￥${h.format_number(cart.total_amount)}
</div>

<%
shipping = cart.shipping_address
%>

<%mobile:header>お支払い</%mobile:header>
<div>
${h.render_payment_confirm_viewlet(request, cart)}
</div>

<%mobile:header>お引き取り</%mobile:header>
<div>
${h.render_delivery_confirm_viewlet(request, cart)}
</div>

<%mobile:header>購入者情報</%mobile:header>
<%mobile:form_header>氏名(漢字)</%mobile:form_header>
<div>
${shipping.last_name} ${shipping.first_name}
</div>
<%mobile:form_header>氏名(カナ)</%mobile:form_header>
<div>
${shipping.last_name_kana} ${shipping.first_name_kana}
</div>
<%mobile:form_header>電話番号</%mobile:form_header>
<div>
${shipping.tel_1}
</div>
<%mobile:form_header>配送先住所 <font size="-1">※配送を選択の場合</font></%mobile:form_header>
<div>
${shipping.zip} ${shipping.prefecture}${shipping.city}${shipping.address_1}${shipping.address_2}
</div>

% if extra_form_data:
<%mobile:header>追加情報</%mobile:header>
% for _, (display_name, display_value) in extra_form_data:
<%mobile:form_header>${display_name}</%mobile:form_header>
<div>${h.sensible_coerce(request, display_value)}</div>
% endfor
% endif

% if mailmagazines_to_subscribe:
<%mobile:header>メールマガジンの配信</%mobile:header>
ご利用いただいた方には、ジュビロ磐田からのメールマガジンをお送りします。不要な方はチェックをはずしてください。<br />
% for mailmagazine, subscribed in mailmagazines_to_subscribe:
% if subscribed:
<font color="red">(購読済)</font>
% else:
<input type="checkbox" checked="checked" name="mailmagazine" id="mailmagazine-${mailmagazine.id}" value="${mailmagazine.id}" />
% endif
${mailmagazine.name}<br/>
<div><font size="-2">
${mailmagazine.description|n}
</font></div>
% endfor
% endif

<hr />
<input type="submit" name="back" value="戻る" />
% if delegator:
${delegator['submit']}
% else:
<input type="submit" value="申し込む" />
% endif
</form>
