<%page args="device"/>
% if device == 'pc':
     <div style="text-align:right;">
       <a href="/ticket/howto.html" class="headerLink" target="_blank">${__(u'申込方法')}</a>
       <a href="/ticket/faq.html" class="headerLink" target="_blank">${__(u'よくある質問')}</a>
       <a href="/ticket/kakunin.html" class="headerLink" target="_blank">${__(u'申込確認')}</a>
     </div>
% elif device == 'smartphone':
       <div style="clear:both;">
         <div style="text-align:right;">
           <a href="/ticket/howto.html" class="headerLink" target="_blank">${__(u'申込方法')}</a>
           <a href="/ticket/faq.html" class="headerLink" target="_blank">${__(u'よくある質問')}</a>
           <a href="/ticket/kakunin.html" class="headerLink" target="_blank">${__(u'申込確認')}</a>
         </div>
       </div>
% elif device == 'mobile':
% endif
