<html>
<head>
  <title>滋賀レイクスターズ レイクスオンラインチケット 購入確認ページ</title>
</head>
<body>
  <img src="${request.static_url('altair.app.ticketing.orderreview:static/lakestars/mobile/images/head_title.jpg')}" alt="滋賀レイクスターズ" width="232" height="108" />
  <%block name="header">
<div align="center">
滋賀レイクスターズ<br />
レイクスオンラインチケット<br />
購入確認ページ<br />
</%block>
</div>
  ${next.body()}
  <hr />
  <a href="${h.safe_get_contact_url(request)}">お問い合わせ</a> / <a href="http://www.ticketstar.jp/privacy/">個人情報保護方針</a> / <a href="http://www.ticketstar.jp/legal/">特定商取引法に基づく表示</a>
  <div>
    Copyright &copy; 2010-2015 TicketStar, Inc. All Rights Reserved. 
  </div>
</body>
</html>
