@charset "utf-8";

/* 絞り込み検索入力フォーム
----------------------------------------------------------- */
#searchform {
	background: url(../../img/first/bg_body.gif) no-repeat 50% 130px;
}

.searchInput {
	clear: both;
	overflow: hidden;
	padding: 10px -5px 5px;
}

* html .searchInput {
	height: 1%;
}

.searchInput {
    background-color: #e6e6da;
    margin-bottom: 10px;
}

.searchInput .searchInputHeader{
    padding: 15px;
    width: 820px;
}

.searchInput dt {
    background-color: #e6e6da;
	float: left;
	width: 123px;}

.searchInput dd {
	float: right;
	width: 567px;
	padding: 15px;
	background-color: #f7f7ea;
}
.searchInput dd {
    word-spacing: 0.75em;
    letter-spacing: 0em;

}

.searchInput dd td {
    line-height: 1.75em;
}

.searchInput dd td, .searchInput dd th {
    padding: 13px 7px;
}

.searchInput dd td.mostleft {
    width:82px;
}

.searchInput li {
    line-height: 2.5em;
}

#searchFormButton ul{
    text-align:center;
}

#searchFormButton li{
    display:inline-block;
    padding-right:1em;
    /display:inline;
    /zoom:1;
}

#searchFormButton li input{
    padding:0.5em;
}

/* footer */
.footer{
	background-color: #FFFFFF;
	font-size: 12pt;
	color: #555;
	text-align: center;
	padding: 10px 0;
	width: 760px;
	margin: 0 auto;	
}

.footer .footernav{
	margin: 10px auto;
}

.footer .footernav ul {
    display: inline;
    font-size: 75%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footernav ul li.first {
    border-left: medium none;
}

.footer .footernav ul li {
    border-left: 1px solid #534741;
    display: inline;
    padding: 0 6px;
    white-space: nowrap;
}

.footer .copyright {
    font-size: 75%;
}

