<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
var endpoints = ${
HH.json(dict(
  new=request.route_path('payment_methods.new'),
  edit=request.route_path('payment_methods.edit', payment_method_id='__id__'),
  delete=request.route_path('payment_methods.delete', payment_method_id='__id__')))|n
};

var new_payment_method, edit_payment_method, delete_payment_method, save_payment_method, get_selected_payment_method_id;

(function (modal_sel, modal_delete_sel) {
  var modal, modal_delete;
  $(function () {
    modal = $(modal_sel);
    modal_delete = $(modal_delete_sel);
  });

  new_payment_method = function new_payment_method() {
    load_modal_form(modal, endpoints['new']);
  }

  edit_payment_method = function edit_payment_method(id) {
    load_modal_form(modal, endpoints['edit'].replace('__id__', id));
  }

  delete_payment_method = function delete_payment_method(id) {
    modal_delete.find('#delete').attr('href', endpoints['delete'].replace('__id__', id));
    modal_delete.find('#message').text('選択した決済方法を削除します。よろしいですか？');
    modal_delete.modal('toggle');
  }
  save_payment_method = function save_payment_method() {
    var form = '#payment_methods-form';
    var id = $(modal + ' #id').val();
    var url = id ? '/payment_methods/edit/' + id : '/payment_methods/new';
    post_modal_form(modal, form, url);
  }
})('#modal-payment_method', '#modal-delete');
</script>

<%
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_payment_method();',
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_payment_method(get_selected_payment_method_id());',
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_payment_method(get_selected_payment_method_id());',
      icon='icon-minus',
    ),
  }
  order = iter(['new', 'edit', 'delete'])
%>
${HH.action_button(actions, order)}

${delete_modal()}
