<%inherit file="${context['main_template'].uri}" />
<%namespace name="gtm" file="../common/gtm.html"/>
<%block name="header_gtm">${gtm.header_gtm()}</%block>
<%block name="body_gtm">${gtm.body_gtm()}</%block>
<%
   import altair.app.ticketing.cart.helpers as ch
   import altair.app.ticketing.lots.helpers as h
%>
<%block name="javascript">
<script type="text/javascript">
  $(function () {
    var checkbox = $('#agreement_checkbox');
     if (checkbox.length > 0) {

       var btnDomId = 'input#completionBtn';
       $(btnDomId).prop('disabled', true).css('opacity', 0.5);

       checkbox.click(function () {
         if ($(this).prop('checked') === true) {
           $(btnDomId).prop('disabled', false).css('opacity', 1);
         } else {
           $(btnDomId).prop('disabled', true).css('opacity', 0.5);
         }
       });
     }
  })
</script>
</%block>
<%block name="css">
<style type="text/css">
  .txt-favorite { font-weight: bold; padding: 10px 0; }
  .list-favorite { width: 100%; text-align: left; }
  .list-favorite li { width: 50%; float: left; }
  .agreement-of-policy { margin: 0 auto 20px; }
  .agreement-of-policy .policy-sentence {
    padding-left: 30px;
    font-size: 16px;
  }
</style>
</%block>

%if request.session.peek_flash():
<div style="border: 3px solid red; background: #FFEEEE; padding: 10px; margin: 10px;">
  <ul>
    %for message in request.session.pop_flash():
    <li>${message}</li>
    %endfor
  </ul>
</div>
%endif

<p class="pageTitle">お申込内容をご確認ください。</p>
<form id="form1" name="form1" method="post" action="">        
  <input type="hidden" name="token" value="${token}" />
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/order/title_hope.gif')}" alt="お申込内容" width="97" height="30" /></h2>
      %for wish in wishes:
      <div class="settlementSelectBox">
        <div class="settlementSelectBoxInner02">
          <p class="header"><strong>第${wish.wish_order + 1}希望</strong>${wish.performance.name}</p>
          <table summary="チケット購入の絞り込み">
            <tr>
              <th><label>公演日・会場</label></th>
              <td>${h.performance_date_label(wish.performance)}</td>
            </tr>
            <tr class="settlementSelectEnd">
              <th>希望内容と手数料</th>
              <td>
                <dl class="cost-summary">
                %for i, lot_product in enumerate(wish.products):
                  <dt class="product-name">${lot_product.product.name}</dt>
                  <dd class="product-price-and-quantity">${h.render_lot_product_quantity(lot_product.product, lot_product.quantity)}&nbsp;${h.format_currency(lot_product.subtotal)} (税込)</dd>
                %endfor
                  <dt class="payment-method">決済手数料 (${wish.lot_entry.payment_delivery_method_pair.payment_method.name})</dt>
                  <dd class="payment-fee">${h.format_currency(wish.transaction_fee)}</dd>
                  <dt class="delivery-method">引取手数料 (${wish.lot_entry.payment_delivery_method_pair.delivery_method.name})</dt>
                  <dd class="delivery-fee">${h.format_currency(wish.delivery_fee)}</dd>
                  <dt class="delivery-method">システム利用料</dt>
                  <dd class="delivery-fee">${h.format_currency(wish.system_fee)}</dd>
                  %if wish.special_fee > 0:
                  <dt class="delivery-method">${wish.special_fee_name}</dt>
                  <dd class="delivery-fee">${h.format_currency(wish.special_fee)}</dd>
                  %endif
                  <dt class="total-amount">合計</dt>
                  <dd class="total-amount">${h.format_currency(wish.total_amount)} (税込)</dd>
                </dl>
              </td>
            </tr>
          </table>
        </div>
      </div>
      %endfor
    </div>
  </div>
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/order/title_buyer.gif')}" alt="購入者情報" width="97" height="30" /></h2>
      <div class="settlementSelectBox">
        <div class="settlementSelectBoxInner02">
          <table summary="購入者情報">
            <tr>
              <th>購入者氏名</th>
              <td>${shipping_address['last_name']} ${shipping_address['first_name']}</td>
            </tr>
            <tr>
              <th>購入者氏名（カナ）</th>
              <td>${shipping_address['last_name_kana']} ${shipping_address['first_name_kana']}</td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td>${shipping_address['email_1']}</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>${shipping_address['tel_1']}</td>
            </tr>
            <tr>
              <th>住所</th>
              <td>
                〒${shipping_address['zip']}<br />
                ${shipping_address['prefecture']}${shipping_address['city']}${shipping_address['address_1']}<br />
                ${shipping_address['address_2']}
              </td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td>${u"{0.year} 年 {0.month}月 {0.day}日".format(birthday)}</td>
            </tr>
            <tr>
              <th>性別</th>
              <td>${h.format_gender(request, gender)}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  % if orion_ticket_phone:
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2>アプリ受取追加情報</h2>
      <div class="settlementSelectBox">
        <div class="settlementSelectBoxInner02">
          <table summary="">
            <tr>
              <th>譲渡先</th>
              <td>
                % for i, phone in enumerate(orion_ticket_phone):
                <p>電話番号${i+1}: ${phone}</p>
                % endfor
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  % endif

  % if extra_form_data:
  <div class="confirmBox">
  	<div class="confirmBoxInner">
      <h2>追加情報</h2>
  	  <table id="contentsOfShopping">
          ${self.lh.disp_extra_description(extra_description, 'pc')}
      % for _, (display_name, display_value) in extra_form_data:
        <tr>
          <th scope="row">${(display_name or u'')|n}</th>
          <td>${ch.sensible_coerce(request, display_value)}</td>
        </tr>
      % endfor
      </table>
    </div>
  </div>
  % endif

  % if review_password:
    <div class="settlementBox">
      <div class="settlementBoxInner">
        <h2><img src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/order/title_review_password.gif')}" alt="受付確認用パスワード" width="200" height="30" /></h2>
        <div class="settlementSelectBox">
          <div class="settlementSelectBoxInner02">
            <table summary="受付確認用パスワード">
              <tr>
                <td>
                 ${review_password[:3].ljust(13,'*')}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  % endif

  % if mailmagazines_to_subscribe:
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/settlement/title_magazine.gif')}" alt="メールマガジンの配信" width="177" height="30" /></h2>
      <div id="mailMagazineBox">
        <div id="mailMagazineBoxInner">
          <dl>
            <dt>
              <b>お申込み時にご入力いただいたメールアドレス</b>
              宛に、会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の楽天チケットニュースをお送りいたします。
              不要な方はチェックを外してください。<br />
              既に購読中のメールマガジンの購読停止は、マイページよりお願いします。
            </dt>
            <dd>
              <ul>
              % for mailmagazine, subscribed in mailmagazines_to_subscribe:
                <li>
                  <div>
                    <input type="checkbox" checked="checked" name="mailmagazine" id="mailmagazine-${mailmagazine.id}" value="${mailmagazine.id}" />
                    <label for="mailmagazine-${mailmagazine.id}">${mailmagazine.name}</label>
                  </div>
                  <div>
                    ${mailmagazine.description|n}
                  </div>
                </li>
              % endfor
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  % endif

  % if keywords_to_subscribe:
  <div class="settlementBox">
		<div class="settlementBoxInner">
			<h2><img src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/settlement/title_favorite.gif')}" alt="お気に入りワード登録" width="267" height="30" /></h2>
			<div id="mailKeywordBox">
				<div id="mailKeywordBoxInner">
					<dl>
						<dt>
							お気に入りワードに登録しておくと、発売開始等のタイミングでお知らせメールが届きます。<br />
						</dt>

						<dd>
							<ul class="list-favorite">
								% for keyword, subscribed in keywords_to_subscribe:
								<li ${subscribed and u'class="subscribed"' or u''|n}>
									<div>
										<input type="checkbox" checked="checked" name="keyword" id="keyword-${keyword.id}" value="${keyword.id}" ${subscribed and u'disabled="disabled"' or u''|n} />
										<label for="keyword-${keyword.id}">${keyword.label}</label>
									</div>
								</li>
								% endfor
							</ul>
						</dd>
					</dl>
				</div>
			</div>
		</div>
  </div>
  % endif

  <table class="agreement-of-policy">
  <tr>
    <td>
      <div class="settlementBox">
        <div class="settlementBoxInner">
          <div class="policy-sentence attention-label"><h2>(ご注意)メール受信設定のお願い</h2></div>
          <div style="margin: 10px; background: #FEF7E7;">
            <div class="policy-sentence">
              メールが届かないとのお問合せが増えております。<br/>
             「ticket.rakuten.co.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。<br/>
              ※ソフトバンク株式会社によるメールの送受信のセキュリティ強化対応に伴い、特にソフトバンク携帯をご利用のお客さまより申込完了メールや抽選結果メールが届かないとのお問い合わせをいただいております。<br/>
              詳しくは <a href="https://ticket.faq.rakuten.ne.jp/app/answers/detail/a_id/12007" target="_blank">こちら</a> をご確認ください。
            </div>
            <br/>
            <div class="policy-sentence"><a href="http://ticket.rakuten.co.jp/terms" target="_new">サービス利用規約</a>及び、<a href="http://privacy.rakuten.co.jp/" target="_new">個人情報保護方針</a>に同意をし、購入を申し込みます。</div>
            <br/>
            % if request.organization.setting.enable_agreement_of_policy:
              <label class="agreement-checkbox-label">
                ${form.agreement_checkbox(title=u'サービス利用規約及び個人情報保護方針の同意', autocomplete="off")}
                <span class="checkmark"></span>
                <div class="policy-sentence attention-label">【ご確認いただけた方は、左のチェックボックスに必ずチェックを入れてください】</div>
              </label>
            % endif
          </div>
        </div>
      </div>
      <div class="policy-sentence attention-label align2">ご購入いただいたチケットを、興行主の同意なく有償譲渡することは禁止いたします。</div>
    </td>
  </tr>
</table>

  <p class="align2"><input type="image" name="back" src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/order/btn_back.gif')}" alt="戻る" width="236" height="46" /><input id="completionBtn" type="image"  src="${request.static_url('altair.app.ticketing.lots:static/RT/pc/img/order/btn_confirm.gif')}" alt="確定する" width="236" height="46" /></p>
</form>
<input type="hidden" name="rat" id="ratCvEvent"  value="{'step5':1}">