<%inherit file="${context['main_template'].uri}" />
<%block name="javascript">
    <script type="text/javascript">
    $(document).ready(function(){
        $(".methodExplanation").hide();
        $("input:radio").click(function() {
            $(".methodExplanation").hide();
            var index = $("input:radio[name='payment_delivery_method_pair_id']").index(this);
            console.log(index);
            $(".methodExplanation:eq(" + index + ")").show();
        });
    });
    </script>
</%block>
<div id="main">

  %if request.session.peek_flash():
  <div style="border: 3px solid red; background: #FFEEEE; padding: 10px; margin: 10px;">
    <ul>
      %for message in request.session.pop_flash():
      <li>${message}</li>
      %endfor
    </ul>
  </div>
  %endif

<form method="post" id="wishForm" action="${request.route_path('lots.entry.sp_step3', event_id=event.id, lot_id=lot.id)}">
    % for cnt, wish in enumerate(wishes):
      <%
        wish_order = wish['wished_products'][0]['wish_order']
        products = wish['wished_products']
        performance_id = wishes[cnt]['performance_id']
      %>
      <input type="hidden" name="performanceDate-${wish_order}" value="${performance_id}"/>
      %for ii, product in enumerate(products):
        <%
           product_id = product['product_id']
           quantity = product['quantity']
           %>
        <input type="hidden" name="product-id-${wish_order}-${ii}" value="${product_id}"/>
        <input type="hidden" name="product-quantity-${wish_order}-${ii}" value="${quantity}"/>
      %endfor
    % endfor

<div class="subbox">
<dl>
  <dt><p class="lineRed">${_(u'お支払・お引取り方法選択')}</p></dt>
<dd>
<div class="subInner">
<dl class="creditList">
<dt>
% for m in payment_delivery_pairs:
<%
    checked = 'checked' if str(m.id) == payment_delivery_method_pair_id else ''
%>
<p>
  <input id="radio${m.id}" type="radio" name="payment_delivery_method_pair_id" value="${m.id}" ${checked} />
  <label for="radio${m.id}">
    ${h.payment_method_get_info(custom_locale_negotiator, m, 'name')}
    / 
    ${h.delivery_method_get_info(custom_locale_negotiator, m, 'name')}
  </label>
</p>
% endfor

</dt>
</dl>

% for m in payment_delivery_pairs:
<dl class="methodExplanation">
<dt class="creditHl">
  ${h.payment_method_get_info(custom_locale_negotiator, m, 'name')}
</dt>
<dd>
<p>${_(u'手数料')} <strong>${h.format_currency(m.transaction_fee)}</strong> (${h.fee_type(m.payment_method.fee_type)})<br>
  ${h.payment_method_get_info(custom_locale_negotiator, m, 'description') | n}
</dd>

<dt class="creditHl">
  ${h.delivery_method_get_info(custom_locale_negotiator, m, 'name')}
</dt>
<dd>
<p>
  <strong>${h.format_currency(m.delivery_fee)}</strong> (${h.fee_type(m.delivery_method.fee_type)})<br>
  ${h.delivery_method_get_info(custom_locale_negotiator, m, 'description') | n}
</dd>

%if m.system_fee > 0:
<dt class="creditHl">${_(u'システム利用料')}</dt>
<dd class="paymentFee_${h.format_number(m.transaction_fee)}">
<p>${_(u'システム利用料')}&nbsp;<strong>${h.format_currency(m.system_fee)}</strong>(${h.fee_type(m.system_fee_type)})<br>
${_(u'上記の利用料・手数料がかかります。')}</p>
</dd>
%endif

%if m.special_fee > 0:
<dt class="creditHl">${m.special_fee_name}</dt>
<dd class="paymentFee_${h.format_number(m.transaction_fee)}">
<p>${m.special_fee_name}&nbsp;<strong>${h.format_currency(m.special_fee)}</strong>(${h.fee_type(m.special_fee_type)})<br>
${_(u'上記の利用料・手数料がかかります。')}</p>
</dd>
%endif

</dl>
% endfor
</div>
</dd>
</dl>
</div>

<p style="tyuui2">${__(u'注文受付完了、確認メール等をメールでご案内します。「tstar.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。') |n}</p>

<div class="subbox">
<dl>
<dt>
<p class="lineRed">${_(u'購入者情報')}</p>
</dt>
<dd>
<div class="subInner2">
<dl class="creditList">

  <dt class="creditHl">${_(u'購入者氏名（全角）')}</dt>
<dd>
<p>
${form['last_name'].label}<br/>
${form['last_name']}<br/>
${self.error(form, 'last_name')}
</p>
<p>
${form['first_name'].label}<br/>
${form['first_name']}<br/>
${self.error(form, 'first_name')}
</p>
</dd>

% if custom_locale_negotiator=='ja':
<dt class="creditHl">${_(u'購入者氏名（カナ）')}</dt>
<dd>
<p>
${h.render_label(form['last_name_kana'])}<br/>
${form['last_name_kana']}<br/>
${self.error(form, 'last_name_kana')}
</p>
<p>
${h.render_label(form['first_name_kana'])}<br/>
${form['first_name_kana']}<br/>
${self.error(form, 'first_name_kana')}
</p>
</dd>
% endif

<dt class="creditHl">${_(u'メールアドレス')}</dt>
<dd>
<p>
${form['email_1'].label}<br/>
${form['email_1']}<br/>
${self.error(form, 'email_1')}
</p>
<p>
${form['email_1_confirm'].label}<br/>
${form['email_1_confirm']}<br/>
${self.error(form, 'email_1_confirm')}
</p>
<p style="tyuui2">${__(u'注文受付完了、確認メール等をメールでご案内します。「tstar.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。') |n}</p>
</dd>

<dt class="creditHl">${_(u'電話番号')}</dt>
<dd>
<p>
${form['tel_1'].label}<br/>
${form['tel_1']}<br/>
(${_(u'例: 080xxxxyyyy')})
${self.error(form, 'tel_1')}
</p>
<p>
${form['tel_2'].label}<br/>
${form['tel_2']}<br/>
${self.error(form, 'tel_2')}
</p>
</dd>

<dt class="creditHl">${_(u'住所')}</dt>
<dd>
<p>
${form['country'].label}<br/>
${form['country']}<br/>
${self.error(form, 'country')}
</p>
<p>
<% path = request.static_url('altair.app.ticketing.cart:static/js/zipdata') %>
${form['zip'].label}<br/>
${form['zip'](onKeyUp="AjaxZip3.zip2addr('" + path + "', 'zip','','prefecture','city','', 'address_1');")}<br/>
(${_(u'例: 1030001')})
${self.error(form, 'zip')}
</p>
<p>
${form['prefecture'].label}<br/>
${form['prefecture']}<br/>
(${_(u'例: 東京都')}) 
${self.error(form, 'prefecture')}
</p>
</p>
<p>
${form['city'].label}<br/>
${form['city']}<br/>
(${_(u'例: 中央区')}) 
${self.error(form, 'city')}
</p>
</p>
<p>
${form['address_1'].label}<br/>
${form['address_1']}<br/>
(${_(u'例: 日本橋x-xx-xx')}) 
${self.error(form, 'address_1')}
</p>
</p>
<p>
${form['address_2'].label}<br/>
${form['address_2']}<br/>
(${_(u'例: yyビルz階')})
${self.error(form, 'address_2')}
</p>
</dd>

<dt class="creditHl"><label class="required" for="birthday">${_(u'生年月日')}</label></dt>
<dd>
<p>
${form['birthday']}
${self.error(form, 'birthday')}
</p>
</dd>

<dt class="creditHl">${form['sex'].label}</dt>
<dd>
<p>
${form['sex']}
${self.error(form, 'sex')}
</p>
</dd>

<dt class="creditHl">${_(u'メモ欄')}</dt>
<dd>
<p>
${form['memo'](style="width: 98%")} ${self.error(form, 'error')}
<div style="font-size: 90%;">
  ※${_(u'ご質問を入力されても返信はいたしかねます。')}<br>
  ${_(u'ご質問がある場合はお問合せフォームよりお願いいたします。')}
</div>
</p>
</dd>



</dl>
</div>

</dd>
</dl>
</div>
<p class="nextBtn"><input type="submit" value="${_(u'次へ')}"></p>

</form>
</div>
