<%inherit file="./base.html"/>
<%namespace name="gtm" file="../common/gtm.html"/>
<%block name="header_gtm">${gtm.header_gtm()}</%block>
<%block name="body_gtm">${gtm.body_gtm()}</%block>

<%block name="css">
<style type="text/css">
  .confirm-message {
    margin-left: 7px;
    padding: 10px;
  }
  .confirm-message ul li {
    padding: 3px;
  }
  .disp-order_no {
    font-size: 36px;
    color: #cc0000;
  }
  .next-action {
    margin-top: 20px;
  }
  p.attention {
    color: #cc0000;
    margin-bottom: 15px;
  }
  .red { color: red; }
  .fixed-size {
    font-size: 12px;
  }
</style>
</%block>

<div style="text-align: center; font-size: 13px">
  <p><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/completion.gif')}" alt="購入を完了いたしました。" width="201" height="50"/></p>
  <p>下記の受付番号はとても大切な番号です。すぐにメモするか印刷して保管してください。</p>
  <p class="attention">★お申し込み内容を忘れないよう、この画面のスクリーンショットを取っておいてください。</p>
</div>

<div class="confirmBox">
  <div class="confirmBoxInner">
    <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_order_number.gif')}" alt="受付番号" width="103" height="30"/></h2>
    <div class="confirm-message disp-order_no">
      ${order.order_no}
    </div>
  </div>
</div>

<div class="confirmBox">
  <div class="confirmBoxInner">
    <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_shopping.gif')}" alt="お買い物内容" width="114" height="30"/></h2>
    <%include file="../../__commons__/shopping_content/pc_spa.html" args="order_like=order, is_planned_performance_date=True, enable_point_use_col=True"/>
  </div>
</div>

<% extra_form_data = order.get_order_attribute_pair_pairs(request, for_='cart', mode='entry') %>
% if extra_form_data:
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2>追加情報</h2>
      <table id="contentsOfShopping">
        % for _, (display_name, display_value) in extra_form_data:
          <tr>
            <th scope="row">${(display_name or u'')|n}</th>
            <td>${h.sensible_coerce(request, display_value)}</td>
          </tr>
        % endfor
      </table>
    </div>
  </div>
% endif

<div class="confirmBox">
  <div class="confirmBoxInner">
    <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_payment.gif')}" alt="お支払い" width="78" height="30"/></h2>
    <div class="confirm-message fixed-size">
      ${h.render_payment_finished_viewlet(request, order)}
    </div>
  </div>
</div>
<div class="confirmBox">
  <div class="confirmBoxInner fixed-size">
    <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_reception.gif')}" alt="お引き取り" width="103" height="30"/></h2>
    <div class="confirm-message">
      ${h.render_delivery_finished_viewlet(request, order)}
    </div>
  </div>
</div>

## todo: pluggable

<div class="confirmBox">
  <div class="confirmBoxInner">
    <div class="confirm-message">
      <h3 style="margin-left: 0">注意事項</h3>
      <ul>
        <li>お申し込み時に、ご登録いただいたメールアドレス宛に、受付完了メールが送られます。しばらくたっても確認のメールが届かない場合は、入力されたメールアドレスが誤っている可能性があります。
        </li>
        <li>
          <a target="_blank" href="/inquiry">問い合わせフォーム</a>よりお問い合わせください。（お問い合わせの際は、お申込み時のお名前と電話番号を記載お願いします）
        </li>
        <li>お申込内容は、「<a target="_blank" href="https://rt.tstar.jp/orderreview">履歴確認</a>」からもご確認いただけます。受付番号とご登録時のお電話番号をお手元にご用意の上、ご利用ください。
        </li>
      </ul>
    </div>
  </div>
</div>

<div style="width: 800px; text-align: center; margin-left: auto; margin-right: auto;">
  <div class="next-action">
    <a href="${request.context.host_base_url}"><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/btn_back_to_top.gif')}"/></a>
    <a href="${request.route_url('cart.index', event_id=order.performance.event.id, _query={'performance': order.performance_id})}"><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/btn_other_ticket.gif')}"/></a>
  </div>
</div>

${(view_context.embedded_html_complete_page or u'')|n}
% if request.organization.setting.sitecatalyst_use:
  <%include file="../common/sc_completion.html" />
% endif
<%include file="./_dsp.html" />

