<%inherit file="./base.html"/>
<%namespace name="gtm" file="../common/gtm.html"/>
<%block name="header_gtm">${gtm.header_gtm()}</%block>
<%block name="body_gtm">${gtm.body_gtm()}</%block>
<%
from altair.app.ticketing.payments.plugins import ORION_DELIVERY_PLUGIN_ID
# has_orionは決済引取方法の中でorionの引取方法があるかどうか
has_orion = False
# has_orionは決済引取方法の中でorionの引取方法が選べられるかどうか（バリーデーションに止まってリロードされる場合）
orion_checked = False
%>

<%block name="javascript">
    <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
</%block>

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif

<form id="form1" name="form1" method="post" action="${request.url}">
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_methods.gif')}" alt="お支払い、引き取り方法の指定" width="267" height="30" /></h2>
      %if len(payment_delivery_methods) > 1:
            <p style="margin-left:20px;">どれかひとつをお選びください</p>
      %endif
      <% checked_id = request.params.get('payment_delivery_method_pair_id') %>
      <%
        if not performance.orion or (performance.orion and performance.orion.phone_verify_disabled):
          is_phone_verify_disabled = 'true'
        else:
          is_phone_verify_disabled = 'false'
      %>
      %for m in payment_delivery_methods:
      <div class="settlementPayBox">
        <div class="settlementPayBoxInner">
          <table>
            <tr>
              <% checked = 'checked' if str(m.id) == checked_id else '' %>
              <% is_orion = 'true' if m.delivery_method.delivery_plugin_id == ORION_DELIVERY_PLUGIN_ID else 'false' %>
              <%
              if not orion_checked:
                orion_checked = checked and is_orion == 'true'
              if not has_orion:
                has_orion = is_orion == 'true'
              %>
              <td class="settlementPayRadio"${' rowspan="2"' if m.system_fee > 0 or m.special_fee > 0 else u''|n} onclick="pdmp(this, ${is_orion}, ${is_phone_verify_disabled})">
                <input type="radio" name="payment_delivery_method_pair_id" id="radio2" value="${m.id}" autocomplete="off" ${checked} />
              </td>
              <td onclick="pdmp(this, ${is_orion}, ${is_phone_verify_disabled})">
                <dl>
                  <dt>${m.payment_method.name}</dt>
                  <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                    <span class="paymentFeeLabel">手数料</span>
                    <span class="paymentFee">${h.format_currency(m.transaction_fee)}</span>
                    <span class="paymentFeeType">(${h.fee_type(m.payment_method.fee_type)})</span>
                    <div class="description">${m.payment_method.description or '' | n}</div>
                  </dd>
                </dl>
              </td>
              <td onclick="pdmp(this, ${is_orion}, ${is_phone_verify_disabled})">
                <dl>
                  <dt>${m.delivery_method.name}</dt>
                  <dd class="devlieryFee_${h.format_number(m.delivery_fee)}">
                    % if m.delivery_fee_type == 0:
                      <span class="deliveryFeeLabel">手数料</span>
                      <span class="deliveryFee">${h.format_currency(m.delivery_fee)}</span>
                      <span class="deliveryFeeType">(${h.fee_type(m.delivery_fee_type)})</span>
                    % else:
                      <dl class="deliveryMainSubBox">
                        <dt style="width:auto; font-weight: normal;">手数料</dt>
                        <dd>
                          <span class="deliveryFeeLabel">本券</span>
                          <span class="deliveryFee">${h.format_currency(m.delivery_fee)}</span>
                          <span class="deliveryFeeType">(${h.fee_type(m.delivery_fee_type)})</span>
                          <br/>
                          <span class="deliveryFeeLabel">副券</span>
                          <span class="deliveryFee">${h.format_currency(m.delivery_fee_per_sub_ticket)}</span>
                          <span class="deliveryFeeType">(${h.fee_type(m.delivery_fee_type)})</span>
                        </dd>
                      </dl>
                    % endif
                    <div class="description">${m.delivery_method.description or '' | n}</div>
                  </dd>
                </dl>
              </td>
            </tr>
            % if m.system_fee > 0 or m.special_fee > 0:
            <tr>
              <td colspan="2">
                <dl class="fullwidth">
                  <dt>上記以外の利用料・手数料</dt>
                  <dd>
                    <dl>
                      %if m.system_fee > 0:
                      <dt>システム利用料</dt>
                      <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                        <span class="paymentFee">${h.format_currency(m.system_fee)}</span>
                        <span class="paymentFeeType">(${h.fee_type(m.system_fee_type)})</span>
                      </dd>
                      %endif
                      %if m.special_fee > 0:
                      <dt>${m.special_fee_name}</dt>
                      <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                        <span class="paymentFee">${h.format_currency(m.special_fee)}</span>
                        <span class="paymentFeeType">(${h.fee_type(m.special_fee_type)})</span>
                      </dd>
                      %endif
                    </dl>
                    <div class="description">
                      上記の利用料・手数料がかかります。
                    </div>
                  </dd>
                </dl>
              </td>
            </tr>
            % endif
          </table>
        </div>
      </div>
      %endfor
      <p>${view_context.mail_filter_domain_notice}</p>
    </div>
  </div>

  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_customer_info.gif')}" alt="購入者情報" width="103" height="30" /></h2>
      <!--
          <h2>購入者情報</h2>
          <div class="settlementPayBox">
            <div class="settlementPayBoxInner">
              -->
      <table id="confirmDelivery">
        <tr>
          <th scope="row">購入者氏名(全角)</th>
          <td>
            <ul>
              <li>
                ${form['last_name'].label}
                ${form['last_name']}
                (例：山田)
                ${h.error_list(request, form, 'last_name')}
              </li>
              <li>
                ${form['first_name'].label}
                ${form['first_name']}
                (例：太郎)
                ${h.error_list(request, form, 'first_name')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">購入者氏名(全角カナ)</th>
          <td>
            <ul>
              <li>
                ${form['last_name_kana'].label}
                ${form['last_name_kana']}
                (例：ヤマダ)
                ${h.error_list(request, form, 'last_name_kana')}
              </li>
              <li>
                ${form['first_name_kana'].label}
                ${form['first_name_kana']}
                (例：タロウ)
                ${h.error_list(request, form, 'first_name_kana')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">${form['email_1'].label}(半角英数)</th>
          <td>
            <ul>
              <li>
                ${form['email_1'].label(style=u'width:11em')}
                ${form['email_1'](style=u'width:20em')}
                (例：mail@example.ne.jp)
                ${h.error_list(request, form, 'email_1')}
              </li>
              <li>
                ${form['email_1_confirm'].label(style=u'width:11em')}
                ${form['email_1_confirm'](style=u'width:20em')}
                (例：mail@example.ne.jp)
                ${h.error_list(request, form, 'email_1_confirm')}
              </li>
            </ul>
            <p style="margin-left:10px; font-size:90%; color:#333;">${view_context.mail_filter_domain_notice}</p>
          </td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td>
            <ul>
              <li>${form['zip'].label}
                <% path = request.static_url('altair.app.ticketing.cart:static/js/zipdata') %>
                ${form['zip'](onKeyUp="AjaxZip3.zip2addr('" + path + "', 'zip','','prefecture','city','', 'address_1');")}
                (例: 1030001)
                ${h.error_list(request, form, 'zip')}
              </li>
              <li>${form['prefecture'].label}
                ${form['prefecture']}
                (例: 東京都)
                ${h.error_list(request, form, 'prefecture')}
              </li>
              <li>${form['city'].label}
                ${form['city']}
                (例: 中央区)
                ${h.error_list(request, form, 'city')}
              </li>
              <li>
                <label for="address_1">町名番地</label>
                ${form['address_1'](style=u'width:20em')}
                (例: 日本橋x-xx-xx)
                ${h.error_list(request, form, 'address_1')}
              </li>
              <li>
                <label for="address_2">建物名等</label>
                ${form['address_2'](style=u'width:20em')}
                (例: yyビルz階)
                ${h.error_list(request, form, 'address_2')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">電話番号(半角数字)</th>
          <td>
            <ul>
              <li>${form['tel_1'].label}
                ${form['tel_1']}
                (例: 080xxxxyyyy)
                ${h.error_list(request, form, 'tel_1')}
                % if has_orion:
                  <p id='orion-tel_1-notice' style="color: red; margin:0; ${'' if orion_checked else 'display:none;'|n}">
                    ※お受け取りになるスマートフォンの電話番号をご入力ください。
                  </p>
                % endif
              </li>
              <!-- <li>${form['fax'].label}
                   !--   ${form['fax']}
                   !--   ${h.error_list(request, form, 'fax')}
                   !-- </li> -->
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">生年月日<span class="notice-label"> ※必須</span></th>
          <td>
            ${form['birthday']}
            ${h.error_list(request, form, 'birthday')}
          </td>
        </tr>
        <tr>
          <th scope="row">${form['sex'].label}<span class="notice-label"> ※必須</span></th>
          <td>
            ${form['sex']}
            ${h.error_list(request, form, 'sex')}
          </td>
        </tr>
      </table>
      <!--
          </div>
  </div>
  -->
    </div>
  </div>

  % if review_password_form:
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/title_review_password.gif')}" alt="受付確認用パスワード" width="200" height="30" /></h2>
      <p style="color: red; padding-left:10px;">
      楽天会員以外でお申込みの場合、受付番号紛失の際に、<br/>
      こちらで入力したパスワードを使用して、ご自身で受付番号を調べることが可能です。<br/>
      紛失時は楽天チケットサイト内の「受付番号の確認ページ」をご活用ください。<br/>
      ※パスワードは8桁以上16桁以下の半角英数字がご利用いただけます。<br/>
      </p>
      <table id="confirmDelivery">
        <tr>
          <th scope="row">${review_password_form['review_password'].label}<span class="notice-label"> ※必須</span></th>
            <td>
            <ul>
              <li>
                ${review_password_form['review_password']}
                ${h.error_list(request, review_password_form, 'review_password')}
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  % endif

  <%
    # show_orion_inputはorion_ticket_phoneの入力フォームを表示するかどうか。下記２つのcheckを満たす場合は表示する
    # check 1: 取引方法の中でorionの引取方法があることかつorionの設定でphone_verify_disabledがfalse
    # check 2: check 1が満たす場合：check_number_of_phonesがfalseまたは選択された商品明細の数が2以上の場合
    show_orion_input = False
    if has_orion and is_phone_verify_disabled == 'false':
      if (performance.orion and not performance.orion.check_number_of_phones) or request.context.carted_product_item_count > 1:
        show_orion_input = True
  %>

  % if show_orion_input:
  <div id="orion-ticket-phone-info" class="confirmBox" ${'' if orion_checked else 'style="display:none;"'|n}>
    <div class="confirmBoxInner">
      <h2>アプリ受取追加情報</h2>
      <p style="color: red;">
        他の方にチケットを渡したい場合は、下記の入力フォームから他の方の電話番号を入力してください。<br/>
        チケットのお受け取りにはご購入時にご入力いただいた電話番号と楽天チケットアプリでご登録いただいた電話番号が一致する必要がございます。<br/>
        また、楽天チケットアプリの電話番号登録の際にはSMS認証が必要になりますので、SMSが受信できるスマートフォンの電話番号をご入力ください。
      </p>
      <table id="confirmEventGate">
        <tr>
          <th scope="row">譲渡先</th>
          <td>
            <ul id="orion-ticket-phone-list">
              <li id="orion-ticket-phone-template" style="display: none;">
                <label for="tmp-orion-ticket-phone">電話番号</label>
                <input type="text" id="tmp-orion-ticket-phone">　<button type="button" onclick="delete_orion_ticket_phone(this);">削除</button>
              </li>
              % if not orion_ticket_phone:
                <li>
                  <label for="orion-ticket-phone-1">電話番号1</label>
                  <input type="text" id="orion-ticket-phone-1" name="orion-ticket-phone" value="">
                  <%
                    if performance.orion and performance.orion.check_number_of_phones:
                      disabled = 'disabled="disabled"' if request.context.carted_product_item_count < 3 else ''
                    else:
                      disabled = 'disabled="disabled"' if request.context.carted_product_item_count < 2 else ''
                  %>
                  <button id="btn-add-orion-ticket-phone" type="button" onclick="add_orion_ticket_phone(this);" ${disabled|n}>追加</button>
                </li>
              % else:
                % for i, (phone, error) in enumerate(zip(orion_ticket_phone, orion_phone_errors)):
                  <li>
                    <label for="orion-ticket-phone-${i+1}">電話番号${i+1}</label>
                    <input type="text" id="orion-ticket-phone-${i+1}" name="orion-ticket-phone" value="${phone}">　
                    % if i == 0:
                    <% disabled = 'disabled="disabled"' if len(orion_ticket_phone) > request.context.carted_product_item_count - 1 else '' %>
                    <button id="btn-add-orion-ticket-phone" type="button" onclick="add_orion_ticket_phone(this);" ${disabled|n}>追加</button>
                    % else:
                    <button type="button" onclick="delete_orion_ticket_phone(this);">削除</button>
                    % endif
                    % if error:
                    <span class="error">${error}</span>
                    % endif
                  </li>
                % endfor
              % endif
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  % endif
  <script type="text/javascript">
    function pdmp(td, is_orion, is_phone_disabled) {
      $(td).parents("tr").find("input").prop("checked", true);
      % if has_orion:
      if (is_orion && is_phone_disabled === false) {
          $("#orion-ticket-phone-info").show();
          render_tel_1(is_orion_selected=is_orion);
      } else {
          var ul = $("#orion-ticket-phone-list"),
              // 一つ目のliがtemplateなので、電話番号1のliが二番目のli
              li = ul.children('li').eq(1).detach();
          ul.find("li").not("#orion-ticket-phone-template").remove();
          li.appendTo(ul);
          $("#orion-ticket-phone-info").hide();
          render_tel_1(is_orion_selected=is_orion);
      }
      % endif
    }
    % if has_orion:
    function add_orion_ticket_phone(button) {
        var index = $(button).parents("ul").find("li").length,
            li = $("#orion-ticket-phone-template").clone().removeAttr("id").removeAttr("style");
        render_num(index, li);
        li.show().appendTo($(button).parents("ul"));
        <%
          if (performance.orion and performance.orion.check_number_of_phones):
            orion_up_limit = request.context.carted_product_item_count - 2
          else:
            orion_up_limit = request.context.carted_product_item_count - 1
        %>
        if (index > parseInt(${orion_up_limit})) {
            $(button).prop("disabled", true);
        }
    }
    function delete_orion_ticket_phone(button) {
        $("#btn-add-orion-ticket-phone").prop("disabled", false);
        $(button).parent().remove();
        $("#orion-ticket-phone-list").find("li").each(function(index, li) {
            if (index !== 0) {
                render_num(index, $(li));
            }

        });
    }
    function render_num(index, li) {
        var label = "orion-ticket-phone-" + index;
        li.find("label").text("電話番号" + index)
                      .attr("for", label);
        li.find("input").attr("id", label)
                      .attr("name", "orion-ticket-phone");
    }
    function render_tel_1(is_orion_selected) {
        var tel_1 = $("#tel_1");
        if (is_orion_selected === true) {
            tel_1.attr("tel_data", tel_1.val());
            tel_1.val("");
            $("#orion-tel_1-notice").show();
        } else {
            if (tel_1.val() === "") {
                tel_1.val(tel_1.attr("tel_data"));
            }
            $("#orion-tel_1-notice").hide();
        }
    }
    % endif
  </script>
<p class="align2"><image onclick="$('#form1').submit()" src="${request.static_url('altair.app.ticketing.cart:static/RT/pc/images/btn_next.gif')}" alt="次へ" width="226" height="46" /></p>
</form>
% if request.organization.setting.sitecatalyst_use:
    <%include file="../common/sc_payment.html" />
% endif
<script type="text/javascript">
   window.onload = function(){
     let input = document.createElement("INPUT");
	 input.setAttribute("type","hidden");
	 input.setAttribute("name","rat");
	 input.setAttribute("id","ratCvEvent");
	 input.setAttribute("value","{'step3':1}");
	 document.getElementById('ratForm').appendChild(input);
   }
  </script>