<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">特定商取引法に基づく表示</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h2 class="glitter orange">特定商取引法に基づく表示</h2>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a href="#1">1. 特定商取引に関する法律」に基づく表記</a><br/>
        <a href="#2">2. お問い合わせ詳細</a><br/>
        <a href="#3">3. 申し込み方法詳細</a><br/>
        <a href="#4">4. キャンセルと払い戻しの方法詳細</a><br/>
        <a href="#5">5. 個人情報取り扱いについて(プライバシーポリシー)</a><br/>
    </div>
</div>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="1" id="1"><h3>1. 特定商取引に関する法律」に基づく表記</h3></a>
「KYODO ENTERTAINMENT」 （以下「本サービス」）では、「特定商取引に関する法律」第11条（通信販売についての広告）に基づき以下のとおり明示します。<br/><br/>
販売業者：	株式会社キョードー東北<br/>
代表責任者：	倉田哲伸<br/>
所在地：	〒980-0811<br/>
宮城県仙台市青葉区一番町4-6-1 仙台第一生命タワービルディング16F<br/>
連絡先：	022-217-7788<br/>
受付時間	月曜日～金曜日　10:00～19:00<br/>
土曜日　10:00～17:00<br/>
販売価格：	各商品ごとに掲載（本ホームページで販売しているチケットは、
全て消費税込の価格を表示しております）<br/>
商品以外の必要料金：	チケット発送手数料￥600<br/>
郵便局からの振込手数料はご負担下さい。<br/>
発送方法：	佐川急便による発送<br/>
引渡し方法：	佐川急便による発送<br/>
引き渡し時期：	チケットの発送は店頭発売日以降になります。<br/>
申込の有効期限：	チケット先行予約のページに掲載<br/>
商品の引渡し時期：	一般発売後から公演の１～2週間前<br/>
返品/交換の特約：	公演中止以外の返金・交換は一切受付致しませんのでご了承下さい。<br/>
        <a href="#top">▲上へ</a>
    </div>
</div>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="2" id="2"><h3>2. お問い合わせ詳細</h3></a>
チケットの予約/購入に関するお問い合わせは表記連絡先までお願いいたします。 お問い合わせの際には、
お申し込み時の、「お名前」「電話番号」「お申し込みの公演日、公演名、お申し込み枚数」、KCC会員の方は「KCC会員番号」を併せてお伝え下さい。
        <br/>
        <a href="#top">▲上へ</a>
    </div>
</div>

<div class="sectionbox">
    <div class="sectionbox-inner">
    <a name="3" id="3"><h3>3. 申し込み方法詳細</h3></a>
本サービスで、発売状況をご確認の上、表記郵便振替口座までチケット代金をお送り下さい。（注：日にちは振込み消印有効期限です）　会員予約の際に電話をかけていただく必要はありません。チケット代金の送金で予約申込みとなります。ただしKCC受付欄に「tel後～」と入っているものは必ず事前に電話をして下さい。またお申し込みできる枚数は公演毎に異なります。
        <br/>
        <a href="#top">▲上へ</a>
  </div>
</div>

<div class="sectionbox">
    <div class="sectionbox-inner">
    <a name="4" id="4"><h3>4. キャンセルと払い戻しの方法詳細</h3></a>
公演中止以外の返金・交換は一切受付致しません。お客様の都合によるお申し込み後の商品変更・ご注文の取り消しはできませんのでご了承下さい。<br/><br/>
※ 不可抗力による公演中止の場合等は、主催者の決定と弊社への委託に基づき所定の期間内に限り原則としてキョードー東北での郵送による払い戻しを行います。但し、チケットを破損・紛失したり、甚だしく汚損し判別しがたい場合、一切払い戻しは致しません。<br/><br/>
○受付期間：	公演により異なる(指定期間必着)<br/>
○払戻し方法：	下記まで「配達記録」にてご返送下さい。<br/>
〒980-0811　宮城県仙台市青葉区一番町4-6-1 仙台第一生命タワービルディング16F<br/>
株式会社キョードー東北<br/>
※手続き終了後郵便振替払出証書にて返金いたします（3～4週間ほどお時間をいただく場合がございます）。<br/>
※払い戻しはチケット料金のみが対象です。<br/>
    <a href="#top">▲上へ</a>
    </div>
</div>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="5" id="5"><h3>5. 個人情報取り扱いについて(プライバシーポリシー)</h3></a>
キョードー東北（以下「弊社」といいます）がお客様の個人情報を収集する目的、その情報の利用方法、および第三者への情報の開示・提供等における個人情報の取り扱いを下記に示します。
<br/><br/>
（１）	お客様本人の個人情報の確認として必要に応じてお客様本人の個人情報をお伺いする場合。
またお客様本人の同意を得た場合。<br/>
（２）	弊社からのイベント情報などを電子メールで、お客様に提供する場合。<br/>
（３）	お客さまの個人情報の集計である統計情報をサービス向上等の目的のため、個人が特定出来ない情報として使用する場合。<br/>
        <a href="#top">▲上へ</a>
    </div>
</div>

