<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">運営会社</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h3>STEP1 ご希望の公演日時を選択</h3>
<div align="center">
<img src="//tstar.s3.amazonaws.com/usersite/static/KT/images/step1.png" width="100%">
</div>
<p>画面の表示にしたがい、ご希望の公演日時を選択してください。画面の表示にしたがい、ご希望の公演日時を選択してください。</p>

<h3>STEP2 ご希望の席種・枚数を選択</h3>
<div align="center">
<img src="//tstar.s3.amazonaws.com/usersite/static/KT/images/step2.png" width="100%">
</div>
<p>ご希望の席種を選択し、枚数を選択して、購入ボタンを押してください。</p>

<h3>STEP3 決済・引取方法を選択し、お客様情報を入力</h3>
<div align="center">
<img src="//tstar.s3.amazonaws.com/usersite/static/KT/images/step3.png" width="100%">
</div>
<p>※クレジットカードでお支払いの場合、カード入力の画面に移動します。<br>
<font color="red">※決済・引取方法によって手数料が異なります。詳細は購入画面にてご確認ください。</font><br>
<font color="red">※購入途中で、お客様の楽天スーパーポイント口座を入力する画面があります。ポイント付与を希望される場合は、忘れずにご登録ください。</font></p>

<h3>STEP4 楽天スーパーポイントのポイント口座番号を入力</h3>
<div align="center">
<img src="//tstar.s3.amazonaws.com/usersite/static/KT/images/step4.png" width="100%">
</div>
<p>
  楽天スーパーポイントアカウントを持ちの方はポイント口座番号を入力してください。<br>
  (省略可能です)
</p>

<h3>STEP5 購入完了！</h3>
<div align="center">
<img src="//tstar.s3.amazonaws.com/usersite/static/KT/images/step5.png" width="100%">
</div>
<p>購入完了後、受付番号が画面に表示されます。必ずメモをお願いします。<br>
また、ご登録のメールアドレスへ購入完了メールを自動配信しております。<br>
※@tstar.jp/@ticketstar.jp からのメールが受信できるよう、事前のドメイン指定をお願いします。<br>
<font color="red">※ご購入内容はページ上の【購入確認】にてご確認いただけます。</font>
</p>

<h3>STEP6 チケットをお受取</h3>
<div align="center">
<img src="//tstar.s3.amazonaws.com/usersite/static/KT/images/step6.png" width="100%">
</div>
<p>選択された受け取り方法でのチケットの引取りとなります。</p>


