<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'抽選一覧'],
      urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h1>抽選一覧</h1>
</div>

<%def name="lots_table(lots)">
%if lots:
<table class="table">
  <tr>
    <th style="width: 35em">イベント名</th>
    <th style="width: 35em">抽選名</th>
    <th style="width: 20em">申込期間</th>
    <th style="width: 15em">当選結果発表予定日</th>
    <th style="width: 5em">申込URL</th>
    <th style="width: 5em">レポート</th>
    <th style="width: 7em">状態</th>
  </tr>
  %for lot in lots:
  <tr>
    <td>${lot.event.title}</td>
    <td><a href="${request.route_url('lots.show', lot_id=lot.id)}">${lot.name}</a></td>
    <td nowrap="">${vh.datetime(lot.sales_segment.start_at, with_weekday=True)} - ${vh.datetime(lot.sales_segment.end_at, with_weekday=True)}</td>
    <td nowrap="">${h.announce_time_label(lot)}</td>
    <td><a href="${eh.lots_cart_url(request, lot.event.id, lot.id)}">申込URL</a></td>
    <td><a href="${request.route_url('lots.entries.index', lot_id=lot.id)}">レポート</a></td>
    <td>${view.lot_status(lot)}</td>
  </tr>
  %endfor
</table>
%else:
なし
%endif
</%def>

<div>
  <h3>公開中</h3>
  ${self.lots_table(lots)}
</div>
<hr/>
<div>
  <h3>公開予定</h3>
  ${self.lots_table(post_lots)}
</div>
<hr/>
<div>
  <h3>公開終了</h3>
  ${self.lots_table(past_lots)}
</div>
