<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<%
from altair.app.ticketing.cart.helpers import format_currency
%>
<div class="page-header">
<h1>抽選申込一覧</h1>
</div>

<%def name="lot_entries_table(entries)">
%if entries:
${entries.pager()}
<table class="table">
<tr>
  <th>申込番号</th>
  <th>申込日時</th>
  <th>氏名</th>
  <th>メールアドレス1</th>
  <th>メールアドレス2</th>
  <th>電話番号1</th>
  <th>電話番号2</th>
  <th>イベント・抽選名</th>
  <th>住所</th>
</tr>
%for entry in entries:
<tr>
  <td><a href="${request.route_path('lots.entries.show', lot_id=entry.lot_id, entry_no=entry.entry_no)}">${entry.entry_no}</a></td>
  <td>${entry.created_at}</td>
  <td>${entry.shipping_address_last_name} ${entry.shipping_address_first_name}</td>
  <td>${entry.shipping_address_email_1}</td>
  <td>${entry.shipping_address_email_2 or ''}</td>
  <td>${entry.shipping_address_tel_1}</td>
  <td>${entry.shipping_address_tel_2 or ''}</td>
  <td>${entry.event_title}/${entry.lot_name}</td>
  <td>${entry.shipping_address_prefecture}
    ${entry.shipping_address_city}
    ${entry.shipping_address_address_1}
    ${entry.shipping_address_address_2}
  </td>
</tr>
%endfor
</table>
%else:
なし
%endif
</%def>

<div>
<h2>検索条件</h2>
<div>
  <form action="${request.url}" method="get">
    <fieldset>
      <legend>購入者情報</legend>
      <table>
	<tbody>
          <tr>
            <th><label for="entry_no">${form.entry_no.label.text}</label></th>
            <td>${form.entry_no(maxlength=12)}</td>
	  </tr>
          <tr>
            <th><label for="tel">${form.tel.label.text}</label></th>
            <td>${form.tel(maxlength=255)}</td>
	  </tr>
          <tr>
            <th><label for="name">${form.name.label.text}</label></th>
            <td>${form.name(maxlength=255)}</td>
	  </tr>
          <tr>
            <th><label for="email">${form.email.label.text}</label></th>
            <td>${form.email(maxlength=255)}</td>
	  </tr>
          <tr>
            <th><label>${form.entried_from.label.text}</label></th>
            <td>
              ${form.entried_from()} 〜
              ${form.entried_to()}
            </td>
          </tr>
	</tbody>
      </table>
      <legend>イベント抽選情報</legend>
      <table>
	<tbody>
          <tr>
            <th><label for="lot">${form.lot.label.text}</label></th>
            <td>${form.lot()}</td>
	  </tr>
	</tbody>
      </table>
    </fieldset>
    <div>
      <button type="submit" name="search">検索</button>
    </div>
  </form>
</div>

<div>
<h2>検索結果</h2>
${count}件
${self.lot_entries_table(entries)}
</div>
