<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'オペレーター', u'権限'],
      urls=[request.route_path('index'), request.route_path('operators.index')]
  )}
</div>

<div class="page-header">
  <h1>権限</h1>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>route_name</th>
    <th>permission</th>
  </tr>
  </thead>
  <tbody>
  <%
    from pyramid.threadlocal import get_current_registry
    registry = get_current_registry()
    route_permission = registry.route_permission if hasattr(registry, 'route_permission') else None
  %>
  % for route_name in sorted(route_permission.keys()):
  <tr>
    <td>${route_name}</td>
    % if not route_permission[route_name]:
    <td style="background-color: #DA4F49;">
    % else:
    <td>
    % endif
      ${route_permission[route_name] or u'未設定'}
    </td>
  </tr>
  % endfor
  </tbody>
</table>
