<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'権限'],
      urls=[request.route_path('index')]
  )}
</div>

<div class="page-header">
  <h1>権限</h1>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Permissions</th>
    <td>permit</td>
  </tr>
  </thead>
  <tbody>
  %for permission in permissions:
  <tr>
    <td>${permission.category_name}</td>
    <td>${permission.permit}</td>
  </tr>
  %endfor
  </tbody>
</table>
