<%inherit file="/89ers/commons/layout_mobile.html"/>
<%namespace file="/89ers/commons/tags_mobile.html" name="mobile" />
<form method="post" action="${request.route_path('order_review.show')}">
<%mobile:form_header required="true">受付番号</%mobile:form_header>
<div>
${form.order_no(size="12", istyle="3")}<br />
${h.error('order_no')}
</div>
<%mobile:form_header required="true">電話番号</%mobile:form_header>
<div>
<div>
${form.tel(size="12", istyle="4")}<br>
${h.error('tel')}
電話番号は、ご登録時の電話番号をご入力ください（携帯・自宅をどちらもご登録した場合、どちらの番号でも構いません）<br />
</div>
</div>
<input type="submit" value="次に進む" />
</form>
