<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">運営会社</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h2 class="glitter red">お知らせ</h2>

<div class="sectionbox">
    <div class="sectionbox-inner">
お客様各位<p/>
<br/>
日頃より、レジャーチケットをご利用いただきまして誠にありがとうございます。<br/>
レジャーチケットでは、より快適にご利用いただくために、下記の通りメンテナンスを実施させていただきます。<br/>
メンテナンス作業中は、レジャーチケットのサービスがご利用頂けません。<br/>
お客様にはご不便をおかけいたしますが、何卒ご理解いただきますようお願い申し上げます。<p/>
<br/>

【日時】  2013年8月18日（日）　0:00　から　6:00（予定）<br/>
    </div>
</div>
