<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">公演中止</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h2 class="glitter red">メンテナンスのお知らせ</h2>
<div>お客様各位</div><br/>

<div>
日頃より、レジャーチケットをご利用いただきまして誠にありがとうございます。<br/>
レジャーチケットでは、より快適にご利用いただくために、下記の通りメンテナンスを実施させていただきます。<br/>
メンテナンス作業中は、レジャーチケットのサービスがご利用頂けません。<br/>
お客様にはご不便をおかけいたしますが、何卒ご理解いただきますようお願い申し上げます。
</div><br/>

<div>
【日時】 2014年3月16日5時15分 から 2014年3月16日8時00分（予定）
</div>
