<%inherit file="altair.app.ticketing:templates/layout_2cols.html" />
<%namespace file="altair.app.ticketing:templates/common/helpers.html" name="ch" />
<% from altair.app.ticketing.cart.models import CartSetting %>
<h3>カート設定</h3>
<div class="alert alert-warning">
  <b>
    <p class="text-error">カート設定を変更すると、変更したカート設定を利用しているイベントすべてに影響します。ご注意ください。</p>
  </b>
</div>

<button id="newItem" class="btn"><i class="icon icon-plus"></i>新規カート設定</button>
<form id="newItemModal" class="modal hide" method="GET" action="${request.route_path('cart_setting.new')}">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>新規カート設定</h3>
  </div>

  <div class="modal-body">
    <label for="cart_setting_id">元にするカート設定</label>
    <select name="cart_setting_id" id="cart_setting_id">
    % for item in items:
      <option value="${item['cart_setting'].id}">${item['cart_setting'].name or u'(名称なし)'}</option>
    % endfor
    </select>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <input type="submit" class="btn" value="保存" />
  </div>
</form>
<script type="text/javascript">
$(function () {
$('#newItem').on('click', function () {
  $('#newItemModal').on('submit', function () { $(this).modal('hide'); }).modal('toggle');
});
});
</script>
<br/>
<br/>
<% from altair.app.ticketing.events import VISIBLE_CART_SETTING_SESSION_KEY %>
% if request.session.get(VISIBLE_CART_SETTING_SESSION_KEY, None):
  <a href="${request.route_path('cart_setting.invisible')}">非表示のカート設定を表示しない</a>
% else:
  <a href="${request.route_path('cart_setting.visible')}">非表示のカート設定を表示する</a>
% endif
<table class="table">
  <thead>
    <tr>
      <th>${HH.label_text_for(CartSetting.name)}</th>
      <th>${HH.label_text_for(CartSetting.display_order)}</th>
      <th>${HH.label_text_for(CartSetting.auth_type)}</th>
      <th>${HH.label_text_for(CartSetting.type)}</th>
      <th>関連するイベント</th>
    </tr>
  </thead>
  <tbody>
    % for item in items:
    <tr>
      <td><a href="${request.route_path('cart_setting.edit', cart_setting_id=item['cart_setting'].id)}">${item['cart_setting'].name or u'(名称なし)'}</a></td>
      <td>${item['cart_setting'].display_order}</td>
      <td>${view.auth_type_name(item['cart_setting'].auth_type)}</td>
      <td>${view.cart_setting_type(item['cart_setting'])}</td>
      <td>
        <ul>
        % for event in item['relevant_events']:
          <li><a href="${request.route_path('events.show', event_id=event.id)}">${event.title}</a></li>
        % endfor
        </ul>
        % if item['relevant_events_count'] > len(item['relevant_events']):
          (他${item['relevant_events_count'] - len(item['relevant_events'])}件)
        % endif
      </td>
    </tr>
    % endfor
  </tbody>
</table>
