<%page args="pm"/>
<tr>
  <td>${layout.team_name}からのメールマガジンの配信	</td>
  <td class="textR">${u'希望する' if int(pm['extra']['mail_permission']) else u'希望しない'}</td>
</tr>
% if 'publicity' in pm['extra']:
<tr>
  <td>メモリアルブックへの掲載希望</td>
  <td class="textR">${u'はい' if pm['extra']['publicity'] == 'yes' else u'いいえ'}</td>
</tr>
% endif
% if 'motivation' in pm['extra']:
<tr>
  <td>ブースタークラブに入会しようと思ったきっかけは？</td>
  <td class="textR">${pm['extra']['motivation']}</td>
</tr>
% endif
% if 'num_times_at_venue' in pm['extra']:
<tr>
  <td>昨シーズンの会場での観戦回数</td>
  <td class="textR">${pm['extra']['num_times_at_venue']}回</td>
</tr>
% endif
