<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'membership'],
      urls=[request.route_path('index'), request.route_path('memberships',action="index",membership_id="*")]
  )}
</div>

<div class="page-header">
  <h3>membership詳細</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<div>
  <a href="${request.route_path('memberships',action="edit", membership_id=membership.id)}" class="btn">編集</a>
  <a href="#" class="btn">削除</a>
</div>

<%include file="/memberships/_detail.html" args="form=form, membership=membership" />

<hr />

<div class="page-header">
<h3>membershipに結びついているMemberGroup</h3>
</div>

<div class="row-fluid">
  <div class="span12">
  <%include file="/memberships/groups/_list.html" args="member_groups=membergroups, form=form_mg" />
  <%include file="/memberships/groups/_action_button.html" args="membership=membership,order=None,redirect_to=redirect_to" />
  </div>
</div>
