<%inherit file="${context['main_template'].uri}" />
<div class="settlementBox">
  <div class="settlementBoxInner">
    <h2><img src="${request.static_url('altair.app.ticketing.lots:static/NR/pc/img/settlement/title_review.gif')}" alt="申込状況確認" /></h2>
    <div class="settlementSelectBox">
      <div class="settlementSelectBoxInner02">
        <form action="${request.url}" class="bigform" method="post">
          <table>
            <tr>
              <th>${form['entry_no'].label}</th>
              <td>
                ${form['entry_no'](class_="text")}（例：NR00000000AB）
                ${self.error(form, 'entry_no', enclose=True)}
              </td>
            </tr>
            <tr>
              <th>${form['tel_no'].label}</th>
              <td>
                ${form['tel_no'](class_="text")}（例：080xxxxvvvv）
                ${self.error(form, 'tel_no', enclose=True)}
              </td>
            </tr>
          </table>
          <div style="text-align: center; margin-top: 10px;">
            <input type="image" src="${request.static_url('altair.app.ticketing.lots:static/NR/pc/img/order/btn_review.gif')}" width="225" height="46" value="確認" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
