:root {
    --custom-btn-color: #5a5a5a;    /* buttons  */
    --custom-color: #333333;        /* fonts  */
    --custom-border-color: #5a5a5a;     /* border  */
    --custom-background-color: #333333;     /* background  */
    --custom-default-color: #333333;
    --custom-light-color: #ccc;
    --custom-dark-color: #fff;
}

/* buttons color ボタン
-------------------------------------------- */
.btn-buy {
    background-color: var(--custom-btn-color) !important;
}
.btn-close {
    background-color: var(--custom-btn-color) !important;
}
.align2 {
    background-color: var(--custom-btn-color) !important;
}
.btn-primary {
    background-color: var(--custom-btn-color) !important;
}
#selectSeat.focused .btn-select-seat {
    background-color: var(--custom-btn-color) !important;
}
#selectSeat.focused .btn-cancel {
    background-color: var(--custom-btn-color) !important;
}
#selectSeatType ul.buttonSet li a {
    background-color: var(--custom-btn-color) !important;
}
/* heading color 見出し
-------------------------------------------- */
#main h1 {
    background-color: var(--custom-background-color) !important;
}
#main h2 {
    color: var(--custom-color) !important;
    border-color: var(--custom-border-color) !important;
}

.confirmBox h2 {
    color: var(--custom-color) !important;
    border-color: var(--custom-border-color) !important;
}

.attention1 {
	color: var(--custom-color) !important;
}

.settlementPayBox dt {
    color: var(--custom-color) !important;
}

.settlementPayBox dd .deliveryFee,
.settlementPayBox dd .paymentFee {
    color: var(--custom-color) !important;
}

.settlementPayBox dd dl dd .paymentFee {
    color: var(--custom-color) !important;
}

.settlementDeliveryInput th {
    color: var(--custom-color) !important;
}

.settlementInterest h2 {
    background-color: var(--custom-background-color) !important;
}

/* navi step bar
-------------------------------------------- */
.nav-stepbar ol li {
    background: var(--custom-light-color);
    color: var(--custom-dark-color);
}

.nav-stepbar ol li:after {
    border-left: 10px solid var(--custom-light-color);
}

.nav-stepbar ol li.current {
    background: var(--custom-default-color);
}

.nav-stepbar ol li.current:after {
    border-left: 10px solid var(--custom-default-color);
}