/* some styling for triggers */

div.selected {
	/* border-style: groove;
	 * boder-width: 5px;
	 * border-color: blue;
     */
    background-color: #ccc;
}

img.managed {
    border-style: solid;
	border-width: 5px;
	border-color: orange;
}

img.selected {
    border-style: solid;
	border-width: 5px;
	border-color: #ccc;
}

.dropped-widget .close, .dropped-widget .edit {
    visibility: hidden;;
}

.selected .close, .selected .edit {
    visibility: visible;
}

#triggers {
	text-align:center;
}

/* styling for elements inside overlay */
.details {
	position:absolute;
	top:15px;
	right:15px;
	font-size:11px;
	color:#fff;
	width:150px;
}

.details h3 {
	color:#aba;
	font-size:15px;
	margin:0 0 -10px 0;
}

#chibi_wrapper{
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #aaa;
	-webkit-box-shadow: 0 0 90px #777;	
}

.simple_overlay > div{
	margin-left: 20px;
	margin-top: 20px;
}

.simple_overlay h1{
    color:#fff
}
.simple_overlay .selected{
    background-color: #ff0000;
}

#chibi_wrapper {
    margin: 20px;
}

.float-left {
    float: left;
}

.widget {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.dropped-widget {
    /* width: 70px; */
    height: 50px;
    margin: 10px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none;}

.simple_overlay {
	width:675px;	
}
