<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href=${request.static_url('altaircms:static/smartphone/css/jquery-ui-1.9.2.custom.min.css')} rel="stylesheet">
<script src=${request.static_url('altaircms:static/smartphone/js/jquery-1.9.1.min.js')}></script>
<script src=${request.static_url('altaircms:static/smartphone/js/jquery-ui-1.9.2.custom.min.js')}></script>
<script src=${request.static_url('altaircms:static/smartphone/js/flipsnap.min.js')}></script>
<style type="text/css">
@import url(${request.static_url('altaircms:static/smartphone/css/default.css')});
</style>
<title>楽天チケット-<%block name="title" /></title>
</head>
<body>
<img src="${request.static_url('altaircms:static/RT/img/renewal/logo.gif')}" />
PC版へ
<div class="page">
${self.body()}
</div>
<hr />
<%block name="fnavi" />
<%include file="_footer.html"/>
