<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src=${request.static_url('altaircms:static/smartphone/js/jquery-1.9.1.min.js')}></script>
<style type="text/css">
@import url(${request.static_url('altaircms:static/smartphone/css/default.css')});
</style>
<title>楽天チケット-<%block name="title" /></title>
</head>
<body>
<div align="center" style="text-align:center">
<img src="${request.static_url('altaircms:static/mobile/logo.jpg')}" /><br />
<div style="background-image:url(${request.static_url('altaircms:static/mobile/bg_bar.gif')});background-color:#cc0000;" bgcolor="#cc0000"><font color="white">${self.title()}</font></div>
</div>
${self.body()}
<hr />
<%block name="fnavi" />
<%include file="_footer.html"/>
