<ul class="buttonset _4cols">
  <a href="https://grp01.id.rakuten.co.jp/rms/nid/registfwd?service_id=top"><li><button class="embedded first icon-r"><i class="icon rlogo"></i>会員登録</button></li></a>
  <a href="${request.route_path('smartphone.page', kind='orderreview')}"><li><button class="embedded"><i class="icon orderreview"></i>購入履歴</button></li></a>
  <a href="http://emagazine.rakuten.co.jp/#122"><li><button class="embedded"><i class="icon mailmag"></i>メルマガ登録</button></li></a>
  <a href="${request.route_path('smartphone.page',kind='canceled')}"><li><button class="embedded"><i class="icon okng"></i>公演中止情報</button></li></a>
</ul>
