:root {
    --custom-btn-color: #E8240C;    /* buttons ボタン */
    --custom-color: #E8240C;        /* fonts 文字 */
    --custom-border-color: #E8240C;     /* border 罫線（divなど） */
    --custom-background-color: #E8240C;     /* background 背景（divなど） */
}

/* buttons color ボタン
-------------------------------------------- */
.btn-primary,
.qr-btn {
    background-color: var(--custom-btn-color) !important;
}

/* heading color 見出し
-------------------------------------------- */
.heading-primary {
    background-color: var(--custom-background-color) !important;
}