<!-- footer -->
<footer>
  <div class="wrap clearfix">
    <div class="box">
      <p class="for-sp-img">
        <img src="//tstar.s3.amazonaws.com/asset/vissel/2014-03-06/c887e7171e7342d2916ffb7b08f4501e.png" alt="ヴィッセル"/>
      </p>
    </div>
    <div class="box">
      <nav class="nav-footer">
        <ul class="clearfix">
          <li><a href="//www.ticketstar.jp/corporate/" target="_blank">${_(u'運営会社')}</a></li>
          <li><a href="//vissel.tstar.jp/agreement" target="_blank">${_(u'利用規約')}</a></li>
          <li><a href="${h.safe_get_contact_url(request)}" target="_blank">${_(u'お問い合わせ')}</a></li>
          <li><a href="//www.ticketstar.jp/privacy/" target="_blank">${_(u'個人情報保護方針')}</a></li>
          <li><a href="//vissel.tstar.jp/cancel" target="_blank">${_(u'キャンセルポリシー')}</a></li>
          <li><a href="//vissel.tstar.jp/legal" target="_blank">${_(u'特定商取引法に基づく表示')}</a></li>
        </ul>
      </nav>
      <p class="copyright">© TicketStar Inc. All Rights Reserved.</p>
    </div>
  </div>
</footer>