<div class="btn-group">
  <a href="${request.route_path(modelname+"_create",action="input", _query=_query)}" class="btn">
     ${modeljname}を新規作成
  </a>
    <a href="${request.route_path(modelname+"_update",action="input",id=obj.id, _query=_query)}" class="btn">
     ${modeljname}を編集
  </a>
      <a href="${request.route_path(modelname+"_create",action="copied_input", _query=_query)}" class="btn">
     コピーして${modeljname}を新規作成
  </a>
    <%
      delete_params = _query.copy()
      if "delete_endpoint" in _query:
          delete_params["endpoint"] = _query["delete_endpoint"]
       %>
    <a href="${request.route_path(modelname+"_delete",action="confirm",id=obj.id, _query=delete_params)}" class="btn">
    ${modeljname}を削除
    </a>
</div>

