<div class="btn-group">
  <a href="${request.route_path(modelname+"_update",action="input",id=obj.id, _query=_query)}" class="btn">
    <i class="icon-pencil"></i> 編集
  </a>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="${request.route_path(modelname+"_update",action="input",id=obj.id, _query=_query)}">
        <i class="icon-minus"></i> 編集
      </a>
    </li>
    <li>
      <a href="${request.route_path(modelname+"_create",action="input", _query=_query)}">
        <i class="icon-minus"></i> 新規作成
      </a>
    </li>
    <li>
      <a href="${request.route_path(modelname+"_delete",action="confirm",id=obj.id, _query=_query)}">
        <i class="icon-minus"></i> 削除
      </a>
    </li>
  </ul>
</div>
