<html>
<head>
</head>
<body>

${event.title} <br />
${performance.name} <br />
${performance.start_on.strftime(u"%Y年%m月%d(%a) %H:%M-".encode('utf-8')).decode('utf-8')} <br />
${performance.venue.name} <br />
${product.name} <br />

<form method="get" action="${request.route_path('order_review.qr', ticket_id=ticket.id, sign=sign)}" target="_blank">
<input type="submit" value="以下の注意事項に同意してQRチケットを取得" />
</form>

※携帯電話からご利用の方は、ボタンを押した後で表示される画面を「画面メモ」等にて保存してください。<br />
※QRチケットの取得・管理に関しては、お客様ご自身の責任でお願いいたします。<br />
※QRチケットの転送間違い、お渡し間違い等に起因するトラブル等にはご対応いたしかねますのでご注意ください。<br />

</body>
</html>
