<!-- footer -->
<footer class="ts-footer">
  <div class="ts-footer-inner">
    <div class="ts-footer-wrap">
      <nav>
        <ul class="ts-footer-nav">
          <li><a href="https://www.pluswin.net/about" target="_blank">${__(u'運営会社')}</a></li>
          <li><a href="https://www.pluswin.net/contact" target="_blank">${__(u'お問い合わせ')}</a></li>
          <li><a href="https://pluswin.tstar.jp/privacy.html" target="_blank">${__(u'プライバシーポリシー')}</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>