<%namespace file="../common/tags_smartphone.html" name="m" />

<div class="sectionbox inverted" id="search">
    <form class="sectionbox-inner" action="${request.route_path('search_genre')}" method="GET">
        ${form.word}
        ${form.sale}
        <input type="submit" class="btn-secondary" value="検索"/><a href="${request.route_path('init_detail')}">もっと詳しく</a>
        <br/>
        % for error in form.word.errors:
            <font color="red">${error}</font><br/>
        % endfor
    </form>
</div>
