<%namespace file="../common/tags_smartphone.html" name="m" />

<div id="search" style="background-color: pink">
    検索フォーム
    <form action="${request.route_path('search')}" method='GET'>
        <fieldset>
            ${form.word}
            ${form.sale}<br/>${form.page}
            % for error in form.word.errors:
                <font color="red">${error}</font><br/>
            % endfor
            <input type="submit" value="検索"/><a href="${request.route_path('search_detail')}">もっと詳しく</a>
        </fieldset>
    </form>
</div>
