<%def name="actions(product, product_item=None)">
<%
  action_dict = {}
  if product:
    if product_item:
      action_dict.update({
        'edit_all':dict(
          label=u'編集',
          url='javascript:edit_product({0}, {1});'.format(product.id, product_item.id),
          icon='icon-pencil',
        ),
      })

    action_dict.update({
      'edit':dict(
        label=u'商品編集',
        url='javascript:edit_product({});'.format(product.id),
        icon='icon-pencil',
      ),
      'delete':dict(
        label=u'商品削除',
        url='javascript:delete_product({});'.format(product.id),
        icon='icon-minus',
      ),
      'new_item':dict(
        label=u'商品明細追加',
        url='javascript:new_product_item({});'.format(product.id),
        icon='icon-plus',
      ),
    })
  if product_item:
    action_dict.update({
      'edit_item':dict(
        label=u'商品明細編集',
        url='javascript:edit_product_item({});'.format(product_item.id),
        icon='icon-pencil',
      ),
      'delete_item':dict(
        label=u'商品明細削除',
        url='javascript:delete_product_item({});'.format(product_item.id),
        icon='icon-minus',
      ),
      'preview':dict(
        label=u'券面プレビュー',
        url='javascript:preview_ticket({});'.format(product_item.id),
        icon='icon-eye-open'
      ),
      'edit_external_serial_code_setting':dict(
        label=u'シリアルコード設定',
        url='javascript:edit_external_serial_code_setting({});'.format(product_item.id),
        icon='icon-plus',
      ),
    })
  return action_dict
%>
</%def>
