<%page args="form, form_product" />
<%namespace file="/common/helpers.html" name="ch" />
<form action="${request.url}" method="POST" class="form-horizontal">
  <fieldset>
    <table class="table table-bordered">
      <tr>
        <th>${form_product.name.label.text}</th>
        <td>${form_product.name.data}</td>
      </tr>
      <tr>
        <th>${form_product.price.label.text}</th>
        <td>${vh.price(form_product.price.data or 0)}</td>
      </tr>
      <tr>
        <th>${form_product.sales_segment_id.label.text}</th>
        <td>
          % for choice in form_product.sales_segment_id.choices:
            % if choice[0] == form_product.sales_segment_id.data:
              ${choice[1]}
            % endif
          % endfor
        </td>
      </tr>
    </table>
    ${ch.form_item(form.product_item_id)}
    ${ch.form_item(form.product_id)}
    ${ch.form_item(form.stock_holder_id)}
    ${ch.form_item(form.stock_type_id)}
    ${ch.form_item(form.product_item_name)}
    ${ch.form_item(form.product_item_price)}
    ${ch.form_item(form.product_item_quantity)}
    ${ch.form_item(form.ticket_bundle_id)}
    ${ch.form_item(form.external_serial_code_setting_id)}
    % if len(form.skidata_property.choices) > 0:
    ${ch.form_item(form.skidata_property)}
    % endif
  </fieldset>
</form>

<script type="text/javascript">
$(function() {
  var tb = $('select[name="ticket_bundle_id"]');
  if (tb.find('option').length <= 2 && tb.find('option:selected').val() == "") {
    tb.val(tb.find('option:not(option:selected)').val());
  }
});
</script>
