<%page args="event" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function show_product() {
    var id = get_id('product_id');
    if (!id) return;
    $(location).attr('href', '/products/show/' + id);
  }
  function new_product() {
    $('#modal-product').modal('toggle');
  }
  function edit_product(id) {
    id = id || get_id('product_id');
    if (!id) return;
    var el = '#product-' + id;
    $('#modal-product #id').val($(el + ' #id').text());
    $('#modal-product #name').val($(el + ' #name').text());
    $('#modal-product #price').val($(el + ' #price').attr('value'));
    $('#modal-product #sales_segment').val($(el + ' #sales_segment').attr('value'));
    $('#modal-product').modal('toggle');
  }
  function delete_product() {
    var id = get_id('product_id');
    if (!id) return;
    $('#modal-delete #delete').attr('href', '/products/delete/' + id);
    $('#modal-delete #message').text('選択した商品を削除します。よろしいですか？');
    $('#modal-delete').modal('toggle');
  }
  function save_product() {
    var id = $('#modal-product #id').val();
    var url = id ? '/products/edit/' + id : '/products/new';
    var param = {};
    $('#modal-product :input').each(function(i, v) {
      param[v.name] = v.value;
    });
    $.post(
        url,
        param,
        function(data, status, xhr) {
          $('#modal-product').modal('hide');
          $('#products-form').html(data);
          $('#modal-product').modal('show');
        },
        "html"
    );
  }
</script>

<div class="btn-group">
  <a href="javascript:new_product();" class="btn">
    <i class="icon-plus"></i> 新規
  </a>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="javascript:show_product();">
        <i class="icon-th-list"></i> 詳細
      </a>
    </li>
    <li>
      <a href="javascript:edit_product();">
        <i class="icon-pencil"></i> 編集
      </a>
    </li>
    <li>
      <a href="javascript:delete_product()" data-controls-modal="modal-delete" data-backdrop="true" data-keyboard="true">
        <i class="icon-minus"></i> 削除
      </a>
    </li>
  </ul>
</div>

${delete_modal()}
