<%page args="form" />

<script type="text/javascript">
  $(function() {
    $("#modal-product input[type='checkbox']").on("change", function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    })
  });
</script>

<div id="modal-product" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <div class="modal-body">
    <form action="javascript:save_product();" method="POST">
      <%include file="/products/__edit_form.html" args="form=form" />
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="$('#modal-product').find('form').submit();" class="btn">保存</a>
  </div>
</div>
