<%page args="form" />
<%namespace file="/common/helpers.html" import="form_item" />

<div id="modal-product" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <form action="javascript:save_product();" method="POST">
    <div class="modal-body">
      <fieldset>
        ${form_item(form.id)}
        ${form_item(form.event_id)}
        ${form_item(form.name, option={'class':'span3', 'maxlength':255})}
        ${form_item(form.price, option={'class':'span3'})}
        ${form_item(form.sales_segment_id, option={'class':'span3'})}
      </fieldset>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <input class="btn" type="submit" value="保存"></a>
    </div>
  </form>
</div>
