<div class="modal fade" id="modal-sales_segment-new">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>新規販売条件</h3>
  </div>
  <form id="sales_segment_form" action="${request.route_path('products.json.new')}">
    <div class="modal-body">
      <label>販売条件名</label>
      <input id="segment_name" type="text" class="span3 validate[required,email]" placeholder="先行/一般" value="" >
      <label>期間</label>
       <input id="segment_start_on" type="text" class="span3 validate[required] text-input datepicker" placeholder="2012-07-01 09:00" value="">
       〜<input id="segment_end_on" type="text" class="span3 validate[required] text-input datepicker" placeholder="2012-07-07 18:00" value="">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <a href="#" id="segment_save" class="btn btn-primary">保存</a>
    </div>
  </form>
</div>

<script type="text/javascript">
$(function() {
  var date_format = {dateFormat:'yy-mm-dd', timeFormat:'hh:mm'};
  $("#sales_segment_form").validationEngine('attach', {promptPosition : "centerRight", scroll: false});
  $('.datepicker').datetimepicker(date_format);
  //$('#segment_end_on').datetimepicker(date_format);
  $('#segment_save').on('click', function () {

    var form = $("#sales_segment_form");
    if (form.validationEngine('validate')) {
        var param = {};
        $(form.serializeArray()).each(function(i, v) {
        	param[v.name] = v.value;
        });
        console.log(form.serializeArray());
      console.log(param);
      var dat = JSON.stringify(param);
        console.log(dat);
      $.post(
        form.attr("action"),
        dat,
        function(data) {
          console.log('Response');
           console.log(data);
         }
      );
    }
  })
});
</script>