<%page args="form, products=None, performance=None, limit=None" />
<%namespace file="/common/helpers.html" name="h" />

<% paging = False if limit else True %>

<%def name="actions(product, product_item=None)">
<%
  action_dict = {}
  if product_item:
    action_dict.update({
      'edit':dict(
        label=u'編集',
        url='javascript:edit_product_item(%s, %s);' % (product.id, product_item.id),
        icon='icon-pencil',
      ),
      'delete':dict(
        label=u'削除',
        url='javascript:delete_product_item(%s);' % product_item.id,
        icon='icon-minus',
      ),
      'preview':dict(
        label=u'券面プレビュー',
        url=request.route_path('events.tickets.bundles.items.preview', event_id=product.event_id, bundle_id=product_item.ticket_bundle_id, item_id=product_item.id),
        icon='icon-print',
      ),
    })
  action_dict.update({
    'new':dict(
      label=u'追加',
      url='javascript:new_product_item(%s);' % product.id,
      icon='icon-plus',
    ),
  })
  return action_dict
%>
</%def>

<%
  label_classes = [
    'label-important',
    'label-warning',
    'label-default',
    'label-success',
    'label-info',
    'label-inverse'
  ]

  map = {}
  if products:
    for product in products:
      sales_segment_id = product.sales_segment.id if product.sales_segment else 0
      if not sales_segment_id in map:
        name = product.sales_segment.name if product.sales_segment else u'販売区分なし'
        map[sales_segment_id] = {'name':name, 'stock_types':{}}
      stock_types = map[sales_segment_id]['stock_types']

      stock_type_id = product.seat_stock_type_id
      if not stock_type_id in stock_types:
        stock_types[stock_type_id] = {'name':product.seat_type(), 'products':[]}
      stock_types[stock_type_id]['products'].append(product)
%>

<% row_count = 0 %>
% for i, sales_segment_id in enumerate(map):
  <% if limit and row_count >= limit: break %>
  <% sales_segment = map[sales_segment_id] %>
  <span class="label ${label_classes[i%6]}" style="font-size: 120%;">${sales_segment['name']}</span>

  <div style="margin: 10px 0 50px 30px;">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th style="width: 20px;"></th>
        <th style="width: 100px;">席種</th>
        <th style="width: 130px;">${form.name.label.text}</th>
        <th style="width: 100px;">${form.price.label.text}</th>
        <th style="width: 60px;">${form.display_order.label.text}</th>
        % if performance:
        <th style="width: 100px;">配券先</th>
        <th style="width: 100px;">商品明細名</th>
        <th style="width: 80px;">単価</th>
        <th style="width: 80px;">販売単位</th>
        <th style="width: 100px;">席数</th>
        <th style="width: 60px;">在庫ID</th>
        <th style="width: 100px;">券面</th>
        <th style="width: 110px;"></th>
        % endif
      </tr>
      </thead>

      % for stock_type_id in sales_segment['stock_types']:
        <% if limit and row_count >= limit: break %>
        <% stock_type = sales_segment['stock_types'][stock_type_id] %>
        <tbody>

        % for product in stock_type['products']:
        <% if limit and row_count >= limit: break %>
        <% count = len(product.items_by_performance_id(performance.id)) if performance else 1 %>
        <% rowspan = 'rowspan=%s' % (count) %>
        <tr id="product-${product.id}">
          <td ${rowspan}>
            <input type="radio" name="product_id" value="${product.id}" />
            <input type="hidden" name="sales_segment_id" value="${sales_segment_id}" />
            <input type="hidden" id="seat_stock_type_id" value="${stock_type_id}" />
          </td>
          <td ${rowspan}><span>${product.seat_type()}</span></td>
          <td ${rowspan}><a href="javascript:edit_product('${product.id}');"><span id="name">${product.name}</span></a> (<span id="id">${product.id}</span>)</td>
          <td ${rowspan}><span id="price" value="${product.price}">${h.price_format(product.price)}</span>円</td>
          <td ${rowspan}><span id="display_order">${product.display_order}</span></td>
          % if performance:
            % for j, item in enumerate(product.items_by_performance_id(performance.id)):
              % if j != 0:
        <tr id="product-${product.id}">
              % endif
          <td id="stock_holder-${item.id}" value="${item.stock.stock_holder.id}" style="border-left: 1px solid #ddd;">${item.stock.stock_holder.name}</td>
          <td id="item_name-${item.id}" value="${item.name}">${item.name}</td>
          <td id="item_price-${item.id}" value="${item.price}">${h.price_format(item.price)}円</td>
          <td id="quantity-${item.id}">${item.quantity}</td>
          <td>${item.stock.stock_status.quantity} / ${item.stock.quantity}席</td>
          <td id="stock-${item.id}" value="${item.stock.id}">${item.stock.id}</td>
          <td id="ticket_bundle_id-{$item.id}" value="${item.ticket_bundle_id}">${item.ticket_bundle.name if item.ticket_bundle_id else '-'}</id>
          <td><input type="hidden" id="ticket_bundle_id-${item.id}" value="${item.ticket_bundle_id}" />${h.action_button(actions(product, item), order=iter(['edit', 'preview', 'new', 'delete']), options='btn-small')}</td>
        </tr>
            % endfor
            % if count == 0:
          <td colspan="6"></td>
          <td>${h.action_button(actions(product), options='btn-small')}</td>
        </tr>
            % endif
          % endif
        </tr>
        <% row_count += 1 %>
        % endfor
        </tbody>
      % endfor
    </table>
  </div>
% endfor

% if paging:
  ${h.pager(products)}
% endif
