<%inherit file="/layout.html"/>
<%namespace file="/common/helpers.html" import="pager"/>                                               
<%namespace file="/common/helpers.html" import="flash_messages" />

<div class="row-fluid">
  <%include file="/parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>商品</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <%include file="/products/_list.html" args="event=event" />
    <%include file="/products/_action_button.html" args="event=event" />
    <div id="products-form">
      <%include file="/products/_form.html" args="form=form" />
    </div>
  </span>
</div>
