<%page args="order=None, split=False" />
<script type="text/javascript">
var get_selected_sales_segment_id;
</script>
<%
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_product(get_selected_sales_segment_id());',
      icon='icon-plus',
    ),
    'copy':dict(
      label=u'コピー',
      url='javascript:copy_product(get_selected_sales_segment_id());',
      icon='icon-file',
    ),
  }
  order = iter(order or ['new', 'copy'])
%>
% if split:
  <div style="margin-right: 10px;">
  % for item in order:
      ${HH.action_button(actions, iter([item]), vertical=False)}
  % endfor
  </div>
% else:
    <div>
      ${HH.action_button(actions, order, vertical=False)}
    </div>
% endif
