<%page args="form" />
<%namespace file="/common/helpers.html" name="ch" />

<form action="${request.url}" method="POST" class="form-horizontal">
  <fieldset>
% if not form.id.data:
    ${ch.form_item(form.all_sales_segment)}
% endif
    ${ch.form_item(form.public)}
    ${ch.form_item(form.must_be_chosen)}
    ${ch.form_item(form.sales_segment_id)}
    ${ch.form_item(form.seat_stock_type_id)}
    ${ch.form_item(form.name, style='width: 300px;', maxlength=255)}
    ${ch.form_item(form.price, style='width: 150px;')}
    ${ch.form_item(form.display_order)}
% if not form.id.data or form.product_item_id.data:
    ${ch.form_item(form.stock_holder_id)}
    ${ch.form_item(form.product_item_quantity)}
    ${ch.form_item(form.ticket_bundle_id)}
% endif
    ${ch.form_item(form.min_product_quantity)}
    ${ch.form_item(form.max_product_quantity)}
    ${ch.form_item(form.description)}
    ${ch.form_item(form.id)}
    ${form.performance_id}
    ${form.product_item_id}
% if request.context.organization.point_feature_enabled and form.applied_point_grant_settings.choices:
    ${ch.form_item(form.applied_point_grant_settings)}
% endif
  </fieldset>
</form>

<script type="text/javascript">
$(function() {
  var previous_name;

  $('select[name="seat_stock_type_id"]').one('focus', function () {
    previous_name = $(this).find('option:selected').text();
  }).change(function() {
    var selected_name = $(this).find('option:selected').text();
    var name_el = $('input[name="name"]');
    if (!name_el.val() || name_el.val() == previous_name) {
      name_el.val(selected_name);
    }
    previous_name = selected_name;
  }).change();
});
</script>
