<%page args="modal_id" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  var new_product, edit_product, copy_product, delete_product, preview_ticket;
  $(function() {
    (function (modal_product) {
      new_product = function new_product(sales_segment_id) {
        if (!sales_segment_id) return false;
        load_modal_form(
          modal_product,
          '${request.route_path('products.new', _query=dict(sales_segment_id='__sales_segment_id__'))}'.replace('__sales_segment_id__', sales_segment_id),
          null,
          null
        );
        $('#submitButton').text('保存');
        modal_product.find('.modal-header h3').text('商品＆商品明細 登録');
      };
      copy_product = function copy_product(sales_segment_id) {
        if (!sales_segment_id) return false;
        load_modal_form(
          modal_product,
          '${request.route_path('products.copy', _query=dict(sales_segment_id='__sales_segment_id__'))}'.replace('__sales_segment_id__', sales_segment_id),
          null,
          null
        );
        $('#submitButton').text('コピー');
        modal_product.find('.modal-header h3').text('販売区分間の商品コピー');
      };
      edit_product = function edit_product(id, product_item_id) {
        if (!id) return false;
        var title = '商品＆商品明細編集';
        if (!product_item_id) {
          product_item_id = '';
          title = '商品編集';
        }
        load_modal_form(
          modal_product,
          '${request.route_path('products.edit', product_id='{id}', _query=dict(product_item_id='{product_item_id}'))|n}'.replace(encodeURIComponent('{id}'), id).replace(encodeURIComponent('{product_item_id}'), product_item_id),
          null,
          null
        );
        $('#submitButton').text('保存');
        modal_product.find('.modal-header h3').text(title);
      };
      delete_product = function delete_product(id) {
        if (!id) return false;
        var modal = $('#modal-delete');
        % if performance:
          modal.find('#delete').attr('href', '${request.route_path('products.delete', product_id='{id}', _query=dict(performance_id=performance.id))}'.replace(encodeURIComponent('{id}'), id));
        % else:
          modal.find('#delete').attr('href', '${request.route_path('products.delete', product_id='{id}')}'.replace(encodeURIComponent('{id}'), id));
        % endif
        modal.find('.modal-header h3').text('商品削除');
        modal.find('#message').text('選択した商品を削除します。よろしいですか？');
        modal.modal('toggle');
      };
      preview_ticket = function preview_ticket(id) {
        if (!id) return false;
        $("a#productItem"+id).click();
      };
    })($('#${modal_id}'));
  });
</script>
<div id="${modal_id}" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <div class="modal-body"></div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a id="submitButton" href="javascript:void(0);" onclick="$('#${modal_id}').find('form').submit();" class="btn">保存</a>
  </div>
</div>

${delete_modal()}
