## newer
## active <- i==0
## stock_holders
## ticket_bundles

<div class="grid">
  <table id="sales-segment-${sales_segment.id}-grid"></table>
  <input type="button" id="sales-segment-${sales_segment.id}-add_button" value="新規" class="btn" />
  <input type="button" id="sales-segment-${sales_segment.id}-save_button" value="保存" class="btn" />
  <input type="button" id="sales-segment-${sales_segment.id}-clear_button" value="取消" class="btn" />
  <div><p class="pull-right"><i class="icon-eye-open"></i>をクリックすると券面のプレビューができます</p></div>
</div>

<script type="text/javascript">
    var public_options = {value:"true:公開;false:非公開"};
    <% options = ["%s:%s" % (st.id, st.name) for st in stock_types] %>
    var stock_type_options = {value:"${';'.join(options)|n}"};
    <% options = ["%s:%s" % (sh.id, sh.name) for sh in stock_holders] %>
    var stock_holder_options = {value:"${';'.join(options)|n}"};
    <% options = [u":(なし)"] + ["%s:%s" % (tb.id, tb.name) for tb in ticket_bundles] %>
    var ticket_bundle_options = {value:"${';'.join(options)|n}"};

    <% query_string = 'sales_segment_id=%d' % sales_segment.id %>
    var grid = $('#sales-segment-${sales_segment.id}-grid');
    grid.jqGrid({
      url: '/products/api/get/?${query_string|n}',  //表示したいデータ
      editurl: '/products/api/set/?${query_string|n}',  // 保存先
      datatype: 'json',  //データの種別
      jsonReader : {repeatitems: false},
      mtype: 'GET',
      colModel:[
        {hidden: true, jsonmap:'row_id', name:'row_id', editable:false},
        {hidden: true, jsonmap:'product.id', name:'product_id', editable:false},
        {label:'商品名', jsonmap:'product.name', name:'name', index:'name', width:150, editable:true},
        {label:'価格', jsonmap:'product.price', name:'price', index:'price', sorttype:'int', width:60, align:'right', editable:true},
        {label:'表示順', jsonmap:'product.display_order', name:'display_order', index:'display_order', sorttype:'int', width:40, align:'right', editable:true},
        {label:'公開', jsonmap:'product.public', name:'public', index:'public', width:60, align:'right', formatter:'select', editable:true, edittype:'select', editoptions:public_options},
        {label:'席種', jsonmap:'stock_type.id', name:'stock_type_id', index:'stock_type_id', width:100, formatter:'select', editable:true, edittype:'select', editoptions:stock_type_options},
        {hidden: true, jsonmap:'product_item.id', name:'product_item_id', editable:false},
        {label:'配券先', jsonmap:'stock_holder.id', name:'stock_holder_id', index:'stock_holder_id', width:100, formatter:'select', editable:true, edittype:'select', editoptions:stock_holder_options},
        {label:'商品明細名', jsonmap:'product_item.name', name:'product_item_name', index:'product_item_name', width:150, editable:true},
        {label:'単価', jsonmap:'product_item.price', name:'product_item_price', index:'product_item_price', sorttype:'int', width:60, align:'right', editable:true},
        {label:'販売単位', jsonmap:'product_item.quantity', name:'product_item_quantity', index:'product_item_quantity', sorttype:'int', width:60, align:'right', editable:true},
        {label:'残席数', jsonmap:'stock_status.quantity', name:'stock_status_quantity', index:'stock_status_quantity', sorttype:'int', width:60, align:'right', editable:false},
        {label:'席数', jsonmap:'stock.quantity', name:'stock_quantity', index:'stock_quantity', sorttype:'int',  width:60, align:'right', editable:false},
        {label:'券面', jsonmap:'ticket_bundle.id', name:'ticket_bundle_id', index:'ticket_bundle_id', width:80, formatter:'select', editable:true, edittype:'select', editoptions:ticket_bundle_options},
        {label:' ', name:'link', width:80, formatter:grid.linkFormatter},
        {hidden: true, jsonmap:'product_item', name:'product_item', editable:false},
        {hidden: true, jsonmap:'ticket_bundle', name:'ticket_bundle', editable:false},
        {hidden: true, jsonmap:'product.performance_id', name:'performance_id', editable:false},
        {hidden: true, jsonmap:'product.amount_mismatching', name:'amount_mismatching', editable:false},
        {hidden: true, name:'deleted', editable:false}
      ],  //列ごとの設定
      forceFit : true,
      cellEdit: true,
      cellsubmit: 'clientArray',
      beforeEditCell: function (id, name, val, iRow, iCol){
        $('#sales-segment-${sales_segment.id}-save_button').attr('disabled', true);
      },
      afterRestoreCell: function (id, name, val, iRow, iCol){
        $('#sales-segment-${sales_segment.id}-save_button').attr('disabled', false);
      },
      afterSaveCell: function (id, name, val, iRow, iCol){
        $('#sales-segment-${sales_segment.id}-save_button').attr('disabled', false);
        grid.setCell(id, name, '', {background:'#F89406'});
        grid.setRetainChanges();
      },
      loadComplete: function (){
        var cells = grid.getRetainChanges('cell');
        for (var i=0; i<cells.length; i++) {
          for (var name in cells[i]) {
            grid.setCell(cells[i].id, name, '', {background:'#F89406'});
          }
        }
        var row_ids = grid.getDataIDs();
        for (var i=0; i<row_ids.length; i++) {
          var row_id = row_ids[i];
          var row = grid.getRowData(row_id);
          if (row.amount_mismatching === 'true') {
            for (var name in row) {
              if ($.inArray(name, ['price', 'product_item_price']) > -1 && row[name]) {
                grid.setCell(row_id, name, '', {background:'#dd1100'});
              } else {
                grid.setCell(row_id, name, '', {background:'#F2DEDE'});
              }
            }
          }
        }
      },  // sort時にセルの状態を維持
      loadError: function (xhr, st, err) {
        $('.grid').hide();
      },
      //pager: '',  //footerのページャー要素のid
      rowNum:200,  //1ページに表示する行数
      //rowList:[40, 100, 200],  //変更可能な1ページ当たりの行数
      sortname: 'display_order',
      sortorder: 'asc',
      loadonce: true,
      //caption: '',  //ヘッダーのキャプション
      height: '100%',  //高さ
      width: '100%',  //幅
      shrinkToFit: false,  //画面サイズに依存せず固定の大きさを表示する設定
      viewrecords: true,  //footerの右下に表示する
      treeGrid: true,
      treeGridModel: 'adjacency',
      treedatatype: 'local',
      treeReader: {
         level_field: "level",
         parent_id_field: "parent",
         leaf_field: "is_leaf",
         expanded_field: "expanded"
      },
      ExpandColumn: 'row_id'
    });

    $('#sales-segment-${sales_segment.id}-add_button').click(function(){
      var grid = $('#sales-segment-${sales_segment.id}-grid');
      var max = 0;
      var row_ids = grid.getDataIDs();
      for (var i=0; i<row_ids.length; i++) {
        var row_id = parseInt(row_ids[i]);
        if (max < row_id) {
          max = row_id;
        }
      }
      var data = {
        performance_id: ${sales_segment.performance_id}
      };
      grid.addRowData(max + 1, data);
    });
    $('#sales-segment-${sales_segment.id}-save_button').click(function(){
      $.ajax({
        type: 'POST',
        url: '/products/api/set/?${query_string|n}',
        data: JSON.stringify(grid.getRetainChanges()),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function (response, textStatus, xhr) {
          var grid = $('#sales-segment-${sales_segment.id}-grid');
          var modal = $('#modal-alert');
          modal.find('.modal-header > h3').text('保存完了');
          modal.find('#message').html('<div class="alert alert-success">編集内容を保存しました</div>');
          modal.modal('show');
          grid.clearRetainChanges();
        },
        error: function (xhr, textStatus, errorThrown) {
          var response_text = JSON.parse(xhr.responseText);
          var message = response_text.message;
          var rows = '';
          if (response_text['rows']) {
            for (col in response_text.rows.errors) {
              var col_name = grid.getColumnLabel(grid, col);
              col_name = (col_name ? col_name + ':' : '');
              rows += '<li>(' + response_text.rows.rowid + '行目) ' + col_name + response_text.rows.errors[col] + '</li>';
            }
          }
          var modal = $('#modal-alert');
          modal.find('.modal-header > h3').text('エラー');
          modal.find('#message').html('<div class="alert alert-error">' + message + '<ul>' + rows + '</ul></div>');
          modal.modal('show');
        }
      });
    });
    $('#sales-segment-${sales_segment.id}-clear_button').click(function(){
      var grid = $('#sales-segment-${sales_segment.id}-grid');
      grid.clearRetainChanges();
    });
</script>
