<%page args="items" />
<%namespace file="/common/helpers.html" name="ch"/>

<% from altair.app.ticketing.venues import VISIBLE_VENUES_SESSION_KEY %>
% if request.session.get(VISIBLE_VENUES_SESSION_KEY, None):
  <a href="${request.route_path('venues.invisible')}">非表示の会場を表示しない</a>
% else:
  <a href="${request.route_path('venues.visible')}">非表示の会場を表示する</a>
% endif


% if items:
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="span1">SITE</th>
      <th class="span1">都道府県</th>
      <th class="span2">名称</th>
      <th class="span1">FRONT</th>
      <th class="span1">会場ID</th>
      <th class="span1">詳細</th>
      <th class="span3">公演</th>
      <th class="span2">作成日時</th>
    </tr>
  </thead>
  <tbody>
  % for i, (venue, site, performance) in enumerate(items):
    <tr id="venue-${venue.id}">
    % if i > 0 and performance:
      <td colspan="4"></td>
    % else:
      <td><span class="id">${site.id}</span></td>
      <td>
      % if site.prefecture is not None:
        ${site.prefecture}
      % endif
      </td>
      <td><span class="name">${site.name}</span>
      % if venue.sub_name != None:
        <div class="sub_name">${venue.sub_name}</div>
      % endif
      </td>
      <td style="text-align: center;">
      % if site._frontend_metadata_url is not None:
        ◯
      % else:
        ×
      % endif
      </td>
    % endif
      <td><span class="id">${venue.id}</span></td>
      <td><a href="${request.route_path('venues.show', venue_id=venue.id)}">詳細</a></td>
      <td>
    % if performance:
        <a href="${request.route_path('performances.show', performance_id=performance.id)}">
      % if performance.start_on:
        ${performance.start_on.strftime('%Y/%m/%d')}
      % endif
        ${performance.name}
        </a>
    % else:
        -
    % endif
      </td>
      <td>
      % if performance:
        ${performance.created_at}
      % else:
        ${site.created_at}
      % endif
      </td>
    </tr>
  % endfor
  </tbody>
</table>

<div>
  ${ch.pager(items)}
</div>
% endif
