.DS_Store
Thumbs.db
.installed.cfg
*.pyc
build
ticket-designer/doc/build
altairlib/altair.versiontools/setup.cfg
*.swp
*.swo
cms/doc/build
cms/src/.idea
cms/src/schema.*
cms/src/build/*
cms/src/dist/*
cms/src/data/*
cms/src/altair-cms.db
cms/src/altair_cms.egg-info/*
alshain.egg-info/*
mockui/shelve.dat
*~$
cms/doc/source
*.egg
.tox
.coverage
cover/
coverage-ticketing
coverage.xml
nosetests.xml
*.orig
.idea
env
var
tmp
log
