<%page args="device"/>
% if device == 'pc':
    <%doc>
    <div style="text-align:right;">
      <a href="/howto.html" class="headerLink" target="_blank">申込方法</a>
      <a href="/faq.html" class="headerLink" target="_blank">よくある質問</a>
    </div>
    </%doc>
% elif device == 'smartphone':
      <%doc>
      <div style="text-align:right;">
        <a href="/howto.html" class="headerLink" target="_blank">申込方法</a>
        <a href="/faq.html" class="headerLink" target="_blank">よくある質問</a>
      </div>
      </%doc>
% elif device == 'mobile':
% endif
