<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" name="h"/>
<%namespace file="/common/helpers.html" import="form_item" />

<%block name="title">SEJ 手動チケット発券</%block>
<%namespace file="common.html" name="c"/>
<%def name="from_ticket_type_id(id)">
<%
ticket_type_name = {
u'1': u'本券(バーコードあり)',
u'2': u'本券',
u'3': u'副券(バーコードあり)',
u'4': u'副券'
}
%>
${ticket_type_name[id]}
</%def>


${h.breadcrumbs(
    names=[u'SEJ Order', order.billing_number],
    urls=[
      request.route_path('orders.sej')
    ]
)}
<div class="page-header">
  <h3>${order.id}:${order.order_id}</h3>

    <div class="btn-group">
        %if not order.cancel_at:
      <a  id="update" href="#" class="btn"><i class="icon-pencil"></i>編集</a>
        % endif
          %if not order.cancel_at:
          <a href="${request.route_path('orders.sej.order.cancel', order_id=order.id)}" class="btn">発券取り消し</a>
        % endif
        <form action="${order.exchange_sheet_url}" method="POST">
            <input type="hidden" name="iraihyo_id_00" value="${order.exchange_sheet_number}">
            <input type="submit" name="submit" value="引換え票を表示" class="btn"/>
        </form>


    </div>

</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<div class="row">

<div class="span4">
  <table class="table table-bordered table-condensed">
    <tbody>
    <tr>
      <th>ショップID</th>
      <td>${order.shop_id}</td>
    </tr>
    <tr>
      <th>ショップ名</th>
      <td>${order.shop_name}</td>
    </tr>
    <tr>
      <th>Contact1</th>
      <td>${order.contact_01}</td>
    </tr>
    <tr>
      <th>Contact2</th>
      <td>${order.contact_02}</td>
    </tr>
    <tr>
      <th>オーダーID</th>
      <td>${order.order_id}</td>
    </tr>
      <tr>
        <th>支払票番号</th>
        <td>${order.billing_number if order.billing_number else '-'}</td>
      </tr>
      <tr>
        <th>引換票番号</th>
        <td>${order.exchange_number if order.exchange_number else '-'}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="span6">
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <th>支払い／発券方法</th>
        <td>${c.from_payment_type_id(order.payment_type)}</td>
      </tr>
      <tr>
        <th>合計金額</th>
        <td>${order.total_price}</td>
      </tr>
      <tr>
        <th>チケット金額</th>
        <td>${order.ticket_price if order.payment_type!=u'3' else u'-'}</td>
      </tr>
      <tr>
        <th>発券手数料</th>
        <td>${order.ticketing_fee}</td>
      </tr>
      <tr>
        <th>手数料</th>
        <td>${order.commission_fee}</td>
      </tr>
      <tr>
        <th>発券期間</th>
        <td>
            %if order.ticketing_start_at and order.ticketing_due_at:
            ${order.ticketing_start_at}-${order.ticketing_due_at}
            % else:
            -(支払い期限と同じ)
            % endif</td>
      </tr>
      <tr>
        <th>支払い期限</th>
        <td>${order.payment_due_at if order.payment_type!=u'3' else u'-'}</td>
      </tr>
    </tbody>
  </table>
</div>
    <div class="span6">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>ユーザー名</th>
            <td>${order.user_name}（${order.user_name_kana}）</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>${order.tel}</td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td>${order.zip_code}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>${order.email}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <table class="table table-bordered table-condensed">
        <tbody>
        <tr>
          <th>決済時日時</th>
          <td>${order.order_at}</td>
        </tr>
        <tr>
          <th>支払日時</th>
          <td>${order.pay_at if order.pay_at else '-'}</td>
        </tr>
        <tr>
          <th>発券日時</th>
          <td>${order.issue_at if order.issue_at else '-'}</td>
        </tr>
        <tr>
          <th>SEJ処理日</th>
          <td>${order.processed_at if order.processed_at else '-'}</td>
        </tr>
        %if order.cancel_at:
          <tr>
            <th>キャンセル</th>
            <td>${order.cancel_at}</td>
          </tr>
        % endif
        </tbody>
      </table>
    </div>
</div>

<div class="row">

</div>
  <h3>チケット</h3>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th class="minwidth">idx</th>
      <th class="minwidth">イベント名</th>
      <th class="minwidth">パフォーマンス名</th>
      <th class="minwidth">パフォーマンス開催日</th>
      <th class="minwidth">テンプレートID</th>
      <th class="minwidth">XML</th>
    <tr>
  </thead>
  <tbody>
  % for ticket in order.tickets:
    <tr id="product-6">
      <td>${ticket.ticket_idx}</td>
      <td>${from_ticket_type_id(ticket.ticket_type)}</td>
      <td>${ticket.event_name}</td>
      <td>${ticket.performance_name}</td>
      <td>${ticket.performance_datetime}</td>
      <td>${ticket.ticket_template_id}</td>
      <td>
          <a href="#" class="edit-ticket btn" ticket_id="${ticket.id}"><i class="icon-pencil"></i>編集</a>
          <a href="#" class="refund btn" ticket_id="${ticket.id}"><i class="icon-pencil"></i>払戻</a>
      </td>
    </tr>
  % endfor
  </tbody>
</table>


<div id="modal-xml-preview" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>確認</h3>
      </div>

      <div class="modal-body">
        <p id="xml"></p>
      </div>

<div class="modal-footer">
  <a href="javascript:$('#modal-xml-preview').modal('hide');" class="btn secondary">キャンセル</a>
</div>
</div>

<div id="modal-edit" class="modal hide fade">
  <form action="${request.route_path('orders.sej.order.info', order_id=order.id)}" method="POST">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>オーダー情報</h3>
    </div>

    <div class="modal-body">
      ${form_item(form.update_reason)}
      ${form_item(form.total_price)}
      ${form_item(form.ticket_price)}
      ${form_item(form.commission_fee)}
      ${form_item(form.ticketing_fee)}
      ${form_item(form.payment_due_at)}
      ${form_item(form.ticketing_start_at)}
      ${form_item(form.ticketing_due_at)}
      ${form_item(form.regrant_number_due_at)}
      <div class="spacer">
        <input type="submit" name="submit" value="更新リクエスト" />
      </div>
    </div>
  </form>
    <div class="modal-footer">
      <a href="javascript:$('#modal-delete').modal('hide');" class="btn secondary">キャンセル</a>
      <a id="delete" href="" class="btn danger">削除</a>
    </div>
</div>

<div id="modal-ticket-edit" class="modal hide fade">
  <form id="ticket-edit-form" action="" method="POST">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>オーダー情報</h3>
    </div>

    <div class="modal-body">
      ${form_item(ticket_form.ticket_type)}
      ${form_item(ticket_form.event_name)}
      ${form_item(ticket_form.performance_name)}
      ${form_item(ticket_form.performance_datetime)}
      ${form_item(ticket_form.ticket_template_id)}
      ${form_item(ticket_form.ticket_data_xml)}
      <div class="spacer">
        <input type="submit" name="submit" value="更新リクエスト" />
      </div>
    </div>
  </form>
    <div class="modal-footer">
      <a href="javascript:$('#modal-delete').modal('hide');" class="btn secondary">キャンセル</a>
    </div>
</div>

<div id="modal-refund" class="modal hide fade">
  <form id="refund-form" action="" method="POST">
    <div class="modal-header">
      <a href="javascript:$('#modal-refund').modal('hide');" class="close">&times;</a>
      <h3>払戻し</h3>
    </div>

    <div class="modal-body">
      ${form_item(refund_form.event)}
      ${form_item(refund_form.refund_ticket_amount)}
      ${form_item(refund_form.refund_other_amount)}
      <div class="spacer">
        <input type="submit" name="submit" value="払い戻し" />
      </div>
    </div>
  </form>
    <div class="modal-footer">
      <a href="javascript:$('#modal-refund').modal('hide');" class="btn secondary">キャンセル</a>
    </div>
</div>


<script type="text/javascript">
  $(function() {
    $('#payment_due_datetime').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#ticketing_start_datetime').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#ticketing_due_datetime').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#regrant_number_datetime').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#update').click(function () {
        var modal = $('#modal-edit');
        modal.modal('toggle');
    });
    $('.edit-ticket').click(function () {
      var ticket_id = $(this).attr('ticket_id')
      $.ajax({
        type: "GET",
        url: "${request.route_path('orders.sej.order.ticket.data', order_id=order.id, ticket_id='AA')}".replace("AA",ticket_id),
        success: function(msg){
          console.log(msg);
          var modal = $('#modal-ticket-edit');
          modal.modal('toggle');
          $('#ticket-edit-form').attr('action', "${request.route_path('orders.sej.order.ticket.data', order_id=order.id, ticket_id='AA')}".replace("AA",ticket_id))
          $('#ticket_type').val(msg['ticket_type'])
          $('#event_name').val(msg['event_name'])
          $('#performance_name').val(msg['performance_name'])
          $('#performance_datetime').val(msg['performance_datetime'])
          $('#ticket_template_id').val(msg['ticket_template_id'])
          $('#ticket_data_xml').val(msg['ticket_data_xml'])
          }
        });
      });
      $('.refund').click(function () {
          var modal = $('#modal-refund');
          $('#refund-form').attr('action', "${request.route_path('orders.sej.order.ticket.refund', ticket_id='AAA')}".replace('AAA', $(this).attr('ticket_id')))
          modal.modal('toggle');
      });
  });
</script>