<%inherit file="../layout.html" />
<%block name="title">Admin</%block>

<div class="box">

    <form action="${request.route_path('orders.sej.request')}" method="POST">
        <label><span>shop_name</span><input id="shop_name" name="shop_name" type="text" value=""></label>
        <label><span>contact_01</span><input id="contact_01" name="contact_01" type="text" value=""></label>
        <label><span>contact_02</span><input id="contact_02" name="contact_02" type="text" value=""></label>
        <label><span>order_id</span><input id="order_id" name="order_id" type="text" value=""></label>
        <label><span>username</span><input id="username" name="username" type="text" value=""></label>
        <label><span>username_kana</span><input id="username_kana" name="username_kana" type="text" value=""></label>
        <label><span>tel</span><input id="tel" name="tel" type="text" value=""></label>
        <label><span>zip</span><input id="zip" name="zip" type="text" value=""></label>
        <label><span>email</span><input id="email" name="email" type="text" value=""></label>
        <label><span>total</span><input id="total" name="total" type="text" value=""></label>
        <label><span>ticket_total</span><input id="ticket_total" name="ticket_total" type="text" value=""></label>
        <label><span>commission_fee</span><input id="commission_fee" name="commission_fee" type="text" value=""></label>
        <label><span>payment_type</span><input id="payment_type" name="payment_type" type="text" value=""></label>
        <label><span>ticketing_fee</span><input id="ticketing_fee" name="ticketing_fee" type="text" value=""></label>
        <label><span>payment_due_datetime</span><input id="payment_due_datetime" name="payment_due_datetime" type="text" value=""></label>
        <label><span>ticketing_start_datetime</span><input id="ticketing_start_datetime" name="ticketing_start_datetime" type="text" value=""></label>
        <label><span>ticketing_due_datetime</span><input id="ticketing_due_datetime" name="ticketing_due_datetime" type="text" value=""></label>
        <label><span>regrant_number_datetime</span><input id="regrant_number_datetime" name="regrant_number_datetime" type="text" value=""></label>
        <label><span>tickets</span><input id="tickets" name="tickets" type="text" value=""></label>

        <div class="spacer">
            <input type="submit" name="submit" value="新規リクエスト" />
        </div>
    </form>

</div>

</form>