<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" name="h"/>
<%namespace file="/common/helpers.html" import="form_item" />

<%block name="title">SEJ 手動チケット発券</%block>
<%namespace file="common.html" name="c"/>

<form action="${request.route_path('orders.sej.order.request')}" method="POST">

<div class="span4">
    <h3>オーダー情報</h3>
    ${form_item(form.payment_type)}
    ${form_item(form.id)}
    ${form_item(form.shop_id)}
    ${form_item(form.shop_name)}
    ${form_item(form.order_id)}
    ${form_item(form.contact_01)}
    ${form_item(form.contact_02)}
    ${form_item(form.user_name)}
    ${form_item(form.user_name_kana)}
    ${form_item(form.tel)}
    ${form_item(form.zip_code)}
    ${form_item(form.email)}
    ${form_item(form.total_price)}
    ${form_item(form.ticket_price)}
    ${form_item(form.commission_fee)}
    ${form_item(form.ticketing_fee)}
    ${form_item(form.payment_due_at)}
    ${form_item(form.ticketing_start_at)}
    ${form_item(form.ticketing_due_at)}
    ${form_item(form.regrant_number_due_at)}
    ${form_item(form.tickets)}
    <input id="add_another_button" type="button" value="チケット追加" />
    <div class="spacer">
        <input type="submit" name="submit" value="更新リクエスト" />
    </div>
</div>


</form>
<script type="text/javascript">
  $(function() {
    $('#add-ticket').click(function(){
        var ticket = $('#ticket').clone(true);
        $('ticket-folder').append(ticket);
    });
    $('#payment_due_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#ticketing_start_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#ticketing_due_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#regrant_number_due_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#performance_datetime').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});

    $(document).ready(function () {
      $('#add_another_button').click(function () {
          clone_field_list('fieldset:last');
      });
    });

    function clone_field_list(selector) {
      var new_element = $(selector).clone(true);
      var elem_id = new_element.find(':input')[0].id;
      var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
      new_element.find(':input').each(function() {
          var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + elem_num + '-');
          $(this).attr({'name': id, 'id': id}).val('').removeAttr('checked');
      });
      new_element.find('label').each(function() {
          var new_for = $(this).attr('for').replace('-' + (elem_num - 1) + '-', '-' + elem_num + '-');
          $(this).attr('for', new_for);
      });
      $(selector).after(new_element);
    }
  });
</script>
