<%page args="device"/>
<%doc>
% if device == 'pc':
    <form action="${request.route_path('cart.logout')}" method="POST">
      <div style="text-align: right; margin-bottom: 5px;">
        % if (not getattr(request, 'context', None)) or request.context.authenticated_user()['is_guest']:
          <input type="submit" value="会員でログイン"/>
        % else:
          <input type="submit" value="ログアウト"/>
        % endif
      </div>
    </form>
% elif device == 'smartphone':
            % if (not getattr(request, 'context', None)) or request.context.authenticated_user()['is_guest']:
              <a onclick="document.logout.submit()" class="btn btn-supplementary"><span class="btn-inner">会員でログイン</span></a>
            % else:
              <a onclick="document.logout.submit()" class="btn btn-supplementary"><span class="btn-inner">ログアウト</span></a>
            % endif
% elif device == 'mobile':
        % if (not getattr(request, 'context', None)) or request.context.authenticated_user()['is_guest']:
          <input type="submit" value="会員でログイン"/>
        % else:
          <input type="submit" value="ログアウト"/>
        % endif
% endif
</%doc>
