:root {
    --custom-btn-color: #bf191f;    /* buttons ボタン */
    --custom-color: #bf191f;        /* fonts 文字 */
    --custom-border-color: #bf191f;     /* border 罫線（divなど） */
    --custom-input-color: #bf191f;     /* input インプット（radio, inputなど） */
    --custom-background-color: #860010;     /* background 背景（divなど） */
}


/* btn */
.btn-selectseat {
    background-color: var(--custom-btn-color) !important;
    opacity: 0.5;
}

li.btn-seat-minus:before {
    border-right-color: var(--custom-btn-color) !important;
}

li.btn-seat-plus:after {
    border-left-color: var(--custom-btn-color) !important;
}

.btn-seat-active,
li.btn-seat-minus.btn-seat-active:before,
li.btn-seat-plus.btn-seat-active:after {
    opacity: 1 !important;
}

.deactivated {
    opacity: 0.5 !important;
}

.btn-primary {
    background-color: var(--custom-btn-color) !important;
}

/* input type */
.confirmForm input[type=radio]:checked + label::after {
	background: var(--custom-input-color) !important;
}

/* Box contents */
.selectseat-accordion dt {
    border-color: var(--custom-border-color) !important;
}

.selectseat-accordion dt:before {
    background-color: var(--custom-background-color) !important;
}

/* heading */

.heading-primary {
    background-color: var(--custom-background-color) !important;
}

.heading_simple_line {
    color: var(--custom-color) !important;
    border-color: var(--custom-border-color) !important;
}
header .head {
    background-color: var(--custom-background-color) !important;
}

.logout-btn {
  letter-spacing: 3px;
  margin: 10px 0;
  color: #ffffff;
  background-color: var(--custom-btn-color) !important;
  text-decoration: none;
  margin-left: 15px;
  padding: 5px 30px;
  width: 480px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  width: auto !important;
}