<%!
  bodyclass="event-detail"
%>
<%inherit file="./base.html"/>
<%block name="main1">
 ${parent.widgets("main1")}
</%block>

<%block name="main2">
 ${parent.widgets("main2")}
</%block>

<%block name="main3">
 ${parent.widgets("main3")}
</%block>

<%block name="side1">
<div class="bk">
   ${parent.widgets("side1")}
</div>
</%block>

<%block name="side2">
<div class="bk">
   ${parent.widgets("side2")}
</div>
</%block>

<%block name="side3">
<div class="bk">
   ${parent.widgets("side3")}
</div>
</%block>
