        <div class="bk">
					<h3>Search</h3>
					<form method="get">
				        <input type="text" size="26">
				        <button type="submit" name="example" value="ボタン" class="sidebtnA" style="margin-top:10px;">検索</button>
			        </form>
        
				</div>
				<div class="bk">
					<h3>項目サンプル</h3>
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</div>
				<div class="bk">
					<h3>項目サンプル</h3>
					<a href="" class="sidebtnA">リンクサンプル</a>
					<a href="" class="sidebtnA">リンクサンプル</a>
					<a href="" class="sidebtnA">リンクサンプル</a>
				</div>
				<div class="bk">
					<h3>項目サンプル</h3>
					<a href="" class="sidebtnB">リンクサンプル</a>
					<a href="" class="sidebtnB">リンクサンプル</a>
					<a href="" class="sidebtnB">リンクサンプル</a>
				</div>
