<%inherit file="${context['main_template'].uri}" />
<%namespace name="gtm" file="../common/gtm.html"/>
<%block name="header_gtm">${gtm.header_gtm()}</%block>
<%block name="body_gtm">${gtm.body_gtm()}</%block>
<%namespace name="fh" module="altair.formhelpers.utils.mako" />
<%
   import altair.app.ticketing.cart.helpers as ch
   import altair.app.ticketing.lots.helpers as h
%>
<%block name="css">
    <style type="text/css">
        .attention {
            color: #cc0000;
            margin-bottom: 15px;
        }
    </style>
</%block>
<%block name="javascript">
<script>
    dataLayer = [{
     'event': 'purchase',
      'ecommerce': {
        'purchase': {
          'actionField': {
            'id': '${entry.entry_no}',
            'affiliation': '',
            'currency': 'JPY',
            'tax': '0',
            'shipping': '${wishes[0].delivery_fee}',
          },
          'products': [{
            'name': '${wishes[0].performance.name}',
            'id': '${lot.sales_segment_id}',
            'price': '${wishes[0].products[0].product.price}',
            'brand': 'RakutenTicket',
            'category': '${wishes[0].performance.id}',
            'variant': '${wishes[0].products[0].product.name}',
            'quantity': ${wishes[0].products[0].quantity}
          }]
        }
      }
    }];
</script>
</%block>
<div id="main">
<form method="post" action="${request.route_path('lots.entry.index', event_id=event.id, lot_id=lot.id)}">

<div class="subbox">
<dl>
<dt><p class="lineRed">申込完了</p></dt>
<dd>
<div class="confirInner">

<dl class="confirmList">

<dt>申込を完了いたしました。<br>
下記の受付番号はとても大切な番号です。すぐにメモして保管してください。
    <div class="attention">★お申し込み内容を忘れないよう、この画面のスクリーンショットを取っておいてください。<div>
</dt>
<dt class="creditHl">申込番号</dt>
<dd><p class="disp-entry_no">${entry.entry_no}</p></dd>

%for wish in wishes:
<dt class="creditHl">第${wish.wish_order + 1}希望 ${wish.performance.name}</dt>
<dd>
<p>${h.performance_date_label(wish.performance)}
</p>
<div class="detailBox">
<table>
%for i, lot_product in enumerate(wish.products):
<tr>
<td>${lot_product.product.name}</td>
</tr><tr>
<td>${h.render_lot_product_quantity(lot_product.product, lot_product.quantity)}&nbsp;${h.format_currency(lot_product.subtotal)}</td>
</tr>
%endfor

<tr>
<td>決済手数料(${wish.lot_entry.payment_delivery_method_pair.payment_method.name})</td>
</tr><tr>
<td>${h.format_currency(wish.transaction_fee)}</td>
</tr>

<tr>
<td>引取手数料 (${wish.lot_entry.payment_delivery_method_pair.delivery_method.name})</td>
</tr><tr>
<td>${h.format_currency(wish.delivery_fee)}</td>
</tr>

<tr>
<td>システム手数料</td>
</tr><tr>
<td>${h.format_currency(wish.system_fee)}</td>
</tr>

% if wish.special_fee > 0:
<tr>
<td>${wish.special_fee_name}</td>
</tr><tr>
<td>${h.format_currency(wish.special_fee)}</td>
</tr>
% endif

<tr>
<td>合計(税込)</td>
</tr><tr>
<td>${h.format_currency(wish.total_amount)}</td>
</tr>

</table>
</div>
</dd>

%endfor

<dt class="creditHl">購入者情報</dt>
<dd>

<div class="detailBox">
<ul>
<li>購入者氏名&nbsp;${shipping_address.last_name}&nbsp;${shipping_address.first_name}</li>
<li>購入者氏名(カナ)&nbsp;${shipping_address.last_name_kana}&nbsp;${shipping_address.first_name_kana}</li>
<li>メールアドレス&nbsp;${shipping_address.email_1}</li>
<li>電話番号&nbsp;&nbsp;${shipping_address.tel_1}</li>
<li>住所<br>
※配達受取を選択した場合<br>
〒${shipping_address.zip}&nbsp;
${shipping_address.prefecture}${shipping_address.city}${shipping_address.address_1}
${shipping_address.address_2}
</li>
<li>生年月日&nbsp;${u"{0.year} 年 {0.month}月 {0.day}日".format(birthday)}</li>
<li>性別&nbsp;${h.format_gender(request, gender)}</li>

</ul>
</div>
</dd>

% if entry.get_orion_ticket_phone_list:
  <dt class="creditHl">アプリ受取追加情報</dt>
  <dd>
    <div class="detailBox">
      <ul>
        % for i, phone in enumerate(entry.get_orion_ticket_phone_list):
        <li>電話番号${i+1}: ${phone}</li>
        % endfor
      </ul>
    </div>
  </dd>
% endif

<% extra_form_data = entry.get_lot_entry_attribute_pair_pairs(request) %>
% if extra_form_data:
<dt class="creditHl">追加情報</dt>
${self.lh.disp_extra_description(extra_description, 'sp')}
<dd>
  <div class="detailBox">
    <ul>
      % for _, (display_name, display_value) in extra_form_data:
      <li>
        <th scope="row">${(display_name or u'')|n}: &nbsp;${ch.sensible_coerce(request, display_value)}</th>
      </li>
      % endfor
    </ul>
  </div>
</dd>
% endif

<dt class="creditHl">注意事項</dt>
<dd>
<div class="detailBox">
<p>お申込み時に、ご登録いただいたメールアドレス宛に、受付完了メールが送られます。しばらくたっても確認のメールが届かない場合は、入力されたメールアドレスが誤りがあるか、メールの受信設定により受信できていない可能性があります。</p>
<p>登録内容、受信設定を確認のうえ、 <a href="${h.safe_get_contact_url(request)}">こちら</a>よりお問合せください。</p>
<p>お問合せの際は、お申し込み時のお名前、電話番号、公演名、受付番号を記載お願いいたします。</p>
<p>お申込内容は、「<a href="/lots/review">申込確認ページ</a>」からもご確認いただけます。受付番号とご登録時のお電話番号をお手元にご用意の上、ご利用ください。</p>
</div>
</dd>
</dl>

</div>
</dd>
</dl>
</div>

<dl class="selbtnList">
<dt>
  <a href="${request.context.host_base_url}">
    <input type="button" value="チケットTOP">
  </a>
</dt>
</dl>


</form>

</div>
% if request.organization.setting.sitecatalyst_use:
  <%include file="altair.app.ticketing.lots:templates/RT/common/sc_completion.html"/>
% endif
${(view_context.embedded_html_complete_page_smartphone or u'')|n}

<input type="hidden" name="rat" id="ratCvEvent"  value="{'purchase_reserve':1,'reserve_gms':${wish.total_amount},'complete':1}">
<input type="hidden" name="rat" id="ratTotalPrice"  value="${wish.total_amount}">
<input type="hidden" name="rat" id="ratOrderId"  value="${entry.entry_no}">
<input type="hidden" name="rat" id="ratItemId"  value="${event.id},${entry.lot_id}">

