<%inherit file="${context['main_template'].uri}" />
<%
   import altair.app.ticketing.cart.helpers as ch
   import altair.app.ticketing.lots.helpers as h
%>
<div class="withdrawErrorInfoBox">
%if not error_msg:
<div align="center">以下の抽選申込を取消いたしました</div><br/>
%else:
<div align="center" style="font-size:18px">${error_msg}</div>
%endif
</div>
<div class="withdrawBackBox">
    <a href="${request.route_path('lots.review.index')}" class="withdrawBackButtonSP">入力画面に戻る</a>
</div>

<%include file="_review_entry_content.html"/>
