<%inherit file="${context['main_template'].uri}" />

<%include file="_review_entry_content.html"/>

%if can_withdraw_show:
<form method="POST" id="withdrawForm" name="withdrawForm" action="${request.route_path('lots.review.withdraw.confirm')}">
    <div align="center">
        <input type="submit" class="withdrawSubmit" value="この申込を取り消す">
    </div>
    <input type="hidden" name="entry_no" value=${entry_no}>
    <input type="hidden" name="tel_no" value=${tel_no}>
    <input type="hidden" name="csrf_token" value=${request.session.get_csrf_token()}>
</form>
%endif
