<%inherit file="${context['main_template'].uri}" />
<%namespace name="fh" module="altair.formhelpers.utils.mako" />
<%
   import altair.app.ticketing.cart.helpers as ch
   import altair.app.ticketing.lots.helpers as h
%>
%if can_withdraw:
<div align="center">
<h1>この抽選申込を取消しますか?</h1>
</div>
<div class="withdrawConfirmBox">
<table>
<tr><td>
<form method="POST" id="withdrawForm" name="withdrawForm" action="${request.route_path('lots.review.withdraw.withdraw')}">
    <input type="hidden" name="csrf_token" value=${request.session.get_csrf_token()}>
    <input type="hidden" name="entry_no" value=${entry_no}>
    <input type="hidden" name="tel_no" value=${tel_no}>
    <a href="javascript: void(0)" onclick="document.withdrawForm.submit();" class="withdrawConfirmButtonSP">はい</a>
</form>
</td>
<td>
<form method="POST" id="withdrawBackForm" name="withdrawBackForm" action="${request.route_path('lots.review.index')}">
    <input type="hidden" name="csrf_token" value=${request.session.get_csrf_token()}>
    <input type="hidden" name="entry_no" value=${entry_no}>
    <input type="hidden" name="tel_no" value=${tel_no}>
    <a href="javascript: void(0)" onclick="document.withdrawBackForm.submit();" class="withdrawConfirmButtonSP">いいえ</a>
</form>
</td></tr>
</table>
</div>
<div align="center">
<span style="color:red">(取消した抽選申込を有効な抽選申込に戻す事はできません)</span>
</div>
%endif
%if error_msg:
<div class="withdrawErrorInfoBox">${error_msg}</div>
<div class="withdrawBackBox">
    <a href="${request.route_path('lots.review.index')}" class="withdrawBackButtonSP">入力画面に戻る</a>
</div>
%endif
<%include file="_review_entry_content.html"/>
<input type="hidden" name="rat" id="ratCvEvent"  value="{'step4':1}">

