<%inherit file="${context['main_template'].uri}" />
<%namespace name="fh" module="altair.formhelpers.utils.mako" />
<%
  from altair.app.ticketing.payments.plugins import ORION_DELIVERY_PLUGIN_ID
  orion_checked = False
  import altair.app.ticketing.cart.helpers as ch
  import altair.app.ticketing.lots.helpers as h
%>
<%def name="render_field(field, label=False, _description=None, _note=None, _suffix=u'', **kwargs)">
<%
_description = _description or field.description
_note = _note or field._note
if label is None or label is True:
  label = field.label
%>
<div class="field">
  % if _description:
  <div class="field-description">${_description}</div>
  % endif
  <div class="control-segment">
    % if label:
      ${label}
    % endif
    ${fh.render(field, **kwargs)}${_suffix}
    % if _note:
    <div class="field-note">${_note}</div>
    % endif
    ${ch.error(field.name)}
  </div>
</div>
</%def>



<%block name="javascript">
<script type="text/javascript">
$(document).ready(function(){
  $(".methodExplanation").hide();
  $("input:radio").click(function() {
    $(".methodExplanation").hide();
    var index = $("input:radio[name='payment_delivery_method_pair_id']").index(this);
    $(".methodExplanation:eq(" + index + ")").show();
  });
});

// orion関係のjavascript
function pdmp(is_orion) {
  if (is_orion) {
    $("#orion-ticket-phone-info").show();
  } else {
    var ul = $("#orion-ticket-phone-list"),
        li = ul.children("li").eq(1).detach();
    ul.find("li").not("#orion-ticket-phone-template").remove();
    li.show().appendTo(ul);
    $("#orion-ticket-phone-info").hide();
  }
}
function add_orion_ticket_phone(button) {
    var index = $(button).parents("ul").find("li").length,
        li = $("#orion-ticket-phone-template").clone().removeAttr("id").removeAttr("style");
    render_num(index, li);
    li.show().appendTo($(button).parents("ul"));

    if (index > 4) {
        $(button).prop("disabled", true);
    }
}
function delete_orion_ticket_phone(button) {
    $("#btn-add-orion-ticket-phone").prop("disabled", false);
    $(button).parent().remove();
    $("#orion-ticket-phone-list").find("li").each(function(index, li) {
        if (index !== 0) {
            render_num(index, $(li));
        }
    });
}
function render_num(index, li) {
    var label = "orion-ticket-phone-" + index;
    li.find("label").text("電話番号" + index)
                  .attr("for", label);
    li.find("input").attr("id", label)
                  .attr("name", "orion-ticket-phone");
}
</script>
</%block>
<div id="main">

  %if request.session.peek_flash():
  <div style="border: 3px solid red; background: #FFEEEE; padding: 10px; margin: 10px;">
    <ul>
      %for message in request.session.pop_flash():
      <li>${message}</li>
      %endfor
    </ul>
  </div>
  %endif

<form method="post" id="wishForm" action="${request.route_path('lots.entry.sp_step3', event_id=event.id, lot_id=lot.id)}">
    % for cnt, wish in enumerate(wishes):
      <%
        wish_order = wish['wished_products'][0]['wish_order']
        products = wish['wished_products']
        performance_id = wishes[cnt]['performance_id']
      %>
      <input type="hidden" name="performanceDate-${wish_order}" value="${performance_id}"/>
      %for ii, product in enumerate(products):
        <%
           product_id = product['product_id']
           quantity = product['quantity']
           %>
        <input type="hidden" name="product-id-${wish_order}-${ii}" value="${product_id}"/>
        <input type="hidden" name="product-quantity-${wish_order}-${ii}" value="${quantity}"/>
      %endfor
    % endfor


<div class="subbox">
<dl>
<dt><p class="lineRed">お支払・お引取方法選択</p></dt>
<dd>
<div class="subInner">
<dl class="creditList">
<dt>
% for m in payment_delivery_pairs:
<%
  checked = 'checked' if str(m.id) == payment_delivery_method_pair_id else ''
  is_orion = 'true' if m.delivery_method.delivery_plugin_id == ORION_DELIVERY_PLUGIN_ID else 'false'
  orion_checked = checked and is_orion == 'true' if not orion_checked else orion_checked
%>
<p>
  <input id="radio${m.id}" type="radio" name="payment_delivery_method_pair_id" value="${m.id}" ${checked} onclick="pdmp(${is_orion})"/>
  <label for="radio${m.id}">${m.payment_method.name} / ${m.delivery_method.name}</label>
</p>
% endfor

</dt>
</dl>

% for m in payment_delivery_pairs:
<dl class="methodExplanation">
<dt class="creditHl">${m.payment_method.name}</dt>
<dd>
<p>手数料 <strong>${h.format_currency(m.transaction_fee)}</strong> (${h.fee_type(m.payment_method.fee_type)})<br>
${m.payment_method.description or '' | n}
</dd>

<dt class="creditHl">${m.delivery_method.name}</dt>
<dd>
<p>${m.delivery_method.name}&nbsp;<strong>${h.format_currency(m.delivery_fee)}</strong> (${h.fee_type(m.delivery_method.fee_type)})<br>
${m.delivery_method.description or '' | n}
</dd>

%if m.system_fee > 0:
<dt class="creditHl">システム利用料</dt>
<dd class="paymentFee_${h.format_number(m.transaction_fee)}">
<p>システム利用料&nbsp;<strong>${h.format_currency(m.system_fee)}</strong>(${h.fee_type(m.system_fee_type)})<br>
上記の利用料・手数料がかかります。</p>
</dd>
%endif

%if m.special_fee > 0:
<dt class="creditHl">${m.special_fee_name}</dt>
<dd class="paymentFee_${h.format_number(m.transaction_fee)}">
<p>${m.special_fee_name}&nbsp;<strong>${h.format_currency(m.special_fee)}</strong>(${h.fee_type(m.special_fee_type)})<br>
上記の利用料・手数料がかかります。</p>
</dd>
%endif

</dl>
% endfor
</div>
</dd>
</dl>
</div>

<p class="tyuui2">${form['email_1'].description}</p>


<div id="orion-ticket-phone-info" class="subbox" ${'' if orion_checked else 'style="display:none;"'|n}>
  <dl>
    <dt>
      <p class="lineRed">イベントゲット情報</p>
    </dt>
    <dd>
      <div class="subInner2">
        <dl class="creditList">
          <dt class="creditHl">譲渡先</dt>
          <dd>
            <ul id="orion-ticket-phone-list">
              <li id="orion-ticket-phone-template" style="display: none;">
                <label for="tmp-orion-ticket-phone">電話番号</label>
                <input type="text" id="tmp-orion-ticket-phone">　<button type="button" onclick="delete_orion_ticket_phone(this);">削除</button>
              </li>
              % for i, (phone, error) in enumerate(zip(orion_ticket_phone, orion_phone_errors)):
                <li>
                  <label for="orion-ticket-phone-${i+1}">電話番号${i+1}</label>
                  <input type="text" id="orion-ticket-phone-${i+1}" name="orion-ticket-phone" value="${phone}">　
                  % if i == 0:
                  <% is_disabled = 'disabled' if len(orion_ticket_phone) > 4 else '' %>
                  <button id="btn-add-orion-ticket-phone" type="button" onclick="add_orion_ticket_phone(this);" ${is_disabled|n}>追加</button>
                  % else:
                  <button type="button" onclick="delete_orion_ticket_phone(this);">削除</button>
                  % endif
                  % if error:
                  <span class="error">${error}</span>
                  % endif
                </li>
              % endfor
            </ul>
          </dd>
        </dl>
      </div>
    </dd>
  </dl>
</div>

<div class="subbox">
<dl>
<dt>
<p class="lineRed">購入者情報</p>
<div class="tyuui2">*印の項目は入力が必須です</div>
</dt>
<dd>
<div class="subInner2">
<dl class="creditList">

<dt class="creditHl">購入者氏名（全角）</dt>
<dd>
<p>
${h.render_label(form['last_name'])}<br/>
${form['last_name']}<br/>
${self.error(form, 'last_name')}
(例：山田)
</p>
<p>
${h.render_label(form['first_name'])}<br/>
${form['first_name']}<br/>
${self.error(form, 'first_name')}
(例：太郎)
</p>
</dd>

<dt class="creditHl">購入者氏名（全角カナ）</dt>
<dd>
<p>
${h.render_label(form['last_name_kana'])}<br/>
${form['last_name_kana']}<br/>
${self.error(form, 'last_name_kana')}
(例：ヤマダ)
</p>
<p>
${h.render_label(form['first_name_kana'])}<br/>
${form['first_name_kana']}<br/>
${self.error(form, 'first_name_kana')}
(例：タロウ)
</p>
</dd>

<dt class="creditHl">メールアドレス(半角英数)</dt>
<dd>
<p>
${h.render_label(form['email_1'])}<br/>
${form['email_1']}<br/>
${self.error(form, 'email_1')}
(例：mail@example.ne.jp)
</p>
<p>
${h.render_label(form['email_1_confirm'])}<br/>
${form['email_1_confirm']}<br/>
${self.error(form, 'email_1_confirm')}
(例：mail@example.ne.jp)
</p>
<p class="tyuui2">${form['email_1'].description}</p>
</dd>

<dt class="creditHl">住所</dt>
<dd>
<p>
<% path = request.static_url('altair.app.ticketing.cart:static/js/zipdata') %>
${h.render_label(form['zip'])}<br/>
${form['zip'](onKeyUp="AjaxZip3.zip2addr('" + path + "', 'zip','','prefecture','city','', 'address_1');")}<br/>
${self.error(form, 'zip')}
(例: 1030001)
</p>
<p>
${h.render_label(form['prefecture'])}<br/>
${form['prefecture']}<br/>
${self.error(form, 'prefecture')}
(例: 東京都)
</p>
</p>
<p>
${h.render_label(form['city'])}<br/>
${form['city']}<br/>
${self.error(form, 'city')}
(例: 中央区)
</p>
</p>
<p>
${h.render_label(form['address_1'])}<br/>
${form['address_1']}<br/>
${self.error(form, 'address_1')}
(例: 日本橋x-xx-xx)
</p>
</p>
<p>
${h.render_label(form['address_2'])}<br/>
${form['address_2']}<br/>
${self.error(form, 'address_2')}
(例: yyビルz階)
</p>
</dd>

<dt class="creditHl">電話番号(半角数字)</dt>
<dd>
<p>
${h.render_label(form['tel_1'])}（固定電話をお持ちでない場合は、携帯電話番号を入力してください。）<br/>
${form['tel_1']}<br/>
${self.error(form, 'tel_1')}
(例: 03xxxxyyyy)
</p>
</dd>

<dt class="creditHl"><label class="required" for="birthday">生年月日</label></dt>
<dd>
<p>
${form['birthday']}
${self.error(form, 'birthday')}
</p>
</dd>

<dt class="creditHl">${h.render_label(form['sex'])}</dt>
<dd>
<p>
${form['sex']}
${self.error(form, 'sex')}
</p>
</dd>

% for field in form['extra']._contained_form:
% if not field.short_name in {'member_type'}:
<dt class="creditHl">${field.label}</dt>
<dd>
  <p>
    ${render_field(field)}
  </p>
</dd>
% endif
% endfor

</dl>
</div>

</dd>
</dl>
</div>
<p class="nextBtn"><input type="submit" value="次へ"></p>

</form>
</div>
