<%page args="form" />
<%namespace file="/common/helpers.html" import="form_item" />

<div id="modal-account" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>クライアント</h3>
  </div>

  <div class="modal-body">
    <form action="javascript:save_account();" method="POST">
      ${form_item(form.id)}
      ${form_item(form.organization_id, option={'class':'span6'})}
      ${form_item(form.name, option={'maxlength':255})}
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:$('#modal-account').find('form').submit();" class="btn">保存</a>
  </div>
</div>
