<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'取引先'],
      urls=[request.route_path('index')]
  )}
</div>
<div class="page-header">
  <h3>取引先</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<%include file="/accounts/_action_button.html" />
<div id="accounts-form">
  <%include file="/accounts/_form.html" args="form=form" />
</div>

<div class="row-fluid" style="margin-top: 30px;">
  <div class="span6">
    <%include file="/accounts/_list.html" args="form=form, accounts=accounts" />
  </div>
</div>
