<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'取引先', account.name],
      urls=[request.route_path('accounts.index')]
  )}
</div>

<div class="page-header">
  <h3>${account.name}</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<%include file="/organizations/_detail.html" args="form=form_organization, organization=account.user.organization" />
<div style="margin-top: 20px;">
  <%include file="/organizations/_events.html" args="events=owner_events, title=u'配券元'" />
</div>
<div style="margin-top: 20px;">
  <%include file="/organizations/_events.html" args="events=client_events, title=u'配券先'" />
</div>
