@charset "utf-8";
/* reset
--------------------------------------------------- */
.top_inner *, .top_inner *:before, .top_inner *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, p, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; 
}
dl, dt, dd, ul, li {
	list-style: none;
}
/* ----- clearfix ----- */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
	min-height: 1%;
}
/* Hides from IE-mac */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/* common
--------------------------------------------------- */
.top_inner {
	/* margin: 0 5px; */
}
.top_inner img,
#sliderBox img,
#sns img {
	width: 100%;
}

/*  h
--------------------------------------------------- */
h2.category_ttl {
	display: block;
	background: #f2f2f2;
	text-align: center;
	padding: 9px 0 7px 0;
	border-bottom: 3px solid #7d00be;
	background-color: #a44cd1;
	color: #ffffff;
	font-family: "Rounded Mplus 1c";
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1;
}


/*  top news
--------------------------------------------------- */
.top_news {
	background: #424242;
	padding: 5px 5px 10px;
	margin-bottom: 5px;
}
.top_news li {
	display: block;
	padding: 5px 5px 0;
	border-top: 1px #FFF solid;
	position: relative;
}
.top_news li:first-child {
	border-top: none;
	padding: 0 5px 5px;
}
.top_news li {
	color: #FFF;
	display: block;
	text-decoration: none;
	font-size: 1rem;
}
.top_news li a {
	color: #FFF;
	display: block;
	text-decoration: none;
	font-size: 1rem;
}
.top_news li a:hover {
	opacity: 0.7;
}
.top_news li a:after {
  content: ">";
	position: absolute;
	right: 5px;
}

/* search
--------------------------------------------------- */
#search {
	background: #7d00be;
	padding: 10px;
}
#search #search_area {
	position: relative;
}
#search #search_area form {
	margin: 0;
}
 #search input[type="text"] {
	background: #f7f7f7 none repeat scroll 0 0;
	border: none;
	box-sizing: border-box;
	line-height: 1.2;
	margin: 0;
	overflow: hidden;
	padding: 8px 14px 7px;
	width: 100%;
	border-radius: 3px;
	font-size: 1.2rem;
}
#search input[type="submit"] {
	background: #424242 url("../img/icon_search.svg") no-repeat center center;
	background-size: 15px auto;
	border: 1px solid #000000;
	border-width: 0 1px 1px 0;
	border-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	display: block;
	height: 30px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	width: 30px;
	cursor: pointer;
	box-shadow: none;
	padding: 0;
}


/* slider
--------------------------------------------------- */
#sliderBox {
	margin: 5px 0;
}

/* week_tickets
--------------------------------------------------- */
#week_tickets li,
#week_tickets p {
	font-family: 'Noto Sans JP', sans-serif;
}
#week_tickets a {
	background-color: #f6effa;
	color: #424242;
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #c6bdca;
	padding: 5px 7px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.3rem;
	width: 100%;
	min-height: 44px;
	vertical-align: middle;
}
#week_tickets a:hover {
	background: #e6e6e6;
}
#week_tickets .over_txt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 4em;
	color: #7c03be;
	font-size: 1.2rem;
	border-top: 4px solid #f0e1f9;
}
#week_tickets .over_txt > span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	width: 5em;
	height: 100%;
	text-align: center;
	position: relative;
}
#week_tickets .over_txt > span:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: calc(-3.3em - 4px);
	left: 0;
	right: 0;
	margin: 0 -.8em;
	width: 6.6em;
	height: 6.6em;
	background-color: #f0e1f9;
	border-radius: 50%;
}
#week_tickets .over_txt > span:after {
	content: "▼";
	position: absolute;
	left: 0;
	right: 0;
	top: 1.5em;
	bottom: 0;
	margin: 0 auto;
	font-size: 1rem;
}

/* special_contents
--------------------------------------------------- */
#special_contents li,
#special_contents p {
	font-family: 'Noto Sans JP', sans-serif;
}
#special_contents li {
	clear: both;
	border-bottom: 1px solid #c6bdca;
}
#special_contents li:last-child {
	border-bottom: none;
}
#special_contents li a {
	background-color: #f6effa;
	color: #424242;
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px 7px;
	font-size: 1.3rem;
	height: 44px;
}
#special_contents li a:hover {
	background: #e6e6e6;
}
#special_contents li a span {
	display: inline-block;
}
#special_contents li a span.list_img {
	width: 15%;
	max-width: 80px;
	border: solid 1px #e6e6e6;
	margin-right: 3%;
}
#special_contents li a span.list_txt {
	width: 82%;
	vertical-align: top;
}
#special_contents .over_txt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 4em;
	color: #7c03be;
	font-size: 1.2rem;
	border-top: 4px solid #f0e1f9;
}
#special_contents .over_txt > span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	width: 5em;
	height: 100%;
	text-align: center;
	position: relative;
}
#special_contents .over_txt > span:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: calc(-3.3em - 4px);
	left: 0;
	right: 0;
	margin: 0 -.8em;
	width: 6.6em;
	height: 6.6em;
	background-color: #f0e1f9;
	border-radius: 50%;
}
#special_contents .over_txt > span:after {
	content: "▼";
	position: absolute;
	left: 0;
	right: 0;
	top: 1.5em;
	bottom: 0;
	margin: 0 auto;
	font-size: 1rem;
}

/* genre
--------------------------------------------------- */
#genre dt,
#genre dd,
#genre p {
	font-family: 'Noto Sans JP', sans-serif;
}
#genre .acordion {
}
#genre .acordion dt.trigger {
	position: relative;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #c6bdca;
	padding: 5px;
	font-size: 1.3rem;
	height: 44px;
}
#genre .acordion dt.trigger:hover {
	background: #e6e6e6;
}
#genre .acordion dt.trigger:after{
	content: "＋";
	position: absolute;
	right: 5px;
	color: #7d00be;
	height: 1em;
	top: 0;
	bottom: 0;
	margin: auto;
}
#genre .acordion dt.trigger.active:after {
  content: "－";
	position: absolute;
}

		/* #genre .acordion dt.trigger span {
			display: table-cell;
		}
		#genre .acordion dt.trigger span.genre_txt {
			width: 79%;
			vertical-align: middle;
		} */
		#genre .acordion dt.trigger span.genre_img {
			/* width: 18%;
			max-width: 80px;
			padding-right: 3%; */
			display: none;
		}

#genre .acordion dd.acordion_tree {
	display: block;
	background: #424242;
	padding: 0 5px;
}
#genre .acordion dd.acordion_tree ul li {
	display: block;
	border-bottom: 1px solid #FFF;
}
#genre .acordion dd.acordion_tree ul li:last-child {
	border-bottom: none;
}
#genre .acordion dd.acordion_tree ul li a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px;
	color: #FFF;
	text-decoration: none;
	font-size: 1.3rem;
	height: 44px;
}
#genre .acordion dd.acordion_tree ul li a:after{
  content: ">";
	position: absolute;
	right: 5px;
}

/* area
--------------------------------------------------- */
#area dt,
#area dd,
#area p {
	font-family: 'Noto Sans JP', sans-serif;
}
#area .acordion {
}
#area .acordion dt.triggerA {
	position: relative;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #c6bdca;
	padding: 5px;
	font-size: 1.3rem;
	height: 44px;
}
#area .acordion dt.triggerA:hover {
	background: #e6e6e6;
}
#area .acordion dt.triggerA:after{
  content: "＋";
	position: absolute;
	right: 5px;
	color: #7d00be;
	height: 1em;
	top: 0;
	bottom: 0;
	margin: auto;
}
#area .acordion dt.triggerA.active:after {
  content: "－";
	position: absolute;
	right: 5px;
}
#area .acordion dd.acordion_treeA {
	display: block;
	background: #424242;
	padding: 0 5px;
}
#area .acordion dd.acordion_treeA ul li {
	display: block;
	border-bottom: 1px solid #FFF;
}
#area .acordion dd.acordion_treeA ul li:last-child {
	border-bottom: none;
}
#area .acordion dd.acordion_treeA ul li a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px;
	color: #FFF;
	text-decoration: none;
	font-size: 1.3rem;
	height: 44px;
}
#area .acordion dd.acordion_treeA ul li a:after{
  content: ">";
	position: absolute;
	right: 5px;
}

/* sns
--------------------------------------------------- */
#sns .sns_box {
	padding: 5px 0;
	background: #f2f2f2;
}
#sns .sns_box ul {
	display: block;
	max-width: 130px;
	margin: 0 auto;
}
#sns .sns_box ul li {
	display: inline-block;
	width: 31%;
}
#sns .sns_box ul li:hover {
	opacity: 0.7;
}

/* publicity
--------------------------------------------------- */
#publicity li {
	clear: both;
}
#publicity li a {
	color: #333;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px;
}
#publicity li a:hover {
	background: #e6e6e6;
}
#publicity li a span {
	display: inline-block;
}
#publicity li {
	color: #333;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px;
}
#publicity li:hover {
	background: #e6e6e6;
}
#publicity li span {
	display: inline-block;
}
#publicity li a span.list_img {
	width: 15%;
	max-width: 80px;
	margin-right: 3%;
}
#publicity li a span.list_txt {
	width: 82%;
	vertical-align: top;
}
#publicity li span.list_img {
	width: 15%;
	max-width: 80px;
	margin-right: 3%;
}
#publicity li span.list_txt {
	width: 82%;
	vertical-align: top;
}

/*  info
--------------------------------------------------- */
.info {
	background: #424242;
	padding: 5px 5px 10px;
	margin-bottom: 5px;
	color: #FFF;
}
.info li {
	display: block;
	padding: 5px;
	border-top: 1px #FFF solid;
	position: relative;
}
.info li:last-child {
	padding-bottom: 0;
}
.info li a {
	color: #FFF;
	display: block;
	text-decoration: none;
	font-size: 1rem;
}
.info li a:hover {
	opacity: 0.7;
}
.info li a:after {
  content: ">";
	position: absolute;
	right: 5px;
}

/*  seach btn
--------------------------------------------------- */
#search_btn a {
	display: block;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 60px;
}
#search_btn a img {
	width: 100%;
	opacity: 0.7;
	transition-duration:0.5s;
}
#search_btn a img:hover {
	opacity: 1;
}

@charset "utf-8";
/*日本語Webフォント*/
@import url(//fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);



