<%page args="point_grant_settings, organization_setting=None, highlight=True" />
<%namespace file="/common/helpers.html" name="ch" />
<% from altair.app.ticketing.loyalty.models import PointGrantSetting %>
<style type="text/css">
tr.highlighted td,
tr.highlighted th {
  background-color: #ffffee;
}

tr:nth-child(2n+1).highlighted td,
tr:nth-child(2n+1).highlighted th {
  background-color: #f0f0e0 !important;
}

tr.highlighted td.name:before {
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  color: #fff;
  content: "適用中";
  padding: 0px 4px;
  background-color: #f33;
  border-radius: 6px;
  vertical-align: top;
  margin-right: 4px;
}
</style>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>${HH.label_text_for(PointGrantSetting.name)}</th>
      <th>${HH.label_text_for(PointGrantSetting.type)}</th>
      <th>${HH.label_text_for(PointGrantSetting.fixed)}</th>
      <th>${HH.label_text_for(PointGrantSetting.rate)}</th>
      <th>${HH.label_text_for(PointGrantSetting.start_at)}</th>
      <th>${HH.label_text_for(PointGrantSetting.end_at)}</th>
      <th>対象商品</th>
    </tr>
  </thead>
  <tbody>
    % if organization_setting:
    <tr>
      <td>&nbsp;</td>
      <td class="name">デフォルトの設定</td>
      <td>${lh.format_point_type(organization_setting.point_type)}</td>
      <td>${vh.price(organization_setting.point_fixed) if organization_setting.point_fixed else u'-'}</td>
      <td>${HH.format_percentage(organization_setting.point_rate)}</td>
      <td colspan="3">-</td>
    </tr>
    % endif
    % if point_grant_settings:
      % for i, pgs in enumerate(sorted(point_grant_settings)):
    <tr${u' class="highlighted"' if pgs.applicable_to(request.now) and pgs.target_products else u''|n}>
      <td><input type="checkbox" name="point_grant_setting_id" value="${pgs.id}" /></td>
      <td class="name"><a href="${request.route_path('point_grant_settings.show', point_grant_setting_id=pgs.id)}">${pgs.name}</a></td>
      <td>${lh.format_point_type(pgs.type)}</td>
      <td>${vh.price(pgs.fixed) if pgs.fixed else u'-'}</td>
      <td>${HH.format_percentage(pgs.rate)}</td>
      <td>${pgs.start_at and pgs.start_at or u'-'}</td>
      <td>${pgs.end_at and pgs.end_at or u'-'}</td>
      <td>${len(pgs.target_products)}</td>
    </tr>
      % endfor
    % endif
  </tbody>
</table>
