<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%block name="title">ラグーナテンボス</%block></title>
</head>
<body>
<div align="center">
  <img src="${request.static_url('altair.app.ticketing.lots:static/LG/mobile/img/logo.gif')}" width="240" height="96" alt="ラグーナテンボス" />
  <hr size="2" noshade="noshade" color="#000000" />
</div>
<div>

${self.body()}

<hr size="1" color="#888888" noshade="noshade" />
<div align="center" style="font-size:x-small">
  <div>
<a href="http://www.ticketstar.jp/corporate/">運営会社</a> | <a href="http://www.lagunatenbosch.co.jp/laguna/privacy/index.html">個人情報保護方針</a> | <a href="https://lagunatenbosch.tstar.jp/legal">特定商取引法に基づく表示</a> | <a href="${h.safe_get_contact_url(request)}">お問い合わせ</a>
  </div>
<div><font color="#888888"> &copy; TicketStar, Inc.</font></div>
</div>
</body>
</html>
