<%inherit file="./base.html"/>

<%block name="javascript">
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
<script type="text/javascript">
function pdmp_event() {
  $(".pdmp .methodExplanation").hide();
  // show the info that is already clicked
  var clicked_item = $(".pdmp input[id^='radio']").filter(':checked');
  $(clicked_item).parent().next().show();

  $(".pdmp dt.settlement-list").on('click', function(e) {
    e.preventDefault();
    var clicked_radio = $(this).find("input[id^='radio']");
    var index = $(".pdmp input[id^='radio']").index(clicked_radio);
    var vis_item = $(".pdmp .methodExplanation:visible");

    // uncheck the radio and close the info block when it is clicked again
    if ($(clicked_radio).is(':checked') & $(this).next().is(':visible')) {
      $(clicked_radio).prop('checked', false);
      $(this).next().slideUp();
    } else {
      var do_shift = false;
      var shift = 0;
      // decide whether the position setting needs to include the height of previous info block
      if ($(vis_item).length === 1) {
        var vis_index =  $(".methodExplanation").index($(vis_item));
        // if the index of visible item is less than that of the clicked item.
        do_shift = vis_index < index;
      }

      // set the position to be shifted.
      if (do_shift) {
        var margin = +$(vis_item).css('margin-top').replace("px", "");
        margin += +$(vis_item).css('margin-bottom').replace("px", "");
        shift = $(vis_item).height() + margin;
      }
      $(".pdmp .methodExplanation").slideUp();
      $(this).next().slideDown();
      $(clicked_radio).prop('checked', true);
      // shift the position to show the info properly
      $('html, body').animate({
        scrollTop: $(this).offset().top - shift
      });
    }
  });
}

function sex_event() {
  var ul = $("#sex");
  var radio_item = ul.find("input[type='radio']");
  ul.find("label").on("click", function(e) {
    e.preventDefault();
    var this_radio_item = $(this).parent().find("input[type='radio']");
    if (!this_radio_item.is(":checked")) {
      radio_item.prop("checked", false);
      this_radio_item.prop("checked", true);
    }
  });
}

function extra_radio() {
  var extra_radios = $("input[name^='extra'][type='radio']");

  $.each(extra_radios, function() {
    var parent = $(this).parents("td");
    var radio_item = parent.find("input[type='radio']");
    var label = $(this).parent().find("label");
    label.on("click", function(e) {
      e.preventDefault();
      var this_radio_item = $(this).parent().find("input[type='radio']");
      if (!this_radio_item.is(":checked")) {
        radio_item.prop("checked", false);
        this_radio_item.prop("checked", true);
      }
    });
  });
}

function extra_checkbox() {
  var extra_checkboxes = $("input[name^='extra'][type='checkbox']");

  $.each(extra_checkboxes, function() {
    var li = $(this).parents("li");
    $(this).detach().prependTo(li);
  });
}

function extra_field_event() {
  extra_radio();
  extra_checkbox();
}

$(document).ready(function(){
  pdmp_event();
  sex_event();
  extra_field_event();
});
</script>
</%block>

<%namespace name="fh" module="altair.formhelpers.utils.mako" />
<%
   import altair.app.ticketing.cart.helpers as ch
   import altair.app.ticketing.lots.helpers as h
   %>
<%def name="render_field(field, label=False, _description=None, _note=None, _suffix=u'', **kwargs)">
<%
_description = _description or field.description
_note = _note or field._note
if label is None or label is True:
  label = field.label
%>
<div class="extra-field">
  % if _description:
  <div class="field-description">${_description}</div>
  % endif
  <div class="control-segment">
    ${fh.render(field, **kwargs)}${_suffix}
    % if _note:
    <div class="field-note">${_note}</div>
    % endif
    ${ch.error(field.name)}
  </div>
</div>
</%def>

%if request.session.peek_flash():
<div style="border: 3px solid red; background: #FFEEEE; padding: 10px; margin: 10px;">
  <ul>
    %for message in request.session.pop_flash():
    <li>${message}</li>
    %endfor
  </ul>
</div>
%endif

<div class="confirm-wrap">
  <h2 class="heading heading_simple_line">${_(u'お支払・お引取り方法選択')}</h2>

  <p class="mgb20">
  ${_(u'※このページに記載されている料金はすべて消費税込です。')}<br>
  </p>
  <form method="post" id="wishForm" class="confirmForm" action="${request.route_path('lots.entry.sp_step3', event_id=event.id, lot_id=lot.id)}">
    % for cnt, wish in enumerate(wishes):
      <%
        wish_order = wish['wished_products'][0]['wish_order']
        products = wish['wished_products']
        performance_id = wishes[cnt]['performance_id']
      %>
      <input type="hidden" name="performanceDate-${wish_order}" value="${performance_id}"/>

      % for ii, product in enumerate(products):
        <%
          product_id = product['product_id']
          quantity = product['quantity']
        %>
        <input type="hidden" name="product-id-${wish_order}-${ii}" value="${product_id}"/>
        <input type="hidden" name="product-quantity-${wish_order}-${ii}" value="${quantity}"/>
      % endfor
    % endfor

    <%
      checked_id = request.params.get('payment_delivery_method_pair_id')
      radio_cnt = 0
    %>

    % for m in payment_delivery_pairs:
      <div class="settlement-wrap">
        <dl class="settlement-accordion pdmp">
          <dt class="settlement-list">
            <% checked = 'checked' if str(m.id) == checked_id else '' %>
            <input type="radio" name="payment_delivery_method_pair_id" id=${"radio{}".format(radio_cnt)} value="${m.id}" ${checked} />
            <label for=${"radio{}".format(radio_cnt)}>
              <p class="settlement-list-typeA"><span>${h.payment_method_get_info(custom_locale_negotiator, m, 'name')}</span></p>
              <p class="settlement-list-typeB"><span>${h.delivery_method_get_info(custom_locale_negotiator, m, 'name')}</span></p>
            </label>
          </dt>
          <dd class="settlement-detail methodExplanation">
            <table class="settlement-table">
              <thead><tr><th>${h.payment_method_get_info(custom_locale_negotiator, m, 'name')}</th></tr></thead>
              <tbody>
                <% p_description = h.payment_method_get_info(custom_locale_negotiator, m, 'description') %>
                % if p_description:
                <tr>
                  <td class="fs12">
                    ${p_description|n}

                  </td>
                </tr>
                % endif
                <tr>
                  <td>
                    <p class="commission">${_(u'手数料')}</p>
                    ※${_(h.fee_type(m.payment_method.fee_type))}<br>
                    ${h.format_currency(m.transaction_fee)}
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="settlement-table">
              <thead><tr><th>${h.delivery_method_get_info(custom_locale_negotiator, m, 'name')}</th></tr></thead>
              <tbody>
                <% d_description = h.delivery_method_get_info(custom_locale_negotiator, m, 'description') %>
                % if d_description:
                <tr>
                  <td class="fs12">
                    ${d_description|n}
                  </td>
                </tr>
                % endif
                <tr>
                  <td>
                    <p class="commission">${_(u'手数料')}</p>
                    ※${_(h.fee_type(m.delivery_method.fee_type))}<br>
                    ${h.format_currency(m.delivery_fee)}
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="settlement-table">
              <thead><tr><th>${_(u'上記以外の利用料・手数料')}</th></tr></thead>
              <tbody>
                <tr>
                  <td>
                    % if m.system_fee > 0:
                    <p class="commission">${_(u'システム利用料')}</p>
                    ※${_(h.fee_type(m.system_fee_type))}<br>
                    ${h.format_currency(m.system_fee)}
                    % else:
                    -
                    %endif
                  </td>
                </tr>
              </tbody>
            </table>
          </dd>
        </dl>
      </div>
    % endfor
    <p>${_(u'申込受付完了、確認メール等をメールでご案内します。「tstar.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。')}</p>

    <!-- ===== 購入者情報入力 ===== -->
    <h2 class="heading heading_simple_line">${_(u'購入者情報')}</h2>
    <div class="customerBox">
      <table class="customer-table">
        <tbody>
          <tr>
            <th>
              ${_(u'購入者氏名')}
              % if custom_locale_negotiator=='ja':
                  <br><span>全角</span>
              % endif
            </th>
          </tr>
          <tr>
            <td>
              <p>
                ${form['last_name'].label(class_=u'fs12')}
                ${form['last_name'](placeholder=_(u'例: 山田'))}
                ${h.error_list(request, form, 'last_name')}
              </p>
              <p>
                ${form['first_name'].label(class_=u'fs12')}
                ${form['first_name'](placeholder=_(u'例: 太郎'))}
                ${h.error_list(request, form, 'first_name')}
              </p>
            </td>
          </tr>

          % if custom_locale_negotiator=='ja' or not request.organization.setting.i18n:

          <tr>
            <th>購入者氏名<br><span>全角カナ</span></th>
          </tr>
          <tr>
            <td>
              <p>
                ${form['last_name_kana'].label(class_=u'fs12')}
                ${form['last_name_kana'](placeholder=_(u'例: ヤマダ'))}
                ${h.error_list(request, form, 'last_name_kana')}
              </p>
              <p>
                ${form['first_name_kana'].label(class_=u'fs12')}
                ${form['first_name_kana'](placeholder=_(u'例: タロウ'))}
                ${h.error_list(request, form, 'first_name_kana')}
              </p>
            </td>
          </tr>

          % endif

          <tr>
            <th>
              ${form['email_1'].label}
              <br><span>${_(u"半角英数")}</span>
            </th>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  ${form['email_1'](placeholder=_(u'例）mail@example.ne.jp'), style=u"ime-mode:disabled;")}
                  ${h.error_list(request, form, 'email_1')}
                </li>
                <li>
                  ${form['email_1_confirm'](placeholder=_(u'例）mail@example.ne.jp'), style=u"ime-mode:disabled;")}
                  ${form['email_1_confirm'].label(class_=u'fs12')}
                  ${h.error_list(request, form, 'email_1_confirm')}
                  <!--<label for="email_1_confirm"><span class="fs12">${_(u'確認用')}</span></label>-->
                </li>
              </ul>
              <p class="annot">${_(u'申込受付完了、確認メール等をメールでご案内します。「tstar.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。')}</p>
            </td>
          </tr>
          <tr>
            <th>
              ${form['tel_1'].label}
              <br><span>${_(u'半角数字')}</span>
            </th>
          </tr>
          <tr>
            <td>
              ${form['tel_1'](placeholder=_(u'例: 080xxxxyyyy'), style=u"ime-mode:disabled;")}
              ${h.error_list(request, form, 'tel_1')}
            </td>
          </tr>
          % if form.mobile_and_landline_phone_number:
          <tr>
            <th>
              ${form['tel_2'].label}
              <br><span>${_(u'半角数字')}</span>
            </th>
          </tr>
          <tr>
            <td>
              ${form['tel_2'](placeholder=_(u'例: 080xxxxyyyy'), style=u"ime-mode:disabled;")}
              ${h.error_list(request, form, 'tel_2')}
            </td>
          </tr>
          % endif
          <tr>
            <th>${_(u'住所')}</th>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  <p>
                  % if request.organization.setting.i18n:
                    ${form['country'].label(class_=u'fs12')}
                    ${form['country']}
                    ${h.error_list(request, form, 'country')}
                  % endif
                  </p>
                </li>
                <li>
                  ${form['zip'].label(class_=u'fs12')}
                  % if custom_locale_negotiator=='ja' or not request.organization.setting.i18n:
                    <% path = request.static_url('altair.app.ticketing.cart:static/js/zipdata') %>
                    ${form['zip'](onKeyUp="AjaxZip3.zip2addr('" + path + "', 'zip','','prefecture','city','', 'address_1');", placeholder=_(u'例: 1030001'))}
                  % else:
                    ${form['zip'](placeholder=_(u'例: 1030001'))}
                  % endif
                  ${h.error_list(request, form, 'zip')}
                </li>
                <li>
                  ${form['prefecture'].label(class_=u'fs12')}
                  ${form['prefecture'](placeholder=_(u'例: 東京都'))}
                  ${h.error_list(request, form, 'prefecture')}
                </li>
                <li>
                  ${form['city'].label(class_=u'fs12')}
                  ${form['city'](placeholder=_(u'例: 中央区'))}
                  ${h.error_list(request, form, 'city')}
                </li>
                <li>
                  ${form['address_1'].label(class_=u'fs12')}
                  ${form['address_1'](placeholder=_(u'例: 日本橋x-xx-xx'), style=u"width:  80%;")}
                  ${h.error_list(request, form, 'address_1')}
                </li>
                <li>
                  ${form['address_2'].label(class_=u'fs12')}
                  ${form['address_2'](placeholder=_(u'例: yyビルz階'), style=u"width: 80%;")}
                  ${h.error_list(request, form, 'address_2')}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>
              ${_(u'生年月日')}
            </th>
          </tr>
          <tr>
            <td>
              ${form['birthday']}
              ${h.error_list(request, form, 'birthday')}
            </td>
          </tr>
          <tr>
            <th>
              ${form['sex'].label}
            </th>
          </tr>
          <tr>
            <td>
              ${form['sex']}
              ${h.error_list(request, form, 'sex')}
            </td>
          </tr>
          % for field in form['extra']._contained_form:
            % if not field.short_name in {'member_type'}:
            <tr>
              <th>
                ${field.label}
              </th>
            </tr>
            <tr>
              <td>
                ${render_field(field)}
              </td>
            </tr>
            % endif
          % endfor
        </tbody>
      </table>
    </div>
    <div class="mgt20 mgb20 tac">
      <input type="submit" class="btn btn-primary" value="${__(u'次へ')}" />
    </div>
  </form>
</div>