<%namespace name="fh" module="altair.formhelpers.utils.mako" />
<%doc>
  pager template
</%doc>
<%!  from webhelpers.paginate import Page %>
<%!  from wtforms.fields import HiddenField %>
<%def name="pager(items, url='%s')">
  % if isinstance(items, Page):
  <p>${max(items.items_per_page * (items.page-1) + 1,0)}～${min(items.items_per_page * items.page, items.item_count)} / ${items.item_count}件</p>
  <div class="pagination-centered">
    ${items.pager(format='$link_previous ~2~ $link_next',
                  link_attr={"class": "btn small"},
                  curpage_attr={"class": "btn primary small disabled"},
                  dotdot_attr={"class": "btn small disabled"},
                  onclick=url + "; return false;")}
  </div>
  % endif
</%def>

<%doc>
  checks validate errors, if any validate errors, adds as span
</%doc>
<%def name="validate_errors(f)">
  % for error in f.errors:
    <span class="help-inline">${error}</span>
  % endfor
</%def>

<%def name="alert_message(f, escape=True)">
  % if f.errors:
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&times;</a>
      <h4 class="alert-heading">エラー</h4>
      % for field in f:
        % if field.errors:
          <ul>
          % for e in field.errors:
            <li>
              % if field.label.text:
                ${field.label.text} :
              % endif
              % if escape:
                ${e}
              % else:
                ${e|n}
              % endif
            </li>
          % endfor
          </ul>
        % endif
      % endfor
    </div>
  % endif
</%def>

<%def name="flash_messages(request, type='alert-success')">
  % if request.session.peek_flash():
    <div class="alert ${type}">
      <a class="close" data-dismiss="alert">&times;</a>
      % for message in request.session.pop_flash():
        <h4 class="alert-heading">${message}</h4>
      % endfor
    </div>
  % endif
</%def>

<%def name="form_item(item, help=None, label=True, error_next_line=False, **options)">
  <% from wtforms.widgets import CheckboxInput %>
  <% from altair.formhelpers import CheckboxMultipleSelect %>
  <% hide_on_new = getattr(item, 'hide_on_new', False) %>
  % if not getattr(getattr(item, 'form', None), 'new_form', False) or not hide_on_new:
  <% if hide_on_new: options['data-hide-on-new'] = 'hide-on-new' %>
  <% classes = [] %>
  <% if item.flags.required: classes.append('required') %>
  <div class="control-group ${'error' if item.errors else ''}">
    % if isinstance(item.widget, CheckboxInput):
      <div class="controls">
        ${fh.render(item, **options)}
        %if label:
        <label class="${u' '.join(classes + [u'inline'])}" for="${item.id}">
          ${(help or u'')|n}
          ${label if label and label is not True else item.label.text}
        </label>
        %endif

        %if error_next_line:
        <br/>
        %endif

        ${validate_errors(item)}
      </div>
    % elif isinstance(item.widget, CheckboxMultipleSelect):

      %if label:
      <label class="${u' '.join(classes + [u'control-label'])}" for="${item.id}">
        ${(help or u'')|n}
        ${label if label and label is not True else item.label.text}
      </label>
      %endif

      <div class="controls">
        ${fh.render(item, **options)}
        %if error_next_line:
        <br/>
        %endif
        ${validate_errors(item)}
      </div>
    % else:
      % if not isinstance(item, HiddenField):

        %if label:
        <label class="${u' '.join(classes + [u'control-label'])}" for="${item.id}">
          ${(help or u'')|n}
          ${label if label and label is not True else item.label.text}
        </label>
        %endif

      % endif
      <% add_on = options.pop('add_on', None) %>
      <% counter = options.pop('counter', None) %>
      <div class="controls ${'input-prepend' if add_on else ''}">
        % if add_on:
        <span class="add-on">${add_on}</span>
        % endif
        ${fh.render(item, **options)}
        % if counter and 'maxlength' in options:
        あと<span class="counter"></span>文字
        <script type="text/javascript">
          $(function(){
            $('#${item.id}').keyup(function(){
              var item = $(this);
              item.parent().find('.counter').text(item.attr('maxlength') - item.val().length);
            }).keyup();
          });
        </script>
        % endif
        %if error_next_line:
        <br/>
        %endif
        ${validate_errors(item)}
      </div>
    % endif
  </div>
  % endif
</%def>

<%def name="seat_style(style)">
<%
  fill_color = '#FFFFFF'
  text_color = '#000'
  stroke_width = ''
  stroke_pattern = ''
  stroke_color = ''
  text = ''
  if style:
    fill = style.get('fill')
    if fill:
        fill_color = fill.get('color')
    text = style.get('text', '')
    text_color = style.get('text_color')
    stroke = style.get('stroke')
    if stroke:
        stroke_width = stroke.get('width')
        stroke_pattern = stroke.get('pattern')
        stroke_color = stroke.get('color')
%>
  <span class="swatch" style="text-color:${text_color}; border: ${stroke_width}px ${stroke_pattern} ${stroke_color}; background-color: ${fill_color}; text-align: center">${text}</span>
</%def>

<%def name="breadcrumbs(names=[], urls=[], length=20)">
<ul class="breadcrumb">
  % for i in xrange(len(urls)):
  <li><a href="${urls[i]}">${names[i][:length]}${'...' if len(names[i]) > length else ''}</a><span class="divider">/</span></li>
  % endfor
  <li>${names[-1]}</li>
</ul>
</%def>
<%def name="sortable(column, paging=True)">
<%
column_name = HH.column_name_for(column)
column_label = HH.label_text_for(column)
%>
% if paging:
<%
  sort_column = request.GET.get('sort')
  sort_direction = request.GET.get('direction')
  direction = 'desc' if (column_name == sort_column and sort_direction == 'asc') else 'asc'
  css_class = 'current ' + direction if (column_name == sort_column) else ''
  query = dict(request.GET)
  query['sort'] = column_name
  query['direction'] = direction
%>
  <a href="${request.current_route_path(_query=query)}" class="${css_class}">${column_label}</a>
% else:
  ${column_label}
% endif
</%def>

<%def name="help(field, text=None)">
<%
  if text is None and hasattr(field, 'help'):
      text = field.help
  return u'''
    <span class="help-inline">
      <a rel="popover" data-original-title="%s" data-content="%s" >
        <i class="icon-question-sign"></i>
      </a>
    </span>
  ''' % (field.label.text, text)
%>
</%def>
