<%namespace name="fh" module="altair.formhelpers.utils.mako" />
<%doc>
  pager template
</%doc>
<%!  from webhelpers.paginate import Page %>
<%!  from wtforms.fields import HiddenField %>
<%def name="pager(items, url='%s')">
  % if isinstance(items, Page):
  <p>${max(items.items_per_page * (items.page-1) + 1,0)}～${min(items.items_per_page * items.page, items.item_count)} / ${items.item_count}件</p>
  <div class="pagination-centered">
    ${items.pager(format='$link_previous ~2~ $link_next',
                  link_attr={"class": "btn small"},
                  curpage_attr={"class": "btn primary small disabled"},
                  dotdot_attr={"class": "btn small disabled"},
                  onclick=url + "; return false;")}
  </div>
  % endif
</%def>

<%doc>
  checks validate errors, if any validate errors, adds as span
</%doc>
<%def name="validate_errors(f)">
  % for error in f.errors:
    <span class="help-inline" style="color:red">${error}</span>
  % endfor
</%def>

<%def name="alert_message(f, escape=True)">
  % if f.errors:
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&times;</a>
      <h4 class="alert-heading">エラー</h4>
      % for field in f:
        % if field.errors:
          <ul>
          % for e in field.errors:
            <li>
              % if field.label.text:
                ${field.label.text} :
              % endif
              % if escape:
                ${e}
              % else:
                ${e|n}
              % endif
            </li>
          % endfor
          </ul>
        % endif
      % endfor
    </div>
  % endif
</%def>

<%def name="flash_messages(request, type='alert-success')">
  % if request.session.peek_flash():
    <div class="alert ${type}">
      <a class="close" data-dismiss="alert">&times;</a>
      % for message in request.session.pop_flash():
        <h4 class="alert-heading">${message}</h4>
      % endfor
    </div>
  % endif
</%def>

<%def name="form_item(item, help=None, label=True, error_next_line=False, **options)">
  <% from wtforms.widgets import CheckboxInput %>
  <% from altair.formhelpers import CheckboxMultipleSelect %>
  <% from altair.formhelpers.widgets import OurDateTimeWidget %>
  <% from altair.formhelpers.widgets.datetime import OurTimeWidget %>
  <% hide_on_new = getattr(item, 'hide_on_new', False) %>
  % if not getattr(getattr(item, 'form', None), 'new_form', False) or not hide_on_new:
  <% if hide_on_new: options['data-hide-on-new'] = 'hide-on-new' %>
  <% classes = [] %>
  <% if item.flags.required: classes.append('required') %>
  <div class="control-group ${'error' if item.errors else ''}">
    % if isinstance(item.widget, CheckboxInput):
      <div class="controls">
        ${fh.render(item, **options)}
        %if label:
        <label class="${u' '.join(classes + [u'inline'])}" for="${item.id}">
          ${(help or u'')|n}
          ${label if label and label is not True else item.label.text}
        </label>
        %endif

        %if error_next_line:
        <br/>
        %endif

        ${validate_errors(item)}
      </div>
    % elif isinstance(item.widget, CheckboxMultipleSelect):

      %if label:
      <label class="${u' '.join(classes + [u'control-label'])}" for="${item.id}">
        ${(help or u'')|n}
        ${label if label and label is not True else item.label.text}
      </label>
      %endif

      <div class="controls">
        ${fh.render(item, **options)}
        %if error_next_line:
        <br/>
        %endif
        ${validate_errors(item)}
      </div>
    % else:
      % if not isinstance(item, HiddenField):

        %if label:
        <label class="${u' '.join(classes + [u'control-label'])}" for="${item.id}">
          ${(help or u'')|n}
          ${label if label and label is not True else item.label.text}
        </label>
        %endif

      % endif
      <% add_on = options.pop('add_on', None) %>
      <% counter = options.pop('counter', None) %>
      <div class="controls ${'input-prepend' if add_on else ''}">
        % if add_on:
        <span class="add-on">${add_on}</span>
        % endif
        ${fh.render(item, **options)}
        % if counter and 'maxlength' in options:
        あと<span class="counter"></span>文字
        <script type="text/javascript">
          $(function(){
            $('#${item.id}').keyup(function(){
              var item = $(this);
              item.parent().find('.counter').text(item.attr('maxlength') - item.val().length);
            }).keyup();
          });
        </script>
        % endif
        %if error_next_line:
        <br/>
        %endif
        ${validate_errors(item)}
      </div>

      <%
        time = options.pop('time', None)
        date_time = options.pop('date_time', None)
      %>
      % if isinstance(item.widget, OurDateTimeWidget) and date_time:
        <script>
        $('#${item.id}\\.year').val(${date_time.strftime("%Y")});
        $('#${item.id}\\.month').val(${date_time.strftime("%m")});
        $('#${item.id}\\.day').val(${date_time.strftime("%d")});
        $('#${item.id}\\.hour').val(${date_time.strftime("%H")});
        $('#${item.id}\\.minute').val(${date_time.strftime("%M")});
        </script>
      % endif
      % if isinstance(item.widget, OurTimeWidget) and time:
        <script>
        $('#${item.id}\\.hour').val(${time.strftime("%H")});
        $('#${item.id}\\.minute').val(${time.strftime("%M")});
        $('#${item.id}\\.second').val(${time.strftime("%S")});
        </script>
      % endif

    % endif
  </div>
  % endif
</%def>

<%def name="seat_style(style)">
<%
  fill_color = '#FFFFFF'
  text_color = '#000'
  stroke_width = ''
  stroke_pattern = ''
  stroke_color = ''
  text = ''
  if style:
    fill = style.get('fill')
    if fill:
        fill_color = fill.get('color')
    text = style.get('text', '')
    text_color = style.get('text_color')
    stroke = style.get('stroke')
    if stroke:
        stroke_width = stroke.get('width')
        stroke_pattern = stroke.get('pattern')
        stroke_color = stroke.get('color')
%>
  <span class="swatch" style="text-color:${text_color}; border: ${stroke_width}px ${stroke_pattern} ${stroke_color}; background-color: ${fill_color}; text-align: center">${text}</span>
</%def>

<%def name="breadcrumbs(names=[], urls=[], length=20)">
<ul class="breadcrumb">
  % for i in xrange(len(urls)):
  <li><a href="${urls[i]}">${names[i][:length]}${'...' if len(names[i]) > length else ''}</a><span class="divider">/</span></li>
  % endfor
  <li>${names[-1]}</li>
</ul>
</%def>
<%def name="sortable(column, paging=True, custom_label=None)">
<%
column_name = HH.column_name_for(column)
column_label = custom_label or HH.label_text_for(column)
%>
% if paging:
<%
  sort_column = request.GET.get('sort')
  sort_direction = request.GET.get('direction')
  direction = 'desc' if (column_name == sort_column and sort_direction == 'asc') else 'asc'
  css_class = 'current ' + direction if (column_name == sort_column) else ''
  query = dict(request.GET)
  query['sort'] = column_name
  query['direction'] = direction
%>
  <a href="${request.current_route_path(_query=query)}" class="${css_class}">${column_label}</a>
% else:
  ${column_label}
% endif
</%def>

<%def name="help(field, text=None)">
<%
  if text is None and hasattr(field, 'help'):
      text = field.help
  return u'''
    <span class="help-inline">
      <a rel="popover" data-original-title="%s" data-content="%s" >
        <i class="icon-question-sign"></i>
      </a>
    </span>
  ''' % (field.label.text, text)
%>
</%def>

<%def name="unordered_list_up(str_list)">
% if len(str_list) != 0:
<ul>
    % for s in str_list:
    <li>${s}</li>
    % endfor
</ul>
% endif
</%def>

<%def name="display_cart_lot_url(event_setting, auth_types, url, whattime_url, whattime_text, id_suffix='')">
  <%
    """カート、SPAカート、抽選カートURL表示を認証方式によって切り替えます。
    :param event_setting: EventSetting model
    :param auth_types: 認証方式名のリスト
    :param url: カート、抽選カートのURL
    :param whattime_url: 時間指定プレビューのURL
    :param whattime_text: 時間指定プレビューのリンクテキスト
    :param id_suffix: html タグの id 名の suffix

    キーワード認証
      キーワード認証でアクセスするかどうか選択できるチェックボックスを表示します。

    外部会員番号取得キーワード認証
      会員番号とメールアドレスの入力フォームと会員情報でアクセスするかどうか選択できるチェックボックスを表示します。
    """
    from altair.app.ticketing.authentication.plugins.externalmember import EXTERNALMEMBER_AUTH_IDENTIFIER_NAME
    from altair.app.ticketing.authentication.plugins.privatekey import PRIVATEKEY_AUTH_IDENTIFIER_NAME

    if id_suffix:
      id_suffix = '_' + id_suffix
  %>

  %if EXTERNALMEMBER_AUTH_IDENTIFIER_NAME in auth_types:
    <div>
      <form action="${url}" method="post" id="externalMemberAuthForm${id_suffix}" class="form-inline">
        <div>
          <button type="submit" class="btn-link reusable-btn">${url}</button>  (<a href="${whattime_url}">${whattime_text}</a>)<button type="button" class="copy_to_clipboard btn-link" value=${url}>URLをコピー</button>
        </div>
        <br/>
        <input type="hidden" name="raw_keyword" value="${event_setting.cart_setting.ticketing_auth_key}">
        <input type="hidden" name="enc_url" value="${request.route_url('externalmember.auth.internal_encryption')}">
        <div class="form-group">
          <label for="raw_member_id${id_suffix}" class="sr-only">会員番号</label>
          <input id="raw_member_id${id_suffix}" name="raw_member_id" class="form-control" type="text" placeholder="会員番号">
        </div>
        <div class="form-group">
          <label for="raw_email_address${id_suffix}" class="sr-only">メールアドレス</label>
          <input id="raw_email_address${id_suffix}" name="raw_email_address" class="form-control" type="email" placeholder="メールアドレス">
        </div>
        <div class="form-group">
          <label for="externalmemberCheckbox${id_suffix}">
            <input id="externalmemberCheckbox${id_suffix}" type="checkbox" onchange="encrypt_externalmember_data(this)">
            <span class="align-middle">外部会員でアクセスする</span>
          </label>
          <span class="help-inline">
            <a rel="popover" data-original-title="外部会員番号取得キーワード認証"
               data-content="キーワード認証のキーと会員番号（必須）を暗号化して認証します。
               任意の会員番号を入力して「外部会員でアクセスする」にチェックを入れてください。メールアドレスも任意で入力すると購入者情報のメールアドレスが自動入力されます。">
              <i class="icon-question-sign"></i>
            </a>
          </span>
        </div>
        <div class="mt-10px mb-10px">
          <p class="help-inline">販売区分グループに紐づく会員区分で一番上に表示されている区分が予約情報と抽選情報のユーザー情報の会員種別と区分になります。</p>
        </div>
      </form>
    </div>
  % elif PRIVATEKEY_AUTH_IDENTIFIER_NAME in auth_types:
    <div>
      <form action="${url}" method="post" id="privateKeyAuthForm${id_suffix}" class="form-inline">
        <div>
          <button type="submit" class="btn-link reusable-btn">${url}</button>  (<a href="${whattime_url}">${whattime_text}</a>) <button type="button" class="copy_to_clipboard btn-link" value=${url}>URLをコピー</button>
        </div>
        <br/>
        <input type="hidden" name="keyword" value="${event_setting.cart_setting.ticketing_auth_key or ''}" disabled>
        <div class="form-group">
          <label for="privateKeyCheckbox${id_suffix}">
            <input id="privateKeyCheckbox${id_suffix}" type="checkbox" onchange="$(this).closest('form').find('input[name=keyword]').attr('disabled', !$(this).is(':checked'))">
            <span class="align-middle">キーワード認証でアクセスする</span>
          </label>
          <span class="help-inline">
            <a rel="popover" data-original-title="キーワード認証" data-content="キーワード認証のキーを使って認証します。「キーワード認証でアクセスする」にチェックを入れてください。">
              <i class="icon-question-sign"></i>
            </a>
          </span>
        </div>
      </form>
    </div>
  % else:
    <a href="${url}">${url}</a>  (<a href="${whattime_url}">${whattime_text}</a>)
  %endif
</%def>