<%doc>
  delete confirm dialog with confirm question
</%doc>
<%def name="delete_modal(label_delete=u'削除', label_cancel=u'キャンセル', id='modal-delete')">
  <div id="${id}" class="modal hide">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>確認</h3>
    </div>

    <div class="modal-body">
      <p id="message"></p>
      %if caller:
        ${caller.body()}
      %endif
    </div>

    <div class="modal-footer">
      <a href="javascript:void(0);" onclick="$('#${id}').modal('hide');" class="btn secondary">${label_cancel}</a>
      <a id="delete" href="" class="btn btn-danger">${label_delete}</a>
    </div>
  </div>
</%def>

<%doc>
  confirm dialog with confirm question
</%doc>
<%def name="confirm_modal(label_confirm=u'実行', label_return=u'戻る', no_outer_form_element=False)">
<div id="modal-confirm" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p class="message"></p>
  </div>

  <div class="modal-footer">
    <script type="text/javascript">
      $(function() {
        $('form[name="modal-confirm-form"]').disableOnSubmit();
      });
    </script>
    % if not no_outer_form_element:
    <form name="modal-confirm-form" action="" method="get" style="margin-bottom: 0;">
    % endif
      <input type="button" value="${label_return}" class="btn secondary" onclick="$('#modal-confirm').modal('hide'); return false;">
      <input type="submit" value="${label_confirm}" class="btn btn-danger" />
    % if not no_outer_form_element:
    </form>
    % endif
  </div>
</div>
</%def>
