<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
${ch.breadcrumbs(
  names=[u'トップ', u'メールマガジン'],
  urls=[request.route_path('index')]
)}
</%block>

<div class="page-header">
  <h3>メールマガジン</h3>
</div>

<div class="mailmags">
  <a href="${request.route_path('mailmags.new')}" class="btn">新規メールマガジン</a>
  <table class="table">
    <thead>
      <tr>
        <th>メールマガジン名</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
      </tr>
  % for mailmag in mailmags.items:
      <tr>
        <td>
          <a href="${request.route_path('mailmags.show', id=mailmag.id)}">${mailmag.name}</a>
        </td>
        <td>
          ${(mailmag.description or u'')|n}
        </td>
      </tr>
  % endfor
    </tbody>
  </table>
  ${ch.pager(mailmags)}
</div>
