<%inherit file="../commons/layout_mobile.html" />
<%namespace file="../commons/tags_mobile.html" name="mobile" />
<%mobile:header>楽天会員の方はこちら</%mobile:header>
<form method="get" action="${request.route_path('mypage.show')}">
<input type="submit" value="次に進む" />
</form>

<%mobile:header>一般の方のチケット確認</%mobile:header>
<form method="get" action="${request.route_path('guest.order_review.form')}">
<input type="submit" value="次に進む" />
</form>

<%mobile:header>一般の方の抽選結果確認</%mobile:header>
<form method="get" action="https://rt.tstar.jp/lots/review">
<input type="submit" value="次に進む" />
</form>
