<%page args="performance" />

<script type="text/javascript">
  function load_modal_form(modal, form, url) {
    $.ajax({
      type: 'get',
      url: url,
      success: function(data) {
        $(form).html(data);
        $(modal).modal('toggle');
      },
      dataType: 'html'
    });
  }
  function allocate_number(id) {
    var modal = '#modal-stock';
    var form = '#stocks-form';
    var url = '/events/stocks/edit/${performance.id}/' + id;
    load_modal_form(modal, form, url);
  }
  function save_allocate_number() {
    var modal = '#modal-stock';
    var form = '#stocks-form';
    var url = '/events/stocks/allocate_number';
    post_modal_form(modal, form, url);
  }
</script>
