<%page args="forms, allocation_counts=None" />
<%namespace file="/common/helpers.html" name="h" />

<div id="modal-stock" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>席数</h3>
  </div>

  <form>
    <div class="modal-body">
    ${h.form_item(forms.performance_id)}
    ${h.form_item(forms.stock_holder_id)}
    % for f in forms.stock_forms:
      ${f.form.stock_type_name.data}
      ${h.form_item(f.form.stock_type_name)}
      ${h.form_item(f.form.id)}
      ${h.form_item(f.form.stock_holder_id)}
      ${h.form_item(f.form.stock_type_id)}

      ${h.form_item(f.form.quantity, option={'style':'float: left;'})}
      % if allocation_counts:
        <% ac = allocation_counts.get(int(f.form.stock_type_id.data)) %>
        % if ac:
          <% sum = ac.get('sum') - int(f.form.quantity.data or 0) %>
        　/ 残り <span id="remaining">${ac.get('total') - (sum if sum > 0 else 0)}</span>
      　　(合計 <span id="total">${ac.get('total')}</span>)
        % endif
      % endif
      <div style="clear: left;"></div>
      % endfor
    </div>
  </form>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:save_allocate_number();" class="btn">保存</a>
  </div>
</div>
