<%page args="forms" />
<%namespace file="/common/helpers.html" name="h" />

<div id="modal-stock" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>席数</h3>
  </div>

  <form>
    <div class="modal-body">
    ${h.form_item(forms.stock_holder_id)}
    % for f in forms.stock_forms:
      ${f.form.stock_type_name.data}
      ${h.form_item(f.form.stock_type_name)}
      ${h.form_item(f.form.id)}
      ${h.form_item(f.form.stock_holder_id)}
      ${h.form_item(f.form.stock_type_id)}
      ${h.form_item(f.form.quantity)}
    % endfor
    </div>
  </form>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:save_allocate_number();" class="btn">保存</a>
  </div>
</div>
