<ul class="buttonset _4cols">
  <li><a href="https://grp01.id.rakuten.co.jp/rms/nid/registfwd?service_id=top" class="button embedded first icon-r"><i class="icon rlogo"></i>会員登録</a></li>
  <li><a href="https://rt.tstar.jp/orderreview" class="button embedded"><i class="icon orderreview"></i>抽選購入確認</a></li>
  <li><a href="http://emagazine.rakuten.co.jp/#122" class="button embedded"><i class="icon mailmag"></i>メルマガ登録</a></li>
  <li><a href="${request.route_path('smartphone.page',kind='canceled')}" class="button embedded"><i class="icon okng"></i>公演中止情報</a></li>
</ul>
