<%inherit file="layout.html" />
<%namespace file="../../__commons__/mobile/tags_mobile.html" name="mobile" />
<%namespace file="../../__commons__/mobile/helper.html" name="h" />

<div class="purchased">

<div class="security_box">
  <span class="security_body" style="background-color:${coupon_security.color}">
    ${coupon_security.security_number}
  </span>
</div>

<div>${order.performance.event.title}</div>
<div>【${order.performance.name}】${u'{s.month}月{s.day}日 {s.hour:02}:{s.minute:02}'.format(s=order.performance.start_on)}</div>
<br/>

<%mobile:form_header>受付番号</%mobile:form_header>
<div>${order.order_no}</div>
<br/>

<%mobile:form_header>ご購入チケット</%mobile:form_header>
${h.render_coupon(order)}
</div>

${h.render_all_coupon_button(order)}
