<%inherit file="./base.html" />

  %if request.session.peek_flash():
  <div style="border: 3px solid red; background: #FFEEEE; padding: 10px; margin: 10px;">
    <ul>
      %for message in request.session.pop_flash():
      <li>${message}</li>
      %endfor
    </ul>
  </div>
  %endif

<div class="confirm-wrap">
  <form method="post" id="wishForm" class="confirmForm" action="${request.route_path('lots.entry.sp_step2', event_id=event.id, lot_id=lot.id)}">
    <div class="confirm-wrap">
      <h2 class="heading heading_simple_line">${__(u'希望選択')}</h2>
      <div class="settlementBoxInner">
        % for i in range(lot.limit_wishes):
        <div class="settlementSelectBox mgt10">
          <div class="settlementSelectBoxInner">
            <table class="chooser" summary="${__(u'希望する公演と券種の選択')}" id="wish-cell-table-${i}">
              <tbody>
                <tr>
                  <th>${__(u'第{0}希望').format(i+1)}</th>
                </tr>
                <tr>
                  <td>
                    %if len(performance_map) == 1:
                    <input type="hidden" name="performanceName-${i}" value="${performance_map[0][1]}" />
                    %else:
                    <select name="performanceName-${i}" data-wishOrder="${i}" class="performance-name-select">
                    %for performance_name, _ in performance_map:
                      % if selected_performance:
                        % if (_[0]['name'] == selected_performance.name) and (i == 0):
                        <option value="${performance_name}" selected>${performance_name}</option>
                        % else:
                        <option value="${performance_name}">${performance_name}</option>
                        % endif
                      % else:
                      <option value="${performance_name}">${performance_name}</option>
                      % endif
                    %endfor
                    </select>
                    %endif
                  </td>
                </tr>
                <tr>
                  <th>${__(u'公演日・会場').format(i+1)}</th>
                </tr>
                <tr>
                  <td>
                    <select name="performanceDate-${i}" data-wishOrder="${i}" class="performance-date-select">
                    %for performance in performances:
                      % if selected_performance:
                        % if (performance.id == selected_performance.id) and (i == 0):
                        <option value="${performance.id}" selected>${h.performance_date_label(performance)}</option>
                        % else:
                        <option value="${performance.id}">${h.performance_date_label(performance)}</option>
                        % endif
                      % else:
                      <option value="${performance.id}">${h.performance_date_label(performance)}</option>
                      % endif
                    %endfor
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>
                    ${__(u'席種')}
                  </th>
                </tr>
                <tr>
                  <td>
                    <select name="stockType-${i}" data-wishOrder="${i}" class="stock-type-select">
                    %for rec in stock_types:
                    <option value="${rec['id']}">${rec['name']}</option>
                    %endfor
                    </select>
                    <div class="stock-type-description"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        % endfor
      </div>
    </div>
    <hr />
    <div class="mgt20 mgb20 tac">
      <input type="submit" class="btn btn-primary" value="${__(u'次へ')}" />
    </div>
  </form>
</div>
<%def name="product_select_tmpl()">
</%def>
<%block name="javascript">
<script type="text/javascript">
var product_select_tmpl = _.template(decodeURIComponent('${capture(product_select_tmpl)|u,n}'.replace(/\+/g, ' ')));
var stockTypes = ${h.tojson(stock_types)|n};
var performanceProductMap = ${h.tojson(performance_product_map)|n};
var postedValues = ${h.tojson(posted_values)|n};
var upperLimit = ${sales_segment.max_quantity};
var performanceMap = ${h.tojson(performance_map)|n};
var selected_performance_id = 0;
% if selected_performance:
    selected_performance_id = ${selected_performance.id};
% endif

(function($wishForm) {
    function cellTableId(n) {
        return 'wish-cell-table-' + n
    }

    function build_product_selection(parent, data) {
        var wishOrder = data['wishOrder'];
        var products = data['products'];
        var ticket_label = data['ticket_label'];
        var ticket_unit = data['ticket_unit'];

        $.each(products, function(i, product) {
            var quantityField = "product-quantity-" + wishOrder + "-" + i + "";
            var tr = $("<tr></tr>").addClass("product-select-tr" + (i + 1 == products.length ? " settlementSelectEnd":""));;
            $("<th></th>").append(i == 0 ? $("<label></label>").text(ticket_label) : "&nbsp;").appendTo(tr);
            parent.append(tr);

            var tr = $("<tr></tr>").addClass("product-select-tr" + (i + 1 == products.length ? " settlementSelectEnd":""));;
            var td = $("<td></td>").appendTo(tr);
            td.append($("<input>").attr("type", "hidden")
                                  .attr("name", "product-id-" + wishOrder + "-" + i)
                                  .val(product.id));

            var product_selection = $("<div></div>").addClass("product-name-price-quantity").appendTo(td);
            product_selection.append($("<span></span>").addClass("product-name").text(product.name + " "));
            product_selection.append($("<span></span>").addClass("product-price").text(product.formatted_price + " × "));
            var select = $("<select></select>").attr("name", quantityField).appendTo(product_selection);
            select.append("<option></option>");
            for (var k = 0; k < upperLimit; k++) {
                var option = $("<option></option>");
                option.val(k + 1).text(k + 1).appendTo(select);
            }
            product_selection.append(" " + ticket_unit);

            if (product.description) {
                $("<span></span>").addClass("product-description").text(product.description).appendTo(td);
            }

            parent.append(tr);
        });
    }

    function refreshProducts(dateSelect, stockTypeSelect) {
        var products = [];
        var performanceId = $(dateSelect).val();
        var stockTypeId = stockTypeSelect.val();
        $.each(performanceProductMap[performanceId], function (_, product) {
            if (product.stock_type_id == stockTypeId)
                products.push(product);
        });
        var wishOrder = $(dateSelect).data('wishorder');
        var wishCellTableId = cellTableId(wishOrder);
        var rows = $("#" + wishCellTableId + " tbody tr.product-select-tr");
        rows.remove();
        if (!products) {
            return;
        }

        build_product_selection($("#" + wishCellTableId + " tbody"), {wishOrder: wishOrder, products: products, ticket_label: "${__(u'券種')}", ticket_unit: "${__(u'枚')}" });
        var html = product_select_tmpl({wishOrder: wishOrder, products: products});
        $("#" + wishCellTableId + " tbody").append(html);

        for (var i = 0; i < stockTypes.length; i++) {
            var stockType = stockTypes[i];
            if (stockType.id == stockTypeId) {
                $(stockTypeSelect.parent().find('.stock-type-description')).html(stockType.description);
            }
        }
    }

    function refreshStockTypeSelection(dateSelect, stockTypeSelect) {
        var performanceId = dateSelect.val();
        var filteredStockTypeIds = {};
        var products = performanceProductMap[performanceId];
        for (var i = 0; i < products.length; i++)
            filteredStockTypeIds[products[i].stock_type_id] = true;
        stockTypeSelect.empty();
        for (var i = 0; i < stockTypes.length; i++) {
            var stockType = stockTypes[i];
            if (stockType.id in filteredStockTypeIds)
                stockTypeSelect.append($('<option></option>').attr('value', stockType.id).text(stockType.name));
        }
    }

    function refreshDateSelection(performanceNameSelect, dateSelect, selected_id) {
        var selectedPerformanceName = performanceNameSelect.val();
        for (var i = 0; i < performanceMap.length; i++) {
            if (performanceMap[i][0] == selectedPerformanceName) {
                choices = performanceMap[i][1];
            }
        }
        dateSelect.empty();
        for (var i = 0; i < choices.length; i++) {
            var choice = choices[i];
            if (selected_id == choice.id) {
                dateSelect.append($('<option></option>').attr('value', choice.id).attr({ selected: "selected" }).text(choice.label));
            } else {
                dateSelect.append($('<option></option>').attr('value', choice.id).text(choice.label));
            }
        }
    }

    function getPerformanceIdAndStockTypeIdFromProductId(productId) {
        for (var performanceId in performanceProductMap) {
            var datum = performanceProductMap[performanceId];
            for (var i = 0; i < datum.length; i++) {
                if (datum[i].id == productId)
                    return [performanceId, datum[i].stock_type_id];
            }
        }
    }

    var PRODUCT_ID_RE = /^product-id-(\d+)-(\d+)$/;
    function updateSelection(values) {
        for (var key in values) {
            matches = PRODUCT_ID_RE.exec(key)
            if (matches) {
                var wishOrder = matches[1], wishedProductOrder = matches[2];
                var productId = values[key];
                var pair = getPerformanceIdAndStockTypeIdFromProductId(productId);
                var performanceId = pair[0], stockTypeId = pair[1];
                var performanceNameSelect = $wishForm.find('select.performance-name-select[data-wishOrder="' + wishOrder + '"]');
                var dateSelect = $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"]');
                var stockTypeSelect = $wishForm.find('select.stock-type-select[data-wishOrder="' + wishOrder + '"]');
                if (!dateSelect.find('option[value="' + performanceId + '"]').length) {
                    var performanceName = null;
                    for (var i = 0; i < performanceMap.length; i++) {
                        var performances = performanceMap[i][1];
                        for (var j = 0; j < performances.length; j++) {
                            if (performances[j].id == performanceId) {
                                performanceName = performanceMap[i][0];
                                break;
                            }
                        }
                    }
                    if (performanceName) {
                        performanceNameSelect.val(performanceName);
                        refreshDateSelection(performanceNameSelect, dateSelect, 0);
                        stockTypeSelect.empty();
                    }
                }
                if (dateSelect.val() != performanceId) {
                    dateSelect.val(performanceId);
                    stockTypeSelect.empty();
                }

                var stockTypeSelectUpdated = false;
                if (!stockTypeSelect.find('option[value="' + stockTypeId + '"]').length) {
                    refreshStockTypeSelection(dateSelect, stockTypeSelect);
                    stockTypeSelectUpdated = true;                    
                }

                if (stockTypeSelect.val() != stockTypeId || stockTypeSelectUpdated) {
                    stockTypeSelect.val(stockTypeId);
                    refreshProducts(dateSelect, stockTypeSelect);
                }

                var quantityFieldName = 'product-quantity-' + wishOrder + '-' + wishedProductOrder;
                var quantity = values[quantityFieldName];
                $wishForm.find('select[name="' + quantityFieldName + '"]').val(quantity);
            }
        }
    }
    function refreshAllPerformanceName(wishOrder, allPerformanceName) {
        $('.all_performance_name-' + wishOrder).empty();
        $('.all_performance_name-' + wishOrder).html(allPerformanceName);
    }

    $(".performance-name-select").change(function() {
        var performanceNameSelect = $(this);
        var wishOrder = performanceNameSelect.data('wishorder');
        var dateSelect = $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"]');
        var stockTypeSelect = $wishForm.find('select.stock-type-select[data-wishOrder="' + wishOrder + '"]');
        refreshDateSelection(performanceNameSelect, dateSelect, 0);
        refreshStockTypeSelection(dateSelect, stockTypeSelect);
        refreshProducts(dateSelect, stockTypeSelect);
        refreshAllPerformanceName(wishOrder, $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"] option:selected').text());
    });
    $(".performance-date-select").change(function() {
        var performanceNameSelect = $(this);
        var wishOrder = performanceNameSelect.data('wishorder');
        refreshAllPerformanceName(wishOrder, $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"] option:selected').text());
    });
    $wishForm.find(".performance-date-select").change(function() {
        var dateSelect = $(this);
        var wishOrder = dateSelect.data('wishorder');
        var stockTypeSelect = $wishForm.find('select.stock-type-select[data-wishOrder="' + wishOrder + '"]');
        refreshStockTypeSelection(dateSelect, stockTypeSelect);
        refreshProducts(dateSelect, stockTypeSelect);
    });
    $wishForm.find(".stock-type-select").change(function() {
        var stockTypeSelect = $(this);
        var wishOrder = stockTypeSelect.data('wishorder');
        var dateSelect = $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"]');
        refreshProducts(dateSelect, stockTypeSelect);
    });

    $(function() {
        $wishForm.find("select.performance-name-select").each(function(_, n) {
            var performanceNameSelect = $(n);
            var wishOrder = performanceNameSelect.data('wishorder');
            var dateSelect = $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"]');
            refreshDateSelection(performanceNameSelect, dateSelect, selected_performance_id);
            refreshAllPerformanceName(wishOrder, $wishForm.find('select.performance-date-select[data-wishOrder="' + wishOrder + '"] option:selected').text());
        });
        $wishForm.find("select.performance-date-select").each(function(_, n) {
            var dateSelect = $(n);
            var wishOrder = dateSelect.data('wishorder');
            var stockTypeSelect = $wishForm.find('select.stock-type-select[data-wishOrder="' + wishOrder + '"]');
            refreshStockTypeSelection(dateSelect, stockTypeSelect);
            refreshProducts(dateSelect, stockTypeSelect);
        });
        updateSelection(postedValues);
    });
})($('#wishForm'));
</script>
</%block>