<%def name="header(bgcolor='#990018')">
<div style="background-color:${bgcolor}" bgcolor="${bgcolor}"><font size="+1" color="white">${caller.body()}</font></div>
</%def>
<%def name="form_header(markercolor='#990018', requiredmarkcolor='#ff0000', required=False)">
<div><font color="${markercolor}">■</font>${caller.body()}</font>
%if required:
<font color="${requiredmarkcolor}">*</font>
%endif
</div>
</%def>
<%def name="form_get(**kwargs)">
%if hasattr(request, 'open_form_tag_for_get'):
${request.open_form_tag_for_get(**kwargs)}
%else:
<form method="get" \
%for k, v in kwargs.items():
${k}="${v}" \
%endfor
>
%endif
${caller.body()}
</form>
</%def>
