<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>東京サンレーヴス サンレーヴスチケット 購入確認ページ</title>
  <link rel="stylesheet" type="text/css" href="${request.static_url('altair.app.ticketing.orderreview:static/CR/pc/css/style2.css')}" media="all" />
  <script language="JavaScript" src="${request.static_url('altair.app.ticketing.orderreview:static/js/jquery.js')}"></script>
</head>
<body>
<div class="wrapper">
  <div class="maincol">
    <div class="header">
      <img src="${request.static_url('altair.app.ticketing.orderreview:static/CR/pc/images/head_title.png')}" alt="東京サンレーヴス" width="734" height="170" />
    </div>
    <h1 class="title">東京サンレーヴス サンレーヴスチケット 購入確認ページ</h1>
    <table class="layout" class="wrapper">
      <tr>
        <td>
          ${next.body()}
        </td>
      </tr>
    </table>
    <div class="footer">
      <div class="footernav">
        <ul>
          <li class="first"><a href="${h.safe_get_contact_url(request)}">お問い合わせ</a></li>
          <li><a href="http://www.ticketstar.jp/privacy/">個人情報保護方針</a></li>
          <li class="last"><a href="http://www.ticketstar.jp/legal/">特定商取引法に基づく表示</a></li>
        </ul>
      </div>
      <div class="copyright">
        Copyright &copy; 2010-2015 TicketStar Inc. All Rights Reserved. 
      </div>
    </div>
  </div>
</div>
</body>
