<%inherit file="./base.html"/>
<%namespace file="altair.app.ticketing.cart:templates/__commons__/tags_mobile.html" name="mobile" />
<%mobile:header>チケット購入</%mobile:header>
<p>誠に申し訳ございませんが</p>
% if which == 'next':
%   if sales_segment is not None:
<p>${performance.name} (${sales_segment.name}) の販売は</p>
%   else:
<p>${event.title} (${performance.name}) の販売は</p>
%   endif
<p>
${h.japanese_datetime(start_at)}
% if end_at:
〜 ${h.japanese_datetime(end_at)} 
% endif
</p>
<p>となっております。</p>
<p>販売期間内にアクセスしていただきますようお願いいたします。</p>
% else:
%   if sales_segment is not None:
<p>${performance.name} (${sales_segment.name}) の販売は</p>
%   else:
<p>${event.title} (${performance.name}) の販売は</p>
%   endif
<p>${h.japanese_datetime(end_at)} まで</p>
<p>とさせていただいております。</p>
% endif
% if available_sales_segments:
<p>なお、他の日時のチケットは、下記からお買い求めいただけます。</p>
<ul>
%   for _sales_segment in available_sales_segments:
<li><a href="${h.cart_url(request, sales_segment=_sales_segment)}">${h.format_name(request, sales_segment=_sales_segment)}</a></li>
%   endfor
</ul>
% else:
<p>他のイベントのチケットは<a href="${request.context.host_base_url}">こちら</a>からお買い求めくださいますようお願いいたします。</p>
% endif

