<%page args="form, operator" />
<%namespace file="/common/helpers.html" name="ch" />

<div class="page-header">
  <h4>オペレーター情報</h4>
</div>
<table class="table table-bordered fullwidth">
  <tbody>
  <tr>
    <th class="span3">${form.name.label.text}</th>
    <td>${operator.name}</td>
  </tr>
  <tr>
    <th class="span3">${form.email.label.text}</th>
    <td>${operator.email}</td>
  </tr>
  <tr>
    <th class="span3">${form.expire_at.label.text}</th>
    <td>${vh.datetime(operator.expire_at, with_weekday=True)}</td>
  </tr>
  <tr>
    <th class="span3">${form.login_id.label.text}</th>
    <td>${operator.auth.login_id}</td>
  </tr>
  <tr>
    <th class="span3">${form.role_ids.label.text}</th>
    <td>
      % for role in operator.roles:
      <ul>
        <li>${role.name_kana}</li>
      </ul>
      % endfor
    </td>
  </tr>
  <tr>
    <th class="span3">${form.sales_search.label.text}</th>
    <td>${u"有効" if operator.sales_search else u"無効"}</td>
  </tr>
  <tr>
    <th class="span3">${form.hide.label.text}</th>
    <td>${u"有効" if operator.hide else u"無効"}</td>
  </tr>
  </tbody>
</table>
