<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[
        HH.route_label('index'),
        HH.route_label('operators.index'),
        HH.route_label(request.matched_route.name)
        ],
      urls=[
        request.route_path('index'),
        request.route_path('operators.index'),
        ]
  )}
</%block>

<div class="page-header">
  <h1>${HH.route_label(request.matched_route.name)}</h1>
</div>

<form class="form-horizontal" action="${request.path}" method="POST">
  <input type="hidden" name="csrf_token" value="${token}"/>
  <fieldset>
    ${ch.form_item(form.name, class_='span5', maxlength=255)}
    ${ch.form_item(form.login_id)}
    % if request.matched_route.name == 'operators.new':
    ${ch.form_item(form.password)}
    % endif
    ${ch.form_item(form.email)}
    ${ch.form_item(form.role_ids)}
    ${ch.form_item(form.sales_search)}
    ${ch.form_item(form.id)}
    ${ch.form_item(form.organization_id)}
    ${ch.form_item(form.hide)}
  </fieldset>
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" name="submit" value="${HH.route_label(request.matched_route.name)}">
  </div>
</form>
