<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'オペレーター'],
      urls=[request.route_path('index'), request.route_path('operators.index')]
  )}
</%block>

<div class="page-header">
  <h1>オペレーター</h1>
</div>

<div class="pull-left">
  <%include file="/operators/_action_button.html" args="operator=operator, order=['edit_operator', 'delete_operator']" />
</div>
<div class="pull-right">
  <%include file="/operators/_action_button.html" args="operator=operator, order=['operators']" />
</div>
<div class="clearfix"></div>

<%include file="/operators/_detail.html" args="form=form, operator=operator" />
