<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>入会受付</title>
  <link rel="shortcut icon" href="https://bambitious.tstar.jp/booster/static/favicon.ico?JSESSIONID=4daa4bd95efa4aa0d0eca9456277393ec79a93ec93b245ad149f463a87a88f929e4767ec" />
</head>
<body>
  <img src="https://bambitious.tstar.jp/booster/static/images_m/head_title.jpg?JSESSIONID=4daa4bd95efa4aa0d0eca9456277393ec79a93ec93b245ad149f463a87a88f929e4767ec" alt="バンビシャス奈良" width="232" height="72" />
  
<div align="center">
入会受付

</div>
  

<hr />
<div style="text-align:center" align="center"><font color="#ff0000">◆</font>申込受付履歴は<a href="https://bambitious.tstar.jp/booster/review?JSESSIONID=4daa4bd95efa4aa0d0eca9456277393ec79a93ec93b245ad149f463a87a88f929e4767ec">こちら</a>で確認できます<font color="#ff0000">◆</font></div>
<hr />

<div style="background-color:#a80038" bgcolor="#a80038"><font size="+1" color="white">入会受付</font></div>


2014-2015シーズンのクラブバンビシャスのお申込みの受付開始は3/22（土）15：00～を予定しております。<br/>
しばらくの間、お待ちください。



  <hr />
  <a href="https://bambitious.tstar.jp/booster/contact?JSESSIONID=4daa4bd95efa4aa0d0eca9456277393ec79a93ec93b245ad149f463a87a88f929e4767ec">お問い合わせ</a> / <a href="http://www.ticketstar.jp/privacy/">個人情報保護方針</a> / <a href="http://www.ticketstar.jp/legal">特定商取引法に基づく表示</a>
  <div>
    Copyright (C) 2012 TicketStar, Inc. All Rights Reserved. 
  </div>
</body>
</html>
