<%inherit file="../layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />
<%
from ticketing.cart.helpers import format_currency
%>
<%block name="style">
<link rel="stylesheet" type="text/css" href="/static/css/decentcolorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/performance.css" />
</%block>
<%block name="fulltitle">
Altair Backend -- ${lot.event.title}[${lot.name}]
</%block>
<%block name="javascript">
</%block>
<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'イベント', lot.event.title, u'抽選', lot.name, u'申し込み状況'],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=lot.event.id),
        request.route_path('lots.index', event_id=lot.event.id),
        request.route_path('lots.show', lot_id=lot.id),
      ]
  )}
</div>
<div class="page-header">
  <h1>
    ${lot.event.title}<br />
    <small>${lot.name}</small>
  </h1>
</div>
<div class="content">
  ${h.flash_messages(request)}
</div>


<div>
<h2>抽選申し込み状況</h2>
</div>
<div>
  <h3>件数ベース</h3>
  <table class="table">
    <tr>
      <th>申込件数</th>
      <th>当選件数</th>
      <th>決済件数</th>
      <th>予約件数</th>
      <th>キャンセル・流れ</th>
    </tr>
    <tr>
      <td>${lot_status.total_entries}</td>
      <td>${lot_status.elected_count}</td>
      <td>${lot_status.ordered_count}</td>
      <td>${lot_status.reserved_count}</td>
      <td>${lot_status.canceled_count}</td>
    </tr>
  </table>
</div>
<div>
  <h3>枚数ベース</h3>

</div>
<div>
  <h3>公演ごと、希望ごと</h3>
  <table class="table">
    <tr>
      <th>公演名</th>
      <th>希望順</th>
      <th>申し込み数</th>
    </tr>
    %for sub in sub_counts:
    <tr>
      <td>${sub['performance'].name}</td>
      <td>${sub['wish_order']}</td>
      <td>${sub['count']}</td>
    </tr>
    %endfor
  </table>
</div>

<div>
<h3>アクション</h3>
<ul>
<li><a href="${request.route_url('lots.entries.export', lot_id=lot.id)}" class="btn">エクスポート</a></li>
<li><form enctype="multipart/form-data" method="POST" action="${request.route_url('lots.entries.import', lot_id=lot.id)}">
    <input type="file" name="entries"/><br/>
    <button type="submit" class="btn">当選データインポート</button>
</form></li>
<li><form method="POST" action="${request.route_url('lots.entries.elect', lot_id=lot.id)}">
    <button class="btn">当選確定処理</button>
</form></li>
<li><form method="POST" action="${request.route_url('lots.entries.elect_entry_no', lot_id=lot.id)}">
    <label for="s-entry_no">申し込み番号</label>
    <input type="text" name="entry_no" id="s-entry_no"/>
    <label for="s-wish_order">希望順</label>
    <input type="text" name="wish_order" id="s-wish_order"/>
    <button class="btn">当選指定</button>
</form></li>
</div>
