<%inherit file="../layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />
<%namespace file="_entries_tabs.html" name="tabs" />

<%
from ticketing.cart.helpers import format_currency
%>
<%block name="style">
<link rel="stylesheet" type="text/css" href="/static/css/decentcolorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/performance.css" />
</%block>
<%block name="fulltitle">
Altair Backend -- ${lot.event.title}[${lot.name}]
</%block>
<%block name="javascript">
</%block>
<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'イベント', lot.event.title, u'抽選', lot.name, u'申し込み状況'],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=lot.event.id),
        request.route_path('lots.index', event_id=lot.event.id),
        request.route_path('lots.show', lot_id=lot.id),
      ]
  )}
</div>
<div class="page-header">
  <h1>
    ${lot.event.title}<br />
    <small>${lot.name}</small>
  </h1>
</div>
<div class="content">
  ${h.flash_messages(request)}
</div>
${tabs.tabs(request)}
<div class="well">
  <form id="search" class="form-horizontal" method="POST">
    <fieldset>
      <legend>検索条件</legend>
      <table>
	<tbody>
          <tr>
            <th><label for="entry_no">${form.entry_no.label.text}</label></th>
            <td>${form.entry_no(maxlength=12)}</td>
	  </tr>
          <tr>
            <th><label for="tel">${form.tel.label.text}</label></th>
            <td>${form.tel(maxlength=255)}</td>
	  </tr>
          <tr>
            <th><label for="name">${form.name.label.text}</label></th>
            <td>${form.name(maxlength=255)}</td>
	  </tr>
          <tr>
            <th><label for="email">${form.email.label.text}</label></th>
            <td>${form.email(maxlength=255)}</td>
	  </tr>
          <tr>
            <th><label>${form.entried_from.label.text}</label></th>
            <td>
              ${form.entried_from()} 〜
              ${form.entried_to()}
            </td>
          </tr>
          <tr>
            <th><label for="include_canceled">${form.include_canceled.label.text}</label></th>
            <td>${form.include_canceled()}</td>
	  </tr>
	</tbody>
      </table>
      <button type="submit" name="search" class="btn">検索</button>
    </fieldset>
  </form>
</div>

<div>
%if data:
<table border="1" class="table" id="wish-search-results">
<thead>
<tr>
<th>&nbsp;</th>
%for k in data[0]:
<th>${k}</th>
%endfor
</tr>
</thead>
<tbody>
%for r in data:
<tr>
<td nowrap="">
<ul>
  <li><button class="btn entry-elect-btn" data-entry-no="${r[u'申し込み番号']}" data-wish-order="${r[u'希望順序'] - 1}">当選</button></li>
  <li><button class="btn entry-cancel-btn" data-entry-no="${r[u'申し込み番号']}">キャンセル</button></li>
</ul>
</td>
%for k in data[0]:
<td nowrap="">${r[k]}</td>
%endfor
</tr>
%endfor
</tbody>
</table>
%endif
</div>
<script>
var cancelUrl = "${cancel_url}";
$(function() {
  // 当選
  $('#wish-search-results').on('click', '.entry-elect-btn', function(e) {
     var entryNo = $(this).data("entryNo");
     var wishOrder = $(this).data("wishOrder");
     // Yet Not Implemented
  });
  // キャンセル
  $('#wish-search-results').on('click', '.entry-cancel-btn', function(e) {
     var entryNo = $(this).data("entryNo");
     if (!confirm("申込番号" + entryNo + "をキャンセルします。")) {
       return;
     }
     $.ajax({
       url: cancelUrl,
       data: {"entry_no": entryNo},
       dataType: "json",
       type: "POST",
       success: function(data, textStatus, xhr) {
           if (data.result == "OK") {
             alert("申込番号" + entryNo + "をキャンセルしました。");
           }
       }
     });
  });
});
</script>
