@charset "utf-8";

.purchaseCoupon0,
.purchaseCoupon1,
.purchaseCoupon2,
.purchaseCoupon3,
.purchaseCoupon4,
.purchaseCoupon5,
.purchaseCoupon6,
.purchaseCoupon7,
.purchaseCoupon8,
.purchaseCoupon9,
.purchaseCoupon10,
.purchaseCoupon11,
.purchaseCoupon12,
.purchaseCoupon13,
.purchaseCoupon14,
.purchaseCoupon15 {
	background: #FFFFF9;
	box-sizing: border-box;
}
.purchaseCoupon0 { border-left: solid 5px #FF0000; }
.purchaseCoupon1 { border-left: solid 5px #FFD300; }
.purchaseCoupon2 { border-left: solid 5px #00CC00; }
.purchaseCoupon3 { border-left: solid 5px #3914AF; }
.purchaseCoupon4 { border-left: solid 5px #FF6700; }
.purchaseCoupon5 { border-left: solid 5px #FFF700; }
.purchaseCoupon6 { border-left: solid 5px #00A287; }
.purchaseCoupon7 { border-left: solid 5px #660BAB; }
.purchaseCoupon8 { border-left: solid 5px #FF9400; }
.purchaseCoupon9 { border-left: solid 5px #C9F600; }
.purchaseCoupon10 { border-left: solid 5px #0B5FA5; }
.purchaseCoupon11 { border-left: solid 5px #AA00A2; }
.purchaseCoupon12 { border-left: solid 5px #FFB600; }
.purchaseCoupon13 { border-left: solid 5px #84E900; }
.purchaseCoupon14 { border-left: solid 5px #162EAE; }
.purchaseCoupon15 { border-left: solid 5px #D9005B; }

.purchaseCoupon0 td.couponPrice { background-image: linear-gradient(315deg, #FF0000 6px, transparent 0); }
.purchaseCoupon1 td.couponPrice { background-image: linear-gradient(315deg, #FFD300 6px, transparent 0); }
.purchaseCoupon2 td.couponPrice { background-image: linear-gradient(315deg, #00CC00 6px, transparent 0); }
.purchaseCoupon3 td.couponPrice { background-image: linear-gradient(315deg, #3914AF 6px, transparent 0); }
.purchaseCoupon4 td.couponPrice { background-image: linear-gradient(315deg, #FF6700 6px, transparent 0); }
.purchaseCoupon5 td.couponPrice { background-image: linear-gradient(315deg, #FFF700 6px, transparent 0); }
.purchaseCoupon6 td.couponPrice { background-image: linear-gradient(315deg, #00A287 6px, transparent 0); }
.purchaseCoupon7 td.couponPrice { background-image: linear-gradient(315deg, #660BAB 6px, transparent 0); }
.purchaseCoupon8 td.couponPrice { background-image: linear-gradient(315deg, #FF9400 6px, transparent 0); }
.purchaseCoupon9 td.couponPrice { background-image: linear-gradient(315deg, #C9F600 6px, transparent 0); }
.purchaseCoupon10 td.couponPrice { background-image: linear-gradient(315deg, #0B5FA5 6px, transparent 0); }
.purchaseCoupon11 td.couponPrice { background-image: linear-gradient(315deg, #AA00A2 6px, transparent 0); }
.purchaseCoupon12 td.couponPrice { background-image: linear-gradient(315deg, #FFB600 6px, transparent 0); }
.purchaseCoupon13 td.couponPrice { background-image: linear-gradient(315deg, #84E900 6px, transparent 0); }
.purchaseCoupon14 td.couponPrice { background-image: linear-gradient(315deg, #162EAE 6px, transparent 0); }
.purchaseCoupon15 td.couponPrice { background-image: linear-gradient(315deg, #D9005B 6px, transparent 0); }

.couponPrice {
	color: #C00;
	font-weight: bold;
}
.purchaseCouponTxt {
	width: 50%;
}
.purchaseCouponTxt p {
	display: block;
	line-height: 1.3;
	padding-left: 10px;
}
.couponTable {
	width: 98%;
	margin: 10px 1%;
	text-align: left;
	border-bottom: 1px solid #efefef;
}
.purchaseCouponTtl td {
	border: none;
	background: #860010;
	border-left: solid 5px #860010; 
	color: #FFF;
	font-weight: bold;
	text-align: left !important;
}

.purchase-table th {
	width: 74.7%;
}













@media screen and (max-width: 767px) {

.couponTable {
	border-bottom: none;
}
.couponTable tr {
	display: block;
	border-bottom: 1px solid #efefef;
	margin-bottom: 10px;
}
.couponTable th,
.couponTable td {
	display: block;
}
.couponPrice {
	color: #C00;
	font-weight: bold;
}
.purchaseCouponTxt {
	width: 100%;
}
	
.purchase-table th {
	width: 70% ;
}

}




























