<%page args="layout,form,h"/>

    <div align="center">
	    <table class="layout" style="width:760px" class="wrapper">
        <tr>
		      <td>
            <div class="formWrapper">
              <table cellpadding="0" cellspacing="0" class="formbambitious">
                <tbody>
                  <tr>
                    <td>



<h4>準備中</h4>
2014-2015シーズンのクラブバンビシャスのお申込みの受付開始は3/22（土）15：00～を予定しております。<br/>
しばらくの間、お待ちください。
</ul>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>