[buildout]
extends =
    ../baseconf/common.cfg
    ./buildout.supervisord.altair.cms.admin.cfg
    ./buildout.supervisord.altair.cms.usersite.cfg
    ./buildout.supervisord.altair.ticketing.admin.cfg
    ./buildout.supervisord.altair.ticketing.booster.89ers.cfg
    ./buildout.supervisord.altair.ticketing.booster.bambitious.cfg
    ./buildout.supervisord.altair.ticketing.booster.bigbulls.cfg
    ./buildout.supervisord.altair.ticketing.cart.cfg
    ./buildout.supervisord.altair.ticketing.whattime.cfg
    ./buildout.supervisord.altair.ticketing.lots.cfg
    ./buildout.supervisord.altair.ticketing.orderreview.cfg
    ./buildout.supervisord.altair.ticketing.worker.cfg
    ./buildout.supervisord.altair.ticketing.checkinstation.cfg
    ./buildout.supervisord.altair.ticketing.sej.cfg
    ./buildout.supervisord.altair.cms.solr.cfg
    ./buildout.supervisord.altair.newsletter.admin.cfg
    ./buildout.supervisord.rabbitmq.cfg
develop +=
    ../../altairlib/altair.devproxy
    ../../altairlib/altair.cartbot
parts +=
    mkextradirs
    mkvardirs
    mkrabbitmqdirs
    mkdevsymlinks
    supervisor
    solr-download
    solr
    devproxy
    cartbot
    nose
    coverage
    test-ticketing
    coverage-ticketing
    test-cms
    coverage-cms
    jenkins-ticketing
    jenkins-cms
    omelette

; index= http://c.pypi.python.org/simple

[cartbot]
recipe = zc.recipe.egg:scripts
eggs = 
    altair.cartbot
scripts =
    altair_cartbot

[devproxy]
recipe = zc.recipe.egg:scripts
eggs = 
    twisted
    altair.devproxy
scripts = 
    altair_devproxy

[createconf]
files +=
    conf/altair.cms.admin.ini
    conf/altair.cms.usersite.ini
    conf/altair.ticketing.admin.ini
    conf/altair.ticketing.booster.89ers.ini
    conf/altair.ticketing.booster.bambitious.ini
    conf/altair.ticketing.booster.bigbulls.ini
    conf/altair.ticketing.cart.ini
    conf/altair.ticketing.whattime.ini
    conf/altair.ticketing.worker.lots.ini
    conf/altair.ticketing.worker.cart.ini
    conf/altair.ticketing.lots.ini
    conf/altair.ticketing.mypage.ini
    conf/altair.ticketing.orderreview.ini
    conf/altair.ticketing.qrreader.ini
    conf/altair.ticketing.checkinstation.ini
    conf/altair.ticketing.sej.ini
    conf/altair.ticketing.batch.ini
    conf/altair.newsletter.admin.ini

[mkrabbitmqdirs]
recipe = z3c.recipe.mkdir
paths =
    var/rabbitmq
    var/rabbitmq/mnesia
    log/rabbitmq

[altair]
console_loglevel = DEBUG
beaker_backend_type = file
findable_label.label = local
findable_label.background_color = #aaaaff

;どうもこれらがbuildout.supervisord.*.cfgに反映されていないらしい(即値で埋め込まれている)
cms.admin.port = 8001
cms.usersite.port = 9001
cms.solr.port = 8082
ticketing.admin.port = 8021
ticketing.qrreader.port = 8030
ticketing.checkinstation.port = 8031
ticketing.booster.89ers.port = 9081
ticketing.booster.bambitious.port = 9082
ticketing.booster.bigbulls.port = 9083
ticketing.cart.port = 9021
ticketing.whattime.port = 9071
ticketing.jetty.svgrpc.port = 60100
ticketing.lots.port  = 9121
ticketing.mypage.port = 9041
ticketing.orderreview.port = 9061
ticketing.sej.port = 8061

ticketing.db_url.master = mysql+pymysql://ticketing:ticketing@127.0.0.1/ticketing?use_unicode=true&charset=utf8
ticketing.db_url.slave = mysql+pymysql://ticketing:ticketing@127.0.0.1/ticketing?use_unicode=true&charset=utf8
cms.db_url.master = mysql+pymysql://altaircms:altaircms@localhost/altaircms?charset=utf8
cms.db_url.slave = mysql+pymysql://altaircms:altaircms@localhost/altaircms?charset=utf8

; dev only
altaircms.stage = staging
altaircms.s3.utility = altaircms.filelib.s3.NullConnectionFactory
altaircms.page.static.factoryclass = altaircms.page.staticupload.directory_resources.StaticPageDirectoryFactory
; altaircms.solr.search.utility = altaircms.solr.api.DummySearch
altaircms.solr.search.utility = altaircms.solr.api.SolrSearch
rakuten_auth.return_to = http://api.ticket.rakuten.co.jp/rid/rc/http/stg/rt/cart/verify
rakuten_auth.error_to = http://api.ticket.rakuten.co.jp/rid/rc/http/stg/rt/stg/mypage/error
rakuten_auth.verify_url = http://rt.stg2.rt.ticketstar.jp/cart/verify
rakuten_auth.extra_verify_url = http://rt.stg2.rt.ticketstar.jp/cart/verify2
altaircms.usersite.url = http://localhost:9001
altaircms.backend.url = http://localhost:8021
altaircms.logout.external.url = http://localhost:8021/api/forget_loggedin
altair.oauth.authorize_url = http://localhost:8021/api/authorize
altair.oauth.access_token_url = http://localhost:8021/api/access_token

[supervisor]
port = 7001

programs +=
    10 devproxy (autostart=true) ${buildout:directory}/bin/altair_devproxy [-l ${buildout:directory}/log/devproxy.access.log :58080]

[nose]
recipe = zc.recipe.egg
eggs = nose
       coverage
       testfixtures
       ${altair:eggs}
scripts =
      nosetests

[coverage]
recipe = zc.recipe.egg
eggs = coverage
       ${altair:eggs}
scripts =
      coverage

[test-ticketing]
recipe = zc.recipe.egg
eggs = nose
       coverage
       testfixtures
       ${altair:eggs}
scripts =
    nosetests=test-ticketing
arguments = argv=sys.argv+"--tests=altair.app.ticketing".split()

[coverage-ticketing]
recipe = zc.recipe.egg
eggs = nose
       coverage
       testfixtures
       ${altair:eggs}
scripts =
    nosetests=coverage-ticketing
arguments = argv=sys.argv+"--tests=altair.app.ticketing --with-coverage --cover-package=altair.app.ticketing --cover-xml --cover-html".split()

[test-cms]
recipe = zc.recipe.egg
eggs = nose
       coverage
       testfixtures
       ${altair:eggs}
scripts =
    nosetests=test-cms
arguments = argv=sys.argv+"--tests=altaircms,altairsite".split()

[coverage-cms]
recipe = zc.recipe.egg
eggs = nose
       coverage
       testfixtures
       ${altair:eggs}
scripts =
    nosetests=coverage-cms
arguments = argv=sys.argv+"--tests=altaircms,altairsite --with-coverage --cover-package=altaircms,altairsite --cover-xml --cover-html".split()

[jenkins-ticketing]
recipe = zc.recipe.egg
eggs =
     ${altair:eggs}
     nose
     coverage
     testfixtures
scripts =
    nosetests=jenkins-ticketing
arguments = argv=sys.argv+"--tests=altair.app.ticketing --with-coverage --cover-package=altair.app.ticketing --cover-erase --cover-xml --cover-html --with-xunit".split()

[jenkins-cms]
recipe = zc.recipe.egg
eggs =
     ${altair:eggs}
     nose
     coverage
     testfixtures
scripts =
    nosetests=jenkins-cms
arguments = argv=sys.argv+"--tests=altaircms,altairsite --with-coverage --cover-package=altaircms,altairsite --cover-erase --cover-xml --cover-html --with-xunit".split()

[omelette]
recipe = collective.recipe.omelette
eggs = ${altair:eggs}
