[buildout]
extends =
    ../baseconf/common.cfg
    ../baseconf/cron.cfg
    ./buildout.supervisord.altair.cms.admin.cfg
    ./buildout.supervisord.altair.cms.usersite.cfg
    ./buildout.supervisord.altair.ticketing.admin.cfg
    ./buildout.supervisord.altair.ticketing.booster.89ers.cfg
    ./buildout.supervisord.altair.ticketing.cart.cfg
    ./buildout.supervisord.altair.ticketing.lots.cfg
    ./buildout.supervisord.altair.ticketing.orderreview.cfg
    ./buildout.supervisord.altair.ticketing.worker.cfg
parts +=
    mkextradirs
    mkvardirs
    supervisor

[createconf]
files +=
    conf/altair.cms.admin.ini
    conf/altair.cms.usersite.ini
    conf/altair.ticketing.admin.ini
    conf/altair.ticketing.booster.89ers.ini
    conf/altair.ticketing.booster.bambitious.ini
    conf/altair.ticketing.cart.ini
    conf/altair.ticketing.lot_worker.ini
    conf/altair.ticketing.lots.ini
    conf/altair.ticketing.mypage.ini
    conf/altair.ticketing.orderreview.ini
    conf/altair.ticketing.qrreader.ini
    conf/altair.ticketing.sej.ini

[altair]
console_loglevel = INFO
beaker_backend_type = redis
findable_label.label = dev
findable_label.background_color = #aaffaa

; dev only
altaircms.s3.utility = altaircms.filelib.s3.S3ConnectionFactory
altaircms.solr.search.utility = altaircms.solr.api.SolrSearch
rakuten_auth.return_to = https://ticket.rakuten.co.jp/.api/rc/http/dev/rt/cart/verify
rakuten_auth.error_to = https://ticket.rakuten.co.jp/.api/rc/http/dev/rt/stg/mypage/error
rakuten_auth.verify_url = http://rt.dev.ticketstar.jp/cart/verify
rakuten_auth.extra_verify_url = http://rt.dev.ticketstar.jp/cart/verify2
altaircms.usersite.url = http://dev.rt.ticketstar.jp/
altaircms.backend.url = http://backend.dev.rt.ticketstar.jp
altaircms.logout.external.url = http://backend.dev.rt.ticketstar.jp/api/forget_loggedin
altair.oauth.authorize_url = http://backend.dev.rt.ticketstar.jp/api/authorize
altair.oauth.access_token_url = http://backend.dev.rt.ticketstar.jp/api/access_token

[supervisor]
port = 7001
