<html>
<head>
  <title>${view_context.team_name} 購入履歴の確認</title>
</head>
<body style="background-color:#FFFFFF" bgcolor="#FFFFFF">
  <div style="text-align: center; background-color: #FFF">
    <a href="/">
      <img src="${view_context.static_url('mobile/images/mb_logo.gif')}"
           alt="${view_context.team_name}" width="100%"/>
    </a>
  </div>
  
<%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
  <a href="http://www.mobilityland.co.jp/english/privacy/">PRIVACY</a> / <a href="http://www.mobilityland.co.jp/english/legal/">LEGAL</a>
  <div>
     &copy; TicketStar, Inc. 
  </div>
</body>
</html>
