<link rel="stylesheet" type="text/css" href="${request.static_path('newsletter:static/css/navigation.css')}" />
<link rel="stylesheet" href="${request.static_path('newsletter:static/css/jquery.timepicker.css')}" type="text/css" media="all" />
<script type="text/javascript" src="${request.static_path('newsletter:static/js/jquery.timepicker.js')}"></script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href=""><img src="${request.static_path('newsletter:static/images/altair_logo.png')}"></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          % if request.context.user:
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=""><i class="icon-cog"> </i>設定</a></li>
                <li><a href=""><i class="icon-off"> </i>ログアウト</a></li>
              </ul>
            </li>
          % else:
            <li><a href="">ログイン</a></li>
          % endif
        </ul>
      </div><!--/.nav-collapse -->
      <!-- Navigation -->
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="">Home</a></li>
          <li><a href="">イベント</a></li>
          <li><a href="http://127.0.0.1:6543/">CMS</a></li>
        </ul>
      </div>
      <!-- End Navigation -->
    </div>
  </div>
</div>
