<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">${genre.label}</%block>

<ul class="buttonset _4cols">
<li><a href="http://ytj.tstar.jp/halloween/howto.html" class="button embedded">購入方法</a></li>
  <li><a href="http://ytj.tstar.jp/halloween/faq.html" class="button embedded">FAQ</a></li>
  <li><a href="http://ytj.tstar.jp/orderreview" class="button embedded">購入確認</a></li>
  <li><a href="http://www.ytj.gr.jp/" class="button embedded">公式サイトへ</a></li>
</ul>

% if genre.name=="music":
    <h2 class="glitter music">${genre.label}</h2>
% elif genre.name=="stage":
    <h2 class="glitter performance">演劇</h2>
% elif genre.name=="sports":
    <h2 class="glitter sports">スポーツ</h2>
% elif genre.name=="event":
    <h2 class="glitter event">イベント・その他</h2>
% endif

<%include file="../common/_topcontent.html" args="topcontents=topcontents, helper=helper"/>
