<%inherit file="layout.html" />
<%
   contact_url = h.safe_get_contact_url(request)
   %>
<h2>購入・申込履歴の確認</h2>

<div class="ticketConfirm clearfix">
  <h1>ご購入・お申込の履歴のご確認は以下までお問い合わせください。</h1>
  <div>
    <p>
      サービス再開をいたしましたが、情報保護に万全を期すために、2月14日20：30～2月15日2：00に購入された注文の購入履歴は非表示とさせていただいております。<br/>
      お客様のご購入が不成立となっていることはございませんのでご安心ください。
    </p>
    <p>
      このたびはお客様に多大なご不便およびご迷惑をお掛けしましたことをお詫び申し上げます。
    </p>
    <p>
      ＱＲコード取得、セブン-イレブンでの払込表番号・引換表番号のお問い合わせは以下の情報を記入していただき、<a href="mailto:eagles@tstar.jp">こちら</a>までお問い合わせください。
    </p>
    <br/>

    <p>
    １．ご購入者氏名<br/>
    ２．受付番号<br/>
    ３．ご購入時に登録した電話番号<br/>
    ４．購入したチケットの試合日、席種、枚数<br/>
    ※URL、払込表番号・引換表番号を正しくご案内するため、メールでのお問い合わせをお願いいたします。
    </p>
    <br/>

    <p>
    お手数をおかけいたしますが、よろしくお願いいたします。
    </p>
  </div>
</div>
