body{
	margin: 0;
	padding: 0;
	background-color: #FFB900;
}

table.layout {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	color: #000;
}
table.layout tr {
	padding: 0 0;
	margin: 0 0;
}
table.layout td {
	padding: 0 0;
	margin: 0 0;
	text-align: left;
	background-color: #FFB900;
}

div.header{
	margin: 0 auto 20px auto;
}


img{
border: 0;
vertical-align: bottom;
}
img a{
border: 0;
}

h1{
	display: none;
}

h2{
background: #a80038; /* Old browsers */
background: -moz-linear-gradient(top, #a80038 0%, #600121 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a80038), color-stop(100%,#600121)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a80038 0%,#600121 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a80038 0%,#600121 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a80038 0%,#600121 100%); /* IE10+ */
background: linear-gradient(to bottom, #a80038 0%,#600121 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80038', endColorstr='#600121',GradientType=0 ); /* IE6-9 */width: 700px;
text-align: left;
color: #FFF;
padding: 5px 10px;
border: 2px solid #950017;
border-radius: 10px;
margin: 10px auto;
font-size: 18px;
}


h3{
background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%); /* IE10+ */
background: linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#b8bac6',GradientType=0 ); /* IE6-9 */
width: 700px;
text-align: left;
color: #000;
padding: 5px 10px;
border: 2px solid #950017;
border-radius: 10px;
margin: 10px auto;
font-size: 15px;
}

table.form89ers{
	border-collapse: collapse;
	margin: 20px auto;
	padding: 10px;
	width: 700px;
	border: 5px solid #990018;
}

table.form89ers th{
	background-color: #efefef;
	border-collapse: collapse;
	padding: 10px;
	border-bottom: 1px solid #ffb700;
	text-align: right;
}

table.form89ers td{
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #ffb700;
}

input.submit{
background: #c13b23; /* Old browsers */
background: -moz-linear-gradient(top, #c13b23 0%, #962814 50%, #7d1601 51%, #883600 75%, #6a1200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c13b23), color-stop(50%,#962814), color-stop(51%,#7d1601), color-stop(75%,#883600), color-stop(100%,#6a1200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c13b23 0%,#962814 50%,#7d1601 51%,#883600 75%,#6a1200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c13b23 0%,#962814 50%,#7d1601 51%,#883600 75%,#6a1200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c13b23 0%,#962814 50%,#7d1601 51%,#883600 75%,#6a1200 100%); /* IE10+ */
background: linear-gradient(top, #c13b23 0%,#962814 50%,#7d1601 51%,#883600 75%,#6a1200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c13b23', endColorstr='#6a1200',GradientType=0 ); /* IE6-9 */
text-align: center;
color: #fff;
padding: 5px;
border: 2px solid #970018;
margin: 10px auto;
font-size: 20px;
font-weight: bold;
display: block;
}

input.submit:hover{
	background: #9a2f1c; /* Old browsers */
background: -moz-linear-gradient(top, #9a2f1c 0%, #761f10 50%, #631101 51%, #6c2b00 75%, #540e00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a2f1c), color-stop(50%,#761f10), color-stop(51%,#631101), color-stop(75%,#6c2b00), color-stop(100%,#540e00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9a2f1c 0%,#761f10 50%,#631101 51%,#6c2b00 75%,#540e00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9a2f1c 0%,#761f10 50%,#631101 51%,#6c2b00 75%,#540e00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9a2f1c 0%,#761f10 50%,#631101 51%,#6c2b00 75%,#540e00 100%); /* IE10+ */
background: linear-gradient(top, #9a2f1c 0%,#761f10 50%,#631101 51%,#6c2b00 75%,#540e00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a2f1c', endColorstr='#540e00',GradientType=0 ); /* IE6-9 */
}

.red{
	color: #970018;
}

.textRight{
	text-align: right;
}




.footer{
	-webkit-border-radius: 10px 10px 0 0 /  10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0 /  10px 10px 0 0;
	border-radius: 10px 10px 0 0 /  10px 10px 0 0;
	-webkit-box-shadow: 0px 0px 10px #696969;
	-moz-box-shadow: 0px 0px 10px #696969;
	box-shadow: 0px 0px 10px #696969;
	background-color: #FFFFFF;
	font-size: 12pt;
	color: #555;
	text-align: center;
	padding: 10px 0;
	width: 760px;
	margin: 0 auto;	
}

.footer .footernav{
	margin: 10px auto;
}

.footer .footernav ul {
    display: inline;
    font-size: 75%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .footernav ul li.first {
    border-left: medium none;
}

.footer .footernav ul li {
    border-left: 1px solid #534741;
    display: inline;
    padding: 0 6px;
    white-space: nowrap;
}

.footer .copyright {
    color: #CCCCCC;
    font-size: 75%;
}