<%inherit file='altaircms:templates/layout_2col.html'/>

<%namespace name="fco" file="altaircms:templates/formcomponents.html"/>
<%namespace name="nco" file="altaircms:templates/navcomponents.html"/>

<%block name="style">
<style type="text/css">
  .row-fluid h3 { margin-top:20px;  }
  .row-fluid h3.first { margin-top:0px;  }
</style>
</%block>

<h2>プロモーション枠使用ページ一覧</h2>

<div class="row-fluid">
  <div class="span12">
    ${nco.breadcrumbs(
        names=["Top", u"プロモーション枠使用ページ一覧"], 
        urls=[request.route_path("dashboard")])
    }
  </div>
</div>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><i class="icon-search icon-white"></i></a>
      <form class="navbar-search" action="">
        <input name="search" type="text" placeholder="表示位置による検索" class="search-query">
      </form>
      <div class="btn-group">
        <a class="btn" href="${request.current_route_path(_query={})}"><i class="icon-search"></i>表示中のページのみ表示</a>
        <a class="btn" href="${request.current_route_path(_query={":all:": True})}"><i class="icon-search"></i>全てのページ表示</a>
      </div>
    </div>
  </div><!-- /navbar-inner -->
  
</div><!-- /navbar -->

<p>表示場所「${request.params.get("search") or "-----"}」のページ 全${pages.opts.get("item_count") or pages.collection.count()}件</p>
${pages.pager()}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ページセット</th>
      <th>ページ</th>
      <th>promotion widget</th>
    </tr>
  </thead>
    <tbody>
        %for pageset,page,widget,tag in grid:
          <tr>
            %if pageset:
              <td rowspan="${pageset.rowspan}">${pageset.values.name}</td>
            %endif
            %if page:
              <% current_page_id = page.values.id %>
              <td rowspan="${page.rowspan}">
                <a href="${request.route_path("promotion_detail", page_id=page.values.id)}">${page.values.name}</a>
                (${h.term(page.values.publish_begin, page.values.publish_end)})</td>
            %endif
            <td><a href="${request.route_path("promotion_detail", page_id=current_page_id, _query=(dict(widget_id=widget.values.id)))}">${widget.values.id}</a></td>
            <td>表示場所:<a href="${request.current_route_path(_query=dict(search=tag.values.label))}">${tag.values.label}</a></td>
          </tr>
        %endfor
    </tbody>
</table>
${pages.pager()}

