<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no">
<meta name = "format-detection" content = "telephone=no">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<link rel="stylesheet" href="${view_context.static_url('smartphone/css/import.css', 'lots')}" type="text/css" media="all">
<link rel="shortcut icon" href="${view_context.static_url('smartphone/img/favicon.ico', 'lots')}">
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/jquery.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/underscore-min.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
<script type="text/javascript">
  $(function() {
    $('form').disableOnSubmit();
  });
</script>
<title>ヴィッセル神戸公式チケットサイト</title>
</head>
<body>
<p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="${view_context.static_url('smartphone/img/common/skip.gif', 'lots')}" alt="本文へジャンプ" width="1" height="1"></a></p>
<div id="container">

<div id="header">
<div class="ticket-logo-area">
    <div class="ticket-logo-sp"><img style="width: 100%" src="${view_context.static_url('smartphone/img/sp_logo.png', 'lots')}"/></div>
</div>
<h2>チケット申込</h2>
</div>

  <!-- ========== main ========== -->
    ${next.body()}
  <!-- ========== /main ========== -->

<%def name="error(form, field, enclose=False)">
%if form.errors.get(field):
  %if enclose:
  <div>
  %endif
  %for e in form.errors[field]:
  <span class="validation-error">${e}</span>
  %endfor
  %if enclose:
  </div>
  %endif
%endif
</%def>

</div>
% if request.organization.setting.sitecatalyst_use:
  <%include file="altair.app.ticketing.lots:templates/vissel/common/sitecatalyst.html"/>
% endif
</body>
</html>
