<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>${view_context.team_name}</title>
  <meta name = "format-detection" content="telephone=no">
  <!-- Cascading Style Sheets -->
  <link rel="shortcut icon" href="${view_context.static_url('smartphone/images/favicon.ico')}">
  <link rel="stylesheet" href="${view_context.static_url('smartphone/css/import.css', 'lots')}" type="text/css" media="all">
  <%block name="css"></%block>

  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/jquery.js')}"></script>
</head>
<body>
  <%include file="../includes/header.html" />
  <!-- ========== main ========== -->
    <main>
      % if request.organization.setting.i18n:
      <div class="locale-wrap">
        ${h.create_url_link(request) |n}
      </div>
      % endif
      % if view_context.get_include_template_path('links.html', 'lots') is not None:
      <div class="links-wrap">
        <%include file="${view_context.get_include_template_path('links.html', 'lots')}" args="device=view_context.ua_type" />
      </div>
      % endif
      ${self.body()}
    </main>
  <%include file="../includes/footer.html" />
  <!-- /container -->
  <%block name="javascript"></%block>
</body>
</html>
