<%inherit file='../layout_2col.html'/>
<%namespace name="nco" file="../navcomponents.html"/>
<div class="circle circle-page circle-top"></div>
<h2>削除確認画面 ${pageset.name}</h2>

<div class="row-fluid">
  <div class="span10">
    ${nco.breadcrumbs(
	    names=["Top", pageset.name, u"削除"], 
	    urls=[request.route_path("dashboard"),
	          h.link.pageset_detail(request,pageset),
              h.page.to_edit_page(request,pageset)]
	)}
  </div>
</div>

<div class="alert alert-error">
  以下の内容のページセットを削除します。良いですか？
  (結びついているページが全て消えます!)
</div>

<table class="table table-striped table-describe">
  <tr>
    <th>ページ名</th><td>${pageset.name}
      %if pageset.genre_id and pageset.genre.is_category_toppage(pageset):
        <span class="label label-info">カテゴリトップページ:${pageset.genre.label}</span>
      %endif
    </td>
  </tr>
  <tr>
    <th>所属ジャンル</th><td>${u", ".join(reversed([g.label for g in pageset.genre.ancestors_include_self])) if pageset.genre_id else u"-"}</td>
  </tr>
  <tr>
    <th>URL</th><td>${pageset.url}</td>
  </tr>
  <tr>
    <th>ページタイプ</th><td>イベント詳細ページ</td>
  </tr>
  <tr>
    <th>公開タグ</th><td>${u", ".join(t.label for t in pageset.tags if t.organization_id)}</td>
  </tr>
  <tr>
    <th>非公開タグ</th><td>${u", ".join(t.label for t in pageset.private_tags)}</td>
  </tr>
</table>

<hr/>

<form action="#" method="POST">
  <input id="_method" name="_method" type="hidden" value="delete" />
  <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
</form>        

<script type="text/javascript">
  $(function(){$("#pageset_items input:radio,.btn-group").css("display", "none");});
</script>
