## page名,公開日,公開ステータス,url,preview
##
<%inherit file='../layout_2col.html'/>
<%namespace name="nco" file="../navcomponents.html"/>
<%namespace name="mco" file="../modelcomponents.html"/>

<%block name="style">
<style type="text/css">
  .row-fluid h3 { margin-top:20px;  }
</style>
</%block>

<div class="circle circle-page circle-top"></div>
<h2>イベント詳細ページ一覧</h2>

<div class="row-fluid">
  <div class="span12">
    ${nco.breadcrumbs(
	  names=["Top", "Page"], 
	  urls=[request.route_path("dashboard")]
	  )}
  </div>
</div>


<h3 style="margin-top:0px;">イベント詳細ページの追加</h3>

<div class="btn-group">
  <a href="${request.route_path("page_add_orphan", action="input")}" class="btn btn-success btn-large">新しいページを作成する</a>
	<a class="btn btn-info btn-large" data-toggle="modal" href="#searchModal" >
		<i class="icon-search icon-white"></i> 検索フォーム</a>
</div>

<h3>ページ一覧</h3>

${panel("nav_pageset", pagetype)}


<p>${pages.opts.get("item_count") or pages.collection.count()}件</p>
${pages.pager()}

%if (pages.opts.get("item_count") or pages.collection.count()) <= 0:
  <div class="alert alert-info">
    ページは登録されていません.
  </div>
%else:
  <table class="table table-striped table-describe">
    <thead>
      <tr>
        <th>イベント</th>
        <th>ページ名</th>
        <th>URL</th>
        <th>preview</th>
        <th>生成日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      %for page in pages.paginated():
      <tr>
        <td><a href="${request.route_path("event", id=page.event.id)}">${page.event.title}</a></td>
        <td><a href="${request.route_path("pageset_detail", pageset_id=page.id, kind="event")}">${page.name}</a></td>
        <td>${page.url}</td>
        <td>
          <a href="${h.link.preview_page_from_pageset(request, page)}" class="btn btn-small"><i class="icon-eye-open"> </i> Preview</a>
        </td>
        <td>${h.base.jdate_with_hour(page.created_at)}</td>
        <td>${h.base.jdate_with_hour(page.updated_at)}</td>
      </tr>
      %endfor
    </tbody>
  </table>
  ${pages.pager()}
%endif
</div>
