## page名,公開日,公開ステータス,url,preview
## event付きかのlabel
##
<%inherit file='../layout_2col.html'/>
<%namespace name="nco" file="../navcomponents.html"/>
<%namespace name="mco" file="../modelcomponents.html"/>

<%block name="style">
<style type="text/css">
  .row-fluid h3 { margin-top:20px;  }
</style>
</%block>

<div class="circle circle-page circle-top"></div>
<h2>${pagetype.label}一覧</h2>

<div class="row-fluid">
  <div class="span12">
    ${nco.breadcrumbs(
	    names=["Top", "Page"], 
	    urls=[request.route_path("dashboard")]
	)}
  </div>
</div>

<h3 style="margin-top:0px;">ページ追加</h3>
<a href="${request.route_path("static_page_create", pagetype=pagetype.name, action="input", _query=dict(endpoint=request.url))}" class="btn btn-success btn-large">新しい静的ページを追加する</a>

<h3>ページ一覧</h3>

${panel("nav_pageset", pagetype)}

<%
page_count = pages.count()
seq = h.paginate(request, pages, item_count=page_count, items_per_page=50)
%>
<p>全${seq.opts.get("item_count") or seq.collection.count()}件</p>
  ${seq.pager()}
%if page_count <= 0:
<div class="alert alert-info">
  ページは登録されていません.
</div>
%else:
<table class="table table-striped">
  <thead>
	<tr>
	  <th>名前</th>
	  <th>トップページ</th>
	  <th>生成日時</th>
	  <th>更新日時</th>
	</tr>
  </thead>
  <tbody>
    %for page in seq.paginated():
      <tr>
        <td> 
		      <a href="${request.route_path("static_pageset", pagetype=pagetype.name, action="detail", static_page_id=page.id)}">${page.name}</a>
        </td>
        <td> 
		      <a href="${request.route_path("static_pageset", pagetype=pagetype.name, action="preview", static_page_id=page.id, _query=dict(path="index.html"))}">${page.url}/index.html</a>
        </td>
		<td>${h.base.jdatetime(page.created_at)}</td>
        % if page.pages:
            <% page.pages.sort(key=lambda page: page.updated_at, reverse=True)%>
		    <td>${h.base.jdatetime(page.pages[0].updated_at)}</td>
        % else:
            <td>${h.base.jdatetime(page.updated_at)}</td>
        % endif
      </tr>
    %endfor
  </tbody>
</table>
${seq.pager()}
%endif
</div>
