html, body {
  padding: 0;
  margin: 0;
  font-size: 14pt;
}
.page {
  position: relative;
  margin: 0 auto;
  width: 210mm;
  height: 297mm;
}
.bg {
  z-index: -1;
}
img {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.cover {
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;
    left: 0;
}
.msg {
    position: relative;
    margin-top: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #FFF;
    padding: 10px 0;
    border: 3px solid #FF0000;
    border-radius: 50px;
}
.msg p {
    border-radius: 5px;
    color: #FF0000;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
    margin: 10px;

}
img.print_btn {
    width: auto;
    height: auto;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    z-index: 1002;
}
.qr {
  position: absolute;
  display: none;
  top: 50px;
  right: 80px;
  width: 100px;
  height: 100px;
  z-index: 1000;
}
.ticket-info {
  position: absolute;
  top: 52%;
  left: 110px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.ticket-info ul {
  list-style:none;
  padding: 0;
  margin: 0;
}
.ticket-info li:before {
  content:"■";
  text-align: right;
  hieght: 1.2rem;
  padding-right: 3px;
}
@media print {
  * {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
  }
  @page {
      size: A4;
      margin: 0;
  }
  html, body {
    width: 210mm;
  }
  .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
  .qr {
    display: block;
  }
  .cover {
    display: none;
  }
  .print_btn {
    display: none;
  }
}