<%inherit file="../../layout_2cols.html" />
<%namespace file="/common/helpers.html" import="breadcrumbs,flash_messages,form_item"/>

<style type="text/css">
  .controls select{width: 80%;}
  .controls input{width: 80%;}
  .controls textarea{width: 80%; min-height:100px;}
</style>

<div class="breadcrumbs">
${breadcrumbs(
  names=[u'トップ', u"取引先詳細"],
  urls=[request.route_path('index'), request.route_path("organizations.show",organization_id=organization.id)]
)}
</div>

<%
from ticketing.core.models import MailTypeEnum
from ticketing.core.models import MailTypeChoices
mailtype = int(request.matchdict["mailtype"])
if int(MailTypeEnum.CompleteMail) == mailtype:
    ja_mailtype = u"購入完了メール付加情報"
elif int(MailTypeEnum.PurchaseCancelMail) == mailtype:
    ja_mailtype = u"購入キャンセルメール付加情報"
else:
    ja_mailtype = u"?????"
%>

<div class="page-header">
  <h3>${ja_mailtype}</h3>
</div>

<h4></h4>
<div class="btn-group" style="margin-bottom:20px;">
  %for i, label in MailTypeChoices:
    <a class="btn btn-inverse"
	   href="${request.current_route_path(organization_id=organization.id, mailtype=i)}">${label}</a>
  %endfor
</div>

<%doc>
<div class="content">
  ${flash_messages(request)}
  ${alert_message(form)}
</div>
</%doc>

<div class="well">
  <form id="tmpSubmitForm" class="form-horizontal" action="#" method="POST">
	<fieldset>
	  %for field in form:
	  <div class="${field.description}">
	    ${form_item(field)}
	  </div>
	  %endfor
	</fieldset>
	<div class="form-actions">
	  <input class="btn btn-primary" type="submit" name="submit" value="登録">
	</div>
  </form>
</div>

<form id="submitForm" action="#" method="POST" style="display: none;">
</form>

<script type="text/javascript">
  $("#payment_methods").change(function(){
    $(".payment").hide();
    $("."+$(this).val()).show();
  });
  $("#delivery_methods").change(function(){
    $(".delivery").hide();
    $("."+$(this).val()).show();
  });
    $(".payment").hide();
    $(".delivery").hide();
    $("."+$("#payment_methods").val()).show();
    $("."+$("#delivery_methods").val()).show();

  $("#tmpSubmitForm").submit(function(e){
    e.preventDefault();
    var form = $("#submitForm");
    form.empty();
    form.append($('<input name="submit" type="submit">'));
    form.append($('<input type="hidden" name="payment_methods">').attr("value",$("#payment_methods").val()));
    form.append($('<input type="hidden" name="delivery_methods">').attr("value",$("#delivery_methods").val()));
    $(this).find("textarea:visible").each(function(i,e){
      var src = $(e);
      $("<input type='hidden'>").attr("name", src.attr("name")).attr("value", src.attr("value")).appendTo(form);
    });
    form.find("input[name='submit']").click();
  });
</script>
