<%namespace file="/common/helpers.html" import="form_item"/>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>「${bundle.name}」 エラー詳細</h3>
</div>

<div class="modal-body">
  % if task.errors:
    <p>
      エラー内容は更新通知処理中にシステムが生成した文言です。<br/>
      対応方法が分かりづらい場合は開発チームまでお問い合わせください。
      なお、エラー詳細に上がっていない予約情報は正常に更新通知が完了しています。
    </p>
    <p>
      大規模の未発券予約に対して処理を実行した場合、完了まで時間がかかります。<br/>
      その間、途中で発券された予約はエラーになります。
    </p>
    <pre>
${task.errors}
    </pre>
  % else:
    <p>エラー詳細の出力がありませんでした。</p>
  % endif
</div>