<%namespace file="/common/helpers.html" import="form_item"/>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>チケット券面を追加</h3>
  </div>

  <form class="form-horizontal"
		action="${request.route_path("events.tickets.bind.ticket", event_id=request.matchdict["event_id"])}"
		method="POST">
	<div class="modal-body">
		<fieldset>
		  ${form_item(form.ticket_template)}
		  ${form_item(form.name)}
      <script type="text/javascript">
        (function() {
          var $name = $('#name');
          var $ticket_template = $('#ticket_template');
          if (!$name.val()) {
            var fillDefault = true;
            function onchange() {
              if (fillDefault) {
                var selected = $ticket_template.val();
                $ticket_template.children().each(function (_, n) {
                  if (selected == n.value || selected == null) {
                    $name.val(n.firstChild.nodeValue);
                    return false;
                  }
                });
              }
            }
            $name.change(function () {
              fillDefault = false;
            });
            $ticket_template.change(onchange);
            onchange();
          }
        })();
        $('form').disableOnSubmit();
      </script>
		</fieldset>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">キャンセル</a>
		<input class="btn btn-primary" type="submit" name="submit" value="登録">
	</div>
  </form>
