<%page args="organization_setting" />
<%namespace file="/common/helpers.html" name="ch" />
<%! from altair.app.ticketing.core import models as c_models %>
<%! from altair.app.ticketing.organizations.forms import OrganizationSettingForm as f %>
<%include file="./_action_button.html" args="organization_setting=organization_setting, order=['edit']" />
<table class="table table-bordered fullwidth" style="margin-top: 10px;">
  <thead>
    <tr>
      <th class="span5">設定名</th>
      <th>設定値</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.name)}</th>
      <td>${organization_setting.name}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.margin_ratio)}</th>
      <td>${HH.format_percentage(organization_setting.margin_ratio)}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.refund_ratio)}</th>
      <td>${HH.format_percentage(organization_setting.refund_ratio)}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.printing_fee)}</th>
      <td>${vh.price(organization_setting.printing_fee)}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.registration_fee)}</th>
      <td>${vh.price(organization_setting.registration_fee)}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.multicheckout_shop_name)}</th>
      <td>${organization_setting.multicheckout_shop_name or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.multicheckout_shop_id)}</th>
      <td>${organization_setting.multicheckout_shop_id or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.multicheckout_auth_id)}</th>
      <td>${organization_setting.multicheckout_auth_id or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.multicheckout_auth_password)}</th>
      <td>${u'*' * len(organization_setting.multicheckout_auth_password) if organization_setting.multicheckout_auth_password else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.cart_item_name)}</th>
      <td>${organization_setting.cart_item_name or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.contact_pc_url)}</th>
      <td>${organization_setting.contact_pc_url or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.contact_mobile_url)}</th>
      <td>${organization_setting.contact_mobile_url or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.point_type)}</th>
      <td>${organization_setting.point_type or u'(無効)'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.point_fixed)}</th>
      <td>${organization_setting.point_fixed or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.point_rate)}</th>
      <td>${organization_setting.point_rate or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.notify_point_granting_failure)}</th>
      <td>${u'付与失敗をメールで通知する' if organization_setting.notify_point_granting_failure else u'付与失敗をメールで通知しない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.notify_remind_mail)}</th>
      <td>${u'コンビニ入金期限前をメールで通知する' if organization_setting.notify_remind_mail else u'コンビニ入金期限前をメールで通知しない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.notify_print_remind_mail)}</th>
      <td>${u'コンビニ未発券をメールで通知する' if organization_setting.notify_print_remind_mail else u'コンビニ未発券をメールで通知しない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.bcc_recipient)}</th>
      <td>${organization_setting.bcc_recipient or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.default_mail_sender)}</th>
      <td>${organization_setting.default_mail_sender or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.entrust_separate_seats)}</th>
      <td>${u'バラ席を許可する' if organization_setting.entrust_separate_seats else u'バラ席を許可しない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.sales_report_type)}</th>
      <td>${organization_setting.sales_report_type}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_smartphone_cart)}</th>
      <td>${u'ON' if organization_setting.enable_smartphone_cart  else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_mypage)}</th>
      <td>${u'ON' if organization_setting.enable_mypage else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_discount_code)}</th>
      <td>${u'ON' if organization_setting.enable_discount_code else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_resale)}</th>
      <td>${u'ON' if organization_setting.enable_resale else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_price_batch_update)}</th>
      <td>${u'ON' if organization_setting.enable_price_batch_update else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_passport)}</th>
      <td>${u'ON' if organization_setting.enable_passport else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_point_allocation)}</th>
      <td>${u'ON' if organization_setting.enable_point_allocation else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.point_group_id)}</th>
      <td>${organization_setting.point_group_id or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.point_reason_id)}</th>
      <td>${organization_setting.point_reason_id or u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.orderreview_index)}</th>
      <td>${organization_setting.orderreview_index}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_word)}</th>
      <td>${u'ON' if organization_setting.enable_word else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.augus_use)}</th>
      <td>${u'使う' if organization_setting.augus_use  else u'使わない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.mail_refund_to_user)}</th>
      <td>${u'送信する' if organization_setting.mail_refund_to_user else u'送信しない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.sitecatalyst_use)}</th>
      <td>${u'使う' if organization_setting.sitecatalyst_use  else u'使わない'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.asid)}</th>
      <td>${organization_setting.asid if organization_setting.asid else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.asid_mobile)}</th>
      <td>${organization_setting.asid_mobile if organization_setting.asid_mobile else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.asid_smartphone)}</th>
      <td>${organization_setting.asid_smartphone if organization_setting.asid_smartphone else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.lot_asid)}</th>
      <td>${organization_setting.lot_asid if organization_setting.lot_asid else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.lot_entry_lock)}</th>
      <td>${u'○' if organization_setting.lot_entry_lock else u'×'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.lot_entry_user_withdraw)}</th>
      <td>${u'ON' if organization_setting.lot_entry_user_withdraw else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.famiport_enabled)}</th>
      <td>${u'有効' if organization_setting.famiport_enabled else u'無効'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_fm_reflection_func)}</th>
      <td>${u'有効' if organization_setting.enable_fm_reflection_func else u'無効'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.i18n)}</th>
      <td>${u'○' if organization_setting.i18n else u'×'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.default_locale)}</th>
      <td>${organization_setting.default_locale}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.rendered_template_1)}</th>
      <td>${organization_setting.rendered_template_1}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.rendered_template_2)}</th>
      <td>${organization_setting.rendered_template_2}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.event_label)}</th>
      <td>${u'○' if organization_setting.event_label else u'×'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.show_event_op_and_sales)}</th>
      <td>${u'○' if organization_setting.show_event_op_and_sales else u'×'}</td>
    </tr>
    <tr>
      <th>${f.oauth_service_provider.kwargs['label']}</th>
      <td>${organization_setting.oauth_service_provider}</td>
    </tr>
    <tr>
      <th>${f.oauth_client_id.kwargs['label']}</th>
      <td>${organization_setting.oauth_client_id}</td>
    </tr>
    <tr>
      <th>${f.oauth_client_secret.kwargs['label']}</th>
      <td>${organization_setting.oauth_client_secret}</td>
    </tr>
    <tr>
      <th>${f.oauth_endpoint_authz.kwargs['label']}</th>
      <td>${organization_setting.oauth_endpoint_authz}</td>
    </tr>
    <tr>
      <th>${f.oauth_endpoint_token.kwargs['label']}</th>
      <td>${organization_setting.oauth_endpoint_token}</td>
    </tr>
    <tr>
      <th>${f.oauth_endpoint_token_revocation.kwargs['label']}</th>
      <td>${organization_setting.oauth_endpoint_token_revocation}</td>
    </tr>
    <tr>
      <th>${f.oauth_endpoint_api.kwargs['label']}</th>
      <td>${organization_setting.oauth_endpoint_api}</td>
    </tr>
    <tr>
      <th>${f.oauth_scope.kwargs['label']}</th>
      <td>${organization_setting.oauth_scope}</td>
    </tr>
    <tr>
      <th>${f.openid_prompt.kwargs['label']}</th>
      <td>${organization_setting.openid_prompt}</td>
    </tr>
    <tr>
      <th>
        ${HH.label_text_for(c_models.OrganizationSetting.enable_agreement_of_policy)}
        <span class="help-inline">
          <a rel="popover" data-original-title="サービス利用規約及び個人情報保護方針への同意"
             data-content="購入の際に確認画面 (confirm.html) で規約への同意を必要とします。<br/>※テンプレートにチェックボックスを追加して表示させる必要があります。">
            <i class="icon-question-sign"></i>
          </a>
        </span>
      </th>
      <td>${u'ON' if organization_setting.enable_agreement_of_policy else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_spa_cart)}</th>
      <td>${u'ON' if organization_setting.enable_spa_cart else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.migrate_to_sirius)}</th>
      <td>${u'ON' if organization_setting.migrate_to_sirius else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_review_password)}</th>
      <td>${u'ON' if organization_setting.enable_review_password else u'OFF'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(c_models.OrganizationSetting.enable_skidata)}</th>
      <td>${u'ON' if organization_setting.enable_skidata else u'OFF'}</td>
    </tr>
  <tbody>
</table>
