<%inherit file="mini_admin_layout.html" />

<div class="page-header">
  <h1>予約検索</h1>
</div>
<div style="float: left;">
  <%include file="download_search.html" args="form=form_search" />
</div>
<div style="clear: both;"></div>

<%include file="../orders/_modal_ticket_format.html" args="form=ticket_format_form, id='modal-ticket-format', endpoints=endpoints"/>
<script type="text/javascript">
  $('#btn-add-to-print-queue').click(function () {
    show_modal_enqueue_orders();
    return false;
  });
</script>
<p/>

<br />

<div id='total_error'></div>

