<h4>発券進捗状況</h4>
<form method="POST">
絞込開始時刻:${print_progress_form.start_on}
絞込終了時刻:${print_progress_form.end_on}<p/>
${print_progress_form.product_item_id}
<input type="submit" value="選択"/>
</form>
<%include file="/print_progress/_list.html" args="progress=progress"/>

<hr/>
<a href="${request.route_path("events.print_progress.show", event_id=performance.event_id)}">イベント毎の発券進捗状況確認ページへ</a>

<h4>クライアント確認用URL</h4>
<%
url = request.route_path('performances.print_progress.easy_show', hash_performance_id=encrypt_performance_id)
%>
<a href="${url}">${url}</a>
