<%inherit file="layout.html" />
<%
   contact_url = h.safe_get_contact_url(request)
   %>
<h2>購入・申込履歴の確認</h2>

<div class="ticketConfirm clearfix">
  <h1>ご購入・お申込の履歴のご確認は以下までお問い合わせください。</h1>
  <div>
    <p>
      サービス再開をいたしましたが、情報保護に万全を期すために、当該時間帯の全て注文は非表示とさせていただいております。<br/>
      お客様のご購入が不成立となっていることはございませんのでご安心ください。
    </p>
    <p>
      このたびはお客様に多大なご不便およびご迷惑をお掛けしましたことをお詫び申し上げます。
    </p>
    <p>
      お問い合わせは <a href="${contact_url}">こちら</a>まで
    </p>
    <p>
      ※QRコードのURLやセブン-イレブンでの払込票番号・引換表番号を正しくご案内するため、メールでのお問い合わせとさせていただいております。
    </p>
  </div>
</div>
