<%namespace file="/helpers.html" name="ch" />
  <!-- RAT tags -->
  <form class="ratForm" name="ratForm" id="ratForm" style="display:none;">
   <input type="hidden" name="rat" id="ratAccountId"   value="491">
   <input type="hidden" name="rat" id="ratServiceId"   value="1">
   <input type="hidden" name="rat" id="ratServiceType" value="ticket">
   <input type="hidden" name="rat" id="ratPageLayout"  value="resp">
  </form>
  <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js" async defer></script>
  <!-- /RAT tags-->

