<%inherit file="common/_base.html" />
<%namespace file="common/tags_smartphone.html" name="m" />
<%block name="title">トップ</%block>
<% from datetime import datetime %>
<script type="text/javascript" src="${request.static_url('altaircms:static/RT/smartphone/js/acordion.js')}"></script>

<%include file="common/_top_news.html" args="top_news=top_news"/>
<%include file="search/search.html" args="form=form"/>
<%include file="common/_pickup.html" args="promotions=promotions, helper=helper"/>
<%include file="common/_genre.html" args="genretree=genretree, helper=helper, helpers=helpers"/>
<%include file="common/_area.html" args="area=area, helper=helper"/>

<!-- NBA -->
<a href="https://tv.rakuten.co.jp/nba/?scid=wi_tck_nba_grpbnr20180315&utm_medium=rakuteng&utm_source=tck&utm_campaign=nba_grpbnr20180415">
  <img src="${request.static_url('altaircms:static/RT/smartphone/img/nba0415.jpg')}" width="95%" class="rc-gp-migrate-bann"/>
</a>

<section class="rc-gp-migrate-links">
  <h2>楽天のグループサービス</h2>
  <ul id="rc-gp-links" class="rc-gp-migrate-list rc-gp-hidden"></ul>
  <ul class="rc-gp-migrate-table-list">
    <li><a href="http://www.rakuten.co.jp/sitemap/sp/">サービス一覧</a></li>
    <li><a href="http://www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
  </ul>
</section>

<link rel="stylesheet" href="https://jp.rakuten-static.com/1/css/grp/prtl/rc-gp-sp.min.css">

<script src="https://jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.min.js" data-service="tic"></script>
<!-- Rakuten Portal End-->