<%inherit file="common/_base.html" />
<%namespace file="common/tags_smartphone.html" name="m" />
<%block name="title">トップ</%block>
<% from datetime import datetime %>

<%include file="search/search.html" args="form=form"/>
<%include file="common/_menu.html"/>
<%include file="common/_pickup.html" args="promotions=promotions, helper=helper"/>
<%include file="common/_genre.html" args="genretree=genretree, helper=helper"/>
<%include file="common/_topcontent.html" args="topcontents=topcontents, helper=helper"/>
<%include file="common/_area.html" args="area=area, helper=helper"/>
<%include file="common/_topic.html" args="topics=topics, helper=helper"/>
<%include file="common/_hotword.html" args="hotwords=hotwords, helper=helper, genre_id=0"/>

<!-- セブンイレブン -->
<img src="https://tstar.s3.amazonaws.com/asset/RT/2015-06-23/8f11ab27f2794fb08552f9b98f27b5c0.gif" width="95%" class="rc-gp-migrate-bann"/>

<!-- ファミリーマート -->
<img src="${request.static_url('altaircms:static/RT/smartphone/img/famima.gif')}" width="95%" class="rc-gp-migrate-bann"/>

<!-- Facebook -->
<a href="https://www.facebook.com/Rakutenticket/">
  <img src="${request.static_url('altaircms:static/RT/smartphone/img/facebook.png')}" width="95%" class="rc-gp-migrate-bann"/>
</a>

<!-- LINE -->
<a href="https://line.me/R/ti/p/%40ybn4429n">
  <img src="${request.static_url('altaircms:static/RT/smartphone/img/line.png')}" width="95%" class="rc-gp-migrate-bann"/>
</a>

<!-- Rakuten Portal -->
<div id="rc-gp-banner" class="rc-gp-migrate-bann rc-gp-hidden"></div>

<!-- NBA -->
<%
now = datetime.now()
target_date = datetime.strptime('2018/01/01', '%Y/%m/%d')
%>

% if now < target_date:
<a href="https://tv.rakuten.co.jp/nba/?scid=wi_tck_nba_grpbnr201712&utm_medium=rakuteng&utm_source=tck&utm_campaign=nba_grpbnr201712">
  <img src="${request.static_url('altaircms:static/RT/smartphone/img/nba_cp.jpg')}" width="95%" class="rc-gp-migrate-bann"/>
</a>
% else:
<a href="https://tv.rakuten.co.jp/nba/?scid=wi_tck_nba_grpbnr201712&utm_medium=rakuteng&utm_source=tck&utm_campaign=nba_grpbnr201801">
  <img src="${request.static_url('altaircms:static/RT/smartphone/img/nba_cp2.jpg')}" width="95%" class="rc-gp-migrate-bann"/>
</a>
% endif

<section class="rc-gp-migrate-links">
  <h2>楽天のグループサービス</h2>
  <ul id="rc-gp-links" class="rc-gp-migrate-list rc-gp-hidden"></ul>
  <ul class="rc-gp-migrate-table-list">
    <li><a href="http://www.rakuten.co.jp/sitemap/sp/">サービス一覧</a></li>
    <li><a href="http://www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
  </ul>
</section>

<link rel="stylesheet" href="https://jp.rakuten-static.com/1/css/grp/prtl/rc-gp-sp.min.css">

<script src="https://jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.min.js" data-service="tic"></script>
<!-- Rakuten Portal End-->