<%inherit file="common/_base.html" />
<%namespace file="common/tags_smartphone.html" name="m" />
<%block name="title">トップ</%block>

<%include file="search/search.html" args="form=form"/>
<%include file="common/_menu.html"/>
<%include file="common/_pickup.html" args="promotions=promotions, helper=helper"/>
<%include file="common/_genre.html" args="genretree=genretree, helper=helper"/>
<%include file="common/_topcontent.html" args="topcontents=topcontents, helper=helper"/>
<%include file="common/_area.html" args="area=area, helper=helper"/>
<%include file="common/_topic.html" args="topics=topics, helper=helper"/>
<%include file="common/_hotword.html" args="hotwords=hotwords, helper=helper, genre_id=0"/>

<!-- Rakuten Portal -->
<div id="rc-gp-banner" class="rc-gp-migrate-bann rc-gp-hidden"></div>
<section class="rc-gp-migrate-links">
  <h2>楽天のグループサービス</h2>
  <ul id="rc-gp-links" class="rc-gp-migrate-list rc-gp-hidden"></ul>
  <ul class="rc-gp-migrate-table-list">
    <li><a href="http://www.rakuten.co.jp/sitemap/sp/">サービス一覧</a></li>
    <li><a href="http://www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
  </ul>
</section>

<link rel="stylesheet" href="https://jp.rakuten-static.com/1/css/grp/prtl/rc-gp-sp.min.css">

<script src="https://jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.min.js" data-service="point"></script>
<!-- Rakuten Portal End-->