<html>
<head>
  <title>楽天レジャーチケット 購入確認ページ</title>
</head>
<body style="background-color:#FFFFFF" bgcolor="#FFFFFF">
  <div style="text-align: center; background-color: #46D21B">
    <a href="http://leisure.tstar.jp/">
      <img src="${request.static_url('altair.app.ticketing.coupon:static/RL/mobile/images/logo_mobile.gif')}"
           alt="楽天レジャーチケット" width="100%"/>
    </a>
  </div>
  
<%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
  <div>
    Copyright &copy; 2010-2015 TicketStar, Inc. All Rights Reserved. 
  </div>
</body>
</html>
