<html>
  <head>
    <script src=${request.static_url('altaircms:static/smartphone/js/jquery-1.9.1.min.js')}></script>
  </head>
  <body>
    <h1>this is pc site</h1>
    <script>
  $(function(){
console.log(document.cookie.indexOf("${cookie_name}"));
    if(document.cookie.indexOf("${cookie_name}") > -1){
        var e = $("<a>").text("SPサイトへ").attr("href", "${request.route_path("smartphone.goto_sp_page",_query=dict(next="/"))}");
        $("body").append(e);
     }
});
  </script>

  </body>
</html>
