<%page args="form" />
<%namespace file="/common/helpers.html" name="ch" />

<script type="text/javascript">
  $(function() {
    $('#modal-refund').find("input[type='checkbox']").change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    }).change();
    $('.draggable').draggable({scroll: true, handle:$('.draggable .modal-header')});
    $('#modal-refund').disableOnSubmit();
  });
</script>

<div id="modal-refund" class="modal hide draggable">
  <div class="modal-header">
    <h3>払戻する</h3>
  </div>

  <div class="modal-body">
    ${ch.flash_messages(request, type='alert-error')}
    ${ch.alert_message(form)}
    <form action="javascript:refund_order();">
      ${ch.form_item(form.payment_method_id)}
      ${ch.form_item(form.include_item)}
      ${ch.form_item(form.include_system_fee)}
      ${ch.form_item(form.include_transaction_fee)}
      ${ch.form_item(form.include_delivery_fee)}
      ${ch.form_item(form.cancel_reason)}
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn secondary btn-close" data-dismiss="modal">戻る</button>
    <button onclick="$('#modal-refund').find('form').submit(); return false;" class="btn danger">払戻</button>
  </div>
</div>
