<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<% from altair.app.ticketing.orders import helpers as oh %>
<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'トップ', u'払戻予約', u'払戻確認'],
    urls=[
      request.route_path('index'),
      request.route_path('orders.refund.search')
    ]
  )}
</%block>

<div class="page-header">
  <h1>払戻確認</h1>
</div>

<div class="alert alert-danger">
  <div style="margin-top: 8px;">
    払戻対象の検索条件が適切か、対象件数が適切か確認し、払戻予約してください。<br>
  </div>
</div>

<%include file="/orders/_search_condition.html" args="form=form_search" />

<h4>払戻設定</h4>
<div class="well clearfix">
  <dl class="dl-horizontal">
    <dt>${form_refund.payment_method_id.label.text}</dt>
    <dd>${payment_method.name}</dd>
    <dt>${form_refund.include_item.label.text}</dt>
    <dd>${u'含む' if include_item else u'含まない'}</dd>
    <dt>${form_refund.include_system_fee.label.text}</dt>
    <dd>${u'含む' if include_system_fee else u'含まない'}</dd>
    <dt>${form_refund.include_transaction_fee.label.text}</dt>
    <dd>${u'含む' if include_transaction_fee else u'含まない'}</dd>
    <dt>${form_refund.include_delivery_fee.label.text}</dt>
    <dd>${u'含む' if include_delivery_fee else u'含まない'}</dd>
    <dt>${form_refund.cancel_reason.label.text}</dt>
    <dd>${oh.cancel_reason(cancel_reason)}</dd>
    % if is_sej:
    <dt>払戻受付期間</dt>
    <dd>${vh.term(start_at, end_at)}</dd>
    <dt>${form_refund.need_stub.label.text}</dt>
    <dd>${u'必要' if need_stub else u'不要'}</dd>
    % endif
  </dl>
</div>

<h4>警告・エラー</h4>
<table class="table">
  <thead>
    <tr>
      <th>予約番号</th>
      <th>販売区分</th>
      <th>決済方法</th>
      <th>引取方法</th>
      <th>警告内容</th>
    </tr>
  </thead>
  <tbody>
% if errors_and_warnings:
% for order, errors in errors_and_warnings:
  % for i, error in enumerate(errors):
    % if i == 0:
    <tr>
      <td rowspan="${len(errors)}">${order.order_no}</td>
    % else:
    <tr>
    % endif
      <td>${order.sales_segment.sales_segment_group.name}</td>
      <td>${order.payment_delivery_pair.payment_method.name}</td>
      <td>${order.payment_delivery_pair.delivery_method.name}</td>
      <td>
        ${oh.render_error_label(request, error['type'])}
        ${error['message']}
      </td>
    </tr>
  % endfor
% endfor
% else:
    <tr>
      <td colspan="5">警告・エラーはありません</td>
    </tr>
% endif
  </tbody>
</table>

<form class="form-horizontal well cleardix" action="${request.route_path('orders.refund.confirm')}" method="POST">
  <div class="pull-right">
    <a href="${request.route_path('orders.refund.settings')}" class="btn">戻る</a>
    % if error_count > 0:
        <button type="submit" class="btn btn-danger" disabled="disabled">払戻できません</button>
    % elif warning_count > 0:
        <button type="submit" class="btn btn-danger">警告に注意しつつ払戻予約を実行する</button>
    % else:
        <button type="submit" class="btn btn-primary">払戻予約を実行する</button>
    % endif
  </div>
</form>
