<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'トップ', u'払戻一覧'],
    urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h1>払戻一覧</h1>
</div>

% if refunds:
<%! from altair.app.ticketing.orders.models import OrderCancelReasonEnum %>
<div></div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>公演</th>
        <th>予約数</th>
        <th>ステータス</th>
        <th>${form.payment_method_id.label.text}</th>
        <th style="width: 80px;">払戻対象</th>
        <th>理由</th>
        <th>${form.start_at.label.text}</th>
        <th>半券<br>要否</th>
        <th>更新日時</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    % for refund in refunds:
      <tr>
        <td>
        % for p in refund.performances:
          ${p.name}
        % endfor
        </td>
        <td>${refund.order_count}</td>
        <td>${refund.status}</td>
        <td>${refund.payment_method.name}</td>
        <td>
        % if refund.include_item:
          <span class="label label-default">${form.include_item.label.text}</span>
        % endif
        % if refund.include_system_fee:
          <span class="label label-warning">${form.include_system_fee.label.text}</span>
        % endif
        % if refund.include_transaction_fee:
          <span class="label label-important">${form.include_transaction_fee.label.text}</span>
        % endif
        % if refund.include_delivery_fee:
          <span class="label label-info">${form.include_delivery_fee.label.text}</span>
        % endif
        % if refund.include_special_fee:
          <span class="label label-success">${form.include_special_fee.label.text}</span>
        % endif
        </td>
        <td>${u''.join([enum.v[1] for enum in OrderCancelReasonEnum if refund.cancel_reason == unicode(enum.v[0])])}</td>
        <td>
        % if refund.start_at or refund.end_at:
          ${refund.start_at or u''} 〜<br>
          ${refund.end_at or u''}
        % endif
        </td>
        <td>${u'要' if refund.need_stub else u'否'}</td>
        <td>${refund.updated_at}</td>
        <td>

        </td>
      </tr>
    % endfor
    </tbody>
  </table>
</div>
% endif
