<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'トップ', u'購入情報', u'払戻'],
    urls=[request.route_path('index'), request.route_path('orders.index')]
  )}
</%block>

<div class="page-header">
  <h1>払戻</h1>
</div>

<div style="float: left;">
  <%include file="/orders/refund/_search.html" args="form=form_search" />
</div>
<div style="clear: both;"></div>

<script type="text/javascript">
  <%include file="/orders/_checkbox_status.js" />

  $.event.add(window, "load", function(){
    var model = new CheckboxStatus(0);
    var view = new CheckboxStatusAppView($("#checkbox_status_count"), $("input.checkbox_status"));
    var urls = {
      load: "${request.route_url('orders.api.checkbox_status', action='load')}",
      add: "${request.route_url('orders.api.checkbox_status', action='add')}",
      addall: "${request.route_url('orders.api.checkbox_status', action='addall')}",
      remove: "${request.route_url('orders.api.checkbox_status', action='remove')}",
      removeall: "${request.route_url('orders.api.checkbox_status', action='removeall')}",
      reset: "${request.route_url('orders.api.checkbox_status', action='reset')}"
    }

    var presenter = new CheckboxStatusPresenter(model, view, urls);
    $("input.checkbox_status[type='checkbox']").on("change", presenter.on_check.bind(presenter));
    $("#checkbox_status_reset").click(presenter.on_reset.bind(presenter));
    $("#addall").click(presenter.on_addall.bind(presenter));
    $("#removeall").click(presenter.on_removeall.bind(presenter));
    presenter.on_load();

    // selectable check
    $("table").selectable({
      filter: "td.checkbox_status-wrap",
      distance: 1,
      stop: function(){
        $(".ui-selected input[type='checkbox']", this).each(function(_,e){
          $(e).click();
        });
        $(".ui-selected").removeClass("ui-selected");
      }
    })
  });
</script>

<div class="area">
  <dl>
    <dt>チェックされた数</dt>
    <dd id="checkbox_status_count"></dd>
  </dl>

  % if request.matched_route.name == 'orders.refund.checked':
    <a type="button" class="btn" href="${request.route_path('orders.refund.search')}">全ての予約を表示</a>
  % else:
    <a type="button" class="btn" href="${request.route_path('orders.refund.checked')}">選択した予約だけ表示</a>
  % endif
  <button type="button" class="btn" id="checkbox_status_reset">リセット</button>
  <a type="button" class="btn" id="addall">全て選択</a>
  <a type="button" class="btn" id="removeall">全て選択しない</a>
  <a type="button" class="btn btn-danger" href="${request.route_path('orders.refund.confirm')}">選択した予約に払戻条件を設定</a>
</div>

% if orders:
<p> ${max(orders.items_per_page * (orders.page-1) + 1,0)}～${min(orders.items_per_page * orders.page, orders.item_count)} / ${orders.item_count}件</p>
<div class="orders">
  <%include file="/orders/_list.html" args="form=form, orders=orders" />
</div>
% endif
