<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<%!
  from altair.app.ticketing.orders.models import OrderCancelReasonEnum
  from altair.app.ticketing.payments import plugins
%>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'トップ', u'払戻一覧', u'払戻詳細'],
    urls=[
      request.route_path('index'),
      request.route_path('orders.refund.index')
    ]
  )}
</%block>

<div class="page-header">
  <h1>払戻詳細</h1>
</div>

<div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>公演</th>
        <th>予約数</th>
        <th>ステータス</th>
        <th>払戻方法</th>
        <th style="width: 80px;">払戻対象</th>
        <th>理由</th>
        <th>払戻期間</th>
        <th>半券</th>
        <th>更新日時</th>
        <th style="width: 120px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        % for p in refund.performances:
          ${p.name}<br>
          公演日:${p.start_on}<br>
        % endfor
        </td>
        <td>${refund.order_count}</td>
        <td>${core_helpers.get_refund_status_label(refund.status)}</td>
        <td>${refund.payment_method.name}</td>
        <td>
        % if refund.include_item:
          <span class="label label-default">${form.include_item.label.text}</span>
        % endif
        % if refund.include_system_fee:
          <span class="label label-warning">${form.include_system_fee.label.text}</span>
        % endif
        % if refund.include_transaction_fee:
          <span class="label label-important">${form.include_transaction_fee.label.text}</span>
        % endif
        % if refund.include_delivery_fee:
          <span class="label label-info">${form.include_delivery_fee.label.text}</span>
        % endif
        % if refund.include_special_fee:
          <span class="label label-success">${form.include_special_fee.label.text}</span>
        % endif
        </td>
        <td>${u''.join([enum.v[1] for enum in OrderCancelReasonEnum if refund.cancel_reason == unicode(enum.v[0])])}</td>
        <td>
        % if refund.start_at or refund.end_at:
          ${refund.start_at or u''} 〜<br>
          ${refund.end_at or u''}
        % endif
        </td>
        <td>
        % if refund.need_stub is not None:
          ${u'要' if refund.need_stub else u'不要'}
        % endif
        </td>
        <td>${refund.updated_at}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-small" href="${request.route_path('orders.download', _query=dict(refund_id=refund.id))}"><i class="icon-file"></i> 払戻予約ダウンロード</a>
        % if refund.editable():
            <a class="btn btn-small" href="${request.route_path('orders.refund.edit', refund_id=refund.id)}"><i class="icon-pencil"></i> 編集</a>
            <a class="btn btn-small" href="javascript:delete_refund(${refund.id});"><i class="icon-remove"></i> 削除</a>
        % endif
        % if refund.payment_method.payment_plugin_id == plugins.SEJ_PAYMENT_PLUGIN_ID:
            <a class="btn btn-small" href="${request.route_path('orders.refund.export_result', refund_id=refund.id)}"><i class="icon-file"></i> コンビニ払戻実績ダウンロード</a>
          </div>
        % endif
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  function delete_refund(id) {
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '${request.route_path('orders.refund.delete', refund_id='{id}')}'.replace(encodeURIComponent('{id}'), id)).text('払戻予約を削除する');
    var message = '選択した払戻予約を削除します。よろしいですか？';
    modal.find('#message').html('<p>' + message + '</p>');
    modal.modal('toggle');
  }
</script>

<%namespace file="/common/modal.html" name="m" />
${m.delete_modal(label_cancel=u'戻る')}

<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h3>内訳</h3>
    </div>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>公演</th>
          <th>公演日</th>
          <th>決済方法</th>
          <th>引取方法</th>
          <th>発券</th>
          <th>払戻方法</th>
          <th>払戻予約数</th>
          <th>払戻金額</th>
        </tr>
      </thead>
      <tbody>
        % for bd in refund.breakdowns():
        <tr>
          <td>${bd.performance_name}</td>
          <td>${bd.performance_start_on}</td>
          <td>${bd.payment_method_name}</td>
          <td>${bd.delivery_method_name}</td>
          <td>${u'済' if bd.issued else u'未'}</td>
          <td>${bd.refund_payment_method_name}</td>
          <td>${bd.order_count}</td>
          <td>${vh.price(bd.amount)}</td>
        </tr>
        % endfor
      </tbody>
    </table>
  </div>
</div>
