<!-- footer -->
<footer class="ts-footer">
  <div class="ts-footer-inner">
    <div class="ts-footer-wrap">
      <nav>
        <ul class="ts-footer-nav">
          <li><a href="http://www.areaq.jp/" target="_blank">${__(u'運営会社')}</a></li>
          <li><a href="mailto:area-q@areaq.jp" target="_blank">${__(u'お問い合わせ')}</a></li>
          <li><a href="http://areaq.tstar.jp/privacy.html" target="_blank">${__(u'個人情報保護方針')}</a></li>
        </ul>
        <p class="copyright">&copy; TicketStar, Inc.</p>
      </nav>
    </div>
  </div>
</footer>
