@charset "utf-8";

/*
	File Name   : content.css
	Author      : Kensuke Takahashi
	Description : コンテンツエリア関係 他
*/


/* 共通
----------------------------------------------------------- */
#main h2 {
	clear: both;
	position: relative;
	left: -1px;
	margin: 0 0 10px;
	padding: 0 0 3px 10px;
	border-bottom: 2px solid #bf0000;
	color: #bf0000;
	font-size: 18px;
	font-weight: bold;
}

.align1 {
	text-align: right;
}

.align2 {
	width: 20%;
	margin: 0 auto;
	padding: 15px;
	background: #ed4a27 none repeat scroll 0 0;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.align2:hover {
	opacity: 0.8;
}

/* チケット購入
----------------------------------------------------------- */
#main h1 {
	background: #bf0000 none repeat scroll 0 0;
	margin: 0 0 20px;
	padding: 8px;
	color: #fff;
	font-size: 20px;
}

.settlementSelectBox {
	width: auto;
}
.settlementSelectBoxInner {
	padding: 2px;
	border: 2px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.settlementSelectBox table {
	width: 100%;
}
.settlementSelectBox th {
	width: 25%;
	padding: 5px 10px;
	font-size: 116.7%;
}
.settlementSelectBox td {
	padding: 12px;
	background: #fff;
}
.settlementSelectBox select {
	padding: 5px;
	border: 1px solid #ccc;
}
.selectdate-box {
	margin: 20px;
}
.selectdate-box dl {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #CCC;
	padding: 10px;
}
.selectdate-box dl dt,.selectdate-box dl dd {
	padding: 5px;
}
.selectdate-box dl dt {
	float: left;
	width: 10%;
	font-weight: bold;
}

/* clearfix
--------------------------------------------------- */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
.clearfix {
    display: inline-table;
    min-height: 1%;
}
 
/* Hides from IE-mac */
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End hide from IE-mac */


/*#settlementSelectEnd td {
	background: none;
}*/

.settlementBox {
	margin-bottom: 20px;
}

.settlementBoxInner {
	overflow: hidden;
	padding-bottom: 10px;
}

.settlementBoxInner dl {
	margin-left:10px;
}

.settlementBoxInner dl dt.cartPayment {
	font-size:140%;
	font-weight:bold;
	border-left:2px #ccc solid;
	padding:3px 0 0 10px;
	height:30px;
	margin:8px 0 10px 0;
}

.settlementBoxInner p{
	margin:0 0 10px 20px;
}

.settlementBox2 {
	margin: 0 10px 20px;
	border: 2px solid #ccc;
	background: #fff none repeat scroll 0 0;
}

.settlementBoxInner2 {
	height: 1%;
	overflow: hidden;
	padding: 10px 8px 10px 12px;
}

.settlementBox h2 {
	position: static !important;
	padding: 8px 0 10px 12px;
	margin-bottom: 5px;
}

.settlementBox2 h2 {
	position: static !important;
	padding: 8px 0 10px;
	margin-bottom: 5px;
}

.settlementBox2 h2#hallName {
	padding: 10px;
	border-left: 5px double #999;
	background: #efefef none repeat scroll 0 0;
	font-size: 18px;
	line-height: 1;
}

#settlementOperation .settlementBoxInner2 h3 {
	font-size: 16px;
	font-weight: normal;
}

#settlementOperation .settlementOperationPaneInner {
	height: 500px;
	overflow: hidden;
}

#settlementOperation .settlementOperationPaneInner .settlementOperationPaneInnerContent {
	position: relative;
}

.settlementPayBox {
	width: 100%;
	margin: 0 0 5px 0;
}

.settlementPayBox table {
	display: table-caption;
	width: 100%;
	border: 3px solid #eee;
}

.settlementPayBox dl {
	width: 884px;
}

.settlementPayBox dt {
	padding: 15px 10px 10px;
	color: #bf0000;
	font-size: 116.7%;
	font-weight: bold;
}

.settlementPayBox dd {
	overflow: hidden;
	padding: 10px 10px 15px;
}

.settlementPayBox dd .deliveryFee,
.settlementPayBox dd .paymentFee {
	color: #bf0000;
	font-weight: bold;
	font-size: 116.7%;
}

.settlementPayBox dd .description {
	margin-top: 4px;
}

.settlementPayBox td {
	vertical-align: top;
}

.settlementPayBox td.settlementPayRadio {
	vertical-align: middle;
}

.settlementPayBox td dl {
	width: 400px;
}

.settlementPayBox td dl.fullwidth {
	width: 869px;
}

.settlementPayBox dd dl {
	margin: 0 0;
	padding: 0 0;
	width: auto;
	overflow: hidden;
}

.settlementPayBox dd dl dt {
	margin: 0 16px 0 0;
	width: 12em;
	padding: 0 0;
	float: left;
	clear: left;
	border: none;
	color: #000;
	font-size: 100%;
}

.settlementPayBox dd dl dd {
	margin: 0 0;
	padding: 0 0;
	float: left;
	border: none;
}

.settlementPayBox dd dl dd .paymentFee {
	color: #bf0000;
	font-weight: bold;
	font-size: 100%;
}

.settlementPayRadio {
	width: 45px;
	text-align: center;
}

.convenience {
	float: right;
	margin: 0 0 0 10px;
}

.settlementPayInput {
	width: 854px;
	margin: 0 0 10px 5px;
}

.settlementPayInputInner {
	height: 1%;
	padding: 5px;
}

.settlementPayInput dl {
	width: auto;
}

.settlementPayInput dt {
	padding: 10px;
	border: none;
}

.settlementPayInput dd {
	margin: -2.6em 0 0 0;
	padding: 0 0 10px 10em;
	border-bottom: 1px dotted #e5e5e5;
}

.settlementPayInput dd:last-child {
	border: none;
}

/* イベント詳細 */
#settlementEventDetail .settlementBoxInner2 {
	padding: 0 0 10px;
}

#settlementEventDetail h2 {
	margin: 0 3px 5px 2px;
	padding: 8px 0 10px 10px;
}

#settlementEventDetail table,
.settlementEventDetail table {
	width: 100%;
	margin: 0 auto;
	border: 3px solid #ccc;
}

#settlementEventDetail th,
.settlementEventDetail th {
	padding: 15px 20px 15px 10px;
	background: #fbfbfb none repeat scroll 0 0;
	vertical-align: top;
	border: 1px solid #ccc;
	white-space: nowrap;
}

#settlementEventDetail td,
.settlementEventDetail td {
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
}

/* 確認画面ボックス */
.confirmBox {
	margin: 0 0 20px;
	padding: 3px;
}

.confirmBoxInner {
	padding: 20px;
	border: 1px solid #e3e0db;
}

.confirmBoxContent {
  margin: 0 10px;
}

.confirmBox h2 {
	clear: both;
	position: relative;
	left: -1px;
	margin: 0 0 10px;
	padding: 0 0 3px 10px;
	border-bottom: 2px solid #bf0000;
	color: #bf0000;
	font-size: 18px;
	font-weight: bold;
}

.confirmBox h3 {
	margin: 0 10px 15px;
	font-size: 116.7%;
}

#name {
	margin-bottom: 0;
	padding: 10px 10px 10px 15px;
	border: 1px solid #f2f2e5;
	border-bottom: 1px solid #cacac9;
}

/* お買い物内容 */
#commission th,
#commission td {
	border-top: 1px solid #e5e5e5;
}

#total th,
#total td {
	padding: 15px 10px;
	border-top: 1px solid #989897;
}

/* お支払い、引取方法 */
#confirmDelivery {
	width: 100%;
	border: 3px solid #ccc;
}

#confirmDelivery th {
	padding: 15px 20px 15px 10px;
	border: 1px solid #ccc;
	background: #fbfbfb none repeat scroll 0 0;
	font-weight: bold;
	white-space: nowrap;
}

#confirmDelivery td {
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
	text-align: left;
}

#confirmDelivery td label {
	display: inline-block;
	width: 16%;
}

#confirmDelivery td label[field_id] {
	display: inline-block;
	width: 30%;
}

.settlementPayInput input[type="text"],
#confirmDelivery input[type="text"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #f4f3f1;
    padding: 5px;
    margin: 3px;
}

/* メールマガジンの配信 */
#mailMagazineBox,
#mailKeywordBox {
	width: 934px;
	margin: 0 0 5px 7px;
}

#mailMagazineBoxInner,
#mailKeywordBoxInner {
	padding: 5px;
}

#mailMagazineBoxInner ul,
#mailKeywordBoxInner ul {
	height: 1%;
	background-color: #fff7e5;
}

#mailMagazineBoxInner li,
#mailKeywordBoxInner li {
	padding: 10px;
	border-bottom: 1px solid #ebe4cc;
}

#mailMagazineBoxInner li:last-child,
#mailKeywordBoxInner li:last-child {
	border: none
}

#mailMagazineBoxInner dl,
#mailKeywordBoxInner dl {
	margin: 0 0;
	padding: 0 0;
}

#mailMagazineBoxInner dt,
#mailKeywordBoxInner dt {
	font-weight: bold;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
}

#mailMagazineBoxInner dd,
#mailKeywordBoxInner dd {
	padding: 0px 10px 10px 10px;
}

#mailMagazineBoxInner dd ul,
#mailKeywordBoxInner dd ul {
	overflow: hidden;
}

#mailMagazineBoxInner dd ul li,
#mailKeywordBoxInner dd ul li {
	float: left;
	padding: 10px 0 0;
	border: none;
}

#mailMagazineBoxInner dd ul li.subscribed,
#mailKeywordBoxInner dd ul li.subscribed {
	color: #7f7b72;
}

#mailMagazineBoxInner dd ul li.subscribed label:after,
#mailKeywordBoxInner dd ul li.subscribed label:after {
  display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #fff;
	background-color: #f88;
	vertical-align: middle;
	margin: 0 0 0 4px;
	padding: 2px 3px;
	font-size: 10px;
	height: 10px;
	line-height: 10px;
	font-weight: bold;
	content: "購読中";
}


#errorBtn {
	padding-left: 50px;
	font-size: 120%;
}

#errorBtn li {
	float: left;
	margin-right: 10px;
}

#errorBtnTop {
	padding-top: 20px;
}