@charset "utf-8";

/* Container
----------------------------------------------------------- */
#container {
	width: 950px;
	margin: 0 auto 20px;
	padding: 20px 20px;
	background: #fff none repeat scroll 0 0;
	text-align: left;
	box-sizing: border-box;
}

/* Main
----------------------------------------------------------- */
#main {
	position: relative;
	left: 1px;
	float: right;
	width: 740px;
	line-height: 1.5;
	margin-bottom: 20px;
	padding-top: 3px;
	font-size: 120%;
}

* html #main {
	overflow-x: hidden;
}

#index #main {
	float: left;
	width: 700px;
}

#detail #main {
	float: left;
	width: 690px;
}

#settlement #main {
	position: static;
	float: none;
	width: auto;
	margin: 10px 0 30px;
}

/* inputs
----------------------------------------------------------- */
input[type=radio],
input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
input[type=radio] + label,
input[type=checkbox] + label {
    position: relative;
    margin-right: 12px;
    line-height: 30px;
    cursor: pointer;
}
input[type=radio],
input[type=checkbox] {
	display: none;
	margin: 0;
	background: #000;
}
input[type=radio] + label,
input[type=checkbox] + label {
	padding: 0 0 0 30px;
}
input[type=radio] + label::before,
input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	background: #FFF;
}
input[type=radio] + label::before {
	border: 2px solid #ccc;
	border-radius: 30px;
}
input[type=checkbox] + label::before {
	border: 2px solid #ccc;
}
input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
input[type=radio]:checked + label::after {
	left: 5px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #E71063;
	border-radius: 8px;
}
input[type=checkbox]:checked + label::after {
	left: 3px;
	width: 16px;
	height: 8px;
	margin-top: -8px;
	border-left: 3px solid #E71063;
	border-bottom: 3px solid #E71063;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



/* reset
----------------------------------------------------------- */
.selectpicker {
    float: right;
    margin: 5px;
    border: 1px solid #111;
    width: 120px;
    padding: 5px 35px 5px 5px;
    font-size: 14px;
    height: 30px;
}

.selectwrapper {
     height: 30px;
}

.selectdiv {
    clear: both;
}
