<%page args="form" />
<%namespace file="/common/helpers.html" name="h" />

<div id="modal-stock_allocation" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>在庫数を入力</h3>
  </div>

  <form action="javascript:save_allocate_number();" method="POST">
    <div class="modal-body">
      ${h.form_item(form.stock_type_id)}
      ${h.form_item(form.performance_id)}
      ${h.form_item(form.quantity)}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <input class="btn" type="submit" value="保存"></a>
    </div>
  </form>
</div>
