<%inherit file="./base.html"/>
<%namespace file="./tags_mobile.html" name="mobile" />

<%mobile:header>チケット購入</%mobile:header>

<p>
購入を完了いたしました。
</p>

<%mobile:header>受付番号</%mobile:header>
<div>
${order.order_no}
</div>
<%mobile:header>お買い物内容</%mobile:header>
<div>
${order.performance.event.title} ${order.performance.name} ${h.performance_date(order.performance)} ${order.performance.venue.name}
</div>
% for idx, product in enumerate(order.ordered_products):
<%mobile:form_header>商品${idx + 1}</%mobile:form_header>
<div>
${product.product.name} ${product.seat_quantity} 枚<br/>
￥${h.format_number(product.product.price * product.quantity)}<br/>
% if product.product.sales_segment.seat_choice:
  % for seat in product.seats:
  ${seat['name']}<br/>
  % endfor
% endif
</div>
% endfor
<%mobile:form_header>決済手数料</%mobile:form_header>
<div>
￥${h.format_number(order.transaction_fee)}
</div>
<%mobile:form_header>発券/引取手数料</%mobile:form_header>
<div>
￥${h.format_number(order.delivery_fee)}
</div>
<%mobile:form_header>システム利用料</%mobile:form_header>
<div>
￥${h.format_number(order.system_fee)}
</div>
<%mobile:form_header>合計金額</%mobile:form_header>
<div>
￥${h.format_number(order.total_amount)}
</div>

<%mobile:header>お支払い</%mobile:header>
<div>
${h.render_payment_finished_viewlet(request, order)}
</div>

<%mobile:header>お引き取り</%mobile:header>
<div>
${h.render_delivery_finished_viewlet(request, order)}
</div>
<br />
<div>お申込内容は、「<a href="https://vissel.tstar.jp/orderreview">購入履歴確認</a>」からもご確認いただけます。受付番号とご登録時のお電話番号をお手元にご用意の上、ご利用ください。</div>
<a href="${request.context.host_base_url}">チケットTOP</a>
<a href="${request.route_url("cart.index", event_id=order.performance.event.id)}">他のチケットを購入</a>
