<%page args="order" />
<%namespace file="/common/helpers.html" name="h" />
<%namespace file="/common/modal.html" name="m" />

<div class="btn-toolbar"  style="margin: 0pt;">
  <div class="btn-group" style="margin: 0pt;">
	<a class="btn btn-inverse"
	   href="${request.route_path('orders.show', order_id=order. id)}">
	  <i class="icon-step-backward icon-white"> </i>戻る
	</a>
  </div>

  <div class="btn-group" style="margin: 0pt;">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
	  <i class="icon-minus"> </i>購入完了メール
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li>
		<a href="${request.route_path("orders.mailinfo", order_id=order.id, action="complete_mail_preview")}">preview</a>
		<a href="#">再送</a>
	  </li>
	</ul>
  </div>
  <div class="btn-group" style="margin: 0pt;">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
	  <i class="icon-minus"> </i>購入キャンセルメール
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li>
		<a href="#">preview</a>
		<a href="#">再送</a>
	  </li>
	</ul>
  </div>
</div>
