@charset "utf-8";


/* common
--------------------------------------------------- */

.fs10 { font-size: 1.0rem; }
.fs12 { font-size: 1.2rem; }
.fs14 { font-size: 1.4rem; }
.fs16 { font-size: 1.6rem; }
.fs18 { font-size: 1.8rem; }
.fs20 { font-size: 2.0rem; }
.fs22 { font-size: 2.2rem; }
.fs24 { font-size: 2.4rem; }

.mg5 { margin: 5px; }
.mg10 { margin: 10px; }
.mg20 { margin: 20px; }
.mg30 { margin: 30px; }
.mg40 { margin: 40px; }
.mg50 { margin: 50px; }
.mgtb5 { margin: 5px; }
.mgtb10 { margin: 10px 0; }
.mgtb20 { margin: 20px 0; }
.mgtb30 { margin: 30px 0; }
.mgtb40 { margin: 40px 0; }
.mgtb50 { margin: 50px 0; }
.mgt5 { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt20 { margin-top: 20px; }
.mgt30 { margin-top: 30px; }
.mgt40 { margin-top: 40px; }
.mgt50 { margin-top: 50px; }
.mgb5 { margin-bottom: 5px; }
.mgb10 { margin-bottom: 10px; }
.mgb20 { margin-bottom: 20px; }
.mgb30 { margin-bottom: 30px; }
.mgb40 { margin-bottom: 40px; }
.mgb50 { margin-bottom: 50px; }
.mgl5 { margin-left: 5px; }
.mgl10 { margin-left: 10px; }
.mgl20 { margin-left: 20px; }
.mgl30 { margin-left: 30px; }
.mgl40 { margin-left: 40px; }
.mgl50 { margin-left: 50px; }
.mgr5 { margin-right: 5px; }
.mgr10 { margin-right: 10px; }
.mgr20 { margin-right: 20px; }
.mgr30 { margin-right: 30px; }
.mgr40 { margin-right: 40px; }
.mgr50 { margin-right: 50px; }

.pd5 { padding: 5px; }
.pd10 { padding: 10px; }
.pd20 { padding: 20px; }
.pd30 { padding: 30px; }
.pd40 { padding: 40px; }
.pd50 { padding: 50px; }
.pdtb5 { padding: 5px; }
.pdtb10 { padding: 10px 0; }
.pdtb20 { padding: 20px 0; }
.pdtb30 { padding: 30px 0; }
.pdtb40 { padding: 40px 0; }
.pdtb50 { padding: 50px 0; }
.pdt5 { padding-top: 5px; }
.pdt10 { padding-top: 10px; }
.pdt20 { padding-top: 20px; }
.pdt30 { padding-top: 30px; }
.pdt40 { padding-top: 40px; }
.pdt50 { padding-top: 50px; }
.pdb5 { padding-bottom: 5px; }
.pdb10 { padding-bottom: 10px; }
.pdb20 { padding-bottom: 20px; }
.pdb30 { padding-bottom: 30px; }
.pdb40 { padding-bottom: 40px; }
.pdb50 { padding-bottom: 50px; }
.pdl5 { padding-left: 5px; }
.pdl10 { padding-left: 10px; }
.pdl20 { padding-left: 20px; }
.pdl30 { padding-left: 30px; }
.pdl40 { padding-left: 40px; }
.pdl50 { padding-left: 50px; }
.pdr5 { padding-right: 5px; }
.pdr10 { padding-right: 10px; }
.pdr20 { padding-right: 20px; }
.pdr30 { padding-right: 30px; }
.pdr40 { padding-right: 40px; }
.pdr50 { padding-right: 50px; }

.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.bold { font-weight: bold; }


.fll { float: left; }
.flr { float: right; }
.clear { clear: both; }

.lh150 { line-height: 150%; }
.lh180 { line-height: 180%; }

.col2 { width: 50%; margin: 0 auto; }
.col2_1 { width: 48%; float: left; }
.col2_2 { width: 48%; float: right; }
 
.col3_1 , .col3_2 , .col3_3 { width: 30%; float: left; } 
.col3_2 { margin-right: 5%; margin-left: 5%; }
 
.col4_1 , .col4_2 , .col4_3 , .col4_4 { width: 22%; float: left; }
.col4_2 { margin-left: 4%; margin-right: 4%; }
.col4_3 { margin-right: 4%; }

.list-disc li { list-style: outside disc; margin: 0 0 3px 20px; }
.list-rice li { list-style: outside none; margin: 0 0 3px 20px; text-indent: -1.4rem; }
.list-rice li:before { content: "※"; }

.offleft {
	position: absolute;
	text-indent: -9999px;
}

a{ text-decoration:none; color: #3171bd; outline: none; }
a:focus { outline: none; }
a:hover,a.selected{ text-decoration: underline; }

.clr_red { color: red; }