<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'トップ', u'購入情報', u'払戻', u'払戻完了'],
    urls=[request.route_path('index'), request.route_path('orders.index'), request.route_path('orders.refund.index')]
  )}
</%block>

<div class="page-header">
  <h1>払戻完了</h1>
</div>

<!--
<div class="well">
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="${request.route_path('orders.download', _query=dict(action='checked'))}">
      <i class="icon-file icon-white"></i> 払戻対象をダウンロード
    </a>
  </div>
</div>
-->
