@charset "utf-8";

/*
	File Name   : default.css
	Description : デフォルトのスタイルのリセット及び基本設定
*/


/* Universal reset
----------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-style: normal;
}

html {
	overflow-y: scroll;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}

caption, th {
	text-align: left;
}

object, embed {
	vertical-align: top;
}

hr, legend {
	display: none;
}

h1 {
    background-color: #009A52;
}

h2, h3, h4, h5, h6 {
	font-size: 100%;
}

img {
	border: none;
	vertical-align: bottom;
}

li {
	list-style: none;
}

p {
	margin-bottom: 1em;
}

input {
	padding: 1px;
}

textarea {
	padding: 2px;
	overflow: auto;
	font-size: 100%;
}

option {
	padding-right: 10px;
}

*+html option {
	padding-right: 0; /* for IE7&Opera */
}

* html option {
	padding-right: 0; /* for IE6 */
}

acronym, abbr {
	cursor: help;
}


/* Body setting
----------------------------------------------------------- */
body {
	color: #333;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:14px;
	background: #fff;
}


/* Link setting
----------------------------------------------------------- */
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
}

#naviSkip {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}




.headerTitle {
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #FFF;
    overflow: hidden;
    vertical-align: middle;
    padding: 0px 0px 0px 20px;
    -moz-user-select: none;
    background-image: url("images/textures.png");
}

h3.glitter {
    padding: 5px 5px 5px 10px;
    background: url("../img/common/h3_textures.png") repeat scroll 0% 0% transparent;
    border-left: 5px solid #009541;
    margin: 2px 0px 5px;
    color: #009541;
}

.btn-primary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-primary {
  background-image: linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8C4E), color-stop(0.48, #FF7825), color-stop(0.5, #FF6000), to(#FF7621));
  background-image: -webkit-linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  background-image: -moz-linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary:hover {
  background-image: linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9856), color-stop(0.48, #FF9958), color-stop(0.5, #FF8741), to(#FF8631));
  background-image: -webkit-linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  background-image: -moz-linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.dispBox {
  margin: 10px;
}
.dispBoxInner {
  margin-left: 17px;
}

.btn {
  text-decoration: none;
  padding: 0 1em;
  font-size: 75%;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.btn-large {
  font-size: 20px;
  line-height: 40px;
  height: 44px;
}

.buttonbox {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0 0;
  padding: 10px 10px;
  white-space: nowrap;
}

button {
  height: 28px;
  margin: 3px 0 0 0;
  font-weight: bold;
}

.buttonbox .btn {
  width: 100%;
}
