<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">公演中止</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h2 class="glitter red">公演中止</h2>

% if canceled_topics:
    % for count, topic in enumerate(canceled_topics):
        <a href="${request.route_path('smartphone.page', kind='canceled_detail', _query=dict(topic_id=topic.id))}">
            ${helper.nl2br(topic.title)|n}
        </a>
        <hr/>
    % endfor
% else:
    公演中止・変更情報はありません。
% endif
