@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
/* reset
--------------------------------------------------- */
.contents *, .contents *:before, .contents *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, p, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
dl, dt, dd, ul, li {
  list-style: none;
}
/* ----- clearfix ----- */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-table;
  min-height: 1%;
}
/* Hides from IE-mac */
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */
/* common
--------------------------------------------------- */
.contents a {
  color: #F00000;
}
.contents a:hover {
  color: #F00;
}
.contents img {
  width: 100%;
}
.contents .no-pc {
  display: none;
}
.contents .no-sp {
  display: block;
}
.contents .xs {
  font-size: 1.2rem !important;
}
.contents .tax {
  font-size: 1.2rem;
  padding: 0 0 0 3px;
}
.contents .end {
  color: #CCC;
}
.contents em {
  color: #CF000D;
  font-style: normal;
  font-size: 120%;
  font-weight: bold;
}
.contents strong {
  color: #F00;
  font-style: normal;
  font-size: 110%;
  font-weight: bold;
}
.contents .strikethrough {
  color: #666;
  text-decoration: line-through;
}
.contents .saturday {
  color: #000033;
  margin: 0 0 0 5px;
}
.contents .sunday {
  color: #FF2626;
  margin: 0 0 0 5px;
}
.contents strong {
  font-style: normal;
  font-size: 110%;
  font-weight: bold;
}
.contents .caution {
  padding: .3em 0 0 1em;
  color: #999;
  font-size: 1.2rem;
  text-indent: -1em;
}
.contents .caution::before {
  content: "※";
  color: #999;
}
.contents .advance, .contents .public {
  display: inline-block;
  width: 70px;
  margin: 0 10px 0 0;
  padding: .25em .5em;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
}
.contents .advance {
  background: #CF000D;
}
.contents .public {
  background: #fe9a03;
}
.hidden-xs {
  font-size: 10px !important;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .contents .no-pc {
    display: block;
  }
  .contents br.no-pc {
    display: inline;
  }
  .contents .no-sp {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .contents .advance, .contents .public {
    display: block;
    width: 100%;
    margin: 0 0 5px;
  }
  .contents .caution {
    font-size: 1.0rem;
    line-height: 1.2;
  }
}
/* layout
--------------------------------------------------- */
.contents {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .contents {
    line-height: 1.4;
  }
}
@media screen and (max-width: 480px) {
  .contents {
    font-size: 1.2rem;
    line-height: 1.3;
  }
}
.contents-area {}
@media screen and (max-width: 768px) {
  .contents-area {}
}
@media screen and (max-width: 480px) {
  .contents-area {}
}
.contents-inner {}
/* hedding
--------------------------------------------------- */
.hero {
  border-bottom: 5px solid #7d00be;
  padding: 10px 10px 5px;
}
.contents h1 {
  display: block;
  max-width: 130px;
}
@media screen and (max-width: 768px) {
  .contents h1 {
    max-width: 100px;
  }
}
.contents h1.center {
  margin: 0 auto;
}
.contents h1 a {
  display: block;
  width: 100%;
}
.contents h2 {
  color: #FFF;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .contents h2 {
    font-size: 1.2rem;
  }
}
.contents h3 {
  color: #FFF;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .contents h3 {
    font-size: 1rem;
  }
}
/* CONTENTS
--------------------------------------------------- */
@media (orientation: portrait) {}
@media (orientation: landscape) {}
#live-area {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  #live-area {
    display: block;
  }
}
/* @media screen and (max-width: 1024px) and (orientation: landscape) {
   .iphone #live-area,
  .android #live-area {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  } 
}
@media (orientation: portrait) {
   .iphone #live-area,
  .android #live-area {
    display: block;
  } 
} */
.iphone #live-area, .android #live-area {
  display: block;
}
#live-area-inner {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
}
/*IE SET*/
@media all and (-ms-high-contrast: none) {
  /* #live-area-inner {
    -webkit-box-flex:none;
    -ms-flex:none;
    flex:none;
    margin: 0 auto;
    width: 60%;
  } */
  #live-area-inner {
    -webkit-box-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%;
		max-width: 960px;
    margin: 0 auto;
  }
}
/*IE SET END*/
@media screen and (max-width: 1024px) {
  #live-area-inner {
    width: 100%;
  }
}
/* @media screen and (max-width: 1024px) and (orientation: landscape) {
   .iphone #live-area-inner,
  .android #live-area-inner {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    width: auto;
    margin: 0 auto;
  } 
}
@media (orientation: portrait) {
   .iphone #live-area-inner,
  .android #live-area-inner {
    width: 100%;
  } 
} */
.iphone #live-area-inner, .android #live-area-inner {
  width: 100%;
}
#live-area-inner.one-live {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#live-area-inner.no-thread {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#live-area-inner iframe {
  width: 100%;
}
#live-area-inner-thread {
  width: 350px;
  background: #FFF;
  margin: 0 -6px 0 auto;
}
/*IE SET*/
@media all and (-ms-high-contrast: none) {
  /* #live-area-inner-thread {
    width: 40%;
  } */
  #live-area-inner-thread {
    display: none;
  }
}
/*IE SET END*/
@media screen and (max-width: 1024px) {
  #live-area-inner-thread {
    width: 100%;
    margin: 0 auto;
  }
}
/* @media screen and (max-width: 1024px) and (orientation: landscape) {
   .iphone #live-area-inner-thread,
  .android #live-area-inner-thread {
    width: 350px;
    margin: 0 -6px 0 auto;
  } 
}
@media (orientation: portrait) {
   .iphone #live-area-inner-thread,
  .android #live-area-inner-thread {
    width: 100%;
    margin: 0 auto;
  } 
} */
.iphone #live-area-inner-thread, .android #live-area-inner-thread {
  width: 100%;
  margin: 0 auto;
}
#live-area-inner-thread iframe {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: solid #EFEFEF 1px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  #live-area-inner-thread iframe {
    height: 300px;
  }
}
/* @media screen and (max-width: 1024px) and (orientation: landscape) {
   .iphone #live-area-inner-thread iframe,
  .android #live-area-inner-thread iframed {
    height: 100%;
  } 
}
@media (orientation: portrait) {
   .iphone #live-area-inner-thread iframe,
  .android #live-area-inner-thread iframed {
    height: 300px;
  } 
} */
.iphone #live-area-inner-thread iframe, .android #live-area-inner-thread iframed {
  height: 300px;
}
.target.is-hidden {
  display: none;
}
.thread-btn .button {
  background: #CCC;
  color: #FFF;
  font-size: 1rem;
  border: solid 1px #CCC;
  float: right;
  cursor: pointer;
  transition-duration: 0.5s;
}
.thread-btn .button:hover {
  background: #666;
  color: #FFF;
}
.thread-btn .button .comment-on {
  display: none;
}
.thread-btn .button .comment-off {
  display: inline;
}
.thread-btn .button.off .comment-on {
  display: inline;
}
.thread-btn .button.off .comment-off {
  display: none;
}
/*IE SET*/
@media all and (-ms-high-contrast: none) {
  .thread-btn .button {
    display: none;
  }
}
/*IE SET END*/
.thread-btn.no-thread {
  display: none;
}
#live-title {
  background: #000;
  text-align: center;
}
#live-title-inner {
  padding: 15px 10px;
}
#live-title-inner.left {
  text-align: left;
}
#live-title-inner.right {
  text-align: right;
}
.notes {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.notes li {
  margin: 5px 0 0;
  padding: 0 0 0 1em;
  text-indent: -1em;
  text-align: left;
}
.notes li::before {
  content: "※";
}
/* official link
--------------------------------------------------- */
.official {
  margin: 50px auto 0;
  padding: 1em 0;
  text-align: center;
  background: #ef281a;
}
.official a {
  padding: 1em 0;
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}
/* btn
--------------------------------------------------- */
.btn-area {
  margin-top: 30px;
}
.btnV {
  display: block;
  width: 50%;
  margin: 10px auto 0;
  padding: .5em .5em;
  border: 1px solid #999;
  border-radius: 4px;
  background: #FFF;
  color: #999 !important;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .btnV {
    width: 75%;
  }
}
.btnV:hover {
  background: #EEE;
}
.btnN {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  background-color: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}
/* footer
--------------------------------------------------- */
footer {
  text-align: center;
  border-top: #ccc solid 1px;
  padding: 10px 0;
  margin-top: 30px;
}
#copyright {
  font-size: 1rem;
  color: #999;
}