<%inherit file="./base.html"/>
<%namespace file="altair.app.ticketing.cart:templates/__commons__/tags_mobile.html" name="mobile" />
<%mobile:header>追加情報の入力</%mobile:header>
<form method="post" action="${request.current_route_path()}">
% for i, field in enumerate(form_fields):
% if field['field']:
<div>
<%mobile:form_header>${field['field'].label}</%mobile:form_header>
</div>
% if field['field'].description:
<div><font size="-1">${field['field'].description}</font></div>
% endif
<div>
${field['field'](_widget=h.sensible_widget(request, field['field'].widget))}
${h.error_list(request, field['field'])}
</div>
% if field['field']._note:
<div><font size="-1">${field['field']._note}</font></div>
% endif
% else:
% if i > 0:
<hr />
% endif
<div>${field['description']}</div>
% endif
% endfor
<hr />
<input type="submit" value="送信" />
</form>
