/* PC,SP共通 */

/* ご購入前の注意 */

.caution-page img{
	display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.caution-page h3{
  text-align: center;
  letter-spacing: 0.15em;
  color: #860010;
  margin-bottom: 40px;
}

.caution-page p{
	text-align: left;
    line-height: 2;
    letter-spacing: 0.15em;
    margin-bottom: 60px;
    color: #848484;
}

.caution-page p span{
	color: #000;
    font-weight: bold;
    width: 120px;
    display: inline-block;
}

.caution-page p a{
	color: #860010;
}

/*　支払・受取り方法　*/

.payment-page img{
  display: block;
  margin: 0 auto;
}

.payment-page table {
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 12px;
  color: #818181;
}

.payment-page thead th {
  background: #ece9de;
  border-right: 2px #fff solid;
  line-height: 1;
}

.payment-page th {
  width: 20%;
  vertical-align: middle;
}

.payment-page tbody th {
  background: #ece9de;
  border-top: 2px #fff solid;
  border-right: 2px #fff solid;
}

.payment-page td {
  width: 20%;
  line-height: 3;
  border: 1px solid #fff;
}

.payment-page a{
  color: #860010;
  text-decoration: underline;
}

.payment-page td a {
  color: #860010;
  padding-left: 13px;
  position: relative;
}
.payment-page td a:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  border: 4px solid transparent;
  border-top: 8px solid #860010;
}

.payment-page .payment-flow{
  font-size: 0;
  padding: 60px 0 20px;
  border-top: solid 2px #860010;
  margin-top: 60px;
}
.payment-page .payment-flow.payment-flow-first{
  border-top: none;
  padding-top: 0;
}
.payment-page .payment-flow li{
  font-size: 18px;
  display: inline-block;
  color: #fff;
  width: 37%;
  text-align: center;
  padding: 20px 10px;
  vertical-align: top;
}
.payment-page .payment-flow li:first-child{
  background: #860010;
}
.payment-page .payment-flow li:nth-child(2){
  background: #a74551;
}
.payment-page .payment-flow li:nth-child(3){
  background: #f6aa00;
}

.payment-page .payment-flow span{
  font-size: 12px;
}

.payment-page .payment-flow-txt{
  padding:20px;
}

.payment-page .payment-flow-txt li{
  line-height: 2;
}

.rd{
  color: #cc0000;
}
.attention {  
color: #cc0000; 
} 
.link { 
color: #860010; 
text-decoration: underline; 
} 
/* PC,SP共通　END*/


/* PC */

@media screen and (min-width: 768px) {

.link:hover { 
color: #860010; 
opacity: .7;  
}
.rule-num-list-box { 
display: table; 
width: 100%;  
} 
.rule-num-list-box .rule-num-list { 
line-height: 1.8; 
} 
.rule-num-list-box .num,  
.rule-num-list-box .txt { 
display: table-cell;  
} 
.rule-num-list-box .num { 
width: 38px;  
}
.plus-icon {
position: absolute; 
right: 0; 
z-index: 1; 
height: 20px; 
width: 20px;  
} 
.plus-icon:before,  
.plus-icon:after {  
content: "";  
width: 20px;  
height: 2px;  
background: #000; 
position: absolute; 
right: 0; 
top: 50%; 
transition: 200ms ease all; 
} 
.plus-icon:before { 
-webkit-transform: rotate(0deg);  
-ms-transform: rotate(0deg);  
transform: rotate(0deg);  
} 
.plus-icon:after {  
-webkit-transform: rotate(90deg); 
-ms-transform: rotate(90deg); 
transform: rotate(90deg); 
}
.gray-ttl {
background: #ddd; 
font-size: 16px;  
padding: 5px 0 5px 15px;  
color: #010101; 
} 
.square-ttl { 
color: #860010; 
font-size: 18px;  
} 
.square-ttl:before {  
content: "";  
width: 14px;  
height: 14px; 
background: #860010;  
display: inline-block;  
vertical-align: middle; 
margin: 0 10px 3px 0; 
}

.sub-contents{
  padding:80px 60px;
}

.bg-contents{
	padding-bottom: 80px;
}

.caution-page p a{
	text-decoration: underline;
}

/*--------------------------------------------
  PC 支払・受取り方法
---------------------------------------------*/
.payment-page .card-view{
  text-align: center;
  color: #000;
}

.payment-page .payment-flow li:nth-child(3){
  width:26%;
}
.payment-page .tbl-primary  td {
  transition: 200ms all ease;
}
.payment-page .tbl-primary tr:hover td {
  background: #ece9de;
}

/*--------------------------------------------
  PC サービス利用規約
---------------------------------------------*/
.agreement-page .bg-contents {
  padding-bottom: 60px;
}
.agreement-page .sub-contents {
  padding: 80px 55px;
}
.agreement-page .rule-inner-list-box,
.agreement-page .rule-num-list-box,
.agreement-page .rule-txt {
  margin: 20px;
  color: #848484;
}
.agreement-page .rule-list-box .rule-list:first-child .gray-ttl {
  margin-top: 0;
}
.agreement-page .gray-ttl {
  margin-top: 40px;
}
.agreement-page .rule-num-list-box {
  padding-left: 20px;
}
.agreement-page .square-ttl {
  margin: 80px 0 30px;
}

/*--------------------------------------------
  PC 特定商取引法に基づく表示
---------------------------------------------*/
.legal-page .bg-contents {
  padding-bottom: 60px;
}
.legal-page .tbl-primary .legal-info-ttl,
.legal-page .tbl-primary .legal-info-txt {
  border: 1px solid #fff;
}
.legal-page .tbl-primary .legal-info-txt {
  padding: 30px 40px;
}
.legal-list-box .legal-list {
  margin-bottom: 30px;
}
.legal-list-box .legal-list .legal-list-ttl {
  margin-bottom: 10px;
}
.legal-list-box .legal-list:last-child {
  margin-bottom: 0;
}
.legal-page .tbl-primary tr:first-child .legal-info-txt {
  padding: 0;
}
.legal-page .tbl-primary tr:first-child .legal-info-txt .legal-list-box .legal-list {
  padding: 20px 40px;
  border-top: 1px solid #fff;
  margin-bottom: 0;
}
.legal-page .tbl-primary tr:first-child .legal-info-txt .legal-list-box .legal-list:first-child {
  border-top: none;
}
.legal-page .tbl-primary .legal-info-ttl {
  width: 200px;
}
/*--------------------------------------------
  PC よくあるご質問
---------------------------------------------*/
.faq-page .bg-contents {
  padding-bottom: 60px;
}
.faq-page .faq-list-box .faq-q {
  padding: 20px 0;
  border-top: 1px solid #ece9de;
  color: #818181;
  position: relative;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}
.faq-page .faq-list-box .faq-q:first-child {
  border-top: 1px solid #ece9de;
}
.faq-page .faq-list-box .faq-q:hover {
  cursor: pointer;
  color: #860010;
}
.faq-page .faq-list-box .faq-q.show {
  color: #860010;
}
.faq-page .faq-list-box .faq-q.show .plus-icon:after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
.faq-page .faq-list-box .faq-q.last {
  border-bottom: 1px solid #ece9de;
}

.faq-page .faq-list-box .faq-a {
  display: none;
  background: #f8f7f3;
  padding: 20px;
  border-top: 1px solid #ece9de;
  margin-bottom: 20px;
}
.faq-page .faq-list-box .faq-txt {
  margin-top: 20px;
}
.faq-list-box.decimal {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 10px;
}
.faq-page .faq-txt {
  margin-top: 40px;
}

/*--------------------------------------------
  PC チケット購入方法
---------------------------------------------*/
.help-page .help-step-ttl {
  font-size: 18px;
  color: #860010;
  margin-bottom: 10px;
  text-align: left;
}
.help-page .help-step-ttl .num {
  font-size: 30px;
}
.help-page .help-step-txt {
  color: #848484;
  text-align: left;
}
.help-page .help-step-box .help-step {
  text-align: center;
}
.help-page .help-step-box .help-step img {
  margin: 20px 0 40px;
}
.help-inner-list-box .help-inner-list {
  text-align: left;
}
.help-page .section-ttl {
  margin: 40px 0 0 0;
}
.help-page .help-inner-list {
  display: table;
  width: 100%;
}
.help-page .help-inner-list .num,
.help-page .help-inner-list .txt {
  display: table-cell;
}
.help-page .help-inner-list .num {
  width: 20px;
}


}

/* SP */

@media screen and (max-width: 767px) {

.rule-num-list-box {
    display: table;
    width: 100%;
    }
    .rule-num-list-box .rule-num-list {
    line-height: 1.8;
    }
    .rule-num-list-box .num,
    .rule-num-list-box .txt {
    display: table-cell;
    }
    .rule-num-list-box .num {
    width: 35px;
    }
.plus-icon {
    position: absolute;
    right: 0;
    z-index: 1;
    height: 15px;
    width: 15px;
    }
    .plus-icon:before,
    .plus-icon:after {
    content: "";
    width: 15px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transition: 200ms ease all;
    }
    .plus-icon:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    .plus-icon:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    
.caution-page .sub-contents{
	padding:40px 20px;
}

.caution-page img{
	width: 100%;
}

.caution-page .caution{
	width: 20%;
	margin: 0 auto;
}

.caution-page p span{
    display: block;
}
.payment-page table{
  letter-spacing: 0;
}

.payment-page td{
  height:80px;
  vertical-align: middle;
}

.payment-page td a{
  border: none;
}

.payment-page .payment-flow{
  padding: 20px 0;
  margin-top:20px;
}

.payment-page .payment-flow li{
  font-size: 14px;
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  vertical-align: middle;
}
.payment-page .payment-flow-txt{
  padding:20px 0;
}
.payment-page .sub-contents img{
  width: 100%;
}

/*--------------------------------------------
  SP サービス利用規約
---------------------------------------------*/
.agreement-page .bg-contents {
  padding-bottom: 30px;
}
.agreement-page .sub-contents {
  padding:40px 20px;
}
.agreement-page .rule-inner-list-box,
.agreement-page .rule-num-list-box,
.agreement-page .rule-txt {
  margin: 10px 5px;
  color: #848484;
}
.agreement-page .rule-list-box .rule-list:first-child .gray-ttl {
  margin-top: 0;
}
.agreement-page .gray-ttl {
  margin-top: 20px;
}
.agreement-page .rule-num-list-box {
  padding: 10px 5px;
  margin: 0;
}
.agreement-page .rule-num-list-box .rule-num-list {
  margin-bottom: 10px;
}
.agreement-page .square-ttl {
  margin: 30px 0 15px;
}

/*--------------------------------------------
  SP 特定商取引法に基づく表示
---------------------------------------------*/
.legal-page .bg-contents {
  padding-bottom: 30px;
}
.legal-page .sub-contents {
  padding: 40px 20px;
}
.legal-page .tbl-primary .legal-info-ttl,
.legal-page .tbl-primary .legal-info-txt {
  border: 1px solid #fff;
  display: block;
  width: 100%;
}
.legal-page .tbl-primary .legal-info-txt {
  padding: 20px;
}
.legal-page .tbl-primary .legal-info-txt img {
  max-width: 100%;
}
.legal-list-box .legal-list {
  margin-bottom: 30px;
}
.legal-list-box .legal-list .legal-list-ttl {
  margin-bottom: 10px;
}
.legal-list-box .legal-list:last-child {
  margin-bottom: 0;
}
.legal-page .tbl-primary tr:first-child .legal-info-txt {
  padding: 0;
}
.legal-page .tbl-primary tr:first-child .legal-info-txt .legal-list-box .legal-list {
  padding: 20px;
  border-top: 1px solid #fff;
}
.legal-page .tbl-primary tr:first-child .legal-info-txt .legal-list-box .legal-list:first-child {
  border-top: none;
}
/*--------------------------------------------
  SP よくあるご質問
---------------------------------------------*/
.faq-page .bg-contents {
  padding-bottom: 30px;
}
.faq-page .sub-contents {
  padding:40px 20px;
}
.faq-page .faq-list-box .faq-q {
  padding: 20px 25px 20px 0;
  border-bottom: 1px solid #ece9de;
  color: #818181;
  position: relative;
}
.faq-page .faq-list-box .faq-q .plus-icon {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.faq-page .faq-list-box .faq-q:first-child {
  border-top: 1px solid #ece9de;
}
.faq-page .faq-list-box .faq-q:hover {
  cursor: pointer;
}
.faq-page .faq-list-box .faq-q.show {
  color: #860010;
}
.faq-page .faq-list-box .faq-q.show .plus-icon:after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
.faq-page .faq-list-box .faq-txt {
  margin-top: 20px;
}
.faq-page .faq-list-box .faq-a {
  display: none;
  background: #f8f7f3;
  padding: 10px;
  border-bottom: 1px solid #ece9de;
}
.faq-page .faq-list-box .faq-list {
  margin-bottom: 10px;
}
.faq-list-box.decimal {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 10px;
}
.faq-page .faq-txt {
  margin-top: 40px;
}
/*--------------------------------------------
  SP チケット購入方法
---------------------------------------------*/
.help-page .help-step-ttl {
  font-size: 16px;
  color: #860010;
  margin: 20px 0 10px;
  text-align: left;
}
.help-page .help-step:first-child .help-step-ttl {
  margin-top: 0;
}
.help-page .help-step-ttl .num {
  font-size: 26px;
}
.help-page .help-step-txt {
  color: #848484;
  text-align: left;
}
.help-page .help-step-box .help-step {
  text-align: center;
}
.help-page .help-step-box .help-step img {
  display: none;
}
.help-inner-list-box .help-inner-list {
  text-align: left;
}
.help-page .help-inner-list {
  margin-bottom: 10px;
}
.help-page .section-ttl {
  margin: 20px 0 0 0;
}
.help-page .help-inner-list .num,
.help-page .help-inner-list .txt {
  display: table-cell;
}
.help-page .help-inner-list .num {
  width: 20px;
}


.tbl-primary th, .tbl-primary td {
    padding: 5px;
    color: #818181;
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    font-size: 10px;
    line-height: 1.4;
}

.tbl-primary th {
    padding: 10px 5px;
}



}
