<%page args="membership,order"/>
<%namespace file="/common/helpers.html" name="ch" />

<script type="text/javascript">
  function edit_member_group(baseurl){
    var id = $('input.[name="membergroup_id"]:checked').val();
    if (!id) return;
    location.href = baseurl.replace("__id__", id);
  };
  function delete_member_group() {
    var id = $('input.[name="membergroup_id"]:checked').val();
    if (!id) return;
    popup_membergroup_delete_modal(id);
  };
</script>

<%
  actions = {
    'new':dict(
      label=u'新規',
      url=request.route_path("membergroups",membergroup_id="*", action="new",_query={"membership_id": membership.id,"redirect_to":redirect_to}),
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_member_group("%s")' % request.route_path("membergroups",membergroup_id="__id__",action="edit",_query={"membership_id": membership.id,"redirect_to":redirect_to}),
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_member_group()',
      icon='icon-minus',
    ),
  }
  order = iter(order or ['new', 'edit', 'delete'])
%>
${HH.action_button(actions, order)}
