<%page args="form, route_name, route_path, redirect_to" />
<%namespace file="/common/helpers.html" name="ch" />

<script>
// ゲストの場合、自動入力は動作しないが、安全を二重に
function changeCheck() {
  if ($('#is_guest').attr("checked")) {
    $('#enable_auto_input_form').attr("checked", false );
    $('#enable_auto_input_form').attr("disabled", "disabled");
  } else {
    $('#enable_auto_input_form').removeAttr("disabled");
  }
}

$(document).ready(function(){
  changeCheck();
  $("#is_guest").click(function() {
    changeCheck();
  });
});
</script>

<div class="well">
  <form class="form-horizontal" action="${route_path}" method="POST">
    ${form.membership_id}
    <input type="hidden" name="redirect_to" value="${redirect_to}">
    <fieldset>
      ${ch.form_item(form.name, class_=u'span5', maxlength=255)}
      ${ch.form_item(form.is_guest)}
      ${ch.form_item(form.enable_auto_input_form)}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
    </div>
  </form>
</div>
