<%page args="member_groups" />
<%namespace file="/common/helpers.html" name="ch" />
<% from altair.app.ticketing.users.models import MemberGroup %>
<table class="table table-striped table-bordered table-condensed" style="margin-bottom: 10px;">
  <thead>
  <tr>
    <th>${HH.label_text_for(MemberGroup.name)}</th>
    <th>${HH.label_text_for(MemberGroup.is_guest)}</th>
  </tr>
  </thead>
  <tbody>
  %for g in member_groups:
  <tr>
    <td><a href="${request.route_path("membergroups", membergroup_id=g.id, action="show")}">${g.name}</a></td>
    <td>${g.is_guest}</td>
  </tr>
  %endfor
  </tbody>
</table>
