<%page args="member_groups" />
<%namespace file="/common/helpers.html" name="ch" />
<% from altair.app.ticketing.users.models import Membership, MemberGroup %>
<div>
※表示名は他の会員種別でログインしているときに、別の会員種別での販売に移動したときに使用されます。<br/>
会員種別に表示名を指定していない場合は、会員種別名が使用されます。
</div>
<table class="table table-striped table-bordered table-condensed" style="margin-bottom: 10px;">
  <thead>
  <tr>
    <th>${HH.label_text_for(MemberGroup.name)}</th>
    <th>${HH.label_text_for(Membership.display_name)}</th>
    <th>${HH.label_text_for(MemberGroup.is_guest)}</th>
  </tr>
  </thead>
  <tbody>
  %for g in member_groups:
  <tr>
    <td><a href="${request.route_path("membergroups", membergroup_id=g.id, action="show")}">${g.name}</a></td>
    <td><a href="${request.route_path("membergroups", membergroup_id=g.id, action="show")}">${g.membership.display_name if g.membership.display_name else g.membership.name}</a></td>
    <td>${g.is_guest}</td>
  </tr>
  %endfor
  </tbody>
</table>