<%inherit file="${context['main_template'].uri}" />
<div class="withdrawErrorInfoBox">
%if not error_msg:
<div align="center">以下の抽選申込を取消いたしました</div><br/>
%else:
<div align="center" style="font-size:18px">${error_msg}</div>
%endif
</div>
<div class="withdrawBackBox">
    <a href="${request.route_path('lots.review.index')}" class="withdrawBackButtonSP">入力画面に戻る</a>
    </div>
</div>

<div class="confirmBox">
  <div class="confirmBoxInner">
    <h2><img src="${request.static_url('altair.app.ticketing.lots:static/KT/pc/img/order/title_number.gif')}" alt="申込番号" width="97" height="30" /></h2>
    <div class="confirmBoxText">${entry.entry_no}</div>
  </div>
</div>

%if h.lot_entry_display_status(entry, now) == u'抽選申込取消':
  <div class="confirmBox">
    <dl>
      <dt><img src="${request.static_url('altair.app.ticketing.lots:static/KT/pc/img/order/title_election_result.gif')}" alt="抽選結果" /></dt>
      <dd>
        <div class="subinner2">
        お申込みいただいておりました以下の抽選受付を${h.withdraw_time_label(entry)}に取消いたしました。
        </div>
      </dd>
    </dl>
  </div>
%else:
  <div class="confirmBox">
    <dl>
      <dt><img src="${request.static_url('altair.app.ticketing.lots:static/KT/pc/img/order/title_election_result.gif')}" alt="抽選結果" /></dt>
      <dd>
      <div class="confirmBoxText">
        % if h.lot_entry_display_status(entry, now) == u'当選表示':
抽選の結果、お客様はご当選されました。
払込票番号や引換票番号は、下記の購入履歴よりご確認いただけます。<br/>
<a href="/orderreview/guest" target="_blank">■購入履歴確認ページ</a>をご確認ください。<br/>
予約番号は ${entry.entry_no} です。
        % elif h.lot_entry_display_status(entry, now) == u'落選表示':
抽選の結果、お客様は残念ながら落選となりました。
        % elif h.lot_entry_display_status(entry, now) == u'抽選待ち表示':
抽選結果発表は、${h.announce_time_label(entry.lot)}を予定しております。抽選結果発表後、抽選結果確認ページにて当選・落選をご確認下さい。
        % endif
        </div>
      </dd>
    </dl>
  </div>
%endif

<div class="settlementBox">
  <div class="settlementBoxInner">
    <h2 class="title">お申込内容</h2>
    <div class="settlementSelectBox">
      <div class="settlementSelectBoxInner02">
        <table>
          <tr>
            <th>決済方法</th>
            <td>${entry.payment_delivery_method_pair.payment_method.name}</td>
          </tr>
          <tr class="settlementSelectEnd">
            <th>引取方法</th>
            <td>${entry.payment_delivery_method_pair.delivery_method.name}</td>
          </tr>
        </table>
      </div>
    </div>
    %for wish in wishes:
    <div class="settlementSelectBox">
      <div class="settlementSelectBoxInner02">

        <p class="header"><strong>第${wish.wish_order + 1}希望</strong><span>${wish.performance.name}</span></p>
        <table summary="第一希望">
          <tr>
            <th>抽選結果</th>
            <td>
              %if entry.is_ordered:
                %if wish.elected_at:
                  ご用意できました
                %else:
                  ご用意できませんでした
                %endif
              %elif entry.rejected_at:
                ご用意できませんでした
              %else:
                抽選処理前です
              %endif
            </td>
          </tr>
          <tr>
            <th>公演日・会場</th>
            <td>${h.japanese_datetime(wish.performance.start_on)}　${wish.performance.venue.name}</td>
          </tr>
          <tr class="settlementSelectEnd">
            <th>希望内容と手数料</th>
            <td>
              <dl class="cost-summary">
              %for lot_product in wish.products:
                <dt class="product-name">${lot_product.product.name}</dt>
                <dd class="product-price-and-quantity">${h.format_currency(lot_product.product.price)}×${lot_product.quantity}枚=${h.format_currency(lot_product.subtotal)} (税込)</dd>
              %endfor
                <dt class="payment-method">決済手数料 (${wish.lot_entry.payment_delivery_method_pair.payment_method.name})</dt>
                <dd class="payment-fee">${h.format_currency(wish.transaction_fee)}</dd>
                <dt class="delivery-method">配送手数料 (${wish.lot_entry.payment_delivery_method_pair.delivery_method.name})</dt>
                <dd class="delivery-fee">${h.format_currency(wish.delivery_fee)}</dd>
                <dt class="delivery-method">システム利用料</dt>
                <dd class="delivery-fee">${h.format_currency(wish.system_fee)}</dd>
                %if wish.special_fee > 0:
                <dt class="delivery-method">${wish.special_fee_name}</dt>
                <dd class="delivery-fee">${h.format_currency(wish.special_fee)}</dd>
                %endif
                <dt class="total-amount">合計</dt>
                <dd class="total-amount">${h.format_currency(wish.total_amount)} (税込)</dd>
              </dl>
            </td>
          </tr>
        </table>
      </div>
    </div>
    %endfor
  </div>
</div>

<div class="settlementBox">
  <div class="settlementBoxInner">
    <h2><img src="${request.static_url('altair.app.ticketing.lots:static/KT/pc/img/order/title_buyer.gif')}" alt="購入者情報" width="97" height="30" /></h2>
    <div class="settlementSelectBox">
      <div class="settlementSelectBoxInner02">
        <table summary="お支払・お引取り方法選択">
          <tr>
            <th>購入者氏名</th>
            <td>${shipping_address.last_name} ${shipping_address.first_name}</td>
          </tr>
          <tr>
            <th>購入者氏名（カナ）</th>
            <td>${shipping_address.last_name_kana} ${shipping_address.first_name_kana}</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>${shipping_address.email_1}</td>
          </tr>
          <tr>
            <th>電話番号 (自宅)</th>
            <td>${shipping_address.tel_1}</td>
          </tr>
          <tr>
            <th>電話番号 (携帯電話)</th>
            <td>${shipping_address.tel_2}</td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
              〒${shipping_address.zip}<br />
              ${shipping_address.prefecture}${shipping_address.city}${shipping_address.address_1}<br />
              ${shipping_address.address_2}</td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td>${u"{0.year} 年 {0.month}月 {0.day}日".format(birthday)}</td>
          </tr>
          <tr>
            <th>性別</th>
            <td>${h.format_gender(request, gender)}</td>
          </tr>
          <tr class="settlementSelectEnd">
            <th><label>メモ欄</label></th>
            <td>${memo|h.nl2br}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
