<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description" content="チケットの販売、イベントの予約は楽天チケットで！楽天チケットは演劇、バレエ、ミュージカルなどの舞台、クラシック、オペラ、ロックなどのコンサート、野球、サッカー、格闘技などのスポーツ、その他イベントなどのチケットのオンラインショッピングサイトです。">
<meta name="keywords" content="チケット,演劇,クラシック,オペラ,コンサート,バレエ,ミュージカル,野球,サッカー,格闘技">
<meta name="viewport" content="width=device-width,user-scalable=no">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.lots:static/smartphone/css/import.css')}" type="text/css" media="all">
<link rel="shortcut icon" href="${request.static_url('altair.app.ticketing.lots:static/smartphone/img/common/favicon.ico')}">
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/js/underscore-min.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/js/jquery.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript">
  $(function() {
    $('form').disableOnSubmit('input[type=submit]');
  });
</script>
<title>チケット販売・イベントの予約 [音楽 / コンサート / 舞台 / スポーツ] - 楽天チケット</title>
</head>
<body>
<p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="${request.static_url('altair.app.ticketing.lots:static/smartphone/img/common/skip.gif')}" alt="本文へジャンプ" width="1" height="1"></a></p>
<div id="container">

<div id="header">
<h1><img src="${request.static_url('altair.app.ticketing.lots:static/smartphone/img/common/logo.gif')}" width="113" height="57" alt="楽天チケット"></h1>
<h2>チケット申込</h2>
</div>

  <!-- ========== main ========== -->
<div id="main">
${h.get_nickname(request)}
%if request.session.peek_flash():
  %for message in request.session.pop_flash():
     <table cellpadding="0" cellspacing="0" class="form89ers">
     <tr><td colspan="2" style="text-align:left;"><div class="error">${message}</div></td></tr>
     </table>
  %endfor
%endif

<form id="form1" name="form1" method="post" action="${request.url}">
${form.csrf_token()}

<div class="subbox">
<dl>
<dt><p class="lineRed">クレジットカードでお支払い</p></dt>
<dd>

<div class="numberInner">

<dl class="numberList">

<dt>カード番号(半角数字)</dt>
<dd>
<p><input name="card_number" type="text" id="textfield" length="16" placeholder="1234123412341234"><br>
16桁
${h.error_list(request, form, 'card_number')}
</p>
</dd>

<dt>有効期限</dt>
<dd>
<p>
<select name="exp_month" id="select">
<option value="01">1</option>
<option value="02">2</option>
<option value="03">3</option>
<option value="04">4</option>
<option value="05">5</option>
<option value="06">6</option>
<option value="07">7</option>
<option value="08">8</option>
<option value="09">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
${h.error_list(request, form, 'exp_month')}
月
<select name="exp_year" id="select2">
<option value="12">2012</option>
<option value="13">2013</option>
<option value="14">2014</option>
<option value="15">2015</option>
<option value="16">2016</option>
<option value="17">2017</option>
<option value="18">2018</option>
<option value="19">2019</option>
<option value="20">2020</option>
</select>
年
${h.error_list(request, form, 'exp_year')}
</p>
</dd>

<dt>名義人(半角ローマ字)</dt>
<dd>
<p><input name="card_holder_name" id="textfield5" size="50" placeholder="YAMADA TARO" type="text">
</p>
${h.error_list(request, form, 'card_holder_name')}
</dd>

<dt>セキュリティコード(半角)</dt>
<dd>
<p><input name="secure_code" id="textfield6" size="5" type="text"></p>
${h.error_list(request, form, 'secure_code')}
</dd>

<dd>
<p>セキュリティコードは、MasterCard、VisaまたはJCBでは、カード裏面の署名欄に印刷されている下3桁の数字です。<br>
American Expressでは、カードの表に印刷されている4桁の数字です。</p>

<p>ブラウザの「戻る」ボタンを使用するとエラーになります。前ページに戻る場合は画面内に表示されているボタンを使用して下さい。なお、ページによってはブラウザの「更新」ボタンを使用するとエラーになる場合があります。</p>

<%
  notice = request.session.get('altair.app.ticketing.payments.auth3d_notice')
%>
%if notice:
  ${notice | n}
%else:
  <p>予約受付完了と同時に決済され、即時予約確定となります。 支払回数は≪1回払い≫のみのお取扱いとなります。 以下のクレジットカードがご利用できます。 </p>
%endif

<p><img src="${request.static_url('altair.app.ticketing.lots:static/img/common/cards.gif')}" width="100%" alt=""></p>
</dd>

</dl>

</div>

</dd>
</dl>
</div>
<p class="nextBtn"><input type="submit" value="次へ"></p>

</form>

</div>
  <!-- ========== /main ========== -->
  <div class="footerCopy">
    <div class="footernav">
      <ul>
        <li class="first"><a href="mailto:support@ticket.rakuten.co.jp">お問い合わせ</a></li>
        <li><a href="http://www.ticketstar.jp/privacy">個人情報保護方針</a></li>
        <li class="last"><a href="http://www.ticketstar.jp/legal">特定商取引法に基づく表示</a></li>
      </ul>
    </div>
    <div class="copyright">
      Copyright &copy; 2010-2013 TicketStar Inc. All Rights Reserved.
    </div>
  </div>

<%def name="error(form, field, enclose=False)">
%if form.errors.get(field):
  %if enclose:
  <div>
  %endif
  %for e in form.errors[field]:
  <span class="validation-error">${e}</span>
  %endfor
  %if enclose:
  </div>
  %endif
%endif
</%def>

</div>
</body>
</html>
