<%inherit file="./base.html"/>
<%namespace name="gtm" file="../common/gtm.html"/>
<%block name="header_gtm">${gtm.header_gtm()}</%block>
<%block name="body_gtm">${gtm.body_gtm()}</%block>
<%namespace file="tags_smartphone.html" name="m" />

<%block name="javascript">
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript">
 $(function () {
   $('#form1').disableOnSubmit('input[type=submit][name!="back"]');

   var checkbox = $('#agreement_checkbox');
   if (checkbox.length > 0) {

     var btnDomId = '#btn-complete-box > input';
     $(btnDomId).prop('disabled', true).css('opacity', 0.5);

     checkbox.click(function () {
       if ($(this).prop('checked') === true) {
         $(btnDomId).prop('disabled', false).css('opacity', 1);
       } else {
         $(btnDomId).prop('disabled', true).css('opacity', 0.5);
       }
     });
   }
 })
</script>
</%block>
<%block name="css">
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/RT/smartphone/css/content2.css')}" type="text/css" media="all">
<style>
  .button_box {
    width: 30%;
    vertical-align: top;
  }
  #btn-back {
    width: 95%;
    height: 46px;
    vertical-align: top;
    padding: 1px;
  }
  #btn-complete {
    width: 95%;
    height: 46px;
  }
  .methodArea {
    border: 1px solid #000000;
    background-color: cornsilk;
    margin: 10px auto;
    padding: 7px;
    width: 95%;
  }
  .methodArea label {
    position: relative;
    top: -2px;
  }
  .dispBox {
    margin: 7px auto;
    width: 95%;
    font-size: 90%;
  }
  .payment-delivery-position {
    margin-left: 10px;
  }
  .dispBoxInner {
    font-size: 90%;
  }
  .red {
    color: red;
  }
  .agreement-of-policy {
    margin: 20px auto 10px;
    width: 95%;
  }
  .agreement-of-policy .policy-sentence {
    % if request.organization.setting.enable_agreement_of_policy:
    padding-left: 30px;
    % endif
    font-size: 16px;
  }
</style>
</%block>

% if request.session.peek_flash():
  % for message in request.session.pop_flash():
  <div class="error" style="margin: 5px;">${message}</div>
  % endfor
% endif

<div class="dispBox">
  <span class="red">まだ申し込みは完了していません</span><br/>
  ご注文内容をご確認いただき「購入する」ボタンで購入してください。
</div>
<form id="form1" action="${delegator['url'] if delegator else request.route_url('payment.confirm')}" method="post">
  ${form.csrf_token()}
  <input type="hidden" name="event_id" value="${cart.performance.event.id}"/>

  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>お買い物内容</%m:header>
        <%include file="../../__commons__/shopping_content/sp.html" args="order_like=cart, is_planned_performance_date=True, enable_point_use_col=True, enable_transaction_fee_deduction_col=True"/>
      </div>
	  </div>
  </div>

  <% shipping = cart.shipping_address %>

  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>お支払い</%m:header>
        <div class="payment-delivery-position" style="margin-top: 20px; margin-bottom: 15px;">${h.render_payment_confirm_viewlet(request, cart)}</div>
      </div>
    </div>
  </div>

  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>お引き取り</%m:header>
        <div class="payment-delivery-position">${h.render_delivery_confirm_viewlet(request, cart)}</div>
      </div>
    </div>
  </div>

  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>購入者情報</%m:header>
        <table class="customer-table" summary="配送先情報">
          <tr>
            <th scope="row">氏名(漢字)</th>
            <td>${shipping.last_name} ${shipping.first_name}</td>
          </tr>
          <tr>
            <th scope="row">氏名(カナ)</th>
            <td>${shipping.last_name_kana} ${shipping.first_name_kana}</td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td>${shipping.email_1}</td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td>${shipping.tel_1}</td>
          </tr>
          <tr>
            <th scope="row">配送先住所 <br />※配送受取を選択した場合</th>
            <td>${shipping.zip} ${shipping.prefecture}${shipping.city}${shipping.address_1}${shipping.address_2}
            </td>
          </tr>
          <tr>
            <th scope="row">生年月日</th>
            <td>${u"{0.year} 年 {0.month}月 {0.day}日".format(shipping.birthday)}</td>
            </tr>
          <tr>
            <th scope="row">性別</th>
            <td>${h.format_sex(request, shipping.sex)}</td>
          </tr>
        </table>
      </div>
	  </div>
  </div>

  % if extra_form_data:
  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>追加情報</%m:header>
        <table class="customer-table" summary="追加情報">
          % for _, (display_name, display_value) in extra_form_data:
          <tr>
            <th scope="row">${(display_name or u'')|n}</th>
            <td>${h.sensible_coerce(request, display_value)}</td>
          </tr>
          % endfor
        </table>
      </div>
	  </div>
  </div>
  % endif

  % if review_password:
    <div class="confirmBox">
      <div class="confirmBoxInner">
        <div class="dispBox">
          <%m:header>受付確認用パスワード</%m:header>
          <table class="customer-table" summary="受付確認用パスワード">
            <tr>
              <td>${review_password[:3].ljust(13,'*')}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  % endif

  % if mailmagazines_to_subscribe:
  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>メールマガジンの配信</%m:header>
        <p style="margin: 10px auto 0; width: 95%;">
         <b>お申込み時にご入力いただいたメールアドレス</b>宛に、会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の楽天チケットニュースをお送りいたします。不要な方はチェックを外してください。<br>
          既に購読中のメールマガジンの購読停止は、マイページよりお願いします。
        </p>
        <table class="methodArea">
          % for mailmagazine, subscribed in mailmagazines_to_subscribe:
          <tr>
            <td scope="row">
              <input type="checkbox" checked="checked" name="mailmagazine" id="mailmagazine-${mailmagazine.id}" value="${mailmagazine.id}" />
              <label for="mailmagazine-${mailmagazine.id}">${mailmagazine.name}</label>
              <div style="margin-left: 2em;">${mailmagazine.description|n}</div>
            </td>
          </tr>
          % endfor
          </table>
      </div>
	  </div>
  </div>
  % endif

  % if keywords_to_subscribe:
  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>お気に入りワード登録</%m:header>
        <p style="margin: 10px auto 0; width: 95%;">
          お気に入りワードに登録しておくと、発売開始等のタイミングでお知らせメールが届きます。
        </p>
        <table class="methodArea">
          % if 4 < len(keywords_to_subscribe):
          <tr>
            <th colspan="2">
              <a href="#" onclick="$(this).closest('table.methodArea').find('input').prop('checked', true);return false;">全て選択</a>
              <a href="#" onclick="$(this).closest('table.methodArea').find('input').prop('checked', false);return false;">全て解除</a>
            </th>
          </tr>
          % endif
          % for keyword, subscribed in keywords_to_subscribe:
          <tr>
            <td scope="row">
              <input type="checkbox" checked="checked" name="keyword" id="keyword-${keyword.id}" value="${keyword.id}" ${subscribed and u'disabled="disabled"' or u''|n} />
              <label for="keyword-${keyword.id}">${keyword.label}</label>
            </td>
          </tr>
          % endfor
        </table>
      </div>
	  </div>
  </div>
  % endif

  <div class="dispBox">
<table class="agreement-of-policy">
  <tr>
    <td>
      <div class="settlementBox">
        <div class="settlementBoxInner">
          <div class="policy-sentence attention-label">(ご注意)メール受信設定のお願い</div>
          <div style="margin: 10px; background: #FEF7E7;">
            <div class="policy-sentence">
              メールが届かないとのお問合せが増えております。<br/>
             「ticket.rakuten.co.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。<br/>
              ※ソフトバンク株式会社によるメールの送受信のセキュリティ強化対応に伴い、特にソフトバンク携帯をご利用のお客さまより申込完了メールや抽選結果メールが届かないとのお問い合わせをいただいております。<br/>
              詳しくは <a href="https://ticket.faq.rakuten.ne.jp/app/answers/detail/a_id/12007" target="_blank">こちら</a> をご確認ください。
            </div>
            <br/>
            <div class="policy-sentence"><a href="http://ticket.rakuten.co.jp/terms" target="_new">サービス利用規約</a>及び、<a href="http://privacy.rakuten.co.jp/" target="_new">個人情報保護方針</a>に同意をし、購入を申し込みます。</div>
            <br/>
            % if request.organization.setting.enable_agreement_of_policy:
              <label class="agreement-checkbox-label">
                ${form.agreement_checkbox(title=u'サービス利用規約及び個人情報保護方針の同意', autocomplete="off")}
                <span class="checkmark"></span>
                <div class="policy-sentence attention-label">【ご確認いただけた方は、左のチェックボックスに必ずチェックを入れてください】</div>
              </label>
            % endif
          </div>
        </div>
      </div>
      <div class="policy-sentence attention-label">ご購入いただいたチケットを、興行主の同意なく有償譲渡することは禁止いたします。</div>
    </td>
  </tr>
</table>
  </div>

  <table style="margin: auto; width: 95%">
    <tr>
      <td class="button_box">
        <input id="btn-back" class="btn btn-primary" type="submit" name="back" value="キャンセル" />
        <div class="dispBox">
          <span class="dispBoxInner">※「キャンセル」を押すと、ここまでの選択・入力内容がすべてクリアされます。</span>
        </div>
      </td>
      <td id="btn-complete-box" class="button_box">
        % if delegator:
          ${delegator['submit']}
        % else:
          <input id="btn-complete" class="btn btn-primary" type="submit" value="購入する"/>
          <div class="dispBox">
            <span class="red dispBoxInner">
              ※「購入する」を押すと、お申込みが確定します。お申込み確定後は、理由の如何を問わず、取替・変更・キャンセルをお受けできません。
            </span>
          </div>
        % endif
      </td>
    </tr>
  </table>
</form>
<input type="hidden" name="rat" id="ratCvEvent"  value="{'step5':1}">