<%inherit file="./base.html" />
<%namespace file="tags_smartphone.html" name="m" />

<%block name="css">
  <link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/js/css/jquery.smihica_vertical_slider/smihica_vertical_slider.css')}" type="text/css" media="all" />
  <style type="text/css">
.modal {
  font-size: 150%;
}
</style>
</%block>

<%block name="javascript">
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/fashion.js')}"></script>
  <![if !(lt IE 9)]>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/fashion.svg.js')}" charset="utf-8"></script>
  <![endif]>
  <!--[if (lt IE 9)]>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/fashion.vml.js')}" charset="utf-8"></script>
  <![endif]-->
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/underscore-min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/backbone-min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxhooks.min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/carts.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/venue-viewer.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/jquery.smihica_vertical_slider.js')}" charset="utf-8"></script>
  </script>
  <script type="text/javascript">
var selected = ${selected};
var salesSegmentsSelection = ${sales_segments_selection};
var cartReleaseUrl = "${cart_release_url}";
$(function() {cart.init(salesSegmentsSelection, selected, cartReleaseUrl, false);});
</script>
</%block>

    <%
        link = request.route_url('cart.switchpc', event_id=event['id'])
        if performance:
            link = request.route_url('cart.switchpc.perf', event_id=event['id'], performance=performance)
    %>
    <a href="${link}">
        <button class="btn btn-primary btn-large">PCサイトで購入する</button>
    </a>

    <hr/>
    <%m:header>イベント名称（公演名）</%m:header>
    <div class="sectionbox">
      <div class="sectionbox-inner">
        ${event['title']} <br/>
        (<span class="performanceNameSpace"></span>)
      </div>
    </div>

    <hr/>
    <%m:header>日時・会場選択</%m:header>
    <form id="form1" name="form1" method="post" action="">
      <div id="settlementSelectBox">
        <div id="settlementSelectBoxInner">
          ${selection_label}<br/>
          <select name="select" id="date-select">
          </select>
          <br/>
          ${second_selection_label}<br/>
          <select name="select2" id="venue-select">
          </select>
          <br/>
        </div>
      </div>
    </form>

    <br/>
    <div id="settlementOperation" class="settlementBox2">
      <div class="settlementBoxInner2">
          <span id="performanceDate">-</span><br/>
          <span id="performanceVenue">-</span>

        <hr/>
        <%m:header>席種選択</%m:header>
        <div class="settlementOperationPaneInner">
          <div class="settlementOperationPaneInnerContent">
            <div id="selectSeatType" class="focused">
              <h3 class="lead">席種をお選びください</h3>
              <form name="form2" method="post" action="" class="main" onsubmit="return false;">
                <input type="hidden" name="performance_id" id="current-performance-id"/>
                <div class="seatListContainer main">
                  <ul id="seatTypeList">
                  </ul>
                  <script type="text/javascript">
                    (function () {
                      var selectSeatType = $('#selectSeatType');
                      var ul = selectSeatType.find('.seatListContainer ul');
                      var selected = ul.find("li.selected");
                      var ulTopOffset = ul.parent()[0].offsetTop;
                      var arrow = null;
                      function updateArrowPos() {
                        if (arrow) {
                          var scrollY = ul.parent().scrollTop();
                          var arrowAbsPos = selected.offsetTop + ulTopOffset;
                          arrow.css({
                            right: "0px",
                            top: arrowAbsPos - scrollY + "px"
                          });
                        }
                      }
                      ul.data('updateArrowPos', updateArrowPos);
                      ul.parent().scroll(updateArrowPos);
                      function select(it) {
                        if (!selectSeatType.hasClass('focused'))
                          return;
                        if (!it) {
                          if (selected)
                            selected.removeClass('selected');
                          if (arrow)
                            arrow.remove();
                          selected = arrow = null;
                          return;
                        }
                        if (!it.hasClass('selected')) {
                          selected.removeClass('selected');
                          it.addClass('selected');
                          selected = it;
                          if (!arrow) {
                            arrow = $('<div></div>')
                              .addClass("arrow")
                              .appendTo(selectSeatType);
                          }
                          updateArrowPos();
                        }
                        var radio = it.find(':radio');
                        if (radio.length) {
                          radio[0].checked = true;
                          radio.change();
                        }
                      }
                      ul.delegate('.seatListItemInner', 'click', function () {
                        select($(this).closest('li'));
                      });
                      ul.find("li:even").addClass("seatEven");
                      ul.find("li:odd").addClass("seatOdd");
                    })();
                  </script>
                  <div style="display:none; overflow: hidden" class="selectProduct" id="selectProductTemplate">
                    <div class="selectProduct-description"></div>
                    <div class="productListContainer">
                      <ul class="productList payment-seat-products">
                      </ul>
                      <fieldset style="display:none;" class="selected-seats">
                      </fieldset>
                      <div class="buttonbox">
                        <button class="btn-entrust-buy btn-secondary btn-large">おまかせで購入する</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="selectSeat">
              <div class="selectSeatLeftPane">
                <div class="venueViewerWrapper">
                  <div class="slider"></div>
                  <div class="venueViewer"></div>
                  <style type="text/css">
                    .venueViewer .dummy-venue-viewer {
                      display: none;
                    }
                  </style>
                  <div class="guidanceBackground"></div>
                  <div class="guidance">
                    <div class="guidanceInner">

                      <hr/>
                      <%m:header>チケット購入方法</%m:header>
                      <p>1. 希望の席種をクリックしてください。</p>
                      <p>2. 希望の券種と枚数を選択してください。</p>
                      <p>3. おまかせで購入するを選択してください。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="glitter red">イベント詳細</h2>
    <div class="settlementBox2" id="settlementEventDetail" style="clear:both">
      <div class="settlementBoxInner2">

        <%m:header>イベント名称</%m:header>
        ${event["title"]} (<span class="performanceNameSpace"></span>)

        <hr/>
        <%m:header>開催日時</%m:header>
        <span id="descPerformanceDate"></span>

        <hr/>
        <%m:header>会場</%m:header>
        ${", ".join(set(event['venues']))}

        <hr/>
        <%m:header>販売期間</%m:header>
        ${event['sales_start_on']} 〜 ${event['sales_end_on']}

        <hr/>
        <%m:header>その他</%m:header>
        %for v in event_extra_info:
          ${v['label']}
          ${v['content']|n}
        %endfor
      </div>
    </div>
