<%inherit file="./base.html" />
<%namespace name="gtm" file="../common/gtm.html"/>
<%block name="header_gtm">${gtm.header_gtm()}</%block>
<%block name="body_gtm">${gtm.body_gtm()}</%block>
<%block name="css">
  <link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/js/css/jquery.smihica_vertical_slider/smihica_vertical_slider2.css')}" type="text/css" media="all" />
  <style type="text/css">
.modal {
  font-size: 150%;
}
</style>
</%block>
<%block name="javascript">
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/fashion.js')}"></script>
  <![if !(lt IE 9)]>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/fashion.svg.js')}" charset="utf-8"></script>
  <![endif]>
  <!--[if (lt IE 9)]>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/fashion.vml.js')}" charset="utf-8"></script>
  <![endif]-->
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/underscore-min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/backbone-min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxhooks.min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/carts.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/venue-viewer.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/jquery.smihica_vertical_slider.js')}" charset="utf-8"></script>
  </script>
  <script type="text/javascript">
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</%block>
  <form class="ratForm" name="ratForm" style="display:none;">
    <input type="hidden" name="rat" id="ratCvEvent" value="{'step1':1}">
  </form>
<%include file="../../__default__/widgets/recaptcha.html" args="sitekey=sitekey" />


