<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no">
<meta name = "format-detection" content = "telephone=no">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.lots:static/SC/smartphone/css/import.css')}" type="text/css" media="all">
<link rel="shortcut icon" href="${request.static_url('altair.app.ticketing.lots:static/SC/common/img/favicon.ico')}">
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/jquery.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/underscore-min.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
<script type="text/javascript">
  $(function() {
    $('form').disableOnSubmit();
  });
</script>
<title>サウンドクリエーター</title>
</head>
<body>
<p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="${request.static_url('altair.app.ticketing.lots:static/SC/smartphone/img/common/skip.gif')}" alt="本文へジャンプ" width="1" height="1"></a></p>
<div id="container">

<div id="header">
<h1><img src="${request.static_url('altair.app.ticketing.lots:static/SC/mobile/img/logo.gif')}" width="240" height="96" alt="サウンドクリエーター"></h1>
<br/>
<div style="text-align:right;">
  <a href="/howto.html" class="headerLink" target="_blank">申込方法</a>　<a href="/faq.html" class="headerLink" target="_blank">よくある質問</a>　<a href="/kakunin.html" class="headerLink" target="_blank">申込確認</a>
</div>
<h2>抽選申込ページ</h2>
</div>

  <!-- ========== main ========== -->
    ${next.body()}
  <!-- ========== /main ========== -->
  <div class="footerCopy">
    <div class="footernav">
      <ul>
<li><a href="http://www.sound-c.co.jp/contact/">お問い合わせ</a></li>
<li><a href="http://sc.tstar.jp/kiyaku.html">利用規約</a></li>
<li><a href="http://sc.tstar.jp/tokushoho.html">特定商取引法に基づく表示</a></li>
<li><a href="http://www.acpc.or.jp/concert/">ライブ・エンタテインメント約款</a></li>
<li><a href="http://www.sound-c.co.jp/privacy/">個人情報保護方針</a></li>
      </ul>
    </div>
    <div class="copyright">
      Copyright &copy; 2010-2015 TicketStar Inc. All Rights Reserved.
    </div>
  </div>

<%def name="error(form, field, enclose=False)">
%if form.errors.get(field):
  %if enclose:
  <div>
  %endif
  %for e in form.errors[field]:
  <span class="validation-error">${e}</span>
  %endfor
  %if enclose:
  </div>
  %endif
%endif
</%def>

</div>
</body>
</html>
