<%inherit file="./base.html"/>
<%namespace file="./tags_mobile.html" name="mobile" />

<%mobile:header>チケット購入</%mobile:header>

${event.title}

<hr size="1" color="#888888" noshade="noshade" />

<p>
<font color="#ffbf00">■</font>席種をお選びください
</p>
  <ul>
  % for seat_type in seat_types:
    <li>
    <a href="${request.current_route_url(_query={'stid': seat_type['id']})}">${seat_type['name']} ${seat_type["availability_text"]}</a>
    </li>
  % endfor
  </ul>
<form action="${request.route_url('cart.index', event_id=event.id)}" method="get">
  <div style="text-align:center;">
  <input type="hidden" name="performance_name" value="${performance.name}" />
  <input type="submit" value="戻る">
  </div>
</form>

<hr size="1" color="#888888" noshade="noshade" />

<div style="background-color:#ffdddd">会場</div>
<div>
  ${venue.name}
</div>

<div style="background-color:#ffdddd">日程</div>
<div>
  ${performance.start_on}(予定)
</div>
