<%inherit file="errors/base.html"/>
<table class="layout" style="width:760px" class="wrapper">
  <tbody>
    <tr>
      <td>
        <div class="formWrapper">
          <table cellpadding="0" cellspacing="0">
            <colgroup>
            </colgroup>
            <tbody>
              <tr>
                <td>
申し訳ございません。<br/>
キョードー東北モバイルチケットは、スマートフォンサイトです。<br/>
スマートフォンから、お申込下さい。<br/>
タブレット端末は、対象外となります。<br/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
