:root {
    --custom-btn-color: #519FC5;
    --custom-color: #519FC5;
    --custom-border-color: #519FC5;
    --custom-background-color: #38579A;
}

/* buttons color ボタン
-------------------------------------------- */
.btn-primary,
.qr-btn {
    background-color: var(--custom-btn-color) !important;
}

/* heading color 見出し
-------------------------------------------- */
.heading-primary {
    background-color: var(--custom-background-color) !important;
}

.max_widh {
  width:100%;
  height:36px;
}

#upload_file_label {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#submit_button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  width:100%;
  height:36px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.primary_button {
  background-image: linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8C4E), color-stop(0.48, #FF7825), color-stop(0.5, #FF6000), to(#FF7621));
  background-image: -webkit-linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  background-image: -moz-linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.primary_button:hover {
  background-image: linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9856), color-stop(0.48, #FF9958), color-stop(0.5, #FF8741), to(#FF8631));
  background-image: -webkit-linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  background-image: -moz-linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.primary_button:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.file_label {
  color: white;
  padding: 6px;
  border-radius: 12px;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  margin-left: 10px;
  font-size: 125%;
}
