<!-- footer -->
<footer class="ts-footer">
  <div class="ts-footer-inner">
    <div class="ts-footer-wrap">
      <nav>
        <ul class="ts-footer-nav">
          <li><a href="http://www.ticketstar.jp/corporate" target="_blank">${__(u'運営会社')}</a></li>
          <li><a href="${view_context.contact_url}" target="_blank">${__(u'お問い合わせ')}</a></li>
          <li><a href="http://www.ticketstar.jp/privacy/" target="_blank">${__(u'個人情報保護方針')}</a></li>
          <li><a href="http://www.ticketstar.jp/legal" target="_blank">${__(u'特定商取引法に基づく表示')}</a></li>
        </ul>
        <p class="copyright">&copy; TicketStar, Inc.</p>
      </nav>
    </div>
  </div>
</footer>