<html>
<head>
  <title>レジャーチケット 購入確認ページ</title>
</head>
<body style="background-color:#FFFFFF" bgcolor="#FFFFFF">
  <div style="text-align: center; background-color: #FFF">
    <a href="http://leisure.tstar.jp/">
      <img src="${request.static_url('altair.app.ticketing.orderreview:static/RL/mobile/images/logo_mobile.gif')}"
           alt="レジャーチケット"/>
    </a>
  </div>
  
<%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
  <a href="http://www.ticketstar.jp/privacy/">個人情報保護方針</a> / <a href="http://www.ticketstar.jp/legal/">特定商取引法に基づく表示</a>
  <div>
     &copy; TicketStar, Inc. 
  </div>
</body>
</html>
