<%page args="form, route_name, route_path, redirect_to,membergroup_id" />
<%namespace file="/common/helpers.html" name="ch" />

<script type="text/javascript">
  $(function(){
    $("#event_id").change(function(){
      var event_id = $(this).find("option:selected").val();
      $.get("${sales_segment_groups_source}".replace("__id__", event_id)).done(function(data){
        if(data.status != "success"){
          return;
         }
        var sales_segment_groups_area=$("#sales_segment_groups");
        sales_segment_groups_area.empty();
        var sales_segment_groups = data.sales_segment_groups;
        for(var i=0,j=sales_segment_groups.length; i<j; i++){
          sales_segment_groups_area.append($("<option>").attr("value",sales_segment_groups[i].id).text(sales_segment_groups[i].name));
        }
        sales_segment_groups_area.height(20*sales_segment_groups.length);
      }).fail(function(s,e){ alert(e); });
    });
  })
</script>
<div class="well">
  <p>イベントを選んでから。対応する販売区分グループを選んでください</p>
  <form id="edit" action="${route_path}" method="POST">
    <input type="hidden" name="redirect_to" value="${redirect_to}">
    ${ch.form_item(form.event_id, id="event_id")}
    ${ch.form_item(form.sales_segment_groups, id="sales_segment_groups", style="height:%s" % form.sales_segment_groups_height)}
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
    </div>
  </form>
</div>
