<%page args="form, route_name, route_path, redirect_to,membergroup_id" />
<%namespace file="/common/helpers.html" name="ch" />

<script type="text/javascript">
  $(function() {
    $('#edit').find("input[type='checkbox']").change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    }).change();
  });
</script>

<div class="well">
  <form id="edit" action="${route_path}" method="POST">
    <input type="hidden" name="redirect_to" value="${redirect_to}">
    <input type="hidden" name="membergroup_id" value="${membergroup_id}">

    ${ch.form_item(form.id)}
    ${ch.form_item(form.event_id)}
    ${ch.form_item(form.kind)}
    ${ch.form_item(form.name, maxlength=255)}
    ${ch.form_item(form.start_at, class_='datefield')}
    ${ch.form_item(form.end_at, class_='datefield')}
    ${ch.form_item(form.upper_limit)}
    ${ch.form_item(form.seat_choice)}
    ${ch.form_item(form.public)}
    <hr />
    <p>※セブン-イレブン発券では発券日を指定した場合「前払い後日発券」になります。</p>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
    </div>
  </form>
</div>
