<%page args="form"/>

<div style="margin-left:60%;" id="describe_time">
  <!-- <span id="year"></span>年<span id="month"></span>月 <span id="day"></span>日 <span id="time"></span>現在の情報 -->
  <span id="desc_current_time"></span>現在の情報
</div>

<div class="well">
  <fieldset id="performance_input">
    <div class="control-group">
      <label class="control-label">${form.performance_id.label.text}</label>
      <div class="controls">${form.performance_id(style="width:70%;")}</div>
    </div>
  </fieldset>
</div>

<div class="page-header">
  <h4>現在の券面印刷状況</h4>
</div>

  <table class="table table" id="describe_total_result">
    <tbody>
      <tr>
        <th rowspan="5">トータル注文数</th>
        <td rowspan="5"><span id="desc_total"></span>枚</td>
        <th rowspan="2">QR引き取り</th>
        <td rowspan="2"><span id="desc_total_qr"></span>枚</td>
        <th>未印刷</th>
        <td><span id="desc_qr_unprinted"></span>枚</td>
      </tr>
      <tr>
        <th>印刷済み</th>
        <td><span id="desc_qr_printed"></span>枚</td>
      </tr>
      <tr>
        <th colspan="2">QR引き取り以外</th>
        <td colspan="2"><span id="desc_total_other"></span>枚</td>
      </tr>
    </tbody>
  </table>

<script type="text/javascript" src="${request.static_url("ticketing.printqr:static/js/message.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing.printqr:static/js/progress/app.js")}"></script>

<script type="text/javascript">
$(function(){
  var apiResource = ${json.dumps(api_resource)|n}
  var datastore = new DataStore({performance: new Performance(), total_result: new TotalResult()});
  var messageView = new (message({}).MessageInformationView)({el: $("#message_box")});
  var apiService = new ApiService({apiResource: apiResource});
  var performanceChoiceView = new PerformanceChoiceView({datastore: datastore, el: $("#performance_input"), messageView: messageView, apiService: apiService});
  var describeTotalResultView = new DescribeTotalResultView({datastore: datastore, el: $("#describe_total_result"), messageView: messageView, apiService: apiService});
  var describeTimeView = new DescribeTimeView({datastore: datastore, el: $("#describe_time"), messageView: messageView, apiService: apiService});
})
</script>
