<%inherit file="./base.html"/>
<%
import json, random
endpoints_json = json.dumps(endpoints, ensure_ascii=False)
callback_name = '%' + ''.join(random.choice("abcdefghjijklmnopqrstuvwxyz") for _ in range(0, 10))
%>

<style type="text/css">
#wrapper{
  margin-top: 100px; 
}
body {
  font: 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#screen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  z-index: 10000;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5;
}

#screen .splash {
  position: absolute;
  width: 30%;
  height: 100px;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -15%;
  background-color: #eee;
  color: #000;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}
</style>

<script type="text/javascript">
  ## todo: move
  <%include file="./app.js"/>
  <%include file="./applet.js"/>

 var onePageApp = function(){
    var apiResource = ${json.dumps(api_resource)|n}
    var appRouter = new AppRouter();
    var datastore = new DataStore({qrcodeStatus: "preload", qrcode: null});

    var messageView = new MessageView({el: $("#message_box")});
    var descriptionView = new DataStoreDescriptionView({model: datastore, el: $("#description")});
    var one = new QRInputView({datastore: datastore, router: appRouter, messageView: messageView, apiResource: apiResource, el: $("#one")});
    var two = new TicketInfoView({datastore: datastore, router: appRouter, messageView: messageView, apiResource: apiResource, el: $("#two")});
    var three = new PrinterSelectView({datastore: datastore, router: appRouter, messageView: messageView, apiResource: apiResource, el: $("#three")});
    var four = new PrintConfirmView({datastore: datastore, router: appRouter, messageView: messageView, apiResource: apiResource, el: $("#four")});

    one.nextView = two;
    two.nextView = three;
    three.nextView = four;

    //Backbone.history.start({pushState: true,  root: "/"})
    Backbone.history.start({root: "/"})
    appRouter.start.call(appRouter);
  };

 var appletApp = function(){
    window[${json.dumps(callback_name)|n}] = function (applet) {
      alert("hey");
      /*
      var service = applet.getService();
      var createProxy = function () { return applet.createPropertyChangeListenerProxy.apply(applet, arguments); };
      service.addListenerForPages(createProxy(refreshPages));
      */
      $('#screen').hide();
    };

    writeAppletTag({
      version: '1.6.0.35',
      width: 1, height: 1,
      code: 'jp.ticketstar.ticketing.printing.gui.AppApplet',
      codebase: ${json.dumps(request.application_url)|n},
      archive: ${json.dumps(request.static_url('ticketing:static/printing-0.0.0-jar-with-dependencies.jar'))|n},
      scriptable: true,
      id: 'applet',
      params: {
        endpoints: ${json.dumps(endpoints_json)|n},
        cookie: ${json.dumps(request.headers.get('cookie'))|n},
        embedded: true,
        callback: ${json.dumps(callback_name)|n}
      }
    });
  };



$(function(){
  onePageApp();
  appletApp();
});
</script>

<div id="wrapper" class="container">
  <div id="message_box">
    <div id="alert_message" class="hide alert"></div>
    <div id="info_message" class="hide alert alert-info"></div>
    <div id="error_message" class="hide alert alert-error"></div>
    <div id="success_message" class="hide alert alert-success"></div>
  </div>
  <div id="tabbar">
    <ul class="nav nav-tabs">
      <li><a id="tab_one" href="#one" data-toggle="tab" class="active">QRコード読み込み</a></li>
      <li><a id="tab_two" href="#two" data-toggle="tab">チケット情報</a></li>
      <li><a id="tab_three" href="#three" data-toggle="tab">プリンタ選択</a></li>
      <li><a id="tab_four" href="#four" data-toggle="tab">発券確認</a></li>
    </ul>
  </div>

  <div id="one" class="onepage well hide">
    <h2 class="header" id="one:header">QRコード読み込み</h2>
    <p>
      qrコードを読み込ませてください。
    </p>

    <div class="form-inline">
      <label>qrcode: <input type="password" name="qrcode" value="J1CH40PMHH3RSNHKTN1210131QSNH000000031ZSK0SADTI9GU1O1F $72$7B$5SH 4*H. 12*2O"></input></label>
      <a class="btn" id="load_button">読み込み</a>
    </div>

    <div id="one:status-box">
      status:
      <span id="status">preload</span>
    </div>
    <a class="btn" href="#two"><i class="icon-arrow-right"> </i>次へ</a>
  </div>

  <div id="two" class="onepage well hide">
    <h2 class="header" id="two:header">チケット情報</h2>
    <p>
      購入されたチケット情報は以下のとおりです。
    </p>
    <table class="table">
      <tbody>
        <tr>
          <td>購入者</td><td id="user"></td>
        </tr>
        <tr>
          <td>発券番号</td><td id="codeno"></td>
        </tr>
        <tr>
          <td>注文番号</td><td id="orderno"></td>
        </tr>
        <tr>
          <td>公演</td><td id="performance_name"></td>
        </tr>
        <tr>
          <td>公演日時</td><td id="performance_date"></td>
        </tr>
        <tr>
          <td>商品名</td><td id="product_name"></td>
        </tr>
        <tr>
          <td>席番号</td><td id="seatno"></td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-inverse" href="#one"><i class="icon-arrow-left icon-white"> </i>戻る</a>    
    <a class="btn" href="#three"><i class="icon-arrow-right"> </i>次へ</a>
  </div>

  <div id="three" class="onepage well hide">
    <h2 class="header" id="three:header">プリンタ選択</h2>
    <p>
      印刷に利用するプリンタを選んでください
    </p>
    <div id="three:printer-box">
      <div class="control-group">
        print0 <input type="radio" name="printer" value="printer0">
      </div>
      <div class="control-group">
        print1 <input type="radio" name="printer" value="printer1">
      </div>
      <div class="control-group">
        print2 <input type="radio" name="printer" value="printer2">
      </div>
    </div>
    <a class="btn btn-inverse" href="#two"><i class="icon-arrow-left icon-white"> </i>戻る</a>
    <a class="btn" href="#four"><i class="icon-arrow-right"> </i>プリンタを選択</a>
  </div>

  <div id="four" class="onepage well hide">
    <h2 class="header" id="four:header">発券確認</h2>
    <p>
      印刷します。よろしいですか？
    </p>
    <a class="btn btn-inverse" href="#">キャンセル</a>
    <a class="btn" href="#">印刷する</a>
  </div>

  <div id="description">
    <table class="table">
      <tbody>
        <tr>
          <td>QRコードステータス</td><td id="desc_qrcodeStatus"></td>
        </tr>
        <tr>
          <td>注文番号</td><td id="desc_orderno"></td>
        </tr>
        <tr>
          <td>公演</td><td id="desc_performance"></td>
        </tr>
        <tr>
          <td>商品名(席番号)</td><td id="desc_product"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="screen">
  <div class="splash">
    Now loading...
  </div>
</div>

