<%inherit file="./base.html"/>

<div id="wrapper" class="container">
  
  ${request.context.organization.name}  担当:${request.context.operator.name}
  <div id="message_box">
    <div id="alert_message" class="message hide alert"></div>
    <div id="info_message" class="message hide alert alert-info"></div>
    <div id="error_message" class="message hide alert alert-error"></div>
    <div id="success_message" class="message hide alert alert-success"></div>
  </div>

  <%include file="_progress.html" args="form=form"/>
</div>

<script type="text/javascript" src="${request.static_url("ticketing.printqr:static/js/message.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing.printqr:static/js/progress/app.js")}"></script>

<script type="text/javascript">
$(function(){
  var apiResource = ${json.dumps(api_resource)|n}
  var datastore = new ProgressDataStore({performance: new Performance(), total_result: new TotalResult()});
  var messageView = new (message({}).MessageInformationView)({el: $("#message_box")});
  var apiService = new ApiService({apiResource: apiResource});
  var performanceChoiceView = new PerformanceChoiceView({datastore: datastore, el: $("#performance_input"), messageView: messageView, apiService: apiService});
  performanceChoiceView.onPerformanceChange();

  var describeTotalResultView = new DescribeTotalResultView({datastore: datastore, el: $("#describe_total_result"), messageView: messageView, apiService: apiService});
  var describeTimeView = new DescribeTimeView({datastore: datastore, el: $("#describe_time"), messageView: messageView, apiService: apiService});
})
</script>
