<%inherit file="./base.html"/>
<%namespace file="./tags_mobile.html" name="mobile" />
<%mobile:header>チケット購入</%mobile:header>
<div align="center" style="text-align:center">${event.title}</div><hr size="1" noshade="noshade" />
<%mobile:form_header>席種をお選びください</%mobile:form_header>
  % for seat_type in seat_types:
  % if seat_type["availability"]:
    <a href="${request.current_route_url(_query={'stid': seat_type['id']})}">${seat_type['name']}</a>
  % else:
    ${seat_type['name']}
  % endif
  ${seat_type["availability_text"]}<br />
  % endfor
<form action="${request.route_url('cart.index', event_id=event.id)}" method="get">
  <div style="text-align:center;">
  <input type="hidden" name="key" value="${return_value}" />
  <input type="submit" value="戻る">
  </div>
</form>
<%mobile:header>選択内容</%mobile:header>
<%mobile:form_header>会場</%mobile:form_header>
<div>${venue.name}</div>
<%mobile:form_header>日程</%mobile:form_header>
<div>${performance.start_on}(予定)</div>
