<%page args="form" />
<%namespace file="/common/helpers.html" name="ch" />

<link rel="stylesheet" type="text/css" href="/static/css/decentcolorpicker.css" />
<script type="text/javascript" src="/static/js/jquery.decentcolorpicker.js"></script>

<script type="text/javascript">
  $(function() {
    $('#modal-stock_type #type').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
        $('#modal-stock_type #color-picker').css('display', 'none');
        $('#modal-stock_type #quantity_only').attr('disabled', 'disabled').attr('checked','checked').change();
      } else {
        $(this).val(0);
        $('#modal-stock_type #color-picker').css('display', 'block');
        $('#modal-stock_type #quantity_only').removeAttr('disabled');
      }
    });

    $('#modal-stock_type #quantity_only').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    });

    $('#modal-stock_type #disp_reports').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    });

    $("#modal-stock_type #fill_color").decentcolorpicker();
    $("form").disableOnSubmit();
  });
</script>

<div id="modal-stock_type" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>席種</h3>
  </div>
  <form action="javascript:save_stock_type();" method="POST">
    <div class="modal-body">

      ${ch.form_item(form.id)}
      ${ch.form_item(form.event_id)}
      ${ch.form_item(form.name, style='display: block;', maxlength=255)}
      ${ch.form_item(form.quantity_only, style='display: inline;')}
      ${ch.form_item(form.disp_reports, style='display: inline;')}
      ${ch.form_item(form.min_quantity)}
      ${ch.form_item(form.max_quantity)}
      ${ch.form_item(form.min_product_quantity)}
      ${ch.form_item(form.max_product_quantity)}
      ${ch.form_item(form.type, style='display: inline;')}
      ${ch.form_item(form.display)}
      ${ch.form_item(form.display_order)}
      <div id="color-picker">
        ${ch.form_item(form.fill_color, class_='span3')}
      </div>
      ${ch.form_item(form.description, style='width:100%;height:200px')}

    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <input type="submit" value="保存" href="javascript:void($('#modal-stock_type').find('form').submit());" class="btn" />
    </div>
  </form>
</div>
