<%inherit file="./outer.html"/>
<!-- ========== main ========== -->
<%def name="disp_error(errors)">
% if errors:
    % for error in errors:
        <div style="color:#FF0000;">${error}</div>
    % endfor
% endif
</%def>


<div id="main">
    お預かりするお客様の個人情報は、『個人情報保護方針』に基いて厳重に管理し、<br/>
    お客様の同意がない限りお問い合わせ・ご相談への対応以外には使用いたしません。<br/>
    <br/>

    個人情報保護方針は<a href="http://privacy.rakuten.co.jp/">こちら</a>をご確認ください。<br/>
    フォームでお問い合わせ頂いたお客様には、基本的に返信メールにて、3営業日内に回答させて頂いております。<br/>
    (土日祝は原則対応いたしかねます)<br/>
    <br/>

    ※携帯電話等の受信設定でドメイン指定受信を設定している方は、<br/>
    「@ticket.rakuten.co.jp」からのメールを受信できるように設定してください。<br/>
    <br/>

    ［ご注意］<br/>
    公演の内容、発売の時期や方法については、各公演ページをご覧ください。<br/>
    お申込み手続きの依頼や、購入されたチケットの変更・キャンセルの依頼についてはお受けできません。<br/>
    システムに関する問合せはお受けできません。<br/>
    「<a href="http://ticket.rakuten.co.jp/faq">よくある質問</a>」に掲載している内容については、お返事をお送りできない場合があります。<br/>
    問合せの前によくご確認ください。<br/><br/>

    楽天イーグルスのチケット(イーグルスチケット[Eチケ])、<br/>
    ヴィッセル神戸のチケットに関するお問合せはご対応ができかねます。<br/>
    以下URLの「よくあるご質問」をご参照の上、それぞれの問合せ先までご確認ください。<br/><br/>

    ■楽天イーグルス(Eチケ)<br/>
    よくあるお問合せ： <a href="http://eagles.tstar.jp/faq">http://eagles.tstar.jp/faq</a><br/>
    お問い合わせ先: <a href="https://f.msgs.jp/webapp/hear/org/showEnquete.do?enqueteid=3&clientid=13074&databaseid=wit">お問合せフォーム</a><br/><br/>

    ■ヴィッセル神戸オフィシャルチケット<br/>
    よくあるお問合せ： <a href="http://vissel.tstar.jp/faq">http://vissel.tstar.jp/faq</a><br/>
    お問い合わせ先: <a href="mailto:vissel@tstar.jp">vissel@tstar.jp</a><br/><br/>

    % if result:
        <div style="color:#FF0000;">
            以下の内容で送信しました。<br/>
            受付の確認メールが自動で送信されます。<br/>
            もし受信されない場合は、ドメインの受信設定、迷惑メールフォルダ等をご確認ください。<br/>
            別の内容でお問い合わせされる場合は、<a href="${request.route_path('usersite.inquiry')}">こちら</a>から再度お問い合わせください。
        </div>
        <br/>
    % elif result and form.username.data:
        <div style="color:#FF0000;">送信に失敗しました。</div>
        <br/>
    % endif

    <div id="inquiry" class="inquiry">
        <form action="${request.route_path('usersite.inquiry')}" method="POST">
            <fieldset style="border: none">
                お名前<br/>
                漢字<span class="red">※</span><br/>${form.username}<br/>
                ${disp_error(form.username.errors)}
                カナ<span class="red">※</span><br/>${form.username_kana}<br/>
                ${disp_error(form.username_kana.errors)}
                ${form.mail.label}<span class="red">※</span><br/>${form.mail}<br/>
                ${disp_error(form.mail.errors)}
                ご住所・電話番号（申込済の件についてお問合せの場合は、お申し込み時に登録された情報を入力してください。)<br/>
                〒郵便番号<br/>
                ${form.zip_no}<br/>
                ${disp_error(form.zip_no.errors)}
                住所<span class="red">※</span><br/>${form.address}<br/>
                ${disp_error(form.address.errors)}
                電話番号<span class="red">※</span><br/>${form.tel}<br/>
                ${disp_error(form.tel.errors)}
                ${form.num.label}<br/>
                (ご予約済のチケットの受付番号が不明な場合は、こちらにお申込みの公演名、公演日時を入力してください)<br/>
                ${form.num}<br/>
                ${form.category.label}<span class="red">※</span><br/>${form.category}<br/>
                ${disp_error(form.category.errors)}
                ${form.title.label}<span class="red">※</span><br/>${form.title}<br/>
                ${disp_error(form.title.errors)}
                ${form.body.label}(具体的に記載してください)<span class="red">※</span><br/>${form.body}<br/>
                ${disp_error(form.title.errors)}
            </fieldset>
            <span class="red">※</span>は必ず入力してください。<br/>
            % if not result:
                <input type="submit" value="送信"/>
            % endif
        </form>
    </div>
</div>

<style type="text/css">
    #inquiry input[type=text] {
        min-width: 300px;
        min-height: 20px;
    }

    #inquiry textarea {
        min-width: 300px;
        min-height: 100px;
    }

</style>
<!-- ========== /main ========== -->

<%block name="title">【楽天チケット】お問い合わせ｜チケット予約・購入</%block>

<hr />

<!-- ========== side ========== -->
<div id="side">
  <div class="sideCategoryGenre">
    <h2>ジャンル一覧</h2>

	  <ul>
		  % for g in layout.top_category_genre_list:
		    <li><a href="${h.link.get_link_from_genre(request, g)}">${g.label}</a></li>
		  % endfor
</ul>
</div>

## area
<%
   from altaircms.seeds.area import AREA_CHOICES
   %>
<dl id="sideRefineSearch">
  <dt>エリアを選択</dt>
  <dd>
	  <ul>
	    % for en,ja in AREA_CHOICES:
	    <li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="area", value=en)}">${ja}</a></li>
	    % endfor
	  </ul>
  </dd>

## deal_cond
<%
from altairsite.search.forms import DealCondPartForm
%>
<dt>販売状態で絞込み</dt>
<dd>
  <ul>
    % for k in layout.top_salessegment_kind_list:
	  <li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_cond", value=k.name)}">${k.label}</a></li>
    % endfor
  </ul>
</dd>

## deal_open
	<dt>発売日・受付日で絞込み</dt>
	<dd>
		<ul>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_open", value=7) }">7日以内に受付・発売開始</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_open", value=14) }">14日以内に受付・発売開始</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="deal_open", value=30) }">30日以内に受付・発売開始</a></li>
		</ul>
	</dd>

## event open
	<dt>公演日で絞込み</dt>
	<dd>
		<ul>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="event_open", value=7) }">7日以内に公演</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="event_open", value=14) }">14日以内に公演</a></li>
			<li><a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="event_open", value=30) }">30日以内に公演</a></li>
		</ul>
	</dd>
</dl>
</div>
<!-- ========== /side ========== -->