<%namespace file="./gadgets.html" name="gadgets" />
## define {{{
<%def name="top_side_searchform()">
<%
from altairsite.search.forms import TopPageSidebarSearchForm
form = TopPageSidebarSearchForm()
%>
    <div id="sideSearch">
      <h2><img src="${request.static_url("altaircms:static/RT/img/index/title_search.gif")}" alt="チケットを探す" width="246" height="36" /></h2>
      <ul>
        <li><a href="${h.link.get_searchpage(request, kind="deal_cond", value="early_firstcome")}"><img src="${request.static_url("altaircms:static/RT/img/index/btn_presale.gif")}" alt="先行抽選" width="222" height="28" /></a></li>
        <li><a href="${h.link.get_searchpage(request, kind="deal_cond", value="normal")}"><img src="${request.static_url("altaircms:static/RT/img/index/btn_release.gif")}" alt="一般発売" width="222" height="28" /></a></li>
        <li><a href="${h.link.get_searchpage(request, kind="deal_open", value=7)}"><img src="${request.static_url("altaircms:static/RT/img/index/btn_now.gif")}" alt="すぐ見たい" width="222" height="28" /></a></li>
        <li><a href="${request.route_path("page_search_by", kind="pagetag", value=request.get_page_tag(u"お買い得").id)}"><img src="${request.static_url("altaircms:static/RT/img/index/btn_best.gif")}" alt="お買い得チケット" width="222" height="28" /></a></li>
      </ul>
      <form id="form2" name="form2" method="GET" action="${request.route_path("page_search_by_multi")}">
        <dl>
          <dt><img src="${request.static_url("altaircms:static/RT/img/index/search_day.gif")}" alt="開催日" width="37" height="13" /></dt>
          <dd>
						${form.start_year}
						${form.start_month}
						${form.start_day}
						～<br />
            ${form.end_year}
            ${form.end_month}
            ${form.end_day}
          </dd>
          <dt><img src="${request.static_url("altaircms:static/RT/img/index/search_place.gif")}" alt="開催場所" width="52" height="13" /></dt>
          <dd>
            ${form.area}
          </dd>
        </dl>
        <p><input name="imageField2" type="image" id="imageField2" src="${request.static_url("altaircms:static/RT/img/index/btn_search.gif")}" alt="日程・場所で探す" /></p>
      </form>
    </div>
</%def>

<%def name="pagenum(seq)">
  % if seq.pager_value("$page"):
    (${seq.pager_value("$page")}/${seq.pager_value("$last_page")})
  % endif
</%def>
## }}} end of python code
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    % if not result_seq:
      <meta name="robots" content="noindex,follow" />
      <title>【楽天チケット】${query_params} | 公演・ライブのチケット予約・購入}</title>
    % else:
      <%
        seq = h.paginate(request, result_seq, items_per_page=10, item_count=len(result_seq))
        link_next = seq.link_str("$link_next")
        link_prev = seq.link_str("$link_previous")
      %>
      % if link_next:
        <link rel="next" href="${link_next}"/>
      % endif
      % if link_prev:
        <link rel="prev" href="${link_prev}"/>
      % endif
     <title>【楽天チケット】${query_params} | 公演・ライブのチケット予約・購入${pagenum(seq)}</title>
    % endif
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%block name="meta">
    <meta name="description" content="チケットの販売、イベントの予約は楽天チケットで！楽天チケットは演劇、バレエ、ミュージカルなどの舞台、クラシック、オペラ、ロックなどのコンサート、野球、サッカー、格闘技などのスポーツ、その他イベントなどのチケットのオンラインショッピングサイトです。"/>
    <meta name="keywords" content="チケット,演劇,クラシック,オペラ,コンサート,バレエ,ミュージカル,野球,サッカー,格闘技"/>
    ${gadgets.social_ogp_settings(request)}
  </%block>
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    
    <link rel="shortcut icon" href="${request.static_url("altaircms:static/RT/img/common/favicon.ico")}" />
    <link rel="stylesheet" href="${request.static_url("altaircms:static/RT/css/import.css")}" type="text/css" media="all" />
    <script type="text/javascript" src="${request.static_url("altaircms:static/RT/js/jquery.js")}"></script>
    <%include file="altaircms:templates/front/google-analitics.html"/>
  </head>
	<body id="${layout.body_id}">
		<p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="${request.static_url("altaircms:static/RT/img/common/skip.gif")}" alt="本文へジャンプ" width="1" height="1" /></a></p>
		<div id="container">
        <!-- ========== header ========== -->
        <div id="grpheader" style="height: 80px">
          <p id="tagLine"><a name="pagetop">チケット販売・イベント予約</a></p>
          <div id="siteID">
            <div id="logobox" style="width: 100px; float: left">
              <a href="http://ticket.rakuten.co.jp/"><img src="${request.static_url("altaircms:static/RT/img/renewal/logo.gif")}" alt="楽天チケット"/></a>
            </div>
            <div id="pointbox" style="width: 300px;float: right">
              チケットの購入で楽天ポイントが<br/><span style="color: crimson;font-weight:bold">100円</span>ごとに<span style="color: crimson;font-weight:bold">1ポイント</span>貯まります♪
            </div>
          </div>
          <dl id="remoteNav">
            <dt>楽天グループ関連</dt>
            <dd class="grpRelation">
              <ul>
                <li id="grpNote">
                  <noscript>
                    <a href="https://card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a>
                  </noscript>
                </li>
                <li class="grpHome"><a href="http://www.rakuten.co.jp/">楽天市場へ</a></li>
              </ul>
              <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
              <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
            </dd>
            <dt>補助メニュー</dt>
            <dd class="siteUtility">
              <ul>
                %for _, c in h.first_and_last(layout.navigation_link_list("siteUtility")):
                <li${_()}><a href="${h.link.get_link_from_category(request,c)}">${c.label}</a></li>
                %endfor
              </ul>
            </dd>
          </dl>
          <div id="social" style="float: right">
            <iframe src="https://www.facebook.com/plugins/like.php?app_id=233610706676154&amp;href=${h.safe_url_quote("http://ticket.rakuten.co.jp/")}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=${h.safe_url_quote("http://ticket.rakuten.co.jp/")}&amp;via=RakutenTicket&amp;count=none&amp;text=【楽天チケット】 チケット予約・購入&amp;lang=ja&amp;" style="height: 20px; width: 70px;"></iframe>
          </div>
        </div>

        <div id="globalNav">
          <ul id="globalNav1">
            %for c in layout.navigation_link_list("globalNav1"):
            <li><a href="${h.link.get_link_from_category(request,c)}"><img src="${c.imgsrc}" alt="${c.label}" ${(c.attributes or "")|n} /></a></li>
            %endfor
            %for c in layout.navigation_link_list("globalNav2"):
            <li class="right"><a href="${h.link.get_link_from_category(request,c)}"><img src="${c.imgsrc}" alt="${c.label}" ${(c.attributes or "")|n} /></a></li>
            %endfor
          </ul>
          ## spbutton
          <%include file="altairsite.smartphone:templates/RT/_rt.pcsite.append.spbutton.html"/>
          <ul id="globalNav2">
          </ul>
        </div>
        <div class="clear"></div>
        <div id="headerSearch">
          ${gadgets.search_form_on_header(u"アーティスト名、公演名、会場名など", "query_id")}
          <dl>
		        <dt><img src="${request.static_url("altaircms:static/RT/img/renewal/header_search_hot.jpg")}" alt="ホットワード" width="53" height="45" class="headerSearch_hotword"></dt>
            <dd>
              <ul>
                %for w in layout.hotword_list():
                <li><a href="${request.route_path("page_search_by", kind="hotword", value=w.id)}">${w.name}</a></li>
                %endfor
              </ul>
            </dd>
          </dl>
            ${gadgets.fukidashi(request, '$(".fukidashi-btn")')}
          </div>
        <div class="clear"></div>        
        <br/>
        ${layout.page_title_image}
        <br/>
        <br/>
        <!-- ========== /header ========== -->
        
        <hr />
        ${next.body()}

        <hr />
        
        <!-- ========== footer ========== -->
        <%include file="altaircms:templates/usersite/_footer.html"/>
        <!-- ========== /footer ========== -->

        <!-- /container -->
      </div>
    </div>
  </body>
</html>
