<%inherit file="layout.html" />
<%block name="title">Backend トップ</%block>

<ul>
    <li><a href="${request.route_path('events.index')}">Event</a></li>
    <li><a href="${request.route_path('events.index')}">Ticketer</a></li>
    <li>管理系</li>
    <ul>
        <li><a href="${request.route_path('clients.index')}">Clients</a></li>
        <li><a href="${request.route_path('operators.index')}">Operators</a></li>
        <li><a href="${request.route_path('operator_roles.index')}">Role</a></li>
        <li><a href="${request.route_path('permissions.index')}">Permissions</a></li>
    </ul>
    <li>販売系</li>
</ul>