<!DOCTYPE html>
<html>
  <head>
    <title><%block name="fulltitle">Altair Backend</%block></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <style type="text/css">
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
    </style>
    ## style
    <%block name="style"/>
    <link rel="stylesheet" href="/static/css/common.css" />
    ## Javascript
    <%block name="javascript"/>
    <script type="text/javascript" src="/static/js/ticketing.common.js"></script>
    <script type="text/javascript">
typeof I18n == 'object' && (I18n.defaultLocale = 'ja');
</script>
  </head>
  <body>
    <%block name="header"><%include file="parts/header.html"/></%block>

    <div class="container-fluid">
      ${next.body()}
    </div>

    <%block name="footer"><%include file="parts/footer.html"/></%block>
    <%doc>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    </%doc>
    ## javascript block
    <script type="text/javascript">
      ## jQuery depended javascript code
      $(document).ready(function() {
        setTimeout(scrollTo, 100, 0, 1);
      });
    </script>
  </body>
</html>
