<!DOCTYPE html>
<html>
  <head>
    <title><%block name="fulltitle">Altair Backend</%block></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <style type="text/css">
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
    </style>
    ## style
    <%block name="style"/>
    <link rel="stylesheet" href="/static/css/common.css" />
    ## Javascript
    <%block name="javascript"/>
    <script type="text/javascript" src="/static/js/ticketing.common.js"></script>
    <script type="text/javascript">
typeof I18n == 'object' && (I18n.defaultLocale = 'ja');
function attach_datepicker($containers) {
  $containers.each(function (_, container) {
    container = $(container);
    if (!container.data('datepicker_enabled')) {
      container.data('datepicker_enabled', true);
      var button = $('<a href="#"><i class="icon-calendar"></i></a>');
      button.click(function () {
        var o = button.offset();
        var now = new Date();
        var dateStr = (parseInt(container.find('.datetimewidget-year[value]').val()) || (now.getYear() + 1900)) + '-' + 
          (parseInt(container.find('.datetimewidget-month[value]').val()) || (now.getMonth() + 1)) + '-' + 
          (parseInt(container.find('.datetimewidget-day[value]').val()) || now.getDate());
        function destroy() {
          button.datepicker("destroy");
        }
        button.datepicker("dialog",
          dateStr,
          function (date) {
            date = date.split('-');
            container.find('.datetimewidget-year[value]').val(date[0]);
            container.find('.datetimewidget-month[value]').val(date[1]);
            container.find('.datetimewidget-day[value]').val(date[2]);
            destroy();
          }, {
            dateFormat: 'yy-m-d',
            showMonthAfterYear: true,
            yearSuffix: '年',
            monthNames: [
              '1月',
              '2月',
              '3月',
              '4月',
              '5月',
              '6月',
              '7月',
              '8月',
              '9月',
              '10月',
              '11月',
              '12月'
            ],
            dayNamesMin: [
              '日',
              '月',
              '火',
              '水',
              '木',
              '金',
              '土'
            ],
            onClose: function () {
              destroy();
            }
          },
          [o.left, o.top]
        );
        $.datepicker.dpDiv.css('zIndex', 9999); // XXX: hack
        return false;
      });
      container.append(button);
    }
  });
}
</script>
  </head>
  <body>
    <%block name="header"><%include file="parts/header.html"/></%block>

    <div class="container-fluid">
      ${next.body()}
    </div>

    <%block name="footer"><%include file="parts/footer.html"/></%block>
    ## javascript block
    <script type="text/javascript">
      ## jQuery depended javascript code
      $(document).ready(function() {
        setTimeout(scrollTo, 100, 0, 1);
      });
      attach_datepicker($('.datetimewidget-container'));
    </script>
  </body>
</html>
