<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%block name="title">キッス・エンタテインメント</%block></title>
</head>
<body style="background-color:#FFFFFF" bgcolor="#FFFFFF">
<div align="center">
  <img src="${request.static_url('altair.app.ticketing.cart:static/KE/mobile/images/kissent_240x96.gif')}" width="100%" alt="キッス・エンタテインメント" />
</div>
<div>
    <form action="${request.route_path('cart.logout')}" method="POST">
      <div style="text-align: right">
        % if (not getattr(request, 'context', None)) or request.context.authenticated_user()['is_guest']:
          <input type="submit" value="会員でログイン"/>
        % else:
          <input type="submit" value="ログアウト"/>
        % endif
      </div>
    </form>
${self.body()}
<hr size="1" color="#888888" noshade="noshade" />
<div align="center" style="font-size:x-small">
<div><font color="#888888">2010-2015 &copy; TicketStar, Inc. All rights reserved.</font></div>
</div>
</body>
</html>
