<%page args="device"/>
% if device == 'pc':
     <div style="text-align:right;">
       <a href="/howto.html" class="headerLink" target="_blank">申込方法</a>
       <a href="/faq.html" class="headerLink" target="_blank">よくある質問</a>
       <a href="/orderreview" class="headerLink" target="_blank">申込確認</a>
     </div>
% elif device == 'smartphone':
       <div style="clear:both;">
       <div style="text-align:right;">
         <a href="/howto.html" class="headerLink" target="_blank">申込方法</a>
         <a href="/faq.html" class="headerLink" target="_blank">よくある質問</a>
         <a href="/orderreview" class="headerLink" target="_blank">申込確認</a>
       </div>
% elif device == 'mobile':
% endif