<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="waittime.after.finish.millisec" value="3000" />
    <add key="refresh.password.format.0" value="TS4649" />
    <!-- auth url-->
    
    <add key="application.stage" value="develop" />
    <!-- OrdernoFront or QRFront-->
    <add key="application.flow" value="OneStep" />
    <add key="application.enable.anothermode" value="true" />
    
    <add key="endpoint.auth.login.url" value="https://altair-admin.ticketstar.jp/checkinstation/login" />
    <add key="endpoint.staging.auth.login.url" value="https://backend.stg.altr.jp/checkinstation/login"></add>
    <add key="endpoint.develop.auth.login.url" value="http://192.168.56.1:8031/login" />
    <add key="endpoint.mock.auth.login.url" value="http://localhost:8000/login.json" />

    <!-- failure message -->
    <add key="message.auth.failure.format.0" value="ユーザー名、パスワードの入力に誤りがあるか登録されていません" />
    <add key="message.task.cancel.format.0" value="タスクがキャンセルされました" />
    <add key="message.web.exception.format.0" value="通信エラーが発生しました。ネットワークに接続できませんでした" />
    <add key="message.invalid.input.format.0" value="不正なQRコードです" />
    <add key="message.invalid.output.format.0" value="データを正しく受信できませんでした" />
    <add key="message.default.error.format.0" value="エラーが発生しました。もう一度最初からやり直してください" />
    <add key="message.guess.timeout.error.format.0" value="通信エラーが発生しました。もう一度最初からやり直してください" />
    <!--token.status-->
    <add key="message.token.status.printed.format.0" value="このチケットは既に発券済みです&#xA;発券可能なチケットが存在しません" />
    <add key="message.token.status.canceled.format.0" value="こちらのチケットはキャンセル済みです" />
    <add key="message.token.status.before_start.format.0" value="開始前のチケットは発券できません" />
    <add key="message.token.status.after_end.format.0" value="既に終了しているチケットのため&#xA;発券することができません" />
    <add key="message.token.status.not_supported.format.0" value="こちらのチケットは引取方法が異なるため発券できません" />
    <add key="message.token.status.over_print_limit.format.0" value="印刷可能な枚数を超えています&#xA;係員にご確認ください" />
    <add key="message.token.status.unknown.format.0" value="エラーが発生しました。係員にご確認ください" />
    <!-- case description message -->
    <add key="message.checkin.core.flow.CaseAuthInput.description.format.0" value="ユーザー名を入力してください" />
    <add key="message.checkin.core.flow.CaseAuthPassword.description.format.0" value="パスワードを入力してください" />
    <add key="message.checkin.core.flow.CaseAuthDataFetch.description.format.0" value="認証しています。しばらくお待ちください" />
    <add key="message.checkin.core.flow.CaseWelcome.description.format.0" value="購入済みチケットの発券方法を選択してください" />

    <add key="message.checkin.core.flow.CaseFailureRedirect.description.format.0" value="アプリケーションエラーが発生しました。もう一度最初からやり直してください" />

    <add key="message.checkin.core.flow.CaseInputStrategySelect.description.format.0" value="ご希望のメニューを選択してください" />

    <add key="message.checkin.core.flow.CaseQRCodeInput.description.format.0" value="QRリーダーにQRコードをかざしてください" />
    <add key="message.checkin.core.flow.CaseQRDataFetch.description.format.0" value="QRリーダで読み込んだデータを検証しています" />
    <add key="message.checkin.core.flow.CaseOneOrPart.description.format.0" value="どちらかを選択してください" />
    <add key="message.checkin.core.flow.CasePartOrAll.description.format.0" value="どちらかを選択してください" />
    <add key="message.checkin.core.flow.CaseQRConfirmForOne.description.format.0" value="これから以下の内容のチケットが発券されます" />
    <add key="message.checkin.core.flow.CaseQRConfirmForAll.description.format.0" value="発券したいチケットにチェックを入れてください" />
    <add key="message.checkin.core.flow.CaseQRConfirmForAllHidden.description.format.0" value="発券するチケットの情報を取得しています" />
    <add key="message.checkin.core.flow.CaseConfirmListForOne.description.format.0" value="発券するチケットは以下でよろしいですか？よろしければ「発券する」ボタンを押してください" />
    <add key="message.checkin.core.flow.CaseConfirmListForPart.description.format.0" value="発券するチケットは以下でよろしいですか？よろしければ「発券する」ボタンを押してください" />

    <add key="message.checkin.core.flow.CaseOrdernoOrdernoInput.description.format.0" value="購入したチケット受付番号を入力してください" />
    <add key="message.checkin.core.flow.CaseOrdernoTelInput.description.format.0" value="購入時に入力した電話番号を入力してください" />
    <add key="message.checkin.core.flow.CaseOrdernoVerifyRequestData.description.format.0" value="入力していただいたデータを検証しています。しばらくお待ちください" />
    <add key="message.checkin.core.flow.CaseOrdernoConfirmForAll.description.format.0" value="発券したいチケットにチェックを入れてください" />
    <add key="message.checkin.core.flow.CaseOrdernoConfirmForAllHidden.description.format.0" value="発券するチケットの情報を取得しています" />

    <add key="message.checkin.core.flow.CasePrintForOne.description.format.0" value="現在発券中です&#xA;少々お待ちください" />
    <add key="message.checkin.core.flow.CasePrintForAll.description.format.0" value="現在発券中です&#xA;少々お待ちください" />
    <add key="message.checkin.core.flow.CasePrintFinish.description.format.0" value="発券完了しました。ありがとうございました。チケットに記載のゲートからご入場ください" />

    <!-- certificate -->
    <add key="https.client.certificate.p12file" value="c:\\Altair\\CheckinStation\\altair-admin-client.cs.p12" />
    <add key="https.client.certificate.password" value="secret" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
