<%namespace file="tags_mobile.mako" name="m" />
<hr />
<div align="center">
<font size="-2">
    <div>
    <div>
<a href="tel:0222177788">電話によるお問い合わせ：キョードー東北(022-217-7788)</a><br/>
<a href="http://ktohoku.tstar.jp/privacy">個人情報保護方針</a><br/>
<a href="http://ktohoku.tstar.jp/legal">特定商取引法に基づく表示</a>
    </div>
    <div><font color="#888888">Copyright c 2010-2015 TicketStar Inc. All Rights Reserved.</font></div>

## tracking 画像(<browserid>.gif)を取得するhtmlを生成
<%! from altairsite.tracking import get_tracking_image %>
${get_tracking_image(request)}

</font>
</div>
