<%namespace file="tags_mobile.mako" name="m" />
<hr />
<div align="center">
<font size="-2">
    <div>
    <div>
<li><a href="tel:0222177788">電話によるお問い合わせ（022-217-7788）</a> (平日 10:00-19:00、土曜 10:00-17:00)</li>
<li><a href="http://ktohoku.tstar.jp/smartphone/page/company">運営会社</a></li>
<li><a href="http://ktohoku.tstar.jp/smartphone/page/privacy">個人情報保護方針</a></li>
<li><a href="http://ktohoku.tstar.jp/legal">特定商取引法に基づく表示</a></li>
    </div>
    <div><font color="#888888">Copyright c 2010-2014 TicketStar Inc. All Rights Reserved.</font></div>

## tracking 画像(<browserid>.gif)を取得するhtmlを生成
<%! from altairsite.tracking import get_tracking_image %>
${get_tracking_image(request)}

</font>
</div>
