/* Showcase
-------------*/

#tsMainArea #tsMainSlider {
	width: 630px;
	height: 250px;
	background: #D9D9CE;
	margin-bottom: 20px;	
}



#awOnePageButton .view-slide{ display: none; }

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load {
height: 250px; /* Same as showcase javascript option */
overflow: hidden;
}

/* Container when content is shown as one page */
.showcase-onepage { /**/ }

/* Container when content is shown in slider */
.showcase {
position: relative;
margin: auto;
}

.showcase-content-container{
	background-color: #D9D9CE;
}

/* Navigation arrows */
/* ヨコにつく矢印
.showcase-arrow-previous, .showcase-arrow-next {
position: absolute;
background: url('images/arrows.png');
width: 33px;
height: 33px;
top: 220px;
cursor: pointer;
}
.showcase-arrow-previous{ left: -60px; }
.showcase-arrow-previous:hover{background-position: 0px -34px; }
.showcase-arrow-next {
right: -56px;
background-position: -34px 0;
}
.showcase-arrow-next:hover {
background-position: -34px -34px;
}
*/


/* Button Wrapper */
.showcase-button-wrapper { display: none; }
/* 下につく番号
.showcase-button-wrapper {
clear: both;
margin-top: 10px;
text-align: center;
}
.showcase-button-wrapper span {
margin-right: 3px;
padding: 2px 5px 0px 5px;
cursor: pointer;
font-size: 12px;
color: #444444;
}
.showcase-button-wrapper span.active { color: #fff; }
*/

/* Content メイン */
.showcase-content {
	background-color: #FFF;
	text-align: center;
	margin: 5px;
}
.showcase-content img {
	max-width: 300px;
	max-height: 230px;
}
.showcase-content-wrapper {
text-align: center;
display: table-cell;
vertical-align: middle;
}

/* Styling the tooltips 
.showcase-plus-anchor {
background-image: url('images/plus.png');
background-repeat: no-repeat;
}
.showcase-plus-anchor:hover { background-position: -32px 0; }
div.showcase-tooltip {
background-color: #fff;
color: #000;
text-align: left;
padding: 5px 8px;
background-image: url(images/white-opacity-80.png);
}*/

/* Styling the caption */
.showcase-caption {
color: #000;
padding: 8px 15px;
text-align: left;
font-weight: bold;
position: absolute;
bottom: 10px; left: 10px; right: 10px;
display: none;
background-image: url(images/white-opacity-80.png);
}
/*.showcase-onepage .showcase-content { margin-bottom: 10px; }*/



/* Thumbnails 
----------------------------------------- */
.showcase-thumbnail-container { /* Used for backgrounds, no other styling!!! */
background-color: #D9D9CE;
}

.showcase-thumbnail-wrapper { overflow: hidden; }

.showcase-thumbnail {
width: 219px;
/*height: 60px;*/
cursor: pointer;
position: relative;
background: #F5F5F2;
padding: 5px 5px;
}

/* Thumbnailの画像 -------------------------- */
.showcase-thumbnail-img {
	width: 60px;
	height: 60px;
    display: table-cell;
    layout-grid-line: 60px;
	vertical-align: middle;
	border: 1px #EFEFEF solid;
	background: #FFF;
}
.showcase-thumbnail-img img {
	max-width: 60px;
	max-height: 60px;
	vertical-align: top;
}

.showcase-thumbnail-caption {
position: absolute;
top: 5px;
left: 60px;
padding-left: 10px;
padding-bottom: 5px;
font-size: 11px;
line-height: 1.3;
}

.showcase-thumbnail-content {
padding: 10px;
text-align: center;
padding-top: 25px;
}

.showcase-thumbnail-cover {
background-image: url(images/black-opacity-40.png);
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
}

.showcase-thumbnail:hover .showcase-thumbnail-cover { display: none; }
.showcase-thumbnail.active .showcase-thumbnail-cover{ display: none; }
.showcase-thumbnail:hover { background: #FFF; }
.showcase-thumbnail { border-left: solid 5px #D9D9CE; }
.showcase-thumbnail.active { border-left: solid 5px #F60; }
.showcase-thumbnail-wrapper-horizontal { padding: 10px; }
.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail {
margin-right: 10px;
width: 116px;
}

.showcase-thumbnail-wrapper-vertical { padding: 0 8px; }
.showcase-thumbnail-wrapper-vertical .showcase-thumbnail { margin-bottom: 5px; }
.showcase-thumbnail-button-backward,
.showcase-thumbnail-button-forward {
padding: 5px;
cursor: pointer;
}

.showcase-thumbnail-button-backward
{
padding-bottom: 0px;
padding-right: 0px;
}

/* arrow ------------------------------*/
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal {
display: none;
}

/*
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal {
background-image: url(images/arrows-small.png);
background-repeat: no-repeat;
display: block;
width: 17px;
height: 17px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical
{
background-position: 0 -51px;
margin-left: 55px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical
{
background-position: -17px -51px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-vertical{
background-position: 0 -34px;
margin-left: 55px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical{
background-position: -17px -34px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal{
background-position: 0 -17px;
margin-top: 40px;
margin-bottom: 40px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal{
background-position: -17px -17px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal{
background-position: 0 0;
margin-top: 40px;
margin-bottom: 40px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal{
background-position: -17px 0;
}
*/


/* Hide button text - up/down */
.showcase-thumbnail-button-forward span span,
.showcase-thumbnail-button-backward span span{
display: none;
}



/* Clear (used for horizontal thumbnails)
-------------------------------------------

#showcase .clear{
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
float: none;
}*/

