body {
  margin: 0 0;
  font-family: Helvetica;
  font-size: 17px;
  line-height: 1.5em;
  -webkit-text-size-adjust: none;
}

.page {
  width: 100%;
}

.header {
  overflow: hidden;
}

.header .grpheader {
  float: left;
  height: 50px;
}

.header .side-action-buttons {
  float: right;
  height: 20px;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  padding: 10px 0;
}

.header .band {
  clear: both;
  background-color: #1d2b62;
  color: #fff;
}

.header h1 {
  padding: 4px 0;
  margin: 0 0;
  font-size: 17px;
}

ul.menu {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0;
  overflow: hidden;
  width: 100%;
}

.menuitem {
  float: left;
  display: block;
  width: 100%;
  background-image: linear-gradient(top, #fff 0%, #e5f3f2 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, #e5f3f2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5f3f2));
  background-image: -moz-linear-gradient(top, #fff 0%, #e5f3f2 100%);
  height: 44px;
  vertical-align: middle;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.5em;
}

.menuitem:hover,
.menuitem:active {
  background-image: linear-gradient(top, #f8f8f8 0%, #ccebea 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ccebea));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ccebea 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #ccebea 100%);
}

.menuitem > .menuitem-label {
  display: block;
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #ccc;
  padding: 6px 0px 6px 10px;
  line-height: 32px;
  height: 32px;
  white-space: nowrap;
  vertical-align: bottom;
}

.menuitem-label:before {
  content: "";
  display: block;
  float: right;
  font-family: Serif;
  color: #888;
  text-shadow: 1px 1px 2px #fff;
  background: url("../images/rarrow.png") no-repeat center center;
  margin: 0 8px 0 10px;
  width: 12px;
  height: 32px;
  vertical-align: middle;
}

.menu._2cols .menuitem {
  width: 50%;
  font-size: 14px;
  line-height: 1.5em;
}

.menuitem i.icon:before {
  display: inline-block;
  vertical-align: -2px;
  content: "";
  width: 16px;
  height: 16px;
}

.menuitem i.icon.music:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f25454;
}

.menuitem i.icon.sports:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #96f2f0;
}

.menuitem i.icon.stage:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #d2d1f0;
}

.menuitem i.icon.event:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffdea1;
}

.sectionbox {
  width: 100%;
}

.sectionbox.inverted {
  color: #fff;
  background-color: #1d2b62;
  background-image: linear-gradient(top, #1d2b62 0%, #1811b8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d2b62), to(#1811b8));
  background-image: -webkit-linear-gradient(top, #1d2b62 0%, #1811b8);
  background-image: -moz-linear-gradient(top, #1d2b62 0%, #1811b8);
  box-shadow: inset 2px 2px 8px 0px rgba(0, 0, 0, .25);
}

.sectionbox.inverted a {
  color: #fff;
}

.sectionbox.inverted a:visited {
  color: #fff;
}

.sectionbox p:first-child,
.sectionbox p.first {
  margin: 0 0;
}

.sectionbox p {
  margin: 4px 0 0 0;
}

.sectionbox > .sectionbox-inner {
  padding: 10px 10px 10px 10px;
  margin: 0 0;
}

.btn {
  text-decoration: none;
  padding: 0 1em;
  font-size: 75%;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.btn-large {
  font-size: 20px;
  line-height: 40px;
  height: 44px;
}

.buttonbox {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0 0;
  padding: 10px 10px;
  white-space: nowrap;
}

.buttonbox .btn {
  width: 100%;
}

ul.buttonbox {
  list-style-type: none;
  margin-right: 10px;
}

ul.buttonbox._2cols > li {
  float: left;
  margin: 0 0;
  padding: 0 0;
  display: block;
  width: 50%;
}

ul.buttonbox > li:first-child .btn {
  margin-left: 0px;
}

ul.buttonbox > li .btn {
  margin-left: 10px;
}

.buttonset {
  margin: 0 0;
  padding: 0 0;
  overflow: hidden;
}

ul.buttonset {
  list-style-type: none;
}

ul.buttonset li {
  float: left;
}

ul.buttonset._4cols li {
  width: 25%;
}

a.button {
  text-decoration: none;
}

ul.buttonset._4cols li button.embedded,
ul.buttonset._4cols li .button.embedded {
  display: block;
  width: auto;
  border: none;
  height: 60px;
  width: 100%;
  font-size: 12px;
  background-image: linear-gradient(top, #fff 0%, #e3e3e3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #fff 0%, #e3e3e3);
  background-image: -moz-linear-gradient(top, #fff 0%, #e3e3e3);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #555;
  font-weight: bold;
  padding: 0 0;
  text-align: center;
}

ul.buttonset._4cols li button.embedded.first,
ul.buttonset._4cols li .button.embedded.first {
  border-left: none;
}

ul.buttonset._4cols li button.embedded:active,
ul.buttonset._4cols li .button.embedded:active {
  background-image: linear-gradient(top, #fff 0%, #ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff 0%, #ddd);
  background-image: -moz-linear-gradient(top, #fff 0%, #ddd);
  margin-top: 1px;
  margin-bottom: -1px;
}

ul.buttonset._4cols li button.embedded .icon,
ul.buttonset._4cols li .button.embedded .icon {
  display: block;
  margin: 0 auto;
}

ul.buttonset i.icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  padding: 0 0;
  margin: 0 0;
  display: inline-block;
}

.icon.rlogo {
  background-position: center center;
  background-image: url(../images/icon.png);
}

.icon.orderreview {
  background-position: center center;
  background-image: url(../images/orderreview.png);
}

.icon.mailmag {
  background-position: center center;
  background-image: url(../images/mailmag.png);
}

.icon.okng {
  background-position: center center;
  background-image: url(../images/okng.png);
}

.condensed {
  font-size: 13px;
  line-height: 1.25em;
}

.h_70px {
  height: 70px;
}

.panel.condensed img.thematic,
.condensed .panel img.thematic {
  width: 66px;
  height: 66px;
  border: 1px solid #ccc;
  margin: 0 5px 0 0;
  float: left;
}

.panel.condensed p:first-child,
.condensed .panel p:first-child,
.panel.condensed p.first,
.condensed .panel p.firs {
  margin: 0 0;
}

.panel.condensed p,
.condensed .panel p {
  margin: 8px 0 0 0;
}

.panel.condensed h4,
.condensed .panel h4 {
  margin: 0 0 2px 0;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.panellist.fullwidth {
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
  border-bottom: 1px solid #ccc;
}

ul.panellist.fullwidth > li.panel {
  padding: 10px 10px;
  position: relative;
  border-top: 1px solid #ccc;
  background-image: linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff 0%, #e5f3f2 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #e5f3f2 100%);
  overflow: hidden;
}

ul.panellist.fullwidth > li.panel:active {
  background-image: linear-gradient(top, #eee 0%, #ddd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ccebea 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #ccebea 100%);
}

ul.panellist.fullwidth > li.panel:first-child {
  border-top: none;
}

ul.panellist.fullwidth > li.panel > .panel-inner {
  padding: 0 0 0 0;
  margin: 0 0;
  overflow: hidden;
}

ul.panellist.expandable > li.panelgroup {
  position: relative;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

ul.panellist.expandable > li.panelgroup.activated {
  height: auto;
}

ul.panellist.expandable > li.panelgroup:first-child {
  border-top: none;
}

ul.panellist.expandable > li.panelgroup > .panelgroup-label a:before,
ul.panellist.expandable > li.panelgroup > .panelgroup-label .panelgroup-label-inner:before {
  float: right;
  content: "▾";
  color: #fff;
  text-shadow: 1px 1px 3px #ccc;
  margin-right: 5px;
  font-size: 16px;
  height: 28px;
}

ul.panellist.expandable > li.panelgroup.activated .panelgroup-label a:before,
ul.panellist.expandable > li.panelgroup.activated .panelgroup-label .panelgroup-label-inner:before {
  content: "▴";
}

ul.panellist.expandable > li.panelgroup > .panelgroup-label {
  display: block;
  height: 28px;
  font-weight: bold;
  padding: 0px 10px;
  background-image: linear-gradient(top, #ccc 0%, #888 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#888));
  background-image: -webkit-linear-gradient(top, #ccc 0%, #888 100%);
  background-image: -moz-linear-gradient(top, #ccc 0%, #888 100%);
}


a.panelgroup-label,
.panelgroup-label > a {
  color: #fff;
  text-decoration: none;
  display: block;
}

ul.panellist.expandable > li.panelgroup > .panelgroup-inner {
  padding: 0 0 0 0;
  margin: 0 0;
  overflow: hidden;
}

ul.panelgroup-inner {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0;
}

ul.panelgroup-inner > li.panelgroup:first-child {
  border-top: none;
}

ul.panelgroup-inner > li.panel {
  padding: 10px 10px;
  position: relative;
  border-top: 1px solid #ccc;
  background-image: linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  overflow: hidden;
}

.navigable .panel-inner {
  padding-right: 25px !important;
}

.navigable .panel-inner:before {
  content: "";
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  font-family: Serif;
  color: #888;
  text-shadow: 1px 1px 2px #fff;
  background: url("../images/rarrow.png") no-repeat center center;
  width: 12px;
  margin-top: -8px;
  vertical-align: top;
}

.navigable.with-panel-footer .panel-inner:before,
.navigable .with-panel-footer .panel-inner:before,
.with-panel-footer .navigable .panel-inner:before {
  margin-top: -18px;
}

table.panellist.margined {
  display: block;
  border: none;
  background-image: linear-gradient(top, #e5f3f2, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5f3f2), to(#fff));
  background-image: -webkit-linear-gradient(top, #8dadab 0%, #e5f3f2 100%);
  background-image: -moz-linear-gradient(top, #8dadab 0%, #e5f3f2 100%);
  margin: 0 0;
  padding: 0px 10px 10px 10px;
}

table.panellist.margined > caption {
  display: block;
  margin: 0 0;
  padding: 0 0;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

table.panellist.margined > tbody,
table.panellist.margined > thead,
table.panellist.margined > tbody > tr,
table.panellist.margined > thead > tr,
table.panellist.margined > tbody > tr > td,
table.panellist.margined > thead > tr > td,
table.panellist.margined > tbody > tr > th,
table.panellist.margined > thead > tr > th {
  display:block
}

table.panellist.margined > tbody > tr > td.panel {
  -webkit-box-shadow: 2px 2px 4px 0px rgb(0, 0, 0, .25);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .25);
  position: relative;
  margin-top: 10px;
  background-image: linear-gradient(top, #f0f7f7 0%, #e5f3f2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f7f7), to(#e5f3f2));
  background-image: -webkit-linear-gradient(top, #f0f7f7 0%, #e5f3f2 100%);
  background-image: -moz-linear-gradient(top, #f0f7f7 0%, #e5f3f2 100%);
  overflow: hidden;
}

table.panellist.margined > tbody > tr:first-child > td.panel {
  margin-top: 0px;
}


table.panellist.margined > tbody > tr > td.panel p:first-child,
table.panellist.margined > tbody > tr > td.panel p.first {
  margin: 0 0;
}

table.panellist.margined > tbody > tr > td.panel p {
  margin: 8px 0 0 0;
}

table.panellist.margined > tbody > tr > td.panel > .panel-inner {
  padding: 5px 5px;
  margin: 0 0;
  overflow: hidden;
}

table.panellist.margined.navigable > tbody > tr > td.panel:active,
table.panellist.margined > tbody > tr > td.panel.navigable:active {
  background-image: linear-gradient(top, #f0f7f7 0%, #ccebea 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f7f7), to(#ccebea));
  background-image: -webkit-linear-gradient(top, #f0f7f7 0%, #ccebea 100%);
  background-image: -moz-linear-gradient(top, #f0f7f7 0%, #ccebea 100%);
}

.panel .with-action-buttons,
.with-action-buttons .panel {
  display: table-row;
}

.with-action-buttons .panel-inner {
  display: table-cell;
  width: 100%;
}

.with-action-buttons .actions {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  padding-right: 5px;
  height: 100%;
}

.condensed .actions > .btn {
  font-size: 13px;
}

.panel .panel-footer {
  width: auto;
  padding: 4px 4px;
  background-color: #fff;
  background-image: linear-gradient(top, #fff 0%, #eee 98%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.98, #eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 98%, #fff 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #eee 98%, #fff 100%);
  color: #aaa;
}

.panel > label {
  display: block;
}

.btn-iosish {
  display: inline-block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(top, #800 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#800), to(#fff));
  background-image: -webkit-linear-gradient(top, #800 0%, #fff 100%);
  background-image: -moz-linear-gradient(top, #800 0%, #fff 100%);
  padding: 2px 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-iosish > .btn-inner {
  display: block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: linear-gradient(top, #ddd 0%, #b44 40%, #000088 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), color-stop(0.4, #b44), to(#0000880));
  background-image: -webkit-linear-gradient(top, #ddd 0%, #b44 40%, #000088 100%);
  background-image: -moz-linear-gradient(top, #ddd 0%, #b44 40%, #000088 100%);
  padding: 6px 6px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: auto;
}

.btn-iosish:hover > .btn-inner,
.btn-iosish:active > .btn-inner {
  background-image: linear-gradient(top, #fff 0%, #d66 40%, #2020a8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #d66), to(#2020a8));
  background-image: -webkit-linear-gradient(top, #fff 0%, #d66 40%, #2020a8 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #d66 40%, #2020a8 100%);
}

.btn-primary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-primary {
  background-image: linear-gradient(top, #4E8CFF 0%, #2578FF 48%, #0060FF 50%, #2176FF);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4E8CFF), color-stop(0.48, #2578FF), color-stop(0.5, #0060FF), to(#2176FF));
  background-image: -webkit-linear-gradient(top, #4E8CFF 0%, #2578FF 48%, #0060FF 50%, #2176FF);
  background-image: -moz-linear-gradient(top, #4E8CFF 0%, #2578FF 48%, #0060FF 50%, #2176FF);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary:hover {
  background-image: linear-gradient(top, #5698FF 0%, #5899FF 48%, #4187FF 50%, #3186FF);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5698FF), color-stop(0.48, #5899FF), color-stop(0.5, #4187FF), to(#3186FF));
  background-image: -webkit-linear-gradient(top, #5698FF 0%, #5899FF 48%, #4187FF 50%, #3186FF);
  background-image: -moz-linear-gradient(top, #5698FF 0%, #5899FF 48%, #4187FF 50%, #3186FF);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-secondary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-secondary {
  background-image: linear-gradient(top, #33cc66 0%, #19b24f 48%, #019a39 50%, #16af4d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33cc66), color-stop(0.48, #19b24f), color-stop(0.5, #019a39), to(#16af4d));
  background-image: -webkit-linear-gradient(top, #33cc66 0%, #19b24f 48%, #019a39 50%, #16af4d);
  background-image: -moz-linear-gradient(top, #33cc66 0%, #19b24f 48%, #019a39 50%, #16af4d);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-secondary:hover {
  background-image: linear-gradient(top, #41da74 0%, #27c05d 48%, #0ea847 50%, #24bd5b);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41da74), color-stop(0.48, #27c05d), color-stop(0.5, #0ea847), to(#24bd5b));
  background-image: -webkit-linear-gradient(top, #41da74 0%, #27c05d 48%, #0ea847 50%, #24bd5b);
  background-image: -moz-linear-gradient(top, #41da74 0%, #27c05d 48%, #0ea847 50%, #24bd5b);
  box-shadow-image: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-secondary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-supplementary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-supplementary {
  background-image: linear-gradient(top, #a9afff 0%, #848bf7 48%, #646bf0 50%, #8087f6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a9afff), color-stop(0.48, #848bf7), color-stop(0.5, #646bf0), to(#8087f6));
  background-image: -webkit-linear-gradient(top, #a9afff 0%, #848bf7 48%, #646bf0 50%, #8087f6);
  background-image: -moz-linear-gradient(top, #a9afff 0%, #848bf7 48%, #646bf0 50%, #8087f6);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-supplementary:hover {
  background-image: linear-gradient(top, #b1b7ff 0%, #8c93ff 48%, #7273f8 50%, #888fff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1b7ff), color-stop(0.48, #8c93ff), color-stop(0.5, #7273f8), to(#888fff));
  background-image: -webkit-linear-gradient(top, #b1b7ff 0%, #8c93ff 48%, #7273f8 50%, #888fff);
  background-image: -moz-linear-gradient(top, #b1b7ff 0%, #8c93ff 48%, #7273f8 50%, #888fff);
  box-shadow-image: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-supplementary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-disabled {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-disabled {
  background: linear-gradient(top, #cccccc 0%, #b2b2b2 48%, #9a9a9a 50%, #afafaf);
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), color-stop(0.48, #b2b2b2), color-stop(0.5, #9a9a9a), to(#afafaf));
  background: -webkit-linear-gradient(top, #cccccc 0%, #b2b2b2 48%, #9a9a9a 50%, #afafaf);
  background: -moz-linear-gradient(top, #cccccc 0%, #b2b2b2 48%, #9a9a9a 50%, #afafaf);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-disabled:hover {
  background-image: linear-gradient(top, #dadada 0%, #c0c0c0 48%, #a8a8a8 50%, #bdbdbd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), color-stop(0.48, #c0c0c0), color-stop(0.5, #a8a8a8), to(#bdbdbd));
  background-image: -webkit-linear-gradient(top, #dadada 0%, #c0c0c0 48%, #a8a8a8 50%, #bdbdbd);
  background-image: -moz-linear-gradient(top, #dadada 0%, #c0c0c0 48%, #a8a8a8 50%, #bdbdbd);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-disabled:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary .btn-inner,
.btn-secondary .btn-inner,
.btn-supplementary .btn-inner,
.btn-disabled .btn-inner {
  font-weight: bold;
}

.label {
  border-radius: 2px;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  padding: 0px 4px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.label-salessegment-normal {
  background-color: #8d5;
}

.label-salessegment-ahead {
  background-color: #fc5;
}

.block {
  border-radius: 6px;
  border: 3px solid #e5f3f2;
  background-color: #f0f7f7;
  padding: 8px 8px;
  margin-bottom: .5em;
}

.block p {
  margin: 0 0 .5em 0;
}

h2.glitter {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  background-image: linear-gradient(top, #98a39e 0%, #838f89 48%, #707d76 50%, #818d87);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98a39e), color-stop(0.48, #838f89), color-stop(0.5, #707d76), to(#818d87));
  background-image: -webkit-linear-gradient(top, #98a39e 0%, #838f89 48%, #707d76 50%, #818d87);
  background-image: -moz-linear-gradient(top, #98a39e 0%, #838f89 48%, #707d76 50%, #818d87);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h2.glitter:after {
  position: relative;
  display: block;
  left: -14px;
  top: -34px;
  content: "";
  width: 2px;
  height: 30px;
  background-image: linear-gradient(top, #ffffff 0%, #d6d6ff 48%, #b2b2ff 50%, #d2d2ff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.48, #d6d6ff), color-stop(0.5, #b2b2ff), to(#d2d2ff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #d6d6ff 48%, #b2b2ff 50%, #d2d2ff);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d6d6ff 48%, #b2b2ff 50%, #d2d2ff);
}

h2.glitter.music:after {
  background-image: linear-gradient(top, #f2cdd0 0%, #f28b8c 48%, #f25454 50%, #f28586);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2cdd0), color-stop(0.48, #f28b8c), color-stop(0.5, #f25454), to(#f28586));
  background-image: -webkit-linear-gradient(top, #f2cdd0 0%, #f28b8c 48%, #f25454 50%, #f28586);
  background-image: -moz-linear-gradient(top, #f2cdd0 0%, #f28b8c 48%, #f25454 50%, #f28586);
}

h2.glitter.performance:after {
  background-image: linear-gradient(top, #f6f6ff 0%, #e3e2f7 48%, #d2d1f0 50%, #e1e0f6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6ff), color-stop(0.48, #e3e2f7), color-stop(0.5, #d2d1f0), to(#e1e0f6));
  background-image: -webkit-linear-gradient(top, #f6f6ff 0%, #e3e2f7 48%, #d2d1f0 50%, #e1e0f6);
  background-image: -moz-linear-gradient(top, #f6f6ff 0%, #e3e2f7 48%, #d2d1f0 50%, #e1e0f6);
}

h2.glitter.sports:after {
  background-image: linear-gradient(top, #ccffff 0%, #aff8f7 48%, #96f2f0 50%, #acf7f6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccffff), color-stop(0.48, #aff8f7), color-stop(0.5, #96f2f0), to(#acf7f6));
  background-image: -webkit-linear-gradient(top, #ccffff 0%, #aff8f7 48%, #96f2f0 50%, #acf7f6);
  background-image: -moz-linear-gradient(top, #ccffff 0%, #aff8f7 48%, #96f2f0 50%, #acf7f6);
}

h2.glitter.event:after {
  background-image: linear-gradient(top, #fff2d9 0%, #ffe7bb 48%, #ffdea1 50%, #ffe6b8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2d9), color-stop(0.48, #ffe7bb), color-stop(0.5, #ffdea1), to(#ffe6b8));
  background-image: -webkit-linear-gradient(top, #fff2d9 0%, #ffe7bb 48%, #ffdea1 50%, #ffe6b8);
  background-image: -moz-linear-gradient(top, #fff2d9 0%, #ffe7bb 48%, #ffdea1 50%, #ffe6b8);
}

h2.glitter.red {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  background-image: linear-gradient(top, #4f4bcd 0%, #3530c6 48%, #2019c0 50%, #332dc5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4f4bcd), color-stop(0.48, #3530c6), color-stop(0.5, #2019c0), to(#332dc5));
  background-image: -webkit-linear-gradient(top, #4f4bcd 0%, #3530c6 48%, #2019c0 50%, #332dc5);
  background-image: -moz-linear-gradient(top, #4f4bcd 0%, #3530c6 48%, #2019c0 50%, #332dc5);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h2.glitter.red:after {
  background-image: linear-gradient(top, #ffffff 0%, #e3e3e3 48%, #cccccc 50%, #e1e1e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.48, #e3e3e3), color-stop(0.5, #cccccc), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 48%, #cccccc 50%, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 48%, #cccccc 50%, #e1e1e1);
}

h3.glitter {
  border: 1px solid #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 28px;
  line-height: 28px;
  font-size: 17px;
  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px 0px 0px 10px;
  margin: 0 0;
  background-image: linear-gradient(top, #98a39e 0%, #838f89 48%, #707d76 50%, #818d87);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98a39e), color-stop(0.48, #838f89), color-stop(0.5, #707d76), to(#818d87));
  background-image: -webkit-linear-gradient(top, #98a39e 0%, #838f89 48%, #707d76 50%, #818d87);
  background-image: -moz-linear-gradient(top, #98a39e 0%, #838f89 48%, #707d76 50%, #818d87);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h3.glitter:after {
  position: relative;
  display: block;
  left: -6px;
  top: -24px;
  content: "";
  width: 2px;
  height: 20px;
  background-image: linear-gradient(top, #ffffff 0%, #d6d6ff 48%, #b2b2ff 50%, #d2d2ff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.48, #d6d6ff), color-stop(0.5, #b2b2ff), to(#d2d2ff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #d6d6ff 48%, #b2b2ff 50%, #d2d2ff);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d6d6ff 48%, #b2b2ff 50%, #d2d2ff);
}


.goto-link {
  text-decoration: none;
  padding: 6px 6px;
}

.header-navigation {
  margin-bottom: 15px;
}

input[type="text"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  height: 34px;
  font-size: 17px;
  padding: 0px 2px;
  margin: 0 0 2px 0;
}

input[type="password"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  height: 34px;
  font-size: 17px;
  padding: 0px 2px;
  margin: 0 0 2px 0;
}

select {
  height: 30px;
  font-size: 16px;
  margin: 3px 0 0 0;
  background-color: #fff;
}

button {
  height: 28px;
  margin: 3px 0 0 0;
  font-weight: bold;
}

input[type="submit"] {
  height: 28px;
  margin: 5px 0 0 0;
  font-weight: bold;
}

#mailMagazineBoxInner .dispBox .subscribed {
	color: #bbb;
}

#mailMagazineBoxInner .dispBox .subscribed label:after {
  display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #fff;
	background-color: #f88;
	vertical-align: middle;
	margin: 0 0 0 4px;
	padding: 2px 3px;
	font-size: 10px;
	height: 10px;
	line-height: 10px;
	font-weight: bold;
	content: "購読中";
}

.login_header {
  text-align: center;
}

.login_table {
  width: 95%;
  margin-left: auto;
  margin-right: auto
}
