<header>
  <div class="inner">
    <h1 class="title">
        <a href="/"><div class="header-logo"></div></a>
    </h1>
    <form id="logout" ngNoForm action="/cart/logout_performance_index" target="_self" method="POST" *ngIf="isAuthRequired">
      <input type="hidden" name="performance_id" value="{{performanceId}}">
      <button id="logout" type="submit">{{'ログアウト'| translate}}</button>
    </form>
    <select #selectLocaleForReservedBySeat *ngIf="i18nService.i18n" class="locale-picker" (change)="i18nService.selectLocale(selectLocaleForReservedBySeat.value)">
        <option *ngFor="let localeOption of i18nService.localeOptions" [value]="localeOption.value" [selected]="localeOption.value == i18nService.locale">{{localeOption.label}}</option>
    </select>
  </div>
</header>


<div class="login-page">
  <div class="contents">


<!--****************************************************************-->


    <!--  event-info   -->
      <app-event-info></app-event-info>
    <!--  /event-info   -->

    <!--  filter   -->
      <app-filter #filter></app-filter>
    <!--  /filter   -->

      <section class="mapArea">
        <!--  venue-map   -->
          <app-venue-map #venuemap [filterComponent]="filter" [mapAreaLeftH]="mapAreaLeftH" [isGetMapH]="isGetMapH"></app-venue-map>
        <!--  /venue-map   -->
      </section>


<!--****************************************************************-->


    </div>
</div>
<!-- .contents -->

<!--SiteCatalyst-->


<!--<footer>
  <div class="page-top-box">
    <a href="#" class="sp page-top" id="pageTop">
      <span class="arrow top"></span>
    </a>
  </div>

  <p class="copyright">
    <small>&copy; TicketStar, Inc.</small>
  </p>
</footer>-->