<%page args="form" />
<%namespace file="/common/helpers.html" name="ch" />
<form action="${request.url}" method="POST">
  ${ch.form_item(form.id)}
  ${ch.form_item(form.organization_id, class_='span6')}
  ${ch.form_item(form.delivery_plugin_id)}
  ${ch.form_item(form.name, maxlength=255)}
  ${ch.form_item(form.fee_per_order)}
  ${ch.form_item(form.fee_per_principal_ticket)}
  ${ch.form_item(form.fee_per_subticket)}
  ${ch.form_item(form.display_order)}
  ${ch.form_item(form.selectable)}
  ${ch.form_item(form.hide_voucher)}
  ${ch.form_item(form.description, style='width:500px;height:100px;')}
</form>
