<%page args="delivery_methods" />
<% from altair.app.ticketing.core.models import DeliveryMethod %>
<%namespace file="/common/helpers.html" name="ch"/>

% if delivery_methods.items:
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th class="span1"></th>
    <th class="span1">${ch.sortable(DeliveryMethod.id)}</th>
    <th>${ch.sortable(DeliveryMethod.name)}</th>
    <th>${ch.sortable(DeliveryMethod.fee_per_order)}</th>
    <th>${ch.sortable(DeliveryMethod.fee_per_principal_ticket)}</th>
    <th>${ch.sortable(DeliveryMethod.fee_per_subticket)}</th>
    <th>${HH.label_text_for(DeliveryMethod.hide_voucher)}</th>
    <th>${form.display_order.label}</th>
    <th>${form.selectable.label}</th>
  </tr>
  </thead>
  <tbody>
  % for delivery_method in delivery_methods.items:
  <tr id="delivery_method-${delivery_method.id}">
    <td>
      <input name="delivery_method_id" type="radio" value=${delivery_method.id} />
      <input id="delivery_plugin_id" name="delivery_plugin_id" type="hidden" value=${delivery_method.delivery_plugin_id} />
      <span style="display: none;" class="delivery_method_description">${delivery_method.description or '' | n,x}</span>
  	</td>
    <td><span id="id">${delivery_method.id}</span></td>
    <td><a href="javascript:edit_delivery_method(${delivery_method.id});"><span id="name">${delivery_method.name}</span></a></td>
    <td><span id="fee_per_order">${vh.price(delivery_method.fee_per_order)}</span></td>
    <td><span id="fee_per_principal_ticket" value="${delivery_method.fee_per_principal_ticket}">${vh.price(delivery_method.fee_per_principal_ticket)}</span></td>
    <td><span id="fee_per_subticket" value="${delivery_method.fee_per_subticket}">${vh.price(delivery_method.fee_per_subticket)}</span></td>
    <td><span id="hide_voucher" value="${'y' if delivery_method.hide_voucher else ''}">${u'隠す' if delivery_method.hide_voucher else u'隠さない' }</span></td>
    <td><span id="display_order">${delivery_method.display_order}</span></td>
    <td><span id="selectable">${u'使用可' if delivery_method.selectable else u'使用不可'}</span></td>
  </tr>
  % endfor
  </tbody>
</table>
% endif
<script type="text/javascript">
var get_selected_delivery_method_id;
(function (form) {
get_selected_delivery_method_id = function get_selected_delivery_method_id() {
  return $(form).find('input[name="delivery_method_id"]:checked').val();
}
})($('script:last').parent());
</script>
${ch.pager(delivery_methods)}
