<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'引取方法'],
      urls=[request.route_path('index')]
  )}
</%block>
<div class="page-header">
  <h3>引取方法</h3>
</div>

<%include file="/delivery_methods/_list.html" args="form=form, delivery_methods=delivery_methods" />
<%include file="/delivery_methods/_action_button.html" />
<div id="delivery_methods-form">
  <%include file="/delivery_methods/_form.html" args="form=form" />
</div>
