<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'会場'],
      urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h3>会場</h3>
</div>

<div style="float: left;">
  <br /><br />
</div>

<span style="float: right; margin-right: 20px;">
  <div class="btn-group">
    <a class="btn" href="/venues/new">
      <i class="icon-plus"></i>新規会場
    </a>
  </div>
</span>

<%include file="/venues/_list.html" args="items=items" />
