<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'会場', venue.name],
      urls=[request.route_path('index'), request.route_path('venues.index')]
  )}
</div>

<div class="page-header">
  <h3>${venue.name}</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<style>
table.nowrap td { white-space: nowrap; }
</style>
<table class="table table-striped table-bordered nowrap">
  <thead>
  <tr>
    <th class="span1"></th>
    <th>L0 Group ID</th>
    <th>ブロック名称</th>
    <th>L0 Row ID</th>
    <th>列名称</th>
    <th>L0 ID</th>
    <th>席名称</th>
    <th>状態</th>
  </tr>
  </thead>
  <tbody>
  % for item in items:
	<tr>
	  <td></td>
	  <td>${item.seat.group_l0_id}</td><td>${item.venuearea.name}</td>
	  <td>${item.seat.row_l0_id}</td><td>${item.row.value}</td>
  	  <td>${item.seat.l0_id}</td><td>${item.seat.name}</td>
	  <td>${item.status.status}</td>
	</tr>
  % endfor
  </tbody>
</table>
