<%inherit file="./base.html"/>

<%block name="javascript">
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
  <script type="text/javascript">
    $(function() {
      $('#form1').disableOnSubmit('input[type=submit][name!="back"]');
    });
    function click_input_point_form() {
      $('#partial_use').prop('checked', true)
    }
  </script>
</%block>
<%block name='css'>
<style type="text/css">
  th {
      text-align: left;
  }
  .point-use-table {
    margin: 20px auto 0 auto;
    width: 95%;
    border: 1px solid #ccc;
  }
  .point-use-table td {
    padding: 7px;
    font-size: 12px;
  }
  .point-use-notice {
    font-size: 12px;
    margin: 20px auto 0 10px;
    line-height: 1.7;
  }
  .crimson {
    color: #DC143C;
  }
  a:link {
    text-decoration: none;
  }
  input[type='radio'] {
    position: relative;
    top: 2px;
  }
  #point_input_form {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #f4f3f1;
    padding: 5px;
    margin: 3px;
  }
</style>
</%block>

<form id="form1" name="form1" action="${request.url}" method="post">
  <div class="confirm-wrap">
    <h2 class="heading_simple_line">${__(u'お買い物内容')}</h2>

    <div class="purchase-wrap">
      <div class="purchase-title">
        <p>${cart.performance.event.title}</p>
        <p>${h.performance_datetime(cart.performance, i18n)}(予定) ${cart.performance.venue.name}</p>
      </div>
      <table class="purchase-table" summary="${__(u'席種、金額などのお買い物内容')}">
        <tbody>
          %for product in cart.items:
          <tr>
            <th scope="row">${product.product.name}</th>
            % if len(product.items) == 1:
              <td nowrap><strong>${product.seat_quantity}</strong>枚</td>
            % else:
              <td nowrap>×<strong>${product.quantity}</strong>枚</td>
            % endif
            <td>￥${h.format_number(product.product.price * product.quantity)}</td>
          </tr>
          %endfor

          <tr>
            <th scope="row">${__(u'決済手数料')}</th>
            <td> </td>
            <td>￥${h.format_number(cart.transaction_fee)}</td>
          </tr>
          <tr>
            <th scope="row">${__(u'発券/引取手数料')}</th>
            <td> </td>
            <td>￥${h.format_number(cart.delivery_fee)}</td>
          </tr>
          <tr>
            <th scope="row">${__(u'システム利用料')}</th>
            <td>&nbsp;</td>
            <td>￥${h.format_number(cart.system_fee)}</td>
          </tr>
          %if cart.special_fee > 0:
            <tr>
              <th scope="row">${cart.special_fee_name}</th>
              <td>&nbsp;</td>
              <td>￥${h.format_number(cart.special_fee)}</td>
            </tr>
          %endif
          <tr class="purchase-table-total">
            <th scope="row">${__(u'合計金額')}</th>
            <td>&nbsp;</td>
            <td>￥${h.format_number(cart.total_amount)}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="confirm-wrap">
    <h2 class="heading_simple_line">${__(u'ポイント入力')}</h2>

    <table class="point-use-table">
      <tr>
        <td style="font-size: 15px">ポイント残高</td>
      </tr>
      <tr>
        <td align="left">${cart.shipping_address.last_name} ${cart.shipping_address.first_name} さんの通常ポイント残高	</td>
      </tr>
      <tr>
        <td class="point" align="right"><span class="crimson">${h.format_number(fix_point)}</span> ポイント（円）</td>
      </tr>
    </table>
    <% label_style = '' if is_point_available else 'style="opacity: 0.5;"' %>
    <table class="point-use-table">
      <tr>
        <td style="font-size: 15px">利用方法</td>
      </tr>
      <% errors = h.error_list(request, form, 'input_point') %>
      % if errors:
        <tr>
          <td>${errors}</td>
        </tr>
      % endif
      <tr>
        <td>
          % if is_point_available and not errors:
            <input id="partial_use" name="point_use_type" type="radio" value="${point_use_type.PartialUse.v}">
          % elif is_point_available and errors:
            <input id="partial_use" name="point_use_type" type="radio" value="${point_use_type.PartialUse.v}" checked>
          % else:
            <input id="partial_use" name="point_use_type" type="radio" value="${point_use_type.PartialUse.v}" disabled>
          % endif
          <label for="partial_use" ${label_style|n}>一部のポイントを使う
          % if cart.transaction_fee > 0:
          （利用上限ポイント：${h.format_number(max_available_point)}）
          % endif
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td width="10px"></td>
              <td>
                % if is_point_available:
                  ${form.input_point(maxlength='6', id='point_input_form', onclick='click_input_point_form()')}
                % else:
                  ${form.input_point(maxlength='6', id='point_input_form', disabled='')}
                % endif
              <td><label for="input_point" ${label_style|n}>ポイント</label></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" style="padding-top: 0">
                <span class="crimson">( 例 ) 1000 &lt;半角数字&gt;</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0;">
          <span class="crimson">※50ポイント以上よりご利用可能です</span>
          <div class="crimson">
            <span style="line-height: 1.7">
              ※決済手数料を除いた合計金額がポイントの利用上限となります。<br>
              ※決済手数料を除いた合計金額分のポイントをご利用の場合、決済手数料は0円となります。<br>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input id="all_use" name="point_use_type" type="radio" value="${point_use_type.AllUse.v}" ${'' if is_point_available else 'disabled'}>
          <label for="all_use" ${label_style|n}>全てのポイントを使う</label><br>
        </td>
      </tr>
      <tr>
        <td>
          <input id="no_use" name="point_use_type" type="radio" value="${point_use_type.NoUse.v}" ${'' if errors else 'checked'}>
          <label for="no_use">ポイントを利用しない</label>
        </td>
      </tr>
    </table>

    <div class="point-use-notice">
      ＜ご注意＞<br>
      <span class="crimson">
        ・「全てのポイントを使う」を選択した場合、ご注文時点の利用可能な全てのポイントが利用ポイントとして確定いたします。<br>
      </span>
      ・1回のお支払い上限、1ヶ月のご利用上限については&nbsp;<a href="https://point.rakuten.co.jp/guidance/usemethod/" target="_blank">ポイント利用方法</a>&nbsp;をご確認ください。<br>
      ・利用ポイント以外に不足金額が発生する場合は、選択されたお支払い方法でのお買い物になります。<br>
    </div>
  </div>

  ${form.fix_point}
  ${form.sec_able_point}
  ${form.order_max_point}
  <p class="confirm-btnBox"><input class="btn btn-primary" type="button" value="${_(u'次へ')}" onclick="$('#form1').submit()"></p>
</form>

% if request.organization.setting.sitecatalyst_use:
<!--SiteCatalyst-->
<%
    sc = {"pagename": "point_use"}
%>
<%include file="../includes/sc_basic.html" args="sc=sc" />
<!--/SiteCatalyst-->
% endif