<%inherit file="../layout.html" />

<h1 class="page">
  combobox demo
</h1>

<div class="well">
  <div id="organization_select"></div>
  <div id="event_select"></div>
  <div id="performance_select"></div>
  <div id="product_select"></div>
</div>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/gateway.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/viewmodel.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/services.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/viewmodels.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/views.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/gateway.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/models.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/app.js")}"></script>


<script type="text/javascript">
  $(function(){
    var apis = ${apis|n};
    var afterAllSelect = function(data){
      alert("yay");
    };
    window.appView = combobox.ApplicationViewFactory(apis, combobox.ForTicketPreviewComboboxGateway,
      $("#organization_select"),
      $("#event_select"),
      $("#performance_select"),
      $("#product_select"),
      afterAllSelect
    ).start();
  });
</script>
