<%inherit file="../layout.html" />

<h1 class="page">
  combobox demo
</h1>

<div class="well">
  <div id="organization_select"></div>
  <div id="event_select"></div>
  <div id="performance_select"></div>
  <div id="product_select"></div>
</div>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/gateway.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/viewmodel.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/services.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/app.js")}"></script>

<script type="text/javascript">
  $(function(){
    apis = ${apis|n};
    models = {
      organization:  new ComboboxSelection({targetObject: "organization"}),
      event:  new ComboboxSelection({targetObject: "event"}),
      performance:  new ComboboxSelection({targetObject: "performance" }),
      product:  new ComboboxSelection({targetObject: "product"})
    };
    afterAllSelect = function(data){
      alert("yay");
    };
    gateway = new ForTicketPreviewComboboxGateway({models:models, apis:apis, finishCallback:afterAllSelect  });
    view_models = {
      organization:  new ComboboxViewModel({model: models.organization, el: $("#organization_select")}),
      event:  new ComboboxViewModel({model: models.event, el: $("#event_select")}),
      performance:  new ComboboxViewModel({model: models.performance, el: $("#performance_select")}),
      product:  new ComboboxViewModel({model: models.product, el: $("#product_select")})
    };
    view = {
      organization:  new ComboboxView({vms: {input: view_models["organization"]}, model: models.organization, el: $("#organization_select")}),
      event:  new ComboboxView({vms: {input: view_models["event"]}, model: models.event, el: $("#event_select")}),
      performance:  new ComboboxView({vms: {input: view_models["performance"]}, model: models.performance, el: $("#performance_select")}),
      product:  new ComboboxView({vms: {input: view_models["product"]}, model: models.product, el: $("#product_select")})
    };
   gateway.organization.updateCandidates();
  });
</script>
