<%inherit file="../layout.html" />

<style type="text/css">
  .droparea{
    margin-left:5%;
    margin-right:5%;
  }
  .droparea.empty{
    height: 200px;
    background-color: #ccc;
    text-align: center;
    margin: 0 auto;
  }
  .droparea.touched{
    background-color: #cfc;
  }
  input {
      width:90%;
  }
  #preview_area img{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #loading_area {
    z-index: 1;
    position:absolute;
    top:0px;
  }
  #loading_area img{
  }

  #subnav a.brand{
    color: #777
  }

  #subnav.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #faf;
    text-decoration: none;
  }
</style>

<h1 class="page">
  ticket template preview
</h1>

<div class="description" style="margin-left:3%; line-height:0.5em;">
  <p style="line-height:1.5em;">
    券面templateのpreview pageです。
  </p>
  <p>
    1. 作成した券面用のテンプレートファイル(SVG)をドラッグ&ドロップしてください。preview結果が表示されます。
  </p>
  <p>
    2. プレースホルダー({{ }}で囲まれた部分)に埋め込む文字列を対応するinput要素に入力してください。
  </p>
</div>

<div id="preview_block" class="well">
  <div id="subnav" class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">preview画像表示</a>
      <ul class="nav">
        <li class="" ><a id="redraw_btn" href="#">reDraw</a></li>
        <li class=""><a id="download_btn" href="#">download</a></li>
      </ul>
    </div>
  </div>
  <div class="droparea empty" id="svg_droparea" style="margin-top:40px;">
    <div id="preview_area">
      Drag and Drop
    </div>
    <div id="loading_area">
    </div>
  </div>
</div>

<table id="template_vars_table" class="table" style="margin-left:20px; margin-top:20px">
  <thead>
  </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript" src="${request.static_url("ticketing:static/js/altair/showhide.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/altair/spinner.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/gateway.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/viewmodel.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/core/services.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/models.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/gateway.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/preview_api.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/services.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/viewmodels.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/views.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/app.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/gateway.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/viewmodels.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/views.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/models.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/combobox/app.js")}"></script>


<script type="text/javascript">
  $(function(){
    window.apis = ${apis|n};
    window.appView = preview.ApplicationViewFactory(apis,
     preview.ApiCommunicationGateway,
     $("#preview_block"), 
     $("#preview_block #preview_area"),
     $("#preview_block #svg_droparea"), 
     $("#template_vars_table"));
  });
</script>
