<%inherit file="../layout.html" />

<style type="text/css">
  .droparea{
    margin-left:5%;
    margin-right:5%;
  }
  .droparea.empty{
    height: 200px;
    background-color: #ccc;
    text-align: center;
    margin: 0 auto;
  }
  .droparea.touched{
    background-color: #cfc;
  }
  input {
      width:90%;
  }
  #preview_area img{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #loading_area {
    z-index: 1;
    position:absolute;
    top:0px;
  }
  #loading_area img{
  }

  #subnav a.brand{
    color: #777
  }

  #subnav.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #faf;
    text-decoration: none;
  }
</style>

<h1 class="page">
  ticket template preview
</h1>

<div class="description" style="margin-left:3%; line-height:0.5em;">
  <p style="line-height:1.5em;">
    券面templateのpreview pageです。
  </p>
  <p>
    1. 作成した券面用のテンプレートファイル(SVG)をドラッグ&ドロップしてください。preview結果が表示されます。
  </p>
  <p>
    2. プレースホルダー({{ }}で囲まれた部分)に埋め込む文字列を対応するinput要素に入力してください。
  </p>
</div>

<div class="well">
  <div id="subnav" class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">preview画像表示</a>
      <ul class="nav">
        <li class=""><a href="#">reDraw</a></li>
        <li class=""><a href="#">download</a></li>
      </ul>
    </div>
  </div>
  <div class="droparea empty" id="svg_droparea" style="margin-top:40px;">
    <div id="preview_area">
      Drag and Drop
    </div>
    <div id="loading_area">
    </div>
  </div>
</div>

<table id="template_vars_table" class="table" style="margin-left:20px; margin-top:20px">
  <thead>
  </thead>
    <tbody>
    </tbody>
</table>


<script type="text/javascript" src="${request.static_url("ticketing:static/js/altair/showhide.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/altair/spinner.js")}"></script>
<script type="text/javascript" src="${request.static_url("ticketing:static/js/tickets/preview/app.js")}"></script>
<script type="text/javascript">
  $(function(){
  droparea = document.getElementById("svg_droparea");

  svg = new SVGStore();
  preview = new PreviewImageStore();
  vars = new TemplateVarStore();
  gateway = new ApiCommunicationGateWay({models: {svg: svg, preview: preview, vars: vars}, apis: ${apis|n}});

  view_models = {
    preview: new PreviewImageViewModel({el: $("#preview_area")}),
    droparea: new DropAreaViewModel({el: $("#svg_droparea")}),
    spinner: new LoadingSpinnerViewModel({el: $("#preview_area")}),
    vars_input: new TemplateVarsTableViewModel({el: $("#template_vars_table")})
  };

  dad_view = new DragAndDropSVGSupportView({el: droparea, vms: view_models, model: svg});
  preview_image_view = new PreviewImageView({el: $("#preview_area"), vms: view_models, model: preview});
  template_fillvalues_view = new TemplateFillValuesView({el: $("#template_vars_table"), vms: view_models, model: vars});
  window.view_models = view_models;
  });
</script>
