<header class="ts-footer">
  <div class="ts-footer-inner">
  <!-- ===== ts-footer-wrap [start] ===== -->
    <div class="ts-footer-wrap">
      <nav>
        <ul class="ts-footer-nav">
          <li><a href="http://www.konnyakuza.com/index.aspx">${_(u'運営会社')}</a></li>
          <li><a href="${h.safe_get_contact_url(request)}">${_(u'お問い合わせ')}</a></li>
          <li><a href="https://konnyakuza.tstar.jp/ticket/privacy.html">${_(u'個人情報保護方針')}</a></li>
          <li><a href="https://konnyakuza.tstar.jp/ticket/legal.html">${_(u'特定商取引法に基づく表示')}</a></li>
        </ul>
      </nav>
    <p class="copyright">&copy; TicketStar, Inc.</p>
    </div><!-- ===== ts-footer-wrap [end] ===== -->
  </div>
</header>
<!-- ******************** footer [end] ******************** -->