
<html>
<head>
    <style>
        label {
            display: block;
            float: left;
            width: 300px;
        }
        input {
            display: block;
            float: left;
        }
        form div {
            clear: both;
        }
    </style>
</head>
<body>
<h2>リクエスト</h2>

<h2>通知</h2>
<h3>■01:入金発券完了通知</h3>
<pre>
**********************************************
X_shori_id[000000022908]
X_shori_kbn[01]
X_shori_time[20110906132611]
xcode[2152561cbe6ac750c5d0761c5d0be0bb]
X_shop_id[30516]
X_torikeshi_riyu[]
X_shop_order_id[FREEDATADZ98]
X_tuchi_type[01]
X_haraikomi_no[2383267576135]
X_kaishu_cnt[00]
X_hikikae_no[]
X_goukei_kingaku[011000]
X_ticket_cnt[01]
X_ticket_hon_cnt[01]
**********************************************
</pre>
<form action="/altair/sej/callback" method="POST">
    <div>
        <label>X_shori_id</label>
        <input type="text" name="X_shori_id" value="000000022908" />
    </div>
    <div>
        <label>X_shori_kbn</label>
        <input type="text" name="X_shori_kbn" value="01" />
    </div>
    <div>
        <label>X_shori_time</label>
        <input type="text" name="X_shori_time" value="20110906132611" />
    </div>
    <div>
        <label>X_shop_id</label>
        <input type="text" name="X_shop_id" value="30516" />
    </div>
    <div>
        <label>X_torikeshi_riyu</label>
        <input type="text" name="X_torikeshi_riyu" value="" />
    </div>
    <div>
        <label>X_shop_order_id</label>
        <input type="text" name="X_shop_order_id" value="FREEDATADZ98" />
    </div>
    <div>
        <label>X_tuchi_type</label>
        <input type="text" name="X_tuchi_type" value="01" />
    </div>
    <div>
        <label>X_haraikomi_no</label>
        <input type="text" name="X_haraikomi_no" value="2383267576135" />
    </div>
    <div>
        <label>X_kaishu_cnt</label>
        <input type="text" name="X_kaishu_cnt" value="00" />
    </div>
    <div>
        <label>X_hikikae_no</label>
        <input type="text" name="X_hikikae_no" value="" />
    </div>
    <div>
        <label>X_goukei_kingaku</label>
        <input type="text" name="X_goukei_kingaku" value="011000" />
    </div>
    <div>
        <label>X_ticket_cnt</label>
        <input type="text" name="X_ticket_cnt" value="01" />
    </div>
    <div>
        <label>X_ticket_hon_cnt</label>
        <input type="text" name="X_ticket_hon_cnt" value="01" />
    </div>
    <div>
        <label>xcode</label>
        <input type="text" name="xcode" value="2152561cbe6ac750c5d0761c5d0be0bb" />
    </div>
    <div>
        <input type="submit" value="send">
    </div>
</form>

<pre>
■31:ＳＶＣ強制取消通知
**********************************************
X_shori_id[000000035639]
X_shori_kbn[02]
X_shori_time[20120505154649]
xcode[96598d2c6c3d46a3ef60d31146112c03]
X_shop_id[70090]
X_torikeshi_riyu[]
X_shop_order_id[MAEGO1007002]
X_tuchi_type[31]
X_haraikomi_no[]
X_kaishu_cnt[00]
X_hikikae_no[2482488670315]
X_goukei_kingaku[000100]
X_ticket_cnt[01]
X_ticket_hon_cnt[01]
**********************************************
</pre>

<form action="/altair/sej/callback" method="POST">
    <div>
        <label>X_shori_id</label>
        <input type="text" name="X_shori_id" value="000000035639" />
    </div>
    <div>
        <label>X_shori_kbn</label>
        <input type="text" name="X_shori_kbn" value="02" />
    </div>
    <div>
        <label>X_shori_time</label>
        <input type="text" name="X_shori_time" value="20120505154649" />
    </div>
    <div>
        <label>X_shop_id</label>
        <input type="text" name="X_shop_id" value="70090" />
    </div>
    <div>
        <label>X_torikeshi_riyu</label>
        <input type="text" name="X_torikeshi_riyu" value="" />
    </div>
    <div>
        <label>X_shop_order_id</label>
        <input type="text" name="X_shop_order_id" value="MAEGO1007002" />
    </div>
    <div>
        <label>X_tuchi_type</label>
        <input type="text" name="X_tuchi_type" value="31" />
    </div>
    <div>
        <label>X_haraikomi_no</label>
        <input type="text" name="X_haraikomi_no" value="2482488670315" />
    </div>
    <div>
        <label>X_kaishu_cnt</label>
        <input type="text" name="X_kaishu_cnt" value="00" />
    </div>
    <div>
        <label>X_goukei_kingaku</label>
        <input type="text" name="X_goukei_kingaku" value="000100" />
    </div>
    <div>
        <label>X_ticket_cnt</label>
        <input type="text" name="X_ticket_cnt" value="01" />
    </div>
    <div>
        <label>X_ticket_hon_cnt</label>
        <input type="text" name="X_ticket_hon_cnt" value="01" />
    </div>
    <div>
        <label>xcode</label>
        <input type="text" name="xcode" value="96598d2c6c3d46a3ef60d31146112c03" />
    </div>
    <div>
        <input type="submit" value="send">
    </div>
</form>
<pre>
■72:再付番通知
**********************************************
X_shori_id[000000022909]
X_shori_kbn[01]
X_shori_kbn_new[01]
X_shori_time[20110906133329]
xcode[f56afa0609e57f9cd1e82e1c8af5c58d]
X_shop_id[30516]
X_shop_order_id[FREEDATADZ98]
X_tuchi_type[72]
X_haraikomi_no[2383267576135]
X_haraikomi_no_new[2386267653271]
X_hikikae_no[]
X_hikikae_no_new[]
X_lmt_time_new[201109061500]
X_barcode_no_new_01[6200003398898]
**********************************************
</pre>
<form action="/altair/sej/callback" method="POST">
    <div>
        <label>X_shori_id</label>
        <input type="text" name="X_shori_id" value="000000035639" />
    </div>
    <div>
        <label>X_shori_kbn</label>
        <input type="text" name="X_shori_kbn" value="01" />
    </div>
    <div>
        <label>X_shori_time</label>
        <input type="text" name="X_shori_time" value="20120505154649" />
    </div>
    <div>
        <label>X_shop_id</label>
        <input type="text" name="X_shop_id" value="70090" />
    </div>
    <div>
        <label>X_torikeshi_riyu</label>
        <input type="text" name="X_torikeshi_riyu" value="" />
    </div>
    <div>
        <label>X_shop_order_id</label>
        <input type="text" name="X_shop_order_id" value="MAEGO1007002" />
    </div>
    <div>
        <label>X_tuchi_type</label>
        <input type="text" name="X_tuchi_type" value="31" />
    </div>
    <div>
        <label>X_haraikomi_no</label>
        <input type="text" name="X_haraikomi_no" value="2482488670315" />
    </div>
    <div>
        <label>X_kaishu_cnt</label>
        <input type="text" name="X_kaishu_cnt" value="00" />
    </div>
    <div>
        <label>X_goukei_kingaku</label>
        <input type="text" name="X_goukei_kingaku" value="000100" />
    </div>
    <div>
        <label>X_ticket_cnt</label>
        <input type="text" name="X_ticket_cnt" value="01" />
    </div>
    <div>
        <label>X_ticket_hon_cnt</label>
        <input type="text" name="X_ticket_hon_cnt" value="01" />
    </div>
    <div>
        <label>xcode</label>
        <input type="text" name="xcode" value="96598d2c6c3d46a3ef60d31146112c03" />
    </div>
    <div>
        <input type="submit" value="send">
    </div>
</form>
<pre>
■73:期限切れ通知
**********************************************
X_shori_id[000000022910]
X_shori_kbn[01]
X_shori_time[20110906150203]
xcode[d213cf752723fdfae00339e73dff0c2e]
X_shop_id[30516]
X_shop_order_id[FREEDATADZ98]
X_tuchi_type[73]
X_lmt_time[201109061500]
X_hikikae_no[]
X_haraikomi_no[2386267653271]
**********************************************

</pre>
<form action="/altair/sej/callback" method="POST">
    <div>
        <label>X_shori_id</label>
        <input type="text" name="X_shori_id" value="000000022910" />
    </div>
    <div>
        <label>X_shori_kbn</label>
        <input type="text" name="X_shori_kbn" value="01" />
    </div>
    <div>
        <label>X_shori_time</label>
        <input type="text" name="X_shori_time" value="20110906150203" />
    </div>
    <div>
        <label>X_shop_id</label>
        <input type="text" name="X_shop_id" value="30516" />
    </div>
    <div>
        <label>X_shop_order_id</label>
        <input type="text" name="X_shop_order_id" value="FREEDATADZ98" />
    </div>
    <div>
        <label>X_tuchi_type</label>
        <input type="text" name="X_tuchi_type" value="73" />
    </div>
    <div>
        <label>X_lmt_time</label>
        <input type="text" name="X_lmt_time" value="201109061500" />
    </div>
    <div>
        <label>X_hikikae_no</label>
        <input type="text" name="X_hikikae_no" value="" />
    </div>
    <div>
        <label>X_haraikomi_no</label>
        <input type="text" name="X_haraikomi_no" value="2386267653271" />
    </div>
    <div>
        <label>xcode</label>
        <input type="text" name="xcode" value="d213cf752723fdfae00339e73dff0c2e" />
    </div>
    <div>
        <input type="submit" value="send">
    </div>
</form>
<h2>リクエスト済み発券</h2>
<table class="table fullwidth checkboxed_table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>120605112147</td>
      <td>None</td>
      <td>2340019167010</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>305203400191670174f5ac677fea9423</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="305203400191670174f5ac677fea9423">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112150</td>
      <td>None</td>
      <td>2329359254147</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>30520329359254143ca516c7acd36c82</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="30520329359254143ca516c7acd36c82">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112153</td>
      <td>None</td>
      <td>2379107450727</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052037910745072f5cf768afb8a96f5</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052037910745072f5cf768afb8a96f5">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112155</td>
      <td>None</td>
      <td>2338963636508</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052033896363650cd25fa0c083a8b01</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052033896363650cd25fa0c083a8b01">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112218</td>
      <td>2459245684229</td>
      <td>2339225455653</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>30520339225455656424774c5127b243</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="30520339225455656424774c5127b243">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112228</td>
      <td>2439322271429</td>
      <td>2339890364670</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>30520339890364671862de8d6a493f1f</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="30520339890364671862de8d6a493f1f">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112250</td>
      <td>2418005703617</td>
      <td>None</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052041800570361242045eb8ec4c0ce</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052041800570361242045eb8ec4c0ce">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112301</td>
      <td>2409035022700</td>
      <td>None</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>30520409035022709c3b640db92c2380</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="30520409035022709c3b640db92c2380">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112301</td>
      <td>2419138437011</td>
      <td>None</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052041913843701504f8dfe8289864f</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052041913843701504f8dfe8289864f">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112323</td>
      <td>None</td>
      <td>2379519749624</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052037951974962864191334dfbd74f</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052037951974962864191334dfbd74f">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112326</td>
      <td>None</td>
      <td>2301714616432</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052030171461643c0e1a7efea9d1672</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052030171461643c0e1a7efea9d1672">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112328</td>
      <td>None</td>
      <td>2369780502950</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052036978050295be17d43192ae18ff</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052036978050295be17d43192ae18ff">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
    <tr>
      <td>120605112331</td>
      <td>None</td>
      <td>2330524223837</td>
      <td>https://www.r1test.com/order/hi.do</td>
      <td>3052033052422383e969aa1f2227c236</td>
      <td>
          <form action="https://www.r1test.com/order/hi.do" method="POST">
              <input type="hidden" name="iraihyo_id_00" value="3052033052422383e969aa1f2227c236">
              <input type="submit" name="" value="表示">
          </form>
      </td>
    </tr>
</tbody>
</table>


</body>
</html>