//共通レイアウト
* {    font-family: “メイリオ”,Meiryo,“ヒラギノ角ゴ Pro W3″,“Hiragino Kaku Gothic Pro”,“ＭＳ Ｐゴシック”,“MS PGothic”,sans-serif;
        line-height: 100%;
        margin: 0;
        padding: 0;
}

body { 
        background-image: url("bg.jpg");
        background-repeat: repeat-x;	   	 
        margin: 0;
        padding: 0;
        width: 100%;
        height:100%;
        min-height:900px;
        border: 1px solid transparent;
		overflow-x : hidden;

}

#container{
        margin: 0 auto;
        margin-top:0px;
		height:auto !important;
    	padding: 0;
    	vertical-align: top;
    	width: 980px;
        //height: 100%;
		height:auto;
        min-height:100%;
        border: 1px solid transparent;

}
a {
        text-decoration: none;
}


li a {
color:#fff;
}

    
a:hover{
        color:#7fffd4;
}

#mainbox {
        background-image:url("mainbox.jpg");
        background-repeat: repeat-x;	
        font-size: 1em;
        padding: 0;
        width: 900px;
        //height: 100%;
	height:auto;
	min-height:900px;
	border: 1px solid transparent;
       
}

#page_hanbetu {
	font-size:0.5em;
	}
	

#header {
        width:400px;
        height:10px;
        margin-top:0px;
        margin-left:550px;

}

#header ul {
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
}
#header ul li{
        list-style-type:none;
        float:left;

}
#header ul  a li  {
        display:block;
	width:80px;
        list-style-type:none;	line-height:20px;
	background-color:#0c0c0c;
        color:#cccccc;
        font-size:0.7em;
        text-align: center;
        text-decoration: none;
	 margin-left:20px;
}
#header ul   li a {
		   margin-left:20px;
		   }
#header ul  a li hover {
        background-color:#CCCCCC;
}

#kensaku {
		widht = 100%;
		//border: 1px solid black;
		padding-left:600px;
}	
 
        
#tx_left {
	font-size: 1em;
        width:140px;
        //height:100%;
	height:auto;
        float:left;
        margin:0px 5px 5px 5px;
        border: 1px solid transparent;

}
#tx_left ul{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
}


#tx_left ul li {
        list-style-type:none;
	background-color:#000000;
	font-size:0.9em;
	margin-top:5px;
	font-color:#ffffff;
      
}
#tx_left ul li hover {
        list-style-type:none;
	background-color:#33cc99;
	font-size:0.7em;
	margin:1px;
	font-color:#ffffff;
      
}


#tx_left ul hover{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
	color:#33ff99;
}

#tx_left ul  a li  {
	
        display:block;
        list-style-type:none;	line-height:40px;
        font-color:#ffffff;
        font-size:0.4em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}
#left_sec ul{
      list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
}
#left_sec ul li{
        list-style-type:none;
	background-color:#AAAAAA;
	font-size:0.6em;
	margin:1px;
	font-color:#ffffff;
      
}
#left_sec ul  a li  {
	
        display:block;
        list-style-type:none;	line-height:40px;
        font-color:#ffffff;
        font-size:0.4em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}

.left_sec h6	{
	backgroud-color:#000;
	font-color:#fff;
	}
	
				

#tx_center {
        font-size: 1em;
        width:500px;
        //height:100%;
	height:auto;
	float:left;
        margin:0px 0px 20px 1px;
        border: 1px solid transparent;
    	background-image:url("tx_main_bg.png");

}
.next_news {
	margin-left:450px;
	}
#review {
	clear:left;
	float:right;
	margin-right:30px;
	border: 1px solid black;
	width:200px;
	}

#topic {

	width:60%;
	margin:1px;
	border: 1px solid black;
	float:left;
}

#topic2 {
	font-size: 0.7em;
	float:right;
	width:38%;
	border: 1px solid black;


}

#news_topic {
	background-color:#ff00ff;
	}
	
#topic p {
	font-size:0.5em;
	}
	

#topic h4 {
	margin:0px;
}	

#topic h6 {
	position:relative;
	top:-70px;
	left:200px;
	float:left;
	}
	
#rankin_all {
	clear:left;
	width:100%;
	border: 1px solid black;
	background-color:#cccccc;

	}
	
#rankin_all ul {
	list-style-type:none;
	margin:auto;
	padding:0;
	background-color:#FFFFFF;
	width:85%;
	color:#000000;
	}
#rankin_all li {
	border-bottom: 1px solid black;
	}
	
#rankin_all a {
	font-size:0.7em;
	color:#000000;
	line-height:3em;
	}
	
#sc {
	position:relative;
	top:-50px;
	left:200px;
	}
	

.focus{color: #969696}

#tx_center table {
	font-size:0.5em;
        border: 1px solid transparent;
	margin:0;
	}
#tx_center td {
	border: 1px solid transparent;
        background-color:#C1FFFF;
	}


#tx_center #imgs {
	width:700px;
	border: 1px solid blue;
	margin-left:0px;
	}
	
#imgs img {
	float:left;
}
#imgs iframe{
	clear :left;
}


#tx_right {
	font-size: 0.7em;
       	width:240px;
	border: 1px solid transparent;
	float:right;
	margin:0px;
}


#footer {
        width:100%;
        height:20px;
        padding:0px;
        border: 1px solid black;
        margin-left:0px;
	//position: absolute;         
   	 //bottom: 0px;
		   
}


#footer ul {
        font-size: 10px;
        list-style: none outside none;
}
#footer ul li {
        background-color:#DDDDDD;
        border-right: 1px solid #AAAAAA;
        float: left;
        height: 10px;
        padding: 1px 1px 1px 1px;
    
}
#footer ul li a {
        color: #333333;
        text-decoration: none;
}
#footer ul li a:hover {
        color: #666666;
        text-decoration: underline;
}
#copyright {
        font-size: 10px;
        width: 80px;
}





#topic {
	width:500px;
	height:400px;
	}
	

#carousel {
	margin: 0 auto;
	width: 100%;
	height: 400px;
	text-align: left;
	position: relative;

}

#carousel_prev,
#carousel_next {
	top: 0;
	width: 0px;
	height: 400px;
	background: #000;
	cursor: pointer;
	position: absolute;
}
#carousel_prev {
	left: 0px;
	background:transparent url(../img/prev.jpg) no-repeat top left;
}
#carousel_next {
	right: 0px;
	background:transparent url(../img/next.jpg) no-repeat top left;
}

#carousel ul li {
	width: 350px;
	height:350px;
	float: left;
	display: inline;
	color:#000000;
	border: 1px solid black;
}

/* =======================================
	ClearFixElements
======================================= */
#carousel ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#carousel ul {
	display: inline-block;
	overflow: hidden;
	width:100%;
	height:350px;
	float:left;
}
		
#tx_center h6 {
	position:relative;
	top:-45px;
	left:59px;
	}
	
	
#tx_right table{background: #666; font-size:1.3em;}
#tx_right tr{background: #fff}
#tx_right td{ padding-right:100px;}
#tx_right .odd{background: #ddd }
#tx_right .fir{background: #000 }




	