//共通レイアウト
* {    font-family: “メイリオ”,Meiryo,“ヒラギノ角ゴ Pro W3″,“Hiragino Kaku Gothic Pro”,“ＭＳ Ｐゴシック”,“MS PGothic”,sans-serif;
        line-height: 100%;
        margin: 0;
        padding: 0;
}

body { 
        background-image: url("bg.jpg");
        background-repeat: repeat-x;	   	 
        margin: 0;
        padding: 0;
        width: 100%;
        height:100%;
        min-height:900px;
        border: 1px solid transparent;
		overflow-x : hidden;

}

#container{
        margin: 0 auto;
        margin-top:0px;
		height:auto !important;
    	padding: 0;
    	vertical-align: top;
    	width: 980px;
        //height: 100%;
		height:auto;
        min-height:100%;
        border: 1px solid transparent;

}

#tabl {
    border: 1px solid black;
	margin-left:10px;
	position:relative;
	left:-10px;
	}
	
a {
        text-decoration: none;
}

li a {
color:#fff;
}
	
a:hover{
        color:#7fffd4;
}

#mainbox {
        background-image:url("mainbox.jpg");
        background-repeat: repeat-x;	
        font-size: 1em;
        padding: 0;
        width: 900px;
        //height: 100%;
		height:auto;
		min-height:900px;
        border: 1px solid transparent;
        

        
}


#header {
        width:400px;
        height:40px;
        margin-top:0px;
        margin-left:550px;
        height:40px;

}

#tops {
		width:100%;
		height:120px;
		border: 1px solid transparent;

}

#rankin {
		width =300px;
        border: 1px solid black;
		float:left;
		margin-left:20px;
}

#rankin h6{
	margin:0px;
	pading:0px;
	}
	
.gallery clearfix  {

        list-style-type:none;
        }
#header ul {
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
}
#header ul li{
        list-style-type:none;
        float:left;

}
#header ul  a li  {
      
        list-style-type:none;	line-height:40px;
        color:#000000;
        font-size:0.7em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}
#header ul a li hover {
        background-color:#0CE0C0;
}

#kensaku {
		widht = 100%;
		border: 1px solid black;
		padding-left:600px;
}	
 
#cd {
	float:left;
	clear:left;
	
}		
#tx_left {
	    font-size: 1em;
        width:100px;
        //height:100%;
		height:auto;
        float:left;
        margin:0px 5px 5px 5px;
        border: 1px solid black;
    	background-image:url("tx_main_bg.png");

}
#tx_left ul{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
		font-color:#ffffff;
}
#tx_left ul li{
        list-style-type:none;
		background-color:#000000;
		font-size:0.4em;
		margin:1px;
		font-color:#ffffff;
      
}
#tx_left ul  a li  {
	
        display:block;
        list-style-type:none;	line-height:40px;
        font-color:#ffffff;
        font-size:0.4em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}		

#tx_center {
	    font-size: 1em;
        width:600px;
        //height:100%;
		height:auto;
        float:left;
        margin:0px 0px 20px 1px;
        border: 1px solid black;
    	background-image:url("tx_main_bg.png");

}

#live {
	width ="200px;
	}


.focus{
	color: #969696
	}


#imgs {
		width:100%;
		border: 1px solid blue;
	}
	
#imgs img {
		float:left;
}
#imgs iframe{
		clear :left;
}


#tx_right {
	    font-size: 0.7em;
        width:170px;
	    border: 1px solid black;
		float:right;
}


#footer {
        width:100%;
        height:20px;
        padding:0px;
        border: 1px solid black;
        margin-left:0px;
		 //position: absolute;         
   		 //bottom: 0px;
		   
}


#footer ul {
        font-size: 10px;
        list-style: none outside none;
}
#footer ul li {
        background-color:#DDDDDD;
        border-right: 1px solid #AAAAAA;
        float: left;
        height: 10px;
        padding: 1px 1px 1px 1px;
    
}
#footer ul li a {
        color: #333333;
        text-decoration: none;
}
#footer ul li a:hover {
        color: #666666;
        text-decoration: underline;
}
#copyright {
        font-size: 10px;
        width: 80px;
}
#tops {
	 border: 1px solid black;
	 }
	
#live {
	margin-left:30px;
	width:200px;
	
	float:right;
	margin-right:20px;
	
	
	}
#live_info {
		margin:3px;
        border: 1px solid black;
		}
#live_info p{
	font-size:0.5em;
	}
	
	

