//共通レイアウト
* {    font-family: “メイリオ”,Meiryo,“ヒラギノ角ゴ Pro W3″,“Hiragino Kaku Gothic Pro”,“ＭＳ Ｐゴシック”,“MS PGothic”,sans-serif;
        line-height: 100%;
        margin: 0;
        padding: 0;
}

body { 
        background-image: url("bg.jpg");
        background-repeat: repeat-x;	   	 
        margin: 0;
        padding: 0;
        width: 100%;
        height:100%;
        min-height:900px;
        border: 1px solid transparent;
		overflow-x : hidden;

}

#container{
        margin: 0 auto;
        margin-top:0px;
		height:auto !important;
    	padding: 0;
    	vertical-align: top;
    	width: 980px;
        //height: 100%;
		height:auto;
        min-height:100%;
        border: 1px solid transparent;

}
a {
        text-decoration: none;
}
    
a:hover{
        color:#7fffd4;
}

#mainbox {
        background-image:url("mainbox.jpg");
        background-repeat: repeat-x;	
        font-size: 1em;
        padding: 0;
        width: 900px;
        //height: 100%;
		height:auto;
		min-height:900px;
        border: 1px solid transparent;
        

        
}


#header {
        width:400px;
        height:40px;
        margin-top:0px;
        margin-left:550px;
        height:40px;

}
.gallery clearfix  {
        list-style-type:none;
        }
#header ul {
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
}
#header ul li{
        list-style-type:none;
        float:left;

}
#header ul  a li  {
        background-repeat: repeat-x;	
        display:block;
        list-style-type:none;	line-height:40px;
        color:#000000;
        font-size:0.7em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}
#header ul a li hover {
        background-color:#0CE0C0;
}

#kensaku {
		widht = 100%;
		border: 1px solid black;
		padding-left:600px;
}	 
        
#tx_left {
	    font-size: 1em;
        width:100px;
        //height:100%;
		height:auto;
        float:left;
        margin:0px 5px 5px 5px;
        border: 1px solid black;
    	background-image:url("tx_main_bg.png");

}

#tx_center {
	    font-size: 1em;
        width:600px;
        //height:100%;
		height:auto;
        float:left;
        margin:0px 30px 20px 1px;
        border: 1px solid black;
    	background-image:url("tx_main_bg.png");

}





#tx_right {
	    font-size: 1.5em;
        width:100px;
	    border: 1px solid black;
		float:right;
}


#footer {
        width:100%;
        height:20px;
        padding:0px;
        border: 1px solid black;
        margin-left:0px;
		 position: absolute;         
   		 bottom: 0px;
		   
}


#footer ul {
        font-size: 10px;
        list-style: none outside none;
}
#footer ul li {
        background-color:#DDDDDD;
        border-right: 1px solid #AAAAAA;
        float: left;
        height: 10px;
        padding: 1px 1px 1px 1px;
    
}
#footer ul li a {
        color: #333333;
        text-decoration: none;
}
#footer ul li a:hover {
        color: #666666;
        text-decoration: underline;
}
#copyright {
        font-size: 10px;
        width: 80px;
}



