//共通レイアウト
* {    font-family: “メイリオ”,Meiryo,“ヒラギノ角ゴ Pro W3″,“Hiragino Kaku Gothic Pro”,“ＭＳ Ｐゴシック”,“MS PGothic”,sans-serif;
        line-height: 100%;
        margin: 0;
        padding: 0;
}

body { 
        background-image: url("bg.jpg");
        background-repeat: repeat-x;	   	 
        margin: 0;
        padding: 0;
        width: 100%;
        height:100%;
        min-height:900px;
        border: 1px solid transparent;
		overflow-x : hidden;

}

#container{
        margin: 0 auto;
        margin-top:0px;
		height:auto !important;
    	padding: 0;
    	vertical-align: top;
    	width: 980px;
        //height: 100%;
		height:auto;
        min-height:100%;
        border: 1px solid transparent;

}
a {
        text-decoration: none;
}
  

li a {
color:#fff;
}
  
a:hover{
        color:#7fffd4;
}

#mainbox {
        background-image:url("mainbox.jpg");
        background-repeat: repeat-x;	
        font-size: 1em;
        padding: 0;
        width: 900px;
        //height: 100%;
		height:auto;
		min-height:900px;
        border: 1px solid transparent;
        

        
}


#page_hanbetu {
	font-size:0.5em;
	}

.gallery clearfix  {
        list-style-type:none;
        }
#header {
        width:400px;
        height:10px;
        margin-top:0px;
        margin-left:550px;

}

#header ul {
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
}
#header ul li{
        list-style-type:none;
        float:left;

}
#header ul  a li  {
        display:block;
	width:80px;
        list-style-type:none;	line-height:20px;
	background-color:#0c0c0c;
        color:#cccccc;
        font-size:0.7em;
        text-align: center;
        text-decoration: none;
	 margin-left:20px;
}
#header ul   li a {
		   margin-left:20px;
		   }
#header ul  a li hover {
        background-color:#CCCCCC;
}
#kensaku {
		widht = 100%;
		padding-left:600px;
}	
 
#tx_left {
	font-size: 1em;
        width:140px;
        //height:100%;
	height:auto;
        float:left;
        margin:0px 5px 5px 5px;
        border: 1px solid transparent;

}
#tx_left ul{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
}


#tx_left ul li {
        list-style-type:none;
	background-color:#000000;
	font-size:0.9em;
	margin-top:5px;
	font-color:#ffffff;
      
}
#tx_left ul li hover {
        list-style-type:none;
	background-color:#33cc99;
	font-size:0.7em;
	margin:1px;
	font-color:#ffffff;
      
}


#tx_left ul hover{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
	color:#33ff99;
}

#tx_left ul  a li  {
	
        display:block;
        list-style-type:none;	line-height:40px;
        font-color:#ffffff;
        font-size:0.4em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}
		

#tx_center {
	    font-size: 1em;
        width:600px;
        //height:100%;
		height:auto;
        float:left;
        margin:0px 0px 20px 1px;
        border: 1px solid black;
    	background-image:url("tx_main_bg.png");

}
.next_news {
	margin-left:450px;
	}
#sichou {

	margin-left:10px;
	
	}
#review {
	clear:left;
	float:right;
	margin-right:30px;
	border: 1px solid black;
	width:200px;
	}	
	

#topic h6 {
	position:relative;
	top:-70px;
	left:200px;
	float:left;
	}
#sc {
	position:relative;
	top:-50px;
	left:200px;
	}
	

.focus{color: #969696}

table {
	font-size:0.5em;
        border: 1px solid black;
	
	}
td {
	    border: 1px solid blue;
	}


#imgs {
	width:100%;
	border: 1px solid blue;
	}
	
#imgs img {
	float:left;
}
#imgs iframe{
	clear :left;
}


#tx_right {
	    font-size: 0.7em;
        width:120px;
	    border: 1px solid black;
		float:right;
}


#footer {
        width:100%;
        height:20px;
        padding:0px;
        border: 1px solid black;
        margin-left:0px;
		 //position: absolute;         
   		 //bottom: 0px;
		   
}


#footer ul {
        font-size: 10px;
        list-style: none outside none;
}
#footer ul li {
        background-color:#DDDDDD;
        border-right: 1px solid #AAAAAA;
        float: left;
        height: 10px;
        padding: 1px 1px 1px 1px;
    
}
#footer ul li a {
        color: #333333;
        text-decoration: none;
}
#footer ul li a:hover {
        color: #666666;
        text-decoration: underline;
}
#copyright {
        font-size: 10px;
        width: 80px;
}





    #carousel_inner {  
    float:left; /* important for inline positioning */  
    width:550px; /* important (this width = width of list item(including margin) * items shown */  
    overflow: hidden;  /* important (hide the items outside the div) */  
    /* non-important styling bellow */  
    background: #F0F0F0;  
    }  
      
    #carousel_ul {  
    position:relative;  
    left:-210px; /* important (this should be negative number of list items width(including margin) */  
    list-style-type: none; /* removing the default styling for unordered list items */  
    margin: 0px;  
    padding: 0px;  
    width:9999px; /* important */  
    /* non-important styling bellow */  
    padding-bottom:10px;  
    }  
      
    #carousel_ul li{  
    float: left; /* important for inline positioning of the list items */  
    width:110px;  /* fixed width, important */  
    /* just styling bellow*/  
    padding:0px;  
    height:110px;  
    background: #000000;  
    margin-top:10px;  
    margin-bottom:10px;  
    margin-left:5px;  
    margin-right:5px;  
    }  
      
    #carousel_ul li img {  
    .margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/  
    /* styling */  
    cursor:pointer;  
    cursor: hand;  
    border:0px;  
    }  
    #left_scroll, #right_scroll{  
    float:left;  
    height:10px;  
    width:15px;  
    background: #C0C0C0;  
    }  
    #left_scroll img, #right_scroll img{  
    /*styling*/  
    cursor: pointer;  
    cursor: hand;  
    }  
#botm table {
	float:left;
}
	
