//共通レイアウト
* {    font-family: “メイリオ”,Meiryo,“ヒラギノ角ゴ Pro W3″,“Hiragino Kaku Gothic Pro”,“ＭＳ Ｐゴシック”,“MS PGothic”,sans-serif;
        line-height: 100%;
        margin: 0;
        padding: 0;
}

body { 
        background-image: url("bg.jpg");
        background-repeat: repeat-x;	   	 
        margin: 0;
        padding: 0;
        width: 100%;
        height:100%;
        min-height:900px;
        border: 1px solid transparent;
		overflow-x : hidden;

}

#container{
        margin: 0 auto;
        margin-top:0px;
		height:auto !important;
    	padding: 0;
    	vertical-align: top;
    	width: 980px;
        //height: 100%;
		height:auto;
        min-height:100%;
        border: 1px solid transparent;

}
a {
        text-decoration: none;
}
li a {
color:#fff;
}
    
a:hover{
        color:#7fffd4;
}

#mainbox {
        background-image:url("mainbox.jpg");
        background-repeat: repeat-x;	
        font-size: 1em;
        padding: 0;
        width: 900px;
        //height: 100%;
		height:auto;
		min-height:900px;
        border: 1px solid transparent;
        

        
}


#header {
        width:400px;
        height:10px;
        margin-top:0px;
        margin-left:550px;

}

#header ul {
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
}
#header ul li{
        list-style-type:none;
        float:left;

}
#header ul  a li  {
        display:block;
	width:80px;
        list-style-type:none;	line-height:20px;
	background-color:#0c0c0c;
        color:#cccccc;
        font-size:0.7em;
        text-align: center;
        text-decoration: none;
	 margin-left:20px;
}
#header ul   li a {
		   margin-left:20px;
		   }
#header ul  a li hover {
        background-color:#CCCCCC;
}

#page_hanbetu {
	font-size:0.5em;
	}
	

#tops {
		width:100%;
		height:120px;
		border: 1px solid transparent;

}

#rankin {
		width =300px;
        border: 1px solid black;
		float:left;
		margin-left:20px;
}

#rankin h6{
	margin:0px;
	pading:0px;
	}
	
.gallery clearfix  {

        list-style-type:none;
        }



#kensaku {
	widht = 100%;
	border: 1px solid transparent;
	padding-left:600px;
}	
 
        
#tx_left {
	font-size: 1em;
        width:140px;
        //height:100%;
	height:auto;
        float:left;
        margin:0px 5px 5px 5px;
        border: 1px solid transparent;

}
#tx_left ul{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
}


#tx_left ul li {
        list-style-type:none;
	background-color:#000000;
	font-size:0.9em;
	margin-top:5px;
	font-color:#ffffff;
      
}
#tx_left ul li hover {
        list-style-type:none;
	background-color:#33cc99;
	font-size:0.7em;
	margin:1px;
	font-color:#ffffff;
      
}


#tx_left ul hover{
        list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
	font-color:#ffffff;
	color:#33ff99;
}

#tx_left ul  a li  {
	
        display:block;
        list-style-type:none;	line-height:40px;
        font-color:#ffffff;
        font-size:0.4em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}

#left_sec ul{
      list-style-type:none;
        vertical-align:baseline;
        margin:0;
        padding:0;
		font-color:#ffffff;
}
#left_sec ul li{
        list-style-type:none;
		background-color:#AAAAAA;
		font-size:0.6em;
		margin:1px;
		font-color:#ffffff;
      
}
#left_sec ul  a li  {
	
        display:block;
        list-style-type:none;	line-height:40px;
        font-color:#ffffff;
        font-size:0.4em;
        text-align: center;
        text-decoration: none;
        margin-left:30px;
}	

#tx_center {
        font-size: 1em;
        width:500px;
        //height:100%;
	height:auto;
	float:left;
        margin:0px 0px 20px 1px;
        border: 1px solid transparent;
    	background-image:url("tx_main_bg.png");

}
		

#live {
	width ="200px;
	}
#lives_s{
	width:100%;
	height:auto;
	border: 1px solid black;
	font-size:0.5em;
	position:relative;
	top:-160px;
	

	}
#lives_m {
	width:180px;
	height:auto;
    border: 1px solid black;
	font-size:0.7em;
	position:relative;
	top:-170px;
	left:400px;
	}
	
#lives_ll {
	width:600px;
	height:auto;
    border: 1px solid black;
	

	}
	
#lives_ll p {
	margin:0px;
	position:relative;
	top:-100px;
	
	}
#if {
	position:relative;
	top:-100px;
	left:200px;
	margin:0px;
	}
	
	
#lives_l {
	width:400px;
	height:170px;
    border: 1px solid black;

	

	}
	

.focus{
	color: #969696
	}


#imgs {
		width:100%;
		border: 1px solid blue;
	}
	
#imgs img {
		float:left;
}
#imgs iframe{
		clear :left;
}


#tx_right {
	    font-size: 0.7em;
        width:170px;
	    border: 1px solid black;
		float:right;
}


#footer {
        width:100%;
        height:20px;
        padding:0px;
        border: 1px solid black;
        margin-left:0px;
		 //position: absolute;         
   		 //bottom: 0px;
		   
}


#footer ul {
        font-size: 10px;
        list-style: none outside none;
}
#footer ul li {
        background-color:#DDDDDD;
        border-right: 1px solid #AAAAAA;
        float: left;
        height: 10px;
        padding: 1px 1px 1px 1px;
    
}
#footer ul li a {
        color: #333333;
        text-decoration: none;
}
#footer ul li a:hover {
        color: #666666;
        text-decoration: underline;
}
#copyright {
        font-size: 10px;
        width: 80px;
}
#tops {
	 border: 1px solid black;
	 }
	
#live {
	margin-left:30px;
	width:200px;
	
	float:right;
	margin-right:20px;
	
	
	}
#live_info {
		margin:3px;
        border: 1px solid black;
		}
#live_info p{
	font-size:0.5em;
	}
	
#li_ti {
	background-color:black;
	width:100%;
	color:white;
	
	}
	
	
#s {
	 border: 1px solid black;
	width:100%;
}

#t_u {
	width:100%;
	height:100px;
	}
	

#t_u ul {
        list-style-type:none;
        vertical-align:baseline;
        margin:10;
        padding:0;
	 border: 1px solid transparent;

}
#t_u ul li{
        list-style-type:none;
        float:left;

}
#t_u ul  a li  {
        display:block;
	width:80px;
        list-style-type:none;	line-height:20px;
	background-color:#e0e0e0;
        color:#000000;
        font-size:0.7em;
        text-align: center;
        text-decoration: none;
        margin:auto;
	  margin-left:20px;
}
#t_u ul   li a {
		   margin-left:20px;
		   color:#000000;
		   margin-top:20px;
		   }


