<%inherit file="./base.html"/>
<%namespace file="./tags_mobile.html" name="mobile" />

<%mobile:header>チケット購入</%mobile:header>

${event.title}

% if not venues:
  <hr size="1" color="#9b63c0" noshade="noshade" />
  <p><font color="#580d9a">■</font>対象試合をお選びください</p>
  <form action="${request.path}" method="get">
  % for _performance_name in performances:
  <a href="${request.current_route_url(_query={'performance_name': _performance_name.encode('sjis')})}">${_performance_name}</a><br />
  % endfor
% else:
  <hr size="1" color="#9b63c0" noshade="noshade" />
  <p><font color="#580d9a">■</font>日時・会場をお選びください</p>
  % for pid, _venue_name in venues:
  <a href="${request.current_route_url(_query={'pid': pid})}">${_venue_name}</a><br />
  % endfor
  <form action="${request.route_url('cart.index', event_id=event.id)}" method="get">
    <div style="text-align:center;">
      <input type="submit" value="戻る">
    </div>
  </form>
  <hr size="1" color="#9b63c0" noshade="noshade" />
% endif
