<%inherit file="../layout.html"/>
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/confirm_modal.html" import="delete_modal" />

<script>
  $(function() {
    $('#delete').click(function(){
      $('#delete-modal').modal('toggle');
      $('#delete-modal #delete').attr('href', '/seat_types/delete/' + ${event_id} + '/' + $('input[name=checked_id]:checked').val());
    });
  });

  function add() {
    $('#edit-modal').modal('toggle');
    $('#edit-modal #edit').attr('action', '/seat_types/new/' + ${event_id});
  }

  function edit(seat_type_id, name) {
    $('#edit-modal').modal('toggle');
    $('#edit-modal #name').val(name);
    $('#edit-modal #edit').attr('action', '/seat_types/edit/' + ${event_id} + '/' + seat_type_id);
  }
</script>

<div class="row-fluid">
  <%include file="/common/menu.html" /> 

  <span class="span4">
    <div class="page-header">
      <h3>会場席種マスタ</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <div class="well">
      <table class="table checkboxed_table">
        <thead>
          <tr>
            <th class="minwidth"></th>
            <th><a href="#" class="sortable">席種</a></th>
          </tr>
        </thead>
        <tbody>
          % for seat_type in seat_types.items:
          <tr>
            <td><input name="checked_id" type="radio" value=${seat_type.id} /></td>
            <td><a id="edit" href="javascript:edit(${seat_type.id}, '${seat_type.name}')">${seat_type.name}</a></td>
          </tr>
          % endfor
        </tbody>
      </table>
    </div>

    <div class="ui-toolbar">
      <div class="btn-group pull-left">
        <a class="btn" href="javascript:add()"><i class="icon-plus"></i> 新規</a>
        <a id="delete" class="btn" data-controls-modal="delete-modal" data-backdrop="true" data-keyboard="true">
          <i class="icon-minus"></i> 削除
        </a>
      </div>
    </div>
  </span>
</div>

<div id="edit-modal" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>席種</h3>
  </div>

  <form id="edit" action="" method="POST">
    <div class="modal-body">
      <label>席種名</label>
      <input id="name" name="name" type="text" class="span3" value="">
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <input class="btn" type="submit" value="保存"></a>
    </div>
  </form>
</div>

${delete_modal(u'選択した席種を削除します。よろしいですか？')}

