<%page args="sales_segment_group_id=None, pdmp_id=None, order=None, split=False, small=False, with_label=True" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function new_pdmp(sales_segment_group_id) {
    $(location).attr('href', '${request.route_path('payment_delivery_method_pairs.new', sales_segment_group_id=sales_segment_group_id)}');
  }
  function edit_pdmp(id) {
    if (!id) return;
    $(location).attr('href', '/events/payment_delivery_method_pairs/edit/' + id);
  }
  function delete_pdmp(id) {
    if (!id) return;
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/events/payment_delivery_method_pairs/delete/' + id);
    modal.find('#message').text('選択した決済・引取方法を削除します。よろしいですか？');
    modal.modal('toggle');
  }
</script>
<%
actions = {
    'new': dict(
        label = u'新規' if with_label else u'',
        url = 'javascript:new_pdmp({});'.format(sales_segment_group_id),
        icon = 'icon-plus',
    ),
    'edit': dict(
        label = u'編集' if with_label else u'',
        url = 'javascript:edit_pdmp({});'.format(pdmp_id),
        icon = 'icon-pencil',
    ),
    'delete': dict(
        label = u'削除' if with_label else u'',
        url = 'javascript:delete_pdmp({});'.format(pdmp_id),
        attrs= {'class':'btn-danger'},
        icon = 'icon-minus',
    ),
}
order = iter(order or ['new', 'edit', 'delete'])
%>
<div style="float: left;">
    % if split:
        % for item in order:
            ${HH.action_button(actions, iter([item]), vertical=False, extra_classes=[u'btn-small'] if small else [])}
        % endfor
    % else:
          ${HH.action_button(actions, order, vertical=False, extra_classes=[u'btn-small'] if small else [])}
    % endif
</div>
<div style="clear:both;"></div>

${delete_modal()}
