<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%
  if request.matched_route.name == 'payment_delivery_method_pairs.edit':
    is_edit = True
    is_first = False
    route_name = u'編集'
    route_path = request.route_path('payment_delivery_method_pairs.edit', payment_delivery_method_pair_id=form.id.data)
  else:
    is_edit = False
    route_name = u'登録'
    route_path = request.route_path('payment_delivery_method_pairs.new', sales_segment_group_id=sales_segment_group.id)
    if request.method == 'POST':
      is_first = False
    else:
      is_first = True
%>

<style type="text/css">
  .form-horizontal .control-label {
    width: 180px;
  }
  .form-horizontal .controls {
    margin-left: 200px;
  }
</style>

<script type="text/javascript">
  $(function() {
    <% from altair.app.ticketing.payments import plugins %>
    var cvs_payment_method_ids = ${HH.json([int(pm.id) for pm in payment_methods if pm.pay_at_store])|n};
    var cvs_delivery_method_ids = ${HH.json([int(dm.id) for dm in delivery_methods if dm.deliver_at_store])|n};
    var cvs_field = $('form').find('#cvs_field');
    var issuing_interval_days = cvs_field.find('input[id="issuing_interval_days"]');
    var issuing_interval_days_default = issuing_interval_days.val();
    var issuing_interval_days_changed = false;
    var is_edit = ${HH.json(is_edit)|n};
    var is_first = ${HH.json(is_first)|n};
    var default_system_fee = ${system_fee or 0};
    var system_fee_type = ${HH.json(system_fee_type or 0)|n};
    var payment_method_data = ${HH.json(dict((int(pm.id), {'fee': unicode(pm.fee.quantize(0)), 'fee_type': pm.fee_type}) for pm in payment_methods))|n};
    var delivery_method_data = ${HH.json(dict((int(dm.id), {'fee_per_order': unicode(dm.fee_per_order.quantize(0)), 'fee_per_principal_ticket': unicode(dm.fee_per_principal_ticket.quantize(0)), 'fee_per_subticket': unicode(dm.fee_per_subticket.quantize(0))}) for dm in delivery_methods))|n};

    issuing_interval_days.on('change', function () {
      issuing_interval_days_changed = true;
    });

    var display_cvs_field = function(){
      var pm_id = parseInt($('#payment_method_id').val());
      var dm_id = parseInt($('#delivery_method_id').val());
      var payment_method_is_cvs = $.inArray(pm_id, cvs_payment_method_ids) >= 0;
      var delivery_method_id_cvs = $.inArray(dm_id, cvs_delivery_method_ids) >= 0;
      if (payment_method_is_cvs || delivery_method_id_cvs) {
        cvs_field.css('display', 'block');
        if (!is_edit) {
          if (!payment_method_is_cvs) {
            if (!issuing_interval_days_changed) {
              issuing_interval_days.val('1');
            }
          } else {
            if (!issuing_interval_days_changed) {
              issuing_interval_days.val(issuing_interval_days_default);
            }
          }
        }
      } else {
        cvs_field.css('display', 'none');
      }

      // 決済と引取によってディフォルト値を設定
      if (!is_edit) {
        $.ajax({
          url: "${request.route_url('payment_delivery_method_pairs.default_values_for_pdmp')}",
          type: 'GET',
          dataType: 'json',
          data: {payment_method_id: $('#payment_method_id').val(), delivery_method_id: $('#delivery_method_id').val()},
          success: function(data) {
            // 選択不可期間
            $('#unavailable_period_days').val(data.unavailable_period_days);
            // 支払期日
            $('#payment_period_days-2').attr('readonly', JSON.parse(data.payment_period_days_two_readonly));
            $("#payment_period_days-2 option[value=" + data.payment_period_days_selected_choice + "]").attr('selected', 'selected');
            $('#payment_period_days').attr('readonly', JSON.parse(data.payment_period_days_readonly));
            // コンビニ発券開始日時
            $('#issuing_interval_days-2').attr('readonly', JSON.parse(data.issuing_interval_days_two_readonly));
            $("#issuing_interval_days-2 option[value=" + data.issuing_interval_days_selected_choice + "]").attr('selected', 'selected');
            $('#issuing_interval_days').attr('readonly', JSON.parse(data.issuing_interval_days_readonly));
            $('#issuing_interval_days').val(data.issuing_interval_days);
            // コンビニ発券期限日時
            $('#issuing_end_in_days-2').attr('readonly', JSON.parse(data.issuing_end_in_days_two_readonly));
            $("#issuing_end_in_days-2 option[value=" + data.issuing_end_in_days_selected_choice + "]").attr('selected', 'selected');
            $('#issuing_end_in_days').attr('readonly', JSON.parse(data.issuing_end_in_days_readonly));
            $('#issuing_end_in_days').val(data.issuing_end_in_days);
          },
          error: function() {
            $('#error_message').html('データ取得失敗しました');
          }
        });
      }
    };

    $('#payment_method_id').change(function() {
      if (!is_edit) {
        var pm = payment_method_data[parseInt($(this).val())];
        $('#transaction_fee').val(pm['fee']);
      }
      display_cvs_field.call();
    }).change();
    $('#delivery_method_id').change(function() {
      if (!is_edit && is_first) {
        var dm = delivery_method_data[parseInt($(this).val())];
        $('#delivery_fee_per_order').val(dm['fee_per_order']);
        $('#delivery_fee_per_principal_ticket').val(dm['fee_per_principal_ticket']);
        $('#delivery_fee_per_subticket').val(dm['fee_per_subticket']);
      }
      display_cvs_field.call();
    }).change();

    $('#system_fee, #transaction_fee, #delivery_fee, #discount').load(function(){
      if (!is_edit) {
        $('#system_fee').val(default_system_fee);
        options = $('#system_fee_type option');
        for(ii=0; ii<options.length; ii++){
            if(options[ii].value == system_fee_type){
                options[ii].selected = true;
            }else{ 
                options[ii].selected = false;
           }
        }
      }
      $(this).val(Math.floor($(this).val()));
    }).load();

    $('#public').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    }).change();

    $('[rel=popover]').popover();
    display_cvs_field.call();
  });
</script>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'イベント', sales_segment_group.event.title, u'販売区分', sales_segment_group.name],
    urls=[
      request.route_path('events.index'),
      request.route_path('events.show', event_id=sales_segment_group.event.id),
      request.route_path('sales_segment_groups.index', event_id=sales_segment_group.event.id),
    ]
  )}
</%block>

<div class="page-header">
  <h1>決済・引取方法${route_name}</h1>
</div>

<div class="well">
  <form class="form-horizontal" action="${route_path}" method="POST">
    <fieldset>
      % if is_edit:
      ${ch.form_item(form.payment_method_id, disabled='disabled', style='width:27em')}
      ${ch.form_item(form.delivery_method_id, disabled='disabled', style='width:27em')}
      % else:
      ${ch.form_item(form.payment_method_id)}
      ${ch.form_item(form.delivery_method_id)}
      % endif

      ${ch.form_item(form.system_fee, class_='span2')}
      ${ch.form_item(form.system_fee_type, class_='span2')}

      ${ch.form_item(form.special_fee_name, class_='span2')}
      ${ch.form_item(form.special_fee, class_='span2')}      
      ${ch.form_item(form.special_fee_type, class_='span2')}

      ${ch.form_item(form.transaction_fee, class_='span2')}
      ${ch.form_item(form.delivery_fee_per_order, class_='span2')}
      ${ch.form_item(form.delivery_fee_per_principal_ticket, class_='span2')}
      ${ch.form_item(form.delivery_fee_per_subticket, class_='span2')}
      ${ch.form_item(form.discount, class_='span2')}
      ${ch.form_item(form.discount_unit, class_='span2')}
      ${ch.form_item(form.public)}
      ${ch.form_item(form.sales_segment_group_id)}
      ${ch.form_item(form.unavailable_period_days, class_='span2', help=ch.help(form.unavailable_period_days, u'販売終了日時の何日前から、この決済・引取方法を選択できなくなるかを日数指定してください。'))}
      <div id="cvs_field">
        <div class="control-group">
          <label class="control-label">
            ${form.payment_due_at.label}
            ${ch.help(form.payment_due_at, u'コンビニ決済で、購入後、この日数が経過するまでの間に決済を完了させる必要があります。')|n}
          </label>
          <div class="controls${u' error' if form.payment_due_at.errors else u''}">
            <label class="radio">
              ${form.payment_period_days.base_type_radio('absolute')}
            </label>
            ${form.payment_due_at()}
            ${ch.validate_errors(form.payment_due_at)}
          </div>
        </div>
        <div class="control-group">
          <div class="controls${u' error' if form.payment_period_days.errors else u''}">
            <label class="radio">
              ${form.payment_period_days.base_type_radio('relative')}
            </label>
            ${form.payment_period_days(class_='span1', subcategory_class='span2')}
            ${ch.validate_errors(form.payment_period_days)}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            ${form.issuing_start_at.label}
            ${ch.help(form.issuing_start_at, u'コンビニ決済で、この日数が経過すると店舗にて発券できるようになります。(主に不正行為対策として一定日数を設けます)')|n}
          </label>
          <div class="controls${u' error' if form.issuing_start_at.errors else u''}">
            <label class="radio">
              ${form.issuing_interval_days.base_type_radio('absolute')}
            </label>
            ${form.issuing_start_at()}
            ${ch.validate_errors(form.issuing_start_at)}
          </div>
        </div>
        <div class="control-group">
          <div class="controls${u' error' if form.issuing_interval_days.errors else u''}">
            <label class="radio">
              ${form.issuing_interval_days.base_type_radio('relative')}
            </label>
            ${form.issuing_interval_days(class_='span1', subcategory_class='span2')}
            ${ch.validate_errors(form.issuing_interval_days)}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            ${form.issuing_end_at.label}
            ${ch.help(form.issuing_end_at, u'コンビニ決済で、店舗での発券を終了するまでの日数を指定します。(通常はこの日時指定は使いません)')|n}
          </label>
          <div class="controls${u' error' if form.issuing_end_at.errors else u''}">
            <label class="radio">
              ${form.issuing_end_in_days.base_type_radio('absolute')}
            </label>
            ${form.issuing_end_at()}
            ${ch.validate_errors(form.issuing_end_at)}
          </div>
        </div>
        <div class="control-group">
          <div class="controls${u' error' if form.issuing_end_in_days.errors else u''}">
            <label class="radio">
              ${form.issuing_end_in_days.base_type_radio('relative')}
            </label>
            ${form.issuing_end_in_days(class_='span1', subcategory_class='span2')}
            ${ch.validate_errors(form.issuing_end_in_days)}
          </div>
        </div>
      </div>
      <div id='error_message'></div>
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="保存">
    </div>
  </form>
</div>
