<!DOCTYPE html>
<html><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>ヴィッセル神戸公式チケットサイト 購入履歴の確認</title>
<link rel="shortcut icon" href="${view_context.static_url('pc/images/favicon.ico')}">
<link rel="stylesheet" type="text/css" href="${view_context.static_url('pc/css/common.css')}" media="all" />
<link rel="stylesheet" type="text/css" href="${view_context.static_url('pc/css/toggle.css')}" media="all" />
<script type="text/javascript" src="${view_context.static_url('pc/js/jquery-1.7.2.min.js')}"></script>
<script type="text/javascript" src="${view_context.static_url('pc/js/scroll.js')}"></script>
<script>
$(function(){
  $("#toggle").click(function(){
    $(".nav-global ul").slideToggle();
    return false;
  });
  $(window).resize(function(){
    var win = $(window).width();
    var p = 480;
    if(win > p){
      $(".nav-global ul").show();
    } else {
      $(".nav-global ul").hide();
    }
  });
});
</script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>

<!-- headder -->
<header class="header">
<div class="wrap">
<h1 class="header-logo"><a href="//vissel.tstar.jp/"><img src="${request.static_url('altair.app.ticketing.orderreview:static/vissel/pc/images/ticket_logo.png')}" alt="ヴィッセルチケット"></a></h1>
<!-- menu -->
<nav class="nav-global">
<div id="toggle"><a href="https://vissel.tstar.jp/orderreview/#">&nbsp;</a></div>
<ul class="clearfix">
<li><a href="https://vissel.tstar.jp/">TOP</a></li>
</ul>
</nav>
<!-- /menu -->
</div><!-- /wrap -->
</header><!-- /headder -->

${self.body()}

<!-- footer -->
<footer class="footer">
<div class="wrap clearfix">
<div class="box">
<p class="for-sp-img">
<img src="//tstar.s3.amazonaws.com/asset/vissel/2014-03-06/c887e7171e7342d2916ffb7b08f4501e.png" alt="ヴィッセル"/></p>
</div>
<div class="box">
<!-- menu -->
<nav class="nav-footer">
<ul class="clearfix">
<li><a href="//www.ticketstar.jp/corporate/" target="_blank">運営会社</a></li>
<li><a href="//vissel.tstar.jp/agreement" target="_blank">利用規約</a></li>
<li><a href="${h.safe_get_contact_url(request)}" target="_blank">お問い合わせ</a></li>
<li><a href="//www.ticketstar.jp/privacy/" target="_blank">個人情報保護方針</a></li>
<li><a href="//vissel.tstar.jp/cancel" target="_blank">キャンセルポリシー</a></li>
<li><a href="//vissel.tstar.jp/legal" target="_blank">特定商取引法に基づく表示</a></li>
</ul>
</nav><!-- /menu -->
<p class="copyright">&copy; TicketStar Inc. All Rights Reserved.</p>
</div>
</div><!-- /wrap -->
</footer><!-- /footer -->
</body></html>
