<%page args="order=None" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" import="delete_modal" />
<script type="text/javascript">
var get_selected_sales_segment_id;
</script>
<%
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_sales_segment();',
      icon='icon-plus',
    ),
    'copy':dict(
      label=u'コピー',
      url='javascript:copy_sales_segment(get_selected_sales_segment_id());',
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_sales_segment(get_selected_sales_segment_id());',
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_sales_segment(get_selected_sales_segment_id());',
      icon='icon-minus',
    ),
  }
  order = iter(order or ['new', 'copy', 'edit', 'delete'])
%>
${HH.action_button(actions, order)}
${delete_modal()}
