<div id="extra_form_editor">
  <style type="text/css">
  table.extra-form-fields td.test {
    text-align: center;
  }

  table.extra-form-fields td.test > div {
    margin: 0 auto;
    text-align: left;
  }

  table.extra-form-fields table.table-condensed > tbody > tr.error > td {
    background-color: #f88;
  }

  table.extra-form-fields table.table-condensed > tbody > tr > td {
    padding: 0 0;
  }

  table.extra-form-fields table.table-condensed > tbody > tr > td > input {
    margin-bottom: 0px;
  }
  </style>
  <table class="table extra-form-fields">
	  <colgroup>
      <col style="width:3em" />
      <col style="width:420px" />
      <col style="width:200p%" />
      <col style="width:300p%" />
		</colgroup>
    <thead>
      <tr>
        <th style="width:3em">#</th>
        <th style="width:420px">表示名 / 種類 / 説明文</th>
        <th style="width:200p%">設定</th>
        <th>プレビュー</th>
      </tr>
    </thead>
    <tbody>
      <tr class="last">
        <td class="index"></td>
        <td colspan="3"><a href="#" class="btn action-add_new_field">新しい項目を追加</a></td>
      </tr>
    </tbody>
  </table>
</div>
