<%page args="form, action='#'" />
<%namespace file="/common/helpers.html" name="ch" />
<%from altair.formhelpers.widgets import LabelledCheckboxInput %>
<form id="sales_segment_form" class="form-horizontal" action="${action}" method="POST">
% if form.context.sales_segment_group is None:
<label for="${form.sales_segment_group_id.name}">${HH.label_text_for(form.sales_segment_group_id)}</label>
${form.sales_segment_group_id}
% else:
<input type="hidden" id="${form.sales_segment_group_id.name}" name="${form.sales_segment_group_id.name}" value="${form.context.sales_segment_group.id}" />
% endif

% if form.context.performance:
<input type="hidden" id="${form.performance_id.name}" name="${form.performance_id.name}" value="${form.context.performance.id}" />
% elif form.context.sales_segment and form.context.sales_segment.lots:
抽選
%for lot in form.context.sales_segment.lots:
${lot.name}
<input type="hidden" id="${form.lot_id.name}" name="${form.lot_id.name}" value="${lot.id}" />
%endfor
% else:
<label for="${form.performance_id.name}">${HH.label_text_for(form.performance_id)}</label>
${form.performance_id}
% endif

% if request.matched_route.name == 'sales_segments.copy':
${ch.form_item(form.copy_performances, style='width:860px')}
${ch.form_item(form.copy_products)}
% endif

<script src="${request.static_url('altair.app.ticketing:static/js/jquery.chosen.js')}"></script>
<link rel="stylesheet" type="text/css" href="${request.static_url('altair.app.ticketing:static/css/chosen.css')}" />
<script type="text/javascript">
$("#account_id").chosen();
function get_sales_segment_group_id() {
  return $('#${form.sales_segment_group_id.name}').val();
}
function get_performance_id() {
  return $('#${form.performance_id.name}').val();
}
$('[rel=popover]').popover({html:true});
</script>
  <div class="content">
    ${ch.flash_messages(request, type='alert-error')}
    ${ch.alert_message(form)}
  </div>
  <table width="100%" class="table">
    <tr>
      <td></td><th>販売区分</th><th>販売区分グループ</th>
    </tr>
    <tr class="SalesSegment_payment_delivery_method_pairs">
      <th>
        ${form.payment_delivery_method_pairs.label}
        ${form.use_default_payment_delivery_method_pairs(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.payment_delivery_method_pairs}
        ${ch.validate_errors(form.payment_delivery_method_pairs)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          <ul>
            %for pdmp in form.context.sales_segment_group.payment_delivery_method_pairs:
            <li>${pdmp.payment_method.name} - ${pdmp.delivery_method.name}</li>
            %endfor
          </ul>
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_start_at">
      <th>
        ${form.start_at.label}
        ${form.use_default_start_at(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.start_at}
        ${ch.validate_errors(form.start_at)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          % if form.context.sales_segment_group.start_at:
            ${vh.datetime(form.context.sales_segment_group.start_at, with_weekday=True)}
          % else:
            % if form.context.performance:
              ${vh.datetime(form.context.sales_segment_group.start_for_performance(form.context.performance), with_weekday=True)}
              <p class="label label-info">
                公演日 (${vh.date(form.context.performance.start_on, with_weekday=True)}) の
                ${form.context.sales_segment_group.start_day_prior_to_performance}日前
              </p>
            % endif
          % endif
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_end_at">
      <th>
        ${form.end_at.label}
        ${form.use_default_end_at(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.end_at}
        ${ch.validate_errors(form.end_at)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          % if form.context.sales_segment_group.end_at:
            ${vh.datetime(form.context.sales_segment_group.end_at, with_weekday=True)}
          % else:
            % if form.context.performance:
              ${vh.datetime(form.context.sales_segment_group.end_for_performance(form.context.performance), with_weekday=True)}
              <p class="label label-info">
                公演日 (${vh.date(form.context.performance.end_on, with_weekday=True)}) の
                ${form.context.sales_segment_group.end_day_prior_to_performance}日前
              </p>
            % endif
          % endif
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_account_id">
      <th>
        ${form.account_id.label}
        ${form.use_default_account_id(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.account_id(style='width:350px')}
        ${ch.validate_errors(form.account_id)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.account.name}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_margin_ratio">
      <th>
        ${form.margin_ratio.label}
        ${form.use_default_margin_ratio(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.margin_ratio}
        ${ch.validate_errors(form.margin_ratio)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.margin_ratio}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_refund_ratio">
      <th>
        ${form.refund_ratio.label}
        ${form.use_default_refund_ratio(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.refund_ratio}
        ${ch.validate_errors(form.refund_ratio)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.refund_ratio}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_printing_fee">
      <th>
        ${form.printing_fee.label}
        ${form.use_default_printing_fee(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.printing_fee}
        ${ch.validate_errors(form.printing_fee)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.printing_fee}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_registration_fee">
      <th>
        ${form.registration_fee.label}
        ${form.use_default_registration_fee(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.registration_fee}
        ${ch.validate_errors(form.registration_fee)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.registration_fee}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_max_quantity">
      <th>
        ${form.max_quantity.label}
        ${form.use_default_max_quantity(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.max_quantity}
        ${ch.validate_errors(form.max_quantity)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.max_quantity or u'-'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_max_quantity_per_user">
      <th>
        ${form.max_quantity_per_user.label}
        ${form.use_default_max_quantity_per_user(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.max_quantity_per_user}
        ${ch.validate_errors(form.max_quantity_per_user)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.setting.max_quantity_per_user or u'-'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_max_product_quatity">
      <th>
        ${form.max_product_quatity.label}
        ${form.use_default_max_product_quatity(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.max_product_quatity}
        ${ch.validate_errors(form.max_product_quatity)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.max_product_quatity or u'-'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_order_limit">
      <th>
        ${form.order_limit.label}
        ${form.use_default_order_limit(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.order_limit}
        ${ch.validate_errors(form.order_limit)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.setting.order_limit or u'-'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_seat_choice">
      <th>
        ${form.seat_choice.label}
        ${form.use_default_seat_choice(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.seat_choice}
        ${ch.validate_errors(form.seat_choice)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u'選択可' if form.context.sales_segment_group.seat_choice else u'×選択不可'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_display_seat_no">
      <th>
        ${form.display_seat_no.label}
        ${form.use_default_display_seat_no(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.display_seat_no}
        ${ch.validate_errors(form.display_seat_no)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u'表示' if form.context.sales_segment_group.setting.display_seat_no else u'非表示'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_public">
      <th>
        ${form.public.label}
        ${form.use_default_public(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.public}
        ${ch.validate_errors(form.public)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u'公開' if form.context.sales_segment_group.public else u'非公開'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_disp_orderreview">
      <th>
        ${form.disp_orderreview.label}
        ${form.use_default_disp_orderreview(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.disp_orderreview}
        ${ch.validate_errors(form.disp_orderreview)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u"表示" if form.context.sales_segment_group.setting.disp_orderreview else u"非表示"}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_disp_agreement">
      <th>
        ${form.disp_agreement.label}
        ${form.use_default_disp_agreement(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.disp_agreement}
        ${ch.validate_errors(form.disp_agreement)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u"表示" if form.context.sales_segment_group.setting.disp_agreement else u"非表示"}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_agreement_body">
      <th>
        ${form.agreement_body.label}
        ${form.use_default_agreement_body(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.agreement_body}
        ${ch.validate_errors(form.agreement_body)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.setting.agreement_body if form.context.sales_segment_group.setting.agreement_body else u""}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_reporting">
      <th>
        ${form.reporting.label}
        ${form.use_default_reporting(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.reporting}
        ${ch.validate_errors(form.reporting)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u'対象' if form.context.sales_segment_group.reporting else u'×対象外'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_sales_counter_selectable">
      <th>
        <label class="inline" for="sales_counter_selectable">${form.sales_counter_selectable.label.text}</label>
        ${ch.help(form.sales_counter_selectable)|n}
        ${form.use_default_sales_counter_selectable(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.sales_counter_selectable}
        ${ch.validate_errors(form.sales_counter_selectable)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${u'対象' if form.context.sales_segment_group.setting.sales_counter_selectable else u'対象外'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_auth3d_notice">
      <th>
        ${form.auth3d_notice.label}
        ${form.use_default_auth3d_notice(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.auth3d_notice}
        ${ch.validate_errors(form.auth3d_notice)}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${form.context.sales_segment_group.auth3d_notice or u'(なし)'}
        % endif
      </td>
    </tr>
    <tr class="SalesSegment_extra_form_fields">
      <th>
        ${form.extra_form_fields.label}
        ${form.use_default_extra_form_fields(_widget=LabelledCheckboxInput())}
      </th>
      <td>
        ${form.extra_form_fields(class_="btn")}
      </td>
      <td>
        % if form.context.sales_segment_group:
          ${view.format_extra_form_fields(form.context.sales_segment_group.setting.extra_form_fields) or u'(なし)'}
        % endif
      </td>
    </tr>
  </table>
  <script type="text/javascript">
<%
from random import randint
callback = 'ts-%d' % randint(0, 1000000);
%>
(function($) {
  var form = $('#sales_segment_form');
  var endpoints = ${HH.json(
  dict(
    sales_segment_group_info=request.route_path('sales_segments.api.get_sales_segment_group_info', sales_segment_group_id='__sales_segment_group_id__', _query=dict(performance_id='__performance_id__')),
    )
  )|n};
  var cache = {};
  function load(sales_segment_group_id, performance_id, next) {
    var data = cache[sales_segment_group_id + ":" + performance_id];
    if (!sales_segment_group_id) {
      next({});
    }
    if (data) {
      next(data);
      return;
    }
    $.ajax({
      url: endpoints.sales_segment_group_info.replace('__sales_segment_group_id__', sales_segment_group_id).replace('__performance_id__', performance_id),
      dataType: 'json',
      success: function (resp) {
        var data = resp['result'];
        cache[sales_segment_group_id] = data;
        next(data);
      }
    });
  }

  function parseISO8601UTC(str) {
    var g = /^(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})(?:Z|\+00:00)$/.exec(str);
    if (!g)
      throw str;
    return new Date(Date.UTC(g[1], parseInt(g[2]) - 1, g[3], g[4], g[5], g[6]));
  }

  function formatDateTime(date) {
    return (date.getYear() + 1900) + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + date.getHours() + "時" + date.getMinutes() + "分";
  }

  function formatDayOffset(dayOffset, time) {
    return '公演日の' + dayOffset + "日前の" + time;
  }

  function formatRatio(value) {
    return value + '%';
  }

  function formatCurrency(value) {
    return value + '円';
  }

  function setDateTime(n, prefix, value) {
    $(document.getElementById(prefix + '.year')).val(value.getYear() + 1900);
    $(document.getElementById(prefix + '.month')).val(value.getMonth() + 1);
    $(document.getElementById(prefix + '.day')).val(value.getDate());
    $(document.getElementById(prefix + '.day')).trigger('change');
    $(document.getElementById(prefix + '.hour')).val(value.getHours());
    $(document.getElementById(prefix + '.minute')).val(value.getMinutes());
    $(document.getElementById(prefix + '.second')).val(value.getSeconds());
  }

  var refreshers = {
    payment_delivery_method_pairs: function (data, n) {
      var pdmps = data.payment_delivery_method_pairs;
      var formField = n.find('#payment_delivery_method_pairs');
      formField.empty();
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (pdmps) {
        for (var i=0; i < pdmps.length; i++) {
          var pdmp = pdmps[i];
          var id = 'payment_delivery_method_pair_id.' + pdmp[0];
          formField.append(
            $('<span class="checkbox-set-item"></span>')
              .append(
                $('<input />')
                .attr('type', 'checkbox')
                .attr('name', 'payment_delivery_method_pairs[]')
                .attr('value', pdmp[0])
                .attr('id', id)
                .attr('checked', 'checked'))
              .append(' ')
              .append(
                $('<label class="inline"></label>')
                .text(pdmp[1])
                .attr('for', id))
          );
        }
        var ul = $('<ul></ul>');
        for (var i = 0; i < pdmps.length; i++) {
          ul.append($('<li></li>').text(pdmps[i][1]));
        }
        originalValue.append(ul);
      }
    },
    start_at: function (data, n) {
      var start_at = data.start_at;
      var start_day_prior_to_performance = data.start_day_prior_to_performance;
      var start_time = data.start_time;
      var calculated_start_at = data.calculated_start_at;
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (start_at) {
        start_at = parseISO8601UTC(start_at);
        originalValue.append(formatDateTime(start_at));
      } else if (start_day_prior_to_performance) {
        originalValue.append(formatDayOffset(data.start_day_prior_to_performance, data.start_time));
      }
      if (calculated_start_at) {
        calculated_start_at = parseISO8601UTC(calculated_start_at);
        setDateTime(n, 'start_at', calculated_start_at);
      }
    },
    end_at: function (data, n) {
      var end_at = data.end_at;
      var end_day_prior_to_performance = data.end_day_prior_to_performance;
      var end_time = data.end_time;
      var calculated_end_at = data.calculated_end_at;
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (end_at) {
        end_at = parseISO8601UTC(end_at);
        originalValue.append(formatDateTime(end_at));
      } else if (end_day_prior_to_performance) {
        originalValue.append(formatDayOffset(data.end_day_prior_to_performance, data.end_time));
      }
      if (calculated_end_at) {
        calculated_end_at = parseISO8601UTC(calculated_end_at);
        setDateTime(n, 'end_at', calculated_end_at);
      }
    },
    account_id: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.account_id !== void(0)) {
        var formField = n.find('#account_id');
        var accountName = null;
        formField.find('option').each(function (_, n) {
          if (n.value == data.account_id)
            accountName = $(n).text();
        });
        originalValue.text(accountName);
        formField.val(data.account_id);
      }
    },
    margin_ratio: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.margin_ratio !== void(0))
        originalValue.text(formatRatio(data.margin_ratio));
    },
    refund_ratio: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.refund_ratio !== void(0))
        originalValue.text(formatRatio(data.refund_ratio));
    },
    printing_fee: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.printing_fee)
        originalValue.text(formatCurrency(data.printing_fee) + "/枚");
    },
    registration_fee: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.registration_fee !== void(0))
        originalValue.text(formatCurrency(data.registration_fee) + "/公演");
    },
    max_quantity: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.max_quantity !== void(0))
        originalValue.text(data.order_limit === null ? "-": data.max_quantity + "枚");
    },
    seat_choice: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data['seat_choice'] !== void(0))
        originalValue.text(data['seat_choice'] ? "選択可": "×選択不可");
    },
    display_seat_no: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.display_seat_no !== void(0))
        originalValue.text(data.display_seat_no ? "表示": "非表示");
    },
    'public': function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data['public'] !== void(0))
        originalValue.text(data['public'] ? "公開": "非公開");
    },
    'disp_orderreview': function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data['disp_orderreview'] !== void(0))
        originalValue.text(data['disp_orderreview'] ? "表示": "非表示");
    },
    reporting: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.reporting !== void(0))
        originalValue.text(data.reporting ? "対象": "×対象外");
    },
    sales_counter_selectable: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.sales_counter_selectable !== void(0))
        originalValue.text(data.sales_counter_selectable ? "対象": "×対象外");
    },
    auth3d_notice: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.auth3d_notice !== void(0))
        originalValue.text(data.auth3d_notice);
    },
    order_limit: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.order_limit !== void(0))
        originalValue.text(data.order_limit === null ? "-": data.order_limit + "回");
    },
    max_quantity_per_user: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.max_quantity_per_user !== void(0))
        originalValue.text(data.max_quantity_per_user);
    },
    extra_form_fields: function (data, n) {
      var originalValue = n.find('td:nth-child(3)');
      originalValue.empty();
      if (data.extra_form_fields) {
        var $ul = $('<ul></ul>');
        $.each(data.extra_form_fields, function (_, v) {
          $('<li></li>')
          .text(v['display_name'] + ' (' + v['name'] + ')')
          .appendTo($ul);
        });
        originalValue.append($ul);
      }
    }
  };

  function onChangeHandler() {
    var sales_segment_group_id = get_sales_segment_group_id();
    var performance_id = get_performance_id();
    load(sales_segment_group_id, performance_id, function (data) {
      $.each([
        'payment_delivery_method_pairs',
        'account_id',
        'start_at',
        'end_at',
        'account_id',
        'margin_ratio',
        'refund_ratio',
        'printing_fee',
        'registration_fee',
        'max_quantity',
        'seat_choice',
        'display_seat_no',
        'sales_counter_selectable',
        'public',
        'disp_orderreview',
        'reporting',
        'auth3d_notice',
        'order_limit',
        'max_quantity_per_user',
        'extra_form_fields'
        ], function (_, k) {
        var n = form.find('.SalesSegment_' + k);
        refreshers[k](data, n);
      });
    });
  }
  var formElements = form.find('#sales_segment_group_id').add('#performance_id');
  formElements.change(onChangeHandler);
  if (formElements.filter('input[type="hidden"]').length != 2)
    onChangeHandler();

  form.find('#seat_choice').change(function() {
    var display_seat_no = form.find('#display_seat_no');
    if ($(this).attr('checked')) {
      display_seat_no.attr('disabled', 'disabled').attr('checked','checked').change();
    } else {
      display_seat_no.removeAttr('disabled');
    }
  }).change();
})($);
</script>
</form>
<%include file="./_extra_form_editor_button.html" />
