<%page args="sales_segments" />
<% from altair.app.ticketing.core.models import SalesSegment, SalesSegmentSetting %>
<%namespace file="/common/helpers.html" name="ch" />
% if sales_segments:
<style>
  .pdmp {
    border-left: none !important;
    width: 50%;
    border-bottom: 1px solid #dcdcdc;
  }
  .pdmp-right {
    border-left: 1px solid #dcdcdc !important;
  }
  .pdmp:nth-last-child(-n+2) {
    border-bottom: none !important;
  }
</style>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-bordered table-condensed" style="margin-bottom: 10px;">
      <thead>
        <tr>
          <th>名称</th>
          <th>${ch.sortable(SalesSegment.start_at)}</a></th>
          <th>${ch.sortable(SalesSegment.end_at)}</a></th>
          % if not performance:
          <th>公演名</th>
          % endif
          <th>${ch.sortable(SalesSegment.account_id)}</a></th>
          <th>${ch.sortable(SalesSegment.max_quantity)}</a></th>
          <th>${ch.sortable(SalesSegment.seat_choice)}</a></th>
          <th>${ch.sortable(SalesSegmentSetting.display_seat_no)}</a></th>
          <th>${ch.sortable(SalesSegment.public)}</a></th>
          <th>${ch.sortable(SalesSegment.reporting)}</a></th>
          <th>決済方法</th>
          <th>引取方法</th>
          <th class="minwidth">編集</th>
          <th class="minwidth">削除</th>
        </tr>
      </thead>
      <tbody>
      % for i, sales_segment in enumerate(sales_segments):
        <tr>
          <% count = len(sales_segment.payment_delivery_method_pairs) %>
          <td><a href="${request.route_path('sales_segments.show', sales_segment_id=sales_segment.id)}">${sales_segment.sales_segment_group.name}</a></td>
          <td>${vh.datetime(sales_segment.start_at, with_weekday=True)}</td>
          <td>${vh.datetime(sales_segment.end_at, with_weekday=True)}</td>
          % if not performance:
            <td>
              % if sales_segment.performance:
                <a href="${request.route_path('performances.show', event_id=sales_segment.performance.event_id, performance_id=sales_segment.performance.id)}">${sales_segment.performance.name}</a>
              % endif
            </td>
          % endif
          <td>${sales_segment.account.name}</td>
          <td>${u'%s枚' % sales_segment.max_quantity if sales_segment.max_quantity else u'-'} / ${u'%s枚' % sales_segment.setting.max_quantity_per_user if sales_segment.setting and sales_segment.setting.max_quantity_per_user else u'-'} / ${u'%s個' % sales_segment.max_product_quatity if sales_segment.max_product_quatity else u'-'}</td>
          <td>${u'選択可' if sales_segment.seat_choice else u'×選択不可'}</td>
          <td>${u'表示' if sales_segment.setting.display_seat_no else u'非表示'}</td>
          <td>${'class = text-error' if not sales_segment.public else ''}>${u'公開' if sales_segment.public else u'非公開'}</td>
          <td>${u'対象' if sales_segment.reporting else u'×対象外'}</td>

          % if count <= 1:
            % if count == 0:
              <td></td>
              <td></td>
            % else:
              <td>${sales_segment.payment_delivery_method_pairs[0].payment_method.name}</td>
              <td>${sales_segment.payment_delivery_method_pairs[0].delivery_method.name}</td>
            % endif
          % else:
            <td colspan="2" style="padding: 0;">
              <table style="width: 100%; height: 100% !important;">
              % for payment_delivery_method_pair in sales_segment.payment_delivery_method_pairs:
                <tr>
                  <td class="pdmp">${payment_delivery_method_pair.payment_method.name}</td>
                  <td class="pdmp pdmp-right">${payment_delivery_method_pair.delivery_method.name}</td>
                </tr>
              % endfor
              </table>
            </td>
          % endif

          <td align="center" style="width:1%; white-space:nowrap;">
            <%include file="/sales_segments/_action_button.html" args="sales_segment_id=sales_segment.id,
                                                                             order=['edit'],
                                                                             split=True,
                                                                             small=True,
                                                                             with_label=False" />
          </td>
          <td align="center" style="width:1%; white-space:nowrap;">
            <%include file="/sales_segments/_action_button.html" args="sales_segment_id=sales_segment.id,
                                                                             order=['delete'],
                                                                             split=True,
                                                                             small=True,
                                                                             with_label=False" />
          </td>
        </tr>
      % endfor
      </tbody>
    </table>
  </div>
</div>
% endif
