<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<%block name="breadcrumbs">
<%
if performance:
    names = [u'イベント', event.title, u'パフォーマンス', performance.name, u'販売区分']
    urls = [request.route_path('events.index'), request.route_path('events.show', event_id=event.id), request.route_path('performances.index', event_id=event.id), request.route_path('performances.show', event_id=event.id, performance_id=performance.id)]
else:
    names = [u'イベント', event.title, u'販売区分']
    urls = [request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
%>
  ${ch.breadcrumbs(names=names, urls=urls)}
</%block>

<div class="page-header">
  <h1>販売区分</h1>
</div>

<form>
<%include file="/sales_segments/_list.html" args="form=form_sales_segment_group, sales_segment_groups=sales_segment_groups" />
</form>
<a href="${request.route_path('sales_segments.new', _query=dict(performance_id=performance.id if performance else u'', sales_segment_group_id=sales_segment_group.id if sales_segment_group else u''))|n}" class="btn">新規</a>
