<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch"/>
<script type="text/javascript">
function get_selected_sales_segment_id() {
  return ${sales_segment.id};
}
</script>
<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'イベント', sales_segment.event.title, u'パフォーマンス', sales_segment.performance.name, u'販売区分', sales_segment.name],
    urls=[
      request.route_path('events.index'),
      request.route_path('events.show', event_id=sales_segment.event.id),
      request.route_path('performances.index', event_id=sales_segment.event.id),
      request.route_path('performances.show', event_id=sales_segment.event.id, performance_id=sales_segment.performance_id),
      request.route_path('sales_segments.index', event_id=sales_segment.event.id, _query=dict(performance_id=sales_segment.performance_id)),
    ]
  )}
</%block>
<div class="page-header">
  <h1>販売区分</h1>
</div>
<table class="table">
  <tbody>
    <tr>
      <th>販売区分グループ</th>
      <td>
        ${sales_segment.sales_segment_group.name}
        <a href="${request.route_path('sales_segment_groups.show', sales_segment_group_id=sales_segment.sales_segment_group_id)}">この販売区分グループを編集する</a>
      </td>
    </tr>
    <tr>
      <th>販売開始日時</th>
      <td>${sales_segment.start_at}</td>
    </tr>
    <tr>
      <th>販売終了日時</th>
      <td>${sales_segment.end_at}</td>
    </tr>
    <tr>
      <th>配券元</th>
      <td>${sales_segment.account.name}</td>
    </tr>
    <tr>
      <th>購入上限枚数</th>
      <td>${sales_segment.upper_limit or u'-'}</td>
    </tr>
    <tr>
      <th>購入回数制限</th>
      <td>${sales_segment.order_limit or u'-'}</td>
    </tr>
    <tr>
      <th>座席選択</th>
      <td>${u'選択可' if sales_segment.seat_choice else u'×選択不可'}</td>
    </tr>
    <tr>
      <th>公開／非公開</th>
      <td>${u'公開' if sales_segment.public else u'非公開'}</td>
    </tr>
    <tr>
      <th>レポート対象</th>
      <td>${u'対象' if sales_segment.reporting else u'×対象外'}</td>
    </tr>
    <tr>
      <th>クレジットカード 3D認証フォーム 注記事項</th>
      <td>${sales_segment.auth3d_notice or u'(なし)'}</td>
    </tr>
  </tbody>
</table>
<a href="${request.route_path('sales_segments.edit', event_id=sales_segment.sales_segment_group.event_id, sales_segment_id=sales_segment.id)}" class="btn">編集</a>
<h2>決済・引取方法</h2>
<%include file="/payment_delivery_method_pairs/_list.html" args="payment_delivery_method_pairs=sales_segment.payment_delivery_method_pairs" />
% if request.context.organization.point_feature_enabled:
<h2>ポイント付与設定</h2>
<p>ポイント付与設定は全パフォーマンス・販売区分で共通です。追加は<a href="${request.route_path('point_grant_settings.index')}">こちら</a></p>
<form method="post" action="#">
<%include file="./_action_button_modal_point_grant_setting.html" args="sales_segment=sales_segment" />
<%include file="/point_grant_settings/_list.html" args="point_grant_settings=sales_segment.point_grant_settings, organization_setting=sales_segment.sales_segment_group.event.organization.setting" />
<script type="text/javascript">
var get_selected_point_grant_setting_ids;
(function (form) {
  get_selected_point_grant_setting_ids = function get_selected_point_grant_setting_ids() {
    var retval = [];
    form.find('input[name="point_grant_setting_id"]:checked').each(function (_, n) {
      retval.push(n.value);
    });
    return retval;
  };
})($('script:last').closest('form'));
</script>
</form>
<%include file="./_modal_point_grant_setting.html" args="modal_id='point_grant_setting', sales_segment=sales_segment" />
% endif
<h2>商品</h2>
<%include file="/products/_action_button.html" />
<%include file="/products/_list.html" args="products=sales_segment.products, sales_segment=sales_segment" />
<%include file="/products/_modal.html" args="modal_id='modal-product'" />
<%include file="/product_items/_modal.html" args="modal_id='modal-product-item'" />
