<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch"/>
<%! from altair.app.ticketing.core.models import SalesSegment, SalesSegmentSetting %>
<script type="text/javascript">
function get_selected_sales_segment_id() {
  return ${sales_segment.id};
}
require([], function () {});
</script>
<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'イベント', sales_segment.event.title, u'パフォーマンス', sales_segment.performance.name, u'販売区分', sales_segment.name],
    urls=[
      request.route_path('events.index'),
      request.route_path('events.show', event_id=sales_segment.event.id),
      request.route_path('performances.index', event_id=sales_segment.event.id),
      request.route_path('performances.show', event_id=sales_segment.event.id, performance_id=sales_segment.performance_id),
      request.route_path('sales_segments.index', event_id=sales_segment.event.id, _query=dict(performance_id=sales_segment.performance_id)),
    ]
  )}
</%block>
<div class="page-header">
  <h1>販売区分</h1>
</div>
<table class="table">
  <tbody>
    <tr>
      <th style="width: 30%;">${HH.label_text_for(SalesSegment.sales_segment_group)}</th>
      <td>
        ${sales_segment.sales_segment_group.name}
        <a href="${request.route_path('sales_segment_groups.show', sales_segment_group_id=sales_segment.sales_segment_group_id)}">この販売区分グループを編集する</a>
      </td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.start_at)}</th>
      <td>${sales_segment.start_at}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.end_at)}</th>
      <td>${sales_segment.end_at}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.account)}</th>
      <td>${sales_segment.account.name}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.max_quantity)} / ${HH.label_text_for(SalesSegmentSetting.max_quantity_per_user)} / ${HH.label_text_for(SalesSegment.max_product_quatity)}</th>
      <td>${u'%s枚' % sales_segment.max_quantity if sales_segment.max_quantity else u'-'} / ${u'%s枚' % sales_segment.setting.max_quantity_per_user if sales_segment.setting and sales_segment.setting.max_quantity_per_user else u'-'} / ${u'%s個' % sales_segment.max_product_quatity if sales_segment.max_product_quatity else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegmentSetting.order_limit)}</th>
      <td>${sales_segment.setting.order_limit if sales_segment.setting and sales_segment.setting.order_limit else u'-'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.seat_choice)}</th>
      <td>${u'選択可' if sales_segment.seat_choice else u'×選択不可'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegmentSetting.display_seat_no)}</th>
      <td>${u'表示' if sales_segment.setting.display_seat_no else u'非表示'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.public)}</th>
      <td ${'class = text-error' if not sales_segment.public else ''}>${u'公開' if sales_segment.public else u'非公開'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegmentSetting.disp_orderreview)}</th>
      <td>${u'表示' if sales_segment.setting and sales_segment.setting.disp_orderreview else u'非表示'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegmentSetting.disp_agreement)}</th>
      <td>${u'表示' if sales_segment.setting and sales_segment.setting.disp_agreement else u'非表示'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegment.reporting)}</th>
      <td>${u'対象' if sales_segment.reporting else u'×対象外'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegmentSetting.sales_counter_selectable)}</th>
      <td>${u'対象' if sales_segment.setting.sales_counter_selectable else u'対象外'}</td>
    </tr>
    %if sales_segment.organization.setting.enable_point_allocation:
      <tr>
        <th>${HH.label_text_for(SalesSegmentSetting.enable_point_allocation)}</th>
        <td>${u'利用する' if sales_segment.setting.enable_point_allocation else u'利用しない'}</td>
      </tr>
    %endif
    <tr>
      <th>${HH.label_text_for(SalesSegment.auth3d_notice)}</th>
      <td>${sales_segment.auth3d_notice or u'(なし)'}</td>
    </tr>
    <tr>
      <th>${HH.label_text_for(SalesSegmentSetting.extra_form_fields)}</th>
      <td>${view.format_extra_form_fields(sales_segment.setting.extra_form_fields) or u'(なし)'}</td>
    </tr>
  </tbody>
</table>
<div class="pull-left">
  <%include file="/sales_segments/_action_button.html" args="order=['edit', 'delete'], sales_segment_id=sales_segment.id, split=True" />
</div>
<div class="clearfix" id="sales_segments-form" style="margin-bottom: 20px;">
  <%include file="/sales_segments/_modal.html" args="modal_id='modal-sales_segment'" />
</div>

<hr />

<h3>決済引取方法</h3>
<%include file="/payment_delivery_method_pairs/_list.html" args="sales_segment_group=sales_segment.sales_segment_group, editable=pdmp_editable" />

<hr />

% if request.context.organization.point_feature_enabled:
<h3>ポイント付与設定</h3>
<p>ポイント付与設定は全パフォーマンス・販売区分で共通です。追加は<a href="${request.route_path('point_grant_settings.index')}">こちら</a></p>
<form method="post" action="#">
<%include file="/point_grant_settings/_list.html" args="point_grant_settings=sales_segment.point_grant_settings, organization_setting=sales_segment.sales_segment_group.event.organization.setting" />
<%include file="./_action_button_modal_point_grant_setting.html" args="sales_segment=sales_segment, split=True" />
<script type="text/javascript">
var get_selected_point_grant_setting_ids;
var add_point_grant_setting, remove_point_grant_settings;

(function (form) {
  get_selected_point_grant_setting_ids = function get_selected_point_grant_setting_ids() {
    var retval = [];
    form.find('input[name="point_grant_setting_id[]"]:checked').each(function (_, n) {
      retval.push(n.value);
    });
    return retval;
  };
  add_point_grant_setting = function add_point_grant_setting() {
    load_modal_form($('#modal-point-grant-setting-chooser'), '${request.route_path('sales_segments.point_grant_settings.add', sales_segment_id='__sales_segment_id__')}'.replace('__sales_segment_id__', get_selected_sales_segment_id()), null, null);
  };
  remove_point_grant_settings = function remove_point_grant_settings() {
    form.attr({
      action: '${request.route_path('sales_segments.point_grant_settings.remove', sales_segment_id='__sales_segment_id__', _query=dict(return_to=request.path))}'.replace('__sales_segment_id__', get_selected_sales_segment_id()),
      method: 'post'
    });
    form.submit();
  };
})($('script:last').closest('form'));
</script>
</form>
<%include file="./_modal_point_grant_setting.html" args="modal_id='point_grant_setting', sales_segment=sales_segment" />
% endif

<hr />

<h3>商品</h3>
<%include file="/products/_list.html" args="products=sales_segment.products, sales_segment=sales_segment" />
<%include file="/products/_action_button.html" args="split=True" />
<%include file="/products/_modal.html" args="modal_id='modal-product'" />
<%include file="/product_items/_modal.html" args="modal_id='modal-product-item'" />
