<%inherit file="${context['main_template'].uri}" />
<div id="main">
  <h1><img src="${request.static_url('ticketing.lots:static/img/order/title_settlement.gif')}" alt="チケット申込" width="950" height="40" /></h1>
  <p class="pageTitle">申込を完了しました</p>
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('ticketing.lots:static/img/order/title_number.gif')}" alt="申込番号" width="97" height="30" /></h2>
      <div class="confirmBoxText">${entry.entry_no}</div>
    </div>
  </div>        
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2 class="title"><img src="${request.static_url('ticketing.lots:static/img/order/title_hope.gif')}" alt="希望選択" width="97" height="30" /></h2>
      %for wish, total_amount in wishes:
      <div class="settlementSelectBox">
        <div class="settlementSelectBoxInner02">
          <p class="header"><strong>第${wish['wish_order'] + 1}希望</strong><span>${wish['performance'].name}</span></p>
          <table summary="第${wish['wish_order'] + 1}希望">
            <tr>
              <th><label>公演日・会場</label></th>
              <td>${h.japanese_datetime(wish['performance'].open_on)}　${wish['performance'].venue.name}</td>
            </tr>
            <tr class="settlementSelectEnd">
              <th>希望内容と手数料</th>
              <td>
                <dl class="cost-summary">
                %for i, w in enumerate(wish['wished_products']):
                  <dt class="product-name">${w['product'].name}</dt>
                  <dd class="product-price-and-quantity">${h.format_currency(w['product'].price)}×${w['quantity']}枚=${h.format_currency(w['subtotal'])} (税込)</dd>
                %endfor
                  <dt class="payment-method">手数料 (${entry.payment_delivery_method_pair.payment_method.name})</dt>
                  <dd class="payment-fee">${h.format_currency(entry.payment_delivery_method_pair.transaction_fee)}</dd>
                  <dt class="delivery-method">手数料 (${entry.payment_delivery_method_pair.delivery_method.name})</dt>
                  <dd class="delivery-fee">${h.format_currency(entry.payment_delivery_method_pair.delivery_fee)}</dd>
                  <dt class="total-amount">合計</dt>
                  <dd class="total-amount">${h.format_currency(total_amount)} (税込)</dd>
                </dl>
              </td>
            </tr>
          </table>
        </div>
      </div>
      %endfor
    </div>
  </div> 
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('ticketing.lots:static/img/order/title_caution.gif')}" alt="注意事項" width="97" height="30" /></h2>
      <div class="confirmBoxText">
        ${entry.lot.description}
      </div>
    </div>
  </div>
</div>
<!-- ========== /main ========== -->
