<%inherit file="${context['main_template'].uri}" />
<div id="main">
    <h1>抽選申し込み確認</h1>
		<div class="settlementBox2" id="settlementEventDetail">
			<div class="settlementBoxInner2">
<form action="${request.url}" method="post">
    <table>
        <tr>
            <th>${form['entry_no'].label}</th>
            <td>${form['entry_no']}
            ${self.error(form, 'entry_no')}
            </td>
        </tr>
        <tr>
            <th>${form['tel_no'].label}</th>
            <td>${form['tel_no']}
            ${self.error(form, 'tel_no')}
            </td>
        </tr>
    </table>
    <input type="submit" />
</form>
            </div>
        </div>
</div>

