<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
${ch.breadcrumbs(
  names=[u'イベント', event.title, u'販売区分グループ'],
  urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
)}
</%block>

<div class="page-header">
  <h1>販売区分グループ</h1>
</div>

<form>
<%include file="/sales_segment_groups/_list.html" args="form=form_sales_segment_group, sales_segment_groups=sales_segment_groups" />
<%include file="/sales_segment_groups/_action_button.html" />
</form>
<div id="sales_segment_groups-form">
  <%include file="/sales_segment_groups/_modal.html" args="modal_id='modal-sales_segment_group',event=event" />
</div>
