@charset "utf-8";

#selectSeatType li input {
  display: none;
}

p.cartNickname{
	margin:0 0 10px 10px;
}


/* modal */
.btn-redo {
  width: 206px;
  background: url(../img/settlement/btn_redo.gif) no-repeat 0 0;
  border: none;
  padding: 46px 0 0 0;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}

.btn-close {
  width: 142px;
  background: url(../img/settlement/btn_close.gif) no-repeat 0 0;
  border: none;
  padding: 47px 0 0 0;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}

.btn-buy {
  width: 224px;
  padding: 46px 0 0 0;
  background: url(../img/settlement/btn_buy.gif) no-repeat 0 0;
  border: none;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}

.modal {
  /* margin-left: -340px; */
  width: 660px;
  text-align: left;
}

.modal-header {
  background: url(../img/settlement/bg_box_modal_top.gif) no-repeat 0 0;
  padding: 8px 8px 8px 8px;
  height: 20px;
}

.modal-header h2 {
  margin-left: 3px;
  border-left: 2px solid #800;
  line-height: 20px;
  font-size: 16px;
  padding: 4px 4px 2px 6px;
}

.modal-inner {
  background: url(../img/settlement/bg_box_modal_bottom.gif) no-repeat left bottom;
  padding: 10px 10px;
}

.modal-body {
  padding: 10px 10px;
}

.modal-footer {
  padding: 10px 10px;
  text-align: center;
}

.modal-body table {
  width: 610px;
  background: url(../img/settlement/bg_seat_top.png) no-repeat 0 0;
  margin-bottom: 15px;
}

.modal-body th {
  padding: 5px 10px;
  border-bottom: 1px dotted #cccccc;
  white-space: nowrap;
}

.modal-body td {
  padding: 5px 10px;
  border-bottom: 1px dotted #cccccc;
}

.modal-body tr.last-child th,
.modal-body tr.last-child td {
  border: none;
}

.modal-body tr.last-child {
  background: url(../img/settlement/bg_seat_bottom.gif) no-repeat left bottom;
}

