@charset "utf-8";

#selectSeat{
    margin-bottom: 10px;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}

#selectSeat.forcus  {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
	border: 2px solid #cccccc;
	background-color: #ffffff;
}

#selectSeat li.unselected {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}

#selectBuy.forcus{
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
	border: 2px solid #cccccc;
	background-color: #ffffff;
}

.lead {
	letter-spacing:1px;
	font-weight:bold;
	font-size: 11pt;
	color:#555;
//	padding: 5px 5px 10px 10px;
}

/* modal */
.btn-redo {
   width: 236px;
   height: 46px; 
   background: url(../img/settlement/btn_redo.gif) no-repeat 0 0;
   border: none;
}

.btn-buy {
   width: 224px;
   height: 46px; 
   background: url(../img/settlement/btn_buy.gif) no-repeat 0 0;
   border: none;
}

.modal {
//   margin-left: -340px;
   width:660px;
   text-align: left;
   padding-left: 10px;
}

.modal-header {
	background: url(../img/settlement/bg_box_modal_top.gif) no-repeat 0 0;
    padding-left: 10px;
}

.modal-header h1 > span,
.modal-header h2 > span{
    border-left: 2px solid #aaa;
    padding-left: 7px;
    vertical-align: middle;
}

.modal-header h1 {
    margin-left: 7px;
    line-height: 40px;
    vertical-align: middle;
	font-size: 150%;
    padding-bottom:10px
}

.modal-inner {
	background: url(../img/settlement/bg_box_modal_bottom.gif) no-repeat left bottom;
    padding: 10px 10px;
}

.modal-body {
    padding: 10px 10px;    
}

.modal-footer {
    margin-right: 10px;
    text-align: right;
    padding: 10px 10px;    
}

.modal-body p.lead > span {
    border-bottom: 1px solid #aaaaaa;
}

.modal-body table {
    width: 610px;
	background: url(../img/settlement/bg_seat_top.png) no-repeat 0 0;
    margin-bottom: 15px;
}

.modal-body th {
	padding: 5px 10px;
	border-bottom: 1px dotted #cccccc;
	white-space: nowrap;
}

.modal-body td {
	padding: 5px 10px;
	border-bottom: 1px dotted #cccccc;
}

.modal-body tr:last-child th,
.modal-body tr:last-child td {
	border: none;
}

.modal-body tr.last-child {
	background: url(../img/settlement/bg_seat_bottom.gif) no-repeat left bottom;
}