<%
from ticketing.bookmark.models import Bookmark
%>
<span class="span2">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">公演管理</li>
      <li><a href="${request.route_path('events.index')}"><i class="icon-home"></i>イベント一覧</a></li>
      <li><a href="${request.route_path('events.new')}"><i class="icon-home"></i>新規イベント登録</a></li>
      <li><a href="${request.route_path('events.new')}"><i class="icon-home"></i>帳票出力</a></li>
      <li><a href=""><i class="icon-home"></i>クライアント管理</a></li>
      <li class="divider"></li>
      <li class="nav-header">マスタ管理</li>
      <li><a href="${request.route_path('products.sales_segments')}"><i class="icon-home"></i>販売条件</a></li>
      <li><a href=""><i class="icon-home"></i>チケット券面</a></li>
      <li><a href=""><i class="icon-home"></i>会場席種マスタ</a></li>
      <li class="divider"></li>
      <li class="nav-header">ユーザー管理</li>
      <li><a href="${request.route_path('orders.index')}"><i class="icon-home"></i>購入情報</a></li>
      <li class="nav-header">営業管理</li>
      <li><a href=""><i class="icon-home"></i>売上</a></li>
      <li><a href=""><i class="icon-home"></i>週報／日報設定</a></li>
      <li><a href=""><i class="icon-home"></i>ポイント付与履歴</a></li>
      <li class="nav-header">マーケティング</li>
      <li><a href=""><i class="icon-home"></i>メール配信</a></li>
      <li class="nav-header">ブックマーク</li>
      % for bookmark in Bookmark.find_by_organization_id(1):
      <li><a href="${bookmark.url}"><i class="icon-home"></i>${bookmark.name}</a></li>
      % endfor
      <li style="text-align: right;"><a href="${request.route_path('bookmark.index')}"><i class="icon-pencil"></i>編集</a></li>
    </ul>
  </div>
</span>
