<%
  from pyramid.threadlocal import get_current_registry
  settings = get_current_registry().settings
  altaircms_url = settings.get('altaircms.front_end_url')
  testing = get_current_registry().settings.get('ticketing.testing', False)
%>
<link rel="stylesheet" type="text/css" href="/static/css/navigation.css" />
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="${request.route_path('events.index')}"><img src="/static/images/altair_logo.png"></a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    % if request.context.user:
                    <li><a href="${request.route_path('tickets.queue.index')}"><span class="label label-important"><i class="icon-print"></i> ${request.context.user.print_queue_entry_count()}</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">${request.context.user.name}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="${request.route_path('login.info')}">
                                <i class="icon-cog"> </i>
                                個人設定</a>
                            </li>
                            <li><a href="${request.route_path('operators.index')}">
                                  <i class="icon-cog"> </i>
                                オペレーター管理</a>
                            </li>
                            % if testing:
                            <li><a href="${request.route_path('organizations.index')}">
                              <i class="icon-cog"> </i>
                              取引先マスタ管理</a>
                            </li>
                            % endif
                            <li><a href="${request.route_path('login.logout')}">
                                <i class="icon-off"> </i>
                                ログアウト</a>
                            </li>
                        </ul>
                    </li>
                    % else:
                    <li><a href="${request.route_path('login.index')}">ログイン</a></li>
                    % endif
                </ul>
            </div><!--/.nav-collapse -->
            <!-- Navigation -->
            <div class="nav-collapse">
              <ul class="nav">
                % if testing:
                <li class="active"><a href="${request.route_path('dashboard.index')}">Home</a></li>
                % endif
                <li><a href="${request.route_path('events.index')}">イベント</a></li>
                % if testing:
                <li><a href="${altaircms_url}">CMS</a></li>
                % endif
              </ul>
            </div>
            <!-- End Navigation -->
        </div>
    </div>
</div>
