<html>
<head>
  <title>ラグーナテンボス 購入確認ページ</title>
</head>
<body style="background-color:#FFFFFF" bgcolor="#FFFFFF">
  <div style="text-align: center; background-color: #0A50AA">
    <a href="http://www.lagunatenbosch.co.jp/ticket/index.html">
      <img src="${request.static_url('altair.app.ticketing.orderreview:static/LG/mobile/images/logo_mobile.gif')}"
           alt="ラグーナテンボス" width="100%"/>
    </a>
  </div>
  
<%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
<a href="http://www.ticketstar.jp/corporate/">運営会社</a> | <a href="http://www.lagunatenbosch.co.jp/laguna/privacy/index.html">個人情報保護方針</a> | <a href="https://lagunatenbosch.tstar.jp/legal">特定商取引法に基づく表示</a> | <a href="${h.safe_get_contact_url(request)}">お問い合わせ</a>
  <div>
    Copyright &copy; 2010-2015 TicketStar, Inc. All Rights Reserved. 
  </div>
</body>
</html>
