<%page args="form, roles, permission_categories" />
<%namespace file="/common/helpers.html" name="ch"/>
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function delete_role(id) {
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/operators/roles/delete/' + id);
    modal.find('#message').text('選択したロールを削除します。よろしいですか？');
    modal.modal('toggle');
  }
</script>

<form>
  <div class="float-left">
    <div class="btn-group">
      <a href="${request.route_path('operator_roles.new')}" class="btn"><i class="icon-plus"></i> 新規</a>
    </div>
  </div>
  <div class="clearfix"></div>

  <table class="table table-bordered" style="margin-top: 10px;">
    <thead>
    <tr>
      <th class="span4"></th>
      <th colspan="${len(roles)}">ロール名</th>
    </tr>
    <tr>
      <th>権限</th>
      % for role in roles.items:
      <th class="span2">
        ${role.name_kana}
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="${request.route_path('operator_roles.edit', operator_role_id=role.id)}"><i class="icon-pencil"></i> 編集</a></li>
            <li><a href="javascript:delete_role(${role.id});"><i class="icon-minus"></i> 削除</a></li>
          </ul>
        </div>
      </th>
      % endfor
    </tr>
    </thead>
    <tbody>
    % for category in permission_categories:
    <tr class="category-${category.id}">
      <td>${category.name_kana}</td>
      % for role in roles.items:
      <td>
        % if category.id in [p.category_id for p in role.permissions]:
        <i class="icon-ok"></i>
        % endif
      </td>
      % endfor
    </tr>
    <tr class="permit-action-${category.id}" style="display:none;">
      <td colspan="${len(roles)+1}">
      <%
        route_permission = request.registry.route_permission if hasattr(request.registry, 'route_permission') else None
        permit_actions = []
        for route_name in sorted(route_permission.keys()):
          if category.name == route_permission[route_name]:
            permit_actions.append(route_name)
      %>
      % if len(permit_actions) > 0:
        <table class="table table-condensed well">
          <tr><th>この権限で利用できる機能</th></tr>
          % for action in permit_actions:
          <tr><td>${action}</td></tr>
          % endfor
        </table>
      % endif
      </td>
    </tr>
    <script type="text/javascript">
      $(function() {
        $('.category-${category.id}').click(function(){
          $('.permit-action-${category.id}').toggle('slow');
        });
      })
    </script>
    % endfor
    </tbody>
  </table>
  ${ch.pager(roles)}
</form>

${delete_modal()}
