<%page args="form, roles" />
<%namespace file="/common/helpers.html" name="ch"/>
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function delete_role(id) {
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/operators/roles/delete/' + id);
    modal.find('#message').text('選択したロールを削除します。よろしいですか？');
    modal.modal('toggle');
  }
</script>

<form>
  <div style="float: left;">
    <div class="btn-group">
      <a href="${request.route_path('operator_roles.new')}" class="btn"><i class="icon-plus"></i> 新規</a>
    </div>
  </div>
  <div class="clearfix"></div>

  <table class="table fullwidth table-striped" style="margin-top: 10px;">
    <thead>
    <tr>
      <th>ロール名</th>
      <th>ロール名(日本語表記)</th>
      <th>権限</th>
      <th class="span3">操作</th>
    </tr>
    </thead>
    <tbody>
    % for role in roles.items:
    <tr>
      <td>${role.name}</td>
      <td>${role.name_kana}</td>
      <td>
        % for permission in role.permissions:
          ${permission.category.name_kana}
        % endfor
      </td>
      <td>
        <div class="btn-group">
          <a class="btn" href="${request.route_path('operator_roles.edit', operator_role_id=role.id)}"><i class="icon-pencil"></i> 編集</a>
          <a class="btn btn-danger" href="javascript:delete_role(${role.id});"><i class="icon-minus"></i> 削除</a>
        </div>
      </td>
    </tr>
    % endfor
    </tbody>
  </table>
  ${ch.pager(roles)}
</form>

${delete_modal()}
