<%inherit file="/layout_mobile.html"/>
<%namespace file="/tags_mobile.html" name="mobile" />
<%mobile:header>お申し込み完了</%mobile:header>
<% user_profile = order.user.user_profile %>
下記の内容でお申し込みが完了しました。
<%mobile:header>お申し込み内容</%mobile:header>
<%mobile:form_header>お申し込みNo.</%mobile:form_header>
<div>${order.order_no}</div>
<%mobile:form_header>会員種別</%mobile:form_header>
<div>${order.ordered_products[0].product.name}</div>
<%mobile:form_header>会員口数</%mobile:form_header>
<div>${order.ordered_products[0].quantity}口</div>
<%mobile:form_header>お名前</%mobile:form_header>
${user_profile.last_name} ${user_profile.first_name}様
<%mobile:header>決済情報</%mobile:header>
${h.render_payment_finished_viewlet(request, order)}
</body>
</html>
