<%inherit file="/layout_mobile.html"/>
<%namespace file="/tags_mobile.html" name="mobile" />
<%mobile:header>お申し込み完了</%mobile:header>
<% user_profile = order.user.user_profile %>
下記の内容でお申し込みが完了しました。
<%mobile:header>お申し込み内容</%mobile:header>
<%mobile:form_header>受付番号</%mobile:form_header>
<div>${order.order_no}</div>
<%mobile:form_header>会員種別</%mobile:form_header>
<div>${order.ordered_products[0].product.name}</div>
<%mobile:form_header>金額</%mobile:form_header>
<div>￥${h.format_number(order.ordered_products[0].product.price)}</div>
<%mobile:form_header>決済手数料</%mobile:form_header>
<div>￥${h.format_number(order.transaction_fee)}</div>
<%mobile:form_header>合計</%mobile:form_header>
<div>￥${h.format_number(order.total_amount)}</div>
<%mobile:form_header>お名前</%mobile:form_header>
${user_profile.last_name} ${user_profile.first_name}様
<%mobile:header>決済情報</%mobile:header>
${h.render_payment_finished_viewlet(request, order)}
<%mobile:header>注意事項</%mobile:header>
<div>
<font size="-2">
・お申込時にを記載した確認のメールが、ご登録いただいたメールアドレス宛に送られます。しばらくたっても確認のメールが届かない場合は、入力されたメールアドレスが誤っている可能性があります。<a href="mailto:89ers@ticketstar.jp">89ers@ticketstar.jp</a> までご連絡ください。<br /> 
（お問い合わせの際は、お申込み時のお名前と電話番号を記載お願いします）<br />
・入力された個人情報は「個人情報保護方針」に基づき適切に取扱われます。<br />
・会員証やグッズは、2012年9月15日(土)までに入会された方には開幕戦までにお届けします。9月16日(日)以降に入会された方には、直近のホームゲーム会場にてお渡しいたします。直近のホームゲームに来場されない場合には、後日郵送でお届けいたします。<br />
・入会者多数の場合には、入会受付を2013年3月末日よりも早めに締切る場合がございます。お早めにご入会ください。<br />
・入会後の会員プランの変更及び会費の返却には応じかねますのでご注意ください。<br />
・お申込内容は、「<a href="${request.route_url('order_review.form')}">履歴確認</a>」からもご確認いただけます。受付番号とご登録時のお電話番号をお手元にご用意の上、ご利用ください。<br />
</font>
</div>
</body>
</html>
