<%inherit file="/layout_mobile.html"/>
<%namespace file="/tags_mobile.html" name="mobile" />
<%mobile:header>申込内容確認</%mobile:header>
<form id="form1" action="${request.route_url('payment.finish')}" method="post">
${form.csrf_token()}
<%
up = user.user_profile
pm = _api.load_user_profile(request)
%>
<%mobile:form_header>新規／継続</%mobile:form_header>
<div>${u'継続' if pm.get('cont') == 'yes' else u'新規'}</div>
% if pm.get('cont') == 'yes' and pm.get('old_id_number'):
<%mobile:form_header>2011-12会員番号</%mobile:form_header>
<div>${pm.get('old_id_number')}</div>
% endif:
<%mobile:form_header>会員種別</%mobile:form_header>
<div>${cart.products[0].product.name}</div>
% if h.is_include_t_shirts(cart):
<%mobile:form_header>Tシャツサイズ</%mobile:form_header>
<div>${pm['t_shirts_size']}</div>
% endif
<%mobile:form_header>氏名</%mobile:form_header>
<div>${pm['last_name']} ${pm['first_name']}</div>
<%mobile:form_header>氏名（フリガナ）</%mobile:form_header>
<div>${pm['last_name_kana']} ${pm['first_name_kana']}</div>
<%mobile:form_header>誕生日</%mobile:form_header>
<div>${pm['year']}年${pm['month']}月${pm['day']}日</div>
<%mobile:form_header>性別</%mobile:form_header>
<div>
%if pm['sex']=='male':
男性
%endif
%if pm['sex']=='female':
女性
%endif
</div>
<%mobile:form_header>住所</%mobile:form_header>
<div>${pm['prefecture']} ${pm['city']} ${pm['address1']} ${pm['address2']}</div>
<%mobile:form_header>電話番号（携帯）</%mobile:form_header>
<div>${pm['tel_1']}</div>
<%mobile:form_header>電話番号（自宅）</%mobile:form_header>
<div>${pm['tel_2']}</div>
<%mobile:form_header>メールアドレス</%mobile:form_header>
<div>${pm['email']}</div>
<%mobile:form_header>仙台89ERSからのメールマガジンの配信</%mobile:form_header>
<div>${u'希望する' if pm.get('mail_permission') else u'希望しない'}</div>
<%mobile:form_header>メモリアルブックへの掲載希望</%mobile:form_header>
<div>${u'はい' if pm.get('publicity') == 'yes' else u'いいえ'}</div>
<hr />
<input type="submit" name="back" value="戻る" />
<input type="submit" value="申し込む" />
</form>
