<%namespace file="/tags_mobile.html" name="mobile" />
<%mobile:form_header>決済方法</%mobile:form_header>
<div>セブン-イレブン</div>
<%mobile:form_header>払込票番号</%mobile:form_header>
<div>${sej_order.billing_number}</div>
<%mobile:form_header>予約有効期限</%mobile:form_header>
<div>${sej_order.payment_due_at.strftime(u"%Y年%m月%d日(%a) %H時%M分".encode('utf-8')).decode('utf-8')}</div>
<form action="${sej_order.exchange_sheet_url}" method="POST">
<input type="hidden" name="iraihyo_id_00" value="${sej_order.exchange_sheet_number}">
<input type="submit" name="submit" value="引換え票を表示" class="paymentCoupon"/>
</form>
