<%namespace file="/common/helpers.html" import="form_item"/>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>券面まとめて印刷キューに追加</h3>
  </div>

  <form action="${request.route_url("orders.print.queue.manymany")}" method="POST">
  <div class="modal-body">
    ${form_item(form.ticket_id, option=dict(id="ticket_id"))}

	印刷キューに入れる注文
    <div id="listing_area">
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">キャンセル</a>
    <input class="btn btn-primary" type="submit" name="submit" value="追加">
  </div>
 </form>

<script type="text/javascript">
  $(function(){
    var update_info = function(){
      var ticket_id = $(this).val();
      $.getJSON("${request.route_url("orders.api.orders", action="matched_by_ticket")}",
                {"ticket_id": ticket_id}).done(function(data){
        if(!data.status){
          return ;
        }
        var results = data.results;
        var ul = $("<ul>")
        for(var i = 0, j=results.length; i<j; i++){
           var r = results[i]
           var content = "注文番号:{0} ({1}) 合計:{2}円"
                              .replace("{0}", r.order_no)
                              .replace("{1}", r.event_name)
                              .replace("{2}",r.total_amount);
           $("<li>").text(content).appendTo(ul);
        }
        $("#listing_area").empty();
        $("#listing_area").append(ul);
        return true;
      })
	};

    $("#ticket_id").change(update_info);
    update_info.call($("#ticket_id"));
  });
</script>
