<%page args="form, seats" />
<%namespace file="/common/helpers.html" name="h" />

<style type="text/css">
  #modal-reserve input {
    width: 80px;
    padding: 2px;
    margin: 0;
  }
</style>

<script type="text/javascript">
  $(function() {
    if (window.ticketPrinterService) {
      $('#sales_counter_payment_method_id').val($('#sales_counter_payment_method_id > option:contains(現金支払)').val());
    }
    $('.draggable').draggable();
  });
</script>

<div id="modal-reserve" class="modal fade draggable">
  <div class="modal-header">
    <h3>予約する</h3>
  </div>

  <div class="modal-body">
    ${h.alert_message(form)}

    <form action="javascript:confirmOrder();">
      <fieldset>
        <div class="control-group" style="margin-bottom: 15px;">
          <label class="control-label" style="font-weight: bold;">予約する座席 (${u'座席指定 %s席' % len(seats) if seats else u'おまかせ'})</label>
          <div class="controls">
            <ul>
            % for seat in seats:
              <li>${seat.name}</li>
            % endfor
            </ul>
          </div>
        </div>

        % if form.products.choices:
        <table class="table table-striped table-bordered">
          <tr>
            <th>商品</th>
            <th style="width: 80px;">個数</th>
          </tr>
          % for product in form.products.choices:
          <tr>
            <td>${product[1]}</td>
            <td><input id="product_quantity-${product[0]}" name="product_quantity-${product[0]}" type="text" value=""></td>
          </tr>
          % endfor
        </table>
        % endif

        ${h.form_item(form.performance_id)}
        ${h.form_item(form.payment_delivery_method_pair_id)}
        ${h.form_item(form.sales_counter_payment_method_id)}
        ${h.form_item(form.note, option={'rows':5, 'class':'span10'})}
      </fieldset>
      <p>※ 決済・配送方法は「販売区分」が「窓口販売」で登録されている方法のみ選択可能です</p>
    </form>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="javascript:reselectOrder();" class="btn secondary btn-close">戻る</a>
    <a href="javascript:void(0);" onclick="$('#modal-reserve').find('form').submit();" class="btn danger">確認する</a>
  </div>
</div>
