<%page args="form, url='/orders/'" />
<%namespace file="/common/helpers.html" name="h" />

<script type="text/javascript">
  $(function() {
    $('.datefield').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
  });

  function search_orders() {
    modal = $('#modal-search');
    modal.find('#search').attr('action', '${url}').submit();
  }

  function sort_orders(sort, direction, url) {
    url = url || '${url}';
    modal = $('#modal-search');
    if (sort) modal.find('#sort').val(sort);
    if (direction) modal.find('#direction').val(direction);
    modal.find('#search').attr('action', url).submit();
  }

  function download_orders() {
    modal = $('#modal-search');
    modal.find('#search').attr('action', '/orders/download/').submit();
    $('#modal-download_orders').modal('hide');
  }
</script>

<div style="float: left;">
  <ul class="nav nav-pills">
    <li class="dropdown" id="top-search-text">
      <form id="search-order" action="${url}" method="POST">
        <input name="order_no" type="text" class="search-query" placeholder="予約番号">
      </form>
    </li>
    <li class="dropdown" id="top-search" style="margin-left: 10px;">
      <div class="btn-group">
        <a href="javascript:void(0);" onclick="$('#search-order').submit();" class="btn">
          <i class="icon-search"></i> 検索
        </a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a data-toggle="modal" href="#modal-search">
              <i class=""></i> 詳細検索
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="btn-group" style="float: left;">
  <a class="btn btn-inverse" style="margin-left: 10px;" data-toggle="modal" href="#modal-download_orders">
    <i class="icon-download icon-white"></i> ダウンロード
  </a>
</div>
<div style="clear: left;"></div>


<div id="modal-search" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>検索条件設定</h3>
  </div>

  <div class="modal-body">
    <form id="search" class="form-horizontal" action="/orders/" method="POST">
      <fieldset>
        ${h.form_item(form.order_no, option={'style':'width: 200px;', 'maxlength':12})}
        <div class="control-group ">
          <label class="control-label">
            ${form.ordered_from.label.text}
          </label>
          <div class="controls">
            <div style="float: left;">
              <input class="datefield" style="width: 140px;" id="ordered_from" name="ordered_from" type="text" value="${form.ordered_from._value()}"> 〜
              <input class="datefield" style="width: 140px;" id="ordered_to" name="ordered_to" type="text" value="${form.ordered_to._value()}">
            </div>
          </div>
        </div>
        <div style="clear: both;"></div>
        ${h.form_item(form.payment_method)}
        ${h.form_item(form.delivery_method)}
        ${h.form_item(form.status)}
        ${h.form_item(form.name)}
        ${h.form_item(form.member_id)}
        ${h.form_item(form.tel)}
        ${h.form_item(form.seat_number)}

        ${h.form_item(form.event_id)}
        ${h.form_item(form.performance_id)}
        <script type="text/javascript">
          $(function(){
            var update_on_empty = function(){
              var $target = $(this).parents("form").find("select[name='performance_id']").eq(0);
              $target.empty();
		          return;
            };
            var update_on_hasvalue = function(v){
              var self = this;
              var params = {event_id: v};
              $.getJSON("${request.route_url('orders.api.performances')}", params).done(function(data){
                if(data.status){
                  var $target = $(self).parents("form").find("select[name='performance_id']").eq(0);
                  $target.empty();
                  // optimize if slow.
                  for(var i=0, j=data.result.length; i<j; i++){ 
                    var e = data.result[i];
                    $target.append($("<option>").attr("value", e.pk).text(e.name))
                  }
                }
              });
            };
            var update_performances = function(){
              var self = this;
              var v = $(this).val();
              if(!v){
                return update_on_empty.call(self);
              } else {
                return update_on_hasvalue.call(self, v);
              }
            };
            $("#search select[name='event_id']").change(update_performances);
            //update_performances.call($("#search select[name='event_id'] option:selected"));
          });
    		</script>
        <div class="control-group ">
          <label class="control-label">
            ${form.start_on_from.label.text}
          </label>
          <div class="controls">
            <div style="float: left;">
              <input class="datefield" style="width: 140px;" id="start_on_from" name="start_on_from" type="text" value="${form.start_on_from._value()}"> 〜
              <input class="datefield" style="width: 140px;" id="start_on_to" name="start_on_to" type="text" value="${form.start_on_to._value()}">
            </div>
          </div>
        </div>
        ${h.form_item(form.sort)}
        ${h.form_item(form.direction)}
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:search_orders();" class="btn btn-primary">検索</a>
  </div>
</div>


<div id="modal-download_orders" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>購入情報(CSV)をダウンロードします。よろしいですか？<br>
      <div class="alert alert-error">
        <ul>
        <% conditions = form.get_conditions() %>
        % if conditions:
          <div style="margin-bottom: 5px;">現在の検索条件で抽出されます。</div>
        % else:
          <div style="margin-bottom: 5px;">検索条件がありません。</div>
        % endif

        <% listed = [] %>
        % for k, v in conditions.items():
          % if k in listed:
            <% continue %>
          % elif k in ['ordered_from', 'ordered_to']:
            <%
              ordered_from = conditions.pop('ordered_from', '')
              if ordered_from:
                (label, ordered_from) = ordered_from
              ordered_to = conditions.pop('ordered_to', '')
              if ordered_to:
                (label, ordered_to) = ordered_to
              listed += ['ordered_from', 'ordered_to']
            %>
            <li>${u'%s : %s 〜 %s' % (label, ordered_from, ordered_to)}</li>
          % elif k in ['start_on_from', 'start_on_to']:
            <%
              start_on_from = conditions.pop('start_on_from', '')
              if start_on_from:
                (label, start_on_from) = start_on_from
              start_on_to = conditions.pop('start_on_to', '')
              if start_on_to:
                (label, start_on_to) = start_on_to
              listed += ['start_on_from', 'start_on_to']
            %>
            <li>${u'%s : %s 〜 %s' % (label, start_on_from, start_on_to)}</li>
          % else:
            <li>${'%s : %s' % v}</li>
          % endif
        % endfor
        </ul>
      </div>
    </p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-download_orders').modal('hide');" class="btn secondary">キャンセル</a>
    <a href="javascript:download_orders();" class="btn danger">ダウンロード</a>
  </div>
</div>


% if len(orders) == 0:
  見つかりませんでした
% endif
