<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
    names=[u'トップ', u'購入情報'],
    urls=[request.route_path('index')]
  )}
</div>

<div class="page-header">
  <h1>購入情報</h1>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<div style="float: left;">
  <%include file="/orders/_search.html" />
</div>
<div style="clear: both;"></div>

<div class="orders">
  <%include file="/orders/_list.html" args="form=form, orders=orders" />
</div>
