<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" import="validate_errors" />
<%namespace file="/common/helpers.html" import="alert_message" />
<%namespace file="/common/helpers.html" import="flash_messages" />

<%
  if request.matched_route.name == 'newsletters.edit':
    route_name = u'更新'
    route_url = request.route_url('newsletters.edit', id=newsletter.id)
  else:
    route_name = u'新規作成'
    route_url = request.route_url('newsletters.new')
%>

<script>
  $(function() {
    $('#start_date').datepicker({dateFormat:'yy-mm-dd'});
    $('#subject').load(function(){
      $(this).css({width:"500px"});
    }).load();
    $('#description').load(function(){
      $(this).css({width:"500px",height:"400px"});
    }).load();
  });
</script>

<div class="row-fluid">
  <%include file="_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>メールマガジン${route_name}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
      ${alert_message(form)}
    </div>

    <div class="well">
      <form class="form-horizontal" action="${route_url}" enctype="multipart/form-data" method="POST">
        <fieldset>
          ${form_item('subject')}
          ${form_item('description')}
          ${form_item('status')}
          ${form_item('subscriber_file')}
          ${form_item('start_date')}
          ${form_item('start_time')}
        </fieldset>
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
        </div>
      </form>
    </div>
  </span>
</div>

<%def name="form_item(key)">
  <div class="control-group ${'error' if form[key].errors else ''}">
    <label class="control-label">${form[key].label.text}</label>
    <div class="controls">
      ${form[key]}
      ${validate_errors(form[key])}
    </div>
  </div>
</%def>
