<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" import="pager"/>

<div class="row-fluid">
  <%include file="_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>メールマガジン配信リスト</h3>
    </div>
    <div class="well">
      <br style="clear: both" />
        <table class="table fullwidth checkboxed_table">
          <thead>
            <tr>
              <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></th>
              <th class="minwidth">ID</th>
              <th>${self.sortable('subject')}</th>
              <th>${form.subscriber_file.label.text}</th>
              <th>${form.subscriber_count.label.text}</th>
              <th>${self.sortable('status')}</th>
              <th>${self.sortable('start_on')}</th>
            </tr>
          </thead>
          <tbody>
          % for newsletter in newsletters.items:
            <tr>
              <td><input type="checkbox" /></td>
              <td>${newsletter.id}</td>
              <td><a href="${request.route_path('newsletters.show', id=newsletter.id)}">${newsletter.subject}</a></td>
              <td><a href="${request.route_path('newsletters.download', id=newsletter.id)}">
                <span class="label label-info"><i class="icon-download-alt"></i> ${newsletter.subscriber_file()}</span></a>
              </td>
              <td>${newsletter.subscriber_count}</td>
              <td>
              % if newsletter.status == 'editing':
                  <span class="label label-important">作成中</span>
              % elif newsletter.status == 'waiting':
                  <span class="label label-success">配信予約中</span>
              % elif newsletter.status == 'completed':
                  <span class="label label-success">配信完了</span>
              % endif
              </td>
              <td>${newsletter.start_on}</td>
            </tr>
          % endfor
          </tbody>
        </table>
    </div>
    ${pager(newsletters)}
  </span>
</div>

<div class="ui-toolbar">
  <div class="btn-group pull-right">                                                                     
    <button class="btn"><i class="icon-pencil"></i> 編集</button>
    <button class="btn"><a href="${request.route_path('newsletters.new')}"><i class="icon-plus"></i> 新規</a></button>
    <button class="btn"><a href=""><i class="icon-plus"></i> コピー</a></button>
    <button class="btn"><a href=""><i class="icon-minus"></i> 削除</a></button>
  </div>
</div>

<%def name="sortable(column)">
    <% column_name = form[column].label.text %>
    <% sort_column = request.GET.get("sort") if request.GET.get("sort") else "name" %>
    <% sort_direction = request.GET.get("direction") if request.GET.get("direction") else "asc" %>  
    <% css_class = "" %>
    % if (column == sort_column):
        <% css_class = "current " + sort_direction %>
    % endif
    
    <% direction = "asc" %>
    % if (column == sort_column and sort_direction == "asc"):
        <% direction = "desc" %>
    % endif

    <a href="${request.route_path('newsletters.index')}?sort=${column}&direction=${direction}" class="${css_class}">${column_name}</a>
</%def>

