<%inherit file="../layout.html" />

<%def name="error(f)">
% if f.errors:
  <ul class="errors">
  % for error in f.errors:
    <li>${error}</li>
  % endfor:
  </ul>
% endif:
</%def>

<script>
  $(function() {
    $('#start_on').datepicker({dateFormat:'yy-mm-dd'});
  });
</script>

<div class="row-fluid">
  <%include file="_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>メールマガジン新規作成</h3>
    </div>

    % for field in form:
    %   if field.errors:
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">エラー</h4>
            <ul>
    %       for e in field.errors:
              <li>${field.label.text} : ${e}</li>
    %       endfor:
          </ul>
          </div>
    %   endif:
    % endfor

    <div class="well">
      <form action="${request.route_url('newsletters.new')}" enctype="multipart/form-data" method="POST">
          <table class="table">
              <tr>
                  <th>${form.subject.label}</th>
                  <td>${form.subject}
                      ${error(form.subject)}</td>
              </tr>
              <tr>
                  <th>${form.description.label}</th>
                  <td>${form.description(rows=10, cols=100)}
                      ${error(form.description)}</td>
              </tr>
              <tr>
                  <th>${form.status.label}</th>
                  <td>${form.status}
                      ${error(form.status)}</td>
              </tr>
              <tr>
                  <th>${form.subscriber_file.label}</th>
                  <td>${form.subscriber_file}
                      ${error(form.subscriber_file)}</td>
              </tr>
              <tr>
                  <th>${form.start_on.label}</th>
                  <td>${form.start_on()}
                      ${error(form.start_on)}</td>
              </tr>
          </table>
          <input class="btn btn-primary" type="submit" name="submit" value="新規作成">
      </form>
    </div>
  </span>
</div>
