<%inherit file="../layout.html" />

<div class="row-fluid">
  <%include file="_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>${newsletter.subject}</h3> 
    </div>

    <div class="well">
      <table class="table">
        <tbody>
          <tr>
            <th>${form.subject.label}</th>
            <td>${newsletter.subject}</td>
          </tr>
          <tr>
            <th>${form.description.label}</th>
            <td>${newsletter.description}</td>
          </tr>
          <tr>
            <th>${form.status.label}</th>
            <td>${newsletter.status}</td>
          </tr>
          <tr>
            <th>${form.subscriber_file.label}</th>
            <td>${newsletter.subscriber_file()}</td>
          </tr>
          <tr>
            <th>${form.subscriber_count.label}</th>
            <td>${newsletter.subscriber_count}</td>
          </tr>
          <tr>
            <th>${form.start_on.label}</th>
            <td>${newsletter.start_on}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </span>
</div>

<div class="ui-toolbar">
  <div class="btn-group pull-right">
    <button class="btn">
      <a href="${request.route_path('newsletters.edit', id=newsletter.id)}"><i class="icon-pencil"></i> 編集</a>
    </button>
    <button class="btn"><a href="${request.route_path('newsletters.new')}"><i class="icon-plus"></i> 新規</a></button>
    <button class="btn"><a href=""><i class="icon-plus"></i> コピー</a></button>
    <button class="btn"><a href=""><i class="icon-minus"></i> 削除</a></button>
  </div>
</div>

