<%inherit file="./base.html" />
<%namespace file="./tags_mobile.html" name="mobile" />
<div align="center" style="text-align:center">
${event.title}<br />
${lot.name}
</div>
<%mobile:header>申込を完了しました</%mobile:header>
%for option_index_zb, wish in enumerate(entry.wishes):
<%mobile:form_header>第${option_index_zb + 1}希望</%mobile:form_header>
<div>
${wish.performance.name}<br />
${h.japanese_date(wish.performance.start_on)}<br />
会場: ${wish.performance.venue.name}<br />
開演: ${h.japanese_time(wish.performance.start_on)} (予定)<br />
希望券種と枚数:<br />
% for rec in wish.products:
・${rec.product.name} ${rec.quantity}枚<br />
% endfor
</div>
%endfor
<%mobile:header>お支払</%mobile:header>
<div>
${entry.payment_delivery_method_pair.payment_method.name}
${h.format_currency(entry.payment_delivery_method_pair.transaction_fee)}
</div>
<%mobile:header>お引取り方法</%mobile:header>
<div>
${entry.payment_delivery_method_pair.delivery_method.name}
${h.format_currency(entry.payment_delivery_method_pair.delivery_fee)}
</div>
<hr />
<a href="${request.context.host_base_url}" accesskey="0">トップに戻る</a>
