<%inherit file="./base.html" />
<%namespace file="./tags_mobile.html" name="mobile" />
<div align="center" style="text-align:center">
${event.title}<br />
${lot.name}
</div>
<%mobile:header>申込内容最終確認</%mobile:header>
%for option_index_zb, wish in enumerate(wishes):
<%mobile:form_header>第${option_index_zb + 1}希望</%mobile:form_header>
<div>
${wish[0]['performance'].name}<br />
${h.japanese_date(wish[0]['performance'].start_on)}<br />
会場: ${wish[0]['performance'].venue.name}<br />
開演: ${h.japanese_time(wish[0]['performance'].start_on)} (予定)<br />
希望券種と枚数:<br />
% for rec in wish:
・${rec['product'].name} ${rec['quantity']}枚<br />
% endfor
</div>
%endfor
<%mobile:header>お支払方法</%mobile:header>
<div>
${payment_delivery_method_pair.payment_method.name}
${h.format_currency(payment_delivery_method_pair.transaction_fee)}
</div>
<%mobile:header>お引取方法</%mobile:header>
<div>
${payment_delivery_method_pair.delivery_method.name}
${h.format_currency(payment_delivery_method_pair.delivery_fee)}
</div>
<%mobile:header>購入者情報</%mobile:header>
<%mobile:form_header>氏名(漢字)</%mobile:form_header>
<div>
${shipping_address['last_name']} ${shipping_address['first_name']}
</div>
<%mobile:form_header>氏名(カナ)</%mobile:form_header>
<div>
${shipping_address['last_name_kana']} ${shipping_address['first_name_kana']}
</div>
<%mobile:form_header>性別</%mobile:form_header>
<div>
${h.format_gender(request, gender)}
</div>
<%mobile:form_header>生年月日</%mobile:form_header>
<div>
${h.japanese_date(birthday)}
</div>
<%mobile:form_header>電話番号</%mobile:form_header>
<div>
${shipping_address['tel_1']}
</div>
<%mobile:form_header>配送先住所</%mobile:form_header>
<div>
${shipping_address['zip']} ${shipping_address['prefecture']}${shipping_address['city']}${shipping_address['address_1']}${shipping_address['address_2']}
</div>
<form method="post" action="${request.path}">
<input type="hidden" name="token" value="${token}" />
<div align="center" style="text-align:center">
<input type="submit" name="back" value="戻る" />
<input type="submit" value="確定する" />
</div>
</form>
