<%inherit file="./base.html" />
<%namespace file="./tags_mobile.html" name="mobile" />
<%def name="enclose_if(tag, condition, **kwargs)">${h._enclose_if(capture(caller.body), tag, condition, **kwargs)}</%def>
<div align="center" style="text-align:center">
抽選申込確認
</div>
<%mobile:header>詳細</%mobile:header>
<%mobile:form_header>申込番号</%mobile:form_header>
<div>${entry.entry_no}</div>
<%mobile:form_header>状態</%mobile:form_header>
<div>
<%self:enclose_if tag="font" color="red" condition="${entry.is_elected}">
${h.lot_entry_status_as_string(request, entry.status)}
</%self:enclose_if>
%if entry.is_elected:
<a href="${payment_url}">申込確定へ</a>
%endif
</div>
<%mobile:form_header>対象公演・試合</%mobile:form_header>
<div>
${entry.lot.event.title}<br />
${entry.lot.name}<br />
</div>
<%mobile:form_header>お支払方法</%mobile:form_header>
<div>${entry.payment_delivery_method_pair.payment_method.name}</div>
<%mobile:form_header>お引取方法</%mobile:form_header>
<div>${entry.payment_delivery_method_pair.delivery_method.name}</div>
<%mobile:form_header>注意事項</%mobile:form_header>
<div>${entry.lot.description}</div>
<%mobile:header>希望選択</%mobile:header>
%for option_index_zb, wish in enumerate(entry.wishes):
<%mobile:form_header>第${option_index_zb + 1}希望</%mobile:form_header>
<div>
${wish.performance.name}<br />
${h.japanese_date(wish.performance.start_on)}<br />
会場: ${wish.performance.venue.name}<br />
開演: ${h.japanese_time(wish.performance.start_on)} (予定)<br />
希望券種と枚数:<br />
% for rec in wish.products:
・${rec.product.name} ${rec.quantity}枚<br />
% endfor
</div>
%endfor
