<%def name="get_resale_segment_status(resale_segment)">
<%
  if resale_segment.sent_status == 1:
    color_class = "btn-warning"
    disabled = ''
    status_str = u'連携'
  elif resale_segment.sent_status == 2:
    color_class = "btn-inverse"
    disabled = 'disabled="disabled"'
    status_str = u'連携済み'
  elif resale_segment.sent_status == 3:
    color_class = "btn-danger"
    disabled = ''
    status_str = u'再連携必須'
  else:
    color_class = "btn-danger"
    disabled = ''
    status_str = u'連携失敗'
  return status_str, color_class, disabled
%>
</%def>

<%def name="get_resale_request_status(resale_request)">
<%
  if resale_request.status == 2:
    status_str = u"リセール"
    color_class = "label-success"
  elif resale_request.status == 3:
    status_str = u"返却"
    color_class = "label-info"
  elif resale_request.status == 4:
    status_str = u"キャンセル"
    color_class = "label-important"
  else:
    status_str = u"不明エラー"
    color_class = "label-inverse"

  if not resale_request.sent_status == 2 and resale_request.status in [1, 2, 3, 4]:
    status_str = u"（仮）" + status_str

  return status_str, color_class
%>
</%def>

<%def name="get_resale_request_sent_status(resale_request)">
<%
  if resale_request.sent_status == 3:
    status_str = u"再連携必須"
    color_class = "btn-danger"
  elif resale_request.sent_status == 4:
    status_str = u"連携失敗"
    color_class = "btn-danger"
  else:
    status_str = u"連携"
    color_class = "btn-warning"

  return status_str, color_class
%>
</%def>

<%doc>ここのjavascriptメソッド（onclickで呼ぶメソッド）は_show.htmlで定義されてる</%doc>

<%def name="build_resale_segment_content(resale_segment)">
<% status_str, status_color, disabled = get_resale_segment_status(resale_segment) %>
<h5 id="resale-segment-${resale_segment.id}"
    class="resale-segment__info"
    data-resale_segment_id="${resale_segment.id}"
    data-resale_start_at="${resale_segment.resale_start_at}"
    data-resale_end_at="${resale_segment.resale_end_at}"
    data-start_at="${resale_segment.start_at}"
    data-end_at="${resale_segment.end_at}">
  <ul style="display:table">
    % if resale_segment.resale_performance_id:
      <li style="display:table-row">リセール連携公演ID：${resale_segment.resale_performance_id}</li>
      <li style="display:table-row">リセール開始日時：${resale_segment.resale_start_at}</li>
    % endif
    <li style="display:table-row">リセール開始日時：${resale_segment.resale_start_at}</li>
    <li style="display:table-row">リセール終了日時：${resale_segment.resale_end_at}</li>
    <li style="display:table-row">申込開始日時：${resale_segment.start_at}</li>
    <li style="display:table-row">申込終了日時：${resale_segment.end_at}</li>
    <br/>
    <li style="display:table-row">
      <button class="btn btn-edit" onclick="open_modal_create_or_update_resale_segment($(this), 'update')"><i class="icon-pencil"></i>編集</button>
      % if not resale_segment.resale_performance_id:
        <button class="btn" onclick="open_modal_create_or_update_resale_performance($(this), 'create')"><i class="icon-pencil"></i>リセール公演ID登録</button>
      % else:
        <button class="btn" onclick="open_modal_create_or_update_resale_performance($(this), 'update')"><i class="icon-pencil"></i>リセール公演ID編集</button>
      % endif
      <button class="btn ${status_color} btn-send" ${disabled} onclick="send_resale_segment_to_orion($(this), 'update')"><i class="icon-refresh icon-white"></i>${status_str}</button>
      % if not resale_segment.editable:
        <button class="btn btn-warning btn-send" onclick="open_modal_send_resale_request_to_orion($(this), true)"><i class="icon-refresh icon-white"></i>リセールリクエスト一括連携</button>
      % else:
    </li>
  </ul>
</h5>
</%def>

<%def name="build_resale_request_status_content(resale_request)">
% if resale_request.status != 1:
  <% status_str, status_color = get_resale_request_status(resale_request) %>
  <span class="label ${status_color}">${status_str}</span>
  % if resale_request.sent_status != 2:
    <% sent_status_str, sent_status_color = get_resale_request_sent_status(resale_request) %>
    <div class="btn-group">
      <button class="btn btn-small btn-reset" onclick="operate_resale_request($(this), 'waiting')">リセット</button>
      <button class="btn btn-small ${sent_status_color} btn-send" onclick="open_modal_send_resale_request_to_orion($(this), false)">${sent_status_str}</button>
    </div>
  % endif
% else:
  <div class="btn-group">
    <button class="btn btn-small btn-primary" onclick="operate_resale_request($(this), 'sold')">リセール</button>
    <button class="btn btn-small btn-info" onclick="operate_resale_request($(this), 'back')">返却</button>
    <button class="btn btn-small btn-danger" onclick="operate_resale_request($(this), 'cancel')">キャンセル</button>
  </div>
% endif
</%def>