<%def name="get_resale_request_status(resale_request)">
<%
  if resale_request.status == 2:
    status_str = u"リセール"
    color_class = "label-success"
  elif resale_request.status == 3:
    status_str = u"返却"
    color_class = "label-info"
  elif resale_request.status == 4:
    status_str = u"キャンセル"
    color_class = "label-important"
  else:
    status_str = u"不明エラー"
    color_class = "label-inverse"

  if not resale_request.sent_status == 2 and resale_request.status in [1, 2, 3, 4]:
    status_str = u"（仮）" + status_str

  return status_str, color_class
%>
</%def>

<%def name="get_resale_request_sent_status(resale_request)">
<%
  if resale_request.sent_status == 3:
    status_str = u"再連携必須"
    color_class = "btn-danger"
  elif resale_request.sent_status == 4:
    status_str = u"連携失敗"
    color_class = "btn-danger"
  else:
    status_str = u"連携"
    color_class = "btn-warning"

  return status_str, color_class
%>
</%def>

<%doc>ここのjavascriptメソッド（onclickで呼ぶメソッド）は_show.htmlで定義されてる</%doc>

<%def name="build_resale_segment_content(resale_detail)">
<%
if resale_detail.ResaleSegment.resale_start_at:
  data_resale_start_at = 'data-resale_start_at="{}"'.format(resale_detail.ResaleSegment.resale_start_at)
else:
  data_resale_start_at = ''

if resale_detail.ResaleSegment.resale_end_at:
  data_resale_end_at = 'data-resale_end_at="{}"'.format(resale_detail.ResaleSegment.resale_end_at)
else:
  data_resale_end_at = ''

if resale_detail.Performance:
  data_resale_performance_id = 'data-resale_performance_id="{}"'.format(resale_detail.Performance.id)
  data_resale_performance_code = 'data-resale_performance_code="{}"'.format(resale_detail.Performance.code)
  data_resale_performance_name = u'data-resale_performance_name="{}"'.format(resale_detail.Performance.name)
else:
  data_resale_performance_id = data_resale_performance_code = data_resale_performance_name = ''
%>
<table id="resale-segment-${resale_detail.ResaleSegment.id}"
       class="resale-segment__info table table-striped table-bordered"
       data-resale_segment_id="${resale_detail.ResaleSegment.id}"
       ${data_resale_start_at|n}
       ${data_resale_end_at|n}
       data-reception_start_at="${resale_detail.ResaleSegment.reception_start_at}"
       data-reception_end_at="${resale_detail.ResaleSegment.reception_end_at}"
       ${data_resale_performance_id|n}
       ${data_resale_performance_code|n}
       ${data_resale_performance_name|n}
       style="width:40%;">

    % if resale_detail.Performance:
    <tr>
        <th width="30%">リセール連携公演</th>
        <td>
        <a href="${request.route_path('performances.show', performance_id=resale_detail.Performance.id)}">${resale_detail.Performance.name}</a>
        </td>
    </tr>
    <tr>
        <th>公演コード</th>
        <td>${resale_detail.Performance.code}</td>
    </tr>
    % endif
    <tr>
      <th width="30%">申込開始日時</th>
      <td>${vh.datetime(resale_detail.ResaleSegment.reception_start_at, with_weekday=True)}</td>
    </tr>
    <tr>
      <th>申込終了日時</th>
      <td>${vh.datetime(resale_detail.ResaleSegment.reception_end_at, with_weekday=True)}</td>
    </tr>
    % if resale_detail.ResaleSegment.resale_start_at:
    <tr>
        <th>リセール開始日時</th>
        <td>${vh.datetime(resale_detail.ResaleSegment.resale_start_at, with_weekday=True)}</td>
    </tr>
    % endif
    % if resale_detail.ResaleSegment.resale_end_at:
    <tr>
        <th>リセール終了日時</th>
        <td>${vh.datetime(resale_detail.ResaleSegment.resale_end_at, with_weekday=True)}</td>
    </tr>
    % endif
</table>

<div id="resale-segment-${resale_detail.ResaleSegment.id}-button">
    <button class="btn btn-edit" onclick="open_modal_create_or_update_resale_segment($(this), 'update')"><i class="icon-pencil"></i>リセール設定</button>
    % if resale_detail.ResaleSegment.resale_performance_id:
    <button class="btn" onclick="open_modal_for_creating_or_updating_resale_performance($(this), 'update')"><i class="icon-pencil"></i>リセール公演変更</button>
    % else:
    <button class="btn" onclick="open_modal_for_creating_or_updating_resale_performance($(this), 'create')"><i class="icon-pencil"></i>リセール公演登録</button>
    % endif
    % if resale_detail.ResaleSegment.resale_requests:
    <button class="btn btn-warning btn-send" onclick="open_modal_send_resale_request_to_orion($(this), true)"><i class="icon-refresh icon-white"></i>リセールリクエスト一括連携</button>
    % endif
</div>
</%def>

<%def name="build_resale_request_status_content(resale_request)">
% if resale_request.status != 1:
  <% status_str, status_color = get_resale_request_status(resale_request) %>
  <span class="label ${status_color}">${status_str}</span>
  % if resale_request.sent_status != 2:
    <% sent_status_str, sent_status_color = get_resale_request_sent_status(resale_request) %>
    <div class="btn-group">
      <button class="btn btn-small btn-reset" onclick="operate_resale_request($(this), 'waiting')">リセット</button>
      <button class="btn btn-small ${sent_status_color} btn-send" onclick="open_modal_send_resale_request_to_orion($(this), false)">${sent_status_str}</button>
    </div>
  % endif
% else:
  <div class="btn-group">
    <button class="btn btn-small btn-primary" onclick="operate_resale_request($(this), 'sold')">リセール</button>
    <button class="btn btn-small btn-info" onclick="operate_resale_request($(this), 'back')">返却</button>
    <button class="btn btn-small btn-danger" onclick="operate_resale_request($(this), 'cancel')">キャンセル</button>
  </div>
% endif
</%def>