<%page args="performance, stats" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="_helpers.html" name="rh" />

<style type="text/css">
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  .resale-segment-list-box {
    padding: 0;
    margin: 20px auto;
  }
  /* modal-bg */
  #modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.3;
  }
  /* modal-error-msgs-box */
  .modal-error-msgs-box {
    padding: 0;
    margin: 10px auto;
    text-align: center;
  }
  .modal-error-msgs-box ul li {
    color: #b94a48;
    font-weight: bold;
    font-size: 1rem;
  }
  /* request-search */
  .request-search-nav {
    margin-left: 0 !important;
  }
  .request-search-nav .navbar-text:not(:first-child) {
    margin-left: 5px !important;
  }
  /* resale-request-list-box */
  .resale-request-list-box table {
    table-layout: fixed;
  }
  .resale-request-list-box table thead th {
    white-space: nowrap;
  }
  /* modal-resale-request */
  .modal-resale-request-bank-info table th {
    width: 50%;
  }
  /* modal-resale-request-export */
  .modal-resale-request-export table th:first-child {
    width: 30%;
  }
  /* unknow exception modal */
  .modal-unknown-exception .modal-body-content h4 {
    color: #b94a48;
    font-weight: bold;
    font-size: 1rem;
  }
</style>

<div id="main">
  <div class="title">
    <h4>リセール詳細</h4>
  </div>
  <div class="content">
    <div class="wrap-content">
      <div class="resale-segment-list-box">
        % if not resale_details:
        <button onclick="open_modal_create_or_update_resale_segment($(this), 'create')" class="btn btn-important resale-segment-add-btn"><i class="icon-plus"></i>登録</button>
        % endif
        <div id="resale-segment-list" data-selected_resale_segment_id="${selected_resale_segment_id}">
          <div class="resale-segment-message-box"></div>
          % for resale_detail in resale_details:
          <div class="resale-segment-detail-box">
            ${rh.build_resale_segment_content(resale_detail)}
          </div>
          % endfor
        </div>
      </div>
      <hr/>

      <div class="title">
        <h4>リセールリクエストリスト</h4>
      </div>
      <div class="navbar span5 request-search-nav">
        <div class="navbar-inner">
          <div class="container">
            <form method="get" class="navbar-search pull-left form-inline">
              <div>
                <span class="navbar-text">
                  ${search_form.order_no.label}
                  ${search_form.order_no(class_="search-query input-medium")}
                </span>
                <button type="submit">検索</button>
                <button type="button" onclick="open_modal_export_info('/resale/api/requests/export', $(this).text())">エクスポート</button>
                <button type="button" onclick="open_modal_export_info('/resale/api/requests/venue/export', $(this).text())">会場用データエクスポート</button>
              </div>
              <div>
                <span class="navbar-text">
                  <strong>ステータス：</strong>
                </span>
                <span class="navbar-text">
                  ${search_form.waiting.label}
                  ${search_form.waiting(class_="search-query input-medium")}
                </span>
                <span class="navbar-text">
                  ${search_form.sold.label}
                  ${search_form.sold(class_="search-query input-medium")}
                </span>
                <span class="navbar-text">
                  ${search_form.back.label}
                  ${search_form.back(class_="search-query input-medium")}
                </span>
                <span class="navbar-text">
                  ${search_form.cancel.label}
                  ${search_form.cancel(class_="search-query input-medium")}
                </span>
              </div>
              <div>
                <span class="navbar-text">
                  <strong>連携ステータス：</strong>
                </span>
                <span class="navbar-text">
                  ${search_form.not_sent.label}
                  ${search_form.not_sent(class_="search-query input-medium")}
                </span>
                <span class="navbar-text">
                  ${search_form.sent.label}
                  ${search_form.sent(class_="search-query input-medium")}
                </span>
                <span class="navbar-text">
                  ${search_form.fail.label}
                  ${search_form.fail(class_="search-query input-medium")}
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      % if resale_requests:
      <div class="resale-request-list-box">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
              <th>
                  ステータス
              </th>
              <th>
                  リクエスト日時
              </th>
              <th>
                  予約番号
              </th>
              <th >
                  席種
              </th>
              <th>
                  商品明細名
              </th>
              <th>
                  座席名
              </th>
              <th>
                  リセール振込情報
              </th>
          </tr>
          </thead>
          <tbody>
          % for (resale_request, ordered_product_item_token) in resale_requests:
          <%
          order = ordered_product_item_token.item.ordered_product.order
          %>
          <tr id="resale-request-${resale_request.id}" data-resale_request_id="${resale_request.id}" data-status="${resale_request.status}">
            <td>
              ${rh.build_resale_request_status_content(resale_request)}
            </td>
            <td>
              ${vh.datetime(resale_request.created_at, with_weekday=True)}
            </td>
            <td>
              <a target="_blank" href="${request.route_path('orders.show', order_id=order.id)}">${order.order_no}</a>
            </td>
            <td>
              ${ordered_product_item_token.item.product_item.stock_type.name}
            </td>
            <td>
              ${ordered_product_item_token.item.product_item.name}
            </td>
            <td>
              <% seat_name = ordered_product_item_token.seat.name if ordered_product_item_token.seat else "-" %>
              ${seat_name}
            </td>
            <td>
              <button onclick="open_modal_show_bank_info(${resale_request.id})"><i class="icon-th-list"></i></button>
            </td>
          </tr>
          % endfor
          </tbody>
        </table>
      </div>
        ${ch.pager(resale_requests)}
      % else:
      <div>
        <h4>リセールリクエストリストの情報は見つかりませんでした。</h4>
      </div>
      % endif
    </div>
  </div>
</div>

<!-- modals -->
<div id="modal-bg" class="hide"></div>
<div id="base-modal" class="modal hide">
  <div class="modal-header">
    <h3></h3>
  </div>
  <div class="modal-body">
    <div class="wrap-modal-body">
      <div class="modal-error-msgs-box"><ul class="hide"></ul></div>
      <div class="modal-body-content"></div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-area">
    </div>
  </div>
</div>
<!-- modals -->
<!-- templates -->
<div id="reuse-box" class="hide">
<form id="reuse-item-1" class="form-horizontal" method="POST">
  ${ch.form_item(form.resale_segment_id)}
  ${ch.form_item(form.performance_id)}
  ${ch.form_item(form.reception_start_at)}
  ${ch.form_item(form.reception_end_at)}
  ${ch.form_item(form.resale_start_at)}
  ${ch.form_item(form.resale_end_at)}
  <div><label id="reuse-message"></label></div>
</form>
<form id="reuse-item-2" class="form-horizontal" method="POST">
  ${ch.form_item(form.resale_segment_id)}
  ${ch.form_item(form.performance_id)}
  ${ch.form_item(form.resale_performance_code)}
  <input type="hidden" name="reception_start_at">
  <input type="hidden" name="reception_end_at">
</form>
</div>

<div id="resale-request-btn-group-template-1" class="btn-group hide">
  <button class="btn btn-small btn-reset" onclick="operate_resale_request($(this), 'waiting')">リセット</button>
  <button class="btn btn-small btn-warning btn-send" onclick="open_modal_send_resale_request_to_orion($(this), false)">連携</button>
</div>
<div id="resale-request-btn-group-template-2" class="btn-group hide">
  <button class="btn btn-small btn-primary" onclick="operate_resale_request($(this), 'sold')">リセール</button>
  <button class="btn btn-small btn-info" onclick="operate_resale_request($(this), 'back')">返却</button>
  <button class="btn btn-small btn-danger" onclick="operate_resale_request($(this), 'cancel')">キャンセル</button>
</div>
<!-- templates -->

<script type="text/javascript">

  let fields = ['year', 'month', 'day', 'hour', 'minute', 'second'];
  let datetimewidget_prefix = 'datetimewidget-';
  const dayOfWeek = ['日', '月', '火', '水', '木', '金', '土'];

    // --- common start ---
  if (String.prototype.format === undefined) {
      String.prototype.format = function(arg) {
          let rep_fn = undefined;
          if (typeof arg === "object") {
              rep_fn = function(m, k) { return arg[k]; };
          } else {
              let args = arguments;
              rep_fn = function(m, k) { return args[parseInt(k)]; };
          }
          return this.replace(/\{(\w+)\}/g, rep_fn);
      }
  }

  function concat_datetime(y, m, d, H, M, S) {
      if (!y && !m && !d && !H && !M) {return null;}
      if (!H) {H = "00"}
      if (!M) {M = "00"}
      if (!S) {S = "00"}
      return "{0}-{1}-{2} {3}:{4}:{5}".format(y, m, d, H, M, S);
  }

  function split_datetime(datetime) {
      let items = datetime.split(' '),
          date = items[0],
          time = items[1],
          ret = {};

      items = date.split('-');
      ret['y'] = items[0];
      ret['m'] = items[1];
      ret['d'] = items[2];

      items = time.split(':');
      ret['H'] = items[0];
      ret['M'] = items[1];
      ret['S'] = items[2];

      return ret;
  }

  function form_datetime_with_weekday(datetime) {
      let dt = new Date(datetime);
      return '{0}年{1}月{2}日({3}) {4}:{5}'.format(
          dt.getFullYear(),
          dt.getMonth() + 1,
          dt.getDate(),
          dayOfWeek[dt.getDay()],
          dt.getHours(),
          (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes()
      )
  }

  function get_current_local_datetime() {
      let now = new Date();
      return concat_datetime(
          now.getFullYear(),
          now.getMonth() + 1,
          now.getDate(),
          now.getHours(),
          now.getMinutes(),
          now.getSeconds()
      )
  }

  function flush_result_message(message) {
      let element = $(".resale-segment-message-box");
      element.empty();
      element.append(
          $("<div>").addClass("flushed_msgs")
              .append($("<h4>").text(message).css("color", "#b94a48").css("margin", "5")
                      .append($("<i>").addClass("icon-remove-sign")))
              .on('click', function () {
                  this.remove();
              })
          )
  }

  function handle_exception(xhr) {
      let ret = {},
          status = "",
          emsgs = "";

      try {
          ret = JSON.parse(xhr.responseText);
      } catch (e) {
          status = xhr.status;
          if (status === 404) {
              emsgs = "該当内容は見つかりませんでした。"
          } else if (status === 500) {
              emsgs = "システムエラーでした。"
          } else {
              emsgs = xhr.statusText;
          }
          ret = {
              "status": status,
              "emsgs": emsgs
          };
      }

      return ret;
  }
  // --- common end ---

  // --- modal start ---
  let _modal = (function(){
      let modal_element = $("#base-modal");
      let header_element = modal_element.find(".modal-header h3");
      let body_element = modal_element.find(".modal-body-content");
      let button_area_element = modal_element.find(".btn-area");
      let error_msg_box_element = modal_element.find(".modal-error-msgs-box ul");
      let control_group = modal_element.find(".control-group");
      let modal_bg = $("#modal-bg");

      let add_header_text = function(text) {
          header_element.text(text);
      };

      let clear_header_text = function() {
          header_element.text("");
      };

      let add_body_content = function(element) {
          body_element.append(element);
      };

      let clear_body_content = function() {
          body_element.empty();
      };

      let add_button_area_content = function(element) {
          button_area_element.append(element);
      };

      let clear_button_area_content = function() {
          button_area_element.empty();
      };

      let open_content = function() {
          modal_element.find("button").on("click", function() {
              $(this).attr("disabled", true)
          });
          modal_element.show();
          modal_bg.show();
      };

      let close_content = function() {
          clear_content();
          modal_element.hide();
          modal_bg.hide();
      };

      let add_message_content_with_element = function(element) {
          error_msg_box_element.append(element);
      };

      let clear_message_content = function() {
          error_msg_box_element.empty().hide();
          control_group.removeClass("error");
      };

      let show_message_content = function() {
          error_msg_box_element.show();
      };

      let clear_content = function() {
          clear_message_content();
          modal_element.find("[id^=reuse-item-]").each(function () {
              $(this).detach().appendTo("#reuse-box");
          });
          clear_header_text();
          clear_body_content();
          clear_button_area_content();
          modal_element.removeAttr("class").addClass("modal");
      };

      let add_modal_class = function(attribute) {
          modal_element.addClass(attribute);
      };

      let get_form_content = function() {
          return modal_element.find("form");
      };

      let switch_all_button_with_boolean = function(is_active) {
          modal_element.find("button").prop("disabled", !is_active);
      };

      return {
          add_class: add_modal_class,
          open: open_content,
          close: close_content,
          add_header: add_header_text,
          add_content: add_body_content,
          clear_content: clear_body_content,
          add_button_content: add_button_area_content,
          add_error_message_with_element: add_message_content_with_element,
          clear_error_message: clear_message_content,
          show_error_message: show_message_content,
          get_form: get_form_content,
          switch_all_button: switch_all_button_with_boolean,
      }
  })();

  let _resale_api = (function(){

      let fetchRequests = function(id, successBlock, failureBlock) {
          $.ajax({
              url: "/resale/api/requests/{0}".format(id),
              type: "GET",
              success:successBlock,
              error: failureBlock
          })
      };

      let createSegment = function(data, successBlock, failureBlock) {
          $.ajax({
              url: "/resale/api/segments/create",
              type: "POST",
              data: data,
              success:successBlock,
              error: failureBlock
          })
      };

      let updateSegment = function(id, data, successBlock, failureBlock) {
          $.ajax({
              url: "/resale/api/segments/{0}/update".format(id),
              type: "PUT",
              data: data,
              success:successBlock,
              error: failureBlock
          })
      };

      let postResaleSegmentWithData = function(data, successBlock, failureBlock) {
          $.ajax({
              url: "${request.route_path('performances.resale.send_resale_segment_to_orion')}",
              type: "POST",
              data: data,
              success: successBlock,
              error: failureBlock
          });
      };

      let postResaleRequestWithData = function(data, successBlock, failureBlock) {
          $.ajax({
              url: "${request.route_path('performances.resale.send_resale_request_to_orion')}",
              type: "POST",
              data: data,
              success: successBlock,
              error: failureBlock
          });
      };

      let postOperationWithData = function(data, successBlock, failureBlock) {
          $.ajax({
              url: "${request.route_path('performances.resale.requests.operate')}",
              type: "POST",
              data: data,
              success: successBlock,
              error: failureBlock
          });
      };

      let postAllResaleRequestWithData = function(data, successBlock, failureBlock) {
          $.ajax({
              url: "${request.route_path('performances.resale.send_all_resale_request_to_orion')}",
              type: "POST",
              data: data,
              success: successBlock,
              error: failureBlock
          });
      };

      return {
          fetch: fetchRequests,
          create: createSegment,
          update: updateSegment,
          postResaleSegment: postResaleSegmentWithData,
          postResaleRequest: postResaleRequestWithData,
          postOperation: postOperationWithData,
          postAllResaleRequest: postAllResaleRequestWithData
      }
  })();

  //FIXME: ticketing.common.jsの曜日の反映タイミングが微妙なので、正しい呼び出し順番にする必要がある。
  function refresh_dow() {
      $.each(fields, function (_, k) {
          $('.' + datetimewidget_prefix + 'container').find('.' + datetimewidget_prefix + k + '[value]').trigger('change');
      });
  }

  //// resale performance start, end date disabled
  function resale_start_end_date_disabled(form) {
      form.find("#resale_start_at\\.year").attr("disabled", true);
      form.find("#resale_start_at\\.month").attr("disabled", true);
      form.find("#resale_start_at\\.day").attr("disabled", true);
      form.find("#resale_start_at\\.hour").attr("disabled", true);
      form.find("#resale_start_at\\.minute").attr("disabled", true);
      form.find("#resale_start_at\\.second").attr("disabled", true);
      form.find('.control-group').eq(4).find("a").css("pointer-events", "none");

      form.find("#resale_end_at\\.year").attr("disabled", true);
      form.find("#resale_end_at\\.month").attr("disabled", true);
      form.find("#resale_end_at\\.day").attr("disabled", true);
      form.find("#resale_end_at\\.hour").attr("disabled", true);
      form.find("#resale_end_at\\.minute").attr("disabled", true);
      form.find("#resale_end_at\\.second").attr("disabled", true);
      form.find('.control-group').eq(5).find("a").css("pointer-events", "none");

      form.find("#reuse-message").text('リセール開始・終了日時はリセール公演設定後にご設定ください').attr('style', 'color:#ff0000; margin-left: 80px; font-weight: bold;');
  }

  //// modal for creating or updating resale segment
  function open_modal_create_or_update_resale_segment(button, action) {

      let form = $("#reuse-item-1").detach();
      if (action === "update") {
          let data = $(".resale-segment__info").data();
          form.find("#resale_segment_id").val(data['resale_segment_id']);

          if (data['resale_performance_code'] == undefined) {
              resale_start_end_date_disabled(form);
          }

          if (data['resale_start_at'] !== undefined) {
              let resale_start_at = split_datetime(data['resale_start_at']);
              form.find("#resale_start_at\\.year").val(resale_start_at.y);
              form.find("#resale_start_at\\.month").val(resale_start_at.m);
              form.find("#resale_start_at\\.day").val(resale_start_at.d);
              form.find("#resale_start_at\\.hour").val(resale_start_at.H);
              form.find("#resale_start_at\\.minute").val(resale_start_at.M);
              form.find("#resale_start_at\\.second").val(resale_start_at.S);
          }

          if (data['resale_end_at'] !== undefined) {
              let resale_end_at = split_datetime(data['resale_end_at']);
              form.find("#resale_end_at\\.year").val(resale_end_at.y);
              form.find("#resale_end_at\\.month").val(resale_end_at.m);
              form.find("#resale_end_at\\.day").val(resale_end_at.d);
              form.find("#resale_end_at\\.hour").val(resale_end_at.H);
              form.find("#resale_end_at\\.minute").val(resale_end_at.M);
              form.find("#resale_end_at\\.second").val(resale_end_at.S);
          }

          let reception_start_at = split_datetime(data['reception_start_at']);
          let reception_end_at = split_datetime(data['reception_end_at']);

          form.find("#reception_start_at\\.year").val(reception_start_at.y);
          form.find("#reception_start_at\\.month").val(reception_start_at.m);
          form.find("#reception_start_at\\.day").val(reception_start_at.d);
          form.find("#reception_start_at\\.hour").val(reception_start_at.H);
          form.find("#reception_start_at\\.minute").val(reception_start_at.M);
          form.find("#reception_start_at\\.second").val(reception_start_at.S);

          form.find("#reception_end_at\\.year").val(reception_end_at.y);
          form.find("#reception_end_at\\.month").val(reception_end_at.m);
          form.find("#reception_end_at\\.day").val(reception_end_at.d);
          form.find("#reception_end_at\\.hour").val(reception_end_at.H);
          form.find("#reception_end_at\\.minute").val(reception_end_at.M);
          form.find("#reception_end_at\\.second").val(reception_end_at.S);
      } else {
          resale_start_end_date_disabled(form);
      }

      let header_text = action === "create"? "リセール区分追加":"リセール区分編集";
      _modal.add_header(header_text);
      _modal.add_content(form);

      let onclick_method = action === "create"? "create_resale_segment()":"update_resale_segment()";
      _modal.add_button_content($("<button onclick='_modal.close()' class='btn secondary btn-close'>キャンセル</button>"));
      _modal.add_button_content($("<button class='btn btn-danger'>保存</button>").attr("onclick", onclick_method));
      refresh_dow();
      _modal.open();
  }

  //// modal for creating or updating resale by performance code
  function open_modal_for_creating_or_updating_resale_performance(button, action) {

      let header_text = action === "create"? "リセール公演登録":"リセール公演変更";
      let onclick_method = "add_or_update_resale_by_performance_code()";
      let form = $("#reuse-item-2").detach();
      let data = $(".resale-segment__info").data();

      form.find("#resale_segment_id").val(data['resale_segment_id']);
      form.find("input[name=reception_start_at]").val(data['reception_start_at']);
      form.find("input[name=reception_end_at]").val(data['reception_end_at']);

      if (action === "update") {
          form.find("#resale_performance_code").val(data['resale_performance_code']);
      }

      _modal.add_header(header_text);
      _modal.add_content(form);
      _modal.add_button_content($("<button onclick='_modal.close()' class='btn secondary btn-close'>キャンセル</button>"));
      _modal.add_button_content($("<button class='btn btn-danger'>保存</button>").attr("onclick", onclick_method));
      _modal.open()
  }

  //// modal for showing bank information of a resale request
  function open_modal_show_bank_info(resale_request_id) {
      _modal.add_class("modal-resale-request-bank-info");
      _modal.add_header("リセール振込情報");
      let body_content = $("<table class=\"table table-striped table-bordered\"></table>")
              .append($("<thead><tr><th>項目</th><th>内容</th></tr></thead>"))
              .append($("<tbody></tbody>")
                      .append($("<tr><td>銀行コード</td><td id=\"info-bank_code\"></td></tr>"))
                      .append($("<tr><td>支店コード</td><td id=\"info-bank_branch_code\"></td></tr>"))
                      .append($("<tr><td>口座種別</td><td id=\"info-account_type\"></td></tr>"))
                      .append($("<tr><td>口座番号</td><td id=\"info-account_number\"></td></tr>"))
                      .append($("<tr><td>名義人</td><td id=\"info-account_holder_name\"></td></tr>"))
                      .append($("<tr><td>振込額</td><td id=\"info-total_amount\"></td></tr>"))
              );
      _modal.add_content(body_content);
      _modal.add_button_content($("<button onclick=\"_modal.close()\" class=\"btn secondary btn-close\">閉じる</button>"));

      _resale_api.fetch(resale_request_id, function(data) {
          let modal = $("#base-modal");
          for (let key in data) {
              if (data.hasOwnProperty(key)) {
                  modal.find("#info-" + key ).text(data[key]);
              }
          }
          _modal.open()
      }, function(xhr) {
          let ret = handle_exception(xhr);
          if ("status" in ret) {
              _modal.add_error_message_with_element($("<li>").text("{0} - {1}".format(ret["status"],ret["emsgs"])));
          }
          if ("start_at" in ret) {
              for (var i = 0; i < ret["start_at"].length; i++) {
                  _modal.add_error_message_with_element($("<li>").text(ret["start_at"][i]));
              }
          }
          _modal.show_error_message();
          _modal.open();
      });
  }

  //// modal for exporting information of the resale requests
  function open_modal_export_info(url_path, text) {
      let order_no = $("#order_no").val().trim();
      let status_list = get_resale_request_status_verbose();
      let sent_status_list = get_resale_request_sent_status_verbose();

      if (order_no === "") {order_no = "条件なし";}

      _modal.add_class("modal-resale-request-export");
      _modal.add_header("エクスポート");
      let body_content = $("<table class=\"table table-striped table-bordered\"></table>")
              .append($("<thead><tr><th>条件</th><th>内容</th></tr></thead>"))
              .append($("<tbody></tbody>")
                      .append($("<tr><td>予約番号</td><td id=\"condition-order_no\">{0}</td></tr>".format(order_no)))
                      .append($("<tr><td>ステータス</td><td id=\"condition-status\">{0}</td></tr>".format(status_list.join(','))))
                      .append($("<tr><td>連携ステータス</td><td id=\"condition-sent_status\">{0}</td></tr>".format(sent_status_list.join(','))))
              );
      _modal.add_content(body_content);
      _modal.add_button_content($("<button onclick=\"_modal.close()\" class=\"btn secondary btn-close\">キャンセル</button>"));
      _modal.add_button_content($("<button onclick=\"export_resale_request(build_export_url(\'" + url_path + "\'))\" class=\"btn btn-primary\">" + text + "</button>"));
      _modal.open();
  }

  //// modal for sending resale requests to orion
  function open_modal_send_resale_request_to_orion(button, all) {
      if (all) {
          let resale_segment_id = button.parents("table").data("resale_segment_id");
          _modal.add_header("リセールリクエスト一括連携");
          _modal.add_content($("<p>リセールリクエスト一括連携したら、対象のリセールリクエストのステータスを変更できなくなります。</p>"));
          _modal.add_button_content($("<button onclick=\"_modal.close()\" class=\"btn secondary btn-close\">キャンセル</button>"));
          _modal.add_button_content($("<button onclick=\"send_all_resale_request_to_orion({0})\" class=\"btn btn-danger send-to-orion\">連携</button>".format(resale_segment_id)));
      } else {
          let resale_request_id = button.parents("tr").data("resale_request_id");
          _modal.add_header("リセールリクエスト連携");
          _modal.add_content($("<p>リセールリクエスト連携したら、該当リセールリクエスト（ID: {0}）のステータスを変更できなくなります。</p>".format(resale_request_id)));
          _modal.add_button_content($("<button onclick=\"_modal.close()\" class=\"btn secondary btn-close\">キャンセル</button>"));
          _modal.add_button_content($("<button onclick=\"send_resale_request_to_orion({0})\" class=\"btn btn-danger\">連携</button>".format(resale_request_id)));
      }
      _modal.open();
  }

  //// modal for unknown exception notification
  function open_modal_unknown_exception_notification(ret) {
      _modal.close();
      _modal.clear_content();
      _modal.add_class("modal-unknown-exception");
      _modal.add_header("予想外エラーが発生してしまいました。");
      _modal.add_content($("<h4>{0} - {1}</h4>".format(ret['status'], ret['emsgs'])));
      _modal.add_button_content($("<button onclick=\"_modal.close()\" class=\"btn secondary btn-close\">確定</button>"));
      _modal.open();
  }

  // --- modal end ---

  // --- operation functions start ---
  function update_send_button_status(button, status) {
      if (status === "sent") {
          button.removeClass("btn-danger btn-warning");
          button.addClass("btn-inverse");
          button.attr("disabled", true);
          button.html("<i class=\"icon-refresh icon-white\"></i>連携済み");
      } else if (status === "send_required") {
          button.removeClass("btn-warning btn-inverse");
          button.addClass("btn-danger");
          button.attr("disabled", false);
          button.html("<i class=\"icon-refresh icon-white\"></i>再連携必須");
      } else {
          button.removeClass("btn-warning btn-inverse");
          button.addClass("btn-danger");
          button.attr("disabled", false);
          button.html("<i class=\"icon-refresh icon-white\"></i>連携失敗");
      }
  }

  function update_resale_segment_display(data) {

      let tableId = $('#resale-segment-' + data['id']);
      let buttonId = 'resale-segment-' + data['id'] + '-button';
      if (tableId.length > 0) {
          tableId.empty();
          create_resale_segment_table(tableId, data);
      } else {
          let table = $('<table>').attr('id', tableId.selector.substr(1))
                  .addClass('resale-segment__info table table-striped table-bordered').css('width', '40%');
          create_resale_segment_table(table, data);

          $('.resale-segment-add-btn').remove();
          $('#resale-segment-list').data('selected_resale_segment_id', data['resale_segment_id']);

          if ($('.resale-segment-detail-box').length === 0) {
              $('.resale-segment-message-box').append($('<div>').addClass('resale-segment-detail-box'));
          }
          $('.resale-segment-detail-box').append(table).append($('<div>').attr('id', buttonId));
      }
      update_resale_segment_button(buttonId, !!data['resale_performance_id']);
  }

  function create_resale_segment_table(table, data) {

      table.data('resale_segment_id', data['id']);
      table.data('reception_start_at', data['reception_start_at']);
      table.data('reception_end_at', data['reception_end_at']);

      if (data['resale_performance_id']) {
          table.data('resale_performance_id', data['resale_performance_id']);
          table.append($('<tr>').append($('<th>').attr('width', '30%').text('リセール連携公演'))
                  .append($('<td>').html('<a href="/events/performances/show/' + data['resale_performance_id'] + '\">' + data['resale_performance_name'] + '</a>')));
          table.append($('<tr>').append($('<th>').text('公演コード'))
                  .append($('<td>').text(data['resale_performance_code'])));
          table.data('resale_performance_id', data['resale_performance_id']);
          table.data('resale_performance_code', data['resale_performance_code']);
          table.data('resale_performance_name', data['resale_performance_name']);
      }

      table.append($('<tr>').append($('<th>').attr('width', '30%').text('申込開始日時'))
              .append($('<td>').text(form_datetime_with_weekday(data['reception_start_at']))));
      table.append($('<tr>').append($('<th>').text('申込終了日時'))
              .append($('<td>').text(form_datetime_with_weekday(data['reception_end_at']))));

      if (data['resale_start_at']) {
          table.append($('<tr>').append($('<th>').text('リセール開始日時'))
                  .append($('<td>').text(form_datetime_with_weekday(data['resale_start_at']))));
          table.data('resale_start_at', data['resale_start_at']);
      }

      if (data['resale_end_at']) {
          table.append($('<tr>').append($('<th>').text('リセール終了日時'))
                  .append($('<td>').text(form_datetime_with_weekday(data['resale_end_at']))));
          table.data('resale_end_at', data['resale_end_at']);
      }
  }

  function update_resale_segment_button(buttonId, isResalePerformanceUpdate) {

      let resaleSegmentButton = $('#' + buttonId),
              sentRequestButton = resaleSegmentButton.find("button.btn-send").detach();
      resaleSegmentButton.empty();

      resaleSegmentButton.append($('<button>').addClass('btn btn-edit')
              .attr('onclick', 'open_modal_create_or_update_resale_segment($(this), "update")')
              .html('<i class=\"icon-pencil\"></i>' + 'リセール設定'))
              .append(' ');

      let action = isResalePerformanceUpdate ? 'update' : 'create',
              buttonVal = isResalePerformanceUpdate ? 'リセール公演変更' : 'リセール公演登録';

      resaleSegmentButton.append($('<button>').addClass('btn')
                  .attr('onclick', 'open_modal_for_creating_or_updating_resale_performance($(this), "' + action + '")')
                  .html('<i class=\"icon-pencil\"></i>' + buttonVal))
                  .append(' ');

      if (sentRequestButton.length > 0) resaleSegmentButton.append(sentRequestButton);
  }

  function create_data_from_dom(form) {

      let retval = {"performance_id": parseInt(form.find("#performance_id").val())};
      if (form.find("#resale_segment_id").val()) {
          retval.resale_segment_id = parseInt(form.find("#resale_segment_id").val());
      }
      let resale_start_at = concat_datetime(
              form.find("#resale_start_at\\.year").val(),
              form.find("#resale_start_at\\.month").val(),
              form.find("#resale_start_at\\.day").val(),
              form.find("#resale_start_at\\.hour").val(),
              form.find("#resale_start_at\\.minute").val()),
          resale_end_at = concat_datetime(
              form.find("#resale_end_at\\.year").val(),
              form.find("#resale_end_at\\.month").val(),
              form.find("#resale_end_at\\.day").val(),
              form.find("#resale_end_at\\.hour").val(),
              form.find("#resale_end_at\\.minute").val()),
          reception_start_at = concat_datetime(
              form.find("#reception_start_at\\.year").val(),
              form.find("#reception_start_at\\.month").val(),
              form.find("#reception_start_at\\.day").val(),
              form.find("#reception_start_at\\.hour").val(),
              form.find("#reception_start_at\\.minute").val()),
          reception_end_at = concat_datetime(
              form.find("#reception_end_at\\.year").val(),
              form.find("#reception_end_at\\.month").val(),
              form.find("#reception_end_at\\.day").val(),
              form.find("#reception_end_at\\.hour").val(),
              form.find("#reception_end_at\\.minute").val());

      if (resale_start_at) retval.resale_start_at = resale_start_at;
      if (resale_end_at) retval.resale_end_at = resale_end_at;
      if (reception_start_at) retval.reception_start_at = reception_start_at;
      if (reception_end_at) retval.reception_end_at = reception_end_at;

      return retval;
  }

  let _resale_segment_api_failure = function(xhr) {
      let ret = handle_exception(xhr);

      if ("status" in ret) {
          _modal.add_error_message_with_element($("<li>").text("{0} - {1}".format(ret["status"],ret["emsgs"])));
      }

      let add_error_if_needed = function(results, key) {
          if (key in ret) {
              let values = results[key];
              for (let i = 0; i < values.length; i++) {
                  _modal.add_error_message_with_element($("<li>").text(values[i]));
              }
          }
      };

      add_error_if_needed(ret, 'reception_start_at');
      add_error_if_needed(ret, 'reception_end_at');
      add_error_if_needed(ret, 'resale_start_at');
      add_error_if_needed(ret, 'resale_end_at');
      add_error_if_needed(ret, 'resale_performance_id');

      Object.keys(ret).forEach(function(key) {
          $("label[for=" + key + "]").parents(".control-group").addClass("error");
      });

      _modal.show_error_message();
      _modal.switch_all_button(true);
  };

  function create_resale_segment() {
      let performance_id = parseInt("${performance.id}");
      let form = _modal.get_form();
      let data = create_data_from_dom(form);
      _modal.clear_error_message();
      _resale_api.create(data, function(data) {
          $("div#resale-segment-list").append($("<div class=\"resale-segment-detail-box\"></div>"));
          update_resale_segment_display(data);
          $(".resale-segment-add-btn").remove();
          send_resale_segment_to_orion(performance_id, data["id"]);
          _modal.close();
      }, _resale_segment_api_failure);
  }

  function update_resale_segment() {
      let form = _modal.get_form();
      let performance_id = parseInt("${performance.id}");
      let resale_segment_id = form.find("#resale_segment_id").val();
      let data = create_data_from_dom(form);

      _modal.clear_error_message();
      _resale_api.update(resale_segment_id, data, function(data) {
          // リセール公演情報をセットする。
          let table = $('#resale-segment-' + data['id']);
          data['resale_performance_id'] = table.data('resale_performance_id');
          data['resale_performance_code'] = table.data('resale_performance_code');
          data['resale_performance_name'] = table.data('resale_performance_name');

          update_resale_segment_display(data);
          // リセール区分は成功に更新されたら、すぐ連携します。
          send_resale_segment_to_orion(performance_id, resale_segment_id);
          _modal.close();
      }, _resale_segment_api_failure);
  }

  function add_or_update_resale_by_performance_code() {
      let form = _modal.get_form();
      let resale_segment_id = form.find("#resale_segment_id").val();
      let data = {
          "performance_id": parseInt(form.find("#performance_id").val()),
          "resale_segment_id": resale_segment_id,
          "reception_start_at": form.find("input[name=reception_start_at]").val(),
          "reception_end_at": form.find("input[name=reception_end_at]").val()
      };

      _modal.clear_error_message();

      $.ajax({
          url: '${request.route_path('performances.search.find_by_code')}?performance_code={0}'.format(form.find("#resale_performance_code").val()),
          type: 'GET',
          success: function(findPerformanceByCodeResult) {

              data['resale_performance_id'] = findPerformanceByCodeResult['performance_id'];

              _resale_api.update(resale_segment_id, data, function(updateResaleSegmentResult) {

                  let resaleSegmentDetailData = updateResaleSegmentResult;
                  resaleSegmentDetailData['resale_performance_code'] = findPerformanceByCodeResult['performance_code'];
                  resaleSegmentDetailData['resale_performance_name'] = findPerformanceByCodeResult['performance_name'];

                  update_resale_segment_display(resaleSegmentDetailData);
                  flush_result_message("リセール公演を連携しました。");
                  _modal.close();

              }, _resale_segment_api_failure);
          },
          error: function(xhr) {
              let status = xhr.status;
              let message;
              if (status === 400) {
                  message = 'リセール公演コードを入力してください。';
              } else if (status === 404) {
                  message = '登録したいリセール公演コードは存在していません。';
              } else {
                  message = 'システムエラーが発生しました。';
              }
              _modal.add_error_message_with_element($("<li>").text("{0} - {1}".format(status, message)));
              $("label[for=resale_performance_code]").parents(".control-group").addClass("error");

              _modal.show_error_message();
              _modal.switch_all_button(true);
          }
      });
  }

  function build_status_content(td, action) {
      let span = $('<span class="label"></span>');
      td.empty();
      if (action === "sold") {
          span.addClass("label-success")
              .text("（仮）リセール");
      } else if (action === "back") {
          span.addClass("label-info")
              .text("（仮）返却");
      } else if (action === "cancel") {
          span.addClass("label-important")
              .text("（仮）キャンセル");
      }

      if (action === "waiting") {
          td.append(
              $("#resale-request-btn-group-template-2").clone()
                  .removeAttr("id")
                  .removeClass("hide")
          );
      } else {
          td.append(span).append(" ")
            .append(
                $("#resale-request-btn-group-template-1").clone()
                    .removeAttr("id")
                    .removeClass("hide")
            );
      }
  }

  function send_resale_segment_to_orion(performance_id, resale_segment_id) {
      let data = {"performance_id": performance_id, "resale_segment_id": resale_segment_id};
      _resale_api.postResaleSegment(data, function(data) {
          if (data["result"] === "OK") {
              flush_result_message("リセール区分情報は更新され、Orionに送信されました。");
          } else {
              flush_result_message(data["emsgs"]);
          }
      },function(xhr) {
          let ret = handle_exception(xhr);
          flush_result_message(ret);
      });
  }

  function operate_resale_request(button, action) {
      let td = button.parents("td");
      let resale_request_id = button.parents("tr").data("resale_request_id");
      let status_code = {"waiting": 1, "sold": 2, "back": 3, "cancel": 4};
      let data = {
          "resale_request_id": resale_request_id,
          "action": action
      };
      _resale_api.postOperation(data, function() {
          build_status_content(td, action);
          td.parent().data("status", status_code[action]);
      },function(xhr) {
          let ret = handle_exception(xhr);
          open_modal_unknown_exception_notification(ret);
      });
  }

  function send_resale_request_to_orion(resale_request_id) {
      let tr = $("#resale-request-{0}".format(resale_request_id));
      let data = {"resale_request_id": resale_request_id};
      _resale_api.postResaleRequest(data, function(data) {
          if (data['result'] === "OK") {
              let span = tr.find("span"),
                      btn_group = tr.find(".btn-group");
              span.text(span.text().replace("（仮）", ""));
              btn_group.remove();
          } else {
              tr.find("button.btn-send").text("連携失敗").removeClass("btn-warning").addClass("btn-danger");
          }
          _modal.close();
      }, function(xhr) {
          let ret = handle_exception(xhr);
          open_modal_unknown_exception_notification(ret);
      });
  }

  function send_all_resale_request_to_orion(resale_segment_id) {
      let modal = $("#base-modal");
      let data = {
          "resale_segment_id": resale_segment_id
      };
      _resale_api.postAllResaleRequest(data, function(data) {
          if (data['result'] === "OK") {
              modal.find(".modal-body-content p").text("リセールリクエスト一括連携しました。");
          } else {
              modal.find(".modal-body-content p").text(data["emsgs"]);
          }
          modal.find("button.send-to-orion")
                  .attr("disabled", false)
                  .text("確認")
                  .attr("onclick", "location.reload()");
      }, function(xhr) {
          let ret = handle_exception(xhr);
          _modal.clear_error_message();
          _modal.add_error_message_with_element($("<li>").text("{0}".format(ret["emsgs"])));
          _modal.show_error_message();
          modal.find("button.send-to-orion").remove();
      });
  }

  function get_resale_request_status() {
      let status_list = [];
      if ($("#waiting").is(":checked")) status_list.push(1);
      if ($("#sold").is(":checked")) status_list.push(2);
      if ($("#back").is(":checked")) status_list.push(3);
      if ($("#cancel").is(":checked")) status_list.push(4);
      return status_list;
  }

  function get_resale_request_sent_status() {
      let sent_status_list = [];
      if ($("#not_sent").is(":checked")) sent_status_list.push(1);
      if ($("#sent").is(":checked")) sent_status_list.push(2);
      if ($("#fail").is(":checked")) sent_status_list.push(4);
      return sent_status_list;
  }

  function build_export_url(baseUrl) {
          resale_segment_id = $("#resale-segment-list").data("selected_resale_segment_id"),
          order_no = $("#order_no").val().trim(),
          status_list = get_resale_request_status(),
          sent_status_list = get_resale_request_sent_status();
      var filter_list = [];

      filter_list.push("filter[resale_segment_id]=" + resale_segment_id);

      if (order_no !== "") {
          filter_list.push("order_no=" + order_no);
      }

      if (status_list.length !== 0) {
          filter_list.push("filter[status]=" + status_list.join(","));
      }

      if (sent_status_list.length !== 0) {
          filter_list.push("filter[sent_status]=" + sent_status_list.join(","));
      }

      return baseUrl + "?" + filter_list.join("&");
  }

  function get_resale_request_status_verbose() {
    let status_list = get_resale_request_status(),
        status_verbose_list = [];

    if (status_list.length === 0) {
      status_verbose_list.push("条件なし")
    } else if (status_list.length === 4) {
      status_verbose_list.push("全部")
    } else {
      if ($("#waiting").is(":checked")) status_verbose_list.push("リセール中");
      if ($("#sold").is(":checked")) status_verbose_list.push("リセール");
      if ($("#back").is(":checked")) status_verbose_list.push("返却");
      if ($("#cancel").is(":checked")) status_verbose_list.push("キャンセル");
    }
      return status_verbose_list;
  }

  function get_resale_request_sent_status_verbose() {
    let sent_status_list = get_resale_request_sent_status(),
        status_verbose_list = [];

    if (sent_status_list.length === 0) {
      status_verbose_list.push("条件なし")
    } else if (sent_status_list.length === 4) {
      status_verbose_list.push("全部")
    } else {
      if ($("#not_sent").is(":checked")) status_verbose_list.push("未連携");
      if ($("#sent").is(":checked")) status_verbose_list.push("連携済み");
      if ($("#fail").is(":checked")) status_verbose_list.push("連携失敗");
    }
    return status_verbose_list;
  }

  function export_resale_request(url) {
      _modal.close();
      window.location = url;
  }
  // --- operation functions start ---
</script>