<%page args="form" />
<%namespace file="../common/tags_smartphone.html" name="m" />

<div id="search">
    <div class="top_inner">
        <div id="search_area">
            <form action="${request.route_path('smartphone.search')}" method="GET">
                ${form.word(placeholder=u"アーティスト名、公演名、会場名など")}
                <input id="details" type="submit" class="btn-secondary btn-large" value="">
                % if helper.disp_error(form):
                    <font color="yellow">${helper.disp_error(form)}</font><br/>
                % endif
            </form>
        </div>
    </div>
</div>