<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-title" content="ポップサーカス" />
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
<script src=${request.static_url('altaircms:static/TK/smartphone/js/jquery-1.9.1.min.js')}></script>
<script src=${request.static_url('altaircms:static/TK/smartphone/js/jquery-ui-1.9.2.custom.min.js')}></script>
<script src=${request.static_url('altaircms:static/TK/smartphone/js/flipsnap.min.js')}></script>
<link rel="stylesheet" type="text/css" href=${request.static_url('altaircms:static/TK/smartphone/css/jquery-ui-1.9.2.custom.min.css')} />
<link rel="stylesheet" type="text/css" href="${request.static_url('altaircms:static/TK/smartphone/css/default.css')}" />
<title>ポップサーカス-<%block name="title"/></title>
</head>
<body>

<div class="header-navigation">
  <a href="/"><img src="${request.static_url('altaircms:static/TK/smartphone/img/logo.gif')}"/></a>
</div>
<div id="fb-root"></div>

<%
    sns_url = u"http://ticket.rakuten.co.jp/"
    sns_title = u"ポップサーカス-トップ"
    if sns:
        sns_url = sns['url']
        sns_title = sns['title']
%>

${self.body()}
<%block name="fnavi" />
<%include file="_footer.html"/>
