@charset "utf-8";

/*
	File Name   : layout.css
	Description : 各ブロックのレイアウト
*/


/* Container
----------------------------------------------------------- */
#container {
	width: auto;
	margin:10px 10px 0;
}


/* Header
----------------------------------------------------------- */

#header h1{
	text-align:center;
}

#header h2{
	/*background-color:#C01920;*/
    background: #7D00BE;
	font-size:17px;
	color:#fff;
	padding:5px;
	margin-top:10px;
}

#globalNav li {
	float: left;
}

#globalNav li a {
	display: block;
	float: left;
}

#globalNav li a:hover {
	background-color: transparent;
}

#globalNav li a:hover img {
	visibility: hidden;
}


/* Main
----------------------------------------------------------- */
#main {
	line-height: 1.5;
	font-size: 14px;
}


/* Footer
----------------------------------------------------------- */
#footer {
	clear: both;
}

/* NEW LOGO-------------------- */
.offleft {
	position: absolute;
	text-indent: -9999px;
  }
.ticket-logo-cart{
  	float:left;
  }
.ticket-logo-area .ticket-logo-sp a{
	display: block;
	width: 94px;
	height: 35px;
	background: url(../img/common/ticket_logo_sp.png) no-repeat 0 0;
    background-size: 94px 35px;
  }
.ticket-logo-top .ticket-logo-sp a{
  	margin: 6px 0 6px 6px;
  }
.ticket-logo-cart .ticket-logo-sp a{
  	margin: 6px;
  }
.ticket-logo-cartfc .ticket-logo-sp a{
  	margin: 0 6px 6px 0;
  }
.ticket-logo-orderreview .ticket-logo-sp a{
  	margin: 6px;
  }
.ticket-logo-lots .ticket-logo-sp a{
  	margin: 6px 0;
  }
.ticket-logo-cart{
  	float:left;
  }