header .head {
    background-color: #046454 !important;
}

header .head h1 img {
    padding: 0;
    height: 45px;
    background: #046454 !important;
}

main #content .btn,
main #content h2 {
    background-color: #046454 !important;
}

main #content .btn:hover {
    opacity: 0.75 !important;
}