<%inherit file="./base.html"/>
<%namespace file="tags_smartphone.html" name="t" />
<style type="text/css">
    form {
        padding: 0 0;
        margin: 0 0;
    }
</style>
<%block name="javascript">
<script type="text/javascript"
        src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript">
    $(function () {
        $('form').disableOnSubmit('input[type=submit]');
    });
</script>

</%block>

<%block name="css">
<style>
    .error {
        color: #ff0000;
    }

    #btn-complete {
        border: 0;
        width: 226px;
        height: 46px;
        background: url("${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/btn_next.gif')}") left top no-repeat;
    }
</style>
</%block>

<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/css/cart_payment.css')}"
      type="text/css"/>

%if request.session.peek_flash():
%for message in request.session.pop_flash():
<div class="error">${message}</div>
%endfor
%endif

<div id="container" style="position: relative;">
  <!-- ========== main ========== -->
  <form id="form1" name="form1" method="post" action="${request.url}">
    ${csrf_form.csrf_token()}
    <div class="confirmBox">
      <div class="confirmBoxInner">
        <%include file="../../__commons__/discount_code/form.html" args="request=request, forms=forms" />
        <table>
          <td style="width: 320px; text-align: center;">
            <input id="btn-complete" type="submit" value=""/>
            <br/>
            &nbsp;
          </td>
        </table>
      </div>
    </div>
  </form>
  <!-- ========== /main ========== -->
</div>

% if request.organization.setting.sitecatalyst_use:
<!--SiteCatalyst-->
<%
    sc = {"pagename": "discount_code"}
%>
<%include file="../common/sc_basic.html" args="sc=sc" />
<!--/SiteCatalyst-->
% endif
