<%inherit file="./base.html"/>
<%namespace file="tags_smartphone.html" name="m" />

<%block name="javascript">
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
  <script type="text/javascript">
    $(function() {
      $('#form1').disableOnSubmit('input[type=submit][name!="back"]');
    });
    function click_input_point_form() {
      $('#partial_use').prop('checked', true)
    }
  </script>
</%block>
<%block name='css'>
<style type="text/css">
  .dispBox {
    padding-top: 15px;
  }
  .point-use-table {
    margin: 20px auto 0 auto;
    width: 100%;
    border: 1px solid #ccc;
  }
  .point-use-table td {
    padding: 5px;
    font-size: 12px;
  }
  .point-use-notice {
    font-size: 12px;
    margin: 20px auto 0 10px;
    line-height: 1.7;
  }
  .point-use-notice ul {
    padding: 0 5px 0 15px;
  }
  .sp-partial-point-use-notice {
    list-style: none;
    line-height: 1.7;
    margin: 0 3px;
    padding-left: 0;
  }
  .sp-partial-point-use-notice li:before {
    content: '※ ';
  }
  .crimson {
    color: #DC143C;
  }
  .error-msg {
    color: #DC143C;
    background-color: #F9BCBC;
  }
  a:link {
    text-decoration: none;
  }
  #point_input_form {
    width: 160px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
</style>
</%block>
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/css/cart_order.css')}"
      type="text/css"/>

<form id="form1" name="form1" action="${request.url}" method="post">
  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <h3 class="glitter cart">お買い物内容</h3>
        <div class="dispBoxInner">
          <div id="name">
            <span>${cart.performance.event.title}</span>
            <span>${h.performance_datetime(cart.performance)}</span>
            <span>${cart.performance.venue.name}</span>
          </div>

          <table id="contentsOfShopping" summary="席種、金額などのお買い物内容" class="methodArea" style="font-size: 80%;">
            %for product in cart.products:
                <tr id="commission">
                  % if len(product.items) == 1:
                  <th scope="row">
                    <img src="${request.static_url('altair.app.ticketing.cart:static/eagles/smartphone/images/icon_dummy.gif')}" alt="" width="21" height="21" />
                    ${product.product.name}
                    <strong> ${product.seat_quantity}</strong>枚<br/>
                  </th>
                  % else:
                    <th scope="row"><img src="${request.static_url('altair.app.ticketing.cart:static/eagles/smartphone/images/icon_dummy.gif')}" alt="" width="21" height="21" />${product.product.name} ×<strong>${product.quantity}</strong><br/></th>
                  % endif
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="align1">￥${h.format_number(product.product.price * product.quantity)}</td>
                </tr>
                % if product.product.sales_segment.setting.display_seat_no:
                  % for seat in product.seats:
                    <tr id="commission">
                      <th scope="row" colspan="4">　　${seat['name']}</th>
                    </tr>
                  % endfor
                % endif
            %endfor
            <%include file="../../__commons__/discount_code/sp.html" args="cart=cart"/>
            <tr id="commission">
              <th scope="row">決済手数料</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="align1">￥${h.format_number(cart.transaction_fee)}</td>
            </tr>
            <tr id="commission">
              <th scope="row">発券/引取手数料</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="align1">￥${h.format_number(cart.delivery_fee)}</td>
            </tr>
            <tr id="commission">
              <th scope="row">システム利用料</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="align1">￥${h.format_number(cart.system_fee)}</td>
            </tr>
            %if cart.special_fee > 0:
            <tr id="commission">
              <th scope="row">${cart.special_fee_name}</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="align1">￥${h.format_number(cart.special_fee)}</td>
            </tr>
            %endif
            <tr id="total">
              <th scope="row">合計金額</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="align1">￥${h.format_number(cart.total_amount)}</td>
            </tr>
          </table>
        </div>
      </div>
	  </div>
  </div>

  <div class="confirmBox">
	  <div class="confirmBoxInner">
      <div class="dispBox">
        <%m:header>ポイント入力</%m:header>
        <div class="dispBoxInner">
          <table class="point-use-table">
            <tr>
              <td style="font-size: 15px">ポイント残高</td>
            </tr>
            <tr>
              <td align="left">${cart.shipping_address.last_name} ${cart.shipping_address.first_name} さんの通常ポイント残高	</td>
            </tr>
            <tr>
              <td align="right"><span class="crimson">${h.format_number(fix_point)}</span> ポイント（円）</td>
            </tr>
          </table>
          <% label_style = '' if is_point_available else 'style="opacity: 0.5;"' %>
          <table class="point-use-table">
            <tr>
              <td style="font-size: 15px">利用方法</td>
            </tr>
            <% errors = h.error_list(request, form, 'input_point', style_class='error-msg') %>
            % if errors:
              ${errors}
            % endif
            <tr>
              <td>
                % if is_point_available and not errors:
                  <input id="partial_use" name="point_use_type" type="radio" value="${point_use_type.PartialUse.v}">
                % elif is_point_available:
                  <input id="partial_use" name="point_use_type" type="radio" value="${point_use_type.PartialUse.v}" checked>
                % else:
                  <input id="partial_use" name="point_use_type" type="radio" value="${point_use_type.PartialUse.v}" disabled>
                % endif
                <label for="partial_use" ${label_style|n}>一部のポイントを使う
                % if cart.transaction_fee > 0:
                  （利用上限ポイント：${h.format_number(cart.max_available_point)}）
                % endif
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td width="10px"></td>
                    <td>
                      % if is_point_available:
                        ${form.input_point(maxlength='6', id='point_input_form', onclick='click_input_point_form()')}
                      % else:
                        ${form.input_point(maxlength='6', id='point_input_form', disabled='')}
                      % endif
                    </td>
                    <td><label for="input_point" ${label_style|n}>ポイント</label></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="2" style="padding-top: 0">
                      <span class="crimson">( 例 ) 1000 &lt;半角数字&gt;</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 0;">
                <ul class="crimson sp-partial-point-use-notice">
                  <li>50ポイント以上よりご利用可能です</li>
                  <li>決済手数料を除いた合計金額がポイントの利用上限となります。</li>
                  <li>決済手数料を除いた合計金額分のポイントをご利用の場合、決済手数料は0円となります。</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <input id="all_use" name="point_use_type" type="radio" value="${point_use_type.AllUse.v}" ${'' if is_point_available else 'disabled'}>
                <label for="all_use" ${label_style|n}>全てのポイントを使う</label><br>
              </td>
            </tr>
            <tr>
              <td>
                <input id="no_use" name="point_use_type" type="radio" value="${point_use_type.NoUse.v}" ${'' if errors else 'checked'}>
                <label for="no_use">ポイントを利用しない</label>
              </td>
            </tr>
          </table>

          <div class="point-use-notice">
            ＜ご注意＞
            <ul>
              <li class="crimson">全てのポイントを使う」を選択した場合、ご注文時点の利用可能な全てのポイントが利用ポイントとして確定いたします。</li>
              <li><span>1回のお支払い上限、1ヶ月のご利用上限については&nbsp;<a href="https://point.rakuten.co.jp/guidance/usemethod/" target="_blank">ポイント利用方法</a>&nbsp;をご確認ください。</span></li>
              <li>利用ポイント以外に不足金額が発生する場合は、選択されたお支払い方法でのお買い物になります。</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  ${form.fix_point}
  ${form.sec_able_point}
  ${form.order_max_point}
  <div class="buttonbox">
    <button onclick="$('#form1').submit()" class="btn btn-primary btn-large" style="margin: auto;">次へ</button>
  </div>
</form>

% if request.organization.setting.sitecatalyst_use:
<!--SiteCatalyst-->
<%
    sc = {"pagename": "point_use"}
%>
<%include file="../common/sc_basic.html" args="sc=sc" />
<!--/SiteCatalyst-->
% endif
