<%inherit file="common/_base.html" />
<%namespace file="common/tags_smartphone.html" name="m" />
<%block name="title">トップ</%block>

<%include file="search/search.html" args="form=form"/>
<%include file="common/_menu.html"/>
<%include file="common/_pickup.html" args="promotions=promotions, helper=helper"/>
<%include file="common/_area.html" args="area=area, helper=helper"/>
<%include file="common/_genre.html" args="genretree=genretree, helper=helper"/>
<!--
<%include file="common/_topcontent.html" args="topcontents=topcontents, helper=helper"/>
<%include file="common/_topic.html" args="topics=topics, helper=helper"/>
<%include file="common/_hotword.html" args="hotwords=hotwords, helper=helper, genre_id=0"/>
-->