@charset "utf-8";

/*
	File Name   : layout.css
	Author      : Kensuke Takahashi
	Description : 各ブロックのレイアウト
*/


/* Container
----------------------------------------------------------- */
#container {
	width: 950px;
	margin: 0 auto;
	text-align: left;
}


/* Header
----------------------------------------------------------- */
/* margin padding リセット */
#grpheader div,
#grpheader dl,
#grpheader dt,
#grpheader dd,
#grpheader ul,
#grpheader ol,
#grpheader li,
#grpheader h1,
#grpheader form,
#grpheader p {
	margin: 0;
	padding: 0;
}

/* ヘッダ全体枠 */
div#grpheader {
	padding-top: 10px;
	font-size: 120%;
	text-align: left; /* for Quirks Mode */
}

/* タグライン */
p#tagLine {
	line-height: 1.1;
	color: #999999;
	text-align: right;
}

/* サイトID */
#siteID {
	float: left;
	width: 250px; /* ←サイトID幅＋サービスタイトル幅＋マージンの合計値を入れる */
	height: 52px;
	margin: 0;
}

#siteID img.serviceLogo {
	margin-right: 5px;
	margin-left: 5px;
}

#siteID img.serviceTitle {
	margin-left: 10px;
	margin-bottom: 5px;
}

/* グループ回遊＆ユーティリティ */
dl#remoteNav dd.grpRelation ul {
	float: right;
	padding-top: 6px;
}

dl#remoteNav dd.siteUtility {
	clear: right;
}

dl#remoteNav dd.siteUtility ul {
	float: right;
	margin-bottom: 3px;
	padding-top: 6px;
}

dl#remoteNav dd.grpRelation ul li,
dl#remoteNav dd.siteUtility ul li {
	float: left;
	line-height: 1.2;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border-right: 1px solid #000000;
	list-style-type: none;
}

dl#remoteNav dd.grpRelation ul li.grpHome,
dl#remoteNav dd.siteUtility ul li.last {
	padding-right: 0;
	border: none;
}

dl#remoteNav dd.grpRelation ul li.grpHome {
	font-weight: bold;
}

dl#remoteNav dd.grpRelation ul li a,
dl#remoteNav dd.siteUtility ul li a {
	white-space: nowrap;
}

/* ヘッダ内定義リストのdtを非視覚化 */
dl#remoteNav dt,
dl#sectionNav dt,
dl#subSectionNav dt,
dl#topicPath dt {
	position: absolute;
	left: -9999px;
	width: 100px;
	height: 0;
}

/* ヘッダ内画像のborderを消す */
p#siteID img,
dl#sectionNav img,
dl#subSectionNav img {
	border: none;
}

/* アクセシビリティ対応 */
div#grpheader p.noCSS {
	display: none;
}

div#grpheader ul.navSkip {
	position: absolute;
	left: -9999px;
	width: 100px;
	height: 0;
}

/* セクションメニュー */
dl#sectionNav {
	clear: both;
	width: 100%;
	height: 29px;
	background: url("../img/tab_line.gif") repeat-x bottom;
}

dl#sectionNav dd.menuList {
	float: left;
	width: 315px; /* ←タブ幅＋タブ間マージンの合計値を入れる */
	line-height: 0;
	font-size: 0;
}

dl#sectionNav dd.menuList ul li {
	display: inline;
	margin-right: 2px;
	list-style-type: none;
}

dl#sectionNav dd.menuList ul li img{
	margin-top: 3px;
	margin-bottom: 4px;
}

dl#sectionNav dd.menuList ul li.current img{
	margin-top: 0;
	margin-bottom: 0;
}

/* セクション拡張エリア */
dl#sectionNav dd.expansionArea {
	position: relative;
	height: 29px;
	line-height: 1;
	margin-left: 315px; /* ←タブ幅＋タブ間マージンの合計値を入れる */
}

dl#sectionNav dd.expansionArea p {
	position: absolute;
	right: 10px;
	bottom: 5px;
	margin-right: -10px;
}

/* サブセクションメニュー */
dl#subSectionNav {
	clear: both;
	position: relative;
	width: 100%;
	padding: 5px 0 7px;
	background-color: #bf0000; /* ←メニューの背景色を指定する */
}
/* Start clearfix ------------------------------ */
dl#subSectionNav:after {
	display: block;
	clear:both;
	height: 0;
	line-height: 0;
	visibility: hidden;
	content: ".";
	font-size: 0.1em;
}

dl#subSectionNav { display: inline-block; }

/* Hides from IE-mac \*/
	* html dl#subSectionNav { height: 1%; }
	dl#subSectionNav { display: block; }
/* End hide from IE-mac */
/* -------------------------------- end clearfix */

dl#subSectionNav dd.menuList {
	line-height: 1.1;
	padding-left: 1px;
}

dl#subSectionNav dd.menuList ul li {
	display: inline; /* for Quirks Mode */
	float: left;
	margin-left: 0.5em;
	padding-right: 0.5em;
	border-right: 1px solid #ffffff;
	list-style-type: none;
	color: #ffffff;
}

dl#subSectionNav dd.menuList ul li.last {
	border: none;
}

dl#subSectionNav dd.menuList ul li a {
	color: #ffffff;
	white-space: nowrap;
}

dl#subSectionNav dd.menuList ul li.current {
	font-weight: bold;
}

/* サブセクション拡張エリア */
dl#subSectionNav dd.expansionArea {
	display: inline; /* for Quirks Mode */
	float: right;
	width: 11em; /* ←拡張メニューの文字数以上の値をemで指定する */
	line-height: 1.1;
	margin-right: 0.5em;
	text-align: right;
}

dl#subSectionNav dd.expansionArea p a{
	color: #ffffff;
}

/* パンくずリスト */
dl#topicPath {
	margin-bottom: 20px;
}

dl#topicPath dd {
	clear: both;
	line-height: 1.6;
	padding: 0.25em 0.75em;
}

/* グローバルナビゲーション */
#globalNav {
	clear: both;
	height: 40px;
	font-size: 120%;
	background: url(../img/common/header_nav_bg.gif) no-repeat 0 0;
}

#globalNav1 {
	float: left;
}

#globalNav1 li {
	float: left;
}

#globalNav2 {
	float: right;
	padding-top: 10px;
}

#globalNav2 li {
	float: right;
	padding: 5px 10px;
	border-left: 1px solid #ffffff;
}

#globalNav2 li a {
	color: #fff;
}

/* ヘッダ検索 */
#headerSearch {
	height: 45px;
	font-size: 120%;
	background: url(../img/common/header_search_bg.gif) no-repeat 0 0;
}

#index #headerSearch {
	margin-bottom: 10px;
}

#headerSearch form {
	float: left;
	width: 465px;
	padding: 6px 0 0 15px;
}

#headerSearch form input {
	vertical-align: middle;
}

#headerSearch form a {
	padding: 3px 0 3px 17px;
	background: url(../img/common/header_search_icon.gif) no-repeat 0 50%;
}

#headerSearch dl {
	float: right;
	width: 470px;
}

#headerSearch dt {
	float: left;
	margin-right: 10px;
}

#headerSearch dd {
	line-height: 1.5;
	padding-top: 5px;
}

#headerSearch dd li {
	float:left;
	margin-right: 15px;
	white-space: nowrap;
}


/* Main
----------------------------------------------------------- */
#main {
	position: relative;
	left: 1px;
	float: right;
	width: 740px;
	line-height: 1.5;
	margin-bottom: 20px;
	padding-top: 3px;
	font-size: 120%;
}

* html #main {
	overflow-x: hidden;
}

#index #main {
	float: left;
	width: 700px;
}

#detail #main {
	float: left;
	width: 690px;
}

#settlement #main {
	position: static;
	float: none;
	width: auto;
}


/* Side
----------------------------------------------------------- */
#side {
	position: relative;
	left: -2px;
	float: left;
	width: 208px;
	line-height: 1.5;
	margin-bottom: 20px;
	font-size: 120%;
}

* html #side {
	overflow-x: hidden;
}

#index #side {
	position: static;
	float: right;
	width: 240px;
}

#detail #side {
	position: static;
	float: right;
	width: 240px;
}

#sideName {
	position: relative;
	left: -3px;
	line-height: 1.3;
	min-height: 34px;
	height: auto !important;
	height: 34px;
	padding: 10px 10px 0 35px;
	color: #fff;
	background: url(../img/mypage/side_name_bg.gif) no-repeat 0 0;
}

#sideNav {
	position: relative;
	left: -3px;
	margin-bottom: 10px;
	padding-bottom: 6px;
	background: url(../img/common/side_nav_bg_01.gif) no-repeat left bottom;
}

#sideNav li {
	background: url(../img/common/side_nav_line.gif) no-repeat 4px 0;
}

#sideNav #sideNavFirst {
	padding-top: 3px;
	background: url(../img/common/side_nav_bg_02.gif) no-repeat 0 0;
}

#sideNav a {
	display: block;
	height: 1%;
	padding: 10px 16px 8px 26px;
	background: url(../img/common/side_nav_icon.gif) no-repeat 9px 10px;
	text-decoration: none;
}

#sideNav a:hover {
	text-decoration: underline;
}

#sideInfo {
	width: 200px;
	margin-bottom: 15px;
	background: url(../img/common/side_info_bg_01.gif) no-repeat left bottom;
}

#sideInfo dt {
	padding-top: 7px;
	background: url(../img/common/side_info_bg_02.gif) no-repeat 0 0;
	text-align: center;
}

#sideInfo li {
	margin: 0 6px;
	padding: 5px;
	border-bottom: 1px dotted #cccccc;
}

#sideInfo li:last-child {
	border: none;
}

#sideBtn li {
	margin-bottom: 7px;
}


/* Footer
----------------------------------------------------------- */
/* reset */
div#grpRakutenLinkArea div, div#grpRakutenLinkArea h1, div#grpRakutenLinkArea h2, div#grpRakutenLinkArea h3, div#grpRakutenLinkArea p, div#grpRakutenLinkArea ul, div#grpRakutenLinkArea ol, div#grpRakutenLinkArea dl, div#grpRakutenLinkArea dt, div#grpRakutenLinkArea dd {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
div#grpRakutenLinkArea ul,
div#grpRakutenLinkArea ol {
	list-style: none outside;
}
div#grpRakutenLinkArea a img {
	border: none;
}

/* layout */
div#grpRakutenLinkArea {
	/* width: 950px; */
	clear: both;
	margin: auto auto 1em auto;
	color: #333333;
	font-size: 120%;
}

/* about ul#grpSpelinlk */
div#grpRakutenLinkArea ul#grpSpelinlk {
padding:0.5em;
border-top:1px solid #808080;
text-align:center;
}
div#grpRakutenLinkArea ul#grpSpelinlk li {
border-right:1px solid #ADADAD;
display:inline;
list-style-type:none;
padding-left:0.45em;
padding-right:0.5em;
zoom:1;
}
div#grpRakutenLinkArea ul#grpSpelinlk li.grpLast {
border:none;
}

/* about dl#grpKeyword */
div#grpRakutenLinkArea dl#grpKeyword {
clear:both;
margin-bottom:0.75em;
padding:0.75em;
border:1px solid #DDDDDD;
background:#FCFCFC;
text-align:center;
}
div#grpRakutenLinkArea dl#grpKeyword dt,
div#grpRakutenLinkArea dl#grpKeyword dd,
div#grpRakutenLinkArea dl#grpKeyword ul {
display:inline;
zoom:1;
}
div#grpRakutenLinkArea dl#grpKeyword dt {
padding:0 1.5em 0 0.75em;
text-align:center;
font-weight:bold;
}
div#grpRakutenLinkArea dl#grpKeyword li {
display:inline;
padding-right:1em;
}

/* about div#groupServiceFooter */

div#grpRakutenLinkArea div#groupServiceFooter {
	border-top: 1px solid #808080;
	background: #F4F4F4;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title {
	padding: 6px 10px;
	border-bottom: 1px solid #DDDDDD;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dt {
	float: left;
	margin: 4px 10px 0 0;
	color: #BF0000;
	font-weight: bold;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService {
	float: left;
	margin-top: 2px;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span {
	display: block;
	float: left;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/bg_allService.gif) no-repeat;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a {
	display: table-cell;
	height: 18px;
	vertical-align: middle;
	padding: 0 10px 0 17px;
	color: #333333;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/bg_allServiceRight.gif) no-repeat 100% 0;
	text-decoration: none;
}
* html div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a {  /* for IE6 */
	display: inline-block;
	line-height: 18px;
	vertical-align: baseline;
}
*:first-child+html div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a {  /* for IE7 */
	display: inline-block;
	line-height: 18px;
	vertical-align: baseline;
}
div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.allService span a:hover {
	color: #bf0000;
}

div#grpRakutenLinkArea div#groupServiceFooter dl.title dd.csr {
	float: right;
	height: 20px;
}
div#grpRakutenLinkArea ul#selectedService {
	border-top: 5px solid #F7F7F7;
	border-bottom: 5px solid #F7F7F7;
	background: #F7F7F7;
}
div#grpRakutenLinkArea ul.serviceCol3 li {
	width: 33%;
}
div#grpRakutenLinkArea ul.serviceCol4 li {
	width: 24.9%;
}
div#grpRakutenLinkArea ul.serviceCol5 li {
	width: 19.9%;
}
div#grpRakutenLinkArea ul#selectedService li {
	float: left;
	margin-left: -1px;
	margin-bottom: -32767px;
	padding-bottom: 32767px;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/bg_dotted.gif) repeat-y;
}
div#grpRakutenLinkArea ul#selectedService dl {
	padding: 8px 10px 8px 27px;
	background: url(https://jp.rakuten-static.com/1/bu/sitemap/img/icon_red_circle_arrow.gif) no-repeat 11px 11px;
}
div#grpRakutenLinkArea ul#selectedService dt {
	margin-bottom: 5px;
	font-size: 115%;
	font-weight: bold;
}
div#grpRakutenLinkArea ul#selectedService dd {
	color: #666666;
}


div#grpRakutenLinkArea div#serviceList {
	font-size:100%;
	clear:both;
	padding: 10px 0;
	border-top: 1px solid #DDDDDD;
	background: #FFFFFF;
}
div#grpRakutenLinkArea div#serviceList dl {
	padding: 0 5px 5px;
	line-height: 1.4;
}
div#grpRakutenLinkArea div#serviceList dt {
	float: left;
	width: 8em;
	font-weight: bold;
}
div#grpRakutenLinkArea div#serviceList dd {
	margin-left: 8.5em;
}
div#grpRakutenLinkArea div#serviceList li {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}
div#grpRakutenLinkArea div#serviceList li a {
	color: #666699;
}


div#grpRakutenLinkArea div#companyFooter {	
	padding: 10px 10px 10px 5px;
	border-top: 1px solid #808080;
	overflow: hidden;
}
div#grpRakutenLinkArea div#companyFooter ul {
	width: 100%;
	margin-bottom: 8px;
}
div#grpRakutenLinkArea div#companyFooter ul li {
	float: left;
	margin-left: -1px;
	padding: 0 6px 0 5px;
	border-left: 1px solid #ADADAD;
}
div#grpRakutenLinkArea div#companyFooter ul li:first-child {
	border: none;
}
div#grpRakutenLinkArea div#companyFooter p#copyright {
	margin: 0 0 0px 5px;
}




/* clearfix */
div#grpRakutenLinkArea div#groupServiceFooter dl.title,
div#grpRakutenLinkArea div#companyFooter ul,
ul#selectedService,
div#grpRakutenLinkArea div#serviceList,
div#grpRakutenLinkArea div#serviceList dl {
	display: block;
	overflow: hidden;
	zoom: 1;
}
