<h3 id="salessegment">${page_title}</h3>
<ul class="nav nav-tabs">
   %for salessegment in salessegments:
     %if unicode(salessegment.id) == unicode(current_salessegment.id):
        <li class="active"><a href="${h.current_route_path_override(request,_query=dict(salessegment_id=salessegment.id))}#salessegment">${salessegment.group.name}</a></li>
     %else:
        <li><a href="${h.current_route_path_override(request,_query=dict(salessegment_id=salessegment.id))}#salessegment">${salessegment.group.name}</a></li>
     %endif
   %endfor
</ul>

${panel("describe_salessegment", current_salessegment)}
