<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" import="validate_errors" />
<%namespace file="/common/helpers.html" import="alert_message" />
<%namespace file="/common/helpers.html" import="flash_messages" />

<%def name="form_item(key, help='')">
  <div class="control-group ${'error' if form[key].errors else ''}">
    <label class="control-label">${help|n} ${form[key].label.text}</label>
    <div class="controls">
      ${form[key]}
      ${validate_errors(form[key])}                                                                    
    </div>
  </div>
</%def>

<%
  if request.matched_route.name == 'events.edit':
    route_name = u'編集'
    route_path = request.route_path('events.edit', event_id=event.id)
  else:
    route_name = u'新規登録'
    route_path = request.route_path('events.new')
%>

<script type="text/javascript">
  $(function() {
    $('#start_on').datepicker({showOn:'focus', dateFormat:'yy-mm-dd'});
    $('#end_on').datepicker({showOn:'focus', dateFormat:'yy-mm-dd'});
  });
</script>

<div class="row-fluid">
  <%include file="_menu.html" />                                                                       

  <span class="span10">
    <div class="page-header">
      <h3>イベント${route_name}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
      ${alert_message(form)}
    </div>

    <div class="well">
      <form class="form-horizontal" action="${route_path}" enctype="multipart/form-data" method="POST">
        <fieldset>
          ${form_item('code')}
          ${form_item('title')}
          ${form_item('abbreviated_title')}
          ${form_item('start_on')}
          ${form_item('end_on')}
        </fieldset>
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
        </div>
      </form>
    </div>
  </span>
</div>
