<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />

<%
  if request.matched_route.name == 'events.edit':
    route_name = u'編集'
    route_path = request.route_path('events.edit', event_id=event.id)
  elif request.matched_route.name == 'events.copy':
    route_name = u'コピー'
    route_path = request.route_path('events.copy', event_id=form.original_id.data)
  else:
    route_name = u'登録'
    route_path = request.route_path('events.new')
%>

<script type="text/javascript">
  $(function() {
    $('#start_on').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#end_on').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});

    var code_buf = [];
    $('#title').keyup(function(e){
      if ($('#code').val() || code_buf.length >= 3) return;
      var char = String.fromCharCode(e.which);
      if (char && char.match(/[a-z]/i) && !char.match(/[aiueo]/i)) {
        code_buf.push(char);
      }
    });
    $('#title').focusout(function(){
      if ($('#code').val() || !code_buf) return;
      $('#code').val('${request.context.user.organization.code}' + code_buf.join(''));
    });
    $('#title').focusin(function(){
      code_buf = [];
    });
  });
</script>

<div class="breadcrumbs">
${h.breadcrumbs(
    names=[u'イベント', route_name],
    urls=[request.route_path('events.index')]
)}
</div>

<div class="page-header">
  <h3>イベント${route_name}</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
  ${h.alert_message(form)}
</div>

<div class="well">
  <form class="form-horizontal" action="${route_path}" enctype="multipart/form-data" method="POST">
    <fieldset>
      ${h.form_item(form.id)}
      ${h.form_item(form.original_id)}
      ${h.form_item(form.account_id, option={'class':'span5'})}
      ${h.form_item(form.title, option={'class':'span8', 'maxlength':200})}
      ${h.form_item(form.abbreviated_title, option={'class':'span4', 'maxlength':100})}
      ${h.form_item(form.code, option={'style':'width:100px', 'maxlength':5, 'placeholder':request.context.user.organization.code})}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
    </div>
  </form>
</div>
