<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'イベント'],
      urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h3>イベント</h3>
</div>

<div style="float: left;">
  <%include file="/events/_search.html" />
</div>

<span style="float: right; margin-right: 20px;">
  <div class="btn-group">
    <a class="btn" href="/events/new">
      <i class="icon-plus"></i>新規イベント
    </a>
  </div>
</span>

<div class="events" style="clear: both">
  % for event in events.items:
  <div class="section event">
    <div class="section-header">
      <h3 style="word-wrap: break-word;">${event.title}</h3>
    </div>
    <div class="pull-right" style="margin-bottom: 10px;">
      <%include file="/events/_action_button.html" args="event=event, order=['show', 'edit', 'delete', 'copy']" />
    </div>
    <div style="clear: both;"></div>
    <%
      label_classes = [
        'label-important',
        'label-warning',
        'label-default',
        'label-success',
        'label-info',
        'label-inverse'
      ]
    %>
    % for i, sales_segment_group in enumerate(event.sales_segment_groups):
      <span class="label ${label_classes[i%6]}">${sales_segment_group.name}</span>
    % endfor
    <%include file="/performances/_list.html" args="form=form_performance, performances=event.performances, limit=5" />
  </div>
  % endfor
  ${ch.pager(events)}
  <script type="text/javascript">
    var is_sending = {};
    $("#send_event").click(function(e){
      var $e = $(e.currentTarget);
      if(is_sending[$e.attr("href")]){ 
        return false;
      }
      is_sending[$e.attr("href")] = true;
      $('#modal-send_event').modal('hide');
      setTimeout(function(){
        is_sending[$e.attr("href")] = false;
      }, 20000);
      return true
    })
  </script>
</div>
