<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />

<script type="text/javascript">
  function report_event_sales(id) {
    modal = $('#modal-report');
    modal.find('#report').attr('href', '/events/report/' + id + '/sales');
    modal.modal('toggle');
  }
  //function report_event_seat_all(id) {
  //  modal = $('#modal-report');
  //  modal.find('#report').attr('href', '/events/report/' + id + '/seat_all');
  //  modal.modal('toggle');
  //}
  function report_event_seat_stocks(id) {
    modal = $('#modal-report');
    modal.find('#report').attr('href', '/events/report/' + id + '/seat_stocks');
    modal.modal('toggle');
  }
  function report_event_seat_distributes(id) {
    modal = $('#modal-report');
    modal.find('#report').attr('href', '/events/report/' + id + '/seat_distributes');
    modal.modal('toggle');
  }
  function report_event_seat_adds(id) {
    modal = $('#modal-report');
    modal.find('#report').attr('href', '/events/report/' + id + '/seat_adds');
    modal.modal('toggle');
  }
  function report_event_seat_returns(id) {
    modal = $('#modal-report');
    modal.find('#report').attr('href', '/events/report/' + id + '/seat_returns');
    modal.modal('toggle');
  }
  function report_event_seat_unsolds(id) {
    modal = $('#modal-report');
    modal.find('#report').attr('href', '/events/report/' + id + '/seat_unsolds');
    modal.modal('toggle');
  }
  $(document).ready(function() {
    $("#report").click(function() {
      modal = $('#modal-report');
      modal.modal('toggle');
    });
  })
</script>

<div class="breadcrumbs">
  ${h.breadcrumbs(
    names=[u'イベント', event.title, u'帳票'],
    urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
  )}
</div>

<div class="page-header">
  <h3>帳票</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
  ${h.alert_message(form)}
</div>

<div class="well">
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_sales(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 販売日程管理表
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_stocks(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 仕入明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_distributes(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 配券明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_adds(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 追券明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_returns(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 返券明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_unsolds(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 残席明細
    </a>
  </div>
</div>

<div id="modal-report" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>帳票をダウンロードします。よろしいですか？</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:$('#modal-report').modal('hide');" class="btn secondary">キャンセル</a>
    <a id="report" href="" class="btn danger">ダウンロード</a>
  </div>
</div>
