<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />

<script type="text/javascript">
  $(document).ready(function() {
    var event_id = ${event.id};
    function report_event(report_type, label) {
      modal = $('#modal-report');
      modal.find('#report-label').text(label);
      modal.find('#report').attr('href', '/events/report/' + event_id + '/' + report_type);
      modal.find('#report').click(function() {
        modal.modal('hide');
      });
      modal.modal('toggle');
    }
    $("#btn-report-event-stocks").click(function() {
      report_event("seat_stocks", "仕入明細");
    });
  });
</script>

<div class="breadcrumbs">
  ${h.breadcrumbs(
    names=[u'イベント', event.title, u'帳票'],
    urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
  )}
</div>

<div class="page-header">
  <h3>帳票</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
  ${h.alert_message(form)}
</div>

<div class="well">
  <!--
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_sales(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 販売日程管理表
    </a>
  </div>
  -->
  <div class="btn-group" style="float: left;">
    <a id="btn-report-event-stocks" class="btn btn-success" href="javascript:void(0);" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 仕入明細
    </a>
  </div>
  <!--
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_distributes(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 配券明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_adds(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 追券明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_returns(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 返券明細
    </a>
  </div>
  <div class="btn-group" style="float: left;">
    <a class="btn btn-success" href="javascript:report_event_seat_unsolds(${event.id});" style="margin-left: 10px;">
      <i class="icon-file icon-white"></i> 残席明細
    </a>
  </div>
  -->
</div>

<div id="modal-report" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p><span id="report-label"></span>をダウンロードします。よろしいですか？</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:$('#modal-report').modal('hide');" class="btn secondary">キャンセル</a>
    <a id="report" href="" class="btn danger">ダウンロード</a>
  </div>
</div>
