<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" import="flash_messages" />

<div class="row-fluid">
    <%include file="../parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>${event.title}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <table class="table table-bordered fullwidth">
      <tbody>
        <tr>
          <th>${form.title.label.text}</th>
          <td>${event.title}</td>
        </tr>
        <tr>
          <th>${form.abbreviated_title.label.text}</th>
          <td>${event.abbreviated_title}</td>
        </tr>
        <tr>
          <th>${form.code.label.text}</th>
          <td>${event.code}</td>
        </tr>
        <tr>
          <th>クライアント</th>
          <td>
            <ul>
              <li>○○プロモーション株式会社 ○○様</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>販売開始日時</th>
          <td>2011/10/1 10:00</td>
        </tr>
        <tr>
          <th>販売終了日時</th>
          <td>2011/11/30 23:59</td>
        </tr>
        <tr>
          <th>${form.start_on.label.text}</th>
          <td>${event.start_on} (<a href="${request.route_path('performances.show', event_id=event.id, performance_id=1)}">○○○○東京公演</a>)</td>
        </tr>
        <tr>
          <th>${form.end_on.label.text}</th>
          <td>${event.end_on} (<a href="${request.route_path('performances.show', event_id=event.id, performance_id=3)}">○○○○大阪公演</a>)</td>
        </tr>
      </tbody>
    </table>

    <%include file="/events/_action_button.html" args="event=event" /> 
    <hr />

    <div id="performances" class="subsection">
      <div class="subsection-header">
        <div class="subsection-header-content">
          <h3>パフォーマンス</h3>
        </div>
      </div>
      <div class="subsection-main">
        <div class="subsection-main-content">
          <%include file="../performances/_list.html" />
        </div>
      </div>
    </div>

    <hr />

    <div id="venue-seattype-pairs" class="section">
      <h3 class="section-header">会場席種</h3>
      <div class="section-content">
        <table class="table fullwidth">
          <thead>
            <tr>
              <th class="minwidth">-</th>
              <th>ID</th>
              <th>名称</th>
              <th>会場名</th>
              <th>元マスタ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td>13</td>
              <td>1/5, 6 さいたまスーパーアリーナ</td>
              <td>さいたまスーパーアリーナ</td>
              <td>さいたまスーパーアリーナ</td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>16</td>
              <td>1/7 中之島ビッグトップ</td>
              <td>中之島ビッグトップ</td>
              <td>中之島ビッグトップ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div id="tickettypes">
      <h3>券種</h3>
    </div>

    <hr />

    <div id="purchasables">
      <h3>商品</h3>
    </div>
  </span>
</div>
