<%inherit file="/layout.html" />
<%namespace file="/common/helpers.html" import="validate_errors" />
<%namespace file="/common/helpers.html" import="alert_message" />
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="form_item" />
<%namespace file="/common/confirm_modal.html" import="delete_modal" />

<script>
  function delete_event(id) {
    $('#delete-modal').modal('toggle');
    $('#delete-modal #delete').attr('href', '/events/delete/' + id);
  }
</script>

<div class="row-fluid">
  <%include file="/parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>${event.title}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <table class="table table-bordered fullwidth">
      <tbody>
        <tr>
          <th>${form.title.label.text}</th>
          <td>${event.title}</td>
        </tr>
        <tr>
          <th>${form.abbreviated_title.label.text}</th>
          <td>${event.abbreviated_title}</td>
        </tr>
        <tr>
          <th>${form.code.label.text}</th>
          <td>${event.code}</td>
        </tr>
        <tr>
          <th>クライアント</th>
          <td>
            <ul>
              <li>○○プロモーション株式会社 ○○様</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>販売開始日時</th>
          <td>${event.sales_start_on.strftime('%Y/%m/%d %H:%M')}</td>
        </tr>
        <tr>
          <th>販売終了日時</th>
          <td>${event.sales_end_on.strftime('%Y/%m/%d %H:%M')}</td>
        </tr>
        <tr>
          <th>${form.start_on.label.text}</th>
          <td>${event.start_on.strftime('%Y/%m/%d %H:%M')}
            (<a href="${request.route_path('performances.show', event_id=event.id, performance_id=event.start_performance.id)}">
             ${event.start_performance.venue.name} 公演 </a>)
          </td>
        </tr>
        <tr>
          <th>${form.end_on.label.text}</th>
          <td>${event.end_on.strftime('%Y/%m/%d %H:%M')}
            (<a href="${request.route_path('performances.show', event_id=event.id, performance_id=event.final_performance.id)}">
              ${event.final_performance.venue.name} 公演 </a>)
          </td>
        </tr>
      </tbody>
    </table>

    <%include file="/events/_action_button.html" args="event=event" />
    <hr />

    <div id="performances" class="subsection">
      <div class="subsection-header">
        <div class="subsection-header-content">
          <h3>パフォーマンス</h3>
        </div>
      </div>
      <div class="subsection-main">
        <div class="subsection-main-content">
          <%include file="../performances/_list.html" />
        </div>
      </div>
    </div>
  </span>
</div>

${delete_modal(u'選択したイベントを削除します。よろしいですか？')}
