<%inherit file="/layout.html" />
<%namespace file="/common/helpers.html" import="validate_errors" />
<%namespace file="/common/helpers.html" import="alert_message" />
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="form_item" />
<%namespace file="/common/helpers.html" import="safe_strftime" />

<div class="row-fluid">
  <%include file="/parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>${event.title}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <table class="table table-bordered fullwidth">
      <tbody>
        <tr>
          <th class="span3">${form.title.label.text}</th>
          <td>${event.title}</td>
        </tr>
        <tr>
          <th>${form.abbreviated_title.label.text}</th>
          <td>${event.abbreviated_title}</td>
        </tr>
        <tr>
          <th>${form.code.label.text}</th>
          <td>${event.code}</td>
        </tr>
        <tr>
          <th>クライアント</th>
          <td>
            <ul>
              % for account in accounts:
              <li>${account.name} 様</li>
              % endfor
            </ul>
          </td>
        </tr>
        <tr>
          <th>販売開始日時</th>
          <td>${safe_strftime(event.sales_start_on)}</td>
        </tr>
        <tr>
          <th>販売終了日時</th>
          <td>${safe_strftime(event.sales_end_on)}</td>
        </tr>
        <tr>
          <th>${form.start_on.label.text}</th>
          <td>${safe_strftime(event.start_on)}
            % if event.start_performance:
            (<a href="${request.route_path('performances.show', event_id=event.id, performance_id=event.start_performance.id)}">
             ${event.start_performance.venue.name} 公演 </a>)
            % endif
          </td>
        </tr>
        <tr>
          <th>${form.end_on.label.text}</th>
          <td>${safe_strftime(event.end_on)}
            % if event.final_performance:
            (<a href="${request.route_path('performances.show', event_id=event.id, performance_id=event.final_performance.id)}">
              ${event.final_performance.venue.name} 公演 </a>)
            % endif
          </td>
        </tr>
      </tbody>
    </table>
    <%include file="/events/_action_button.html" args="event=event" />

    <hr />

    <div id="stock_types">
      <h3>席種</h3>
      <%include file="/stock_types/_list.html" args="event=event" />
      <%include file="/stock_types/_action_button.html" args="event=event" />
    </div>

    <hr />

    <div id="sales_segments">
      <h3>販売区分</h3>
      <%include file="/sales_segments/_list.html" args="sales_segments=event.sales_segments" />
      <%include file="/sales_segments/_action_button.html" args="event=event, form=form_ss" />
    </div>

    <hr />

    <div id="products">
      <h3>商品</h3>
      <%include file="/products/_list.html" args="event=event" />
      <%include file="/products/_action_button.html" />
    </div>

    <hr />

    <div id="performances">
      <h3>パフォーマンス</h3>
      <%include file="/performances/_list.html" />
      <%include file="/performances/_action_button.html" />
    </div>

  </span>
</div>
