<section class="headArea">
  <div class="inner">
    <p><span>{{performanceName}}</span><span>{{venueName}}</span>
    <span *ngIf="isDateObtained && i18nService.isJpn">
      {{year}}年{{month}}月{{day}}日 {{startOnTime}}～
    </span>
    <span *ngIf="isDateObtained && !i18nService.isJpn">
      {{year}}/{{month}}/{{day}} {{startOnTime}}～
    </span>
    </p>
    <button type="button" class="haBtn02 pc" (click)= "onClick()">
      <span class="iconSearch"></span>
      <span class="iconSearchTxt" *ngIf="i18nService.isJpn"></span>
      <span class="iconSearchTxt {{i18nService.locale}}" *ngIf="!i18nService.isJpn"></span>
    </button>
  </div>
</section>
