<%page args="form" />
<%namespace file="/common/helpers.html" name="h" />

<script type="text/javascript">
  $(function() {
    $('#modal-stock_type #type').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
        $('#modal-stock_type #color-picker').css('display', 'none');
      } else {
        $(this).val(0);
        $('#modal-stock_type #color-picker').css('display', 'block');
      }
    });

    $('#modal-stock_type #quantity_only').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(1);
      } else {
        $(this).val(0);
      }
    });

    $('#modal-stock_type').on('shown', function(){
      $(this).css('max-height', '750px')
          .css('margin-top', ($(this).outerHeight()/2)*-1)
          .css('margin-left',($(this).outerWidth()/2)*-1);
    });

    $("#modal-stock_type #fill_color").decentcolorpicker();
    $("#modal-stock_type #stroke_color").decentcolorpicker();
  });
</script>

<div id="modal-stock_type" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>席種</h3>
  </div>

  <div class="modal-body">
    <form action="javascript:save_stock_type();" method="POST">
      ${h.form_item(form.id)}
      ${h.form_item(form.event_id)}
      ${h.form_item(form.name, option={'style':'display: block;','maxlength':255})}
      ${h.form_item(form.quantity_only, option={'style':'display: inline;'})}
      ${h.form_item(form.type, option={'style':'display: inline;'})}
      ${h.form_item(form.order_no)}
      <hr />

      <div id="color-picker">
        ${h.form_item(form.fill_color, option={'class':'span3'})}
        ${h.form_item(form.stroke_color, option={'class':'span3'})}
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:$('#modal-stock_type').find('form').submit();" class="btn">保存</a>
  </div>
</div>
