<%page args="form, delivery_methods" />
<%namespace file="/common/helpers.html" name="h"/>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th class="span1"></th>
    <th class="span1">${h.sortable(form.id)}</th>
    <th>${h.sortable(form.name)}</th>
    <th>${h.sortable(form.fee)}</th>
  </tr>
  </thead>
  <tbody>
  % for delivery_method in delivery_methods.items:
  <tr id="delivery_method-${delivery_method.id}">
    <td><input name="delivery_method_id" type="radio" value=${delivery_method.id} /></td>
    <td id="id">${delivery_method.id}</td>
    <td><a href="javascript:edit_delivery_method(${delivery_method.id});" id="name">${delivery_method.name}</a></td>
    <td id="fee">${delivery_method.fee}</td>
  </tr>
  % endfor
  </tbody>
</table>

${h.pager(delivery_methods)}
