<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">運営会社</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h2 class="glitter red">運営会社</h2>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <%m:header>社名</%m:header>
        株式会社チケットスター <br/>
        (英名：TicketStar Inc. )<br/>
        <%m:header>代表者</%m:header>
        佐野 憲一<br/>
        <%m:header>事業内容</%m:header>
        各種興行チケット販売、再販売サービスの企画、運営<br/>
        興行チケット販売・管理システムの企画、設計、開発<br/>
        興行主に対するリサーチ、コンサルティングサービスの提供、新規ビジネスの立案<br/>
        インターネットを活用した各種サービス事業の企画、運営、開発<br/>
        ビジネス・経営戦略に関するコンサルティング事業<br/>
        <%m:header>本社所在地</%m:header>
        東京都品川区西五反田7-1-9　五反田HSビル 9階<br/>
    </div>
</div>
