<html>
<head>
  <title>楽天チケット 購入確認ページ</title>
</head>
<body>
      <a href="http://ticket.rakuten.co.jp/">
	<img src="${request.static_url('altair.app.ticketing.orderreview:static/RT/mobile/images/header_logo_01.gif')}" alt="楽天チケット" class="serviceLogo" width="97" height="35" /></a>
      <a href="http://ticket.rakuten.co.jp/">
	<img src="${request.static_url('altair.app.ticketing.orderreview:static/RT/mobile/images/header_logo_02.gif')}" alt="チケット" class="serviceTitle" width="88" height="23" /></a>


  <%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
  <a href="${h.safe_get_contact_url(request)}">お問い合わせ</a> / <a href="http://privacy.rakuten.co.jp/">個人情報保護方針</a> / <a href="http://www.ticketstar.jp/legal/">特定商取引法に基づく表示</a>
  <div>
    Copyright &copy; 2010-2015 TicketStar, Inc. All Rights Reserved. 
  </div>
</body>
</html>
