<%inherit file='../layout_2col.html'/>
<%namespace name="nco" file="../navcomponents.html"/>
<%namespace name="fco" file="../formcomponents.html"/>

<div class="circle circle-page circle-top"></div>
<h2>静的ページの追加</h2>

<div class="row-fluid">
  <div class="span12">
    ${nco.breadcrumbs(
	    names=["Top", u"新しいページの追加"], 
	    urls=[request.route_path("dashboard")]
	)}
  </div>
</div>


<form action="${h.current_route_path_override(request, action="create")}" 
	  method="POST" enctype="multipart/form-data">
  ${fco.form_as_table_strict(form,["name", "label", "zipfile","publish_begin", "publish_end", "layout", "interceptive"])}
  <button type="submit" class="btn">zipでupload</button>  
</form>
