<%inherit file='../layout_2col.html'/>
<%namespace name="nco" file="../navcomponents.html"/>
<%namespace name="fco" file="../formcomponents.html"/>

<style>
  .breadcrumbs-box {
    table-layout: fixed;
    margin-bottom: 10px;
    width: 95%
  }
  #breadcrumb-preview {
    min-width: 400px;
    font-size: 13px;
  }

  .breadcrumb-options {
    height: 30px;
    min-width: 400px;
    font-size: 13px;
    margin-bottom: 5px;
  }

  select {
      height: 100%;
      min-width: 400px;
  }

  .breadcrumb-options > .btn {
      padding: 0;
      height: 100%;
  }
</style>

<div class="circle circle-page circle-top"></div>
<h2>静的ページの追加</h2>

<div class="row-fluid">
  <div class="span12">
    ${nco.breadcrumbs(
	    names=["Top", u"新しいページの追加"], 
	    urls=[request.route_path("dashboard")]
	)}
  </div>
</div>

<script>

  var genre_dict = ${genre_dict|n}
  var genre_id_dict = ${genre_id_dict|n}

  // 該当静的ページセットの名前を記録
  var suffix = "";
  // 現在のパンくずリストの内容を記録
  var breadcrumb_str = "";
  // 現在のパンくずリストのジャンルを記録
  var breadcrumb_list=[];
  // 現在のパンくずリストの階層を記録
  var cur_dict = genre_dict;

  // パンくずリストのセレクトを追加
  add_row = function (val = "") {
    $clone = $('#option-template').clone();
    $clone.removeClass('hide')
          .removeAttr('id')
          .addClass('breadcrumb-options')
          .insertBefore($('#option-template'));

    add_option_value($clone.find('select'));
    if (val !== "") {
      $clone.find('select').val(val);
    }
  }

  // パンくずリストのセレクトのオプションを記入
  add_option_value = function($target) {
    $target.append($("<option></option>")
                   .attr("value", "dummy")
                   .text("")
            );
    for (var key in cur_dict) {
      $target.append($("<option></option>")
                   .attr("value", key)
                   .text(genre_id_dict[key])
            );
    }
  }

  // パンくずリストのセレクトを削除（それ以下のセレクトを全部削除）
  remove_row = function ($target) {
    var index = $target.prevAll().length;
    breadcrumb_list.splice(index, breadcrumb_list.length - index);
    $target.nextAll('.breadcrumb-options').remove();
    $target.remove();
  }

  // パンくずリストの内容を作り直す
  refresh_breadcrumb_str = function() {
    breadcrumb_str = "";
    for (var i = 0; i < breadcrumb_list.length; i++) {
      breadcrumb_str += genre_id_dict[breadcrumb_list[i]] + " >> ";
    }
    $('div#breadcrumb-preview').text(breadcrumb_str + suffix);
  }

  // 現在のパンくずリストの階層を探し直す
  refresh_cur_dict = function() {
    cur_dict = genre_dict;
    for (var i = 0; i < breadcrumb_list.length; i++) {
      cur_dict = cur_dict[breadcrumb_list[i]];
    }
  }

  // 現在の階層は最低層かどうかをチェック
  is_last = function(obj) {
    if (obj === null) return true;
    for (var key in obj) {
      if (hasOwnProperty.call(obj, key)) return false;
    }
    return true;
  }

  $(document).ready(function(){

    suffix = $('input#label').val();

    // 動的にページ名によりプレビューのパンくずリストを更新
    $('input#label').on('input', function() {
      suffix = $('input#label').val();
      $('div#breadcrumb-preview').text(breadcrumb_str + suffix);
    });

    // （初期化）1個目のセレクトにオプションを記入
    add_option_value($('select#first-option'));

    // （初期化）パンくずリストの記録が存在する場合、1個目（トップ）の階層とセレクトに更新
    if (breadcrumb_list.length !== 0) {
      $('select#first-option').val(breadcrumb_list[0]);
      cur_dict = cur_dict[breadcrumb_list[0]];
    }

    // （初期化）パンくずリストの記録が存在する場合、2個目の階層とセレクトを追加
    for (var i = 1; i < breadcrumb_list.length; i++) {
        add_row(breadcrumb_list[i]);
        cur_dict = cur_dict[breadcrumb_list[i]];
    }

    $('table.breadcrumbs-box')
    .on('change', '.breadcrumb-options select', function() {
      var index = $(this).parent().parent().prevAll().length;
      var val = $(this).val();

      if (breadcrumb_list.length == index) {

        breadcrumb_list.push(val);
        refresh_breadcrumb_str();
        cur_dict = cur_dict[val];

      } else {
        if (breadcrumb_list[index] !== val) {
          remove_row($(this).parent().parent().next());
        }

        if (val === "dummy") {
          breadcrumb_list.pop(index);
          remove_row($(this).parent().parent());
        } else {
          breadcrumb_list[index] = val;
        }
        refresh_breadcrumb_str();
        refresh_cur_dict();
      }

      if (is_last(cur_dict)) {
        if ($(this).parent().parent().nextAll('.breadcrumb-options').length > 0) {
            remove_row($(this).parent().parent().next());
         }
      } else {
        add_row();
      }
    });

    $('form#main')
    .on('submit', function(ev) {
      ev.preventDefault();
      var genre_id = breadcrumb_list[breadcrumb_list.length - 1];
      $('input#genre_id').val(genre_id);
      this.submit();
    });

  });
</script>
<form id="main" action="${h.current_route_path_override(request, action="create")}"
	  method="POST" enctype="multipart/form-data">
  ${fco.form_as_table_strict(form,["name", "label", "zipfile","publish_begin", "publish_end", "layout"])}
  <input type="hidden" id="genre_id" name="genre_id" value="">
</form>
<table class="table breadcrumbs-box">
  <tbody>
    <tr>
      <th><label for="breadcrumb-preview">パンくずリストプレビュー</label></th>
      <td><div id="breadcrumb-preview"></td>
    </tr>
    <tr>
      <th>パンくずリスト</th>
      <td>
        <div class="breadcrumb-options">
          <div class="option"><select id="first-option"></select></div>
        </div>
        <!--オプションのテンプレート-->
        <div id="option-template" class="hide">
          <div class="option"><select></select></div>
        </div>
        <!--オプションのテンプレート-->
      </td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn" form="main">zipでupload</button>
