<%inherit file='../layout_2col.html'/>
<%namespace name="co" file="components.html"/>

<div class="circle circle-page circle-top"></div>
<h2>更新確認画面 ページのタイトル - ${page.title} (ID: ${page.id})</h2>

<div class="row">
    ${co.page_difference(page, dict(params))}

    <form action="${h.current_route_path_override(request)}" method="POST">
      <input id="_method" name="_method" type="hidden" value="put" />
      ## POST data
      %for k,v in params:
        <input id="${k}" name="${k}" type="hidden" value="${v|n}"/>
      %endfor
      ${h.base.execute_stage()|n}
      <button type="submit" class="btn btn-info"><i class="icon-trash icon-white"></i> Update</button>
    </form>        
</div>
