<%page args="performances" />
<%namespace file="/common/helpers.html" import="safe_strftime" />

% if performances:
  <table class="table fullwidth checkboxed_table">
    <thead>
      <tr>
        <th class="minwidth"></th>
        <th><a href="#" class="sortable">ID</a></th>
        <th><a href="#" class="sortable">名称</a></th>
        <th><a href="#" class="sortable">会場</a></th>
        <th><a href="#" class="sortable">開場</a></th>
        <th><a href="#" class="sortable">開演</a></th>
        <th><a href="#" class="sortable">閉演</a></th>
      </tr>
    </thead>
    <tbody>
    % for performance in performances:
      <tr>
        <td><input type="radio" name="performance_id" value="${performance.id}" /></td>
        <td>${performance.id}</td>
        <td style="width:350px"><a href="${request.route_path('performances.show', performance_id=performance.id)}">${performance.name}</a></td>
        <td style="width:200px">${performance.venue.name if performance.venue else u'(なし)'}</td>
        <td>${safe_strftime(performance.open_on)}</td>
        <td>${safe_strftime(performance.start_on)}</td>
        <td>${safe_strftime(performance.end_on)}</td>
      </tr>
    % endfor
    </tbody>
  </table>
% endif
