<%page args="form, performances, limit=None" />
<%namespace file="/common/helpers.html" import="safe_strftime" />
<%namespace file="/common/helpers.html" import="pager"/>
<%namespace file="/common/helpers.html" import="sortable" />

<% paging = False if limit else True %>
<% display_only = True if request.matched_route.name == 'events.index' else False %>

% if performances:
  <table class="table fullwidth checkboxed_table">
    <thead>
      <tr>
        % if not display_only:
        <th class="minwidth"></th>
        % endif
        <th>${sortable(form.id, paging)}</th>
        <th>${sortable(form.name, paging)}</th>
        <th>会場</th>
        <th>${sortable(form.open_on, paging)}</th>
        <th>${sortable(form.start_on, paging)}</th>
        <th>${sortable(form.end_on, paging)}</th>
      </tr>
    </thead>
    <tbody>
    % for i, performance in enumerate(performances):
      <% if limit and i >= limit: break %>
      <tr>
        % if not display_only:
        <td><input type="radio" name="performance_id" value="${performance.id}" /></td>
        % endif
        <td>${performance.id}</td>
        <td style="width:350px"><a href="${request.route_path('performances.show', performance_id=performance.id)}">${performance.name}</a></td>
        <td style="width:200px">${performance.venue.name if performance.venue else u'(なし)'}</td>
        <td>${safe_strftime(performance.open_on)}</td>
        <td>${safe_strftime(performance.start_on)}</td>
        <td>${safe_strftime(performance.end_on)}</td>
      </tr>
    % endfor
    </tbody>
  </table>
% endif

% if paging:
  ${pager(performances)}
% endif