<%page args="performances" />

% if performances:
  <table class="table fullwidth checkboxed_table">
    <thead>
      <tr>
        <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></th>
        <th class="minwidth">ID</th>
        <th><a href="#" class="sortable">名称</a></th>
        <th><a href="#" class="sortable">会場</a></th>
        <th><a href="#" class="sortable">開場</a></th>
        <th><a href="#" class="sortable">開演</a></th>
        <th><a href="#" class="sortable">閉演</a></th>
      </tr>
    </thead>
    <tbody>
    % for performance in performances:
      <tr>
        <td><input type="checkbox" /></td>
        <td><a href="${request.route_path('performances.show', performance_id=performance.id)}">${performance.id}</a></td>
        <td><a href="${request.route_path('performances.show', performance_id=performance.id)}">${performance.name}</a></td>
        <td><a href=""></a>${performance.venue.name}</td>
        <td>${performance.open_on}</td>
        <td>${performance.start_on}</td>
        <td>${performance.end_on}</td>
      </tr>
    % endfor
    </tbody>
  </table>
% endif
