<%namespace file="/common/helpers.html" import="safe_strftime" />

<script type="text/javascript">
  stock_holder2stocks = {
    % for stock_holder in performance.stock_holders:
      '${stock_holder.id}':[
        % for stock in stock_holder.stocks:
          ['${stock.id}', '${stock.seat_type.name}'],
        % endfor
      ],
    % endfor
  }
  $(function() {
    $('#edit #stock_holders').change(function(){
      $('#stock_id').children().remove();
      stock_ids = stock_holder2stocks[$(this).val()];
      stock_id_node = window.document.getElementById('stock_id');
      if (stock_ids) {
        for (var i = 0; i < stock_ids.length; i++ ) {
          stock_id_node.options[i] = new Option(stock_ids[i][1], stock_ids[i][0]);
        }
        stock_id_node.selectedIndex = 0;
      }
    });
  });

  function edit_product(el) {
    $('#modal-product-edit #id').val($(el + ' #id').text());
    $('#modal-product-edit #name').val($(el + ' #name').text());
    $('#modal-product-edit #price').val($(el + ' #price').text());
    $('#modal-product-edit #sales_segment').val($(el + ' #sales_segment').attr('value'));
    $('#modal-product-edit').modal('toggle');
  }

  function json_update() {
    $.ajax({
      type: "POST",
      url: "/products/json.update/" + $('#modal-product-edit #id').val(),
      data:{
        "performance_id":${performance.id},
        "name":$('#modal-product-edit #name').val(),
        "price":$('#modal-product-edit #price').val(),
        "sales_segment_id":$('#modal-product-edit #sales_segment').val(),
        "stock_id":$('#modal-product-edit #stock_id').val().join(),
      },
      dataType:'json',
      success: function(msg){
        if (msg['success'] == true) {
          location.href = '/events/performances/show/' + ${performance.id};
        } else {
          alert(msg['success'])
        }
      }
    });
  }
</script>

<ul class="nav nav-pills">
  <li class="dropdown" id="product-new">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#product-new">
      新規商品
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a data-toggle="modal" href="#modal-sales_segment-new" >新規販売条件</a></li>
      <li><a data-toggle="modal" href="#modal-product-new" >新規作成</a></li>
      <li><a data-toggle="modal" href="#modal-product-new" >チェックした商品を複製</a></li>
      <li class="divider"></li>
    </ul>
  </li>
</ul>

<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></th>
    <th class="minwidth">ID</th>
    <th><a href="#" class="sortable">商品名</a></th>
    <th><a href="#" class="sortable">価格</a></th>
    <th><a href="#" class="sortable">販売区分</a></th>
    <th><a href="#" class="sortable">販売開始日時</a></th>
    <th><a href="#" class="sortable">販売終了日時</a></th>
  </tr>
  </thead>
  <tbody>
  % for product in products:
    <tr id="product-${product.id}">
      <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></th>
      <td id="id">${product.id}</td>
      <td><a href="javascript:edit_product('#product-${product.id}');" id="name">${product.name}</a></td>
      <td id="price">${product.price}</td>
      % if product.sales_segment:
      <td>
        <a href="${request.route_path('products.sales_segments.show', sales_segment_id=product.sales_segment.id)}">
          ${product.sales_segment.name}
        </a>
        <hidden id="sales_segment" value="${product.sales_segment.id}" />
      </td>
      <td>${safe_strftime(product.sales_segment.start_at)}</td>
      <td>${safe_strftime(product.sales_segment.end_at)}</td>
      % else:
      <td></td>
      <td></td>
      <td></td>
      % endif
    </tr>
    <%doc>
    % if product.items:
    <tr>
      <td colspan="7">
        <span class="pull-right" style="width:300px">
          <table class="table table-striped table-bordered table-condensed">
            <tr>
              <th>席種</td>
              <th>席数</td>
            </tr>
            % for item in product.items:
              % for stock in item.stocks:
                  <tr>
                    <td>${stock.seat_type.name}</td>
                    <td>${stock.quantity}</td>
                  </tr>
              % endfor
            % endfor
          </table>
        </span>
      </td>
    </tr>
    % endif
    </%doc>
  % endfor
  </tbody>
</table>

<div class="modal fade" id="modal-product-new">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <div class="modal-body">
    <label>商品名</label>
    <input type="text" class="span3" placeholder="商品名" value="">
    <label>価格</label>
    <input type="text" class="span3" placeholder="価格" value="">
    <label>販売方法</label>
    <div>
        <div>
            <ul>
                <li>クレジットカード</li>
            </ul>
        </div>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="#" class="btn btn-primary">保存</a>
  </div>
</div>

<%include file="./_product_form.html" />

<div class="modal fade" id="modal-product-edit">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <form id="edit" action="javascript:json_update()" method="POST">
    <div class="modal-body">
      <fieldset>
        <input id="id" type="hidden">
        <label>商品名</label>
        <input id="name" name="name" type="text" class="span3" placeholder="商品名">
        <label>価格</label>
        <input id="price" name="price" type="text" class="span3" placeholder="価格">
        <label>販売条件</label>
        <select id="sales_segment">
          % for sales_segment in sales_segments:
          <option value="${sales_segment.id}">${sales_segment.name}</option>
          % endfor
        </select>
        <label>商品構成</label>
        <select id="stock_holders">
        % for stock_holder in performance.stock_holders:
          % if stock_holder.account.user_id == user.id:
            <option value="${stock_holder.id}">${stock_holder.name}</option>
          % endif
        % endfor
        </select>
        <select id="stock_id" multiple></select>
      </fieldset>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <input class="btn" type="submit" value="保存"></a>
    </div>
  </form>
</div>
