<%page args="performance" />
<%namespace file="./_venue_view.html" name="vv" />
<%namespace file="/common/helpers.html" name='h' />

<style>
  #tooltip {
    border: solid 3px #05C;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    text-decoration: none;
    margin: 10px;
    padding: 5px 5px;
    width: 80px;
    zoom: 1;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-in-out;
    background-color: white;
    visibility: hidden;
    z-index: 10;
    opacity: 1;
  }

  .swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -6px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  #venue-editor .venue-editor-main .venue-editor-main-root {
    width: 100%;
  }

  #venue-editor .venue-editor-main .venue-editor-main-side {
    width: 0%;
  }
</style>

<div id="tooltip"></div>
<div class="tabbable tabs-below tabs-above" id="seat-allocation-tab">
  <div class="tab-content"  id="seat-allocation-tab-content">
    <div class="tab-pane active" id="map">
      <div class="container-fluid">
        <div class="row-fluid">
          <%
            data_source = {
              'drawing': request.route_path('api.get_drawing', venue_id=performance.venue.id),
              'metadata': request.route_path('api.get_seats', venue_id=performance.venue.id,
              _query={u'n':u'seats|stock_types|stock_holders|stocks', u'f':u'sale_only'})
            }
          %>
          <%vv:venueeditor data_source="${data_source}">
            <%def name="toolbar_extra()">
            <div style="float:right">
              <a href="javascript:getOrderForm();" class="btn btn-primary btn-small">座席指定</a>
            </div>
            </%def>

            <%def name="post()">
<script type="text/javascript">
  function getOrderForm(stock_id) {
    var param = {'seats':[], 'stocks':[], 'performance_id':${performance.id}};
    var selection = venueEditorRoot.venueeditor('selection');
    if (stock_id) {
      param['stocks'].push(stock_id);
    } else {
      selection.each(function (seat) {
        param['seats'].push(seat.id);
        var stock_id = seat.get('stock').get('id');
        if ($.inArray(stock_id, param['stocks']) == -1)
          param['stocks'].push(stock_id);
      });
    }
    $.ajax({
      type: 'post',
      url: '${request.route_path('orders.reserve.form')}',
      data: JSON.stringify(param),
      dataType: 'html',
      success: function(data) {
        $('#reserve-form').html(data);
        $('#modal-reserve').modal('show');
      }
    });
  }

  function confirmOrder() {
    var modal = $('#modal-reserve');
    modal.find('.modal-body .alert').remove();
    var param = {};
    $(modal.find('form').serializeArray()).each(function(i, v) {
      param[v.name] = v.value;
    });
    $.ajax({
      type: 'post',
      url: "${request.route_path('orders.reserve.confirm')}",
      data: JSON.stringify(param),
      dataType: 'html',
      success: function(data) {
        $('#modal-reserve').modal('hide');
        $('#reserve-form').html(data);
        $('#modal-reserve').modal('show');
      },
      error: function(xhr, text) {
        var responseText = JSON.parse(xhr.responseText);
        var messages = responseText['message'] || xhr.statusText;
        var errors = '';
        if (typeof messages == 'string') {
          errors += '<li>' + messages + '</li>';
        } else {
          for (i in messages)
            errors += '<li>' + messages[i] + '</li>';
        }
        modal.find('.modal-body').prepend('<div class="alert alert-error"><ul>' + errors + '</ul></div>');
      }
    });
  }

  function completeOrder() {
    var modal = $('#modal-reserve');
    modal.find('.modal-body .alert').remove();
    var param = {};
    $(modal.find('form').serializeArray()).each(function(i, v) {
      param[v.name] = v.value;
    });
    $.ajax({
      type: 'post',
      url: "${request.route_path('orders.reserve.complete')}",
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(param),
      success: function(result) {
        window.open('/orders/show/' + result.order_id, '_blank');
        $('.content').prepend('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><h4 class="alert-heading">' + result.message + '</h4></div>');
        $('#modal-reserve').modal('hide');
        var selection = venueEditorRoot.venueeditor('selection');
        selection.each(function (seat) {
          seat.set('status', 3);
          seat.set('selectable', false);
        });
        venueEditorRoot.venueeditor('clearAll');
        getSalesSummary();
      },
      error: function(xhr, text) {
        var responseText = JSON.parse(xhr.responseText);
        var messages = responseText['message'] || xhr.statusText;
        var errors = '';
        if (typeof messages == 'string') {
          errors += '<li>' + messages + '</li>';
        } else {
          for (i in messages)
            errors += '<li>' + messages[i] + '</li>';
        }
        modal.find('.modal-body').prepend('<div class="alert alert-error"><ul>' + errors + '</ul></div>');
      }
    });
  }

  function reselectOrder() {
    $.ajax({
      type: 'post',
      url: '${request.route_path('orders.reserve.reselect')}',
      dataType: 'html',
      success: function(data) {
        $('#modal-reserve').modal('hide');
      }
    });
  }

  function getSalesSummary() {
    var table = '#sales-summary';
    var url = '${request.route_path('orders.sales_summary')}';
    $.ajax({
      type: 'post',
      url: url,
      dataType: 'html',
      data: {'performance_id':${performance.id}},
      success: function(data) {
        $('#sales-summary').effect("highlight", {color: '#D9EDF7'}, 1000);
        $('#sales-summary').html(data);
      }
    });
  }

  $(function() {
    getSalesSummary();
  });
</script>
            </%def>

          </%vv:venueeditor>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%include file="_legend_seat_status.html" />
</div>

<div id="sales-summary"></div>

<div id="reserve-form"></div>
