<%namespace file="/common/helpers.html" import="pager"/>
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="safe_strftime" />
<%namespace file="/common/helpers.html" import="form_item" />

<script type="text/javascript">
  $(function() {
    $('#start_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#end_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
  });

  function add_sales_segment() {
    $('#modal-edit-sales_segment').modal('toggle');
    $('#modal-edit-sales_segment #edit').attr('action', '/products/segments/new');
  }
</script>

<div class="content">
  ${flash_messages(request)}
</div>

<a href="javascript:add_sales_segment()" class="btn">
  <i class="icon-pencil"></i> 新規
</a>

<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></th>
    <th class="minwidth">ID</th>
    <th><a href="#" class="sortable">名称</a></th>
    <th><a href="#" class="sortable">販売開始日時</a></th>
    <th><a href="#" class="sortable">販売終了日時</a></th>
    <th>決済方法</th>
    <th>配送方法</th>
  </tr>
  </thead>
  <tbody>
  % for sales_segment in sales_segments:
    % for i, payment_delivery_method_pair in enumerate(sales_segment.payment_delivery_method_pair):
      <tr>
      % if i == 0:
        <% rowspan = 'rowspan=%s' % (len(sales_segment.payment_delivery_method_pair)) %>
        <td ${rowspan}><input type="checkbox" /></td>
        <td ${rowspan}>${sales_segment.id}</td>
        <td ${rowspan}><a href="${request.route_path('products.sales_segments.show', sales_segment_id=sales_segment.id)}">${sales_segment.name}</a></td>
        <td ${rowspan}>${safe_strftime(sales_segment.start_at)}</td>
        <td ${rowspan}>${safe_strftime(sales_segment.end_at)}</td>
      % endif
        <td>${payment_delivery_method_pair.payment_method.name}</td>
        <td>${payment_delivery_method_pair.delivery_method.name}</td>
      </tr>
    % endfor
  % endfor
  </tbody>
</table>

<div class="modal fade" id="modal-edit-sales_segment">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>決済・配送方法の編集</h3>
  </div>

  <form id="edit" action="" method="POST">
    <div class="modal-body">
      ${form_item(form_ss.name)}
      ${form_item(form_ss.start_at)}
      ${form_item(form_ss.end_at)}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">閉じる</a>
      <input class="btn" type="submit" value="保存"></a>
    </div>
  </form>
</div>
