<script type="text/javascript">
  $(window).resize(function(api){
    $("#seat-map").height($(window).height()-230);
    $("#allocated-list").height($(window).height()-230);
  });

  $(document).ready(function(){
    $("#seat-map").height($(window).height()-230);
    $("#allocated-list").height($(window).height()-230);
  });

  $(".collapse").collapse();
</script>

<div class="tabbable tabs-below tabs-above" id="seat-allocation-tab">
  <div class="tab-content"  id="seat-allocation-tab-content">
    <div class="tab-pane active" id="map">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span8" style="background-color: #999999">
            <div style="width:100%;" id="seat-map"></div>
          </div>
          <div class="span4">
            <ul class="nav nav-pills">
              <li class="dropdown" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                  枠/押さえ
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" href="javascript:new_stock_holder()" >新規配券先</a></li>
                </ul>
              </li>
              <li class="dropdown" id="menu2">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                  配券
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li><a data-toggle="modal" href="#modal-new-stock-group-send" >返券</a></li>
                  <li><a data-toggle="modal" href="#modal-new-stock-group-send" >追券</a></li>
                </ul>
              </li>
              </li>
              <li class="dropdown" id="report">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#report">
                  明細
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" href="#modal-report" >座席明細（すべて）</a></li>
                  <li><a data-toggle="modal" href="#modal-report" >配券明細（すべて）</a></li>
                  <li class="divider"></li>
                  <li><a data-toggle="modal" href="#modal-report" >座席明細（選択）</a></li>
                  <li><a data-toggle="modal" href="#modal-report" >配券明細（選択）</a></li>
                </ul>
              </li>
            </ul>

            <%include file="/stock_holders/_list.html" args="performance=performance" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-report">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>帳票</h3>
  </div>

  <div class="modal-body">
    <label class="control-label">帳票の出力タイプを選択</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Excel
      </label>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Csv
      </label>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
        PDF
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="#" class="btn btn-primary">出力</a>
  </div>
</div>
