<style>
    .swatch {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: -6px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }
</style>


<div class="modal fade" id="modal-report">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>帳票</h3>
    </div>

    <div class="modal-body">
        <label class="control-label">帳票の出力タイプを選択</label>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Excel
          </label>
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Csv
          </label>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
              PDF
            </label>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">閉じる</a>
        <a href="#" class="btn btn-primary">出力</a>
    </div>
</div>

<div class="modal fade" id="modal-new-stock-group-own">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>新規押さえ</h3>
    </div>

    <div class="modal-body">
        <label>ラベル</label>
        <input type="text" class="span3" placeholder="ラベル">

    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">閉じる</a>
        <a href="#" class="btn btn-primary">保存</a>
    </div>
</div>

<div class="modal fade" id="modal-new-stock-group-send">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>新規押さえ</h3>
    </div>

    <div class="modal-body">
        <label>ラベル</label>
        <input type="text" class="span3" placeholder="ラベル">
        <label>配券先</label>
        <select>
            <option>A社</option>
            <option>B社</option>
            <option>C社</option>
        </select>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">閉じる</a>
        <a href="#" class="btn btn-primary">保存</a>
    </div>
</div>

<script type="text/javascript">
    $('#modal-edit').on('hidden', function () {
      // do something…
    })
</script>

<div class="tabbable tabs-below tabs-above" id="seat-allocation-tab">
  <div class="tab-content"  id="seat-allocation-tab-content">
      <div class="tab-pane active" id="map">
        <div>
            <div class="container-fluid">
              <div class="row-fluid">
                  <div class="span8" style="background-color: #999999">
                      <div style="width:100%;  margin: 0 0 0 5px;" id="seat-map">
                      </div>
                  </div>
                <div class="span4">
                    <ul class="nav nav-pills">
                        <li class="dropdown" id="menu1">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                            枠/押さえ
                            <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a data-toggle="modal" href="#modal-new-stock-group-own" >新規押さえ</a></li>
                            <li><a data-toggle="modal" href="#modal-new-stock-group-send" >新規配券先</a></li>
                            <li class="divider"></li>
                          </ul>
                        </li>
                      <li class="dropdown" id="menu2">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                          配券
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="divider"></li>
                            <li><a data-toggle="modal" href="#modal-new-stock-group-send" >返券</a></li>
                            <li><a data-toggle="modal" href="#modal-new-stock-group-send" >追券</a></li>
                        </ul>
                      </li>
                        </li>
                          <li class="dropdown" id="report">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#report">
                              明細
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#modal-report" >座席明細（すべて）</a></li>
                                <li><a data-toggle="modal" href="#modal-report" >配券明細（すべて）</a></li>
                              <li class="divider"></li>
                                <li><a data-toggle="modal" href="#modal-report" >座席明細（選択）</a></li>
                                <li><a data-toggle="modal" href="#modal-report" >配券明細（選択）</a></li>
                            </ul>
                          </li>
                    </ul>
                    <table class="table table-striped table-bordered table-condensed">
                        <h4>枠</h4>
                        <tbody>
                           <tr>
                             <th rowspan="3"><input type="checkbox" class=""></th>
                             <th rowspan="3"><span class="swatch" style="background-color: #049cdb;"></span>ネット販売</th>
                             <th></span>S席</th>
                             <td>1000席</td>
                           </tr>
                           <tr>
                             <th>A席</th>
                             <td>1000席</td>
                           </tr>
                           <tr>
                             <th></span>B席</th>
                             <td>1000席</td>
                           </tr>
                         </tbody>
                        <tbody>
                           <tr>
                             <th rowspan="3"><input type="checkbox" class=""></th>
                             <th rowspan="3"><span class="swatch" style="background-color: #ffc40d;"></span>招待</th>
                             <th>S席</th>
                             <td>1000席</td>
                           </tr>
                           <tr>
                             <th>A席</th>
                             <td>1000席</td>
                           </tr>
                           <tr>
                             <th>B席</th>
                             <td>1000席</td>
                           </tr>
                         </tbody>
                        <tbody>
                      </table>
                    <h4>配券</h4>
                      <table class="table table-striped table-bordered table-condensed">
                          <tbody>

                           <tr>

                               <th rowspan="3"><input type="checkbox" class=""></th>
                             <th rowspan="3"><span class="swatch" style="background-color: #c3325f;"></span>A社配券</th>
                             <th>S席</th>
                             <td>1000席</td>
                           </tr>
                           <tr>
                             <th>A席</th>
                             <td>1000席</td>
                           </tr>
                           <tr>
                             <th>B席</th>
                             <td>1000席</td>
                           </tr>
                         </tbody>
                    </table>
                </div>

              </div>
            </div>


        </div>
      </div>
      <div class="tab-pane" id="detail">
          <ul class="nav nav-pills">
              <li class="dropdown" id="menu2">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                  枠/押さえ
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" href="#modal-new-stock-group-own" >新規押さえ</a></li>
                  <li><a data-toggle="modal" href="#modal-new-stock-group-send" >新規配券先</a></li>
                  <li class="divider"></li>
                </ul>
              </li>
            <li class="dropdown" id="menu3">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">
                配券
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                  <li><a data-toggle="modal" href="#modal-new-stock-group-send" >返券</a></li>
                  <li><a data-toggle="modal" href="#modal-new-stock-group-send" >追券</a></li>
              </ul>
            </li>
              <li class="dropdown" id="report">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#report">
                  明細
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                    <li><a data-toggle="modal" href="#modal-new-stock-group-send" >返券</a></li>
                    <li><a data-toggle="modal" href="#modal-new-stock-group-send" >追券</a></li>
                </ul>
              </li>
          </ul>
          <div style="width:100%" id="allocated-list">
          <table class="table table-striped table-bordered table-condensed " >
              <tbody>
                 <tr>
                   <th rowspan="3">ネット販売</th>
                   <th>S席</th>
                   <td>1000席</td>
                 </tr>
                 <tr>
                   <th>A席</th>
                   <td>1000席</td>
                 </tr>
                 <tr>
                   <th>B席</th>
                   <td>1000席</td>
                 </tr>
               </tbody>
              <tbody>
                 <tr>
                   <th rowspan="3">招待</th>
                   <th>S席</th>
                   <td>1000席</td>
                 </tr>
                 <tr>
                   <th>A席</th>
                   <td>1000席</td>
                 </tr>
                 <tr>
                   <th>B席</th>
                   <td>1000席</td>
                 </tr>
               </tbody>
              <tbody>
                 <tr>
                   <th rowspan="3">A社配券</th>
                   <th>S席</th>
                   <td>1000席</td>
                 </tr>
                 <tr>
                   <th>A席</th>
                   <td>1000席</td>
                 </tr>
                 <tr>
                   <th>B席</th>
                   <td>1000席</td>
                 </tr>
               </tbody>
          </table>
              </div>
      </div>
  </div>
    <ul class="nav nav-tabs"id="seat-allocation-tab-content-navi">
        <li class="active"><a href="#map" data-toggle="tab">会場図</a></li>
        <li><a href="#detail" data-toggle="tab">詳細</a></li>
    </ul>
</div>
<script>

$( window ).resize(function(api){
    $("#seat-map").height($(window).height()-230);
    $("#allocated-list").height($(window).height()-230);
});
$(document).ready(function(){
    $("#seat-map").height($(window).height()-230);
    $("#allocated-list").height($(window).height()-230);
});

</script>