<%page args="performance, form_stock_type, form_stock_allocation" />

<script type="text/javascript">
  function readjustMap() {
    var n = $("#venue-map");
    n.height($(window).height() - 250);
    var width = n.width();
    var height = n.height();
    var toolbar = n.find(".ui-toolbar");
    toolbar.width(width - 6);
    var data = n.data('venue_editor');
    if (data && data.manager) {
      data.manager.drawable.viewportSize({
        width: width,
        height: height - toolbar[0].offsetHeight
      });
    }
  }
  $(window).resize(readjustMap);
  $(document).ready(readjustMap);
</script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8" style="background-color: #999999">
      <div style="width:100%;" id="venue-map"></div>
    </div>

    <div class="span4">
      <%include file="/stock_types/_list.html" args="stock_types=performance.event.stock_types" />
      <%include file="/stock_types/_action_button.html" args="event=performance.event" />
      <div id="stock_types-form">
        <%include file="/stock_types/_form.html" args="form=form_stock_type" />
      </div>
      <div id="stock_allocations-form">
        <%include file="/stock_allocations/_form.html" args="form=form_stock_allocation" />
      </div>
    </div>
  </div>
</div>
