<%namespace file="/common/confirm_modal.html" import="delete_modal" />

<script>
  $(function() {
    $('#delete').click(function(){
      $('#delete-modal').modal('toggle');
      $('#delete-modal #delete').attr('href', '/seat_types/delete/' + $('input[name=checked_id]:checked').val());
    });
  });

  function add() {
    $('#edit-modal').modal('toggle');
    $('#edit-modal #edit').attr('action', '/seat_types/new/' + ${performance.id});
  }

  function edit(seat_type_id, name) {
    $('#edit-modal').modal('toggle');
    $('#edit-modal #name').val(name);
    $('#edit-modal #edit').attr('action', '/seat_types/edit/' + seat_type_id);
  }

  $(window).resize(function(api){
    $("#venue-map").height($(window).height()-230);
  });

  $(document).ready(function(){
    $("#venue-map").height($(window).height()-230);
  });
</script>

  <style type="text/css">
    #canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    }

    #toolbar {
    padding: 5px 0 5px 5px;
    margin: 0;
    }

    #toolbar input label {
    height: 10px;
    }
    #venue-map {
    padding: 0;
    overflow:hidden;
    }
  </style>

  <link rel="stylesheet" href="/static/js/demo/development-bundle/themes/base/jquery.ui.all.css">
  <script type="text/javascript" src="/static/js/demo/development-bundle/ui/jquery.ui.core.js"></script>
  <script type="text/javascript" src="/static/js/demo/development-bundle/ui/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="/static/js/demo/development-bundle/ui/jquery.ui.button.js"></script>

  <script type="text/javascript" src="/static/js/demo/fashion.js"></script>
  <script type="text/javascript" src="/static/js/demo/demo2.js"></script>

  <script type="text/javascript">
  window.addEventListener('load', function() {
  var canvasElement = document.getElementById("canvas");
  var svgStyle = {
    'fill': new Fashion.Color(0, 0, 0), 'fill-opacity': 1.,
    'stroke': null, 'stroke-opacity': 1.,
    'stroke-width': 1
  };

  {
    $( "#select1" ).button({
      text: false,
      icons: {
        primary: "ui-icon-arrowthick-1-ne"
      }
    }).click(function() {
      manager.changeTool('select1');
    });

    $( "#select" ).button({
      text: false,
      icons: {
        primary: "ui-icon-calculator"
      }
    }).click(function() {
      manager.changeTool('select');
    });

    $( "#zoomin" ).button({
      text: false,
      icons: {
        primary: "ui-icon-zoomin"
      }
    }).click(function() {
      manager.changeTool('zoomin');
    });

    $( "#zoomout" ).button({
      text: false,
      icons: {
        primary: "ui-icon-zoomout"
      }
    }).click(function() {
      manager.changeTool('zoomout');
    });

    $("#toolbar").buttonset();
  }


 var make_async_set_waiter = function(async_identifiers, after_doing) {
    var stor = {};
    for (var i=0,l=async_identifiers.length; i < l; i++) {
      stor[async_identifiers[i]] = void(0);
    }
    return function(idt, data) {
      stor[idt] = data;
      for (var i in stor) {
        if (stor.hasOwnProperty(i)) {
          if (stor[i] === void(0)) return;
        }
      }
      // if all data has come.
      after_doing.call(null, stor);
    }
  };

  var waiter = make_async_set_waiter(
    ['drawable', 'metadata', 'rules'],
    function(data) {
      var rules = data.rules.seats;
      var metadata = data.metadata.seats;
      var drawable = data.drawable;
      var logged = false;
      console.log(rules);
      drawable.each(function(i){
        if (i.seat) {
          var id = i.id;
          var meta = metadata[id];
          var styles = {};
          for (var j in rules) {
            var rule = rules[j];
            var m = meta[j];
            var st = (m in rule) ? rule[m] : rule['default'];
            for (var k in st) {
              styles[k] = st[k];
            }
          }
          i.style(styles);
          if (styles.text !== null) {
            var pos = i.position();
            var size = i.size();
            i.label = drawable.draw(
              new Fashion.Text(
                pos.x,
                pos.y + (size.height * 0.75),
                (size.height * 0.75),
                styles.text));
          }
        }
      });
    });

  loadXml(
    "${request.route_path('api.get_drawing', venue_id=performance.venue_id)}",
    function(xml) {
      canvasElement.removeChild(canvasElement.firstChild);
      drawable = parseSvg(xml, canvasElement);
      manager = new DemoManager(drawable);
      waiter('drawable', drawable);
    }, function() {
      canvasElement.firstChild.innerHTML = "Loading failed";
    }
  );

  loadText(
  "${request.route_path('api.get_seats', venue_id=performance.venue_id)}",
  function(txt) {
    eval("var x = " + txt);
    waiter('metadata', x);
  }, function() {
    canvasElement.firstChild.innerHTML = "Loading failed";
  });

  loadText(
  "/static/js/demo/renderingRules.json",
  function(txt) {
    eval("var x = " + txt);
    waiter('rules', x);
  }, function() {
    canvasElement.firstChild.innerHTML = "Loading failed";
  });


}, false);

  </script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8" style="background-color: #999999">
      <div style="width:100%;" id="venue-map">
      <div id="toolbar" class="ui-widget-header ui-corner-all">
        <input name="toolbarbtn" type="radio" id="select1" checked="checked"><label for="select1">select1</label>
        <input name="toolbarbtn" type="radio" id="select"><label for="select">select</label>
        <input name="toolbarbtn" type="radio" id="zoomin"><label for="zoomin">zoomin</label>
        <input name="toolbarbtn" type="radio" id="zoomout"><label for="zoomout">zoomout</label>
      </div>
        <div id="canvas"><div class="message">Loading...</div></div>
      </div>
    </div>
    <div class="span4">
      <div class="tab-pane" id="detail">
        <ul class="nav nav-pills">
          <li class="dropdown" id="seat-type-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#seat-type-menu">
              席種<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:add()"><i class="icon-plus"></i> 新規</a>
              </li>
              <li>
                <a id="delete" data-controls-modal="delete-modal" data-backdrop="true" data-keyboard="true">
                  <i class="icon-minus"></i> 削除
                </a>
              </li>
              <li class="divider"></li>
            </ul>
          </li>
          <li class="dropdown" id="venue-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#venue-menu">
              会場図<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <i class="icon-plus"></i> 保存
              </li>
              <li class="divider"></li>
            </ul>
          </li>
        </ul>
      </div>

      <table class="table table-striped table-bordered table-condensed">
        <tbody>
          <tr>
          </tr>
          % for seat_type in performance.seat_types:
          <tr>
            <td><input name="checked_id" type="radio" value=${seat_type.id} /></td>
            <td>
              <a id="edit" href="javascript:edit(${seat_type.id}, '${seat_type.name|u}')">
              <span class="swatch" style="background-color: #049cdb;"></span>${seat_type.name}</a>
            </td>
            <td>
              ${len(seat_type.seats)}席
            </td>
          </tr>
          % endfor
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="edit-modal" class="modal fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>席種</h3>
    </div>

    <form id="edit" action="" method="POST">
        <div class="modal-body">
            <label>席種名</label>
            <input id="name" name="name" type="text" class="span3" value="">
            <label>色</label>
            <input id="line_color" name="name" type="text" class="span3" value="">
            <label>線の太さ</label>
            <div class="controls">
                <label class="checkbox inline"><input type="radio" name="line_thickness" id="line_thickness1" value="option1">1</label>
                <label class="checkbox inline"><input type="radio" name="line_thickness" id="line_thickness2" value="option2">2</label>
                <label class="checkbox inline"><input type="radio" name="line_thickness" id="line_thickness3" value="option3">3</label>
                <label class="checkbox inline"><input type="radio" name="line_thickness" id="line_thickness4" value="option3">4</label>
                <label class="checkbox inline"><input type="radio" name="line_thickness" id="line_thickness5" value="option3">5</label>
                <label class="checkbox inline"><input type="radio" name="line_thickness" id="line_thickness6" value="option3">6</label>
            </div>
            <label class="control-label" for="inlineCheckboxs">線の種類</label>
            <div class="controls">
                <label class="checkbox inline"><input type="radio" name="line_style" id="inlineCheckbox1" value="option1">実線</label>
                <label class="checkbox inline"><input type="radio" name="line_style" id="inlineCheckbox2" value="option2">破線</label>
                <label class="checkbox inline"><input type="radio" name="line_style" id="inlineCheckbox3" value="option3">点線</label>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">閉じる</a>
            <input class="btn" type="submit" value="保存"></a>
        </div>
    </form>
</div>

<script type="text/javascript">
$('#line_color').ColorPicker({
	onSubmit: function(hsb, hex, rgb, el) {
		$(el).val(hex);
		$(el).ColorPickerHide();
	},
	onBeforeShow: function () {
		$(this).ColorPickerSetColor(this.value);
	},
    onChange: function (hsb, hex, rgb) {
        $('#line_color').css('backgroundColor', '#' + hex);
        $('#line_color').val(hex)
    },
    zIndex: 9999
})
.bind('keyup', function(){
	$(this).ColorPickerSetColor(this.value);
});

</script>

${delete_modal(u'選択した席種を削除します。よろしいですか？')}
