<%inherit file="../layout_2cols.html" />
<%namespace file="/common/helpers.html" name="h" />

<%
  if request.matched_route.name == 'performances.new':
    route_name = u'登録'
    route_path = request.route_path('performances.new', event_id=event.id)
  elif request.matched_route.name == 'performances.copy':
    route_name = u'コピー'
    route_path = request.route_path('performances.copy', performance_id=form.original_id.data)
  else:
    route_name = u'編集'
    route_path = request.route_path('performances.edit', performance_id=form.id.data)
%>

<script type="text/javascript">
  $(function() {
    $('#start_on').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#end_on').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#open_on').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#start_on').focusout(function(){
      var re = new RegExp("([0-9]{2})([0-9]{2})-([0-9]{2})-([0-9]{2}) ([0-9]{2}):([0-9]{2})", "i");
      if ($(this).val().match(re)) {
        $('#code').val('${event.code}' + $(this).val().replace(re, '$2$3$4') + '1');
      }
    });
  });
</script>

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'イベント', event.title, u'パフォーマンス', route_name],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=event.id),
        request.route_path('performances.index', event_id=event.id),
      ]
  )}
</div>

<div class="page-header">
  <h1>パフォーマンス${route_name}</h1>
</div>

<div class="content">
  ${h.flash_messages(request)}
  ${h.alert_message(form)}
</div>

<div class="well">
  <form class="form-horizontal" action="${route_path}" method="POST">
    <fieldset>
      ${h.form_item(form.id)}
      ${h.form_item(form.original_id)}
      ${h.form_item(form.name, option={'class':'span8', 'maxlength':255})}
      ${h.form_item(form.open_on)}
      ${h.form_item(form.start_on)}
      ${h.form_item(form.end_on)}
      ${h.form_item(form.code, option={'class':'span3', 'maxlength':12, 'placeholder':event.code})}
      ${h.form_item(form.venue_id, option={'class':'span6'})}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
    </div>
  </form>
</div>
