<%inherit file="/layout.html"/>
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="safe_strftime" />
<%namespace file="/common/helpers.html" import="breadcrumbs" />

<div class="row-fluid">
  <%include file="/parts/_menu.html" />

  <div class="span10">
    ${breadcrumbs(
        names=[u'イベント', event.title, u'パフォーマンス'],
        urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
    )}
  </div>

  <span class="span10">
    <div class="page-header">
      <h3>パフォーマンス</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <%include file="/performances/_list.html" args="form=form, performances=performances" />
    <%include file="/performances/_action_button.html" args="event=event" />
  </span>
</div>
