<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" import="flash_messages" />
<%block name="style">
<link rel="stylesheet" type="text/css" href="/static/css/kolorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/performance.css" />
<script type="text/javascript" src="/static/js/jquery.kolorpicker.js"></script>
<script type="text/javascript" src="/static/js/ticketing.performance.js"></script>
</%block>
<div class="row-fluid">
  <%include file="../parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>${performance.name}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <div class="span3">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>開場</th>
            <td>${performance.open_on}</td>
          </tr>
          <tr>
            <th>開演</th>
            <td>${performance.start_on}</td>
          </tr>
          <tr>
            <th>終演</th>
            <td>${performance.end_on or ''}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span6">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>公演コード</th>
            <td>${performance.code}</td>
          </tr>
          <tr>
            <th>会場</th>
            <td>${performance.venue.name}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span1">
      <a class="btn" href="${request.route_path('performances.edit', performance_id=performance.id)}" >編集</a>
    </div>
  </span>

  <span class="span10">
    <div class="tabbable tabs-top" id="tabbable-content">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#venue-designer" data-toggle="tab">会場／席種</a></li>
        <li><a href="#seat-allocation" data-toggle="tab">配券／配席</a></li>
        <li><a href="#product" data-toggle="tab">商品管理</a></li>
        <li><a href="#ticket-designer" data-toggle="tab">チケット券面</a></li>
      </ul>
      <div class="tab-content" id="tabbable-tab-content">
        <div class="tab-pane active" id="venue-designer">
          <%include file="./_venue_designer.html" />
        </div>
        <div class="tab-pane" id="seat-allocation">
          <%include file="./_seat_allocation.html" />
        </div>
        <div class="tab-pane" id="product">
          <%include file="./_product.html" />
        </div>
        <div class="tab-pane" id="ticket-designer">
          <%include file="./_ticket_designer.html" />
        </div>
      </div>
    </div>
  </span>
</div>


