<%inherit file="../layout.html" />
<%namespace file="/common/helpers.html" import="flash_messages" />
<style type="text/css">
  .canvas {
    height: 91%;
    margin: 0 0;
    padding: 0 0;
  }
  .ui-toolbar { padding: 2px 2px 2px 2px; height: 32px; }
  .ui-toolbar { margin: 0 0; }

  #venue-map {
    padding: 0;
  }
  #seat-map {
    padding: 0;
  }
</style>

<link rel="stylesheet" href="/static/js/demo/development-bundle/themes/base/jquery.ui.all.css" />
<script type="text/javascript" src="/static/js/demo/development-bundle/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/js/demo/development-bundle/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/js/demo/development-bundle/ui/jquery.ui.button.js"></script>

<script type="text/javascript" src="/static/js/demo/fashion.js"></script>
<script type="text/javascript" src="/static/js/demo/demo2.js"></script>
<script type="text/javascript">
var GET_DRAWING_URL = "${request.route_path('api.get_drawing', venue_id=performance.venue_id)}";

$.fn.venue_editor = function(options) {
  var svgStyle = {
    'fill': new Fashion.Color(0, 0, 0), 'fill-opacity': 1.,
    'stroke': null, 'stroke-opacity': 1.,
    'stroke-width': 1
  };
  function make_async_set_waiter(async_identifiers, after_doing) {
    var stor = {};
    for (var i=0,l=async_identifiers.length; i < l; i++) {
      stor[async_identifiers[i]] = void(0);
    }
    return function(idt, data) {
      stor[idt] = data;
      for (var i in stor) {
        if (stor.hasOwnProperty(i)) {
          if (stor[i] === void(0)) return;
        }
      }
      // if all data has come.
      after_doing.call(null, stor);
    }
  };

  var manager = null, canvas = null, toolbar = null;
  var data = this.data('venue_editor_available');
  if (!data) {
    function generateid() {
      do {
        var id = 'D' + ((Math.random() * 100000) | 0);
      } while (document.getElementById(id));
      return id;
    }

    toolbar = $('<div class="ui-widget-header ui-corner-all ui-toolbar"></div>');
    canvas = $('<div class="canvas"><div class="message">Loading...</div></div>');
    data = { manager: null };
    var radio_id = generateid();

    function newButton(icon) {
      var id = generateid();
      var retval = $('<input type="radio" value="*" />')
        .attr('name', radio_id)
        .attr('id', id)
        .appendTo(toolbar);
      $('<label></label>').attr("for", id).appendTo(toolbar).text(icon);
      retval.button({ text: false, icons: { primary: icon }});
      return retval;
    }
    newButton('ui-icon-arrowthick-1-ne').click(
      function() {
        if (data.manager)
          data.manager.changeTool('select1');
      });

    newButton('ui-icon-calculator').click(
      function() {
        if (data.manager)
          data.manager.changeTool('select');
      });

    newButton('ui-icon-zoomin').click(
      function() {
        if (data.manager)
          data.manager.changeTool('zoomin');
      });

    newButton('ui-icon-zoomout').click(
      function() {
        console.log(data.manager);
        if (data.manager)
          data.manager.changeTool('zoomout');
      });

    toolbar.buttonset();
    this.append(toolbar);
    this.append(canvas);
    this.data('venue_editor_available', data);
  } else {
    canvas = this.find('.canvas');
    toolbar = this.find('.ui-toolbar');
  }
  if (typeof options == 'string' || options instanceof String) {
    switch (options) {
    case 'load':
      function convertToFashionStyle(style) {
        return {
          "fill": style.fill ? new Fashion.LinearGradientFill([[0, new Fashion.Color("#fff")], [1, new Fashion.Color(style.fill)]], .125): null,
          "stroke": style.stroke ? new Fashion.Stroke(new Fashion.Color(style.stroke), style.strokeWidth ? style.strokeWidth: 1, style.strokePattern): null
        };
      }
      var waiter = make_async_set_waiter(
        ['drawable', 'metadata', 'rules'],
        function(data) {
          var rules = data.rules.seats;
          var metadata = data.metadata.seats;
          var drawable = data.drawable;
          var logged = false;
          drawable.each(function(i){
            if (i.seat) {
              var id = i.id;
              var meta = metadata[id];
              var styles = {};
              var rules_to_be_applied = ['seat_type_id', 'stock_holder_id'];
              for (var jj in rules_to_be_applied) {
                var j = rules_to_be_applied[jj];
                var rule = rules[j];
                if (rule) {
                  var m = meta[j];
                  var st = (m in rule) ? rule[m] : rule['default'];
                  for (var k in st)
                    styles[k] = st[k];
                }
              }
              i.style(convertToFashionStyle(styles));
              if (styles.text !== null) {
                var pos = i.position();
                var size = i.size();
                i.label = drawable.draw(
                  new Fashion.Text(
                    pos.x,
                    pos.y + (size.height * 0.75),
                    (size.height * 0.75),
                    styles.text))
                i.label.style({ fill: new Fashion.FloodFill(
                  new Fashion.Color(styles['text-color'] || "#000")) });
              }
            }
          });
        });

      loadXml(
        GET_DRAWING_URL,
        function(xml) {
          canvas.empty();
          data.manager = new DemoManager(parseSvg(xml, canvas[0]));
          var cs = data.manager.d.contentSize();
          data.manager.d.zoom(0.4, { x: cs.width / 2, y: cs.height / 2 });
          document.addEventListener('keydown', data.keydown = function(e) { if (key(e).shift) data.manager.shift = true; });
          document.addEventListener('keyup', data.keyup = function(e) { if (key(e).shift) data.manager.shift = false; });
          waiter('drawable', data.manager.d);

        }, function() {
          canvas.find('.message').text("Loading failed");
        }
      );
      loadText(
        "${request.route_path('api.get_seats', venue_id=performance.venue_id)}" + "?" + Math.random(),
        function(txt) {
          eval("var x = " + txt);
          waiter('metadata', x);
        }, function() {
          canvas.find('.message').text("Loading failed");
        });

      loadText(
        "/static/js/demo/renderingRules.json" + "?" + Math.random(),
        function(txt) {
          eval("var x = " + txt);
          waiter('rules', x);
        }, function() {
          canvas.find('.message').text("Loading failed");
        });
      break;

    case 'remove':
      toolbar.remove();
      canvas.remove();
      document.removeEventListener('keydown', data.keydown);
      document.removeEventListener('keyup', data.keyup);
      this.data('venue_editor_available', null);
      break;
    }
  }
  return this;
}
</script>

<div class="row-fluid">
  <%include file="../parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>${performance.name}</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <div class="span3">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>開場</th>
            <td>${performance.open_on}</td>
          </tr>
          <tr>
            <th>開演</th>
            <td>${performance.start_on}</td>
          </tr>
          <tr>
            <th>終演</th>
            <td>${performance.end_on or ''}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span6">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>公演コード</th>
            <td>${performance.code}</td>
          </tr>
          <tr>
            <th>会場</th>
            <td>${performance.venue.name}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span1">
      <a class="btn" href="${request.route_path('performances.edit', performance_id=performance.id)}" >編集</a>
    </div>
  </span>

  <span class="span10">
    <div class="tabbable tabs-top" id="tabbable-content">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#venue-designer" data-toggle="tab">会場／席種</a></li>
        <li><a href="#seat-allocation" data-toggle="tab">配券／配席</a></li>
        <li><a href="#product" data-toggle="tab">商品管理</a></li>
        <li><a href="#ticket-designer" data-toggle="tab">チケット券面</a></li>
      </ul>
      <div class="tab-content" id="tabbable-tab-content">
        <div class="tab-pane active" id="venue-designer">
          <%include file="./_venue_designer.html" />
        </div>
        <div class="tab-pane" id="seat-allocation">
          <%include file="./_seat_allocation.html" />
        </div>
        <div class="tab-pane" id="product">
          <%include file="./_product.html" />
        </div>
        <div class="tab-pane" id="ticket-designer">
          <%include file="./_ticket_designer.html" />
        </div>
      </div>
      <script type="text/javascript">
        (function() {
          var active_tab = null;
          function activate_tab() {
            var new_active_tab = $(this).find("#tabbable-tab-content > .tab-pane.active");
            if (active_tab) {
              switch (active_tab.attr('id')) {
              case 'venue-designer':
                $('#venue-map').venue_editor('remove');
                break;
              case 'seat-allocation':
                $('#seat-map').venue_editor('remove');
                break;
              }
            }
            switch (new_active_tab.attr('id')) {
            case 'venue-designer':
              $('#venue-map').venue_editor('load');
              break;
            case 'seat-allocation':
              $('#seat-map').venue_editor('load');
              break;
            case 'ticket-designer':
              TicketDesigner_adjustViewSize();
              break;
            }
            active_tab = new_active_tab;
          }
          activate_tab.call($("#tabbable-content").on('shown', activate_tab));
        })();
      </script>
    </div>
  </span>
</div>

<%block name="style">
<style>
    .container-fluid {
        height: 100%;
    }
    .tabs-above {
        border-right: none;
    }
    #seat-allocation-tab-content-navi {
        width: auto;
        height: 70px;
        background: #FFFFFF;
    }
    #footer {
        background: #FFFFFF;
        width: 100%;
        height: 50px;
    }
    .tabs-above .nav-tabs {
        float: none;
        margin-right: auto;
        border-right: none;
    }
    .tabs-above .nav-tabs > li {
        float: left;
    }
    .tabs-above .nav-tabs > li > a {
        -webkit-border-radius:  0 0 4px 4px;
        -moz-border-radius:  0 0 4px 4px;
        border-radius:  0 0 4px 4px;
        margin-right: 2px;
        margin-bottom: 0;
    }
    .tabs-above .nav-tabs .active > a,
    .tabs-above .nav-tabs .active > a:hover {
        border-color: transparent #ddd #ddd  #ddd;
    }

    .tabs-horizontal .nav-tabs {
        float: none;
        margin-right: auto;
        border-right: none;
    }
    .tabs-horizontal .nav-tabs > li {
        float: left;
    }
    .tabs-horizontal .nav-tabs > li > a {
        -webkit-border-radius:  4px 4px 0 0 ;
        -moz-border-radius:  4px 4px 0 0 ;
        border-radius:  4px 4px 0 0 ;
        margin-right: 2px;
        margin-bottom: 0;
    }
    .tabs-horizontal .nav-tabs .active > a,
    .tabs-horizontal .nav-tabs .active > a:hover {
        border-color:  #ddd #ddd transparent  #ddd;
    }
</style>
</%block>
