<%page args="performance, stats" />
<%namespace file="/common/helpers.html" name="ch" />

<form method="POST" class="form-horizontal">
    <fieldset>
        ${ch.form_item(form.id)}
        ${ch.form_item(form.available_flg)}
        ${ch.form_item(form.rtv_endpoint_url, style='width: 450px;')}
        ${ch.form_item(form.description, style='width: 450px;height: 120px;')}
        <input class="btn btn-primary" type="submit" value="保存する"/>
    </fieldset>
</form>

<script>
    $(document).ready(function() {
        let div_available_flg = $("#available_flg").parent('div').parent('div');
        div_available_flg.prepend($("<label>").text("使用可否").addClass("control-label"));
        $("label[for='available_flg']").text("有効/無効");
    });
</script>