<!-- footer -->
<footer class="ts-footer">
  <div class="ts-footer-inner">
    <div class="ts-footer-wrap">
      <nav>
        <ul class="ts-footer-nav">
          <li><a href="http://www.a-ara.co.jp/about">COMPANY</a></li>
          <li><a href="mailto:info@a-ara.co.jp">CONTACT</a></li>
          <li><a href="http://www.a-ara.co.jp/privacy">PRIVACY POLICY</a></li>
        </ul>
      </nav>

      <p class="copyright">&copy;  A・R・A Co., Ltd. All Rights Reserved.</p>
    </div>
  </div>
</footer>
