<%inherit file="./base.html"/>

<%block name="javascript">
    <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
    <script type="text/javascript">
    <!--
        (function() {
            var g = /^\?.*account=([^&=]*)/.exec(location.search);
            if (g) {
                window.opener.document.forms["form1"].accountno.value = g[1];
                window.close();
            }
        })();
    // -->
    </script>
</%block>

${self.widget.flow_widget(2)}

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif

<form id="form1" name="form1" method="post" action="${request.url}">
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/BA/pc/images/title_customer_info.gif')}" alt="購入者情報" width="103" height="30" /></h2>
      <table id="confirmDelivery">
        <tr>
          <th scope="row">楽天スーパーポイント口座(半角数字)</th>
          <td>
            <ul>
              <li>${form['accountno'].label}
                ${form['accountno']}
                (例: 1111-2222-3333-4444)
                ${h.error_list(request, form, 'accountno')}
              </li>
              <li>
                  お持ちの方は、楽天スーパーポイント口座情報を入力して下さい。<br/>
                  楽天ポイント口座を確認するには、
                  <a href="javascript:void(window.open('https://point.rakuten.co.jp/PointAccount/PointAccountDisplay/?asid=${asid}', '_blank', 'width=700,height=500,scrollbars=yes'))">こちら</a>
             </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<p class="align2"><image onclick="$('#form1').submit()" src="${request.static_url('altair.app.ticketing.cart:static/BA/pc/images/btn_next.gif')}" alt="次へ" width="226" height="46" /></p>
</form>

