<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="${request.static_url('altair.app.ticketing.orderreview:static/oxtv/pc/css/default2.css')}" media="all" />
  <title>仙台放送チケットサービス</title>
</head>
<body>
<div class="page">
  <div class="header">
    <h1><a href="#">仙台放送チケットサービス</a></h1>
    <div class="nav">
      <ul>
        <li><a href="http://oxtv.tstar.jp/faq">よくあるご質問</a></li>
        <li><a href="http://oxtv.tstar.jp/howto">購入・引取方法</a></li>
        <li><a href="https://oxtv.tstar.jp/orderreview/">購入のご確認</a></li>
      </ul>
    </div>
  </div>

  <div class="main">
    ${next.body()}
  </div>

  <!--　フッター　 -->
  <div class="footer">
    <div class="footer-inner">
      <img src="${request.static_url('altair.app.ticketing.orderreview:static/oxtv/pc/images/partnerlogo.gif')}" alt="ticketstar" />
      <ul class="footernav">
        <li class="first"><a href="http://www.ticketstar.jp/corporate">運営会社</a></li>
        <li><a href="${h.safe_get_contact_url(request)}">お問い合わせ</a></li>
        <li><a href="http://www.ticketstar.jp/privacy/">個人情報保護方針</a></li>
        <li><a href="http://www.ticketstar.jp/legal/">特定商取引法に基づく表示</a></li>
      </ul>
      <div class="copyright">
        Copyright &copy; 2010-2015 TicketStar Inc. All Rights Reserved. 
      </div>
    </div>
  </div>
</div>
</body>
</html>
