<%page args="order, sort=None, vertical=False, reservation=False" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" name="m" />

<script type="text/javascript">
  function edit_order_info() {
    var modal = $('#modal-edit-order_info');
    modal.modal('toggle');
  }
  function save_order_info() {
    var modal = '#modal-edit-order_info';
    var form = '#order_info-form';
    var url = '${request.route_path('orders.edit.order_info', order_id=order.id)}';
    post_modal_form(modal, form, url);
  }
  function edit_sej_regrant_number_due_at_info() {
    var modal = $('#sej_regrant_number_due_at_info');
    modal.modal('toggle');
  }
  function save_regrant_number_due_at_info() {
    var modal = '#sej_regrant_number_due_at_info';
    var form = '#order_info-form';
    var url = '${request.route_path('orders.edit.regrant_number_due_at_info', order_id=order.id)}';
    post_modal_form(modal, form, url);
  }
  function release_stocks(id) {
    var modal = $('#modal-confirm');
    var form = modal.find('form');
    form.attr('action', '/orders/release_stocks/' + id);
    form.find('input[type=submit]').val('在庫を解放する');
    var message = 'この予約が確保している在庫を解放します。よろしいですか？';
    modal.find('.message').html('<p>' + message + '</p>');
    modal.modal('toggle');
  }
  function cancel_order(id) {
    var modal = $('#modal-confirm');
    var form = modal.find('form');
    form.attr('action', '/orders/cancel/' + id);
    form.find('input[type=submit]').val('予約をキャンセルする (取消不可)');
    var message = '選択した予約をキャンセルします。よろしいですか？';
    % if order.printed_at or order.issued_at or order.issued:
      message += '<br><div class="alert alert-error">この予約は既に発券済み(または発券予約中)です。</div>'
    % endif
    modal.find('.message').html('<p>' + message + '</p>');
    modal.modal('toggle');
  }
  function delete_order(id) {
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/orders/delete/' + id).text('予約を非表示にする (取消不可)');
    var message = '選択した予約を非表示にします。よろしいですか？';
    message += '<br><div class="alert alert-error">この操作を行うとこの予約情報は閲覧できなくなります。</div>'
    modal.find('#message').html('<p>' + message + '</p>');
    modal.modal('toggle');
  }
  function refund_order_confirm(id) {
    var modal = $('#modal-refund');
    modal.modal('toggle');
  }
  function refund_order() {
      var modal = '#modal-refund';
      var form = '#refund-form';
      var url = '${request.route_path('orders.refund.immediate', order_id=order.id)}';
      post_modal_form(modal, form, url);
  }
  function edit_shipping_address() {
    var modal = $('#modal-edit-shipping_address');
    modal.modal('toggle');
  }
  function save_shipping_address() {
    var modal = '#modal-edit-shipping_address';
    var form = '#shipping_address-form';
    var url = '${request.route_path('orders.edit.shipping_address', order_id=order.id)}';
    post_modal_form(modal, form, url);
  }
  function edit_product() {
    var modal = $('#modal-edit-product');
    modal.modal('toggle');
  }
  function save_product() {
    var modal = '#modal-edit-product';
    var form = '#product-form';
    var url = '${request.route_path('orders.edit.product', order_id=order.id)}';
    post_modal_form(modal, form, url);
  }

  function save_order_attributes(){
    var param = {};
    var form = $('#order-attributes-form');
    form.find('.message').empty();
    $(form.serializeArray()).each(function(i, v) {
      param[v.name] = v.value;
    });
    $.ajax({
      type: 'post',
      url: '${request.route_path('orders.memo_on_order', order_id=order.id)}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(param),
      success: function(result) {
        form.find('.message').append('補助文言を保存しました');
      },
      error: function(xhr, text) {
        var responseText = JSON.parse(xhr.responseText);
        var messages = responseText['message'] || xhr.statusText
        form.find('.message').text(messages);
      }
    });
  }

  function save_orion_phones(){
    var param = "";
    var form = $('#orion-phones-form');
    form.find('.message').empty();
    param = form.serialize();
    $.ajax({
      type: 'post',
      url: '${request.route_path('orders.orion_phones', order_id=order.id)}',
      data: param,
      success: function(result) {
        form.find('.message').append('楽天チケットアプリ電話番号を保存しました');
      },
      error: function(xhr, text) {
        var responseText = JSON.parse(xhr.responseText);
        var messages = responseText['message'] || xhr.statusText
        form.find('.message').text(messages);
      }
    });
  }

  function save_point_grant_mode() {
    var params = {};
    var form = $('#point-grant-mode-form');
    form.find('.message').empty();
    params["point_grant_mode"] = $("input[name='point_grant_mode']:checked").val()
    $.ajax({
      type: 'POST',
      url: '${request.route_path('orders.point_grant_mode', order_id=order.id)}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(params),
      success: function(result) {
        form.find('.message').append('変更を保存しました。');
      },
      error: function(xhr, text) {
        var responseText = JSON.parse(xhr.responseText);
        var messages = responseText['message'] || xhr.statusText
        form.find('.message').text(messages);
      }
    });
  }

  function get_selected_point_grant_history_entry_id() {
    return $("input[name='rdo_point_grant_history']:checked").val();
  }

  function new_point_grant_history_entry() {
    var modal = $('#modal-point_grant_history_entry');
    var form = '#point_grant_history_entry-form';
    var url = '${request.route_path('point_grant_history_entry.new', _query={'order_id': order.id})}';
    load_modal_form(modal, url, null);
  }

  function edit_point_grant_history_entry() {
    var modal = $('#modal-point_grant_history_entry');
    var form = '#point_grant_history_entry-form';
    var point_grant_history_entry_id = get_selected_point_grant_history_entry_id();
    if (point_grant_history_entry_id === void(0)) {
        alert("編集するエントリを選択してください。");
    } else {
        var url = '${request.route_path('point_grant_history_entry.edit', point_grant_history_entry_id='{id}', _query={'order_id': order.id})}';
        url = url.replace(encodeURIComponent('{id}'), point_grant_history_entry_id)
        load_modal_form(modal, url, null);
    }
  }

  function delete_point_grant_history_entry() {
    var point_grant_history_entry_id = get_selected_point_grant_history_entry_id();
    if (point_grant_history_entry_id === void(0)) {
        alert("削除するエントリを選択してください。");
    } else {
        var modal = $('#modal-delete');
        var url = '${request.route_path('point_grant_history_entry.delete', point_grant_history_entry_id='{id}')}';
        url = url.replace(encodeURIComponent('{id}'), point_grant_history_entry_id);
        modal.find('#delete').click(function() {
            var param = {'point_grant_history_entry_id': point_grant_history_entry_id};
            $.ajax({
                type: 'post',
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(param),
            });
        });
        modal.find('#message').text('選択したエントリを削除します。よろしいですか？');
        modal.modal('toggle');
    }
  }

  function save_note() {
    var param = {};
    var form = $('#note-form');
    form.find('.message').empty();
    $(form.find('form').serializeArray()).each(function(i, v) {
      param[v.name] = v.value;
    });
    $.ajax({
      type: 'post',
      url: '${request.route_path('orders.note', order_id=order.id)}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(param),
      success: function(result) {
        form.find('.message').append('メモを保存しました');
      },
      error: function(xhr, text) {
        var responseText = JSON.parse(xhr.responseText);
        var messages = responseText['message'] || xhr.statusText
        var errors = '';
        if (typeof messages == 'string') {
          errors += '<li>' + messages + '</li>';
        } else {
          for (i in messages)
            errors += '<li>' + messages[i] + '</li>';
        }
        form.find('.message').append('<ul>' + errors + '</ul>');
      }
    });
  }
</script>

<%
actions = {
  'edit_order_info':dict(
    label=u'編集',
    url='javascript:edit_order_info(%d);' % order.id,
    icon='icon-pencil',
    route_name='orders.edit.order_info',
   ),
  'mailinfo':dict(
    label=u"メール",
    url=request.route_path('orders.mailinfo', order_id=order.id, action="show"),
    icon='icon-envelope',
    route_name='orders.mailinfo',
  ),
  'paid':dict(
    label=u'入金済みにする',
    url=request.route_path('orders.change_status', order_id=order.id, status='paid'),
    icon='icon-ok',
    route_name='orders.change_status',
  ),
  'unpaid':dict(
    label=u'未入金に戻す',
    url=request.route_path('orders.change_status', order_id=order.id, status='unpaid'),
    icon='icon-ok',
    route_name='orders.change_status',
  ),
  'delivered':dict(
    label=u'配送済みにする',
    url=request.route_path('orders.delivered', order_id=order.id),
    icon='icon-ok',
    route_name='orders.delivered',
  ),
  'print':dict(
    label=u'発券する',
    url=request.route_path("orders.print.queue.dialog", order_id=order.id),
    attrs={
        "data-toggle": "modal",
        "data-target": "#PrintQueueModal",
        "class": "ajax-modal btn"
        },
    icon='icon-print',
    route_name='orders.print.queue',
  ),
  'force_print':dict(
    label=u'強制発券する',
    url=request.route_path("orders.print.queue.dialog", order_id=order.id),
    attrs={
        "data-toggle": "modal",
        "data-target": "#PrintQueueModal",
        "class": "ajax-modal btn"
        },
    icon='icon-print',
    route_name='orders.print.queue',
  ),
  'report_download':dict(
    label=u'チケットをダウンロードする',
    url=request.route_path("orders.report_download", order_id=order.id),
    icon='icon-remove',
    attrs={'class': 'btn-warning'},
    route_name='orders.report_download',
  ),
  'cancel':dict(
    label=u'キャンセル',
    url='javascript:cancel_order(%d);' % order.id,
    icon='icon-remove',
    attrs={'class': 'btn-danger'},
    route_name='orders.cancel',
  ),
  'refund':dict(
    label=u'払戻',
    url='javascript:refund_order_confirm(%d);' % order.id,
    icon='icon-remove',
    attrs={'class': 'btn-danger'},
    route_name='orders.refund.immediate',
  ),
  'refund_info':dict(
    label=u'払戻詳細',
    url=request.route_path("orders.refund.show", refund_id=order.refund_id),
    icon='icon-list',
    route_name='orders.refund.show',
  ),
  'release_stocks':dict(
    label=u'在庫を解放',
    url='javascript:release_stocks(%d);' % order.id,
    icon='icon-remove-circle',
    attrs={'class': 'btn-danger'},
    route_name='orders.release_stocks',
  ),
  'edit_shipping_address':dict(
    label=u'編集',
    url='javascript:edit_shipping_address(%d);' % order.id,
    icon='icon-edit',
    route_name='orders.edit.shipping_address',
  ),
  'edit_product':dict(
    label=u'編集',
    url='javascript:edit_product(%d);' % order.id,
    icon='icon-edit',
    route_name='orders.edit.product',
  ),
  'save_point_grant_mode':dict(
    label=u'変更を保存',
    url='javascript:save_point_grant_mode();',
    icon='icon-pencil',
    route_name='orders.point_grant_mode',
  ),
  'new_point_grant_history_entry':dict(
    label=u'新規',
    url='javascript:new_point_grant_history_entry(%d);' % order.id,
    icon='icon-plus',
    route_name='point_grant_history_entry.new',
  ),
  'edit_point_grant_history_entry':dict(
    label=u'編集',
    url='javascript:edit_point_grant_history_entry(%d);' % order.id,
    icon='icon-edit',
    route_name='point_grant_history_entry.edit',
  ),
  'delete_point_grant_history_entry':dict(
    label=u'削除',
    url='javascript:delete_point_grant_history_entry();',
    icon='icon-minus',
    route_name='point_grant_history_entry.delete',
  ),
  'note':dict(
    label=u'メモを保存',
    url='javascript:save_note(%d);' % order.id,
    icon='icon-pencil',
    route_name='orders.note',
  ),
  'delete':dict(
    label=u'非表示',
    url='javascript:delete_order(%d);' % order.id,
    icon='icon-remove',
    attrs={'class': 'btn-danger'},
    route_name='orders.delete',
  ),
  'show_qr':dict(
    label=u'QRコードを表示',
    url='javascript:show_modal_qr()',
    icon='icon-qrcode'
  )
}
sort = sort or ['mailinfo', 'delivered', 'report_download', 'cancel', 'refund']
if 'edit_order_info' in sort:
  if reservation:
    sort.remove('edit_order_info')
if 'report_download' in sort:
  if not reservation or not laguna_reservation:
    sort.remove('report_download')
if 'mailinfo' in sort:
  if not order.shipping_address:
    sort.remove('mailinfo')
  if reservation:
    sort.remove('mailinfo')
if 'paid' in sort:
  if not (order.payment_status != 'paid' and order.payment_status_changable('paid')):
    sort.remove('paid')
  elif reservation:
    sort.remove('paid')
if 'unpaid' in sort:
  if not (order.payment_status != 'unpaid' and order.payment_status_changable('unpaid')):
    sort.remove('unpaid')
  elif reservation:
    sort.remove('unpaid')
if 'cancel' in sort:
  if not order.can_cancel():
    sort.remove('cancel')
  if reservation:
    sort.remove('cancel')
if 'refund' in sort:
  if not order.can_refund() or order.refund_id:
    sort.remove('refund')
  if order.can_refund() and reservation:
    sort.remove('refund')
if 'refund_info' in sort:
  if not order.refund_id:
    sort.remove('refund_info')
if 'release_stocks' in sort:
  if not order.can_release_stocks():
    sort.remove('release_stocks')
if 'delivered' in sort:
  if not order.can_deliver():
    sort.remove('delivered')
  elif reservation:
    sort.remove('delivered')
if 'print' in sort:
  if order.is_canceled():
    sort.remove('print')
  elif order.issued or order.queued:
    sort.remove('print')
    if not reservation:
      sort.append('force_print')
  elif reservation and laguna_reservation:
    sort.remove('print')
if 'delete' in sort:
  if not order.can_delete():
    sort.remove('delete')
from altair.app.ticketing.payments.plugins import QR_DELIVERY_PLUGIN_ID, ORION_DELIVERY_PLUGIN_ID, QR_AES_DELIVERY_PLUGIN_ID, SKIDATA_QR_DELIVERY_PLUGIN_ID
if 'show_qr' in sort:
  if order.payment_delivery_pair.delivery_method.delivery_plugin_id not in (QR_DELIVERY_PLUGIN_ID, ORION_DELIVERY_PLUGIN_ID, QR_AES_DELIVERY_PLUGIN_ID, SKIDATA_QR_DELIVERY_PLUGIN_ID):
    sort.remove('show_qr')
if sort:
  sort = iter(sort)
%>
${HH.action_button(actions, sort, vertical=vertical)}

${m.confirm_modal()}
${m.delete_modal(label_cancel=u'戻る')}
