<%page args="form, cart" />
<% from altair.formhelpers.widgets import OurHiddenInput %>
<%namespace file="/common/helpers.html" name="ch" />

<style type="text/css">
  #modal-reserve .form-horizontal .control-group {
    margin-bottom: 5px;
  }
  #modal-reserve .form-horizontal .controls {
    padding-top: 5px;
  }
</style>

<script type="text/javascript">
  $(function() {
    if (window.ticketPrinterService) {
      $('#reserve-button').text('予約して発券する');
    }
    $('.draggable').draggable({scroll: true, handle:$('.draggable .modal-header')});
    $('#modal-reserve').disableOnSubmit();
    $('#modal-reserve').on('shown', function(){
      $('#reserve-button').attr('disabled', null); 
    });

    // pager (see:templates/performances/_reservation.html)
    pager = new Pager("#modal-reserve", "reserve");
    pager.$el.find("#reserve-tab").on("click", function(){pager.next("reserve");});
    pager.$el.find("#reserve-next").on("click", function(){pager.next("memo");});
    pager.$el.find("#memo-tab").on("click", function(){pager.next("memo");});
    pager.$el.find("#memo-prev").on("click", function(){pager.next("reserve");});
  });
</script>

<div id="modal-reserve" class="modal hide draggable">
  <div class="modal-header">
    <h3>予約確認 -- ${performance.event.title}[${performance.name}]</h3>
  </div>

  <div class="modal-body">
    <%doc>
    wizard形式にする前にタブ化する
    [購入情報入力|文言・メモ入力|購入情報確認|文言・メモ入力確認]
    </%doc>

    <ul class="nav nav-tabs" style="margin-bottom:10px;">
      <li><a>購入情報入力</a></li>
      <li><a>文言・メモ入力</a></li>
      <li class="active"><a id="reserve-tab">購入情報確認</a></li>
      <li><a id="memo-tab">文言・メモ入力確認</a></li>
    </ul>

    <form class="form-horizontal" action="javascript:completeOrder();" method="POST">
      <div class="content">
        <div class="alert alert-success">
          <h4 class="alert-heading">以下の内容で予約してよいですか？</h4>
        </div>
      </div>

      <div class="reserve-area">
      <table class="table table-striped table-bordered">
        <tr>
          <th colspan="2" class="span6">商品</th>
          <th class="span2 price">単価</th>
          <th class="price" style="width: 80px;">個数</th>
        </tr>
        % for carted_product in cart.items:
        <tr>
          <td colspan="2" class="span4">${carted_product.product.name}</td>
          <td class="price">
            <span name="product_price-${carted_product.id}">${vh.price(carted_product.product.price)}</span>
          </td>
          <td class="price">
            ${carted_product.quantity}
          </td>
        </tr>
          % for carted_product_item in carted_product.items:
        <tr>
          <td class="span2"></td>
          <td class="span4">
            ${carted_product_item.product_item.name}
            <ul>
              % for seat in carted_product_item.seats:
              <li>${seat.name}</li>
              % endfor
            </ul>
          </td>
          <td class="price">
            ${vh.price(carted_product_item.product_item.price)}
          </td>
          <td class="price">
            ${carted_product_item.quantity}
          </td>
        </tr>
          % endfor
        % else:
        <tr>
          <td colspan="2">決済手数料 (${cart.payment_delivery_pair.payment_method.name})</td>
          <td class="price">${vh.price(cart.transaction_fee)}</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">引取手数料 (${cart.payment_delivery_pair.delivery_method.name})</td>
          <td class="price">${vh.price(cart.delivery_fee)}</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">システム利用料</td>
          <td class="price">${vh.price(cart.system_fee)}</td>
          <td></td>
        </tr>
        % if cart.special_fee > 0:
        <tr>
          <td colspan="2">${cart.special_fee_name}</td>
          <td class="price">${vh.price(cart.special_fee)}</td>
          <td></td>
        </tr>
        % endif
        <tr>
          <td colspan="2">合計金額</td>
          <td class="price">${vh.price(cart.total_amount)}</td>
          <td></td>
        </tr>
        % endfor
      </table>

      <div class="control-group">
        <label class="control-label">${_context.settings_form.sales_segment_id.label.text}</label>
        <div class="controls">
          ${_context.sales_segment.sales_segment_group.name}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">${form.payment_delivery_method_pair_id.label.text}</label>
        <div class="controls">
          % for id, name in form.payment_delivery_method_pair_id.choices:
            % if id == form.payment_delivery_method_pair_id.data:
              ${name}
            % endif
          % endfor
        </div>
      </div>
      % if cart.shipping_address is not None:
      <div class="shipping-address">
        <div class="control-group">
          <label class="control-label">氏名</label>
          <div class="controls">
            ${form.last_name.data}
            ${form.first_name.data}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">氏名(カナ)</label>
          <div class="controls">
            ${form.last_name_kana.data}
            ${form.first_name_kana.data}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">TEL</label>
          <div class="controls">
            ${form.tel_1.data}
          </div>
        </div>
      </div>
      % endif

      ${ch.form_item(form.sales_counter_payment_method_id)}
      ${_context.preconditions_form.performance_id}
      ${_context.preconditions_form.stocks}
      </div>

      <div class="memo-area" style="display:none">
        <input type="hidden" name="${form.note.name}" value="${form.note.data}"/>
        %for field in form_order_edit_attribute:
          <input type="hidden" name="${field.name}" value="${field.data}"/>
        %endfor
        <table class="table table-striped table-bordered">
          <tr>
            <th style="width:30%;">${form.note.label.text}</th><td>${form.note.data}</td>
          </tr>
          %for field in form_order_edit_attribute:
          <tr>
            <th style="width:30%;">${field.label.text}</th><td>${field.data}</td>
          </tr>
          %endfor
        </table>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="reserve-area">
      <button onclick="javascript:reselectOrder(); return false;" class="btn secondary btn-close">戻る</button>
      <button id="reserve-next" class="btn danger">メモ・文言情報を確認する</button>
      <button onclick="$('#modal-reserve').find('form').submit(); return false;" class="btn danger" id="reserve-button">予約する</button>
    </div>
    <div class="memo-area" style="display:none">
      <button id="memo-prev" class="btn secondary btn-close">戻る</button>
      <button onclick="$('#modal-reserve').find('form').submit(); return false;" class="btn danger" id="reserve-button">予約する</button>
    </div>
  </div>
</div>
