<%page args="form, action='#'" />
<%namespace file="/common/helpers.html" name="ch" />
<form action="${action}" method="POST">
  <fieldset>
    ${ch.form_item(form.last_name, maxlength=255)}
    ${ch.form_item(form.first_name, maxlength=255)}
    ${ch.form_item(form.last_name_kana, maxlength=255)}
    ${ch.form_item(form.first_name_kana, maxlength=255)}
    ${ch.form_item(form.zip, maxlength=7)}
    ${ch.form_item(form.prefecture, maxlength=255)}
    ${ch.form_item(form.city, maxlength=255)}
    ${ch.form_item(form.address_1, maxlength=255)}
    ${ch.form_item(form.address_2, maxlength=255)}
    ${ch.form_item(form.tel_1, maxlength=12)}
    ${ch.form_item(form.tel_2, maxlength=12)}
    ${ch.form_item(form.email_1, label=u'メールアドレス1')}
    ${ch.form_item(form.email_2, label=u'メールアドレス2')}
  </fieldset>
</form>
