<%page args="frauds, period_from, period_to" />

不正の可能性がある予約を検知しました。

このアラートは以下の条件で検出しています。
<ul>
  <li>クレジットカード決済</li>
  <li>セブンイレブン発券</li>
  <li>同一人物(user_idまたはメールアドレス)による同一公演の予約が2件以上</li>
  <li>同一人物(user_idまたはメールアドレス)による同一公演の予約枚数が8枚以上、または合計金額が10万以上</li>
  <li>${period_from}〜${period_to}の予約</li>
</ul>

% for orders in frauds:
<table border="1" bordercolor="#888" width="98%" style="border-collapse:collapse;">
  <tr style="background-color:#ddd;">
    <th style="width: 12%;">予約番号</th>
    <th style="width: 10%;">予約日時</th>
    <th style="width: 10%;">合計金額</th>
    <th style="width: 8%;">id</th>
    <th style="width: 20%;">イベント名</th>
    <th style="width: 8%;">id</th>
    <th style="width: 14%;">公演名</th>
    <th style="width: 10%;">公演開始</th>
    <th style="width: 8%;">カード</th>
  </tr>
  % for order in orders:
  <tr>
    <td>${order.order_no}</td>
    <td>${order.created_at}</td>
    <td>${order.total_amount}</td>
    <td>${order.performance.event.id}</td>
    <td>${order.performance.event.title}</td>
    <td>${order.performance.id}</td>
    <td>${order.performance.name}</td>
    <td>${order.performance.start_on}</td>
    <td>${order.card_brand}</td>
  </tr>
  % endfor
</table>
<br>
% endfor
