<%page args="form" />
<%namespace file="/common/helpers.html" name="ch" />
<div id="modal-edit-shipping_address" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>配送先編集</h3>
  </div>

  <div class="modal-body">
    <%include file="./_form_shipping_address.html" args="form=form,action='javascript:save_shipping_address();'" />
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="$('#modal-edit-shipping_address').find('form').submit();" class="btn">保存</a>
  </div>
</div>
