<%page args="form" />
<%namespace file="/common/helpers.html" name="ch" />
<div id="modal-edit-order_info" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>予約情報編集</h3>
  </div>

  <div class="modal-body">
    <%include file="./_form_order_info.html" args="form=form, action='javascript:save_order_info();'" />
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="javascript:save_order_info();" class="btn">保存</a>
  </div>
</div>

<div id="sej_regrant_number_due_at_info" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>再付番用発券期限日変更</h3>
  </div>

  <div class="modal-body">
    <form action="javascript:save_regrant_number_due_at_info();" method="POST">
      <fieldset>
        ${form.regrant_number_due_at.data}
        ${type(form.regrant_number_due_at.data)}
        ${ch.form_item(form.regrant_number_due_at)}
      </fieldset>
    </form>
    <div>更新できるのは、何日までです！</div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="javascript:save_regrant_number_due_at_info();" class="btn">保存</a>
  </div>
</div>
