<%page args="order,payment_plugin_info"/>
% if payment_plugin_info is not None:
          <table class="table table-striped table-bordered">
            <tr>
              <th class="span2">決済方法</th>
              <td class="span3">${order.payment_delivery_method_pair.payment_method.name}</td>
            </tr>
            % for k, (display_name, v) in payment_plugin_info.items():
            <tr>
              <th>${display_name}</th>
              <td>${v or u''}</td>
            </tr>
            % endfor
          </table>
% endif
