<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
    names=[u'トップ', u'予約検索'],
    urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h1>予約検索</h1>
</div>

<div style="float: left;">
  <%include file="/orders/_search.html" args="form=form_search" />
</div>
<div style="clear: both;"></div>

## todo move
<script type="text/javascript">
  <%include file="/orders/_checkbox_status.js"/>
  $.event.add(window, "load", function(){
  var model = new CheckboxStatus(0);
  var view = new CheckboxStatusAppView($("#checkbox_status_count"), $("input.checkbox_status"));
  var urls = {
    load: "${request.route_url('orders.api.checkbox_status', action='load')}",
    add: "${request.route_url('orders.api.checkbox_status', action='add')}",
    addall: "${request.route_url('orders.api.checkbox_status', action='addall')}",
    remove: "${request.route_url('orders.api.checkbox_status', action='remove')}",
    removeall: "${request.route_url('orders.api.checkbox_status', action='removeall')}",
    reset: "${request.route_url('orders.api.checkbox_status', action='reset')}"
  }

  var presenter = new CheckboxStatusPresenter(model, view, urls);
  $("input.checkbox_status[type='checkbox']").on("change", presenter.on_check.bind(presenter));
  $("#checkbox_status_reset").click(presenter.on_reset.bind(presenter));
  $("#addall").click(presenter.on_addall.bind(presenter));
  $("#removeall").click(presenter.on_removeall.bind(presenter));
  presenter.on_load();
});
</script>
<div class="area">
  <dl>
    <dt>チェックされた数</dt>
    <dd id="checkbox_status_count"></dd>
  </dl>
  % if request.params.get('action') == 'checked':
  <a type="button" class="btn" href="javascript:search_orders('${request.route_path('orders.index')}');">全ての予約を表示</a>
  % else:
  <a type="button" class="btn" href="javascript:search_orders('${request.route_path('orders.index', _query=dict(action='checked'))}');">選択した予約だけ表示</a>
  % endif
  <button type="button" class="btn" id="checkbox_status_reset">リセット</button>
  <a type="button" class="btn" id="addall">全て選択</a>
  <a type="button" class="btn" id="removeall">全て選択しない</a>
  <button class="btn" type="submit" id="btn-add-to-print-queue"><i class="icon-print"></i>選択した予約の券面を印刷キューに追加</button>
  <form style="display:inline" action="${request.route_path('orders.checked.delivered')}" method="POST">
    <button class="btn" type="submit"><i class="icon-gift"></i>選択した予約を配送済に変更</button>
  </form>
</div>
<%include file="./_modal_ticket_format.html" args="form=ticket_format_form, id='modal-ticket-format', endpoints=endpoints"/>
<script type="text/javascript">
  $('#btn-add-to-print-queue').click(function () {
    show_modal_enqueue_orders();
    return false;
  });
</script>
<p/>

<br />

% if total is not None:
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>検索された購入金額の総合計</th>
    </tr>
  </thead>
  <tr>
    <td>
      % if total:
        ${vh.price(total)}
      % else:
        &yen;0
      % endif
    </td>
  </tr>
</table>
% else:
  <a href="${request.route_path('orders.toggle_show_total', _query=request.params)}" class="btn">購入金額の合計を表示</a>
% endif

<br /><br />

% if total_quantity is not None:
<table class="table table-striped table-bordered">
  <thead>
    <tr>
        <th>検索された販売枚数の総合計</th>
    </tr>
  </thead>
  <tr>
    <td>
      % if total_quantity:
        ${vh.number(total_quantity)}
      % else:
        0
      % endif
      枚
    </td>
  </tr>
</table>
% else:
  <a href="${request.route_path('orders.toggle_show_total_quantity', _query=request.params)}" class="btn">販売枚数の合計を表示</a>
% endif

<div class="orders">
  % if orders is not None:
  <%include file="/orders/_list2.html" args="form=form, orders=orders" />
  % else:
  <div class="alert">検索条件を指定し <button href="#" class="btn btn-small"><i class="icon-search"></i>検索</button> ボタンを押してください</div>
  % endif
</div>

<script type="text/javascript">
  $(function(){
    // ajax modal
    $("a.ajax-modal[data-toggle=modal]").click(function(){
        var wrap = $($(this).attr("data-target"));
        wrap.empty();
        $(wrap).load($(this).attr("href"));
    });
  });
</script>

