<%page args="device"/>
% if device == 'pc':
    <div style="text-align:right;">
        <a href="http://animefilmfestivaltokyo.jp/" target="_blank">TOP</a>
        <a href="mailto:animefilmfestivaltokyo2018@tstar.jp">CONTACT</a>
        <a href="http://animefilmfestivaltokyo2018.tstar.jp/ticket/privacy.html" target="_blank">PRIVACY POLICY</a>
        <a href="http://animefilmfestivaltokyo2018.tstar.jp/ticket/legal.html" target="_blank">LEGAL INFO</a>
        <p class="copyright">&copy; アニメフィルムフェスティバル東京 2018</p>
    </div>
% elif device == 'smartphone':
    <%doc>
    </%doc>
% elif device == 'mobile':
% endif
