<%page args="device"/>
% if device == 'pc':
    <%doc>
    </%doc>
% elif device == 'smartphone':
    <div style="clear:both;">
        <div style="text-align:right;">
            <a href="http://animefilmfestivaltokyo.jp/" target="_blank">TOP</a>
            <a href="mailto:animefilmfestivaltokyo@tstar.jp">CONTACT</a>
            <a href="http://animefilmfestivaltokyo.tstar.jp/ticket/privacy.html" target="_blank">PRIVACY POLICY</a>
            <a href="http://animefilmfestivaltokyo.tstar.jp/ticket/legal.html" target="_blank">LEGAL INFO</a>
        </div>
    </div>
% elif device == 'mobile':
% endif
