<%inherit file="common/_base.html" />
<%namespace file="common/tags_smartphone.html" name="m" />
<%block name="title">トップ</%block>

<div style="text-align: center; background-color: #009A52">
  <img width="250px" src="${request.static_url('altaircms:static/KT/smartphone/img/point.png')}"/>
</div>

<%include file="common/_pickup.html" args="promotions=promotions, helper=helper"/>
<%include file="common/_topic.html" args="topics=topics, helper=helper"/>

<%include file="common/_topcontent.html" args="topcontents=topcontents, helper=helper"/>

<ul class="guide-tab-index">
<li style="width: 180px"><a href="https://www.ticket.ne.jp/kyodo-tohoku/kaiintourokuselect.do">メルマガ会員登録</a></li>
</ul>