<%def name="render_passport(order)">
<% from altair.app.ticketing.passport.api import get_passport_datas, can_use_passport, check_order_passport_status
infos = get_passport_datas(order)
passport_users = sorted(order.users, key=lambda user: user.order_attribute_num)
%>
% for num, user in enumerate(passport_users):
<% index = num+1 %>
    % if user.image_path:
    <img width="100%"
          src="${request.static_url('altair.app.ticketing.passport:static/{}'.format(user.image_path.replace('passport/static/', '')))}"/>
    % endif
<% ret_can_use_passport = can_use_passport(request, user) %>
<div class="ticket-area-wrapper">
    <div class="ticket-area">
        <div class="ticket-area-data">
            <div class="ticket-area-data-inner">
                <h3>ご購入チケット</h3>
                <p class="passport_name">${user.ordered_product.product.name}</p>
                % if index == 1:
                <p class="passport_name">${order.shipping_address.last_name} ${order.shipping_address.first_name}様</p>
                % else:
                <p class="passport_name">${infos[num]._last_name} ${infos[num]._first_name}様</p>
                % endif
                <p class="passport_name">${u"男性" if infos[num]._sex == "1" else u"女性"} ${infos[num]._birthdaty}生まれ</p>
                % if order.is_canceled():
                <p class="passport_name">キャンセル済みです</p>
                % elif not user.image_path:
                <p class="passport_name">本人確認用の画像を設定してください</p>
                % elif order.payment_status == 'refunding':
                <p class="passport_name">払い戻し予定です</p>
                % elif order.payment_status == 'refunded':
                <p class="passport_name">払い戻し済みです</p>
                % elif not ret_can_use_passport:
                % endif
                </div>
            </div>
            % if check_order_passport_status(order, user) and ret_can_use_passport:
            <div class="ticket-area-bt">
                <div class="confirm_not_exist">
                    <form method="POST"
                          action="${request.route_path('passport.admission', passport_user_id=user.id, reserved_number=reserved_number.number)}">
                        <input class="btnPassport" value="利用する" type="image"
                               src="${request.static_url('altair.app.ticketing.passport:static/common/images/ticket-right.png')}"
                               alt="もぎる">
                    </form>
                </div>
                <div class="confirm_exist" style="display: none;">
                    <input class="btnPassport passport_button" value="利用する"
                           next_url=${request.route_path('passport.admission', passport_user_id=user.id,
                           reserved_number=reserved_number.number)}
                           check_url=${request.route_path('passport.check_can_use', passport_user_id=user.id)}
                           type="image"
                           src="${request.static_url('altair.app.ticketing.passport:static/common/images/ticket-right.png')}"
                           alt="もぎる">
                </div>
            </div>
        % else:
        <div class="ticket-area-bt">
            <div class="confirm_not_exist" style="display: none;">
                <div class="btnPassport-end"><img
                        src="${request.static_url('altair.app.ticketing.passport:static/common/images/ticket-right-end.png')}"
                        alt="もぎる"></div>
            </div>
            <div class="confirm_exist">
                <div class="btnPassport-end"><img
                        src="${request.static_url('altair.app.ticketing.passport:static/common/images/ticket-right-end.png')}"
                        alt="もぎる"></div>
            </div>
        </div>
    </div>
</div>
        % endif
</div>
</td>
</tr>
% endfor
</%def>
<%def name="render_all_passport_button(order)">
<% from altair.app.ticketing.passport.api import can_use_passport_order %>
  % if not order.printed_at:
    % if order.is_canceled():
      キャンセル済みです
    % elif order.payment_status == 'refunding':
      払い戻し予定です
    % elif order.payment_status == 'refunded':
      払い戻し済みです
    % elif not can_use_passport_order(request, order):
    % else:
<input class="btnAllPassport passport_button" value="全てのチケットを使用する"
       check_url=${request.route_path('passport.check_can_use_order', reserved_number=reserved_number.number)}
       next_url=${request.route_path('passport.order_admission', reserved_number=reserved_number.number)}
       type="button" id="btnAllPassport">
    % endif
  % endif
</%def>
