<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
var endpoints = ${
HH.json(dict(
  new=request.route_path('service_fee_methods.new'),
  edit=request.route_path('service_fee_methods.edit', service_fee_method_id='__id__'),
  delete=request.route_path('service_fee_methods.delete', service_fee_method_id='__id__'),
  system_fee_default=request.route_path('service_fee_methods.system_fee_default', service_fee_method_id='__id__')))|n
};

var new_service_fee_method, edit_service_fee_method, delete_service_fee_method, save_service_fee_method, get_selected_service_fee_method_id;

(function (modal_sel, modal_delete_sel, modal_system_fee_default_sel) {
  var modal, modal_delete;
  $(function () {
    modal = $(modal_sel);
    modal_delete = $(modal_delete_sel);
    modal_system_fee_default = $(modal_system_fee_default_sel);
  });

  new_service_fee_method = function new_service_fee_method() {
    load_modal_form(modal, endpoints['new']);
  }

  edit_service_fee_method = function edit_service_fee_method(id) {
    load_modal_form(modal, endpoints['edit'].replace('__id__', id));
  }

  delete_service_fee_method = function delete_service_fee_method(id) {
    modal_delete.find('#delete').attr('href', endpoints['delete'].replace('__id__', id));
    modal_delete.find('#message').text('選択した決済方法を削除します。よろしいですか？');
    modal_delete.modal('toggle');
  }
  save_service_fee_method = function save_service_fee_method() {
    var form = '#service_fee_methods-form';
    var id = $(modal + ' #id').val();
    var url = id ? '/service_fee_methods/edit/' + id : '/service_fee_methods/new';
    post_modal_form(modal, form, url);
  }
  set_system_fee_default = function set_system_fee_default(id) {
    modal_system_fee_default.find('#set_system_fee_default').attr('href', endpoints['system_fee_default'].replace('__id__', id));
    modal_system_fee_default.find('#message').text("指定した手数料をシステム手数料のデフォルトにします。よろしいですか？");
    modal_system_fee_default.modal('toggle');
  }
})('#modal-service_fee_method', '#modal-delete', '#modal-system_fee_default');
</script>

<%
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_service_fee_method();',
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_service_fee_method(get_selected_service_fee_method_id());',
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_service_fee_method(get_selected_service_fee_method_id());',
      icon='icon-minus',
    ),
    'system_fee_default':dict(
      label=u'システム利用料のデフォルト値を変更',
      url='javascript:set_system_fee_default(get_selected_service_fee_method_id());',
      icon='icon-minus',
    ),
  }
  order = iter(['new', 'edit', 'delete', 'system_fee_default'])
%>
${HH.action_button(actions, order)}

${delete_modal()}
