<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'手数料'],
      urls=[request.route_path('index')]
  )}
</%block>

<div class="page-header">
  <h3>手数料</h3>
</div>

<%include file="/service_fee_methods/_list.html" args="form=form, service_fee_methods=service_fee_methods" />
<%include file="/service_fee_methods/_action_button.html" />

<div id="modal-service_fee_method" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>手数料</h3>
  </div>

  <div class="modal-body">
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="$('#modal-service_fee_method').find('form').submit();" class="btn">保存</a>
  </div>
</div>

