:root {
    --custom-color: #477DAB;        /* fonts 文字 */
    --custom-border-color: #477DAB;     /* border 罫線（divなど） */
    --custom-background-color: #BE8EC0;     /* background 背景（divなど） */
}

/* heading color 見出し
-------------------------------------------- */
header .head {
  background-color: var(--custom-background-color) !important;
}

.heading-primary {
    background-color: var(--custom-background-color) !important;
}

