<h3 id="performance">${page_title}(${event.title})</h3>
%if not current_performance:
   ${panel("model_create_only_buttons", modeljname=u"パフォーマンス", modelname="performance", _query=dict(event_id=event.id,event=event.id, endpoint=request.url))}
%else:
  <%
  from altaircms.helpers.event import performance_name
  %>
  <ul class="nav nav-tabs">
     %for performance in sorted(performances,key=lambda p: (p.display_order,p.start_on)):
       %if unicode(performance.id) == unicode(current_performance.id):
          <li class="active"><a href="${h.current_route_path_override(request,_query=dict(performance_id=performance.id))}#performance">${performance.display_order}: ${performance_name(performance)}</a></li>
       %else:
          <li><a href="${h.current_route_path_override(request,_query=dict(performance_id=performance.id))}#performance">${performance.display_order}: ${performance_name(performance)}</a></li>
       %endif
     %endfor
  </ul>

  ${panel("describe_performance", current_performance)}

  <hr/>

  %if current_performance.salessegments:

    ${panel("performance_salessegment", current_performance)}
  %else:
    ${panel("model_create_only_buttons", modeljname=u"販売区分", modelname="salessegment", _query=dict(performance=current_performance.id,performance_id=current_performance.id, endpoint=request.url))}
  %endif
%endif
