<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>仙台89ERS - ナイナーズチケット</title>
  <link rel="stylesheet" type="text/css" href="${request.static_url('ticketing.cart:static/css/error.css')}" media="all" />
  <script language="JavaScript" src="${request.static_url('ticketing.cart:static/js/jquery.js')}"></script>
</head>

<body>
  <div align="center">
    <div class="header">
      <img src="${request.static_url('ticketing.cart:static/img/errors/head_title.png')}" alt="仙台89ERS" width="780" height="135" />
    </div>

	<h1 class="title">仙台89ERS ナイナーズチケット</h1>

    ${self.body()}
  </div>

  <div class="footer">
    <div class="footernav">
      <ul>
        <li class="first"><a href="mailto:89ers@ticketstar.jp">お問い合わせ</a></li>
        <li><a href="http://www.ticketstar.jp/privacy">個人情報保護方針</a></li>
        <li class="last"><a href="http://www.ticketstar.jp/legal">特定商取引法に基づく表示</a></li>
      </ul>
    </div>
    <div class="copyright">
      Copyright &copy; 2010-2012 TicketStar Inc. All Rights Reserved. 
    </div>
  </div>
</body>
</html>
