<%inherit file="./base.html"/>
<table class="layout" style="width:760px" class="wrapper">
  <tbody>
    <tr>
      <td>
        <h2>ページが見つかりません</h2>
        <div class="formWrapper">
          <table cellpadding="0" cellspacing="0" class="form89ers">
            <colgroup>
              <col style="width:180px;">
              <col style="width:310px;">
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <h4>指定されたページが見つかりません </h4>
                  なおリンクをクリックされていた場合、ページが削除された、またはURL（ページアドレス）が変更された可能性があります。
                  <ul>
                    <li> ブラウザの再読み込みを行う</li>
                    <li> 入力したURL（ページアドレス）にタイプミスがないか確認する</li>
                    <li> ブラウザの「戻る」ボタンを押して前画面からやり直す</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
