<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'オペレーター', u'権限'],
      urls=[request.route_path('index'), request.route_path('operators.index')]
  )}
</%block>

<div class="page-header">
  <h1>権限</h1>
</div>

<%include file="/operators/_guide.html" />
<%include file="/operators/_action_button.html" args="order=['operators', 'roles']" />

<table class="table table-bordered table-condensed" style="margin-top: 10px;">
  <thead>
  <tr>
    <th>機能</th>
    <th>権限</th>
  </tr>
  </thead>
  <tbody>
  <%
    from altair.app.ticketing.permissions.utils import RouteConfig as RC, PermissionCategory as PC
    route_permission = request.registry.route_permission if hasattr(request.registry, 'route_permission') else None
  %>
  % for route_name, route_permission in sorted(route_permission.items(), key=lambda x:(x[0])):
    % if RC.label(route_name):
  <tr>
    <td>${RC.label(route_name)}</td>
      % if not route_permission:
    <td style="background-color: #DA4F49;">
      % else:
    <td>
      % endif
      ${PC.label(route_permission) or u'未設定'}
    </td>
  </tr>
    % endif
  % endfor
  </tbody>
</table>
