<%page args="form, memberships" />
<%namespace file="/common/helpers.html" name="ch" />

<form>
  <div>
    <a href="${request.route_path('memberships',action="new",membership_id="*")}" class="btn">新規会員種別</a>
  </div>
  <table class="table fullwidth checkboxed_table">
    <thead>
    <tr>
      <th class="minwidth">ID</th>
      <th>名前</th>
      <th>表示名</th>
      <th>ステータス</th>
      <th>取引先名</th>
      <th>種別情報</th>
      <th>自動フォーム入力</th>
      <th>楽天ポイント手入力</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    % for membership in memberships:
    <tr>
      <td><a href="${request.route_path('memberships', action="show",membership_id=membership.id)}">${membership.id}</a></td>
      <td><a href="${request.route_path('memberships', action="show",membership_id=membership.id)}">${membership.name}</a></td>
      <td><a href="${request.route_path('memberships', action="show",membership_id=membership.id)}">${membership.display_name if membership.display_name else ""}</a></td>
      <td>${membership.status or u''}</td>
      %if membership.organization:
      <td><a href="${request.route_path('organizations.show', organization_id=membership.organization.id)}">${membership.organization.name}</a></td>
      %else:
      <td></td>
      %endif
      <td>${membership.memo if membership.memo else ''}</a></td>
      <td>${u'有効' if membership.enable_auto_input_form else u'無効'}</a></td>
      <td>${u'有効' if membership.enable_point_input else u'無効'}</td>
      <td>
        <a class="btn btn-small" href="${request.route_path('memberships', action="edit",membership_id=membership.id)}">編集</a>
        <a class="btn btn-small btn-danger" href="javascript:popup_delete_modal(${membership.id});">削除</a>
      </td>
    </tr>
    % endfor
    </tbody>
  </table>
##  ${ch.pager(memberships)}
</form>

<%include file="./_delete_modal.html"/>
