<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<%include file="/memberships/_detail.html" args="form=form, membership=membership" />


<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'membership'],
      urls=[request.route_path('index'), request.route_path('memberships',action="index",membership_id="*")]
  )}
</%block>

<div class="page-header">
  <h3>会員種別詳細</h3>
</div>
<div>
  <a href="${request.route_path('memberships',action="edit", membership_id=membership.id)}" class="btn">編集</a>
  <a id="delete_link" href="javascript:popup_delete_modal(${membership.id})" class="btn">削除</a>
</div>

<hr />

<div class="page-header">
<h3>会員種別に結びついている会員区分</h3>
</div>

<div class="row-fluid">
  <div class="span12">
  <%include file="/memberships/groups/_list.html" args="member_groups=membergroups, form=form_mg" />
  <%include file="/memberships/groups/_action_button.html" args="membership=membership,order=None," />
  <% post_url = request.route_path("membergroups",membergroup_id="__id__",action="delete") %>
  <%include file="/memberships/groups/_delete_modal.html" args="request=request,delete_form=form_mg_delete,post_url=post_url"/>
  </div>
</div>

<%include file="./_delete_modal.html"/>
