[buildout]
extends = ../baseconf/common.cfg
parts +=
    mksymlinktargets
    mktoplevelsymlinks
    mkvardirs
    mksymlinks
    cleartmp
    supervisor
    solr-download
    solr

[createconf]
files +=
    conf/altair.cms.admin.ini
    conf/altair.cms.usersite.ini
    conf/altair.ticketing.admin.ini
    conf/altair.ticketing.cart.ini
    conf/altair.ticketing.whattime.ini
    conf/altair.ticketing.worker.lots.ini
    conf/altair.ticketing.worker.cart.ini
    conf/altair.ticketing.lots.ini
    conf/altair.ticketing.orderreview.ini
    conf/altair.ticketing.coupon.ini
    conf/altair.ticketing.qrreader.ini
    conf/altair.ticketing.checkinstation.ini
    conf/altair.ticketing.sej.ini
    conf/altair.ticketing.userside_famiport.ini
    conf/altair.ticketing.batch.ini
    conf/altair.ticketing.zea-admin.ini
    conf/altair.ticketing.extauth.ini
    conf/altair.ticketing.extauth.admin.ini
    conf/altair.newsletter.admin.ini
    conf/altair.famiport.ini
    conf/altair.famiport.batch.ini
    conf/altair.famiport_simulator.ini
    conf/altair.famiport_optool.ini
    conf/altair.famiport.worker.ini

[altair]
console_loglevel = WARN
findable_label.background_color = #ffaaaa
httpsession_persistence_backend_type = altair.httpsession.redis.factory
beaker_backend_type = redis
dogpile_cache_backend_type = dogpile.cache.redis
supervisord.autostart = true

ticketing.db_url.master = mysql+pymysql://ticketing:ticketing@dbmain.master.altr:3306/ticketing?use_unicode=true&charset=utf8
ticketing.db_url.slave = mysql+pymysql://ticketing:ticketing@dbmain.slave.altr:3307/ticketing?use_unicode=true&charset=utf8
ticketing.mq_url = amqp://guest:guest@ticketing.mq.lots.altr:5672/%2F
cms.db_url.master = mysql+pymysql://altaircms:altaircms@dbcms.master.altr:3306/altaircms?use_unicode=true&charset=utf8
cms.db_url.slave = mysql+pymysql://altaircms:altaircms@dbcms.slave.altr:3307/altaircms?use_unicode=true&charset=utf8
newsletter.db_url.master = mysql://newsletter:newsletter@dbcms.master.altr:3306/newsletter?use_unicode=true&charset=utf8
famiport.db_url.master = mysql+pymysql://famiport:famiport@dbmain.master.altr:3306/famiport?use_unicode=true&charset=utf8
famiport.db_url.slave = mysql+pymysql://famiport:famiport@dbmain.slave.altr:3307/famiport?use_unicode=true&charset=utf8
extauth.db_url.master = mysql+pymysql://extauth:extauth@dbmain.master.altr:3306/extauth?use_unicode=true&charset=utf8
extauth.db_url.slave = mysql+pymysql://extauth:extauth@dbmain.slave.altr:3307/extauth?use_unicode=true&charset=utf8

famiport_ftp_host = ftfm-dev.altr.jp:990
famiport_ftp_username = ticketstar
famiport_ftp_password = famiport
famiport_mail_recipients = dev@ticketstar.jp ktd_test@famima.com

s3.bucket = tstar-dev
cms.admin.port = 8001
cms.usersite.port = 9001
cms.solr.port = 8082

altaircms.stage = staging
altaircms.s3.utility = altaircms.filelib.s3.S3ConnectionFactory
altaircms.page.static.factoryclass = altaircms.page.staticupload.directory_resources.S3StaticPageDirectoryFactory
altaircms.solr.search.utility = altaircms.solr.api.SolrSearch
rakuten_auth.proxy_url_base = https://api.ticket.rakuten.co.jp/rid/rc/http/stg
altaircms.backend.outer.url = http://backend.stg.altr.jp
altaircms.backend.inner.url = http://localhost:8021

[supervisor]
recipe = collective.recipe.supervisor
port = 7001
