<%inherit file="../commons/layout.html" />


<form id="form1" name="form1" action="${request.route_path('order_review.show')}" method="post">
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.orderreview:static/images/RT/title_orderreview_form.gif')}" alt="お支払い、引き取り方法の指定" width="267" height="30" /></h2>
      <p style="margin-left:20px;">購入したチケットの受付番号と電話番号を入力してください</p>
    </div>
  </div>

  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url("altair.app.ticketing.cart:static/img/settlement/title_customer_info.gif")}" alt="購入者情報" width="103" height="30" /></h2>
      <table id="confirmDelivery">
        <tr>
          <th scope="row">受付番号 <span class="red">*</span></th>
          <td>
            <ul>
              <li>
                ${form.order_no}
                (例: RT00000000AB)
              </li>
              <li><span class="red">${h.error('order_no')}</span></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">電話番号(半角数字) <span class="red">*</span></th>
          <td>
            <ul>
              <li>
                ${form.tel}
                (例: 080xxxxyyyy)
              </li>
              <li><span class="red">${h.error('tel')}</span></li>
              <li>
                電話番号は、ご登録時の電話番号をご入力ください（携帯・自宅をどちらもご登録した場合、どちらの番号でも構いません)
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
<div style="margin-left:25%">
  <input type="submit" value="次に進む" class="submit" style="width:400px;height:50px;">
</div>
</form>
