<%page args="form, stock_holders, limit=None" />
<%namespace file="/common/helpers.html" name="ch" />

<% paging = False if limit else True %>

<style>
  .swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -6px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
</style>

<script type="text/javascript">
function load_stock_holder_count(){
  var stock_holder_count_tags = $('.stock-holder-count');
  $('.stock-holder-count').each(function (ii, tag) {
    $.ajax({
      type: 'GET',
      url: tag.getAttribute('href'),
      dataType: 'json',
      success: function (result){
        total = result['total'];
        rest = result['rest'];
        tag.innerText = rest + '席/ ' + total + '席';
      },
      error: function (result){
        tag.innerText = "在庫数の取得に失敗しました";
      },
    });
  });
}
</script>

<div class="row-fluid">
  <div class="span6">
    <table class="table table-striped table-bordered table-condensed" style="margin-bottom: 10px;">
      <thead>
      <tr>
        <th style="width: 30px;"></th>
        <th style="width: 30px;"></th>
        <th>${ch.sortable(form.name, paging)}</th>
        <th>${form.account_id.label.text}</th>
        <th>
          席数確認
          <button class="btn btn-mini" onclick="javascript:load_stock_holder_count();">
            <i class="icon-refresh"></i>
          </button>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      % for i, stock_holder in enumerate(stock_holders):
      <% if limit and i >= limit: break %>
      <tr id="stock_holder-${stock_holder.id}" name="${stock_holder.name}" data='${HH.json(stock_holder.style)}'
          %if stock_holder.is_putback_target:
              is_putback_target='true'
          %endif
          >
        <td><input type="radio" name="stock_holder_id" value="${stock_holder.id}" /></td>
        <td style="color:${stock_holder.style['text_color']};">${ch.seat_style(stock_holder.style)}</td>
        <td><a href="javascript:edit_stock_holder('${stock_holder.id}');"><span id="name">${stock_holder.name}</span></a></td>
        <td><a href="${request.route_path('accounts.show', account_id=stock_holder.account_id)}"><span id="account_id" value="${stock_holder.account_id}">${stock_holder.account.name}</span></a></td>
        <td>
          <div class="stock-holder-count" href="${request.route_path('stock_holders.count', stock_holder_id=stock_holder.id)}"></div>
        </td>
        <td>
          %if stock_holder.is_putback_target:
          <a href="${request.route_url('augus.putback.new', event_id=event.id)}">返券</a>
          %endif
        </td>
      </tr>
      % endfor
      </tbody>
    </table>
    % if limit and len(stock_holders) > limit:
    <div class="pull-right">
      ${len(stock_holders)}件中${limit}件を表示
      <a href="${request.route_path('stock_holders.index', event_id=event.id)}">もっと見る</a>
    </div>
    % endif
  </div>
</div>

% if paging:
  ${ch.pager(stock_holders)}
% endif
