@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
	color: #333;
	font-size: 14px;
    font-family: Meiryo, sans-serif;
	background: #DCDCDC;
}
a {
  text-decoration: underline;
  color: #1e73a4;
}
a:hover {
  color: #00A2B4;
}
.hidden {
  display: none;
}

/* header
-------------------------------------------- */
header .head {
  height: 60px;
  margin: 0;
  padding: 0;
  background: #000;
}
header h1 {
  text-align: left;
  padding-left: 10px;
  line-height: 60px;
}
header h1 img {
  border-radius: 5px;
  background: #ffffff;
  vertical-align: middle !important;
  height: 100%;
}

/* footer
-------------------------------------------- */
footer {
  text-align: center;
  padding-top: 50px;
}
footer ul {
  overflow: hidden;
  list-style: none;
  padding-bottom: 20px;
}
footer ul li {
  display: inline-block;
  padding: 0 0 0 10px;
}
footer ul li:after {
  content: "|";
  padding-left: 13px;
}
footer ul li:last-child:after {
  content: none;
}

@media only screen and (max-width: 750px) {
  footer {
    padding-top: 8%;
  }
  footer ul li {
    font-size: 11px;
    line-height: 200%;
    padding: 0 0 0 5px;
  }
  footer ul li:after {
    padding-left: 5px;
  }
}

/* main
-------------------------------------------- */
main {
  padding: 30px 0;
  background: #ffffff;
}

@media only screen and (max-width: 750px) {
  main {
    padding: 0;
  }
}

/* content
-------------------------------------------- */
#content {
    position: relative;
    width: 950px;
    text-align: left;
    background: #FFF;
    margin: 0 auto 30px auto;
    border: 8px solid #dfdfdf;
}

.wrap-content {
  padding: 20px;
  margin: 20px 0;
}

.heading-primary {
    background: #5A5A5A;
    font-size: 18px;
    letter-spacing: 3px;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
  #content {
    width: 100%;
    border: none;
  }
  .wrap-content {
    padding: 10px;
    margin: 0;
  }
}