<html>
<head>
  <title>東北放送 購入確認ページ</title>
</head>
<body style="background-color:#FFF" bgcolor="#FFF">
  <div style="text-align: center">  
    <a href="http://tbc.tstar.jp/">
      <img src="${request.static_url('altair.app.ticketing.orderreview:static/TH/mobile/images/logo.gif')}"
           alt="東北放送" width="100%"/>
    </a>
  </div>
  
<%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
  <a href="http://www.ticketstar.jp/privacy/">個人情報保護方針</a> / <a href="http://www.ticketstar.jp/legal/">特定商取引法に基づく表示</a>
  <div>
    Copyright &copy; 2010-2015 TicketStar, Inc. All Rights Reserved. 
  </div>
</body>
</html>
