<%page args="modal_id" />
<script type="text/javascript">
    var add_codes, delete_codes, used_at;

    function pop_over() {
        $('[rel=popover]').popover({html: true});
    }

    $(function () {
        pop_over();
        var endpoints = {
            'add': '${request.route_path('discount_code.codes_add', setting_id='__id__')|n}',
            'delete': '${request.route_path('discount_code.codes_delete_all', setting_id='__id__')|n}',
            'used_at': '${request.route_path('discount_code.codes_used_at', setting_id='__setting_id__', code_id='__code_id__', _query=request.GET)|n}'
        };
        (function (modal_code) {
            add_codes = function add_codes(id) {
                if (!id) return;
                load_modal_form(modal_code, endpoints['add'].replace('__id__', id), null, null);
                modal_code.modal('toggle');
            };

            delete_codes = function delete_codes(id) {
                if (!id) return;
                var modal = $('#modal-delete');
                modal.find('#delete').attr('href', endpoints['delete'].replace('__id__', id));
                modal.find('#message').text('全コードを削除します。よろしいですか？');
                modal.modal('toggle');
            };

            used_at = function used_at(setting_id, code_id) {
                if (!setting_id || !code_id) return;
                var modal = $('#modal-delete');
                modal.find('#delete').attr('href', endpoints['used_at'].replace('__setting_id__', setting_id).replace('__code_id__', code_id));
                modal.find('#message').text('コードID:' + code_id + 'を使用済みにします。よろしいですか？');
                modal.modal('toggle');
            };
        })($('#${modal_id}'));

        $('.loading').on('click', function () {
            $(this).button('loading');
            setTimeout(function () {
                $this.button('reset');
            }, 8000);
        });
    });

    $(document).ajaxComplete(function () {
        $('.loading').button('reset');
    });

</script>
<%namespace file="/common/helpers.html" name="ch" />
<div id="${modal_id}" class="modal hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>コード</h3>
    </div>

    <div class="modal-body"></div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">閉じる</a>
        <a href="javascript:void(0);" onclick="$('#${modal_id}').find('form').submit();"
           class="btn loading btn-primary">生成開始</a>
    </div>
</div>