<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="shortcut icon" href="${request.static_url('altair.app.ticketing.coupon:static/HT/pc/images/favicon.ico')}" />
  <title>ハウステンボス 購入確認ページ</title>
  <link rel="stylesheet" type="text/css" href="${request.static_url('altair.app.ticketing.coupon:static/HT/pc/css/style2.css')}" media="all" />
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.coupon:static/common/js/jquery-1.11.3.min.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.coupon:static/common/js/coupon.js')}"></script>
  <script type="text/javascript" src="${request.static_url('altair.app.ticketing.coupon:static/common/js/disable_return_page.js')}"></script>
  <link rel="stylesheet" type="text/css" href="${request.static_url('altair.app.ticketing.coupon:static/common/css/coupon.css')}" media="all" />
</head>
<body>
<div class="header" id="top">
  <div class="header-inner">
    <h1>
      <a href="http://huistenbosch.tstar.jp/">
        <img src="${request.static_url('altair.app.ticketing.coupon:static/HT/pc/images/logo.png')}" alt="ハウステンボス" height="64"/>
      </a>
    </h1>
  </div>
</div>

<div class="wrapper">
  <div class="kadomaru">
${next.body()}
  </div>
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="copyright clear">
         &copy; TicketStar, Inc.
    </div>
  </div>
</div>
</body>
</html>
