@charset "utf-8";

/*
   for calendar widget layout
*/
#detailSchedule tbody td{
    height: 59px;
}

#detailSchedule th.month-col {
	width: 20px;
}

/*
  for ticket icon 
*/
#ticketIcon li{
	background-repeat: no-repeat;
	width: 80px;
	height: 30px;
}
#ticketIcon li.icon-select {
	background-image: url(/static/ticketstar/img/detail/icon_select.gif);
}
#ticketIcon li.icon-keep {
	background-image: url(/static/ticketstar/img/detail/icon_keep.gif);
}
#ticketIcon li.icon-official {
	background-image: url(/static/ticketstar/img/detail/icon_official.gif);
}
#ticketIcon li.icon-goods {
	background-image: url(/static/ticketstar/img/detail/icon_goods.gif);
}
#ticketIcon li.icon-event {
	background-image: url(/static/ticketstar/img/detail/icon_event.gif);
}

/*
  for service icon
*/

#serviceIcon li{
	background-repeat: no-repeat;
	width: 90px;
	height: 20px;
}
#serviceIcon li.icon-fanclub {
	background-image: url(/static/ticketstar/img/detail/icon_fanclub.gif);
}
#serviceIcon li.icon-crecache {
	background-image: url(/static/ticketstar/img/detail/icon_creche.gif);
}
