@charset "utf-8";

/*
  for global navigation 
*/

#globalNav1 li {
    line-height: 39px;
}

#globalNav1 .category a:visited{
    text-decoration:none;
    line-height:40px;
    color: #fff;
}
#globalNav1 .category a{
    text-decoration:none;
    color: #fff;
}

/*
  for title headings
*/

#first img#titleImage{
    width: 182px;
    height: 60px;
}
#help img#titleImage{
    width: 91px;
    height: 60px;
}
#mypage img#titleImage{
    width: 149px;
    height: 60px;
}
#sitemap img#titleImage{
    width: 167px;
    height: 60px;
}
#stage img#titleImage{
    width: 60px;
    height: 60px;
}
#search img#titleImage{
    width: 118px;
    height: 60px;
}
#music img#titleImage{
    width: 59px;
    height: 60px;
}
#event img#titleImage{
    width: 198px;
    height: 60px;
}
#change img#titleImage{
    width: 287px;
    height: 60px;
}

/* .category.index {
 *     background-repeat: no-repeat;
 *     background-image:url(/static/ticketstar/img/common/header_nav_top.gif);
 * }
 * .category.music {
 *     background-repeat: no-repeat;
 *     background-image:url(/static/ticketstar/img/common/header_nav_music.gif);
 * }
 * .category.stage {
 *     background-repeat: no-repeat;
 *     background-image:url(/static/ticketstar/img/common/header_nav_stage.gif);
 * }
 * .category.sports {
 *     background-repeat: no-repeat;
 *     background-image:url(/static/ticketstar/img/common/header_nav_sports.gif);
 * }
 * .category.event {
 *     background-repeat: no-repeat;
 *     background-image:url(/static/ticketstar/img/common/header_nav_event.gif);
 * } */

/*
  for layout in toppage
  */

#index #mainLeft {
	width: 342px;
    float: left;
}
#index #mainRight {
	width: 342px;
    float: left;
}

#sports #mainLeft {
	width: 362px;
    float: left;
}
#sports #mainRight {
	width: 362px;
    float: right;
}

#stage #mainLeft {
	width: 362px;
    float: left;
}
#stage #mainRight {
	width: 362px;
    float: right;
}

#music #mainLeft {
	width: 362px;
    float: left;
}
#music #mainRight {
	width: 362px;
    float: right;
}
#event #mainLeft {
	width: 362px;
    float: left;
}
#event #mainRight {
	width: 362px;
    float: right;
}


/*
  for promotion slideshow
  */

#slideShow img{
	margin: 0;
	padding: 0;
}

#slideShow #slideShowLeft{
    float:left;
    width: 517px;
	margin-bottom: 20px;
}
#slideShow #slideShowLeft .mainImage img {
    width: 516px;
    height: 300px;
}
#slideShow #slideShowRight{
    float:left;
    width: 182px;
	margin-bottom: 20px;
}
#slideShow #slideShowRight .thumbnail img{
    width: 60px;
    height: 60px;
}
#slideShow .mainImageMessage {
    padding-left: 10px;
    padding-right: 10px;
	background-color: #000;
	color: #fff;
    font-weight: bold;
}

#subkindSlideShow {
    width: 715px;
    height: 325px;
    background-color: #555;
    padding: 10px;
}

#subkindSlideShow #slideShowLeft {
    width: 517px;
    float: left;
    margin-bottom: 20px;
}

#subkindSlideShow #slideShowLeft .mainImage img {
    width: 516px;
    height: 300px;
}

#subkindSlideShow #slideShowLeft .mainImageMessage {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

#subkindSlideShow #slideShowRight {
    width: 190px;
    padding-left: 5px;
    float: left;
    margin-bottom: 20px;
}

#subkindSlideShow #slideShowRight .slideBox {
    background-color: #222;
    color: #fff;
    font-size: 10pt;
    padding-top: 5px;
    line-height: 110%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#subkindSlideShow #slideShowRight .subkindThumbnail{
    margin-left: 5px;	
}

#subkindSlideShow #slideShowRight .subkindThumbnail .slideBoxLeft{
    margin-left: 5px;
    width: 40%;
    float:left;
}
#subkindSlideShow #slideShowRight .subkindThumbnail .slideBoxRight{
    padding: 5px;
}
.clear {
    clear: both;
}

/*
  for calendar widget layout
  */
#detailSchedule tbody td{
    height: 59px;
}

#detailSchedule th.month-col {
	width: 20px;
}

/* 
   for heading widget
   */
.heading {
    background-repeat: no-repeat;
    color: #fff;
    margin:0;
    margin-top: 20px;
    padding: 6px;
    padding-left: 15px;
}

.index.heading {
    background-image:url(/static/ticketstar/img/index/bg_heading.gif);
}
.sports.heading {
    background-image:url(/static/ticketstar/img/sports/bg_heading.gif);
}
.music.heading {
    background-image:url(/static/ticketstar/img/music/bg_heading.gif);
}
.other.heading {
    background-image:url(/static/ticketstar/img/event/bg_heading.gif);
}
.stage.heading {
    background-image:url(/static/ticketstar/img/stage/bg_heading.gif);
}
.help.heading {
    background-image:url(/static/ticketstar/img/help/bg_heading.gif);
}
.change.heading {
    background-image:url(/static/ticketstar/img/change/bg_heading.gif);
}

/* for topic widget */
.topic-widget {
    float: left;
}

/* detail */
.detail.heading {
    background-image:url(/static/ticketstar/img/detail/bg_heading.gif);
    color: #000;
}
.detail.heading h2{
    vertical-align: middle ;
}

/* fixme */
#thisWeek,#nearTheEnd {
    margin:0;
}

/*
  for ticket icon 
  */
#ticketIcon li{
	background-repeat: no-repeat;
	width: 80px;
	height: 30px;
}
#ticketIcon li.icon-select {
	background-image: url(/static/ticketstar/img/detail/icon_select.gif);
}
#ticketIcon li.icon-keep {
	background-image: url(/static/ticketstar/img/detail/icon_keep.gif);
}
#ticketIcon li.icon-official {
	background-image: url(/static/ticketstar/img/detail/icon_official.gif);
}
#ticketIcon li.icon-goods {
	background-image: url(/static/ticketstar/img/detail/icon_goods.gif);
}
#ticketIcon li.icon-event {
	background-image: url(/static/ticketstar/img/detail/icon_event.gif);
}

/*
  for service icon
  */

#serviceIcon li{
	background-repeat: no-repeat;
	width: 90px;
	height: 20px;
}
#serviceIcon li.icon-fanclub {
	background-image: url(/static/ticketstar/img/detail/icon_fanclub.gif);
}
#serviceIcon li.icon-crecache {
	background-image: url(/static/ticketstar/img/detail/icon_creche.gif);
}

/* help */
.helpList dt {
	height: auto;
}
.helpList dd {
	height: auto;
}

/*
  don't hide text in change.html
*/

.changeText {
	display: block;
}

/* 
   for detail search input page
*/


#searchform { /* fixme */
	background: url(/static/ticketstar/img/first/bg_body.gif) no-repeat 50% 130px;
}

.searchInput {
	clear: both;
	overflow: hidden;
}

* html .searchInput {
	height: 1%;
}

.searchInput {
    background-color: #e6e6da;
    margin-bottom: 10px;
}

.searchInput .searchInputHeader{
    padding: 15px;
    width: 820px;
}

.searchInput dt {
    background-color: #e6e6da;
	float: left;
	width: 123px;}

.searchInput dd {
	float: right;
	width: 567px;
	padding: 15px;
	background-color: #f7f7ea;
}
.searchInput dd {
    word-spacing: 0.75em;
    letter-spacing: 0em;

}

.searchInput dd td {
    line-height: 1.75em;
}

.searchInput dd td, .searchInput dd th {
    padding: 13px 7px;
}

.searchInput dd td.mostleft {
    width:82px;
}

.searchInput li {
    line-height: 2.5em;
}

#searchFormButton ul{
    text-align:center;
}

#searchFormButton li{
    display:inline-block;
    padding-right:1em;
    /display:inline;
    /zoom:1;
}

#searchFormButton li input{
    /* padding:0.5em; */
}

/*
  for search result
*/
#searchQuery {
    background-color: #f7f7ea;
    padding:10px;
    margin-bottom:20px;

}

.icon-category {
    width: 82px;
    height: 20px;
	background-repeat: no-repeat;
}
.icon-category-music {
	background-image: url(/static/ticketstar/img/search/icon_music.gif);    
}
.icon-category-stage {
	background-image: url(/static/ticketstar/img/search/icon_stage.gif);    
}
.icon-category-sports {
	background-image: url(/static/ticketstar/img/search/icon_sports.gif);    
}
.icon-category-other {
	background-image: url(/static/ticketstar/img/search/icon_event.gif);    
}

/*
  purchase button 
*/

.purchase-simple {
    width: 226px;
    height: 46px;
	background-repeat: no-repeat;
    background-image: url(/static/ticketstar/img/settlement/btn_buy.gif);
}

/*
  sidebar
*/
/* h2.sidebar-heading {
 *     height: 24px;
 * 	padding: 7px 10px 0;
 * 	color: #ffffff;
 * 	background: url(../img/search/side_title.gif) no-repeat 0 0;
 * } */

h2.sidebar-heading {
    background-repeat: no-repeat;
    color: #fff;
    margin:0;
    margin-top: 20px;
    padding-left: 15px;
    height: 24px;
	padding: 7px 10px 0;
	color: #ffffff;
	background: url(../img/search/side_title_long.gif) no-repeat;
}
