<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
<add key="test.dummy.key" value="test-test-test"/>
<!-- failure message -->
<add key="message.auth.failure.format.0" value="ユーザー名かパスワードが違います。ログインできません。"/>

<add key="endpoint.auth.login.url" value="http://oshigoto:8040/login"/>
<add key="endpoint.auth.login.status.url" value="http://oshigoto:8040/login/status"/>
</appSettings>
</configuration>
