<?xml version="1.0" encoding="utf-8"?>
<!--
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
throwExceptions="true" 
internalLogFile="internal.txt" 
internalLogLevel="Trace" 
internalLogToConsole="true"  
internalLogToConsoleError="true" 
>
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.Fluentd"/>
  </extensions>
  <targets>
    <target name="logfile" xsi:type="File" fileName="log.txt" layout="${longdate} ${level} ${callsite}:${message}${newline}${exception:format=ToString,StackTrace}" />
    
    <target name="fluentd" xsi:type="Fluentd" layout="${longdate}|${level}|${callsite}|${logger}|${message}${exception:format=ToString,StackTrace}"
        Host="127.0.0.1"
        Port="24224"
        Tag="altair.ticketing.checkinstation.client"
        EmitStackTraceWhenAvailable="false"
        ReceiveBufferSize="8192"
        SendBufferSize="8192"
        ReceiveTimeout="10"
        SendTimeout="50"
        LingerTime="10"
        LingerEnabled="false"
            />
            
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />

    <logger name="*" minlevel="Debug" writeTo="fluentd" />

    <!--		<logger name="*" minlevel="Debug" writeTo="console" />-->
  </rules>
</nlog>