<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>サウンドクリエーター</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="shortcut icon" href="${request.static_url('altair.app.ticketing.lots:static/SC/common/img/favicon.ico')}" />
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.lots:static/SC/pc/css/import.css')}" type="text/css" media="all" />
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/jquery.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.lots:static/common/js/underscore-min.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
<script type="text/javascript">
  $(function() {
    $('form').disableOnSubmit('input[type=image][name!="back"]');
  });
</script>
</head>
<body id="settlement">
<p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="${request.static_url('altair.app.ticketing.lots:static/SC/pc/img/common/skip.gif')}" alt="本文へジャンプ" width="1" height="1" /></a></p>
<div id="container">
  <!-- ========== header ========== -->
  <div id="grpheader">
    <img src="${request.static_url('altair.app.ticketing.lots:static/SC/pc/img/common/header.png')}" alt="サウンドクリエーター" class="serviceLogo" width="950" height="64" /></p>
  </div>
  <!-- ========== /header ========== -->
  <hr />
  <h1>抽選申込ページ</h1>

  <div style="text-align:right;">
    <a href="/howto.html" class="headerLink" target="_blank">申込方法</a>　<a href="/faq.html" class="headerLink" target="_blank">よくある質問</a>　<a href="/kakunin.html" class="headerLink" target="_blank">申込確認</a>
  </div>
  <!-- ========== main ========== -->
  <div id="main">
    ${next.body()}
  </div>
  <!-- ========== /main ========== -->
  <div class="footerCopy">
    <div class="footernav">
      <ul>
<li><a href="http://www.sound-c.co.jp/contact/">お問い合わせ</a></li>
<li><a href="http://sc.tstar.jp/kiyaku.html">利用規約</a></li>
<li><a href="http://sc.tstar.jp/tokushoho.html">特定商取引法に基づく表示</a></li>
<li><a href="http://www.acpc.or.jp/concert/">ライブ・エンタテインメント約款</a></li>
<li><a href="http://www.sound-c.co.jp/privacy/">個人情報保護方針</a></li>
     </ul>
    </div>
    <div class="copyright">
      Copyright &copy; 2010-2015 TicketStar Inc. All Rights Reserved. 
    </div>
  </div>
</div>
<!-- /container -->

<%def name="error(form, field, enclose=False)">
%if form.errors.get(field):
  %if enclose:
  <div>
  %endif
  %for e in form.errors[field]:
  <span class="validation-error">${e}</span>
  %endfor
  %if enclose:
  </div>
  %endif
%endif
</%def>
</body>
</html>
