<%page args="event, performance_id=None, order=None, split=False, small=False, with_text=True" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function show_performance() {
    var id = get_id('performance_id');
    if (!id) return;
    $(location).attr('href', '/events/performances/show/' + id);
  }
  function edit_performance() {
    var id = get_id('performance_id');
    if (!id) return;
    $(location).attr('href', '/events/performances/edit/' + id);
  }
  function delete_performance() {
    var id = get_id('performance_id');
    if (!id) return;
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/events/performances/delete/' + id);
    modal.find('#message').text('選択したパフォーマンスを削除します。よろしいですか？');
    modal.modal('toggle');
  }
  function copy_performance() {
    var id = get_id('performance_id');
    if (!id) return;
    $(location).attr('href', '/events/performances/copy/' + id);
  }
  function many_copy_performance() {
    var id = get_id('performance_id');
    if (!id) return;
    $(location).attr('href', '/events/performances/manycopy/' + id);
  }
  function mail_info(){
    var id = get_id('performance_id');
    if (!id) return;
    $(location).attr('href', '/events/performances/mailinfo/' + id);
  }
  function sales_report(){
    var id = get_id('performance_id');
    if (!id) return;
    $(location).attr('href', '/events/sales_reports/performance/' + id);
  }
  function confirm_open_performance(id){
    var modal = '#modal-performance-open';
    var form = '#performance-open-form';
    var url = '/events/performances/open/' + id;
    get_modal_form(modal, form, url);
  }
  function open_performance(id){
    var modal = '#modal-performance-open';
    var form = '#performance-open-form';
    var url = '/events/performances/open/' + id;
    post_modal_form(modal, form, url);
  }
  function confirm_open_event(id, public){
    var modal = '#modal-event-open';
    var form = '#event-open-form';
    var url = '/events/open/' + id + '/' + public;
    get_modal_form(modal, form, url);
  }
  function open_event(id, public){
    var modal = '#modal-event-open';
    var form = '#event-open-form';
    var url = '/events/open/' + id + '/' + public;
    post_modal_form(modal, form, url);
  }
</script>

<%
  actions = {
    'new':dict(
      label=u'新規' if with_text else u'',
      url=request.route_path('performances.new', event_id=event.id),
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集' if with_text else u'',
      url=request.route_path('performances.edit', performance_id=performance_id),
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除' if with_text else u'',
      url='javascript:delete_performance();',
      attrs={'class':'btn-danger'},
      icon='icon-minus',
    ),
    'show':dict(
      label=u'詳細' if with_text else u'',
      url=request.route_path('performances.show', performance_id=performance_id),
      icon='icon-th-list',
    ),
    'copy':dict(
      label=u'コピー' if with_text else u'',
      url=request.route_path('performances.copy', performance_id=performance_id),
      icon='icon-copy',
    ),
    'manycopy':dict(
      label=u'複数コピー' if with_text else u'',
      url=request.route_path('performances.manycopy', performance_id=performance_id),
      icon='icon-th-large',
    ),
    'mail': dict(
      label=u"メール付加情報" if with_text else u'',
      url=request.route_path('performances.mailinfo.index', performance_id=performance_id),
      icon="icon-envelope",
    ),
    'report': dict(
      label=u"売上レポート" if with_text else u'',
      url=request.route_path('sales_reports.performance', performance_id=performance_id),
      icon=None,
    )
  }
  order = iter(order or ['new', 'show', 'edit', 'copy', 'manycopy', 'delete'])
%>
% if split:
  <div style="float: left;">
  % for item in order:
      ${HH.action_button(actions, iter([item]), vertical=False, extra_classes=[u'btn-small'] if small else [])}
  % endfor
  </div>
% else:
    <div style="float: left;">
      ${HH.action_button(actions, order, vertical=False, extra_classes=[u'btn-small'] if small else [])}
    </div>
% endif
${delete_modal()}

<div id="performance-open-form"></div>
<div id="event-open-form"></div>
<div id="event-close-form"></div>
