<%page args="expanded=True" />
<table class="table table-bordered table-condensed ">
  <tbody>
    <tr>
      <th width="8%">会場</th>
      <td width="52%" colspan="3">
        ${performance.venue.name}
        %if performance.venue.sub_name != None:
          <div class="sub_name">${performance.venue.sub_name}</div>
        %endif
      </td>
      <th width="8%">公演コード</th>
      <td width="12%">${performance.code}</td>
      <th width="8%">開場</th>
      <td width="12%">${vh.datetime(performance.open_on, with_weekday=True)}</td>
    </tr>
    <tr>
      <th>公演名副題</th>
      <td width="28%">${performance.subtitle or u""}</td>
      <th width="8%">公演名略称</th>
      <td width="16%">${performance.abbreviated_title or u""}</td>
      <th>公演名備考</th>
      <td>${performance.note or u""}</td>
      <th>開演</th>
      <td>${vh.datetime(performance.start_on, with_weekday=True)}</td>
      %if performance.end_on:
        <th>終演</th>
        <td>${vh.datetime(performance.end_on, with_weekday=True)}</td>
      %endif
    </tr>
% if expanded:
    <tr>
      <th rowspan="2">リダイレクト先</th>
      <td colspan="7">
        <span class="label" style="background-color:#040">PC</span>${performance.redirect_url_pc or u'未設定'}
      </td>
    </tr>
    <tr>
      <td colspan="7"><span class="label" style="background-color:#008">モバイル</span>${performance.redirect_url_mobile or u'未設定'}</td>
    </tr>
    <tr>
      <th>
        カートURL
        <span class="help-inline">
          <a rel="popover" data-original-title="カートURL" data-content="購入カートのURL">
            <i class="icon-question-sign"></i>
          </a>
        </span>
      </th>
      <td colspan="7">
        <a href="${cart_url}">${cart_url}</a>  (<a href="${cart_now_cart_url}">時間指定してカート購入</a>)
      </td>
    </tr>
    %if performance.setting:
      %for (k, _), (label, v) in HH.describe_iter(performance.setting):
        <tr>
          <th>${label}</th>
          <td colspan="7">${v or u'-'}</td>
        </tr>
      %endfor
    %endif
% endif
  </tbody>
% if expanded:
  <tfoot>
    <tr>
      <td colspan="8">
        <div class="pull-right">
          <%include file="/performances/_action_button.html" args="event=performance.event, order=['edit', 'delete', 'copy', 'mail']" />
        </div>
      </td>
    </tr>
  </tfoot>
% endif
</table>
