<%page args="performance, stats" />
<%namespace file="/common/helpers.html" name="ch" />

<% from altair.app.ticketing.payments import plugins %>

<div class="alert alert-warning">
  <p>CSVファイルを読み込みました。以下の内容で正しいか確認してください。</p>
</div>

<table class="table table-bordered">
  <tr>
    <th class="span2">インポート方法</th>
    <td class="span6">${stats.get('import_type')[1]}</td>
  </tr>
  <tr>
    <th>インポートする予約数</th>
    <td>${stats.get('order_count')}</td>
  </tr>
  <tr>
    <th>決済方法/引取方法ごとの予約数</th>
    <td>
      <% order_per_pdmp = stats.get('order_per_pdmp') %>
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span3">決済方法</th>
          <th class="span3">引取方法</th>
          <th class="span2">予約数</th>
          <th class="span3"></th>
        </tr>
        % for pdmp, info in order_per_pdmp.iteritems():
        <tr>
          <td>${pdmp.payment_method.name}</td>
          <td>${pdmp.delivery_method.name}</td>
          <td>${info.get('count')}</td>
          <td>${info.get('remark', u'')}</td>
        </tr>
        % endfor
      </table>
    </td>
  </tr>
  <tr>
    <th>インポートする席数</th>
    <td>${stats.get('seat_count')}</td>
  </tr>
  <tr>
    <th>商品別の席数</th>
    <td>
      <% seat_per_product = stats.get('seat_per_product') %>
      <table class="table table-bordered table-condensed">
        <tr>
          <th class="span3">商品名</th>
          <th class="span3">単価</th>
          <th class="span2">席数</th>
          <th class="span3"></th>
        </tr>
        % for product, count in seat_per_product.iteritems():
        <tr>
          <td>${product.name}</td>
          <td>${vh.price(product.price)}</td>
          <td>${count}</td>
          <td></td>
        </tr>
        % endfor
      </table>
    </td>
  </tr>
  <tr>
    <th>インポートできない予約数</th>
    <td>${stats.get('error_order_count')}</td>
  </tr>
</table>

<% errors = stats.get('error_orders') %>
% if errors:
<h5>登録できない予約のエラー詳細</h5>
<div class="alert alert-error">
  % for error in errors.values():
  <p>${error}</p>
  % endfor
</div>
% endif

<form class="form-horizontal" action="${request.route_path('performances.import_orders.confirm', performance_id=performance.id)}" method="POST">
  <div class="form-actions">
    <input class="btn btn-primary pull-right" type="submit" name="submit" value="インポートを実行する">
    <a href="${request.route_path('performances.import_orders.index', performance_id=performance.id)}" class="btn pull-right" style="margin-right: 10px;">戻る</a>
  </div>
</form>
