<%page args="performance, importer" />
<%namespace file="/common/helpers.html" name="ch" />

<% stats = importer.imported_stats() %>

<div class="alert alert-warning">
  <p>インポート完了しました。</p>
</div>

<%include file="./_import_orders_stats.html" args="stats=stats" />

<% errors = stats.get('error_orders') %>
% if errors:
<h5>インポートできなかった予約のエラー詳細</h5>
<div class="alert alert-error">
  % for error in errors.values():
  <p>${error}</p>
  % endfor
</div>
% endif

<form class="form-horizontal" action="${request.route_path('performances.import_orders.clear', performance_id=performance.id)}" method="GET">
  <div class="form-actions">
    <input class="btn btn-primary pull-right" type="submit" name="submit" value="戻る">
  </div>
</form>
