<%page args="performance" />
<link href="/static/css/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
<style type="text/css">
.assignable {
  text-decoration: none;
  color: #000;
  border-radius: 4px 4px;
  border: 1px dashed #444;
  margin: 0 0;
  padding: 2px 2px;
}

.assignable:hover {
  text-decoration: none;
  color: #000;
}

.assignable.enabled {
  border: 1px solid #ccc;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  font-weight: bold;
}

.assignable.enabled:hover {
  background: #888;
  color: #fff;
  text-decoration: none;
}

.assignable.enabled:active {
  box-shadow: inset 1px 1px 3px #ccc;
}

span.editable {
  margin: 0 0;
}

.swatch {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background-color: #FFFFFF;
  text-align: center;
}

.transfer {
  float: right;
  margin: 8px 8px 8px 5px;
}

.rest {
  float: right;
  margin: 8px 0px 8px 0px;
}
</style>

<script type="text/javascript">
function deepClone(o) {
  if (o !== null && typeof o == 'object' && o.constructor == Object) {
    var retval = {};
    for (var k in o)
      retval[k] = deepClone(o[k]);
    return retval;
  } else {
    return _.clone(o);
  }
}

function gradientStyle(name, colors) {
  var buf = [], n = colors.length;
  buf.push(name, ':linear-gradient(top');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',', color[1], (color[0] * 100).toFixed(0) + '%');
  }
  buf.push(');');
  buf.push(name, ':-moz-linear-gradient(top');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',', color[1], (color[0] * 100).toFixed(0) + '%');
  }
  buf.push(');');
  buf.push(name, ':-o-linear-gradient(top');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',', color[1], (color[0] * 100).toFixed(0) + '%');
  }
  buf.push(');');
  buf.push(name, ':-webkit-gradient(linear,left top,left bottom');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',color-stop(',color[0], ',', color[1], ')');
  }
  buf.push(');');
  return buf.join(' ');
}

function buildColorButton(model, attr) {
  var button = $('<button></button>');
  function refresh() {
    var style = model.get(attr);
    if (style && style.fill)
      button.attr('style', gradientStyle('background', [[0, '#fff'], [.4, style.fill.color]]));
  }
  model.on('change:style', refresh);
  if (model.id != "") {
    button.click(function () {
      if (!$(this).data('colorpicker')) {
        $(this).data('colorpicker', true);
        $(this).decentcolorpicker({
          value: function () {
            var style = model.get(attr);
            return style && style.fill && style.fill.color;
          },
          select: function (value) {
            var style = deepClone(model.get(attr));
            if (!style.fill)
              style.fill = {};
            style.fill.color = value.hash;
            model.set(attr, style);
          }
        });
        $(this).click();
      }
    });
  }
  refresh();
  return button;
}

function bind(bindable, model, attr) {
  function onchange() {
    bindable.set(this.get(attr));
  }
  model.on('change:' + attr, onchange);
  bindable.bindStock('change:assignable', onchange);
  bindable.bindSave(function (value) {
    return model.set(attr, value, {
      error: function (msg) {
        bindable.element.popover(msg);
      }
    });
  });
  onchange.call(model);
}

// 全体ロックボタンの表示
//  * 白: そのグループ内にロック状態stockが1つもない時
//  * 灰: そのグループ内のロック状態とロック解除状態のstockがそれぞれ1つ以上あるとき
//  * 黒: そのグループ内のロック解除状態stockが1つもない時
// 全体ロックボタン押下時の挙動
//  * 白: そのグループ内のstockを全てロック状態にする
//  * 灰: そのグループ内のstockを全てロック状態にする
//  * 黒: そのグループ内のstockを全てロック解除状態にする


var StockLockStatus = (function () {
    function StockLockStatus() {
    };

    StockLockStatus.LOCKED = false;  // ロック状態
    StockLockStatus.UNLOCKED = true; // ロック解除状態
    StockLockStatus.ILLIGAL = "illigal status"; // 異常

    StockLockStatus.get = function (stock){
        return stock.get('assignable');
    };

    StockLockStatus.set = function (stock, status){
        stock.set('assignable', status);
        var venue = venueEditorRoot.venueeditor('model');
        if (venue.perStockSeatSet[stock.id]) {
            venue.perStockSeatSet[stock.id].each(function(seat){
                if (!seat.get('sold')){
                    seat.set('selectable', status);
                }
            });
        }
        return false;
    };

    StockLockStatus.toggle = function (stock){
        var now_status = this.get(stock);
        var next_status = this.ILLIGAL;
        if (now_status == this.UNLOCKED){
            next_status = this.LOCKED
        }else{
            next_status = this.UNLOCKED
        }
        this.set(stock, next_status);
    }
    return StockLockStatus;
})();

var StockGroupLockStatus = (function () {
    function StockGroupLockStatus() {
    };
    StockGroupLockStatus.get_color = function (status) {
        switch (status) {
        case this.LOCKED:
            return "black";
        case this.UNLOCKED:
            return "white";
        case this.MIXED:
            return "gray";
        default:
            return "red";
        }
    };

    StockGroupLockStatus.get_next_status = function (status) {
        switch (status) {
        case this.LOCKED:
            return this.UNLOCKED;
        case this.UNLOCKED:
            return this.LOCKED;
        case this.MIXED:
            return this.LOCKED;
        default:
            return this.ILLIGAL;
        }
    };

    StockGroupLockStatus.get_stock_lock_status = function (status){
        switch (status) {
        case this.LOCKED:
            return StockLockStatus.LOCKED;
        case this.UNLOCKED:
            return StockLockStatus.UNLOCKED;
        case this.MIXED:
            return StockLockStatus.LOCKED;
        default:
            return StockLockStatus.ILLIGAL;
        }
    };

    StockGroupLockStatus.LOCKED = "fa fa-lock";
    StockGroupLockStatus.UNLOCKED = "fa fa-unlock";
    StockGroupLockStatus.MIXED = "fa fa-unlock-alt";
    StockGroupLockStatus.ILLIGAL = "fa fa-bug";
    return StockGroupLockStatus;
})();


function get_now_status(stocks){
    var lock_count = 0;
    var unlock_count = 0;

    for(key in stocks){
        var stock = stocks[key];
        var status = stock.get('assignable');
        if(status == true){// unlock status
            ++unlock_count;
        }else{
            ++lock_count;
        }
    }

    if(lock_count == 0 && unlock_count == 0){
        return StockGroupLockStatus.NOSTOCK;
    }else if(lock_count > 0 && unlock_count == 0){
        return StockGroupLockStatus.LOCKED;
    }else if (lock_count == 0 && unlock_count > 0){
        return StockGroupLockStatus.UNLOCKED;
    }else if (lock_count > 0 && unlock_count > 0){
        return StockGroupLockStatus.MIXED;
    }else{
        return StockGroupLockStatus.ILLIGAL;
    }
};


function makeMultiStocksLockHandler(parent, id){
    if (typeof id === "undefined") { id = ""; }
    var lockable = $('<i></i>').appendTo(parent);
    var venue = venueEditorRoot.venueeditor('model');
    var mapper = venue.perStockHolderStockMap;
    var stocks = mapper[id];

    function refresh(){
        var status = get_now_status(stocks);
        var next_status = status;
        var next_color = StockGroupLockStatus.get_color(status);
        lockable.removeClass('fa fa-lock');
        lockable.removeClass('fa fa-unlock');
        lockable.removeClass('fa fa-unlock-alt');
        lockable.addClass(next_status);
        lockable.css('color', next_color);
    }

    for(key in stocks){
        var stock = stocks[key];
        stock.on('change:assignable', refresh);
    }
    refresh();
}

function makeMultiStocksByStockTypeLockHandler(parent, id){
    if (typeof id === "undefined") { id = ""; }
    var lockable = $('<i></i>').appendTo(parent);
    var venue = venueEditorRoot.venueeditor('model');
    var mapper = venue.perStockTypeStockMap;
    var stocks = mapper[id];

    function refresh(){
        var status = get_now_status(stocks);
        var next_color = StockGroupLockStatus.get_color(status);
        lockable.removeClass('fa fa-lock');
        lockable.removeClass('fa fa-unlock');
        lockable.removeClass('fa fa-unlock-alt');
        lockable.addClass(status);
        lockable.css('color', next_color);
    }

    for(key in stocks){
        var stock = stocks[key];
        stock.on('change:assignable', refresh);
    }
    refresh();
}


function makeLockHandler(n, stock) {
  var lockable = $('<i class="icon-lock"></i>').appendTo(n);
  var venue = venueEditorRoot.venueeditor('model');
  function onClick() {
    var status = stock.get('assignable') ? false : true;
    stock.set('assignable', status);
    if (venue.perStockSeatSet[stock.id]) {
      venue.perStockSeatSet[stock.id].each(function(seat){
        if (!seat.get('sold')) seat.set('selectable', status);
      })
    }
    return false;
  }
  lockable.bind('click', onClick);
  function refresh() {
    if (stock.get('assignable')) {
      lockable.addClass('icon-white');
    } else {
      lockable.removeClass('icon-white');
    }
  }
  stock.on('change:assignable', refresh);
  refresh();
}

function makeAssignable(n, stock) {
  var assignable = $('<span></span>').appendTo(n);
  function onClick() {
    var selection = venueEditorRoot.venueeditor('selection');
    selection.each(function (seat) {
      seat.set('stock', stock);
    });
    venueEditorRoot.venueeditor('clearSelection');
    return false;
  }
  function refresh() {
    assignable.text(stock.get('assigned'));
    if (stock.get('assignable')) {
      assignable.bind('click', onClick).addClass('assignable');
    } else {
      assignable.unbind().removeClass('assignable');
    }
  }
  stock.on('change:assigned', refresh);
  stock.on('change:assignable', refresh);
  refresh();
}

var makeEditable = (function () {
  var editing = null;
  var prevDisplayStyleValue = null;

  return function makeEditable(n, stock, filter) {
    var editable = $('<span></span>').appendTo(n);
    var editableIcon = $('<i class="icon-pencil" style="margin-left: 4px;"></i>').appendTo(n);
    var save = function (value) { set(value); }; // will be overridden by bindSave()
    var value = '';

    function beginEdit() {
      if (editing)
        return;
      editing = $('<input type="text" class="editable" style="height:1em;margin:0 0; position: absolute;" />');
      var pos = editable.position();
      editing.val(value);
      prevDisplayStyleValue = editable.css('display');
      editable.css('display', 'none');
      editableIcon.css('display', 'none');
      editing.insertAfter(editable);
      editing.css({
       width: (n.innerWidth() - 10) + "px",
       left: '0px',
       top: (editable.parent().innerHeight() - editing.outerHeight()) / 2 + 'px'
      });
      editing.focus();
      editing.blur(function (e) {
        var _value = endEdit();
        save && save(_value);
        return false;
      });
      editing.keydown(function (e) {
        if (e.which == 13) {
          var _value = endEdit();
          save && save(_value);
          return false;
        }
        return true;
      });
    }

    function endEdit() {
      var value = editing.val();
      editable.css('display', prevDisplayStyleValue);
      editableIcon.css('display', 'inline-block');
      editing.remove();
      editing = null;
      return value;
    }

    function cancel() {
      endEdit();
    }

    function onClick() {
      if (editing)
        cancel();
      beginEdit();
    }

    function set(_value) {
      if (filter) {
        var __value = filter(_value);
        if (__value === void(0))
          return;
        _value = __value;
      }
      value = _value;

      if (editing)
        editing.val(_value)
      editable.text(_value);

      if (stock.get('assignable')) {
        editable.bind('click', onClick).addClass('editable');
        editableIcon.css('display', 'inline-block');
      } else {
        editable.unbind().removeClass('editable');
        editableIcon.css('display', 'none');
      }
    }

    return {
      element: editable,
      set: set,
      get: function () {
        return value;
      },
      bindSave: function (_save) {
        save = _save;
      },
      bindStock: function (event, listener) {
        stock.on(event, listener);
      }
    }
  }
})();

function remaining_seats_count(stock){
    return parseInt(stock.get('available'));
}

function positiveInteger(value) {
  var _value = +value;
  if (isNaN(_value) || _value < 0) {
    alert("不正な値です: " + value );
    return void(0);
  }
  return _value;
}

function buildStockRow(stock) {
  var tr = $('<tr></tr>');
  var legend = $('<td class="stock-legend"></td>');
  var name = $('<td class="stock-name"></td>');
  var stockType = stock.get('stockType');
  if (stockType.id != "") {
    buildColorButton(stockType, 'style').appendTo(legend);
    bind(makeEditable(name, stock), stockType, 'name');
  } else {
    name.text(stockType.get('name'));
  }
  var rest_label = $('<span class="rest label"></span>');
  rest_label.text("残席:" + remaining_seats_count(stock) + "席");
  var quantity = $('<td class="stock-quantity"></td>');
  if (stockType.get('isSeat') && !stockType.get('quantityOnly')) {
    makeAssignable(quantity, stock);
  } else {
    bind(makeEditable(quantity, stock, positiveInteger), stock, 'assigned');
    stock_mover = $('<i class="fa fa-share-square-o"/>');
    stock_mover.on('click', function (){
        buildTransferStocksQuantityOnlyModal(stock.get('id'));
    });
    stock_mover.appendTo(quantity);
  }
  var lock = $('<td class="stock-lock"></td>');
  makeLockHandler(lock, stock);
  tr.append(legend);
  tr.append(name);
  tr.append(rest_label);
  tr.append(quantity);
  tr.append(lock);
  return tr;
}

function buildStockRowForStockType(stock) {
  var tr = $('<tr></tr>');
  var legend = $('<td class="stock-legend"></td>');
  var name = $('<td class="stock-name"></td>');
  var stockType = stock.get('stockType');
  var stockHolder = stock.get('stockHolder');
  var style = stockHolder.get('style');
  if (stockType.id != "") {
    legend.text(style['text']);
    bind(makeEditable(name, stock), stockHolder, 'name');
  } else {
    name.text(stockHolder.get('name'));
  }
  var quantity = $('<td class="stock-quantity"></td>');
  if (stockType.get('isSeat') && !stockType.get('quantityOnly')) {
    makeAssignable(quantity, stock);
  } else {
    bind(makeEditable(quantity, stock, positiveInteger), stock, 'assigned');
  }
  var lock = $('<td class="stock-lock"></td>');
  makeLockHandler(lock, stock);
  tr.append(legend);
  tr.append(name);
  tr.append(quantity);
  tr.append(lock);
  return tr;
}

function buildStockTypeHolderTables(venue) {
  var retval = $('<div></div>');
  venue.stockTypes.each(function (stockType) {
    var keyedStocks = stockType.keyedStocks();
    if (!keyedStocks)
      return;
    var swatch = buildColorButton(stockType, 'style').addClass('swatch');
    var head = $('<h5 class="ui-header" style="float: left;"></h5>').text(' ' + stockType.get('name'));
    var lock_group = $('<a class="transfer btn btn-mini" href="javascript:lockStocksByStockType(' + stockType.id + ');"></a>');
    makeMultiStocksByStockTypeLockHandler(lock_group, stockType.id);
    var rest = $('<span class="rest label"></span>');
    function refresh() {
      rest.text('残席: ' + stockType.get('available') + '席');
    }
    stockType.on('change:available', refresh);
    refresh();
    stockType.recalculateQuantity();
    var div = $('<div></div>').css('display', 'none');
    var table = $('<table class="table table-bordered"></table>');
    var tbody = $('<tbody></tbody>').appendTo(table);

    venue.stockHolders.each(function (stockHolder) {
      var stock = keyedStocks && keyedStocks[stockHolder.id];
      if (!stock)
        return;
      var row = buildStockRowForStockType(stock);
      tbody.append(row);
    });

    head.click(function () {
      if (div.css('display') == 'block')
        div.css('display', 'none');
      else
        div.css('display', 'block');
    });
    head.prepend(swatch);
    table.appendTo(div);

    retval.append(head);
    retval.append(lock_group);
    retval.append(rest);
    retval.append('<div style="clear: both;"></div>');
    retval.append(div);
  });
  return retval;
}

function buildStockHolderTypeTables(venue) {
  var retval = $('<div></div>');
  venue.stockHolders.each(function (stockHolder) {
    var keyedStocks = stockHolder.keyedStocks();
    if (!keyedStocks)
      return;
    var style = stockHolder.get('style');
    var swatch = $('<span class="swatch"></span>').css('color', style.text_color).text(style.text||'　');
    var head = $('<h5 class="ui-header" style="float: left;"></h5>').text(' ' + stockHolder.get('name'));
    var transfer = $('<a class="transfer btn btn-mini btn-inverse" href="javascript:buildTransferModal(' + stockHolder.id + ');">枠移動</a>');
    var lock_group = $('<a class="transfer btn btn-mini" href="javascript:lockStocksByStockHolder(' + stockHolder.id + ');"></a>');
    makeMultiStocksLockHandler(lock_group, stockHolder.id);

    //$('<i class="fa fa-lock" style="color: white;"></i>').appendTo(lock_group);
    var rest = $('<span class="rest label"></span>');
    function refresh() {
      rest.text('残席: ' + stockHolder.get('available') + '席');
    }
    stockHolder.on('change:available', refresh);
    refresh();
    stockHolder.recalculateQuantity();
    var div = $('<div></div>').css('display', 'none');
    var table = $('<table class="table table-bordered"></table>');
    var tbody = $('<tbody></tbody>').appendTo(table);
    venue.stockTypes.each(function (stockType) {
      var stock = keyedStocks && keyedStocks[stockType.id];
      if (!stock)
        return;
      var row = buildStockRow(stock);
      tbody.append(row);
    });
    head.click(function () {
      if (div.css('display') == 'block')
        div.css('display', 'none');
      else
        div.css('display', 'block');
    });
    head.prepend(swatch);
    table.appendTo(div);

    retval.append(head);
    retval.append(lock_group);
    retval.append(transfer);
    retval.append(rest);
    retval.append('<div style="clear: both;"></div>');
    retval.append(div);
  });
  return retval;
}

function lockStocksByStockHolder(id)
{
    if (typeof id === "undefined") { id = ""; }
    var venue = venueEditorRoot.venueeditor('model');
    var mapper = venue.perStockHolderStockMap;
    var stocks = mapper[id];

    var now_status = get_now_status(stocks);
    var next_status = StockGroupLockStatus.get_next_status(now_status);
    var lock_status = StockGroupLockStatus.get_stock_lock_status(next_status);
    for(key in stocks){
        var stock = stocks[key];
        StockLockStatus.set(stock, lock_status);
    }
}

function lockStocksByStockType(id)
{
    if (typeof id === "undefined") { id = ""; }
    var venue = venueEditorRoot.venueeditor('model');
    var mapper = venue.perStockTypeStockMap;

    var lock_count = 0;
    var unlock_count = 0;

    stocks = mapper[id];
    var now_status = get_now_status(stocks);
    var next_status = StockGroupLockStatus.get_next_status(now_status);
    var lock_status = StockGroupLockStatus.get_stock_lock_status(next_status);
    for(key in stocks){
        var stock = stocks[key];
        StockLockStatus.set(stock, lock_status);
    }
}





function buildSeatDetailRow(seat) {
  var tr = $('<tr></tr>');
  var count = $('span.selection-count');
  var checkbox = $('<input type="checkbox" checked="checked" />').attr('name', seat.get('id')).click(function () {
    if (this.checked)
      seat.set('selected', true);
    else
      seat.set('selected', false);
    count.text(parseInt(count.text())+(this.checked ? 1 : -1));
  });
  var checkbox_td = $('<td></td>').append(checkbox);
  var seat_id = $('<td></td>').text(seat.get('id'));
  var name = $('<td></td>').text(seat.get('name'));
  var stock_type = $('<td></td>').text(seat.get('stock').get('stockType').get('name'));
  var stock_holder = $('<td></td>').text(seat.get('stock').get('stockHolder').get('name'));
  tr.append(checkbox_td);
  tr.append(seat_id);
  tr.append(name);
  tr.append(stock_type);
  tr.append(stock_holder);
  return tr;
}

function buildSeatDetailTable(selection) {
  var table = $('<table class="table table-condensed"></table>');
  var tbody = $('<tbody></tbody>').appendTo(table);
  var header = $('<th width="8%"></th width="15%"><th>ID</th><th width="30%">座席</th><th width="27%">席種</th><th width="20%">配券先</th>');
  tbody.append(header);
  if (selection.length) {
    selection.each(function (seat) {
      tbody.append(buildSeatDetailRow(seat));
    });
  }
  return table;
}

function buildTransferModal(id) {
  var id = id || "";
  var modal = $('#modal-transfer');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var current = $('<p>選択した枠：' +  + '</p>');
  var select = $('<p>移動先の枠：</p><select name="to"></select>');
  venue.stockHolders.each(function (stockHolder) {
    if (stockHolder.get('id') == id) {
      current = $('<p>選択した枠：' + stockHolder.get('name') + '</p><input name="from" type="hidden" value="' + stockHolder.get('id') + '" />');
    } else {
      select.append($("<option>").text(stockHolder.get('name')).attr("value", stockHolder.get('id')));
    }
  });
  body.empty().append(current).append(select);
  modal.show();
}

function transferStocks() {
  var errors = [];
  var modal = $('#modal-transfer');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var from_stock_holder = body.find('input[name="from"]').val();
  var to_stock_holder = body.find('select[name="to"] option:selected').val();

  for (var i in venue.perStockHolderStockMap[from_stock_holder]) {
    var from_stock = venue.perStockHolderStockMap[from_stock_holder][i];
    var to_stock = null;

    var assignable = from_stock.get('assignable');
    if(!assignable){
        errors.push(from_stock);
        continue;
    }

    var stock_type = from_stock.get('stockType');
    for (var j in venue.perStockTypeStockMap[stock_type.get('id')]) {
      to_stock = venue.perStockTypeStockMap[stock_type.get('id')][j];
      if (to_stock_holder == to_stock.get('stockHolder').get('id')) {
        break;
      }
    }

    if (!to_stock || to_stock.id == from_stock.id){
        errors.push(from_stock);
        continue;
    }
    if (stock_type.get('isSeat') && !stock_type.get('quantityOnly')) {
      if (venue.perStockSeatSet[from_stock.id]) {
        venue.perStockSeatSet[from_stock.id].each(function(seat){
          if (seat.get('selectable')) seat.set('stock', to_stock);
        })
      }
    } else {
      // XXX: この parseInt いらんでしょ...
      var unavailable = parseInt(from_stock.get('assigned')) - parseInt(from_stock.get('available'));
      to_stock.set('assigned', parseInt(to_stock.get('assigned')) + parseInt(from_stock.get('available')));
      from_stock.set('assigned', unavailable);
    }
  }
  modal.hide();
  buildCannotStockActionModal(errors, '枠移動ができなかった在庫がありました');
  setTimeout(update_tables, 1000);
}

function buildTransferStocksSelectedModal() {
  var id = id || "";
  var modal = $('#modal-transfer-selected');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var current = $('<p>選択した枠：' +  + '</p>');
  var select = $('<p>移動先の枠：</p><select name="to"></select>');
  venue.stockHolders.each(function (stockHolder) {
      select.append($("<option>").text(stockHolder.get('name')).attr("value", stockHolder.get('id')));
  });
  body.empty().append(select);
  modal.show();
}

function buildTransferStocksQuantityOnlyModal(id) {
  var id = id || "";
  var modal = $('#modal-transfer-quantity-only');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var select = $('<p>移動先の枠：</p><select name="to"></select>');
  var quantity = $('<p>移動する数：</p><input id="transfer-quantity-only-quantity" type="number" value="0" min="1"></input>');
  var stock_id = $('<input id="transfer-quantity-only-id" type="hidden" value="'+id+'"></input>');
  var msg = $('<p id="modal-transfer-quantity-only-message"></p>').css({'color': 'red'});
  venue.stockHolders.each(function (stockHolder) {
      select.append($("<option>").text(stockHolder.get('name')).attr("value", stockHolder.get('id')));
  });
  body.empty().append(select).append(quantity).append(stock_id).append(msg);
  modal.show();
}

function buildCannotSeatActionModal(seats, message){
    if (seats.length == 0){
        return; // no error
    }
    var modal = $('#modal-cannot-seat-action');
    var msg = modal.find('#cannot-seat-action-message');
    var body = modal.find('.modal-body');

    var table = $('<table><tr>'+
                  '<th>l0_id</th>'+
                  '<th>座席名</th>'+
                  '</tr></table>');

    $.each(seats, function(index, seat){
        var row = $('<tr>'+
                    '<td>'+seat.get('id')+'</td>' +
                    '<td>'+seat.get('name')+'</td>' +
                    '</tr>');
        table.append(row);
    });

    msg.text(message);
    body.empty();
    body.append(table);
    modal.show();
}

function buildCannotStockActionModal(stocks, message){
    if (stocks.length == 0){
        return; // no error
    }
    var modal = $('#modal-cannot-stock-action');
    var msg = modal.find('#cannot-stock-action-message');
    var body = modal.find('.modal-body');

    var table = $('<table><tr>'+
                  '<th>枠</th>'+
                  '<th>席種</th>'+
                  '</tr></table>');

    $.each(stocks, function(index, stock){
        var row = $('<tr>'+
                    '<td>'+stock.get('stockHolder').get('name')+'</td>' +
                    '<td>'+stock.get('stockType').get('name')+'</td>' +
                    '</tr>');
        table.append(row);
    });

    msg.text(message);
    body.empty();
    body.append(table);
    modal.show();
}

function buildCannotSeatConvertModal(errors, cannot_converts, data_error){
    var msg = '';
    var modal = $('#modal-cannot-seat-convert');
    var message = modal.find('#cannot-seat-action-message');
    var body = modal.find('.modal-body');
    body.empty();
    if (errors.length > 0){
        msg += '選択できなかった座席 ';
        var header = $('<h4>選択できなかった座席</h4>')
        var error_table = $('<table><tr>'+
                            '<th>l0_id</th>'+
                            '<th>座席名</th>'+
                            '</tr></table>');
        $.each(errors, function(index, seat){
            var row = $('<tr>'+
                        '<td>'+seat.get('id')+'</td>' +
                        '<td>'+seat.get('name')+'</td>' +
                        '</tr>');
            error_table.append(row);
        });
        body.append(header);
        body.append(error_table);
    }
    if (cannot_converts.length > 0){
        msg += '座席情報を変換できなかった座席 ';
        var header = $('<h4>座席情報を変換できなかった座席</h4>')
        var cannot_convert_table = $('<table><tr>'+
                                     '<th>外部座席ID</th>'+
                                     '</th></table>');
        $.each(cannot_converts, function(index, ex_l0_id){
            var row = $('<tr>'+
                        '<td>'+ex_l0_id+'</td>' +
                        '</tr>');
            cannot_convert_table.append(row);
        });
        body.append(header);
        body.append(cannot_convert_table);
    }
    if (data_error.length > 0){
        var header = $('<h4>不正データがあります</h4>')
        var data_error_table = $("<table><tr>"+
                                 "<td bgcolor='red'>不正な座席番号</td>"+
                                 "</tr></table>");
        $.each(data_error, function(index, ex_l0_id){
            var row = $("<tr>"+
                        "<td bgcolor='red'>"+ex_l0_id+"</td>" +
                        "</tr>");
            data_error_table.append(row);
        });
        body.append(header);
        body.append(data_error_table);
    }
    if (errors.length > 0 ||  cannot_converts.length > 0){
        msg += 'があります。';
        message.text(msg);
        modal.show();
    }
}

function transferStocksSelected() {
  var modal = $('#modal-transfer-selected');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var to_stock_holder_id = body.find('select[name="to"]').val();
  var stocks = venue.perStockHolderStockMap[to_stock_holder_id];
  var errors = [];
  venue.seats.each(function(seat){
      if (seat.get('selected')){
          var stock = seat.get('stock');
          var stock_type = stock.get('stockType');
          var stock_type_id = stock_type.get('id');

          if (stock_type_id){
              var stock = stocks[stock_type_id];
              if (stock){
                  seat.set('stock', stock);
                  if (seat.get('stock') == stock){
                      seat.set('selected', false);
                  }
              }else{
                  errors.push(seat);
              }
          }else{
              errors.push(seat);
          }
      }
  });
  modal.hide();
  buildCannotSeatActionModal(errors, '枠移動ができなかった座席がありました');
  setTimeout(update_tables, 1000);
}


function transferStocksQuantityOnly() {
  var modal = $('#modal-transfer-quantity-only');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var stock_id = body.find('input#transfer-quantity-only-id').attr('value');
  var quantity = +body.find('input#transfer-quantity-only-quantity').attr('value'); // cast integer or NaN
  var to_stock_holder_id = body.find('select[name="to"]').val();

  var src_stock = venue.stocks.get(stock_id);
  var stock_type_id = src_stock.get('stockType').get('id');

  var mapper = venue.perStockHolderStockMap;
  var dst_stock = null;
  var dst_stocks = mapper[to_stock_holder_id];

  $.each(dst_stocks, function (name){
      var buf_stock = dst_stocks[name];
      if (stock_type_id == buf_stock.get('stockType').get('id')){
          dst_stock = buf_stock;
      }
  });

  var msg = body.find('#modal-transfer-quantity-only-message');
  if(!dst_stock){
      msg.text("移動先の在庫がありません。");
  }else if(!src_stock.get('assignable') || !dst_stock.get('assignable')){
      msg.text("移動元、または移動先の在庫にロックがかかった状態です。(ロックを外してください)");
  }else if(src_stock.get('assigned') < quantity){
      msg.text("指定した数が大きすぎます。移動元の在庫の数より大きい数は指定できません。");
  }else if(isNaN(quantity) || 1 > quantity){
      msg.text("正の整数を指定してください。");
  }else{
      src_stock.set('assigned', src_stock.get('assigned')-quantity);
      dst_stock.set('assigned', dst_stock.get('assigned')+quantity);
      modal.hide();
      setTimeout(update_tables, 1000);
  }
}

function saveStocks() {
  var modal = $('#modal-result');
  modal.find('.modal-body .alert').remove();
  var label = $('a[name="save"]');
  label.text('保存中').attr('disabled', 'disabled');
  var venue = venueEditorRoot.venueeditor('model');
  $.ajax({
    type: 'post',
    url: "${request.route_path('stocks.allocate', performance_id=performance.id)}",
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    data: JSON.stringify(venue.toJSON()),
    success: function(result) {
      $('.content').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><h4 class="alert-heading">' + result.message + '</h4></div>');
      modal.modal('hide');
      label.text('保存する').removeAttr('disabled');
      venueEditorRoot.venueeditor('clearAll');
    },
    error: function(xhr, text) {
      var responseText = JSON.parse(xhr.responseText);
      var messages = responseText['message'] || xhr.statusText;
      var errors = '';
      if (typeof messages == 'string') {
        errors += '<li>' + messages + '</li>';
      } else {
        for (i in messages)
          errors += '<li>' + messages[i] + '</li>';
      }
      modal.find('#message').text("保存できませんでした").after('<div class="alert alert-error"><ul>' + errors + '</ul></div>');
      modal.modal('toggle');
      label.text('保存する').removeAttr('disabled');
    }
  });
}

function csv_seat_allocation() {
    var modal = $('#modal-csv-seat-allocation');
    modal.modal('show');
}

function update_tables(){
    var selection = venueEditorRoot.venueeditor('selection');
    update_selection_table(selection);
    /*$('span.selection-count').text(selection.length);*/
}

function select_seats_by_csv(){
    var fd;
    var modal = $("#modal-csv-seat-allocation");
    var $form = $("#csv-seat-allocation-form");
    var url = "${request.route_path('cooperation.get_seat_l0_ids', performance_id=performance.id)}"
    var venue = venueEditorRoot.venueeditor('model');
    var errors = [];
    var data_error = [];
    var cannot_converts = [];
    var msg = '';
    fd = new FormData($form[0]);
    modal.modal('hide');
    $.ajax(url, {
        type: "POST",
        processData: false,
        contentType: false,
        data: fd,
        dataType: "json",
        success: function(data){
            $.each(data.fail, function (ex_l0_id, value){
                cannot_converts.push(ex_l0_id);
            });

            for (var name in data.fail){
                data_error.push(data.fail[name]);
            }

            for (var name in data.success){
                var l0_id = data.success[name];
                venue.seats.each(function(seat){
                    if (seat.get('id') == l0_id){
                        seat.set('selected', true);
                        if (seat.get('selected') != true){
                            errors.push(seat);
                        }
                        return false;
                    }
                });
            }
            buildCannotSeatConvertModal(errors, cannot_converts, data_error);
        },
        error: function(xhr, text) {
            var responseText = JSON.parse(xhr.responseText);
            var messages = responseText['message'] || xhr.statusText;
            var errors = '';
            if (typeof messages == 'string') {
                errors += '<li>' + messages + '</li>';
            } else {
                for (i in messages)
                    errors += '<li>' + messages[i] + '</li>';
            }
            msg = modal.find('#message');
            msg.empty();
            msg.text("選択できませんでした").append('<div class="alert alert-error"><ul>' + errors + '</ul></div>');
            modal.modal('toggle');
        }
    });
    setTimeout(update_tables, 1000);
}

function update_selection_table(selection) {
  if (selection.length)
    $(".assignable").addClass("enabled");
  else
    $(".assignable").removeClass("enabled");

  var selection_set = venueEditorRoot.venueeditor('selection');
  if (selection.length == 1) {
    var tbody = $('#venue-editor-main-side-tab2').find('table tbody');
    // 単一選択なら選択状態を反映
    var tr = tbody.find('tr input[name="' + selection[0].get('id') + '"]');
    if (tr.length > 0) {
      if (selection[0].get('selected'))
        tr.attr('checked', 'checked');
      else
        tr.removeAttr('checked');
    } else {
      tbody.append(buildSeatDetailRow(selection[0]));
    }
  } else {
    // 複数選択ならテーブル再生成
    tab2.empty();
    tab2.append(buildSeatDetailTable(selection_set));
  }
  $('span.selection-count').text(selection_set.length);
};
</script>

<div id="modal-transfer" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="close btn-close">&times;</a>
    <h3>枠移動</h3>
  </div>

  <div class="modal-body">
    <p>選択した枠の座席をまとめて他の枠へ移動します。</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="btn secondary btn-close">閉じる</a>
    <a href="javascript:transferStocks();" class="btn danger">まとめて移動する</a>
  </div>
</div>

<div id="modal-transfer-selected" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="close btn-close">&times;</a>
    <h3>選択した座席を枠移動</h3>
  </div>

  <div class="modal-body">
    <p>選択した座席を枠移動します。</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-transfer-selected').hide();" class="btn secondary btn-close">閉じる</a>
    <a href="javascript:transferStocksSelected();" class="btn danger">移動</a>
  </div>
</div>


<div id="modal-transfer-quantity-only" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="close btn-close">&times;</a>
    <h3>数指定移動</h3>
  </div>

  <div class="modal-body">
    <p>指定した数を指定した枠の同一席種に移動します。</p>
  </div>
  <p id="modal-transfer-quantity-only-message"></p>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-transfer-quantity-only').hide();" class="btn secondary btn-close">閉じる</a>
    <a href="javascript:transferStocksQuantityOnly();" class="btn danger">移動</a>
  </div>
</div>


<div id="modal-report" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" class="close btn-close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>配券明細をダウンロードします。よろしいですか？</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-report').modal('hide');" class="btn secondary btn-close">キャンセル</a>
    <a href="" onclick="$('#modal-report').modal('hide');" class="btn danger modal-report-submit">ダウンロード</a>
  </div>
</div>

<div id="modal-download_seats" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>すべての座席情報(CSV)をダウンロードします。よろしいですか？<br>
      <div class="alert alert-error">
      この機能は時間がかかるケースがあります。<br>
      席種／配券作業の確認を行いたい場合のみ利用してください。
      </div>
    </p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-download_seats').modal('hide');" class="btn secondary">キャンセル</a>
    <a href="${request.route_path('seats.download', venue_id=performance.venue.id)}" onclick="$('#modal-download_seats').modal('hide');" class="btn danger">ダウンロード</a>
  </div>
</div>

<div id="modal-result" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>保存</h3>
  </div>

  <div class="modal-body">
    <p id="message"></p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-result').modal('hide');" class="btn secondary">閉じる</a>
  </div>
</div>

<div id="modal-csv-seat-allocation" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>CSV座席選択</h3>
  </div>
  <form id="csv-seat-allocation-form" method="POST" enctype="multipart/form-data"
        action="${request.route_path('cooperation.get_seat_l0_ids', performance_id=performance.id)}">
  <div class="modal-body">
    <p id="message">
      CSVを使って座席を選択します。
    </p>

    CSVファイル
    <div><input type="file" name="csvfile"></div>

    CSVのスタイル
    <div>
    <select class="selectpicker" name="format">
      <option value="altair" selected="true">Altair</option>
      <option value="gettii" >Gettii</option>
    </select>

    <p>(会場図が完全に読み込まれた状態でない場合、正しく座席選択できないことがあります)
    </p>
    </div>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-csv-seat-allocation').modal('hide');" class="btn secondary">閉じる</a>
    <a href="javascript:void(0);" onclick="select_seats_by_csv();" class="btn secondary">選択</a>
  </div>
  </form>
</div>

<div id="modal-cannot-seat-action" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3 id="cannot-seat-action-message">座席の移動ができませんでした</h3>
  </div>
  <div class="modal-body">
    <table >
    <tr>
    <th>id</th>
    <th>l0_id</th>
    <th>座席名</th>
    <th>座種</th>
    <th>枠</th>
    </tr>
    %for ii in range(100):
    <tr>
    <td>テスト</td>
    </tr>
    %endfor
    </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-cannot-seat-action').hide();" class="btn secondary">閉じる</a>
  </div>
  </form>
</div>

<div id="modal-cannot-seat-convert" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3 id="cannot-seat-action-message">座席の移動ができませんでした</h3>
  </div>
  <div class="modal-body">
    <table >
    <tr>
    <th>id</th>
    <th>l0_id</th>
    <th>座席名</th>
    <th>座種</th>
    <th>枠</th>
    </tr>
    %for ii in range(100):
    <tr>
    <td>テスト</td>
    </tr>
    %endfor
    </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-cannot-seat-convert').hide();" class="btn secondary">閉じる</a>
  </div>
  </form>
</div>

<div id="modal-cannot-stock-action" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3 id="cannot-stock-action-message">在庫の操作に失敗しました</h3>
  </div>
  <div class="modal-body">
    <table >
    <tr>
    <th>座種</th>
    <th>枠</th>
    </tr>
    </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-cannot-stock-action').hide();" class="btn secondary">閉じる</a>
  </div>
  </form>
</div>
