<%page args="performance" />
<%namespace file="./_venue_view.html" name="vv" />
<%namespace file="/common/helpers.html" name="ch" />

<style type="text/css">
.assignable {
  text-decoration: none;
  color: #000;
  border-radius: 4px 4px;
  border: 1px dashed #444;
  margin: 0 0;
  padding: 2px 2px;
}

.assignable:hover {
  text-decoration: none;
  color: #000;
}

.assignable.enabled {
  border: 1px solid #ccc;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  font-weight: bold;
}

.assignable.enabled:hover {
  background: #888;
  color: #fff;
  text-decoration: none;
}

.assignable.enabled:active {
  box-shadow: inset 1px 1px 3px #ccc;
}

span.editable {
  margin: 0 0;
}

.swatch {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background-color: #FFFFFF;
  text-align: center;
}

.transfer {
  float: right;
  margin: 8px 8px 8px 5px;
}

.rest {
  float: right;
  margin: 8px 0px 8px 0px;
}

#venue-editor .venue-editor-main .venue-editor-main-root {
  width: 65%;
}

#venue-editor .venue-editor-main .venue-editor-main-side {
  width: 35%;
}
</style>

<script type="text/javascript">
  $(".collapse").collapse();
</script>

<%include file="./_detail_table.html" args="expanded=false" />
<div class="row-fluid">
  <%vv:venueeditor data_source="${data_source}">
    <%def name="toolbar_extra()">
      <div style="float:right">
	<input type="button" class="btn venue-editor-main-side-toggle" value="配席" />
	<a name="save" href="javascript:saveStocks();" class="btn btn-primary">保存する</a>
      </div>
    </%def>
    <%def name="venue_editor_side_extra()">
      <ul class="nav nav-tabs">
	<li class="active"><a href="#venue-editor-main-side-tab1" data-toggle="tab">配席</a></li>
	<li><a href="#venue-editor-main-side-tab2" data-toggle="tab">選択座席<span class="selection-count badge"></span></a></li>
      </ul>
      <div class="tab-content" style="overflow: visible;">
	<div class="tab-pane active" id="venue-editor-main-side-tab1"></div>
	<div class="tab-pane" id="venue-editor-main-side-tab2"></div>
      </div>
    </%def>
    <%def name="post()">
<script type="text/javascript">

function deepClone(o) {
  if (o !== null && typeof o == 'object' && o.constructor == Object) {
    var retval = {};
    for (var k in o)
      retval[k] = deepClone(o[k]);
    return retval;
  } else {
    return _.clone(o);
  }
}

function gradientStyle(name, colors) {
  var buf = [], n = colors.length;
  buf.push(name, ':linear-gradient(top');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',', color[1], (color[0] * 100).toFixed(0) + '%');
  }
  buf.push(');');
  buf.push(name, ':-moz-linear-gradient(top');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',', color[1], (color[0] * 100).toFixed(0) + '%');
  }
  buf.push(');');
  buf.push(name, ':-o-linear-gradient(top');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',', color[1], (color[0] * 100).toFixed(0) + '%');
  }
  buf.push(');');
  buf.push(name, ':-webkit-gradient(linear,left top,left bottom');
  for (var i = 0; i < n; i++) {
    var color = colors[i];
    buf.push(',color-stop(',color[0], ',', color[1], ')');
  }
  buf.push(');');
  return buf.join(' ');
}

function buildColorButton(model, attr) {
  var button = $('<button></button>');
  function refresh() {
    var style = model.get(attr);
    if (style && style.fill)
      button.attr('style', gradientStyle('background', [[0, '#fff'], [.4, style.fill.color]]));
  }
  model.on('change:style', refresh);
  if (model.id != "") {
    button.click(function () {
      if (!$(this).data('colorpicker')) {
        $(this).data('colorpicker', true);
        $(this).decentcolorpicker({
          value: function () {
            var style = model.get(attr);
            return style && style.fill && style.fill.color;
          },
          select: function (value) {
            var style = deepClone(model.get(attr));
            if (!style.fill)
              style.fill = {};
            style.fill.color = value.hash;
            model.set(attr, style);
          }
        });
        $(this).click();
      }
    });
  }
  refresh();
  return button;
}

function bind(bindable, model, attr) {
  function onchange() {
    bindable.set(this.get(attr));
  }
  model.on('change:' + attr, onchange);
  bindable.bindStock('change:assignable', onchange);
  bindable.bindSave(function (value) {
    return model.set(attr, value, {
      error: function (msg) {
        bindable.element.popover(msg);
      }
    });
  });
  onchange.call(model);
}

function makeLockHandler(n, stock) {
  var lockable = $('<i class="icon-lock"></i>').appendTo(n);
  var venue = venueEditorRoot.venueeditor('model');
  function onClick() {
    var status = stock.get('assignable') ? false : true;
    stock.set('assignable', status);
    if (venue.perStockSeatSet[stock.id]) {
      venue.perStockSeatSet[stock.id].each(function(seat){
        if (!seat.get('sold')) seat.set('selectable', status);
      })
    }
    return false;
  }
  lockable.bind('click', onClick);
  function refresh() {
    if (stock.get('assignable')) {
      lockable.addClass('icon-white');
    } else {
      lockable.removeClass('icon-white');
    }
  }
  stock.on('change:assignable', refresh);
  refresh();
}

function makeAssignable(n, stock) {
  var assignable = $('<span></span>').appendTo(n);
  function onClick() {
    var selection = venueEditorRoot.venueeditor('selection');
    selection.each(function (seat) {
      seat.set('stock', stock);
    });
    venueEditorRoot.venueeditor('clearSelection');
    return false;
  }
  function refresh() {
    assignable.text(stock.get('assigned'));
    if (stock.get('assignable')) {
      assignable.bind('click', onClick).addClass('assignable');
    } else {
      assignable.unbind().removeClass('assignable');
    }
  }
  stock.on('change:assigned', refresh);
  stock.on('change:assignable', refresh);
  refresh();
}

var makeEditable = (function () {
  var editing = null;
  var prevDisplayStyleValue = null;

  return function makeEditable(n, stock) {
    var editable = $('<span></span>').appendTo(n);
    var editableIcon = $('<i class="icon-pencil" style="margin-left: 4px;"></i>').appendTo(n);
    var save = function (value) { set(value); };
    var value = '';

    function beginEdit() {
      if (editing)
        return;
      editing = $('<input type="text" class="editable" style="height:1em;margin:0 0; position: absolute;" />');
      var pos = editable.position();
      editing.val(value);
      prevDisplayStyleValue = editable.css('display');
      editable.css('display', 'none');
      editableIcon.css('display', 'none');
      editing.insertAfter(editable);
      editing.css({
       width: (n.innerWidth() - 10) + "px",
       left: '0px',
       top: (editable.parent().innerHeight() - editing.outerHeight()) / 2 + 'px'
      });
      editing.focus();
      editing.blur(function (e) {
        var _value = endEdit();
        save && save(_value);
        return false;
      });
      editing.keydown(function (e) {
        if (e.which == 13) {
          var _value = endEdit();
          save && save(_value);
          return false;
        }
        return true;
      });
    }

    function endEdit() {
      var value = editing.val();
      editable.css('display', prevDisplayStyleValue);
      editableIcon.css('display', 'inline-block');
      editing.remove();
      editing = null;
      return value;
    }

    function cancel() {
      endEdit();
    }

    function save() {
      save();
    }

    function onClick() {
      if (editing)
        cancel();
      beginEdit();
    }

    function set(_value) {
      if (editing)
        editing.val(_value)
      editable.text(_value);
      value = _value;

      if (stock.get('assignable')) {
        editable.bind('click', onClick).addClass('editable');
        editableIcon.css('display', 'inline-block');
      } else {
        editable.unbind().removeClass('editable');
        editableIcon.css('display', 'none');
      }
    }

    return {
      element: editable,
      set: set,
      get: function () {
        return value;
      },
      bindSave: function (_save) {
        save = _save;
      },
      bindStock: function (event, listener) {
        stock.on(event, listener);
      }
    }
  }
})();

function buildStockRow(stock) {
  var tr = $('<tr></tr>');
  var legend = $('<td class="stock-legend"></td>');
  var name = $('<td class="stock-name"></td>');
  var stockType = stock.get('stockType');
  if (stockType.id != "") {
    buildColorButton(stockType, 'style').appendTo(legend);
    bind(makeEditable(name, stock), stockType, 'name');
  } else {
    name.text(stockType.get('name'));
  }
  var quantity = $('<td class="stock-quantity"></td>');
  if (stockType.get('isSeat') && !stockType.get('quantityOnly')) {
    makeAssignable(quantity, stock);
  } else {
    bind(makeEditable(quantity, stock), stock, 'assigned');
  }
  var lock = $('<td class="stock-lock"></td>');
  makeLockHandler(lock, stock);
  tr.append(legend);
  tr.append(name);
  tr.append(quantity);
  tr.append(lock);
  return tr;
}

function buildStockHolderTypeTables(venue) {
  var retval = $('<div></div>');
  venue.stockHolders.each(function (stockHolder) {
    var keyedStocks = stockHolder.keyedStocks();
    var style = stockHolder.get('style');
    var swatch = $('<span class="swatch"></span>').css('text-color', style.text_color).text(style.text||'　');
    var head = $('<h5 class="ui-header" style="float: left;"></h5>').text(' ' + stockHolder.get('name'));
    var transfer = $('<a class="transfer btn btn-mini btn-inverse" href="javascript:buildTransferModal(' + stockHolder.id + ');">枠移動</a>');
    var rest = $('<span class="rest label hide"></span>');
    stockHolder.on('change:available', function () {
      rest.removeClass('hide');
      rest.text('残席: ' + stockHolder.get('available') + '席');
    });
    stockHolder.recalculateQuantity();
    var div = $('<div></div>').css('display', 'none');
    var table = $('<table class="table table-bordered"></table>');
    var tbody = $('<tbody></tbody>').appendTo(table);
    venue.stockTypes.each(function (stockType) {
      var stock = keyedStocks && keyedStocks[stockType.id];
      if (!stock)
        return;
      var row = buildStockRow(stock);
      tbody.append(row);
    });
    head.click(function () {
      if (div.css('display') == 'block')
        div.css('display', 'none');
      else
        div.css('display', 'block');
    });
    head.prepend(swatch);
    table.appendTo(div);

    retval.append(head);
    retval.append(transfer);
    retval.append(rest);
    retval.append('<div style="clear: both;"></div>');
    retval.append(div);
  });
  return retval;
}

function buildSeatDetailRow(seat) {
  var tr = $('<tr></tr>');
  var count = $('span.selection-count');
  var checkbox = $('<input type="checkbox" checked="checked" />').attr('name', seat.get('id')).click(function () {
    if (this.checked)
      seat.set('selected', true);
    else
      seat.set('selected', false);
    count.text(parseInt(count.text())+(this.checked ? 1 : -1));
  });
  var checkbox_td = $('<td></td>').append(checkbox);
  var seat_id = $('<td></td>').text(seat.get('id'));
  var name = $('<td></td>').text(seat.get('name'));
  var stock_type = $('<td></td>').text(seat.get('stock').get('stockType').get('name'));
  var stock_holder = $('<td></td>').text(seat.get('stock').get('stockHolder').get('name'));
  tr.append(checkbox_td);
  tr.append(seat_id);
  tr.append(name);
  tr.append(stock_type);
  tr.append(stock_holder);
  return tr;
}

function buildSeatDetailTable(selection) {
  var table = $('<table class="table table-condensed"></table>');
  var tbody = $('<tbody></tbody>').appendTo(table);
  var header = $('<th width="8%"></th width="15%"><th>ID</th><th width="30%">座席</th><th width="27%">席種</th><th width="20%">配券先</th>');
  tbody.append(header);
  if (selection.length) {
    selection.each(function (seat) {
      tbody.append(buildSeatDetailRow(seat));
    });
  }
  return table;
}

function buildTransferModal(id) {
  var id = id || "";
  var modal = $('#modal-transfer');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var current = $('<p>選択した枠：' +  + '</p>');
  var select = $('<p>移動先の枠：</p><select name="to"></select>');
  venue.stockHolders.each(function (stockHolder) {
    if (stockHolder.get('id') == id) {
      current = $('<p>選択した枠：' + stockHolder.get('name') + '</p><input name="from" type="hidden" value="' + stockHolder.get('id') + '" />');
    } else {
      select.append($("<option>").text(stockHolder.get('name')).attr("value", stockHolder.get('id')));
    }
  });
  body.empty().append(current).append(select);
  modal.show();
}

function transferStocks() {
  var modal = $('#modal-transfer');
  var body = modal.find('.modal-body');
  var venue = venueEditorRoot.venueeditor('model');
  var from_stock_holder = body.find('input[name="from"]').val();
  var to_stock_holder = body.find('select[name="to"] option:selected').val();

  for (var i in venue.perStockHolderStockMap[from_stock_holder]) {
    var from_stock = venue.perStockHolderStockMap[from_stock_holder][i];
    var to_stock = null;

    var stock_type = from_stock.get('stockType');
    for (var j in venue.perStockTypeStockMap[stock_type.get('id')]) {
      to_stock = venue.perStockTypeStockMap[stock_type.get('id')][j];
      if (to_stock_holder == to_stock.get('stockHolder').get('id')) {
        break;
      }
    }

    if (!to_stock || to_stock.id == from_stock.id) continue;
    if (stock_type.get('isSeat') && !stock_type.get('quantityOnly')) {
      if (venue.perStockSeatSet[from_stock.id]) {
        venue.perStockSeatSet[from_stock.id].each(function(seat){
          if (seat.get('selectable')) seat.set('stock', to_stock);
        })
      }
    } else {
      var unavailable = parseInt(from_stock.get('assigned')) - parseInt(from_stock.get('available'));
      to_stock.set('assigned', parseInt(to_stock.get('assigned')) + parseInt(from_stock.get('available')));
      from_stock.set('assigned', unavailable);
    }
  }
  modal.hide();
}

function saveStocks() {
  var modal = $('#modal-result');
  modal.find('.modal-body .alert').remove();
  var label = $('a[name="save"]');
  label.text('保存中').attr('disabled', 'disabled');
  var venue = venueEditorRoot.venueeditor('model');
  $.ajax({
    type: 'post',
    url: "${request.route_path('stocks.allocate', performance_id=performance.id)}",
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    data: JSON.stringify(venue.toJSON()),
    success: function(result) {
      $('.content').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><h4 class="alert-heading">' + result.message + '</h4></div>');
      modal.modal('hide');
      label.text('保存する').removeAttr('disabled');
      venueEditorRoot.venueeditor('clearAll');
    },
    error: function(xhr, text) {
      var responseText = JSON.parse(xhr.responseText);
      var messages = responseText['message'] || xhr.statusText;
      var errors = '';
      if (typeof messages == 'string') {
        errors += '<li>' + messages + '</li>';
      } else {
        for (i in messages)
          errors += '<li>' + messages[i] + '</li>';
      }
      modal.find('#message').text("保存できませんでした").after('<div class="alert alert-error"><ul>' + errors + '</ul></div>');
      modal.modal('toggle');
      label.text('保存する').removeAttr('disabled');
    }
  });
}

var tab1 = venueEditorSide.find("#venue-editor-main-side-tab1");
var tab2 = venueEditorSide.find("#venue-editor-main-side-tab2");

callbacks.load = function (viewer) {
  tab1.empty();
  tab1.append(buildStockHolderTypeTables(viewer.venue));
  tab2.empty();
  tab2.append(buildSeatDetailTable(venueEditorRoot.venueeditor('selection')));
};

callbacks.select = function (viewer, selection) {
  if (selection.length)
    $(".assignable").addClass("enabled");
  else
    $(".assignable").removeClass("enabled");

  var selection_set = venueEditorRoot.venueeditor('selection');
  if (selection.length == 1) {
    var tbody = $('#venue-editor-main-side-tab2').find('table tbody');
    // 単一選択なら選択状態を反映
    var tr = tbody.find('tr input[name="' + selection[0].get('id') + '"]');
    if (tr.length > 0) {
      if (selection[0].get('selected'))
        tr.attr('checked', 'checked');
      else
        tr.removeAttr('checked');
    } else {
      tbody.append(buildSeatDetailRow(selection[0]));
    }
  } else {
    // 複数選択ならテーブル再生成
    tab2.empty();
    tab2.append(buildSeatDetailTable(selection_set));
  }
  $('span.selection-count').text(selection_set.length);
};
</script>
    </%def>
  </%vv:venueeditor>
</div>

<div>
  <%include file="_legend_seat_status.html" />
</div>

<div style="float: right;">
  <a class="btn btn-mini btn-inverse" data-toggle="modal" href="#modal-download_seats">
    <i class="icon-download icon-white"></i> すべての座席をCSV出力
  </a>
</div>

<div id="modal-transfer" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="close btn-close">&times;</a>
    <h3>枠移動</h3>
  </div>

  <div class="modal-body">
    <p>選択した枠の座席をまとめて他の枠へ移動します。</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="btn secondary btn-close">閉じる</a>
    <a href="javascript:transferStocks();" class="btn danger">まとめて移動する</a>
  </div>
</div>

<div id="modal-report" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" class="close btn-close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>配券明細をダウンロードします。よろしいですか？</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-report').modal('hide');" class="btn secondary btn-close">キャンセル</a>
    <a href="" onclick="$('#modal-report').modal('hide');" class="btn danger modal-report-submit">ダウンロード</a>
  </div>
</div>

<div id="modal-download_seats" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>すべての座席情報(CSV)をダウンロードします。よろしいですか？<br>
      <div class="alert alert-error">
      この機能は時間がかかるケースがあります。<br>
      席種／配券作業の確認を行いたい場合のみ利用してください。
      </div>
    </p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-download_seats').modal('hide');" class="btn secondary">キャンセル</a>
    <a href="${request.route_path('seats.download', venue_id=performance.venue.id)}" onclick="$('#modal-download_seats').modal('hide');" class="btn danger">ダウンロード</a>
  </div>
</div>

<div id="modal-result" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>保存</h3>
  </div>

  <div class="modal-body">
    <p id="message"></p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-result').modal('hide');" class="btn secondary">閉じる</a>
  </div>
</div>
