<%page args="sales_segments=None" />

<div class="row-fluid">
  <div class="span12">
    <%include file="./_detail_table.html" args="expanded=True" />
    <input type="hidden" id="performance_id" value="${performance.id}"></input>
    <div>
      <h3 class="pull-left" style="margin-right: 10px">販売区分</h3>
      <div class="pull-left" style="margin-top:10px">
        <%include file="/sales_segments/_action_button.html" />
      </div>
    </div>
    <form class="clearfix">
    <%include file="/sales_segments/_list.html" args="sales_segments=sales_segments" />
    </form>
    <div id="sales_segments-form">
      <%include file="/sales_segments/_modal.html" args="modal_id='modal-sales_segment'" />
    </div>
  </div>
</div>

