<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<script type="text/javascript">
  $(function() {
    $('form').disableOnSubmit();
    $('input[name^="start_on"]').change(function(){
      if ($('#id').val() || $('#code').val().length == 12) return;
      var month = $('input[name="start_on.month"]').val();
      var day = $('input[name="start_on.day"]').val();
      if (month && day) {
        $('#code').val("${event.code}" + ("0" + month).slice(-2) + ("0" + day).slice(-2) + 'Z');
      }
    });
  });
</script>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'イベント', event.title, u'パフォーマンス', route_name],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=event.id),
        request.route_path('performances.index', event_id=event.id),
      ]
  )}
</%block>

<div class="page-header">
  <h1>パフォーマンス${route_name}</h1>
</div>

<div class="well">
  <form class="form-horizontal" action="${route_path}" method="POST">
    <fieldset>
      ${ch.form_item(form.id)}
      ${ch.form_item(form.original_id)}
      ${ch.form_item(form.name, class_='span8', maxlength=255)}
      ${ch.form_item(form.open_on)}
      ${ch.form_item(form.start_on)}
      ${ch.form_item(form.end_on)}
      ${ch.form_item(form.code, class_='span3', maxlength=12, counter=True)}
      ${ch.form_item(form.redirect_url_pc)}
      ${ch.form_item(form.redirect_url_mobile)}
      ${ch.form_item(form.venue_id, class_='span6')}
      ${ch.form_item(form.abbreviated_title)}
      ${ch.form_item(form.subtitle)}
      ${ch.form_item(form.display_order)}
      ${ch.form_item(form.order_limit)}
      ${ch.form_item(form.max_quantity_per_user)}
      ${ch.form_item(form.note)}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="${route_name}">
    </div>
  </form>
</div>

<script src="${request.static_url('altair.app.ticketing:static/js/jquery.chosen.js')}"></script>
<link rel="stylesheet" type="text/css" href="${request.static_url('altair.app.ticketing:static/css/chosen.css')}" />
<script>
$('select#venue_id').chosen({single_only: true, no_results_text: '該当無し'});
</script>
