<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'イベント', event.title, u'公演'],
      urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
  )}
</%block>

<div class="page-header">
  <h1>公演</h1>
</div>
<%include file="/performances/_list.html" args="form=form, performances=performances, warnings=famiport_reflect_warnings" />
<%include file="/performances/_action_button.html" args="event=event" />
