<div id="modal-transfer" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="close btn-close">&times;</a>
    <h3>枠移動</h3>
  </div>

  <div class="modal-body">
    <p>選択した枠の座席をまとめて他の枠へ移動します。</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="btn secondary btn-close">閉じる</a>
    <a href="javascript:transferStocks();" class="btn danger">まとめて移動する</a>
  </div>
</div>

<div id="modal-transfer-selected" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" onclick="$('#modal-transfer').hide();" class="close btn-close">&times;</a>
    <h3>選択した座席を枠移動</h3>
  </div>

  <div class="modal-body">
    <p>選択した座席を枠移動します。</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-transfer-selected').hide();" class="btn secondary btn-close">閉じる</a>
    <a href="javascript:transferStocksSelected();" class="btn danger">移動</a>
  </div>
</div>

<div id="modal-report" class="modal hide">
  <div class="modal-header">
    <a href="javascript:void(0);" class="close btn-close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>配券明細をダウンロードします。よろしいですか？</p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-report').modal('hide');" class="btn secondary btn-close">キャンセル</a>
    <a href="" onclick="$('#modal-report').modal('hide');" class="btn danger modal-report-submit">ダウンロード</a>
  </div>
</div>

<div id="modal-download_seats" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>確認</h3>
  </div>

  <div class="modal-body">
    <p>すべての座席情報(CSV)をダウンロードします。よろしいですか？<br>
      <div class="alert alert-error">
      この機能は時間がかかるケースがあります。<br>
      席種／配券作業の確認を行いたい場合のみ利用してください。
      </div>
    </p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-download_seats').modal('hide');" class="btn secondary">キャンセル</a>
    <a href="${request.route_path('seats.download', venue_id=performance.venue.id)}" onclick="$('#modal-download_seats').modal('hide');" class="btn danger">ダウンロード</a>
  </div>
</div>

<div id="modal-result" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>保存</h3>
  </div>

  <div class="modal-body">
    <p id="message"></p>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-result').modal('hide');" class="btn secondary">閉じる</a>
  </div>
</div>

<div id="modal-csv-seat-allocation" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>CSV座席選択</h3>
  </div>
  <form id="csv-seat-allocation-form" method="POST" enctype="multipart/form-data"
        action="${request.route_path('cooperation.get_seat_l0_ids', performance_id=performance.id)}">
  <div class="modal-body">
    <p id="message">
      CSVを使って座席を選択します。
    </p>

    CSVファイル
    <div><input type="file" name="csvfile"></div>

    CSVのスタイル
    <div>
    <select class="selectpicker" name="format">
      <option value="altair" selected="true">Altair</option>
      <option value="gettii" >Gettii</option>
    </select>

    <p>(会場図が完全に読み込まれた状態でない場合、正しく座席選択できないことがあります)
    </p>
    </div>
  </div>

  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-csv-seat-allocation').modal('hide');" class="btn secondary">閉じる</a>
    <a href="javascript:void(0);" onclick="select_seats_by_csv();" class="btn secondary">選択</a>
  </div>
  </form>
</div>

<div id="modal-cannot-seat-action" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3 id="cannot-seat-action-message">座席の移動ができませんでした</h3>
  </div>
  <div class="modal-body">
    <table >
    <tr>
    <th>id</th>
    <th>l0_id</th>
    <th>座席名</th>
    <th>座種</th>
    <th>枠</th>
    </tr>
    %for ii in range(100):
    <tr>
    <td>テスト</td>
    </tr>
    %endfor
    </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-cannot-seat-action').hide();" class="btn secondary">閉じる</a>
  </div>
  </form>
</div>

<div id="modal-cannot-seat-convert" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3 id="cannot-seat-action-message">座席の移動ができませんでした</h3>
  </div>
  <div class="modal-body">
    <table >
    <tr>
    <th>id</th>
    <th>l0_id</th>
    <th>座席名</th>
    <th>座種</th>
    <th>枠</th>
    </tr>
    %for ii in range(100):
    <tr>
    <td>テスト</td>
    </tr>
    %endfor
    </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-cannot-seat-convert').hide();" class="btn secondary">閉じる</a>
  </div>
  </form>
</div>

<div id="modal-cannot-stock-action" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3 id="cannot-stock-action-message">在庫の操作に失敗しました</h3>
  </div>
  <div class="modal-body">
    <table >
    <tr>
    <th>座種</th>
    <th>枠</th>
    </tr>
    </table>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-cannot-stock-action').hide();" class="btn secondary">閉じる</a>
  </div>
  </form>
</div>
