<%inherit file="./base.html"/>
<%namespace file="altair.app.ticketing.cart:templates/__commons__/tags_mobile.html" name="mobile" />

<%mobile:header>チケット購入</%mobile:header>

<div>
連席で座席を確保できません
<div>
<p>
連席でお席をご用意することができません。<br />
それでもお席を確保したい場合は「次へ」を、改めて席を選び直す場合は「戻る」をお選びください。
</p>

<form action="${request.current_route_path()}" method="POST">
  % for k, v in params.items():
  <input type="hidden" name="${k}" value="${v}" />
  % endfor
  <input type="hidden" name="separate_seats" value="true" />
  ${form.csrf_token()}
  <div style="text-align:center;">
    <input type="submit" value="次へ" />
  </div>
</form>
<%mobile:form_get action="${request.current_route_path()}">
  <div style="text-align:center;">
    <input type="submit" value="戻る" />
  </div>
</%mobile:form_get>
