<form>
  <div class="ui-toolbar">
    <a href="${request.route_path('operator_roles.new')}" class="btn">新規ロール</a>
    <a href="${request.route_path('operator_roles.edit_multiple')}" class="btn">まとめて編集</a>
    <a href="#" class="btn">まとめて削除</a>
  </div>
  <table class="table fullwidth  table-striped">
    <thead>
      <tr>
        <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></td>
        <th class="minwidth">ID</th>
        <th>ロール名</th>
        <th>パーミッション</th>
      </tr>
    </thead>
    <tbody>
    % for role in roles.items:
      <tr>
        <td><input type="checkbox" /></td>
        <td><a href="${request.route_path('operator_roles.show', operator_role_id=1)}">${role.id}</a></td>
        <td><a href="${request.route_path('operator_roles.show', operator_role_id=1)}">${role.name}</a></td>
        <td>
        % for permission in role.permissions:
        ${permission.category_name}
        % endfor
        </td>
      </tr>
    % endfor
    </tbody>
  </table>
</form>
