</div></div>

<!-- ******************** contents [end] ******************** -->
<!-- ******************** footer [start] ******************** -->

<header class="ts-footer">
<div class="ts-footer-inner">

<!-- ===== ts-footer-wrap [start] ===== -->
<div class="ts-footer-wrap">

<nav>
<ul class="ts-footer-nav">
  <li><a href="http://www.mobilityland.co.jp/english/">${_(u'ABOUT')}</a></li>
  <li><a href="${h.safe_get_contact_url(request)}">${_(u'CONTACT')}</a></li>
  <li><a href="http://www.mobilityland.co.jp/english/privacy/">${_(u'PRIVACY')}</a></li>
  <li><a href="http://www.mobilityland.co.jp/english/legal/">${_(u'LEGAL')}</a></li>
</ul>
<nav>

<p class="copyright">&copy; TicketStar, Inc.</p>

</div><!-- ===== ts-footer-wrap [end] ===== -->

</div>
</header><!-- ******************** footer [end] ******************** -->

</div>
