<%inherit file="./base_89ers.html"/>
<%namespace file="./tags_mobile.html" name="mobile" />

<%mobile:header>チケット購入</%mobile:header>

${event.title}

% if venue:
  <hr size="1" color="#888888" noshade="noshade" />
  <p><font color="#ffbf00">■</font>日程をお選びください</p>
  <form action="">
    <select name="pid">
  % for performance in performances:
    <option value="${performance['id']}">${performance['start_on']}</option>
  % endfor
    </select>
    <div style="text-align:center;">
    <br/>
    <input type="submit" value="次へ">
    </div>
  </form>
  <form action="">
    <div style="text-align:center;">
    <input type="submit" value="戻る">
    </div>
  </form>
  <hr size="1" color="#888888" noshade="noshade" />
  <div style="background-color:#ffdddd">会場</div>
  <div>
    ${venue.name}
  </div>
% else:
  <hr size="1" color="#888888" noshade="noshade" />
  <p><font color="#ffbf00">■</font>会場をお選びください</p>
  <form action="">
    <select name="v">
  % for venue_name in venues:
    <option value="${venue_name}">${venue_name}</option>
  % endfor
    </select>
    <div style="text-align:center;">
    <br/>
    <input type="submit" value="次へ">
    </div>
  </form>
  <hr size="1" color="#888888" noshade="noshade" />
% endif
