<%inherit file="./footer.html"/>

<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>チケット販売・イベントの予約 [音楽 / コンサート / 舞台 / スポーツ] - 楽天チケット</title>
</head>
<body bgcolor="#ffffff"><font size="1">
<div align="center">
  <img src="${request.static_url('ticketing.cart:static/img/mobile/logo-small.gif')}" width="160" height="26" alt="楽天チケット" />
  <hr size="2" noshade="noshade" color="#bf0000" />
</div>
<div>

<div style="background-image:url(${request.static_url('ticketing.cart:static/img/mobile/bg_bar.gif')});background-color:#bf0000" bgcolor="#bf0000" background="${request.static_url('ticketing.cart:static/img/mobile/bg_bar.gif')}"><font color="#ffffff" size="3"><font color="#ffbf00">■</font>チケット購入</font></div>

${event.title}

<p>会場:<br/>
${venue.name}
</p>

<p>日時:<br/>
${performance.start_on}
</p>

<p>席種:<br/>
${seat_type.name}
</p>

<p>
商品をお選びください
</p>

<form>
  % for product in products:
    <div>
      <br/>■${product['name']} &yen;${product['price']}<br/>
      % if product['detail']:
        ${product['detail']}<br/>
      % endif
      数量
      <select name="product_id_${product['id']}">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  % endfor
  <div style="text-align:center;">
  <br/>
  <input type="submit" value="次へ">
  </div>
</form>
<form action="${request.route_url('cart.mobile', event_id=event.id, performance_id=performance.id)}">
  <div style="text-align:center;">
  <input type="hidden" name="v" value="${venue.name}">
  <input type="submit" value="戻る">
  </div>
</form>
