<%inherit file="./base.html"/>

<div style="background-image:url(${request.static_url('ticketing.cart:static/img/mobile/bg_bar.gif')});background-color:#bf0000" bgcolor="#bf0000" background="${request.static_url('ticketing.cart:static/img/mobile/bg_bar.gif')}"><font color="#ffffff" size="3"><font color="#ffbf00">■</font>チケット購入</font></div>

${event.title}

<hr size="1" color="#888888" noshade="noshade" />

% if result == 'OK':
  % for product in cart['products']:
  <div>
    <div style="background-color:#ddddff">商品名(金額)</div>
    <div>
    ${product['name']}(${product['price']}円)
    </div>
    <font color="#ffbf00">■</font>座席番号<br/>
    % for seat in product['seats']:
      ${seat['name']}<br/>
    % endfor
    <font color="#ffbf00">■</font>数量<br/>
    ${product['quantity']}<br/>
  </div>
  % endfor
  <div style="background-color:#ffdddd">合計金額</div>
  <div>
    ${cart['total_amount']}円
  </div>
  <form action="" method="post">
    <div style="text-align:center;">
    <br/>
    ${form.csrf_token()}
    <input type="submit" value="決済へ">
    </div>
  </form>
% else:
  <p>在庫がありません。</p>
% endif
<form action="${request.route_url('cart.products', event_id=event.id, performance_id=performance.id, seat_type_id=seat_type_id)}">
  <div style="text-align:center;">
  <input type="submit" value="戻る">
  </div>
</form>
