<%inherit file="./footer.html"/>

<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>チケット販売・イベントの予約 [音楽 / コンサート / 舞台 / スポーツ] - 楽天チケット</title>
</head>
<body bgcolor="#ffffff"><font size="1">
<div align="center">
  <img src="${request.static_url('ticketing.cart:static/img/mobile/logo-small.gif')}" width="160" height="26" alt="楽天チケット" />
  <hr size="2" noshade="noshade" color="#bf0000" />
</div>
<div>

<div style="background-image:url(${request.static_url('ticketing.cart:static/img/mobile/bg_bar.gif')});background-color:#bf0000" bgcolor="#bf0000" background="${request.static_url('ticketing.cart:static/img/mobile/bg_bar.gif')}"><font color="#ffffff" size="3"><font color="#ffbf00">■</font>チケット購入</font></div>

${event.title}

% if result == 'OK':
  % for product in cart['products']:
  <div>
    商品名(金額):<br/>
    ${product['name']}(${product['price']}円)<br />
    座席番号:<br/>
    % for seat in product['seats']:
      ${seat['name']}<br/>
    % endfor
    数量: ${product['quantity']}<br/>
  </div>
  % endfor
  <div>
    合計金額:<br/>
    ${cart['total_amount']}円
  </div>
  <form action="" method="post">
    <div style="text-align:center;">
    <br/>
    ${form.csrf_token()}
    <input type="submit" value="決済へ">
    </div>
  </form>
% else:
  <p>在庫がありません。</p>
% endif
<form action="${request.route_url('cart.products', event_id=event.id, performance_id=performance.id, seat_type_id=seat_type_id)}">
  <div style="text-align:center;">
  <input type="submit" value="戻る">
  </div>
</form>
