<html>
<head>
  <title>サウンドクリエーター 購入確認ページ</title>
</head>
<body style="background-color:#FFFFFF" bgcolor="#FFFFFF">
  <div style="text-align: center; background-color: #1D2B62">
    <a href="http://sc.tstar.jp/">
      <img src="${request.static_url('altair.app.ticketing.orderreview:static/SC/mobile/images/logo_mobile.gif')}"
           alt="サウンドクリエーター" width="100%"/>
    </a>
  </div>
  
<%block name="header">
</%block>
</div>
  ${next.body()}
  <hr />
<a href="http://www.sound-c.co.jp/contact/">お問い合わせ</a> | <a href="http://sc.tstar.jp/kiyaku.html">利用規約</a> | <a href="http://sc.tstar.jp/tokushoho.html">特定商取引法に基づく表示</a> | <a href="http://www.acpc.or.jp/concert/">ライブ・エンタテインメント約款</a> | <a href="http://www.sound-c.co.jp/privacy/">個人情報保護方針</a>
  <div>
     &copy; TicketStar, Inc. 
  </div>
</body>
</html>
