<%page args="order=None" />
<%namespace file="/common/helpers.html" name="h" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function new_stock_holder() {
    var modal = $('#modal-stock_holder');
    reset_form(modal, '#event_id');
    modal.modal('toggle');
  }
  function edit_stock_holder(id) {
    var id = id || get_id('stock_holder_id');
    if (!id) return;
    var el = '#stock_holder-' + id;
    var modal = $('#modal-stock_holder');
    modal.find('#id').val(id);
    modal.find('#name').val($(el).attr('name'));
    modal.find('#account_id').val($(el + ' #account_id').attr('value'));
    var data = JSON.parse($(el).attr('data'));
    if (data) {
      modal.find('#text').val(data.text);
      modal.find('#text_color').val(data.text_color);
    }
    modal.modal('toggle');
  }
  function delete_stock_holder() {
    var id = get_id('stock_holder_id');
    if (!id) return;
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/events/stock_holders/delete/' + id);
    modal.find('#message').text('選択した枠を削除します。よろしいですか？');
    modal.modal('toggle');
  }
  function save_stock_holder() {
    var modal = '#modal-stock_holder';
    var form = '#stock_holders-form';
    var id = $(modal).find('#id').val();
    var url = id ? '/events/stock_holders/edit/' + id : '/events/stock_holders/new';
    post_modal_form(modal, form, url);
  }
</script>

<%
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_stock_holder();',
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_stock_holder();',
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_stock_holder();',
      icon='icon-minus',
    ),
  }
  order = iter(order or ['new', 'edit', 'delete'])
%>
${h.action_button(actions, order)}

${delete_modal()}
