<%page args="stock_holder, stocks" />
<%namespace file="/common/helpers.html" name="h" />

<div class="accordion-group" style="width: 350px;">
  <div class="accordion-heading">
    <div style="float: left;">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse-${stock_holder.id}">
        ${stock_holder.name}
      </a>
    </div>
    <div style="float: right; margin-top: 7px; margin-right: 7px">
      <div class="btn-group">
        <a href="" class="btn btn-mini btn-primary ">
          <i class=""></i> 席を割当
        </a>
        <button class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="javascript:edit_stock_holder(${stock_holder.id});">編集</a></li>
          <li><a href="javascript:delete_stock_holder(${stock_holder.id});">削除</a></li>
          <li><a href="javascript:allocate_number(${stock_holder.id});">在庫数を入力</a></li>
        </ul>
      </div>
    </div>
    <div id="stock_holder-${stock_holder.id}" name="${stock_holder.name}" data='${h.json(stock_holder.style)}'>
      <hidden id="account_id" value="${stock_holder.account.id}"></hidden>
    </div>
  </div>
  <div style="clear: both;"></div>

  <div id="collapse-${stock_holder.id}" class="accordion-body collapse" style="height: 0px;">
    % for i, stock in enumerate(stocks):
    <div class="accordion-inner" id="stock-${stock.id}">
      <span class="span3">
        <% stock.stock_type.style.update(stock_holder.style) %>
        ${h.seat_style(stock.stock_type.style)}
        ${stock.stock_type.name}
      </span>
      <span>${stock.quantity}席</span>
    </div>
    % endfor
    % if len(stocks) == 0:
    <div class="accordion-inner" style="text-align: center;">
      選択されていません
    </div>
    % endif
  </div>
</div>
