<%page args="performance" />

<style>
  .swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -6px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
</style>

% for account in performance.event.accounts:
  <h4>${account.name}</h4>
  % for stock_holder in performance.event.stock_holders:
    % if stock_holder.account.user.id == account.user.id:
      <%include file="/stock_holders/_item.html" args="stock_holder=stock_holder, stocks=stock_holder.stocks_by_performance(performance.id)" />
    % endif
  % endfor
  <div style="margin-bottom: 20px"></div>
% endfor
