<%inherit file="./base.html"/>

<%block name="javascript">
<script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
<script type="text/javascript">
  $(function () {
    $('#form1').disableOnSubmit('input[type=submit][name!="back"]');

    var checkbox = $('#agreement_checkbox');
    if (checkbox.length > 0) {

      var btnDomId = $('#btn-complete').length > 0 ? '#btn-complete' : '#btn-complete-box > input';

      $(btnDomId).prop('disabled', true).css('opacity', 0.5);

      checkbox.click(function () {
        if ($(this).prop('checked') === true) {
          $(btnDomId).prop('disabled', false).css('opacity', 1);
        } else {
          $(btnDomId).prop('disabled', true).css('opacity', 0.5);
        }
      });
    }
  })
</script>
</%block>

<%block name="css">
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/css/cart_order.css')}" type="text/css" media="all"/>
<style>
  div {
    font-size: 12px;
  }
  dl {
    margin-left: 20px;
    padding: 3px;
  }
  dt {
    font-weight: bold;
    padding: 5px;
  }
  dd {
    margin-left: 15px;
  }
  .red { color: red; }
  .payment-delivery-position {
    margin-left: 15px;
  }
  .list-favorite {
    width: 100%;
    text-align: left;
  }
  .list-favorite li {
    width: 50%;
    float: left;
  }
  .list-favorite li div label {
    font-weight: bold;
    position: relative;
    top: -1px;
  }
  .agreement-of-policy {
    margin: 0 50px 20px;
  }
  .agreement-of-policy .policy-sentence {
    padding-left: 30px;
    font-size: 12px;
  }
</style>
</%block>

${self.widget.flow_widget(3)}

% if request.session.peek_flash():
  % for message in request.session.pop_flash():
  <div class="error">${message}</div>
  % endfor
% endif

<div style="text-align: center">
  <p class= "red" style="font-size:150%; margin-bottom: 0;">まだお申し込みは完了していません</p>
  <p>ご注文内容をご確認いただき「購入する」ボタンで購入してください。</p>
</div>

<form id="form1" action="${delegator['url'] if delegator else request.route_url('payment.confirm')}" method="post">
  ${form.csrf_token()}
  <input type="hidden" name="performance_id" value="${cart.performance.id}"/>

  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/title_shopping.gif')}" alt="お買い物内容" width="114" height="30"/></h2>
      <%include file="../../__commons__/shopping_content/pc_spa.html" args="order_like=cart, is_planned_performance_date=False, enable_point_use_col=True, enable_transaction_fee_deduction_col=True"/>
    </div>
  </div>

  % if extra_form_data:
    <div class="confirmBox">
      <div class="confirmBoxInner">
        <h2>追加情報</h2>
        <table id="contentsOfShopping">
          % for _, (display_name, display_value) in extra_form_data:
            <tr>
              <th scope="row">${display_name}</th>
              <td>${h.sensible_coerce(request, display_value)}</td>
            </tr>
          % endfor
        </table>
      </div>
    </div>
  % endif

  <% shipping = cart.shipping_address %>

  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/title_payment.gif')}" alt="お支払い" width="78" height="30"/></h2>
      <div class="payment-delivery-position">${h.render_payment_confirm_viewlet(request, cart)}</div>
    </div>
  </div>

  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/title_reception.gif')}" alt="配送情報" width="103" height="30"/></h2>
      <div class="payment-delivery-position">${h.render_delivery_confirm_viewlet(request, cart)}</div>
    </div>
  </div>

  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/title_customer_info.gif')}" alt="購入者情報" width="103" height="30"/></h2>
      <table id="confirmDelivery" summary="配送先情報">
        <tr>
          <th scope="row">氏名（漢字）</th>
          <td>${shipping.last_name} ${shipping.first_name}</td>
        </tr>
        <tr>
          <th scope="row">氏名（カナ）</th>
          <td>${shipping.last_name_kana} ${shipping.first_name_kana}</td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td>${shipping.tel_1}</td>
        </tr>
        % if membershipinfo is not None and membershipinfo.enable_point_input:
          <tr>
            <th scope="row">楽天ポイント口座</th>
            <td>
              % if accountno:
                ${accountno}
              % else:
                <span style="color: red">※楽天スーパーポイント口座が入力されていないため、ポイント付与されません。</span>
              % endif
            </td>
          </tr>
        % endif
        <tr>
          <th scope="row">配送先住所 <br/>※配送を選択した場合</th>
          <td>${shipping.zip} ${shipping.prefecture}${shipping.city}${shipping.address_1}${shipping.address_2}
          </td>
        </tr>
      </table>
    </div>
  </div>

  % if mailmagazines_to_subscribe:
  <div class="settlementBox">
		<div class="settlementBoxInner">
			<h2><img src="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/title_magazine.gif')}" alt="メールマガジンの配信" width="177" height="30" /></h2>
			<div id="mailKeywordBox">
				<div id="mailKeywordBoxInner" style="background: #FEF7E7;">
					<dl>
						<dt>
							ご利用いただいた方には、楽天イーグルスからのメールマガジンをお送りいたします。不要な方はチェックを外してください。<br>
              既に配信されているメールマガジンを停止したい場合は、対象メール下部より配信停止の手続きをお願いいたします。
						</dt>
						<dd>
							<ul class="list-favorite">
								% for mailmagazine, subscribed in mailmagazines_to_subscribe:
								<li ${subscribed and u'class="subscribed"' or u''|n}>
									<div>
										<input type="checkbox" checked="checked" name="mailmagazine" id="mailmagazine-${mailmagazine.id}" value="${mailmagazine.id}"${subscribed and u' disabled="disabled"' or u''|n} />
										<label for="mailmagazine-${mailmagazine.id}">${mailmagazine.name}</label>
									</div>
									<div style="margin-left: 2em;">${mailmagazine.description|n}</div>
								</li>
								% endfor
							</ul>
						</dd>
					</dl>
				</div>
			</div>
		</div>
  </div>
  % endif

  <table class="agreement-of-policy">
    <tr>
      <td>
        % if request.organization.setting.enable_agreement_of_policy:
        <label class="agreement-checkbox-label">
          ${form.agreement_checkbox(title=u'サービス利用規約及び個人情報保護方針の同意', autocomplete="off")}
          <span class="checkmark"></span>
        </label>
        % endif
        <div class="policy-sentence">
          試合観戦時は、<a href="http://www.rakuteneagles.jp/stadium/rule2.php" target="_new">「試合観戦契約約款」</a>並びに試合観戦契約約款に基づいて作成された<a href="https://www.rakuteneagles.jp/stadium/rule.html" target="_new">「楽天生命パーク宮城スタジアムルール」</a>が適用されます。<br/>
          また、楽天生命パーク宮城の完全キャッシュレス化に伴い、スタジアムでのチケット・飲食・グッズ購入に現金をご利用いただけません。<br/>
          事前に楽天生命パーク宮城で<a href="https://www.rakuteneagles.jp/special/cashless/" target="_new">利用可能なキャッシュレス決済方法</a>のご用意をお願いいたします。<br/>
          上記内容及び、<a href="//eagles.tstar.jp/agreement" target="_new">サービス利用規約</a>、<a href="http://privacy.rakuten.co.jp/" target="_new">個人情報保護方針</a>に同意をし、購入を申し込みます。
        </div>
      </td>
    </tr>
  </table>

  % if delegator:
    <input id="btn-back" class="btn btn-primary" name="back" value="座席選択に戻る" type="submit"/>
    <div id="btn-complete-box" style="display: inline-block; width: 46%; height: 46px; margin:0 1%; vertical-align: middle; text-align: center;">
      ${delegator['submit']}
    </div>
  % else:
    <input id="btn-back" class="btn btn-primary" name="back" value="座席選択に戻る" type="submit"/><input id="btn-complete" class="btn btn-primary" value="購入する" type="submit"/>
  % endif
  <div class="dispBox">
    <div class="dispBoxInner">
      ※座席選択に戻るボタンを押すと、ここまでのお申し込みがキャンセルになります。
    </div>
  </div>
</form>

% if request.organization.setting.sitecatalyst_use:
  <!--SiteCatalyst-->
  <%
    sc = {"pagename": "confirm"}
  %>
  <%include file="../common/sc_basic.html" args="sc=sc" />
  <!--/SiteCatalyst-->
% endif
