<%inherit file="./base.html"/>
${self.widget.flow_widget(2)}
%if request.session.peek_flash():
  %for message in request.session.pop_flash():
    <div class="error">${message}</div>
  %endfor
%endif

<%block name="javascript">
  <script type="text/javascript"
          src="${request.static_url('altair.app.ticketing.cart:static/js/disable_on_submit.js')}"></script>
  <script type="text/javascript">
    $(function () {
      $('form').disableOnSubmit('input[type=submit]');
    });
  </script>
</%block>

<%block name="css">
  <style>
    #btn-complete {
      border: 0;
      width: 226px;
      height: 46px;
      background: url("${request.static_url('altair.app.ticketing.cart:static/eagles/pc/images/btn_next.gif')}") left top no-repeat;
    }
  </style>
</%block>
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/css/common.css')}"
      type="text/css" media="all"/>
<link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/eagles/pc/css/cart_payment.css')}"
      type="text/css" media="all"/>


<div class="fullbox height70">
  <div class="flow-widget"><img class="flow-widget-body"
                                src="//tstar-dev.s3.amazonaws.com/cart/static/eagles/pc/images/purchase_flow_02.jpg"
                                alt="お支払い・お引取方法の選択"></div>
</div>

<div>
  <!-- ========== main ========== -->
  <form id="form1" name="form1" method="post" action="${request.url}">
    ${csrf_form.csrf_token()}
    <div class="confirmBox">
      <div class="confirmBoxInner">
        <%include file="../../__commons__/discount_code/form.html" args="request=request, forms=forms" />
        <p class="confirm-btnBox">
          <input class="btn btn-primary" type="submit" value="次へ">
        </p>
      </div>
    </div>
  </form>
</div>
% if request.organization.setting.sitecatalyst_use:
  <!--SiteCatalyst-->
  <%
    sc = {"pagename": "discount_code"}
  %>
  <%include file="../common/sc_basic.html" args="sc=sc" />
  <!--/SiteCatalyst-->
% endif
