<%inherit file="./base.html"/>

<%block name="javascript">
    <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
</%block>

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif
${h.get_nickname(request)} 

${self.widget.flow_widget(2)}

<form id="form1" name="form1" method="post" action="${request.url}">
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/img/settlement/title_customer_info.gif')}" alt="購入者情報" width="103" height="30" /></h2>
      <!--
          <h2>購入者情報</h2>
          <div class="settlementPayBox">
            <div class="settlementPayBoxInner">
              -->
      <table id="confirmDelivery">
        <tr>
          <th scope="row">楽天スーパーポイント口座(半角数字)</th>
          <td>
            <ul>
              <li>${form['accountno'].label}
                ${form['accountno']}(例: 1111222233334444)ハイフン無し
                ${h.error_list(request, form, 'accountno')}
              </li>
              <li>
                  お持ちの方は、楽天スーパーポイント口座情報を入力して下さい。<br/>
                  楽天ポイント口座を確認するには、<a href="https://point.rakuten.co.jp/PointAccount/PointAccountLogin/" target=”_blank”>こちら</a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <!--
          </div>
  </div>
  -->
    </div>
  </div>
  
</div>
<p class="align2"><image onclick="$('#form1').submit()" src="${request.static_url('altair.app.ticketing.cart:static/img/settlement/btn_next.gif')}" alt="次へ" width="226" height="46" /></p>
</form>

