<%namespace file="/common/helpers.html" name="ch" />
<form method="POST" class="form-horizontal">
    <fieldset>
        ${ch.form_item(form.public_flag,style='width: 50px;')}
        ${ch.form_item(form.template_type,style='width: 300px;')}
        ${ch.form_item(form.label, style='width: 300px;')}
        ${ch.form_item(form.live_code, style='width: 300px;height: 150px;')}
        ${ch.form_item(form.live_chat_code, style='width: 300px;height: 150px;', disabled="disabled")}
        ${ch.form_item(form.description, style='width: 300px;height: 150px;')}
        ${ch.form_item(form.artist_page, style='width: 300px;')}
        ${ch.form_item(form.publish_start_at)}
        ${ch.form_item(form.publish_end_at)}
        <input class="btn btn-primary" type="submit" value="保存する"/>
    </fieldset>
</form>

<script>
    $(document).ready(function() {
        $('input[name="publish_start_at.year"]').val(${form.publish_start_at.data.year if form.publish_start_at.data else ""});
        $('input[name="publish_start_at.month"]').val(${form.publish_start_at.data.month if form.publish_start_at.data else ""});
        $('input[name="publish_start_at.day"]').val(${form.publish_start_at.data.day if form.publish_start_at.data else ""});
        $('input[name="publish_start_at.hour"]').val(${form.publish_start_at.data.hour if form.publish_start_at.data else ""});
        $('input[name="publish_start_at.minute"]').val(${form.publish_start_at.data.minute if form.publish_start_at.data else ""});

        $('input[name="publish_end_at.year"]').val(${form.publish_end_at.data.year if form.publish_end_at.data else ""});
        $('input[name="publish_end_at.month"]').val(${form.publish_end_at.data.month if form.publish_end_at.data else ""});
        $('input[name="publish_end_at.day"]').val(${form.publish_end_at.data.day if form.publish_end_at.data else ""});
        $('input[name="publish_end_at.hour"]').val(${form.publish_end_at.data.hour if form.publish_end_at.data else ""});
        $('input[name="publish_end_at.minute"]').val(${form.publish_end_at.data.minute if form.publish_end_at.data else ""});

        check_template_type();
        $("#template_type").change(() => {
            check_template_type();
            }
        );

        function check_template_type(){
            let selected = $("#template_type").find("option:selected").val();
            if (selected == "3")
                {
                    $("#live_chat_code").attr("disabled",false);
                }
            else{
                $("#live_chat_code").attr("disabled",true);
                }
        }
    });
</script>
