<%namespace file="/common/helpers.html" name="ch" />
<form method="POST" class="form-horizontal">
    <fieldset>
        ${ch.form_item(form.label, style='width: 300px;')}
        ${ch.form_item(form.live_code, style='width: 300px;height: 150px;')}
        ${ch.form_item(form.description, style='width: 300px;height: 150px;')}
        ${ch.form_item(form.artist_page, style='width: 300px;')}
        ${ch.form_item(form.publish_start_at)}
        ${ch.form_item(form.publish_end_at)}
        <input class="btn btn-primary" type="submit" value="保存する"/>
    </fieldset>
</form>