[app:89ers]
use = config:%(here)s/../deploy/baseconf/common.ini#89ers
pyramid.debug_templates = true
altair_sej.template_file = %(here)s/../../../ticketing/misc/sej/template.html

; Beaker
session.type = file
session.data_dir = %(here)s/tmp/beaker/89ers/data
session.lock_dir = %(here)s/tmp/beaker/89ers/lock
session.key = 89ers
session.secret = mysecret
session.cookie_on_exception = true

[filter:prefix]
use = egg:PasteDeploy#prefix
prefix = /89ers/booster
altair_sej.template_file = %(here)s/misc/sej/template.html

[pipeline:main]
pipeline =
    prefix
    89ers

[server:main]
use = egg:waitress
host = 0.0.0.0
port = 7657

# Begin logging configuration

[loggers]
keys = root, ticketing, bj89ers

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_ticketing]
level = DEBUG
handlers = console
qualname = ticketing
propagate = 0

[logger_bj89ers]
level = DEBUG
handlers = console
qualname = ticketing.bj89ers
propagate = 0


[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic


[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
