:root {
    --custom-btn-color: #00000000;    /* buttons ボタン */
    --custom-color: #00000000;        /* fonts 文字 */
    --custom-border-color: #00000000;     /* border 罫線（divなど） */
    --custom-background-color: #00000000;     /* background 背景（divなど） */
}

/* btn */
.btn-selectseat {
    background-color: var(--custom-btn-color) !important;
    opacity: 0.5;
}

li.btn-seat-minus:before {
    border-right-color: var(--custom-btn-color) !important;
}

li.btn-seat-plus:after {
    border-left-color: var(--custom-btn-color) !important;
}

.btn-seat-active,
li.btn-seat-minus.btn-seat-active:before,
li.btn-seat-plus.btn-seat-active:after {
    opacity: 1 !important;
}

.deactivated {
    opacity: 0.5 !important;
}

.btn-primary {
    background-color: var(--custom-btn-color) !important;
}

/* Box contents */
.selectseat-accordion dt {
    border-color: var(--custom-border-color) !important;
}
.selectseat-accordion dt:before {
    background-color: var(--custom-background-color) !important;
}

/* heading */

.heading-primary {
    background-color: var(--custom-background-color) !important;
}

.heading_simple_line {
    color: var(--custom-color) !important;
    border-color: var(--custom-border-color) !important;
}