:root {
    --custom-btn-color: #bf0000;    /* buttons ボタン */
    --custom-color: #bf0000;        /* fonts 文字 */
    --custom-border-color: #bf0000;     /* border 罫線（divなど） */
    --custom-background-color: #bf0000;     /* background 背景（divなど） */
}

/* buttons color ボタン
-------------------------------------------- */
.btn {
    background-color: var(--custom-btn-color) !important;
}
.btn-primary{
    background-color: var(--custom-btn-color) !important;
}
.qr-btn {
    background-color: var(--custom-btn-color) !important;
}

/* input color 見出し
-------------------------------------------- */
input[type=checkbox]:checked + label::after{
  border-left-color: var(--custom-color) !important;
	border-bottom-color: var(--custom-color) !important;
}

/* heading color 見出し
-------------------------------------------- */
.heading-primary {
    background-color: var(--custom-background-color) !important;
}

main .wrap-form h2 {
    background-color: var(--custom-background-color) !important;
}

header .head {
    background-color: var(--custom-background-color) !important;
}