<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
## kadomaru
<%def name="widgets(name)">
  % for w in display_blocks[name]:
      ${w|n}
  % endfor
</%def>
<html lang="jp">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/vissel/css/style.css" media="all" />
    <title>${page.title}</title>
  <meta name="description" content="${page.description}">
  <meta name="keywords" content="${page.keywords}">
    <!--[if lte IE 6]>  
    <script type="text/javascript" src="/static/vissel/js/DD_belatedPNG.js">  
    </script>  
    <script type="text/javascript"> DD_belatedPNG.fix( '.header,.sparkle');</script>  
    <![endif]-->  
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <img src="/static/vissel/images/logo.gif" alt="VISSEL TICKET" />
            <div class="gnavi">
            </div>
            <img src="/static/vissel/images/partnerlogo.gif" alt="OFFICIAL TICKET SITE PARTNER TICKETSTAR" class="partnerlogo" />
        </div>
    </div>

    <!-- wrapper -->    
    <div class="wrapper">
      <%block name="above_kadomaru">
        ${widgets("above_kadomaru")}
      </%block>

      <div class="kadomaru">
        <div class="maincol">
        <%block name="kadomaru">
          ${widgets("kadomaru")}
        </%block>
        </div>
      <!-- サイドバー -->
        <div class="sidebar">
        </div>  
      <!-- サイドバーおわり -->
      <br class="clear" />
    </div>
    <%block name="bellow_kadomaru">
      ${widgets("bellow_kadomaru")}
    </%block>
  </div>
    <!-- wrapperおわり -->


<div class="footer">
    <div class="footer-inner">
        <img src="/static/vissel/images/tomoni.gif" alt="" />
            <div class="footernav">
            </div>
        <div class="copyright">
            Copyright &copy; 2010-2013 TicketStar Inc. All Rights Reserved. 
        </div>
    </div>
</div>
</body>
</html>
