<%page args="lots, lotid_viewresource, limit=None" />
<%namespace file="/common/modal.html" name="m" />

%if not lots:
<p>
  登録されている抽選はありません。
</p>
%else:
<form action="${request.url}" method="post">
  <div class="row-fluid">
    <div class="span12">
      <table class="table fullwidth checkboxed_table" style="margin-bottom: 10px;">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>抽選名</th>
            <th>受付期間</th>
            <th>希望取得上限</th>
            <th>申込上限回数</th>
            <th>認証方法</th>
            <th>抽選結果発表予定日</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%
             import datetime
             early = datetime.datetime(1,1,1)
             late = datetime.datetime(2999, 12, 31)
             %>
          %for lot in sorted(lots, key=lambda x:((x.start_at or early), (x.end_at or late), (x.lotting_announce_datetime or x.end_at or late), x.id)):
          <%
             resource = lotid_viewresource[lot.id]
             %>
          <tr>
            <td><input type="checkbox" name="lot_id" value="${lot.id}"/></td>
            <td><a href="${request.route_url('lots.show', lot_id=lot.id)}">${lot.name}</a></td>
            <td>${vh.datetime(lot.start_at, with_weekday=True)} - ${vh.datetime(lot.end_at, with_weekday=True)}</td>
            <td>${lot.limit_wishes}</td>
            <td>${lot.entry_limit}</td>
            <td>${HH.auth_type_label(lot.auth_type)}</td>
            <td>${vh.datetime(lot.lotting_announce_datetime, with_weekday=True)}
              % if h.timezone_label(lot):
                (${h.timezone_label(lot)})
              % endif
            </td>
            <td>
              <a href="${resource.lots_cart_url}">申込画面</a>
              <a href="${resource.lots_cart_now_url}">(時間指定)</a>
            </td>
            <td>
              <a href="${resource.agreement_lots_cart_url}">同意画面</a>
              <a href="${resource.agreement_lots_cart_now_url}">(時間指定)</a>
            </td>
            <td>
              <a class="btn btn-small display-description">注意文言</a>
              <span class="lot-description">
                ${lot.description}
              </span>
            </td>
            <td>
              <div class="btn-group">
                <a href="${request.route_url('lots.edit', lot_id=lot.id)}" class="btn btn-small"><i class="icon-edit"></i> 編集</a>
              </div>
            </td>
          </tr>
          %endfor

        </tbody>
      </table>
      <div class="btn-group">
        <button type="submit" name="action-delete" class="btn"><i class="icon-minus"></i>削除</button>
      </div>
    </div>
  </div>
</form>
%endif

<style>
  .lot-description {
      display: none;
  }
</style>

<div class="modal hide" id="description-dialog">
  <div class="modal-header">
    注意文言
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">閉じる</button>
  </div>
</div>

<script>
  $(function (){
      $('.display-description').on('click', function (ev){
          var modal = $('#description-dialog');
  var modal_body = modal.find('.modal-body');
          $(ev.target.parentNode).find('.lot-description').each(function(ii, elm){
              modal_body.text($(elm).text());
              modal.modal('toggle');

          });
      });
  });
</script>
