<%inherit file="/layout_2cols.html" />
<%namespace file="/common/modal.html" name="common_modal" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="_entries_tabs.html" name="tabs" />

<%block name="style">
<link rel="stylesheet" type="text/css" href="/static/css/decentcolorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/performance.css" />
</%block>

<%block name="fulltitle">
Altair Backend -- ${lot.event.title}[${lot.name}]
</%block>

<%block name="javascript">
</%block>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'イベント', lot.event.title, u'抽選', lot.name, u'当選/落選'],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=lot.event.id),
        request.route_path('lots.index', event_id=lot.event.id),
        request.route_path('lots.show', lot_id=lot.id),
      ]
  )}
</%block>

<div class="page-header">
  <h1>
    ${lot.event.title}<br />
    <small>${lot.name}</small>
  </h1>
</div>

${tabs.tabs(request)}

<%include file="electing_statuses.html"/>

<div>
  <h3>抽選申込ダウンロード</h3>
  <div class="alert alert-warning">
    抽選申込情報をCSV形式でダウンロードします。<br>
  </div>
  <fieldset>
    <a href="${request.route_url('lots.entries.export', lot_id=lot.id)}" class="btn">ダウンロード</a>
  </fieldset>
</div>

<hr>

<div>
  <h3>抽選申込インポート</h3>
  <div class="alert alert-warning">
    抽選申込ダウンロードで取得したCSVファイルの「状態」列を&nbsp;
    <span class="label label-success">当選予定</span>&nbsp;/&nbsp;
    <span class="label label-info">落選予定</span>&nbsp;/&nbsp;
    <span class="label">申込</span>&nbsp;
    に変更してインポートすることで、<br>
    一括で抽選申込のステータスを更新することができます。<br>
    一度インポートしても、ステータスを変更して再びインポートすることが可能です。
  </div>
  <form enctype="multipart/form-data" method="POST" action="${request.route_url('lots.entries.import', lot_id=lot.id)}">
    <fieldset>
      <input type="file" name="entries"/><br/>
      <button type="submit" class="btn">インポート</button>
    </fieldset>
  </form>
</div>

<hr>

<div>
  <h3>当落確定</h3>
  <div class="alert alert-warning">
    最終的な当選、落選を確定します。<br>
    当選、落選を確定すると、ユーザーに当選メールおよび落選メールが送信されます。<br>
    また、クレジットカードで申込された抽選申込は、オーソリ(与信枠)が確保されている為、当選 / 落選の確定後にすべて開放してください。<br>
    オーソリ開放は、当選 / 落選 の確定後のみ実行可能です。
  </div>
  %if lot.is_finished():
    この抽選は終了しました
  %else:
  <p>
    <ul>
    %for blocker in electing.blockers:
      <li>${blocker}</li>
    %endfor
    </ul>
  </p>
  <div class="pull-left">
    <p>
      <button ${"disabled" if electing.blockers or not process_possible else ""} id="btn-election"
              class="btn btn-large btn-primary pull-left" style="margin-right: 5px;">
        当選確定する
      </button>
      <button ${"disabled" if electing.blockers or not process_possible else ""} id="btn-rejection"
              class="btn btn-large btn-info" style="margin-right: 5px;">
        落選確定する
      </button>
      <button id="btn-entries-close" ${"disabled" if not closer.can_close() or not process_possible else ""} class="btn btn-large btn-warning"
              style="margin-right: 5px;" data-toggle="popover" data-placement="right" data-original-title=""
              data-content="当落の確定していない申込があるか、メールが未送信のためオーソリ開放できません" >
        オーソリ開放する
      </button>
    </p>
    <p>
      <button id="btn-send-election-mail"  class="btn btn-large btn-primary"
              data-toggle="popover" data-placement="right" data-content="" data-original-title="">
        当選結果通知
      </button>
      <button id="btn-send-rejection-mail" class="btn btn-large btn-info"
              data-toggle="popover" data-placement="right" data-content="" data-original-title="">
        落選結果通知
      </button>
    </p>
    %if not closer.can_close():
    <script>
    $(function() {
      $('#btn-entries-close').popover('show');
    })
    </script>
    %endif
  </div>
  %endif
</div>


<script>
$("#btn-election").on("click", function (){
    var modal = $("#modal-confirm");
    var form = modal.find("form");
    form.attr("method", "POST");
    form.attr("action", "${request.route_url('lots.entries.elect', lot_id=lot.id)}");
    form.find("input[type=submit]").val("確定");
    var message = "当選確定します。"
    modal.find(".message").html("<p>" + message + "</p>");
    modal.modal("toggle");
});
$("#btn-rejection").on("click", function (){
    var modal = $("#modal-confirm");
    var form = modal.find("form");
    form.attr("method", "POST");
    form.attr("action", "${request.route_url('lots.entries.reject', lot_id=lot.id)}");
    form.find("input[type=submit]").val("確定");
    var message = "落選確定します。"
    modal.find(".message").html("<p>" + message + "</p>");
    modal.modal("toggle");
});
$("#btn-entries-close").on("click", function (){
    var modal = $("#modal-confirm");
    var form = modal.find("form");
    form.attr("method", "POST");
    form.attr("action", "${request.route_url('lots.entries.close', lot_id=lot.id)}");
    form.find("input[type=submit]").val("オーソリ解放");
    var message = "オーソリ解放します。"
    modal.find(".message").html("<p>" + message + "</p>");
    modal.modal("toggle");
});
$("#btn-send-election-mail").on("click", function (){
    var modal = $("#modal-confirm");
    var form = modal.find("form");
    form.attr("method", "POST");
    form.attr("action", "${request.route_url('lots.entries.send_election_mail', lot_id=lot.id)}");
    form.find("input[type=submit]").val("送信");
    var message = "当選メールを送信します。"
    modal.find(".message").html("<p>" + message + "</p>");
    modal.modal("toggle");
});
$("#btn-send-rejection-mail").on("click", function (){
    var modal = $("#modal-confirm");
    var form = modal.find("form");
    form.attr("method", "POST");
    form.attr("action", "${request.route_url('lots.entries.send_rejection_mail', lot_id=lot.id)}");
    form.find("input[type=submit]").val("送信");
    var message = "落選メールを送信します。"
    modal.find(".message").html("<p>" + message + "</p>");
    modal.modal("toggle");
});
</script>
${common_modal.confirm_modal()}
