<%page args="lot_status" />

<div>
  <h3>件数ベース</h3>
  <table class="table" border="1">
    <tr>
      <th>申込件数</th>
      <th>当選件数</th>
      <th>決済件数</th>
      <th>予約件数</th>
      <th>キャンセル・流れ</th>
    </tr>
    <tr>
      <td>${lot_status.total_entries}</td>
      <td>${lot_status.elected_count}</td>
      <td>${lot_status.ordered_count}</td>
      <td>${lot_status.reserved_count}</td>
      <td>${lot_status.canceled_count}</td>
    </tr>
  </table>
</div>
<div>
  <h3>枚数ベース</h3>
  <table class="table" border="1">
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th colspan="${lot_status.lot.limit_wishes}">希望順位別内訳枚数</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>申込総枚数</th>
      %for i in range(lot_status.lot.limit_wishes):
      <th>第${i + 1}希望</th>
      %endfor
    </tr>
    <tr>
      <th>枚数</th>
      <td>${lot_status.total_quantity}</td>
      %for i in range(lot_status.lot.limit_wishes):
      <td>${lot_status.wish_statuses[i].quantity}</td>
      %endfor
    </tr>
  </table>
</div>
<div>
  <h3>公演ごと、希望ごと</h3>
  <table class="table" border="1">
    <tr>
      <th rowspan="2">公演日時</th>
      <th rowspan="2">会場</th>
      <th rowspan="2">席種</th>
      <th rowspan="2">申込総枚数</th>
      <th colspan="${lot_status.lot.limit_wishes}">希望順位内訳枚数</th>
      <th rowspan="2">当選枚数</th>
      <th rowspan="2">決済済枚数</th>
      <th rowspan="2">予約枚数</th>
      <th rowspan="2">キャンセル・流れ枚数</th>
    </tr>
    <tr>
      %for i in range(lot_status.lot.limit_wishes):
      <th>第${i+1}希望</th>
      %endfor
    </tr>
    %for status in lot_status.performance_seat_type_statuses:
    <tr>
      <td>${status.performance.start_on}</td>
      <td>${status.performance.venue.name}</td>
      <td>${status.seat_type.name}</td>
      <td>${status.entry_quantity}</td>
      %for i in range(lot_status.lot.limit_wishes):
      <td>${status.wish_statuses[i].entry_quantity}</td>
      %endfor
      <td>${status.elected_quantity}</td>
      <td>${status.ordered_quantity}</td>
      <td>${status.reserved_quantity}</td>
      <td>${status.canceled_quantity}</td>
    </tr>
      %endfor
  </table>

