<%page args="lot_status" />

<div>
  <h4>件数ベース</h4>
  <table border="1" bordercolor="#808080" width="98%" style="border-collapse:collapse;">
    <tr style="background-color:#dcdcdc;">
      <th>申込件数</th>
      <th>当選件数</th>
      <th>決済件数</th>
      <th>予約件数</th>
      <th>キャンセル・流れ</th>
    </tr>
    <tr>
      <td>${lot_status.total_entries}</td>
      <td>${lot_status.elected_count}</td>
      <td>${lot_status.ordered_count}</td>
      %if between_lot_start_and_payment_due:
      <td>${lot_status.reserved_count}</td>
      %else:
      <td>0</td>
      %endif
      <td>${lot_status.canceled_count}</td>
    </tr>
  </table>

  <h4>枚数ベース</h4>
  <table border="1" bordercolor="#808080" width="98%" style="border-collapse:collapse;">
    <tr style="background-color:#dcdcdc;">
      <th rowspan="2">公演日時</th>
      <th rowspan="2">会場</th>
      <th rowspan="2">席種</th>
      <th rowspan="2">申込総枚数</th>
      <th colspan="${lot_status.lot.limit_wishes}">希望順位内訳枚数</th>
      <th rowspan="2">当選枚数</th>
      <th rowspan="2">決済済枚数</th>
      <th rowspan="2">予約枚数</th>
      <th rowspan="2">キャンセル・流れ枚数</th>
    </tr>
    <tr>
      %for i in range(lot_status.lot.limit_wishes):
      <th>第${i+1}希望</th>
      %endfor
    </tr>
    <% statuses = lot_status.performance_seat_type_statuses %>
    %for status in statuses:
    <tr>
      <td>${vh.datetime(status.performance.start_on, with_weekday=True)}</td>
      <td>${status.performance.venue.name}</td>
      <td>${status.seat_type.name}</td>
      <td>${status.entry_quantity}</td>
      %for i in range(lot_status.lot.limit_wishes):
      <td>${status.wish_statuses[i].entry_quantity}</td>
      %endfor
      <td>${status.elected_quantity}</td>
      <td>${status.ordered_quantity}</td>
      %if between_lot_start_and_payment_due:
      <td>${status.reserved_quantity}</td>
      %else:
      <td>0</td>
      %endif
      <td>${status.canceled_quantity}</td>
    </tr>
    %endfor
    <tr>
      <td colspan="3">合計</td>
      <td>${lot_status.total_quantity or 0}</td>
      %for i in range(lot_status.lot.limit_wishes):
      <td>${lot_status.wish_statuses[i].quantity or 0}</td>
      %endfor
      <td>${sum([st.elected_quantity for st in statuses])}</td>
      <td>${sum([st.ordered_quantity for st in statuses])}</td>
      %if between_lot_start_and_payment_due:
      <td>${sum([st.reserved_quantity for st in statuses])}</td>
      %else:
      <td>0</td>
      %endif
      <td>${sum([st.canceled_quantity for st in statuses])}</td>
    </tr>
  </table>
</div>
