<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="_entries_tabs.html" name="tabs" />

<%block name="style">
<link rel="stylesheet" type="text/css" href="/static/css/decentcolorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/performance.css" />
</%block>

<%block name="fulltitle">
Altair Backend -- ${lot.event.title}[${lot.name}]
</%block>

<%block name="javascript">
</%block>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'イベント', lot.event.title, u'抽選', lot.name, u'申込状況'],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=lot.event.id),
        request.route_path('lots.index', event_id=lot.event.id),
        request.route_path('lots.show', lot_id=lot.id),
      ]
  )}
</%block>

<div class="page-header">
  <h1>
    ${lot.event.title}<br />
    <small>${lot.name}</small>
  </h1>
</div>

${tabs.tabs(request)}

<%
  from altair.app.ticketing.core.models import ReportFrequencyEnum, ReportPeriodEnum
  from altair.app.ticketing.formatter import Japanese_Japan_Formatter
  formatter = Japanese_Japan_Formatter()
%>
<h3>レポート送信設定</h3>

%if report_settings:
<table class="table table-striped table-bordered table-condensed">
  <tbody>
    <tr>
      <th>送信先</th>
      <th>メール通知頻度</th>
      <th>送信曜日</th>
      <th>送信時刻</th>
      <th>送信期間</th>
      <th>対象</th>
      <th>レポート対象期間</th>
      <th></th>
    </tr>
    %for rs in report_settings:
    <tr>
      <td>
      % for recipient in rs.recipients:
        ${recipient.format_recipient()}<br>
      % endfor
      </td>
      <td>${''.join([enum.v[1] for enum in ReportFrequencyEnum if enum.v[0] == rs.frequency])}</td>
      <td>${formatter.format_weekday(rs.day_of_week - 1) if rs.day_of_week else ''}</td>
      <td>${"{0:0>2}:{1:0>2}".format(rs.time[0:2], rs.time[2:4])}</td>
      <td>${vh.term(rs.start_on, rs.end_on, without_minute=True)}</td>
      <td>${u'抽選' if rs.lot_id else u'イベント'}</td>
      <td>${''.join([enum.v[1] for enum in ReportPeriodEnum if enum.v[0] == rs.period])}</td>
      <td>
        <form class="pull-left" style="margin-bottom: 0;" action="${request.route_url('lot.entries.edit_report_setting', setting_id=rs.id, **request.matchdict)}">
          <button type="submit" class="btn btn-small">編集</button>
        </form>
        <form class="pull-left" style="margin-bottom: 0;" action="${request.route_url('lot.entries.delete_report_setting', setting_id=rs.id, **request.matchdict)}"
              method="post" onsubmit="return confirm('削除してよろしいですか？')">
          <button type="submit" class="btn btn-small">削除</button>
        </form>
        <form class="pull-left" style="margin-bottom: 0;" action="${request.route_url('lot.entries.send_report_setting', setting_id=rs.id, **request.matchdict)}"
              method="post" onsubmit="return confirm('レポートメールを送信します。よろしいですか？')">
          <button type="submit" class="btn btn-small">送信</button>
        </form>
      </td>
    </tr>
    %endfor
  </tbody>
</table>
%endif
<a href="${request.route_url('lot.entries.new_report_setting', **request.matchdict)}" class="btn">新規</a>

<hr>

<h3>レポート</h3>
<%include file="entries_statuses.html"/>
