<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'イベント', event.title, u'抽選'],
      urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
  )}
</%block>

<%
import json

f = lambda x: dict(start_at=x.start_at.strftime('%Y-%m-%dT%H:%M:%S'), end_at=x.end_at.strftime('%Y-%m-%dT%H:%M:%S') if x.end_at else '', max_quantity=x.max_quantity)

sales_segment_group_dict_json = json.dumps(dict([(x.id, f(x)) for x in event.sales_segment_groups]))
%>


<script type="text/javascript">
sales_segment_group_dict = ${sales_segment_group_dict_json | n}

function timestamp_to_arr(s) {
  if (s === '') {
    return [['', '', ''], ['', '', '']];
  }
  var dt = s.split('T');
  var ymd = dt[0].split('-');
  var hms = dt[1].split(':');

  return [ymd, hms];
}

function updateSalesSegmentGroupById(j) {
  var d = sales_segment_group_dict[j];
  var start_at_arr = timestamp_to_arr(d.start_at);
  var end_at_arr = timestamp_to_arr(d.end_at);

  if (start_at_arr.length < 2) {
    start_at_arr = [['', '', ''], ['', '', '']];
  }
  $('#start_at\\.year').val(start_at_arr[0][0]);
  $('#start_at\\.month').val(start_at_arr[0][1]);
  $('#start_at\\.day').val(start_at_arr[0][2]);
  $('#start_at\\.hour').val(start_at_arr[1][0]);
  $('#start_at\\.minute').val(start_at_arr[1][1]);
  $('#start_at\\.second').val(start_at_arr[1][2]);

  if (end_at_arr.length < 2) {
    end_at_arr = [['', '', ''], ['', '', '']];
  }
  $('#end_at\\.year').val(end_at_arr[0][0]);
  $('#end_at\\.month').val(end_at_arr[0][1]);
  $('#end_at\\.day').val(end_at_arr[0][2]);
  $('#end_at\\.hour').val(end_at_arr[1][0]);
  $('#end_at\\.minute').val(end_at_arr[1][1]);
  $('#end_at\\.second').val(end_at_arr[1][2]);

  $('#max_quantity').val(d.max_quantity);
}
</script>

<script type="text/javascript">
  $(function() {
    $('[rel=popover]').popover({html:true});
    $('#sales_segment_group_id').change(function() {
      var opt = $('#sales_segment_group_id').children(':selected');
      $('#name').val(opt.text());
      updateSalesSegmentGroupById(opt.val());
    });
  });
</script>

<div class="page-header">
  <h1>抽選</h1>
</div>
<div class="well">
  <form class="form-horizontal" action="${request.url}" method="POST">
    <fieldset>
        <legend>抽選情報</legend>
      ${ch.form_item(form.name, class_='span8', maxlength=255)}
      ${ch.form_item(form.limit_wishes, help=ch.help(form.limit_wishes, u"1回の申し込み中で第何希望まで出せるかの設定"))}
      ${ch.form_item(form.entry_limit, help=ch.help(form.entry_limit, u"同一ユーザーがこの抽選に何回申し込めるかの設定"))}
      ${ch.form_item(form.description, help=ch.help(form.description, u"抽選申し込み画面に表示される注意事項など"))}
      ${ch.form_item(form.lotting_announce_datetime)}
      ${ch.form_item(form.lotting_announce_timezone)}
      ${ch.form_item(form.custom_timezone_label)}
      ${ch.form_item(form.auth_type)}
    </fieldset>
    <fieldset>
        <legend>販売区分情報</legend>
      ${ch.form_item(form.sales_segment_group_id)}
      ${ch.form_item(form.start_at)}
      ${ch.form_item(form.use_default_start_at)}
      ${ch.form_item(form.end_at)}
      ${ch.form_item(form.use_default_end_at)}
      ${ch.form_item(form.max_quantity)}
      ${ch.form_item(form.auth3d_notice)}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" >
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var ssgid = "${request.params.get('ssgid', '')}";
    $('#sales_segment_group_id').val(ssgid);

    var opt = $('#sales_segment_group_id').children(':selected');

    $('#name').val(opt.text());
    updateSalesSegmentGroupById(opt.val());
  });
</script>
