<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="_entries_tabs.html" name="tabs" />

<%block name="style">
<link rel="stylesheet" type="text/css" href="/static/css/decentcolorpicker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/performance.css" />
</%block>

<%block name="fulltitle">
Altair Backend -- ${lot.event.title}[${lot.name}]
</%block>

<%block name="javascript">
</%block>

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'イベント', lot.event.title, u'抽選', lot.name],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=lot.event.id),
        request.route_path('lots.index', event_id=lot.event.id),
      ]
  )}
</%block>

<div class="page-header">
  <h1>
    ${lot.event.title}<br />
    <small>${lot.name}</small>
  </h1>
</div>

${tabs.tabs(request)}

<div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered table-condensed">
      <tbody>
        <tr>
          <th class="span3">受付期間</th>
          <td>${vh.datetime(lot.start_at, with_weekday=True)} 〜 ${vh.datetime(lot.end_at, with_weekday=True)}</td>
        </tr>
        <tr>
          <th>希望取得上限</th>
          <td>${lot.limit_wishes}</td>
        </tr>
        <tr>
          <th>申込上限回数</th>
          <td>${lot.entry_limit}</td>
        </tr>
        <tr>
          <th>抽選結果発表予定日</th>
          <td>
              ${vh.datetime(lot.lotting_announce_datetime, with_weekday=True)}
              % if h.timezone_label(lot):
                (${h.timezone_label(lot)})
              % endif
          </td>
        </tr>
        <tr>
          <th>認証方法</th>
          <td>${HH.auth_type_label(lot.auth_type)}</td>
        </tr>
        <tr>
          <th>抽選カートURL</th>
          <td>
            <a href="${lots_cart_url}">${lots_cart_url}</a>
            (<a href="${lots_cart_now_url}">時間指定して抽選カート購入</a>)
          </td>
        </tr>
        <tr>
          <th>同意抽選カートURL</th>
          <td>
            <a href="${agreement_lots_cart_url}">${agreement_lots_cart_url}</a>
            (<a href="${agreement_lots_cart_now_url}">時間指定して同意抽選カート購入</a>)
          </td>
        </tr>
       </tbody>
    </table>
    <a class="btn" href="${request.route_url('lots.edit', lot_id=lot.id)}">編集</a>
  </div>
</div>

<hr>

<h3>決済引取方法</h3>
<form action="${request.url}" method="post">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>決済方法</th>
        <th>引取方法</th>
        <th>状態</th>
      </tr>
    </thead>
    <tbody>
    %for pdmp in lot.sales_segment.sales_segment_group.payment_delivery_method_pairs:
      <tr>
        <td><input type="checkbox" name="pdmp_id" value="${pdmp.id}" ${u"checked" if pdmp in lot.sales_segment.payment_delivery_method_pairs else u""} /></td>
        <td>${pdmp.payment_method.name}</td>
        <td>${pdmp.delivery_method.name}</td>
        <td>${u"有効" if pdmp in lot.sales_segment.payment_delivery_method_pairs else u"無効"}</td>
      </tr>
    %endfor
    </tbody>
  </table>
  <div class="btn-group">
    <button type="submit" name="action-update-pdmp" class="btn">更新</button>
  </div>
</form>

<hr>

<%include file="/lots/_product_list.html" args="lot=lot"/>

<hr>

<h3>商品明細</h3>
<div style="overflow-x: auto;">
  <table id="products-grid"></table>
</div>
<button id="sales-segment-save_button" class="btn">保存</button>
<button id="sales-segment-clear_button" class="btn">リセット</button>
<%
  import json
  grid = json.dumps(product_grid)
%>
<script>
$(function() {
  $.fn.linkFormatter = function(cellvalue, options, rowObject) {
    var link = '';
    if (rowObject.product_item) {
      link += '<a href="javascript:deleteRow(' + "'" + options.gid + "'," + options.rowId + ');"><i class="icon-trash"></i></a>';
    }
    return link;
  };

  var productGrid = ${grid|n};
  var grid = $('#products-grid')

  productGrid.colModel.push({
    "label": ' ',
    "name": 'link',
    "width": 30,
    formatter:grid.linkFormatter
  });

  productGrid['afterSaveCell'] = function (id, name, val, iRow, iCol){
    grid.setCell(id, name, '', {background:'#F89406'});
    grid.setRetainChanges();
  };

  productGrid['loadComplete'] = function (id, name, val, iRow, iCol){
    var cells = grid.getRetainChanges('cell');
    for (var i=0; i<cells.length; i++) {
      for (var name in cells[i]) {
        grid.setCell(cells[i].id, name, '', {background:'#F89406'});
      }
    }
    var row_ids = grid.getDataIDs();
    for (var i=0; i<row_ids.length; i++) {
      var row_id = row_ids[i];
      var row = grid.getRowData(row_id);
      if (row.amount_mismatching === 'true') {
        for (var name in row) {
          if ($.inArray(name, ['price', 'product_item_price']) > -1 && row[name]) {
            grid.setCell(row_id, name, '', {background:'#dd1100'});
          } else {
            grid.setCell(row_id, name, '', {background:'#F2DEDE'});
          }
        }
      }
    } // sort時にセルの状態を維持
  };

  grid.jqGrid(productGrid);

  var showDialog = function(title, msg, cls) {
    var modal = $('#modal-alert');
    var message = $('<div>').addClass('alert '+cls).html(msg);
    modal.find('.modal-header > h3').text(title);
    modal.find('#message').empty().append(message);
    modal.modal('show');
  };

  var showSuccessDialog = function() {
     var title = '保存完了';
     var msg = '編集内容を保存しました';
     showDialog(title, msg, 'alert-success');
  };

  $('#sales-segment-clear_button').click(function(){
    grid.clearRetainChanges();
  });

  $('#sales-segment-save_button').click(function(){
    $.ajax({
      type: 'POST',
      url: productGrid.editurl,
      data: JSON.stringify(grid.getRetainChanges()),
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      success: function (response, textStatus, xhr) {
          showSuccessDialog();
          grid.clearRetainChanges();
      },
      error: function (xhr, textStatus, errorThrown) {
        var response_text = JSON.parse(xhr.responseText);
        var message = response_text.message;
        var rows = '';
        if (response_text['rows']) {
          for (col in response_text.rows.errors) {
            var col_name = grid.getColumnLabel(grid, col);
            col_name = (col_name ? col_name + ':' : '');
            rows += '<li>(' + response_text.rows.rowid + '行目) ' + col_name + response_text.rows.errors[col] + '</li>';
          }
        }
        showDialog("エラー", message + '<ul>' + rows + '</ul>', 'alert-error');
      }
    });
  });
});
</script>

<div id="modal-alert" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3></h3>
  </div>
  <div class="modal-body">
    <p id="message"></p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick="$('#modal-alert').modal('hide');" class="btn secondary">閉じる</a>
  </div>
</div>
