* {
margin:0;
padding:0;
}

body {
background:#B5DBF7;
font-size:12px;
height:100%;
font-family:"Helvetica Neue",Helvetica,Meiryo,メイリオ,HiraKakuPro-W3,"ヒラギノ角ゴ Pro W3",Arial,"ＭＳ Ｐゴシック",sans-serif;
}


/*
　オレンジ:#EA9F27
　ライトブルー:#B5DBF7
　紺:#0C3A66
*/


a:hover img {
opacity:0.9;
background:none repeat scroll 0 0 transparent!important;
}

.wrapper {
width:984px;
margin:0 auto;
}

.wrapper .maincol {
width:740px;
float:left;
margin:0;
}

.wrapper .sidebar {
width:160px;
float:right;
}

.wrapper .sidebar img {
margin:0 0 10px;
}

.wrapper .sidebar a {
text-decoration:none;
}

.wrapper .sidebar a:hover img {
opacity:0.7;
background:none repeat scroll 0 0 transparent!important;
}

a.sidebtnA {
border-left: 5px #081c4f solid;
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
background-color:#f9f9f9;
display:inline-block;
color:#666666;
font-family:arial;
font-size:13px;
font-weight:bold;
margin-bottom:5px;
width:155px;
padding:5px 0;
text-decoration:none;
text-align: center;
text-shadow:0px 2px 1px #ffffff;
}
a.sidebtnA:hover {
border-left: 5px #4a5777 solid;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
background-color:#e9e9e9;
}
a.sidebtnA:active {
position:relative;
top:1px;
}


.sidebtnB {
-moz-box-shadow:inset 0 1px 0 0 #fff;
-webkit-box-shadow:inset 0 1px 0 0 #fff;
box-shadow:inset 0 1px 0 0 #fff;
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dbced0');
background-color:#ededed;
border-left:#d90000 5px solid;
display:inline-block;
color:#d90000;
font-family:arial;
font-size:13px;
font-weight:700;
text-align:center;
text-decoration:none;
text-shadow:1px 1px 0 #fff;
margin-bottom:5px;
width:155px;
padding:5px 0;
}

.sidebtnB:hover {
border-left:#081c4f 5px solid;
color:#081c4f;
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbced0',endColorstr='#ededed');
background-color:#dbced0;
}

.header {
background:#EA9F27;
height:82px;
width:100%;
position:relative;
margin:0;
padding:0;
}

.header .header-inner {
width:975px;
padding:10px;
position:relative;
margin:0 auto;
}

.gnavi {
font-size:12px;
width:250px;
text-align:right;
position:absolute;
top:0;
right:0;
margin:0 auto;
padding:14px 0 0;
}

.gnavi ul li {
display:inline;
border-right:1px solid #fff;
padding:0 3px 0 5px;
}

.gnavi ul li.last {
border-right:none;
}

.gnavi ul li a{
text-decoration: none;
}

.gnavi ul li a:hover {
color:#005BAC;
text-decoration:none;
}

img.partnerlogo {
position:absolute;
top:10px;
left:476px;
display:block;
}

.kadomaru {
width:924px;
background:none repeat scroll 0 0 #fff;
border-radius:10px 10px 10px 10px;
border:1px dotted #cfd7f5;
margin:20px auto;
padding:30px;
}

a {
color:#fff;
}

a:hover {
color:#480013;
}

img {
border:0 none;
vertical-align:bottom;
}

.clear {
clear:both!important;
}

.footer {
background:#EA9F27;
clear:both;
text-align:right;
width:100%;
color:#fff;
padding:10px 0;
}

.footer-inner {
width:984px;
height:80px;
margin:0 auto;
}

.footer-inner img {
float:left;
}

.footer .footernav {
color:#fff;
font-size:14px;
width:500px;
float:right;
padding-top:15px;
}

.footer .copyright {
font-size:85%;
color:#fff;
float:right;
margin:10px auto;
}

.footer .footernav ul {
font-size:75%;
list-style-type:none;
padding:0;
}

.footer .footernav ul li {
border-left:1px solid #fff;
display:inline;
padding:0 6px;
}

/* 最初の要素だけボーダーなし */

.footer .footernav ul li:first-child {
border: none;
}

.footer .footernav ul li a:hover {
color:#005BAC;
}

.redBtn {
-moz-box-shadow:inset 0 1px 0 0 #f29c93;
-webkit-box-shadow:inset 0 1px 0 0 #f29c93;
box-shadow:inset 0 1px 0 0 #f29c93;
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00',endColorstr='#ce0100');
background-color:#fe1a00;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #d83526;
display:inline-block;
color:#fff;
font-family:arial;
font-size:15px;
font-weight:700;
text-decoration:none;
text-shadow:1px 1px 0 #b23e35;
padding:6px 24px;
}

.redBtn:hover {
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100',endColorstr='#fe1a00');
background-color:#ce0100;
}

.yellowBtn {
-moz-box-shadow:inset 0 1px 0 0 #fce2c1;
-webkit-box-shadow:inset 0 1px 0 0 #fce2c1;
box-shadow:inset 0 1px 0 0 #fce2c1;
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477',endColorstr='#fb9e25');
background-color:#ffc477;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #eeb44f;
display:inline-block;
color:#fff;
font-family:arial;
font-size:15px;
font-weight:700;
text-decoration:none;
text-shadow:1px 1px 0 #cc9f52;
padding:6px 24px;
}

.yellowBtn:hover {
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25',endColorstr='#ffc477');
background-color:#fb9e25;
}

.historySearchBtn {
box-shadow:0 1px 0 0 #007BD6 inset;
background:0;
-moz-box-shadow:inset 0px 1px 0px 0px #007BD6;
-webkit-box-shadow:inset 0px 1px 0px 0px #007BD6;
box-shadow:inset 0px 1px 0px 0px #007BD6;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005289), color-stop(1, #0C3A66) );
background:-moz-linear-gradient( center top, #005289 5%, #0C3A66 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005289', endColorstr='#0C3A66');
background-color:#D7000F;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #333;
text-shadow:1px 1px 0px #333;
display:inline-block;
color:#fff;
font-size:12px;
font-weight:700;
text-decoration:none;
margin-bottom:8px;
padding:6px 70px;
}

.historySearchBtn:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007BD6), color-stop(1, #0C3A66) );
background:-moz-linear-gradient( center top, #007BD6 5%, #0C3A66 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007BD6', endColorstr='#0C3A66');
background-color:#007BD6;
color:#fff;
}

.historySearchBtn:active {
position:relative;
top:1px;
color:#fff;
}




table {
width:auto;
border-spacing:0;
font-size:14px;
}

table th {
color:#fff;
background:#0A1232;
font-weight:700;
border-left:1px solid #cfd7f5;
border-top:1px solid #cfd7f5;
line-height:120%;
text-align:center;
text-shadow:0 -1px 0 rgba(34,85,136,0.9);
padding:8px 15px;
}

table thead th:first-child {
border-radius:5px 0 0 0;
}


table th:last-child {
border-radius:0 5px 0 0;
	}

table tr td {
border-bottom:1px solid #060a1d;
border-left:1px solid #060a1d;
text-align:center;
padding:8px 15px;
}

table tr td:last-child {
border-right:1px solid #060a1d;
}

table tr {
background:#fff;
}

table tr:hover {
background:#cfd7f5;
}



/* 新しくテーブルのクラス作成しましたのでよかったらお使いください */

table.default {
border-collapse: collapse;
border: 1px #060a1d solid;
}

table.default th {
border: solid 1px #060a1d;
color: #fff;
background-color: #111e53;
text-shadow: none;
padding:5px;
}

table.default td {
border: solid 1px #060a1d;
color: #000000;
padding:5px;
text-align: center;
}

table.default td:last-child {
border-right: none;
}

table.default thead th {
background-color: #0A1232;
}

table.default tr.odd{
background: #efefef;
}

table.default tr:hover {
background: #cfd7f5;
}



h1 {
	background: #0A1232; 
	margin:0 0 30px 0;
	padding:12px 10px;
	color:#FFF;
	text-shadow:1px 1px 2px #333;
	position:relative;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-left:1px solid #0A1232;
	border-top:1px solid #0A1232;
	box-shadow:inset 1px 1px 4px #0A1232;

	}
 
h1:before {
	content: ' ';
	position: absolute;
	z-index: 2;
	width: 0;
	height: 0;
	left: 14px;
	bottom: -27px;
	background: transparent;
	border-color: #0A1232 transparent transparent transparent ;
	border-style:solid;
	border-width:15px;
	}



h2 {
border-left:10px solid #EA9F27;
background: #0C3A66; /* Old browsers */
background: -moz-linear-gradient(top, #0C3A66 0%, #005289 50%, #0C3A66 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C3A66), color-stop(50%,#005289), color-stop(100%,#0A1232)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0C3A66 0%,#005289 50%,#0C3A66 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0C3A66 0%,#005289 50%,#0C3A66 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0C3A66 0%,#005289 50%,#0C3A66 100%); /* IE10+ */
background: linear-gradient(to bottom, #0C3A66 0%,#005289 50%,#0C3A66 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0C3A66', endColorstr='#0C3A66',GradientType=0 ); /* IE6-9 */
color:#FFF;
text-shadow:1px 1px 2px #333;
box-shadow:0 2px 3px rgba(0,0,0,0.4) , inset 0 0 50px rgba(0,0,0,0.1);
position:relative;
margin:0 0 15px;
padding:8px 10px;
}

h3 {
margin:0 0 15px;
font-weight:700;
font-size:15px;
color:#000;
line-height:1;
border-left:5px solid #D7000F;
border-bottom:1px dotted #D7000F;
background:#FFF;
padding:4px 0 2px 10px;
}

h4 {
margin:0 0 15px;
font-size:13px;
color:#000;
background:#ececec;
padding:2px 15px;
}

h5 {
font-size:12px;
font-color:#000;
padding:2px 15px;
margin:0 0 15px;
border-bottom: 1px #ccc solid;
}

h6 {
font-size:12px;
font-color:#666;
padding:2px 15px;
margin:0 0 15px;
}

.sidebtnA:active,.sidebtnB:active,.redBtn:active,.yellowBtn:active {
position:relative;
top:1px;
}
