<%namespace file="/common/helpers.html" import="form_item" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  $(function() {
    $('#start_at, #end_at').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
  });
  function show_sales_segment() {
    var id = get_id('sales_segment_id');
    if (!id) return;
    $(location).attr('href', '/events/sales_segments/show/' + id);
  }
  function new_sales_segment() {
    $('#modal-sales_segment #id').val('');
    $('#modal-sales_segment #name').val('');
    $('#modal-sales_segment #start_at').val('');
    $('#modal-sales_segment #end_at').val('');
    $('#modal-sales_segment').modal('toggle');
  }
  function edit_sales_segment() {
    var id = get_id('sales_segment_id');
    if (!id) return;
    var el = '#sales_segment-' + id;
    $('#modal-sales_segment #id').val($(el + ' #id').text());
    $('#modal-sales_segment #name').val($(el + ' #name').text());
    $('#modal-sales_segment #start_at').val($(el + ' #current_start_at').text().trim());
    $('#modal-sales_segment #end_at').val($(el + ' #current_end_at').text().trim());
    $('#modal-sales_segment').modal('toggle');
  }
  function delete_sales_segment() {
    var id = get_id('sales_segment_id');
    if (!id) return;
    $('#modal-delete #delete').attr('href', '/events/sales_segments/delete/' + id);
    $('#modal-delete #message').text('選択した販売区分を削除します。よろしいですか？');
    $('#modal-delete').modal('toggle');
  }
  function save_sales_segment() {
    var id = $('#modal-sales_segment #id').val();
    var url = id ? '/events/sales_segments/edit/' + id : '/events/sales_segments/new';
    var param = {};
    $('#modal-sales_segment :input').each(function(i, v) {
      param[v.name] = v.value;
    });
    $.post(
        url,
        param,
        function(data, status, xhr) {
          $('#modal-sales_segment').modal('hide');
          $('#sales_segments-form').html(data);
          $('#modal-sales_segment').modal('show');
        },
        "html"
    );
  }
</script>

<div class="btn-group">
  <a href="javascript:new_sales_segment()" class="btn">
    <i class="icon-plus"></i> 新規
  </a>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="javascript:show_sales_segment()">
        <i class="icon-th-list"></i> 詳細
      </a>
    </li>
    <li>
      <a href="javascript:edit_sales_segment()">
        <i class="icon-pencil"></i> 編集
      </a>
    </li>
    <li>
      <a href="javascript:delete_sales_segment()" data-controls-modal="delete-modal" data-backdrop="true" data-keyboard="true">
        <i class="icon-minus"></i> 削除
      </a>
    </li>
  </ul>
</div>

${delete_modal()}
