<%page args="order=None" />
<%namespace file="/common/helpers.html" import="action_button" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function show_sales_segment() {
    var id = get_id('sales_segment_id');
    if (!id) return;
    $(location).attr('href', '/events/sales_segments/show/' + id);
  }
  function new_sales_segment() {
    var modal = $('#modal-sales_segment');
    modal.find('#id').val('');
    modal.find('#name').val('');
    modal.find('#start_at').val('');
    modal.find('#end_at').val('');
    modal.find('#upper_limit').val('');
    modal.find('#seat_choice').attr('checked');
    modal.modal('toggle');
  }
  function edit_sales_segment() {
    var id = get_id('sales_segment_id');
    if (!id) return;
    var el = '#sales_segment-' + id;
    var modal = $('#modal-sales_segment');
    modal.find('#id').val($(el + ' #id').text());
    modal.find('#name').val($(el + ' #name').text());
    modal.find('#start_at').val($(el + ' #current_start_at').text().trim());
    modal.find('#end_at').val($(el + ' #current_end_at').text().trim());
    modal.find('#upper_limit').val($(el + ' #upper_limit').text());
    if ($(el + ' #seat_choice').attr('value')) {
      modal.find('#seat_choice').attr('checked');
    }
    modal.modal('toggle');
  }
  function delete_sales_segment() {
    var id = get_id('sales_segment_id');
    if (!id) return;
    var modal = $('#modal-delete');
    modal.find('##delete').attr('href', '/events/sales_segments/delete/' + id);
    modal.find('##message').text('選択した販売区分を削除します。よろしいですか？');
    modal.modal('toggle');
  }
  function save_sales_segment() {
    var modal = '#modal-sales_segment';
    var form = '#sales_segments-form';
    var id = $(modal + ' #id').val();
    var url = id ? '/events/sales_segments/edit/' + id : '/events/sales_segments/new';
    post_modal_form(modal, form, url);
  }
</script>

<%
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_sales_segment();',
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_sales_segment();',
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_sales_segment();',
      icon='icon-minus',
    ),
    'show':dict(
      label=u'詳細',
      url='javascript:show_sales_segment();',
      icon='icon-th-list',
    ),
  }
  order = iter(order or ['new', 'show', 'edit', 'delete'])
%>
${action_button(actions, order)}

${delete_modal()}
