<%page args="form, action='#'" />
<% from wtforms.widgets import HiddenInput %>
<%namespace file="/common/helpers.html" name="h" />
<form action="${action}" method="POST">
  ${h.form_item(form.id)}
  % if not form.sales_segment_group_id.data:
    ${h.form_item(form.sales_segment_group_id, class_='span8')}
  % else:
    <input type="hidden" name="${form.sales_segment_group_id.name}" value="${form.sales_segment_group_id.data}" />
  % endif
  % if not form.performance_id.data:
    ${h.form_item(form.performance_id, class_='span8')}
  % else:
    <input type="hidden" name="${form.performance_id.name}" value="${form.performance_id.data}" />
  % endif
  ${h.form_item(form.payment_delivery_method_pairs)}
  ${h.form_item(form.start_at, class_="datefield")}
  ${h.form_item(form.end_at, class_="datefield")}
  ${h.form_item(form.upper_limit)}
  ${h.form_item(form.seat_choice)}
  ${h.form_item(form.public)}
</form>
