<%page args="form" />
<%namespace file="/common/helpers.html" name="h" />

<script type="text/javascript">
  $(function() {
    $('.datefield').datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm'});
    $('#modal-sales_segment #seat_choice').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(${form.seat_choice.default});
      } else {
        $(this).val(0);
      }
    }).change();
  });
</script>

<div id="modal-sales_segment" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>販売方法</h3>
  </div>

  <div class="modal-body">
    <form id="edit" action="javascript:save_sales_segment();" method="POST">
      ${h.form_item(form.id)}
      ${h.form_item(form.event_id)}
      ${h.form_item(form.kind)}
      ${h.form_item(form.name, option={'maxlength':255})}
      ${h.form_item(form.start_at,option={"class":"datefield"})}
      ${h.form_item(form.end_at,option={"class":"datefield"})}
      ${h.form_item(form.payment_due_at,option={"class":"datefield"})}
      ${h.form_item(form.issuing_start_at,option={"class":"datefield"})}
      ${h.form_item(form.issuing_end_at,option={"class":"datefield"})}
      ${h.form_item(form.upper_limit)}
      ${h.form_item(form.seat_choice)}
      <p>※セブンイレブン発券では発券日を指定した場合「前払い後日発券」になります。</p>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:$('#modal-sales_segment').find('form').submit();" class="btn">保存</a>
  </div>
</div>
