<%inherit file="/layout.html"/>
<%namespace file="/common/helpers.html" import="pager"/>                                               
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="safe_strftime" />

<div class="row-fluid">
  <%include file="/parts/_menu.html" />

  <span class="span10">
    <div class="page-header">
      <h3>販売区分</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <%include file="/sales_segments/_list.html" args="sales_segments=sales_segments" />
    <%include file="/sales_segments/_action_button.html" />
    <div id="sales_segments-form">
      <%include file="/sales_segments/_form.html" args="form=form_sales_segment" />
    </div>
  </span>
</div>
