<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="safe_strftime" />
<%namespace file="/common/helpers.html" import="breadcrumbs" />

<div class="breadcrumbs">
  ${breadcrumbs(
      names=[u'イベント', event.title, u'販売区分'],
      urls=[request.route_path('events.index'), request.route_path('events.show', event_id=event.id)]
  )}
</div>

<div class="page-header">
  <h1>販売区分</h1>
</div>

<div class="content">
  ${flash_messages(request)}
</div>

<%include file="/sales_segments/_list.html" args="form=form_sales_segment, sales_segments=sales_segments" />
<%include file="/sales_segments/_action_button.html" />
<div id="sales_segments-form">
  <%include file="/sales_segments/_form.html" args="form=form_sales_segment" />
</div>
