<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h"/>

<div class="breadcrumbs">
  ${h.breadcrumbs(
    names=[u'イベント', sales_segment.event.title, u'販売区分', sales_segment.name],
    urls=[
      request.route_path('events.index'),
      request.route_path('events.show', event_id=sales_segment.event.id),
      request.route_path('sales_segments.index', event_id=sales_segment.event.id),
    ]
  )}
</div>

<div class="page-header">
  <h1>販売区分</h1>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<table class="table table-striped table-bordered table-condensed" id="sales_segment-${sales_segment.id}">
  <tr>
    <th class="span3">${form_ss.id.label.text}</th>
    <td id="id">${sales_segment.id}</td>
  </tr>
  <tr>
    <th>${form_ss.kind.label.text}</th>
    <% kind = [v for k, v in form_ss.kind.choices if k == sales_segment.kind] %>
    <td id="kind" value="${sales_segment.kind}">${kind.pop() or ''}</td>
  </tr>
  <tr>
    <th>${form_ss.name.label.text}</th>
    <td id="name">${sales_segment.name}</td>
  </tr>
  <tr>
    <th>${form_ss.start_at.label.text}</th>
    <td id="current_start_at">${h.safe_strftime(sales_segment.start_at)}</td>
  </tr>
  <tr>
    <th>${form_ss.end_at.label.text}</th>
    <td id="current_end_at">${h.safe_strftime(sales_segment.end_at)}</td>
  </tr>
  <tr>
    <th>${form_ss.upper_limit.label.text}</th>
    <td id="upper_limit">${sales_segment.upper_limit or u''}</td>
  </tr>
  <tr>
    <th>${form_ss.seat_choice.label.text}</th>
    <td id="seat_choice" value="${sales_segment.seat_choice}">${u'○' if sales_segment.seat_choice else u'×'}</td>
  </tr>
  <tr>
    <th>${form_ss.public.label.text}</th>
    <td id="public" value="${sales_segment.public}">${u'○' if sales_segment.public else u'×'}</td>
  </tr>
</table>
<%include file="/sales_segments/_action_button.html" args="order=['edit', 'copy', 'delete']" />
<div id="sales_segments-form">
  <input type="hidden" id="sales_segment_id" value="${sales_segment.id}" />
  <%include file="/sales_segments/_form.html" args="form=form_ss" />
</div>

<hr />

<%include file="/payment_delivery_method_pairs/_list.html" args="sales_segment=sales_segment, form=form_pdmp" />
<%include file="/payment_delivery_method_pairs/_action_button.html" args="sales_segment=sales_segment" />
