<%inherit file="/layout.html"/>
<%namespace file="/common/helpers.html" import="pager"/>                                               
<%namespace file="/common/helpers.html" import="flash_messages" />
<%namespace file="/common/helpers.html" import="safe_strftime" />
<%namespace file="/common/helpers.html" import="breadcrumbs" />

<div class="row-fluid">
  <%include file="/parts/_menu.html" args="event=sales_segment.event" />

  <div class="span10">
    ${breadcrumbs(
      names=[u'イベント', sales_segment.event.title, u'販売区分', sales_segment.name],
      urls=[
        request.route_path('events.index'),
        request.route_path('events.show', event_id=sales_segment.event.id),
        request.route_path('sales_segments.index', event_id=sales_segment.event.id),
      ]
    )}
  </div>

  <span class="span10">
    <div class="page-header">
      <h3>販売区分</h3>
    </div>

    <div class="content">
      ${flash_messages(request)}
    </div>

    <table class="table table-striped table-bordered table-condensed" id="sales_segment-${sales_segment.id}">
      <tr>
        <th class="span3">${form_ss.name.label.text}</th>
        <td id="name">${sales_segment.name}</td>
      </tr>
      <tr>
        <th>${form_ss.start_at.label.text}</th>
        <td id="current_start_at">${safe_strftime(sales_segment.start_at)}</td>
      </tr>
      <tr>
        <th>${form_ss.end_at.label.text}</th>
        <td id="current_end_at">${safe_strftime(sales_segment.end_at)}</td>
      </tr>
    </table>
    <input type="hidden" id="sales_segment_id" value="${sales_segment.id}" />
    <%include file="/sales_segments/_action_button.html" />
    <div id="sales_segments-form">
      <%include file="/sales_segments/_form.html" args="form=form_ss" />
    </div>

    <hr />

    <%include file="/payment_delivery_method_pair/_list.html" args="sales_segment=sales_segment, form=form_pdmp" />
    <%include file="/payment_delivery_method_pair/_action_button.html" args="sales_segment=sales_segment" />

  </span>
</div>
