<%inherit file="./base.html"/>
<%namespace file="altair.app.ticketing.cart:templates/__commons__/tags_mobile.html" name="mobile" />
<%mobile:header>チケット購入</%mobile:header>
<p>誠に申し訳ございませんが</p>
% if which == 'next':
<p>${event.title} の販売期間は</p>
<p>
${h.japanese_datetime(start_at)} 〜
</p>
<p>となっております。</p>
<p>販売期間内にアクセスしていただきますようお願いいたします。</p>
% else:
<p>${event.title} (${performance.name}) の販売は</p>
<p>${h.japanese_datetime(end_at)} まで</p>
<p>とさせていただいております。</p>
<p>他のイベントのチケットは<a href="${request.context.host_base_url}">こちら</a>からお買い求めくださいますようお願いいたします。</p>
% endif
