:root {
    --custom-btn-color: #013DB9;    /* buttons ボタン */
    --custom-color: #013DB9;        /* fonts 文字 */
    --custom-border-color: #013DB9;     /* border 罫線（divなど） */
    --custom-background-color: #013DB9;     /* background 背景（divなど） */
}

/* buttons color ボタン
-------------------------------------------- */
.btn-buy {
    background-color: var(--custom-btn-color) !important;
}
.btn-close {
    background-color: var(--custom-btn-color) !important;
}
.align2 {
    background-color: var(--custom-btn-color) !important;
}
.btn-primary {
    background-color: var(--custom-btn-color) !important;
}
#selectSeat.focused .btn-select-seat {
    background-color: var(--custom-btn-color) !important;
}
#selectSeat.focused .btn-cancel {
    background-color: var(--custom-btn-color) !important;
}
#selectSeatType ul.buttonSet li a {
    background-color: var(--custom-btn-color) !important;
}
/* heading color 見出し
-------------------------------------------- */
#main h1 {
    background-color: var(--custom-background-color) !important;
}
#main h2 {
    color: var(--custom-color) !important;
    border-color: var(--custom-border-color) !important;
}

.confirmBox h2 {
    color: var(--custom-color) !important;
    border-color: var(--custom-border-color) !important;
}

.attention1 {
	color: var(--custom-color) !important;
}

.settlementPayBox dt {
    color: var(--custom-color) !important;
}

.settlementPayBox dd .deliveryFee,
.settlementPayBox dd .paymentFee {
    color: var(--custom-color) !important;
}

.settlementPayBox dd dl dd .paymentFee {
    color: var(--custom-color) !important;
}

.settlementDeliveryInput th {
    color: var(--custom-color) !important;
}

.settlementInterest h2 {
    background-color: var(--custom-background-color) !important;
}