<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>チケット販売 - TAUポイントカード</title>
  <meta name="description" content="TAUポイントカードは、チケットのオンラインショッピングサイトです。" />
  <meta name="keywords" content="チケット" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <link rel="shortcut icon" href="${request.static_url('altair.app.ticketing.cart:static/HT/smartphone/images/favicon.ico')}">
  <link rel="stylesheet" href="${request.static_url('altair.app.ticketing.cart:static/HT/smartphone/css/default2.css')}" type="text/css" />
  <%block name="javascript"></%block>
  <%block name="css"></%block>
</head>

<body id="settlement">
  <div id="container" class="page">
    <!-- ========== header ========== -->
    <div class="header">
      <div class="grpheader">
        <div class="siteID">
          <a href="http://tau-hiroshima.tstar.jp/">
            <img src="${request.static_url('altair.app.ticketing.cart:static/HT/smartphone/images/tau-hiroshima_logo.png')}" alt="TAUポイントカード" class="serviceLogo" />
          </a>
        </div>
      </div>

      <div class="side-action-buttons">
        <form name="logout" action="${request.route_path('cart.logout')}" method="POST">
          <div style="text-align: right">
            <!--
            % if (not getattr(request, 'context', None)) or request.context.authenticated_user()['is_guest']:
              <a onclick="document.logout.submit()" class="btn btn-supplementary"><span class="btn-inner">会員でログイン</span></a>
            % else:
              <a onclick="document.logout.submit()" class="btn btn-supplementary"><span class="btn-inner">ログアウト</span></a>
            % endif
            -->
            % if getattr(request, 'context', None) and hasattr(request.context, 'switch_pc_url'):
              <a href="${request.context.switch_pc_url}" class="btn btn-supplementary"><span class="btn-inner">PCサイトで購入する</span></a>
            % endif
          </div>
        </form>
      </div>

      <div class="band">
        <h1>チケット購入</h1>
      </div>
    </div>
    <!-- ========== /header ========== -->

    <!-- ========== main ========== -->
    <div id="main">
      ${self.body()}
    </div>
    <!-- ========== /main ========== -->
  </div>
  <!-- /container -->
  <%block name="extras" />
</body>
</html>
