<%inherit file="../common/_base.html" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<%block name="title">特定商取引法に基づく表示</%block>
<%block name="fnavi">
    <hr/>
    <a href="${request.route_path('smartphone.main')}"><button class="btn-secondary btn-large">トップへ</button></a>
</%block>

<h2 class="glitter red">特定商取引法に基づく表示</h2>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a href="#1">１．販売業者名</a><br/>
        <a href="#2">２．運営責任者</a><br/>
        <a href="#3">３．営業時間・営業日</a><br/>
        <a href="#4">４．商品以外の必要代金</a><br/>
        <a href="#5">５．支払い方法</a><br/>
        <a href="#6">６．支払期限</a><br/>
        <a href="#7">７．返品及び返金</a><br/>
        <a href="#8">８．払い戻し</a><br/>
        <a href="#9">９．引渡し時期・方法</a><br/>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="1" id="1">１．販売業者名</a><br/><br/>
        株式会社チケットスター<br/>
        (英名：TicketStar Inc. )<br/>

        電話番号：050-5830-6868<br/>
        FAX番号：03-5795-1877<br/>
        メールアドレス：info@ticketstar.jp<br/>
        URL：http://www.ticketstar.jp/corporate<br/><br/>

        <a href="#top">▲上へ</a><br/>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="2" id="2">２．運営責任者</a><br/><br/>
        佐野 憲一<br/><br/>

        <a href="#top">▲上へ</a><br/>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="3" id="3">３．営業時間・営業日</a><br/><br/>
        システムメンテナンス等によるサービス提供の中断を除き、インターネット上で、24時間営業を行っております。<br/><br/>

        各試合・公演のチケット販売期間は、各公演ページにてご確認ください（チケットの購入には会員登録が必要となります）<br/><br/>

        また、お電話での対応は、10：00～17：00（平日のみ 土日祝および年末年始は休業）で受け付けております。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="4" id="4">４．商品以外の必要代金</a><br/><br/>
        各商品、およびお客様の希望されるお支払、配送方法によっては各種手数料、送料がかかります。<br/><br/>

        詳しくは各商品ページをご確認ください。なお、チケットの代金には消費税が含まれております。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="5" id="5">５．支払い方法</a><br/><br/>
        クレジットカード、コンビニエンスストア決済、イーコンテクスト決済、銀行・郵便振込となります。<br/><br/>

        商品によっては、明記された支払方法に限定される場合があります。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="6" id="6">６．支払期限</a><br/><br/>
        インターネット上でのクレジットカード決済：ご購入時に決済させていただきます。<br/><br/>

        ご請求日は各カード会社により異なります。<br/><br/>

        決済代行サービス　コンビニエンスストア決済/イーコンテクスト決済：コンビニエンスストア、インターネット銀行、Pay-easyにて支払期限までにお振り込みいただきます。<br/><br/>
        支払期限はご購入時にご案内します。<br/><br/>

        銀行振込でのお支払い、郵便振替でのお支払い：各銀行窓口、郵便局、ATMにて支払期限までにお振り込みいただきます。<br/><br/>

        支払期限はご購入時にご案内します。<br/><br/>

        お申し込み後のキャンセルお客様のご希望で購入決定されたチケットは、理由の如何を問わず、取替・変更・キャンセルはお受けできません。<br/><br/>

        なお、チケットは、クーリングオフ対象外の商品となっております。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="7" id="7">７．返品及び返金</a><br/><br/>
        当社の責に起因する破損、汚損の場合は返品をお受けいたしますが、購入者の方による故意または過失によりチケットが破損した場合、返品はできません。<br/><br/>

        お客様都合の返品はご容赦ください。<br/><br/>

        またチケット到着後の席番などのクレーム返品もお受けできません。<br/><br/>

        注文したチケットと違うチケットが到着した場合は正しいチケットと交換もしくは返金させていただきます。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="8" id="8">８．払い戻し</a><br/><br/>
        払い戻しの期間、方法は原則として、興行主が決定します。<br/><br/>

        確定後、弊社Webサイト上の所定ページにて告知、Eメールなどにて、ご購入者様に速やかにご連絡いたします。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
<hr/>

<div class="sectionbox">
    <div class="sectionbox-inner">
        <a name="9" id="9">９．引渡し時期・方法</a><br/><br/>
        チケットの受け渡し方法はイベントによって異なります。<br/><br/>

        詳しくは各イベントの購入画面をご覧ください。<br/><br/>

        <a href="#top">▲上へ</a>
    </div>
</div>
