<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>仙台89ERS 2012-2013 ブースタークラブ入会申込ページ</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="all" />

</head>
<body>

  <h1 class="title">仙台89ERS 2012-2013 ブースタークラブ入会申込ページ</h1>
  <div align="center">

<form>

	<table class="layout" style="width:760px" class="wrapper">
		<tr>
			<td>

				<h2>お申し込みありがとうございました</h2>
				
				
				<div class="formWrapper">
                    
					<table cellpadding="0" cellspacing="0" class="form89ers">
						<colgroup>
						<col style="width:180px;">
						<col style="width:310px;">
						</colgroup>
						<tbody>
						<tr>
							<th colspan="2" style="text-align:left;font-size:18px;">
							お申し込みNo.：000000-000000
							</tr>
						</tbody>
					</table>
					<table cellpadding="0" cellspacing="0" class="form89ers">
						<colgroup>
						<col style="width:180px;">
						<col style="width:310px;">
						</colgroup>
						<tbody>
						<tr>
							<th colspan="2" style="text-align:left;font-size:18px;">
							お申し込み内容
							</tr>

							<tr>
								<th>会員種別
								</th>
								<td>
									ゴールド会員
	   							</td>
							</tr>
							<tr>
								<th>会員口数
								</th>
								<td>
									2口
	   							</td>
							</tr>
							<tr>
								<th>お名前
								</th>
								<td>
									チケスタ太郎　様<br />
									チケスタ花子　様
	   							</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3>引換え・お支払い場所</h3>
					<ul style="width:600px;color:#fff;margin:0 auto;">
						<li>全国のセブン-イレブンにてお支払い・お引き換えください。</li>
						<li>お申し込みNo.をレジにてお申し付けください。</li>
					</ul>
<br />
<br />
<br />			
			</td>
		</tr>
    </table>
</form>
  </div>
</body>
</html>
