#navigation { height:25px; }
#navigation ul{ list-style-type: none; padding-top:17px; font-size:11px; }
#navigation ul li{ float:left; display:inline; margin-right:5px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:25px; padding:0 0 0 8px; background:url(/static/images/nav.gif) no-repeat 0 0; }
#navigation ul li a span { padding:0 8px 0 0; background-position:right 0; }
#navigation ul li a { color:#ddadab; line-height:29px;}
#navigation ul li a.active { font-weight: bold;}

#navigation ul li a:hover,
#navigation ul li a.active { background-position:0 bottom; color:#887e42; }

#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right bottom; }