@charset "UTF-8";


.container-fluid {
    height: 100%;
}
.tabs-above {
    border-right: none;
}
#seat-allocation-tab-content-navi {
    width: auto;
    height: 70px;
    background: #FFFFFF;
}
#footer {
    background: #FFFFFF;
    width: 100%;
    height: 50px;
}
.tabs-above .nav-tabs {
    float: none;
    margin-right: auto;
    border-right: none;
}
.tabs-above .nav-tabs > li {
    float: left;
}
.tabs-above .nav-tabs > li > a {
    -webkit-border-radius:  0 0 4px 4px;
    -moz-border-radius:  0 0 4px 4px;
    border-radius:  0 0 4px 4px;
    margin-right: 2px;
    margin-bottom: 0;
}
.tabs-above .nav-tabs .active > a,
.tabs-above .nav-tabs .active > a:hover {
    border-color: transparent #ddd #ddd  #ddd;
}

.tabs-horizontal .nav-tabs {
    float: none;
    margin-right: auto;
    border-right: none;
}
.tabs-horizontal .nav-tabs > li {
    float: left;
}
.tabs-horizontal .nav-tabs > li > a {
    -webkit-border-radius:  4px 4px 0 0 ;
    -moz-border-radius:  4px 4px 0 0 ;
    border-radius:  4px 4px 0 0 ;
    margin-right: 2px;
    margin-bottom: 0;
}
.tabs-horizontal .nav-tabs .active > a,
.tabs-horizontal .nav-tabs .active > a:hover {
    border-color:  #ddd #ddd transparent  #ddd;
}

.lot_performance a {
    display:block;width:100%;height:100%;
}

.lot_performance a:hover {
    background-color:#ffcccc;
}

.form-inline {
  margin: 10px;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
    padding: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

