<%page args="form, operators" />
<%namespace file="/common/helpers.html" name="h"/>
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function delete_operator(id) {
    var modal = $('#modal-delete');
    modal.find('#delete').attr('href', '/operators/delete/' + id);
    modal.find('#message').text('選択したオペレーターを削除します。よろしいですか？');
    modal.modal('toggle');
  }
</script>

<form>
  <div>
    <a href="${request.route_path('operators.new')}" class="btn">新規オペレーター</a>
    <a href="${request.route_path('operator_roles.index')}" class="btn">ロール設定</a>
  </div>
  <table class="table fullwidth checkboxed_table">
    <thead>
    <tr>
      <th class="minwidth">ID</th>
      <th>ログインID</th>
      <th>名前</th>
      <th>会社名</th>
      <th>ロール</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    % for operator in operators.items:
    <tr>
      <td><a href="${request.route_path('operators.show', operator_id=operator.id)}">${operator.id}</a></td>
      <td><a href="${request.route_path('operators.show', operator_id=operator.id)}">${operator.auth.login_id}</a></td>
      <td><a href="${request.route_path('operators.show', operator_id=operator.id)}">${operator.name}</a></td>
      <td><a href="${request.route_path('organizations.show', organization_id=operator.organization.id)}">${operator.organization.name}</a></td>
      <td>
        % for role in operator.roles:
        <ul>
          <li>${role.name}</li>
        </ul>
        % endfor
      </td>
      <td>
        <a class="btn btn-small" href="${request.route_path('operators.edit', operator_id=operator.id)}">編集</a>
        <a class="btn btn-small btn-danger" href="javascript:delete_operator(${operator.id});">削除</a>
      </td>
    </tr>
    % endfor
    </tbody>
  </table>
  ${h.pager(operators)}
</form>

${delete_modal()}
