<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'オペレーター'],
      urls=[request.route_path('index'), request.route_path('operators.index')]
  )}
</div>

<div class="page-header">
  <h3>オペレーター詳細</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<%include file="/operators/_action_button.html" args="operator=operator, order=['edit', 'delete']" />

<%include file="/operators/_detail.html" args="form=form, operator=operator" />
