<%inherit file="../layout.html" />
<%block name="title">ユーザ詳細</%block>
<div class="ui-toolbar">
  <a href="${request.route_path('operators.edit', operator_id=operator.id)}" class="ui-button">編集</a>
  <a href="#" class="ui-button">削除</a>
</div>
<div class="subsection">
  <div class="subsection-header">
    <h2 class="subsection-header-content rounded">基本情報</h2>
  </div>
  <div class="subsection-main">
    <div class="subsection-main-content">
      <div class="twocolumns">
        <div class="first column">
          <div class="column-main">
            <div class="column-main-content">
              <table class="vertical-table fullwidth">
                <tbody>
                  <tr>
                    <th>ユーザID</th>
                    <td>${operator.id}</td>
                  </tr>
                  <tr>
                    <th>ログインID</th>
                    <td>${operator.auth.login_id}</td>
                  </tr>
                  <tr>
                    <th>氏名</th>
                    <td>${operator.name}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column-main">
            <div class="column-main-content">
              <table class="vertical-table fullwidth">
                <tbody>
                  <tr>
                    <th>ユーザ種別</th>
                    <td>クライアント</td>
                  </tr>
                  <tr>
                    <th>会社名</th>
                    <td>株式会社チケットスター</td>
                  </tr>
                  <tr>
                    <th>部署名</th>
                    <td>第一事業部</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="twocolumns">
  <div class="first column subsection">
    <div class="column-header subsection-header">
      <h2 class="column-header-content subsection-header-content rounded">連絡先</h2>
    </div>
    <div class="column-main subsection-main">
      <div class="column-main-content subsection-main-content">
        <table class="vertical-table fullwidth">
          <tbody>
            <tr>
              <th>郵便番号</th>
              <td>141-0022</td>
            </tr>
            <tr>
              <th>都道府県</th>
              <td>東京都</td>
            </tr>
            <tr>
              <th>市町村区以下の住所</th>
              <td>品川区東五反田5-21-15</td>
            </tr>
            <tr>
              <th>アパート・マンション名</th>
              <td>メタリオンOSビル 7F</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>050-5830-6868</td>
            </tr>
            <tr>
              <th>携帯電話番号</th>
              <td>-</td>
            </tr>
            <tr>
              <th>FAX番号</th>
              <td>03-5795-1877</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column subsection">
    <div class="column-header subsection-header">
      <h2 class="column-header-content subsection-header-content rounded">振込先</h2>
    </div>
    <div class="column-main subsection-main">
      <div class="column-main-content subsection-main-content">
        <table class="vertical-table fullwidth">
          <tbody>
            <tr>
              <th>銀行名</th>
              <td>三菱東京UFJ銀行 (0005)</td>
            </tr>
            <tr>
              <th>銀行支店名</th>
              <td>あかね支店</td>
            </tr>
            <tr>
              <th>口座種別</th>
              <td>普通</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
