<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
${ch.breadcrumbs(
names=[u'トップ', u'シリアルコード付与機能', u'シリアルコード一覧'],
urls=[request.route_path('index'), request.route_path('external_serial_code_settings.index')]
)}
</%block>

<div class="page-header">
    <h1>シリアルコード一覧(${setting.name if setting.name else ""})</h1>
</div>

<form action="${request.route_path('external_serial_code.download', setting_id=setting.id)}" method="POST">
    <fieldset>
        <button class="btn btn-primary">予約番号ダウンロード</button>
    </fieldset>
</form>

<a class="btn btn-danger"
   href="javascript:delete_all_code(${setting.id});">全削除</a>

<form action="${request.route_path('external_serial_code.index', setting_id=setting.id)}" method="GET">
    <fieldset>
        ${ch.form_item(search_form.search_word)}
        <button class="btn btn-primary">検索</button>
    </fieldset>
</form>

<form action="${request.route_path('external_serial_code.import', setting_id=setting.id)}" method="POST"
      accept-charset="utf-8" enctype="multipart/form-data">
${upload_form.upload_file}
    <input type="submit" class="btn btn-warning" value="コードインポート"/>
</form>
<br/><br/>
<%include file="./_list.html" args="setting=setting, codes=codes" />

<script>
    function delete_all_code(setting_id){
        modal = $("#modal-all-delete");
        modal.find('#all_message').text("購入されているもの以外、全部削除します。よろしいですか？");
        modal.find('#all_delete_form').attr("action", "/external_serial_code/code/all_delete/" + setting_id);
        modal.find('#all_delete').on('click', function (){
            var submit_btn = $('input#all_delete');
            submit_btn.click();
        });
        modal.modal('toggle');
    }
</script>

<div id="modal-all-delete" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>確認</h3>
    </div>

    <div class="modal-body">
        <p id="all_message"></p>
        %if caller:
        ${caller.body()}
        %endif
    </div>

    <div class="modal-footer">
        <form id="all_delete_form" method="POST"
              action="">
            <a href="javascript:void(0);" onclick="$('#modal-delete').modal('hide');" class="btn secondary">キャンセル</a>
            <input id="all_delete" href="" class="btn btn-danger" value="削除" type="submit">
        </form>
    </div>
</div>
