<% from altair.app.ticketing.skidata.models import SkidataPropertyTypeEnum %>
<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" import="delete_modal" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'SKIDATAプロパティ'],
      urls=[request.route_path('index')]
  )}
</%block>

<script type="text/javascript">
  function delete_property(prop_id) {
    modal = $('#modal-skidata-property-delete');
    modal.find('#delete').attr('href',
        'javascript:document.forms["skidata-delete-from-'+ prop_id  + '"].submit()');
    modal.find('#message').text("${u'選択したプロパティを削除します。よろしいですか？'}");
    modal.modal('toggle');
  }
</script>

<%def name="render_prop_table(props)">
    % if len(props) > 0:
    <table class="table fullwidth checkboxed_table">
        <thead>
        <th></th>
        <th>id</th>
        <th>プロパティ名</th>
        <th>プロパティ値(数値)</th>
        </thead>
        <tbody>
        % for prop in props:
        <tr>
            <td id="pageformat_menu" style="width:1%; white-space:nowrap;">
                <a class="id-action btn btn-small"
                   href="${request.route_url('skidata.property.edit', id=prop.id)}">
                    <i class="icon-pencil"></i> 編集
                </a>
                <a class="id-delegate-action btn btn-small btn-danger"
                   href="javascript:delete_property(${prop.id})">
                    <i class="icon-minus"></i> 削除
                    <form id="skidata-delete-from-${prop.id}" method="POST" action="${request.route_url('skidata.property.delete', id=prop.id)}" style="margin:0px;"></form>
                </a>
            </td>
            <td>${prop.id}</td>
            <td>${prop.name}</td>
            <td>${prop.value}</td>
        </tr>
        % endfor
        </tbody>
    </table>
    % endif
</%def>

<div class="page-header">
  <h1>SKIDATAプロパティ</h1>
</div>

<h3>販売区分グループプロパティ</h3>
<a href="${request.route_path('skidata.property.new', prop_type=SkidataPropertyTypeEnum.SalesSegmentGroup.k)}" class="btn">
    <i class="icon-plus"></i> 新規
</a>
${render_prop_table(props_for_sales_segment_group)}
<hr/>

<h3>商品明細プロパティ</h3>
<a href="${request.route_path('skidata.property.new', prop_type=SkidataPropertyTypeEnum.ProductItem.k)}" class="btn">
    <i class="icon-plus"></i> 新規
</a>
${render_prop_table(props_for_product_item)}
<hr/>

${delete_modal(id=u'modal-skidata-property-delete')}