<div id="grpRakutenLinkArea">
    <ul id="grpSpelinlk">
        <li><a href="http://www.rakuten.co.jp/">総合トップ</a></li>
        <li><a href="http://books.rakuten.co.jp/">本</a></li>
        <li><a href="http://books.rakuten.co.jp/magazine/">雑誌</a></li>
        <li><a href="http://www.rakuten.co.jp/category/media/">DVD・Blu-ray</a></li>
        <li><a href="http://www.rakuten.co.jp/category/media/">CD</a></li>
        <li><a href="http://www.rakuten.co.jp/category/game/">ゲーム</a></li>
        <li><a href="http://dl.rakuten.co.jp/software/soft/">ソフトウェア</a></li>
        <li class="grpLast"><a href="http://books.rakuten.co.jp/foreign-book/">洋書</a></li>
    </ul>

    <dl id="grpKeyword">
        <dt>キーワード</dt>
        <dd>
            <ul>
                <li><a href="http://recipe.rakuten.co.jp/">レシピ</a></li>
                <li><a href="http://realestate.rakuten.co.jp/newmansion/">新築マンション</a></li>
                <li><a href="http://woman.infoseek.co.jp/">セレブニュース</a></li>
                <li><a href="http://woman.infoseek.co.jp/k-pop/">韓国エンタメ</a></li>
                <li><a href="http://r.ca-mpr.jp/s/552/?i4a=755837">クーポン</a></li>
            </ul>
        </dd>
    </dl>

    <div id="grpFooter">
        <div id="groupServiceFooter">
            <dl class="title">
                <dt>楽天グループのサービス</dt>
                <dd class="allService"><span><a href="http://www.rakuten.co.jp/sitemap/" onclick="s.gclick('sitemap','ftr')">サービス一覧</a></span></dd>
                <dd class="allService inquiryList"><span><a href="http://www.rakuten.co.jp/sitemap/inquiry.html" onclick="s.gclick('inquiry','ftr')">お問い合わせ一覧</a></span></dd>
                <dd class="csr"><a href="http://corp.rakuten.co.jp/csr/" rel="nofollow">社会的責任[CSR]</a></dd>
            </dl>

            <dl class="Introduce">
                <dt class="IntroduceTitle">関連サービス</dt>
                <dd class="IntroduceDetail">
                    <ul id="selectedService" class="serviceCol3">
                        <li class="first"><dl>
                            <dt><a href="http://rental.rakuten.co.jp/" onclick="s.gclick('rental','ftr-rel')">DVD・CDをレンタルする</a></dt>
                    <dd>楽天レンタル</dd>
                </dl></li>
                <li><dl>
                    <dt><a href="http://rental.rakuten.co.jp/special/video/" onclick="s.gclick('rental','ftr-rel')">映画・ドラマ・スポーツ動画もっと見る</a></dt>
                    <dd>楽天VIDEO</dd>
                </dl></li>
                <li><dl>
                    <dt><a href="http://books.rakuten.co.jp/" onclick="s.gclick('books','ftr-rel')">本・CD・DVDを購入する</a></dt>
                    <dd>楽天ブックス</dd>
                </dl></li>
                <!--
                    <li><dl>
                        <dt><a href="#########" onclick="s.gclick('#########','ftr-rel')">○○○○○○○○○○○○</a></dt>
                        <dd>○○○○○○</dd>
                    </dl></li>
                    -->
            </ul>

                </dd>
            </dl>

            <dl class="Introduce">
                <dt class="IntroduceTitle">おすすめ</dt>
                <dd class="IntroduceDetail" id="grpRakutenRecommend"><a href="http://www.rakuten-card.co.jp/">【楽天カード】楽天スーパーポイントが2倍貯まるクレジットカード。年会費無料。</a></dd>
            </dl>

            <div id="serviceList">
                <dl>
                    <dt>お買物・ポイント</dt>
                    <dd><ul>
                        <li><a href="http://www.rakuten.co.jp/" onclick="s.gclick('ichiba','ftr')">ショッピング</a></li>
                        <li><a href="http://auction.rakuten.co.jp/" onclick="s.gclick('auction','ftr')">オークション</a></li>
                        <li><a href="http://books.rakuten.co.jp/" onclick="s.gclick('books','ftr')">本・DVD・CD</a></li>
                        <li><a href="http://kobo.rakuten.co.jp/" onclick="s.gclick('kobo','ftr')">電子ブック</a></li>
                        <li><a href="http://auto.rakuten.co.jp/" onclick="s.gclick('auto','ftr')">車・バイク</a></li>
                        <li><a href="https://selectgift.rakuten.co.jp/" onclick="s.gclick('gift','ftr')">セレクトギフト</a></li>
                        <li><a href="http://import.buy.com/" onclick="s.gclick('import','ftr')">個人輸入</a></li>
                        <li><a href="http://netsuper.rakuten.co.jp/" onclick="s.gclick('netsuper','ftr')">ネットスーパー</a></li>
                        <li><a href="http://mart.rakuten.co.jp/" onclick="s.gclick('mart','ftr')">食品宅配</a></li>
                        <li><a href="https://my.rakuten.co.jp/" onclick="s.gclick('myrakuten','ftr')">my Rakuten</a></li>
                        <li><a href="https://point.rakuten.co.jp/" onclick="s.gclick('point','ftr')">楽天PointClub</a></li>
                        <li><a href="http://point-g.rakuten.co.jp/" onclick="s.gclick('pointgallery','ftr')">楽天スーパーポイント特集</a></li>
                        <li><a href="http://p-store.rakuten.co.jp/event/pointget/" onclick="s.gclick('pstore','ftr')">ポイント加盟店</a></li>
                        <li><a href="http://r.ca-mpr.jp/s/552/?i4a=755837" onclick="s.gclick('shareee','ftr')">クーポン(Shareee)</a></li>

                    </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>旅行・エンタメ</dt>
                    <dd><ul>
                        <li><a href="http://travel.rakuten.co.jp/" onclick="s.gclick('travel_dom','ftr')">旅行・ホテル予約・航空券</a></li>
                        <li><a href="http://gora.golf.rakuten.co.jp/" onclick="s.gclick('gora','ftr')">ゴルフ場予約</a></li>
                        <li><a href="http://ticket.rakuten.co.jp/" onclick="s.gclick('ticket','ftr')">イベント・チケット販売</a></li>
                        <li><a href="http://www.rakuteneagles.jp/" onclick="s.gclick('eagles','ftr')">楽天イーグルス</a></li>
                        <li><a href="http://rental.rakuten.co.jp/" onclick="s.gclick('rental','ftr')">DVD・CDレンタル</a></li>
                        <li><a href="http://www.showtime.jp/isp/rakuten/" onclick="s.gclick('showtime','ftr')">アニメ・映画</a></li>
                        <li><a href="http://dl.rakuten.co.jp/" onclick="s.gclick('download','ftr')">ダウンロード</a></li>
                        <li><a href="http://keiba.rakuten.co.jp/" onclick="s.gclick('keiba','ftr')">地方競馬</a></li>
                        <li><a href="http://uranai.rakuten.co.jp/" onclick="s.gclick('uranai','ftr')">占い</a></li>
                        <li><a href="https://toto.rakuten.co.jp/" onclick="s.gclick('toto','ftr')">toto・BIG</a></li>
                        <li><a href="http://entertainment.rakuten.co.jp/" onclick="s.gclick('entertainment','ftr')">映画・ドラマ・エンタメ情報</a></li>
                    </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>マネー</dt>
                    <dd><ul>
                        <li><a href="https://www.rakuten-sec.co.jp/" onclick="s.gclick('sec','ftr')">ネット証券（株・FX・投資信託）</a></li>
                        <li><a href="http://www.rakuten-bank.co.jp/" onclick="s.gclick('ebank','ftr')">インターネット銀行</a></li>
                        <li><a href="http://www.rakuten-bank.co.jp/loan/cardloan/" onclick="s.gclick('ebank','ftr')">カードローン</a></li>
                        <li><a href="http://www.rakuten-card.co.jp/" onclick="s.gclick('kc','ftr')">クレジットカード</a></li>
                        <li><a href="http://www.rakuten-edy.co.jp/" onclick="s.gclick('edy','ftr')">電子マネー</a></li>
                        <li><a href="http://www.rakuten-bank.co.jp/home-loan/" onclick="s.gclick('ebank','ftr')">住宅ローン</a></li>
                        <li><a href="http://hoken.rakuten.co.jp/" onclick="s.gclick('hoken','ftr')">生命保険・損害保険</a></li>
                        <li><a href="http://insurance.rakuten.co.jp/car/" onclick="s.gclick('car_hoken','ftr')">自動車保険一括見積もり</a></li>
                        <li><a href="http://warranty.rakuten.co.jp/" onclick="s.gclick('warranty','ftr')">保証サービス</a></li>
                        <li><a href="http://money.rakuten.co.jp/" onclick="s.gclick('money','ftr')">マネーサービス一覧</a></li>
                    </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>暮らし・情報</dt>
                    <dd><ul>
                        <li><a href="http://www.infoseek.co.jp/" onclick="s.gclick('is','ftr')">ニュース・検索</a></li>
                        <li><a href="http://plaza.rakuten.co.jp/" onclick="s.gclick('blog','ftr')">ブログ</a></li>
                        <li><a href="http://delivery.rakuten.co.jp/" onclick="s.gclick('delivery','ftr')">出前・宅配・デリバリー</a></li>
                        <li><a href="http://dining.rakuten.co.jp/" onclick="s.gclick('dining','ftr')">グルメ・外食</a></li>
                        <li><a href="http://recipe.rakuten.co.jp" onclick="s.gclick('recipe','ftr')">レシピ</a></li>
                        <li><a href="http://www.nikki.ne.jp/" onclick="s.gclick('minshu','ftr')">就職活動</a></li>
                        <li><a href="http://career.rakuten.co.jp/" onclick="s.gclick('career','ftr')">仕事紹介</a></li>
                        <li><a href="http://realestate.rakuten.co.jp/"  onclick="s.gclick('is:house','ftr')">不動産情報</a></li>
                        <li><a href="http://solar.rakuten.co.jp/" onclick="s.gclick('solar','ftr')">太陽光発電</a></li>
                        <li><a href="http://onet.rakuten.co.jp/" onclick="s.gclick('onet','ftr')">結婚相談所</a></li>
                        <li><a href="http://wedding.rakuten.co.jp/" onclick="s.gclick('wedding','ftr')">結婚式場情報</a></li>
                        <li><a href="http://salon.rakuten.co.jp/" onclick="s.gclick('salon','ftr')">美容室・ヘアサロン予約</a></li>
                        <li><a href="http://shashinkan.rakuten.co.jp/" onclick="s.gclick('shashinkan','ftr')">写真プリント</a></li>
                        <li><a href="http://www.rakuten.ne.jp/gold/nuigurumi/" onclick="s.gclick('nuigurumi','ftr')">ぬいぐるみ電報</a></li>
                        <li><a href="http://greeting.rakuten.co.jp/" onclick="s.gclick('greeting','ftr')">グリーティングカード</a></li>
                        <li><a href="http://broadband.rakuten.co.jp/" onclick="s.gclick('broadband','ftr')">プロバイダ・インターネット接続</a></li>
                        <li><a href="http://superwifi.rakuten.co.jp/" onclick="s.gclick('wifi','ftr')">WiFi</a></li>
                    </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>ビジネス</dt>
                    <dd><ul>
                        <li><a href="http://business.rakuten.co.jp/" onclick="s.gclick('business','ftr')">ビジネス見積り</a></li>
                        <li><a href="http://b2b.rakuten.co.jp/" onclick="s.gclick('b2b','ftr')">卸・仕入れ</a></li>
                        <li><a href="http://research.rakuten.co.jp/" onclick="s.gclick('research','ftr')">リサーチ</a></li>
                        <li><a href="http://affiliate.rakuten.co.jp/" onclick="s.gclick('affiliate','ftr')">アフィリエイト</a></li>
                        <li><a href="http://checkout.rakuten.co.jp/biz/" onclick="s.gclick('checkout','ftr')">決済システム</a></li>
                        <li><a href="http://smartpay.rakuten.co.jp/" onclick="s.gclick('smartpay','ftr')">スマホでカード決済</a></li>
                    </ul>
                    </dd>
                </dl>
            </div><!-- /div#serviceList -->
        </div><!-- /div#groupServiceFooter -->
        <div id="companyFooter">
            <ul>
                <li><a href="http://www.ticketstar.jp" rel="nofollow">運営会社</a></li>
                <li><a href="http://ticket.rakuten.co.jp/inquiry" rel="nofollow">お問い合わせ</a></li>
                <li><a href="http://privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
                <li><a href="http://www.ticketstar.jp/legal">特定商取引法に基づく表示</a></li>
                <li class="grpLast"><a href="http://ticket.rakuten.co.jp/terms">サービス利用規約</a></li>
            </ul>
            <p id="copyright">Copyright &copy; 2010-2013 TicketStar Inc. All Rights Reserved.</p>
        </div><!-- /div#companyFooter -->
    </div><!-- /div#grpFooter -->
    <!-- Google Code start -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1009382166;
        var google_conversion_label = "cX0tCPLd1QMQluan4QM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1009382166/?value=0&amp;label=cX0tCPLd1QMQluan4QM&amp;guid=ON&amp;script=0">
        </div>
    </noscript>
    <!-- Google Code finish -->
</div><!-- /div#grpRakutenLinkArea -->

<script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
