<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<%def name="widgets(name)">
  % for w in display_blocks[name]:
      ${w|n}
  % endfor
</%def>

## define
<%def name="search_form_on_header(placeholder, query_id)">
	<form id="form1" name="form1" method="GET" action="${request.route_path("page_search_by_freeword")}">
    <a href="#" class="region fukidashi-btn">開催地</a>
    <img src="/static/RT/img/renewal/header_search_hr.jpg" alt="区切り線" width="4" height="45" class="headerSearch_border" />
		<input name="q" type="text" id="${query_id}" size="30" placeholder="${placeholder}" />
		<input name="imageField" type="image" id="imageField" src="/static/RT/img/renewal/header_search_btn.gif" alt="検索" />
		<a href="${request.route_path("page_search_input")}">詳細検索</a>
	</form>
</%def>

## いいねボタンなど
<%def name="social_buttons(request)">
  <div id="social"  style="float: right; padding-top: 10px">
     <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="RakutenTicket" data-lang="ja">ツイート</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <iframe src="http://www.facebook.com/plugins/like.php?app_id=233610706676154&amp;href=${h.safe_url_quote(request.url)}&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:28px;" allowTransparency="true"></iframe>
  </div>
</%def>

<%def name="top_side_searchform()">
<%
from altairsite.search.forms import TopPageSidebarSearchForm
form = TopPageSidebarSearchForm()
%>
		<div id="sideSearch">
			<h2><img src="/static/RT/img/index/title_search.gif" alt="チケットを探す" width="246" height="36" /></h2>
			<ul>
				<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_cond", value="early_firstcome")}"><img src="/static/RT/img/index/btn_presale.gif" alt="先行抽選" width="222" height="28" /></a></li>
				<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_cond", value="normal")}"><img src="/static/RT/img/index/btn_release.gif" alt="一般発売" width="222" height="28" /></a></li>
				<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_open", value=7)}"><img src="/static/RT/img/index/btn_now.gif" alt="すぐ見たい" width="222" height="28" /></a></li>
				<li><a href="${request.route_path("page_search_by_freeword",_query=dict(q=u"お買い得"))}"><img src="/static/RT/img/index/btn_best.gif" alt="お買い得チケット" width="222" height="28" /></a></li>
			</ul>
			<form id="form2" name="form2" method="GET" action="${request.route_path("page_search_by_multi")}">
				<dl>
					<dt><img src="/static/RT/img/index/search_day.gif" alt="開催日" width="37" height="13" /></dt>
					<dd>
                       ${form.start_year}
                       ${form.start_month}
                       ${form.start_day}
						～<br />
                       ${form.end_year}
                       ${form.end_month}
                       ${form.end_day}
					</dd>
					<dt><img src="/static/RT/img/index/search_place.gif" alt="開催場所" width="52" height="13" /></dt>
					<dd>
                        ${form.area}
					</dd>
				</dl>
				<p><input name="imageField2" type="image" id="imageField2" src="/static/RT/img/index/btn_search.gif" alt="日程・場所で探す" /></p>
			</form>
		</div>
</%def>

<%def name="fukidashi(request)">
<%
   from altaircms.seeds.area import AREA_CHOICES
   i = 0
   %>
  <div class="fukidashi_region">
 		<p>
	    %for en,ja in AREA_CHOICES:
	      <a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="area", value=en)}">${ja}</a>
        <% i+= 1%>
        %if i >= 3:
          <br/>
          <% i = 0 %>
        %endif
	    %endfor
 		</p>
 	</div>
  <script type="text/javascript">
    $(function(){
      $(".fukidashi_region").hide();
      $(".fukidashi-btn").click(function(e){e.preventDefault(); $(".fukidashi_region").toggle();});
    });
  </script>
</%def>

## end of python code
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>${page.title}</title>
    <meta name="description" content="${page.description}">
    <meta name="keywords" content="${page.keywords}">
    
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />

    <meta property="og:site_name" content="楽天チケット" />
    <meta property="fb:app_id" content="253316378120995" />
    <meta property="og:title" content="${page.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://rakuten-ticket-static.s3.amazonaws.com/static/images/logo.gif" />
    <meta property="og:url" content="${request.url}" />
    <meta property="og:description" content="${page.description}" />

    <!--************************************* webフォント使ったら怒られるかな？************************************hiromi****** -->
    <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
      <!--************************************* webフォント使ったら怒られるかな？************************************hiromi****** -->
      
      <link rel="shortcut icon" href="/static/RT/img/common/favicon.ico" />
      <link rel="stylesheet" href="/static/RT/css/import.css" type="text/css" media="all" />
      <script type="text/javascript" src="/static/RT/js/jquery.js"></script>
    </head>
    <body id="detail">
      <p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="/static/RT/img/common/skip.gif" alt="本文へジャンプ" width="1" height="1" /></a></p>
      <div id="container">

        <!-- ========== header ========== -->
        <div id="grpheader">
          
          <p id="tagLine">チケット販売・イベント予約</p>
          <p id="siteID">
            <a href="http://ticket.rakuten.co.jp/"><img src="/static/RT/img/renewal/logo.gif" alt="楽天チケット"/>
          </p>
          <dl id="remoteNav">
            <dt>楽天グループ関連</dt>
            <dd class="grpRelation">
              <ul>
                <li id="grpNote">
                  <noscript>
                    <a href="https://card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a>
                  </noscript>
                </li>
                <li><a href="#">必見！5,000ポイントがもらえる</a></li>
                <li class="grpHome"><a href="http://www.rakuten.co.jp/">楽天市場へ</a></li>
              </ul>
              <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
              <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
            </dd>
            <dt>補助メニュー</dt>
            <dd class="siteUtility">
              <ul>
                %for c in layout.navigation_link_list("siteUtility"):
                <li class="right"><a href="${h.link.get_link_from_category(request,c)}"><img src="${c.imgsrc}" alt="${c.label}" ${(c.attributes or "")|n} /></a></li>
                %endfor
              </ul>
            </dd>
          </dl>
          
        </div>
        
        <div class="clear"></div><div id="globalNav">
          <ul id="globalNav1">
            %for c in layout.navigation_link_list("globalNav1"):
            <li><a href="${h.link.get_link_from_category(request,c)}"><img src="${c.imgsrc}" alt="${c.label}" ${(c.attributes or "")|n} /></a></li>
            %endfor
            %for c in layout.navigation_link_list("globalNav2"):
            <li class="right"><a href="${h.link.get_link_from_category(request,c)}"><img src="${c.imgsrc}" alt="${c.label}" ${(c.attributes or "")|n} /></a></li>
            %endfor
          </ul>
          <ul id="globalNav2">
          </ul>
        </div>

        <div class="clear">
        <div id="headerSearch">
          ${search_form_on_header(u"アーティスト名、公演名、会場名など", "query_id")}
          <dl>
            <dt><img src="/static/RT/img/renewal/header_search_hot.jpg" alt="ホットワード" width="53" height="45" class="headerSearch_hotword" /></dt>
            <dd>
              <ul>
                %for w in layout.hotword_list():
                <li><a href="${request.route_path("page_search_by", kind="hotword", value=w.id)}">${w.name}</a></li>
                %endfor
              </ul>
            </dd>
          </dl>
        ${fukidashi(request)}
        </div>

        <div class="clear"></div>
        <!-- ========== /header ========== -->
        
        <hr />

        <!-- ========== main ========== -->
<div id="main" style="margin-top: 20px;">
<%block name="topicPath">
  ${social_buttons(request)}
  ${widgets("topicPath")}
</%block>

<%block name="main">
   ${widgets("main")}
</%block>
</div>
        <!-- ========== /main ========== -->
        
        <hr />
        
        <!-- ========== side ========== -->
	<div id="side" style="margin-top: 20px;">
<%block name="side">
    ${widgets("side")}
</%block>
	</div>
        <!-- ========== /side ========== -->

	<div id="userBox">
<%block name="userBox">
    ${widgets("userBox")}
</%block>
	</div>  
	<hr />
        
        <!-- ========== footer ========== -->
        
        <div id="grpRakutenLinkArea">
          <ul id="grpSpelinlk">
            <li><a href="#">総合トップ</a></li>
            <li><a href="#">本</a></li>
            <li><a href="#">雑誌</a></li>
            <li><a href="#">DVD・Blu-ray</a></li>
            <li><a href="#">CD</a></li>
            <li><a href="#">ゲーム</a></li>
            <li><a href="#">ソフトウェア</a></li>
            <li class="grpLast"><a href="#">洋書</a></li>
          </ul>

          <dl id="grpKeyword">
            <dt>キーワード</dt>
            <dd>
              <ul>
                <li><a href="#">レストラン検索</a></li>
                <li><a href="#">飲み会・宴会</a></li>
                <li><a href="#">接待</a></li>
                <li><a href="#">個室</a></li>
                <li><a href="#">記念日</a></li>
              </ul>
            </dd>
          </dl>

          <div id="grpFooter">
            <div id="groupServiceFooter">
              <dl class="title">
                <dt>楽天グループのサービス</dt>
                <dd class="allService"><span><a href="http://www.rakuten.co.jp/sitemap/" onclick="s.gclick('sitemap','ftr')">全サービス一覧へ</a></span></dd>
                <dd class="csr"><a href="http://corp.rakuten.co.jp/csr/" rel="nofollow"><img src="//jp.rakuten-static.com/1/im/ci/csr/w80.gif" alt="社会的責任[CSR]" width="80" height="20" /></a></dd>
              </dl>
              <ul id="selectedService" class="serviceCol3">
                <li><dl>
                    <dt><a href="#########" onclick="s.gclick('#########','ftr-rel')">DVD・CDをレンタルする</a></dt>
                    <dd>楽天レンタル</dd>
                </dl></li>
                <li><dl>
                    <dt><a href="#########" onclick="s.gclick('#########','ftr-rel')">映画・ドラマ・スポーツ動画もっと見る</a></dt>
                    <dd>楽天VIDEO</dd>
                </dl></li>
                <li><dl>
                    <dt><a href="#########" onclick="s.gclick('#########','ftr-rel')">本・CD・DVDを購入する</a></dt>
                    <dd>楽天ブックス</dd>
                </dl></li>
                <!--
                    <li><dl>
                        <dt><a href="#########" onclick="s.gclick('#########','ftr-rel')">○○○○○○○○○○○○</a></dt>
                        <dd>○○○○○○</dd>
                    </dl></li>
                    -->
              </ul>
              <div id="serviceList">
                <dl>
                  <dt>お買物・ポイント</dt>
                  <dd><ul>
                      <li><a href="http://www.rakuten.co.jp/" onclick="s.gclick('ichiba','ftr')">ショッピング</a></li>
                      <li><a href="http://auction.rakuten.co.jp/" onclick="s.gclick('auction','ftr')">オークション</a></li>
                      <li><a href="http://books.rakuten.co.jp/" onclick="s.gclick('books','ftr')">本・DVD・CD</a></li>
                      <li><a href="http://ebook.rakuten.co.jp/" onclick="s.gclick('ebook','ftr')">電子書籍</a></li>
                      <li><a href="http://auto.rakuten.co.jp/" onclick="s.gclick('auto','ftr')">車・バイク</a></li>
                      <li><a href="https://selectgift.rakuten.co.jp/" onclick="s.gclick('gift','ftr')">セレクトギフト</a></li>
                      <li><a href="http://import.buy.com/" onclick="s.gclick('import','ftr')">個人輸入</a></li>
                      <li><a href="http://netsuper.rakuten.co.jp/" onclick="s.gclick('netsuper','ftr')">ネットスーパー</a></li>
                      <li><a href="https://my.rakuten.co.jp/" onclick="s.gclick('myrakuten','ftr')">my Rakuten</a></li>
                      <li><a href="https://point.rakuten.co.jp/" onclick="s.gclick('point','ftr')">楽天PointClub</a></li>
                      <li><a href="http://point-g.rakuten.co.jp/" onclick="s.gclick('pointgallery','ftr')">ポイント特集</a></li>
                      <li><a href="http://p-store.rakuten.co.jp/event/pointget/" onclick="s.gclick('pstore','ftr')">ポイント加盟店</a></li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>旅行・エンタメ</dt>
                  <dd><ul>
                      <li><a href="http://travel.rakuten.co.jp/" onclick="s.gclick('travel_dom','ftr')">旅行・ホテル予約・航空券</a></li>
                      <li><a href="http://gora.golf.rakuten.co.jp/" onclick="s.gclick('gora','ftr')">ゴルフ場予約</a></li>
                      <li><a href="http://ticket.rakuten.co.jp/" onclick="s.gclick('ticket','ftr')">イベント・チケット販売</a></li>
                      <li><a href="http://www.rakuteneagles.jp/" onclick="s.gclick('eagles','ftr')">楽天イーグルス</a></li>
                      <li><a href="http://rental.rakuten.co.jp/" onclick="s.gclick('rental','ftr')">DVD・CDレンタル</a></li>
                      <li><a href="http://www.showtime.jp/isp/rakuten/" onclick="s.gclick('showtime','ftr')">アニメ・映画</a></li>
                      <li><a href="http://dl.rakuten.co.jp/" onclick="s.gclick('download','ftr')">ダウンロード</a></li>
                      <li><a href="http://keiba.rakuten.co.jp/" onclick="s.gclick('keiba','ftr')">地方競馬</a></li>
                      <li><a href="http://uranai.rakuten.co.jp/" onclick="s.gclick('uranai','ftr')">占い</a></li>
                      <li><a href="https://toto.rakuten.co.jp/" onclick="s.gclick('toto','ftr')">toto・BIG</a></li>
                      <li><a href="http://entertainment.rakuten.co.jp/" onclick="s.gclick('entertainment','ftr')">映画・ドラマ・エンタメ情報</a></li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>マネー</dt>
                  <dd><ul>
                      <li><a href="https://www.rakuten-sec.co.jp/" onclick="s.gclick('sec','ftr')">ネット証券（株・FX・投資信託）</a></li>
                      <li><a href="http://www.rakuten-bank.co.jp/" onclick="s.gclick('ebank','ftr')">インターネット銀行</a></li>
                      <li><a href="http://www.rakuten-bank.co.jp/loan/cardloan/" onclick="s.gclick('ebank','ftr')">カードローン</a></li>
                      <li><a href="http://www.rakuten-card.co.jp/" onclick="s.gclick('kc','ftr')">クレジットカード</a></li>
                      <li><a href="http://www.edy.jp/">電子マネー</a></li>
                      <li><a href="http://www.rakuten-bank.co.jp/home-loan/" onclick="s.gclick('ebank','ftr')">住宅ローン</a></li>
                      <li><a href="http://hoken.rakuten.co.jp/" onclick="s.gclick('hoken','ftr')">生命保険・損害保険</a></li>
                      <li><a href="http://money.rakuten.co.jp/" onclick="s.gclick('money','ftr')">マネーサービス一覧</a></li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>暮らし・情報</dt>
                  <dd><ul>
                      <li><a href="http://www.infoseek.co.jp/" onclick="s.gclick('is','ftr')">ニュース・検索</a></li>
                      <li><a href="http://plaza.rakuten.co.jp/" onclick="s.gclick('blog','ftr')">ブログ</a></li>
                      <li><a href="http://delivery.rakuten.co.jp/" onclick="s.gclick('delivery','ftr')">出前・宅配・デリバリー</a></li>
                      <li><a href="http://dining.rakuten.co.jp/" onclick="s.gclick('dining','ftr')">グルメ・外食</a></li>
                      <li><a href="http://recipe.rakuten.co.jp" onclick="s.gclick('recipe','ftr')">レシピ</a></li>
                      <li><a href="http://www.nikki.ne.jp/" onclick="s.gclick('minshu','ftr')">就職活動</a></li>
                      <li><a href="http://career.rakuten.co.jp/" onclick="s.gclick('carrer','ftr')">仕事紹介</a></li>
                      <li><a href="http://realestate.rakuten.co.jp/"  onclick="s.gclick('is:house','ftr')">不動産情報</a></li>
                      <li><a href="http://onet.rakuten.co.jp/" onclick="s.gclick('onet','ftr')">結婚相談所</a></li>
                      <li><a href="http://wedding.rakuten.co.jp/" onclick="s.gclick('wedding','ftr')">結婚式場情報</a></li>
                      <li><a href="http://shashinkan.rakuten.co.jp/" onclick="s.gclick('shashinkan','ftr')">写真プリント</a></li>
                      <li><a href="http://nuigurumi.ynot.co.jp/" onclick="s.gclick('nuigurumi','ftr')">ぬいぐるみ電報</a></li>
                      <li><a href="http://greeting.rakuten.co.jp/" onclick="s.gclick('greeting','ftr')">グリーティングカード</a></li>
                      <li><a href="http://broadband.rakuten.co.jp/" onclick="s.gclick('broadband','ftr')">プロバイダ・インターネット接続</a></li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>ビジネス</dt>
                  <dd><ul>
                      <li><a href="http://business.rakuten.co.jp/" onclick="s.gclick('business','ftr')">ビジネス見積り</a></li>
                      <li><a href="http://research.rakuten.co.jp/" onclick="s.gclick('research','ftr')">リサーチ</a></li>
                      <li><a href="http://affiliate.rakuten.co.jp/" onclick="s.gclick('affiliate','ftr')">アフィリエイト</a></li>
                      <li><a href="http://checkout.rakuten.co.jp/biz/" onclick="s.gclick('checkout','ftr')">決済システム</a></li>
                    </ul>
                  </dd>
                </dl>
              </div><!-- /div#serviceList -->
            </div><!-- /div#groupServiceFooter -->
            <div id="companyFooter">
              <ul>
                <li><a href="http://corp.rakuten.co.jp/" rel="nofollow">会社概要</a></li>
                <li><a href="http://privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
                <li><a href="http://corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
                <li class="grpLast"><a href="http://www.rakuten.co.jp/recruit/">採用情報</a></li>
              </ul>
              <p id="copyright">Copyright &copy; 1997-2011 Rakuten, Inc. All Rights Reserved.</p>
            </div><!-- /div#companyFooter -->
          </div><!-- /div#grpFooter -->
        </div><!-- /div#grpRakutenLinkArea -->

        <!-- ========== /footer ========== -->

        <!-- /container -->
      </div>
    </div>
  </body>
</html>
