<%inherit file="altaircms:templates/usersite/outer.html"/>

<div class="howto_wrapper">
    <h2>ご購入の流れ</h2>

    <h4>座席選択を快適にご利用いただくため、以下のブラウザのご利用を推奨します。<br>
        <a href="https://www.google.com/intl/ja/chrome/browser/">Google Chrome</a>&nbsp;&nbsp;&nbsp;<a href="http://www.mozilla.jp/firefox/">Mozilla Firefox 13.0以降</a>&nbsp;&nbsp;&nbsp;Internet Explorer 9.x&nbsp;&nbsp;&nbsp;Safari 5.0以降<br /><span>※Internet Explorer 8.x, 7.x, 6x では表示崩れや座席が選びにくいなどの症状が発生することがあります。</span></h4>

    <div class="howtopurchase">
        <h3>１：開催日・会場を選択する</h3>
        <div>
            ドロップダウンリストより、ご購入になりたい公演の開催日・会場を選択します。<br />
            <br />
            選択が完了すると、席種のリストと会場の座席表が表示されます。

        </div>
        <a href="${request.static_url("altaircms:static/RT/img/howto/01.jpg")} target="_blank"><img src=${request.static_url("altaircms:static/RT/img/howto/01.jpg")}" alt="ご購入の流れ01" /></a>

        <br class="clear" />

        <h3>２：席種・購入枚数を選択し、「座席を選んで購入」ボタンをクリックする</h3>
        <div>
            席種を選択し、リストボックスから購入枚数を選択し、「座席を選んで購入」ボタンをクリックしてください。<br />
            <br />
            「おまかせで購入」ボタンをクリックすると、選択された席種の中からおすすめの座席を自動配席します。<br /><br />
            <div class="redbg">一部、座席選択ができない公演もあります。<br />
                その場合は、席種・枚数を選択のうえ、「購入ボタン」をクリックして次に進みます。</div>

        </div>
        <a href="${request.static_url("altaircms:static/RT/img/howto/02.jpg")} target="_blank"><img src=${request.static_url("altaircms:static/RT/img/howto/02.jpg")}" alt="ご購入の流れ02" /></a>

        <br class="clear" />

        <h3>３：お好きな座席を選択し、「選択」ボタンをクリックする</h3>
        <div>
            座席図上で、選択いただいた購入枚数分の座席をお選びください。<br />
            色のついた座席が選択可能な席です。（ここでは<span class="blueseat"> 青色 </span>の座席）<br /><br />
            座席をクリックすることで座席の色が変わり、選択された状態になります。座席図の下にある「選択」ボタンをクリックすると座席選択は完了です。<br /><br />
            選択後、選んだ席種・座席番号などが表示されますのでご確認のうえ、次へお進みください。<br />
            （座席選択不可の場合には座席番号は表示されません）<br /><br />
            座席を選び直す場合は、一度選択した座席をクリックし、選択カーソルを解除することで選び直すことができます。<br /><br />
            席種を選び直す場合は、「キャンセル」ボタンをクリックすると席種選択に戻ります。<br /><br />
            座席が小さくてみづらい場合には、左側のズーム機能を使って座席を拡大してください。色のついた座席が選択可能な席です。<br /><br />
            <div class="redbg">一部、大規模会場の座席選択においては、座席選択画面の表示の前に「席種エリア」を選択する画面が表示される場合があります。<br />席種・購入の選択後、座席図上でお求めの座席ブロックをクリックの上、表示された座席からお選びください。</div>
        </div>
        <a href="${request.static_url("altaircms:static/RT/img/howto/03.jpg")} target="_blank"><img src=${request.static_url("altaircms:static/RT/img/howto/03.jpg")}" alt="ご購入の流れ03" /></a>
        <br class="clear" />

        <h3>４：お支払い・お引き取り方法を選択し、購入者情報を入力する</h3>
        <div>
            お支払い・お引き取り方法の選択肢のなかからご希望のものを選び、左側にある「○」部分をクリックしてください。<br /><br />
            次に購入者情報を入力します。<br />
            全ての入力欄に正しく入力してください。<br /><br />
            購入完了をお知らせするメールを正しくお届けするためにも、ticket.rakuten.co.jpドメインからのメールを受信できるようPC・携帯電話などの設定を今一度ご確認ください。<br /><br />
            入力が終わったら「次へ」をクリックします。
        </div>
        <a href="${request.static_url("altaircms:static/RT/img/howto/05.jpg")} target="_blank"><img src=${request.static_url("altaircms:static/RT/img/howto/05.jpg")}" alt="ご購入の流れ05" /></a>
        <br class="clear" />

        <h3>５：注文内容を確認する</h3>
        <div>
            ご注文の最終確認画面です。<br /><br />
            ご希望の公演・会場・座席、<br />
            お支払い方法・お引き取り方法、<br />
            購入者情報が一覧で表示されます。<br /><br />
            注文確定後のキャンセル・変更はできませんのでご注意下さい。<br /><br />
            確認が終わったら「次へ」をクリックします。

        </div>
        <a href="${request.static_url("altaircms:static/RT/img/howto/06.jpg")} target="_blank"><img src=${request.static_url("altaircms:static/RT/img/howto/06.jpg")}" alt="ご購入の流れ06" /></a>

        <br class="clear" />

        <h3>６：購入完了！</h3>
        <div>
            この画面が正しく表示されればご購入が正常に完了しています。<br /><br />
            万が一、トラブルが発生したときのために、画面の受付番号をお控えいただくか、この画面をプリントアウトすることをお勧めしております。<br /><br />
            購入内容は<a href="https://rt.tstar.jp/orderreview" target="_blank">こちら</a>からもご確認いただけます。<br /><br />
            ご購入時に選択したお支払い・お引き取り方法での<br />お支払い・お引き取りをお願いいたします。
        </div>
        <a href="${request.static_url("altaircms:static/RT/img/howto/07.jpg")} target="_blank"><img src=${request.static_url("altaircms:static/RT/img/howto/07.jpg")}" alt="ご購入の流れ07" /></a>
        <br class="clear" />

    </div> <!-- howtopurchase -->

</div><!-- howto_wrapper -->

<style type="text/css">

    .howto_wrapper{
        width: 950px;
    }

    h2{
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
        border-left: #C51A20 8px solid;
        border-top: #dedede  1px solid;
        border-right: #dedede  1px solid;
        border-bottom: #dedede  1px solid;
        font-size: 22px;
        font-family: sans-serif;
        padding: 5px 10px;

    }

    h3{
        background: #faf9f6; /* Old browsers */
        background: -moz-linear-gradient(top, #faf9f6 0%, #f1eee3 50%, #e8e5d2 51%, #fafaf4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf9f6), color-stop(50%,#f1eee3), color-stop(51%,#e8e5d2), color-stop(100%,#fafaf4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #faf9f6 0%,#f1eee3 50%,#e8e5d2 51%,#fafaf4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #faf9f6 0%,#f1eee3 50%,#e8e5d2 51%,#fafaf4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #faf9f6 0%,#f1eee3 50%,#e8e5d2 51%,#fafaf4 100%); /* IE10+ */
        background: linear-gradient(to bottom, #faf9f6 0%,#f1eee3 50%,#e8e5d2 51%,#fafaf4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f6', endColorstr='#fafaf4',GradientType=0 ); /* IE6-9 */
        border-left: #5a523f 5px solid;
        border-top: #dedede  1px solid;
        border-right: #dedede  1px solid;
        border-bottom: #dedede  1px solid;
        font-size: 16px;
        font-family: sans-serif;
        padding: 5px 10px;
        margin: 40px 0 30px 0;
    }

    .howtopurchase{
        width: 850px;
        padding: 20px 50px;
    }

    .howtopurchase img{
        width:40%;
        height:auto;
        border: 1px #ccc solid;
        -webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 1px 20px rgba(0,0,0,0.23);
        box-shadow: 0 1px 20px rgba(0,0,0,0.23);
        float: right;
    }

    .howtopurchase img a{
        border: none;
    }
    .howtopurchase div{
        width: 440px;
        float: left;
        padding: 0 30px 0 0;
        margin: 0;
        display: block;
        font-size: 14px;

    }

    h4{
        width: 830px;
        margin: 20px auto 0 auto;
        text-align: center;
        padding: 10px;
        border: #dedede 1px solid;
    }

    h4 span{
        font-size: 12px;
        font-weight: normal;
    }

    .clear{
        clear: both;
    }

    .howtopurchase .redbg{
        background: #ffe4e1;
        padding: 20px;
        width: 400px;
        color: #7a0000;
        font-weight: bold;
    }

    span.blueseat{
        background: #1e15a8;
        color: #fff;
    }

</style>
