## define {{{
<%def name="widgets(name)">
  % for w in display_blocks[name]:
      ${w|n}
  % endfor
</%def>

<%def name="search_form_on_header(placeholder, query_id)">
	<form id="form1" name="form1" method="GET" action="${request.route_path("page_search_by_freeword")}">
		<a href="#" class="region fukidashi-btn">開催地</a>
		<img src="/static/RT/img/renewal/header_search_hr.jpg" alt="区切り線" width="4" height="45" class="headerSearch_border" />
		<input name="q" type="text" class="text" id="${query_id}" size="30" placeholder="${placeholder}" />
		<input name="imageField" type="image" id="imageField" src="/static/RT/img/renewal/header_search_btn.gif" alt="検索" />
		<a href="${request.route_path("page_search_input")}">詳細検索</a>
	</form>
</%def>

<%def name="top_side_searchform()">
<%
from altairsite.search.forms import TopPageSidebarSearchForm
form = TopPageSidebarSearchForm()
%>
		<div id="sideSearch">
			<h2><img src="/static/RT/img/index/title_search.gif" alt="チケットを探す" width="246" height="36" /></h2>
			<ul>
				<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_cond", value="early_firstcome")}"><img src="/static/RT/img/index/btn_presale.gif" alt="先行抽選" width="222" height="28" /></a></li>
				<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_cond", value="normal")}"><img src="/static/RT/img/index/btn_release.gif" alt="一般発売" width="222" height="28" /></a></li>
				<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_open", value=7)}"><img src="/static/RT/img/index/btn_now.gif" alt="すぐ見たい" width="222" height="28" /></a></li>
				<li><a href="${request.route_path("page_search_by_freeword",_query=dict(q=u"ポイントキャンペーン"))}"><img src="/static/RT/img/index/btn_best.gif" alt="お買い得チケット" width="222" height="28" /></a></li>
			</ul>
			<form id="form2" name="form2" method="GET" action="${request.route_path("page_search_by_multi")}">
				<dl>
					<dt><img src="/static/RT/img/index/search_day.gif" alt="開催日" width="37" height="13" /></dt>
					<dd>
            ${form.start_year}
            ${form.start_month}
            ${form.start_day}
						～<br />
            ${form.end_year}
            ${form.end_month}
            ${form.end_day}
					</dd>
					<dt><img src="/static/RT/img/index/search_place.gif" alt="開催場所" width="52" height="13" /></dt>
					<dd>
            ${form.area}
					</dd>
				</dl>
				<p><input name="imageField2" type="image" id="imageField2" src="/static/RT/img/index/btn_search.gif" alt="日程・場所で探す" /></p>
			</form>
		</div>
</%def>

<%def name="fukidashi(request, bind_to)">
<%
   from altaircms.seeds.area import AREA_CHOICES
   i = 0
   %>
  <div class="fukidashi_region">
 		<p>
	    %for en,ja in AREA_CHOICES:
	      <a href="${request.route_path("page_search_by", _query=({"genre": request.GET["genre"]} if "genre" in request.GET else []), kind="area", value=en)}">${ja}</a>
        <% i+= 1%>
        %if i >= 3:
          <br/>
          <% i = 0 %>
        %endif
	    %endfor
 		</p>
    <script type="text/javascript">
      (function($fukidashi_region, $bind_to) {
        $fukidashi_region.hide();
        $fukidashi_region.css({ top: $bind_to.position().top + $bind_to.height() + 20 + "px" });
        $bind_to.click(function(e){$fukidashi_region.toggle();return false;});
      })($("script:last").parent(), ${bind_to|n});
    </script>
 	</div>
</%def>

## }}} end of python code
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>${page.title}</title>
    <meta name="description" content="${page.description}">
    <meta name="keywords" content="${page.keywords}">
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta property="og:site_name" content="楽天チケット" />
    <meta property="fb:app_id" content="253316378120995" />
    <meta property="og:title" content="${page.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://rakuten-ticket-static.s3.amazonaws.com/static/images/logo.gif" />
    <meta property="og:url" content="${request.url}" />
    <meta property="og:description" content="${page.description}" />
    <link rel="shortcut icon" href="/static/RT/img/common/favicon.ico" />
    <link rel="stylesheet" href="/static/RT/css/import.css" type="text/css" media="all" />
    <script type="text/javascript" src="/static/RT/js/jquery.js"></script>
    <%include file="altaircms:templates/front/google-analitics.html"/>
  </head>
  <body id="music">
    <p id="naviSkip"><a href="#main" tabindex="1" title="本文へジャンプ"><img src="/static/RT/img/common/skip.gif" alt="本文へジャンプ" width="1" height="1" /></a></p>
    <div id="container">

        <!-- ========== header ========== -->
        <div id="grpheader">
          
          <p id="tagLine">チケット販売・イベント予約</p>
          <p id="siteID">
            <a href="http://ticket.rakuten.co.jp/"><img src="/static/RT/img/renewal/logo.gif" alt="楽天チケット"/></a>
          </p>
          <dl id="remoteNav">
            <dt>楽天グループ関連</dt>
            <dd class="grpRelation">
              <ul>
                <li id="grpNote">
                  <noscript>
                    <a href="https://card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a>
                  </noscript>
                </li>
                <li class="grpHome"><a href="http://www.rakuten.co.jp/">楽天市場へ</a></li>
              </ul>
              <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
              <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
            </dd>
            <dt>補助メニュー</dt>
            <dd class="siteUtility">
              <ul>
                %for _, c in h.first_and_last(layout.navigation_link_list("siteUtility")):
                <li${_()}><a href="${h.link.get_link_from_category(request,c)}">${c.label}</a></li>
                %endfor
              </ul>
            </dd>
          </dl>
          
        </div>
        
        
        <!--- social buttons --->
        <div id="social">
            <iframe src="https://www.facebook.com/plugins/like.php?app_id=233610706676154&amp;href=${h.safe_url_quote(request.url)}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url=${h.safe_url_quote(request.url)}&amp;via=RakutenTicket&amp;count=none&amp;lang=ja&amp;" style="height: 20px; width: 70px;"></iframe>
        </div>

        <div id="globalNav" class="clear">
          <ul id="globalNav1">
            <li><a href="/"><img src="/static/RT/img/renewal/header_nav_top.jpg" alt="index" width="132" height="38" /></a></li>
            <li><a href="/music"><img src="/static/RT/img/renewal/header_nav_music_active.jpg" alt="music" alt="music 音楽" width="68" height="38" /></a></li>
            <li><a href="/stage"><img src="/static/RT/img/renewal/header_nav_stage.jpg" alt="stage" alt="stage 演劇" width="136" height="38" /></a></li>
            <li><a href="/sports"><img src="/static/RT/img/renewal/header_nav_sports.jpg" alt="sports" alt="sports スポーツ" width="92" height="38" /></a></li>
            <li><a href="/event"><img src="/static/RT/img/renewal/header_nav_event.jpg" alt="event" alt="event イベント・その他" width="146" height="38" /></a></li>
            %for c in layout.navigation_link_list("globalNav2"):
            <li class="right"><a href="${h.link.get_link_from_category(request,c)}"><img src="${c.imgsrc}" alt="${c.label}" ${(c.attributes or "")|n} /></a></li>
            %endfor
          </ul>
          <ul id="globalNav2">
          </ul>
        </div>

        <div class="clear">
        <div id="headerSearch">
          ${search_form_on_header(u"アーティスト名、公演名、会場名など", "query_id")}
          <dl>
            <dt><img src="/static/RT/img/renewal/header_search_hot.jpg" alt="ホットワード" width="53" height="45" class="headerSearch_hotword" /></dt>
            <dd>
              <ul>
                %for w in layout.hotword_list():
                <li><a href="${request.route_path("page_search_by", kind="hotword", value=w.id)}">${w.name}</a></li>
                %endfor
              </ul>
            </dd>
          </dl>
          <script>
          </script>
          ${fukidashi(request, '$(".fukidashi-btn")')}
        </div>
        <div class="clear"></div>
        <!-- ========== /header ========== -->
        
        <hr />

        <!-- ========== main ========== -->
    %if page and hasattr(page,"pageset") and page.pageset.genre:
   	<!-- InstanceBeginEditable name="cat" --><h1><img id="titleImage" src="/static/RT/img/music/title_${page.pageset.genre.name}.gif" alt="${page.pageset.genre.name}"/></h1><!-- InstanceEndEditable -->
    %else:
   	<!-- InstanceBeginEditable name="cat" --><h1><img id="titleImage" src="/static/RT/img/music/title_music.gif" alt="音楽"/></h1><!-- InstanceEndEditable -->
    %endif
<div id="main">
<%block name="main">
   ${widgets("main")}
</%block>
	  <div id="mainLeft">
<%block name="main_left">
   ${widgets("main_left")}
</%block>
	  </div>
	  <div id="mainRight">
<%block name="main_right">
   ${widgets("main_right")}
</%block>
	  </div>
<%block name="main_bottom">
   ${widgets("main_bottom")}
</%block>
	</div>
        <!-- ========== /main ========== -->
        
        <hr />
        
        <!-- ========== side ========== -->
<div id="side">
<%block name="side">
 	${widgets("side")}
</%block>
  <div class="sideCategoryGenre">
    <h2>ジャンル一覧</h2>

	  <ul>
		  % for i,is_me,g in layout.get_genre_tree_with_nestlevel_from_page(page):
        %if is_me:
		      <li><span class="active nest${i}">${g.label}</span></li>          
        %else:
		      <li><a class="nest${i}"href="${h.link.get_link_from_genre(request, g)}">${g.label}</a></li>
        %endif
		  % endfor
    </ul>
</div>

## area
<%
   from altaircms.seeds.area import AREA_CHOICES
   %>
<dl id="sideRefineSearch">
  <dt>エリアを選択</dt>
  <dd>
	  <ul>
	    % for en,ja in AREA_CHOICES:
	    <li><a href="${h.link.get_searchpage(request, page=page, kind="area", value=en)}">${ja}</a></li>
	    % endfor
	  </ul>
  </dd>

## deal_cond
<%
from altairsite.search.forms import DealCondPartForm
%>
<dt>販売状態で絞込み</dt>
<dd>
  <ul>
    % for k in layout.top_salessegment_kind_list:
	  <li><a href="${h.link.get_searchpage(request, page=page, kind="deal_cond", value=k.name)}">${k.label}</a></li>
    % endfor
  </ul>
</dd>

## deal_open
	<dt>発売日・受付日で絞込み</dt>
	<dd>
		<ul>
			<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_open", value=7) }">7日以内に受付・発売開始</a></li>
			<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_open", value=14) }">14日以内に受付・発売開始</a></li>
			<li><a href="${h.link.get_searchpage(request, page=page, kind="deal_open", value=30) }">30日以内に受付・発売開始</a></li>
		</ul>
	</dd>

## event open
	<dt>公演日で絞込み</dt>
	<dd>
		<ul>
			<li><a href="${h.link.get_searchpage(request, page=page, kind="event_open", value=7) }">7日以内に公演</a></li>
			<li><a href="${h.link.get_searchpage(request, page=page, kind="event_open", value=14) }">14日以内に公演</a></li>
			<li><a href="${h.link.get_searchpage(request, page=page, kind="event_open", value=30) }">30日以内に公演</a></li>
		</ul>
	</dd>
</dl>
</div>
        <!-- ========== /side ========== -->
        
        <hr />
        
        <!-- ========== footer ========== -->
        <%include file="altaircms:templates/front/layout/RT/_footer.html"/>
        <!-- ========== /footer ========== -->

        <!-- /container -->
      </div>
    </div>
  </body>
</html>
