<%inherit file="./base.html"/>

<%block name="javascript">
    <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
</%block>

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif

<style>
    .error{
        color: red;
    }
</style>
<form id="form1" name="form1" method="post" action="${request.url}">
  % if event_id:
    <input type="hidden" name="event_id" value=${event_id} />
  % endif
  <input type="hidden" name="performance" value=${performance} />

${agreement_body}
<br/>
<input type="checkbox" name="agree" value="agree" id="agree"/>
<label for="agree">上記の注意事項を確認、同意し、公演に申し込みます。</label><br>

  <input type="submit" value="同意する"/>
</form>
