@charset "UTF-8";
body {
  font-family: meiryo, sans-serif;
  font-size: 14px;
  background: #DCDCDC !important;
  color: #393939;
}

a {
  text-decoration: underline;
  color: #1e73a4;
}
a:hover {
  color: #00A2B4;
}

.sp {
  display: none;
}

header .head {
  height: 60px;
  background: #FF6207;
}
header h1 {
  padding-left: 10px;
  line-height: 60px;
}
header h1 img {
  border-radius: 5px;
  background: #ffffff;
  padding: 5px;
}
header .user_name {
  width: 300px;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 150px;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
}
header .user_name dt {
  text-decoration: underline;
}

main {
  padding: 30px 0;
  background: #ffffff;
}
main #keyvisual {
  background: #FF6207;
  text-align: center;
  margin-bottom: 30px;
}
main #content {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}
main #content #member {
  width: 280px;
  float: left;
}
main #content #member section {
  margin-bottom: 20px;
  border: 8px solid #dfdfdf;
  padding: 6px 6px 10px 6px;
}
main #content #member section h2 {
  background: #5A5A5A;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
}
main #content #member section dl {
  overflow: hidden;
  line-height: 200%;
  margin-bottom: 10px;
}
main #content #member section dt {
  float: left;
  width: 7em;
}
main #content #member section dd:before {
  content: "： ";
}
main #content #member section .btn {
  background: #5A5A5A;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 50px;
  display: inline-block;
}
main #content #member section .btn:after {
  content: "";
  width: 18px;
  height: 11px;
  display: inline-block;
  background: url(../img/btn_icon.png) no-repeat;
  background-position: right;
  background-size: 12px auto;
}
main #content #member section .btn:hover {
  background: #767676;
}
main #content #mypage_main {
  width: 670px;
  float: right;
}
main #content #mypage_main section h3 {
  margin-bottom: 20px;
}
main #content #mypage_main section dl {
  overflow: hidden;
  line-height: 150%;
  margin-bottom: 30px;
  padding-left: 20px;
}
main #content #mypage_main section dt {
  float: left;
  width: 12em;
}
main #content #mypage_main section dt:before {
  content: "";
  width: 15px;
  height: 10px;
  display: inline-block;
  background: url(../img/txt_icon.png) no-repeat;
  background-size: 10px auto;
}
main #content #mypage_main section dd {
  padding-left: 12em;
  padding-bottom: 10px;
}
main #content #mypage_main .btn {
  background: #5A5A5A;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 50px;
  display: inline-block;
}
main #content #mypage_main .btn:after {
  content: "";
  width: 18px;
  height: 11px;
  display: inline-block;
  background: url(../img/btn_icon.png) no-repeat;
  background-position: right;
  background-size: 12px auto;
}
main #content #mypage_main .btn:hover {
  background: #767676;
}
main #content.subpage {
  margin: 0 auto;
  width: 850px;
  min-height: 400px;
  margin-bottom: 20px;
  border: 8px solid #dfdfdf;
  padding: 6px 6px 6px 6px;
}
main #content.subpage h2 {
  letter-spacing: 3px;
  background: #5A5A5A;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 30px;
}
main #content.subpage h3 {
  border-bottom: 8px solid #DEDEDE;
  border-left: 10px solid #DEDEDE;
  padding: 5px 0 5px 10px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
main #content.subpage p {
  margin-bottom: 10px;
}
main #content.subpage ul {
  padding-left: 20px;
}
main #content.subpage hr {
  border-top: 1px solid #dfdfdf;
  margin: 30px 0;
}
main #content.subpage section {
  padding: 0 10px 20px;
}
main #content.subpage .req {
  background: #b80000;
  color: #ffffff;
  padding: 0 5px;
}
main #content.subpage .req_bpx {
  background: #FFE3E3;
  padding: 8px 5px 1px 5px;
  margin-bottom: 20px;
}
main #content.subpage .btn {
  letter-spacing: 3px;
  margin: 10px 0;
  background: #5A5A5A;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 30px;
  width: 480px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
}
main #content.subpage .btn:hover {
  background: #767676;
}
main #content.subpage .btn.w300 {
  width: 300px;
}
main #content.subpage .btn.typ2 {
  background: #848484;
}
main #content.subpage .btn.typ2:hover {
  background: #919191;
}
main #content.subpage .btn2 {
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  background: #848484;
  color: #ffffff;
  padding: 5px 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}
main #content.subpage .acmenu_in {
  display: none;
}
main #content.subpage .att01 {
  text-align: center;
  color: #b80000;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
main #content.subpage .att01:after, main #content.subpage .att01:before {
  vertical-align: middle;
  content: "";
  width: 45px;
  height: 34px;
  display: inline-block;
  background: url(../img/attention.png) no-repeat;
  background-position: right;
  background-size: 38px auto;
}
main #content.subpage .att01:before {
  background-position: left;
}
main #content.subpage.melit dl.member {
  font-size: 15px;
  padding: 10px 0 0 20px;
  overflow: hidden;
}
main #content.subpage.melit dl.member dt {
  background: #dfdfdf;
  padding: 5px;
  margin-bottom: 10px;
  width: 10em;
  float: left;
  text-align: center;
}
main #content.subpage.melit dl.member dd {
  padding: 5px;
  margin-bottom: 10px;
  padding-left: 12em;
}
main #content.subpage.melit .melit_in {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  background: #dfdfdf;
}
main #content.subpage.melit .melit_in h4 {
  text-align: center;
  font-size: 18px;
  color: #5b5b5b;
  padding: 20px 0 10px;
  border-bottom: 8px solid #9d9d9d;
  margin-bottom: 20px;
}
main #content.subpage.melit .melit_in h5 {
  clear: both;
  background: #696969;
  text-align: center;
  color: #ffffff;
  width: 95%;
  padding: 5px;
  font-size: 18px;
  margin: 20px auto;
}
main #content.subpage.melit .melit_in .melit_box {
  margin-left: 35px;
  float: left;
  width: 345px;
  padding-bottom: 20px;
}
main #content.subpage.melit .melit_in .melit_box p {
  display: table-cell;
  vertical-align: middle;
  height: 145px;
  background: url(../img/melit1_img.png) no-repeat left;
  background-size: 145px auto;
  padding-left: 160px;
}
main #content.subpage.melit .melit_in .melit_box dl {
  background: url(../img/melit_arr.png) no-repeat top center;
  background-size: 100px auto;
  padding-top: 40px;
  margin-top: 20px;
  overflow: hidden;
}
main #content.subpage.melit .melit_in .melit_box dt {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  height: 77px;
  width: 77px;
  background: url(../img/melit_bg.png) no-repeat top center;
  background-size: 77px auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
main #content.subpage.melit .melit_in .melit_box dt strong {
  font-size: 20px;
}
main #content.subpage.melit .melit_in .melit_box dd {
  height: 77px;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
main #content.subpage.melit .melit_in .melit_box.melit2 p {
  background-image: url(../img/melit2_img.png);
}
main #content.subpage.melit .melit_in .btn {
  margin: 0 10px 10px 0;
  border-radius: 10px;
  display: inline-block;
  width: 350px;
  font-size: 16px;
  text-align: center;
}
main #content.subpage.melit .melit_in .btn span {
  font-size: 14px;
}
main #content.subpage.maintenance article {
  background: #fff1f1;
  min-height: 420px;
  padding-top: 50px;
}
main #content.subpage.maintenance img {
  width: 20%;
}
main #content.subpage #mypage_main {
  width: auto;
  float: none;
}
main #content.subpage #mypage_main section {
  width: 670px;
  margin: 0 auto;
}
main #content.subpage #mypage_main h3 {
  border: none;
  padding: 0;
  margin: 0 0 10px 0;
}
main #content.subpage.info .subbox {
  overflow: hidden;
}
main #content.subpage.info .subbox ul {
  width: 50%;
  float: left;
}
main #content.subpage .formall {
  overflow: hidden;
}
main #content.subpage .formall p {
  margin-bottom: 0px;
}
main #content.subpage .formall dt {
  float: left;
  padding: 16px;
  font-weight: bold;
}
main #content.subpage .formall dd {
  float: left;
  padding: 10px;
}
main #content.subpage .formall small {
  font-weight: normal;
}
main #content.subpage .formall input {
  border: 1px solid #c0c0c0;
  vertical-align: middle;
  padding: 5px;
}
main #content.subpage .formall input.red {
  border: 1px solid #b80000;
  background-color: #FFCFCF;
}
main #content.subpage .formall select {
  width: 6em;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #c0c0c0;
  background: #eee;
  background: url(../img/arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, white 0%, #efebe1 100%);
  background: url(../img/arrow01.png) right 50% no-repeat, linear-gradient(to bottom, white 0%, #efebe1 100%);
  background-size: 20px, 100%;
}
main #content.subpage .formall select.red {
  border: 1px solid #b80000;
  background: url(../img/arrow01.png) right 50% no-repeat, #ffcfcf;
  background: url(../img/arrow01.png) right 50% no-repeat, #ffcfcf;
  background-size: 20px, 100%;
}
main #content.subpage .formall :disabled {
  background-color: #E4E4E4;
}
main #content.subpage .formall.acmenu_in {
  margin: 0 0 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
main #content.subpage .formall .se_box {
  padding: 6px;
  list-style: none;
}
main #content.subpage .formall .se_box li {
  display: inline-block;
  padding-right: 20px;
}
main #content.subpage .formall .se_box.red {
  background: #FFCFCF;
}
main #content.subpage .formall .form_btn {
  background: #5A5A5A;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 10px;
  display: inline-block;
}
main #content.subpage .formall .form_btn:hover {
  background: #767676;
}
main #content.subpage .formall .req_box span {
  position: relative;
  display: inline-block;
  margin-top: 8px;
  padding: 3px 15px;
  width: auto;
  min-width: 115px;
  color: #F6F6F6;
  text-align: center;
  background: #b80000;
  z-index: 0;
}
main #content.subpage .formall .req_box span:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 15px;
  margin-left: -10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #b80000 transparent;
}
main #content.subpage .formall .dis_box {
  padding-top: 10px;
}
main #content.subpage .formall .dis_box span {
  position: relative;
  display: inline-block;
  padding: 3px 5px;
  color: #F6F6F6;
  text-align: left;
  background: #ff3d8b;
  z-index: 0;
}
main #content.subpage .formall .dis_box span:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 15px;
  margin-left: -10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ff3d8b transparent transparent transparent;
}
main #content.subpage .formall.form1 {
  padding: 20px 0 20px 30px;
}
main #content.subpage .formall.form1 dt {
  clear: left;
  width: 22em;
}
main #content.subpage .formall.form1 dt:before {
  content: "●";
  color: #dfdfdf;
}
main #content.subpage .formall.form1 dd {
  width: 460px;
}
main #content.subpage .formall.form2 {
  padding: 20px 0 20px 150px;
}
main #content.subpage .formall.form2 dt {
  width: 12em;
}

.sb-toggle-right {
  position: absolute;
  top: 7px;
  right: 7px;
}

.navbtn a {
  color: #333;
  display: block;
  width: 130px;
  height: 44px;
}

.navbtn a:after {
  border: 2px solid #ffffff;
  display: block;
  width: 130px;
  height: 44px;
  content: " ";
  background: url(../img/menu.png) no-repeat #535353;
  background-size: 127px auto;
}

.sb-active .navbtn a:after {
  content: " ";
  background-position: 0 -42px;
  background-size: 127px auto;
}

navi {
  z-index: 100 !important;
  background: #a3a3a3 !important;
}
navi ul li {
  list-style: none;
  border-bottom: 1px solid #ffffff;
}
navi ul li:last-child {
  border: none;
}
navi ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
navi ul li a:hover {
  color: #EAEAEA;
}
navi ul li.logout {
  text-align: center;
  padding: 10px;
}
navi ul li.logout a {
  background: #424242;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  display: inline-block;
}
navi ul li.logout a:after {
  vertical-align: middle;
  content: " ";
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url(../img/logout.png) no-repeat;
  background-position: top right;
  background-size: 15px auto;
}
navi ul li.logout a:hover {
  background: #767676;
}

.modal-content {
  width: 70%;
  max-height: 500px;
  overflow-x: auto;
  margin: 0;
  padding: 0px 20px 30px 20px;
  background: white;
  position: fixed;
  display: none;
  z-index: 2;
}
.modal-content h3 {
  border-bottom: 8px solid #DEDEDE;
  border-left: 10px solid #DEDEDE;
  padding: 5px 0 5px 10px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.modal-content p {
  padding-bottom: 10px;
}
.modal-content .date {
  display: inline-block;
  float: right;
  padding-top: 10px;
}
.modal-content .modal-close {
  display: inline-block;
}
.modal-content .modal-close a {
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: #393939;
}

#modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}

footer {
  text-align: center;
  padding-top: 50px;
}
footer ul {
  overflow: hidden;
  list-style: none;
  padding-bottom: 20px;
}
footer ul li {
  display: inline-block;
  padding: 0 0 0 10px;
}
footer ul li:after {
  content: "|";
  padding-left: 13px;
}
footer ul li:last-child:after {
  content: none;
}

.notice table {
  margin-bottom:20px;
  width:100%;
}
.notice td {
  border: solid 1px #ddd;
  padding: 8px;
}
.notice ul, .notice ol {
  -webkit-padding-start: 40px;
}
.notice blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
.notice pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.notice h1, .notice h2, .notice h3, .notice h4, .notice h5, .notice h6 {
  font-weight: 500;
}
.notice h1 {
  font-size: 36px;
}
.notice h2 {
  font-size : 30px !important;
  background-color : #fff !important;
  color : #000 !important;
  padding : 0 !important;
  margin : 0 !important;
  letter-spacing : 0px !important;
}
.notice h3 {
  font-size : 24px !important;
  border : none !important;
  padding : 0 !important;
  margin : 0 !important;
  letter-spacing : 0px !important;
}
.notice h4 {
  font-size: 18px;
}
.notice h5 {
  font-size: 14px;
}
.notice h6 {
  font-size: 12px;
}

.italic{
  font-family: Meiryo, "メイリオ", sans-serif;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.26794919243112214, M21=0, M22=1, SizingMethod='auto expand')";
}

.notice hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.bxslider {
  display: none;
}

select.ie10-11{
  width:7em !important;
  padding-right:2em !important;
}