<%page args="setting=None, order=None, small=False, split=False" />
<%namespace file="/common/helpers.html" name="ch" />
<%namespace file="/common/modal.html" import="delete_modal" />
<script type="text/javascript">
</script>
<%
    actions = {
        'edit':dict(
            label=u'編集',
            url='javascript:edit_setting({});'.format(setting.id),
            icon='icon-pencil',
        ),
        'target':dict(
            label=u'適用公演',
            url=request.route_path('discount_code.target_index', setting_id=setting.id),
            icon='icon-edit',
        ),
        'target_st':dict(
            label=u'適用席種',
            url=request.route_path('discount_code.target_st_index', setting_id=setting.id),
            icon='icon-edit',
        ),
        'code':dict(
            label=u'コード一覧',
            url=request.route_path('discount_code.codes_index', setting_id=setting.id),
            icon='icon-list',
        ),
        'report':dict(
            label=u'帳票',
            url=request.route_path('discount_code.report_print', setting_id=setting.id),
            icon='icon-pencil',
        ),
        'delete':dict(
            label=u'削除',
            url=u'javascript:delete_setting({}, "{}");'.format(setting.id, setting.name),
            attrs={'class':'btn-danger'},
            icon='icon-minus',
        ),
      }

    order_list = ['edit', 'target', 'target_st', 'code', 'report', 'delete']
    # コード管理元が自社でなければ「コード一覧」ボタンを非表示にする
    if setting.issued_by != 'own':
        actions.pop('code', None)
        code_index = order_list.index('code')
        order_list.pop(code_index)

    order = iter(order_list)

    # 設定済の対象があればボタンの色を変える
    btn_info = {'class': 'btn-info'}
    if setting.target_count > 0:
      actions['target']['attrs'] = btn_info

    if setting.target_stock_type_count > 0:
      actions['target_st']['attrs'] = btn_info
%>
% if split:
    <div style="float: left; margin-right: 10px;">
        % for item in order:
      ${HH.action_button(actions, iter([item]), vertical=False, extra_classes=[u'btn-small'] if small else [])}
        % endfor
    </div>
% else:
    <div style="float: left;">
        ${HH.action_button(actions, order, vertical=False, extra_classes=[u'btn-small'] if small else [])}
    </div>
% endif
${delete_modal()}
