<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch"/>

<%block name="breadcrumbs">
    ${ch.breadcrumbs(
    names=[
    HH.route_label('index'),
    HH.route_label(request.matched_route.name)
    ],
    urls=[
    request.route_path('index')
    ]
    )}
</%block>

<%block name="javascript">
  <script src="${request.static_url('altair.app.ticketing:static/js/ticketing.discount_code.js')}"></script>
</%block>

<div class="page-header">
    <h1>${HH.route_label(request.matched_route.name)}</h1>
</div>

<p>※ 状態が「無効」になっている場合は、アイコンをクリックすると理由が表示されます。</p>
<p>※ クーポン・割引コードは<strong>販売単位が1の商品にのみ適用</strong>できます。ペアシート・ボックス席などには適用できません。</p>
<div style="margin-right: 10px;">
    <div class="btn-group ">
        <a href="javascript:new_setting();" class="btn">
            <i class="icon-plus"></i>新規
        </a>
    </div>
</div>

<%include file="./_list.html" args="form=form, settings=settings"/>
<%include file="./_modal.html" args="modal_id='modal_setting'"/>
