<%inherit file="./base.html" />
<%namespace file="./tags_mobile.html" name="mobile" />
<div align="center" style="text-align:center">
${event.title}<br />
${lot.name}
</div>
<%mobile:header>お申込諸条件</%mobile:header>
<%mobile:form_header>受付期間</%mobile:form_header>
<div>
${h.japanese_datetime(sales_segment.start_at)}〜<br />
${h.japanese_datetime(sales_segment.end_at)}
</div>
<%mobile:form_header>制限枚数</%mobile:form_header>
<div>
1希望の申込で${sales_segment.max_quantity}枚まで<br />
</div>
% if lot.entry_limit:
<%mobile:form_header>申込回数制限</%mobile:form_header>
<div>
${u"{0}回".format(lot.entry_limit)}
</div>
% endif
<%mobile:form_header>受付希望数</%mobile:form_header>
<div>
一度の申込で第${lot.limit_wishes}希望まで<br />
</div>
% if lot.description:
<%mobile:form_header>注意事項</%mobile:form_header>
<div>
${view.cr2br(lot.description)|n}
</div>
% endif
% if option_index == 1:
${request.open_form_tag_for_get(action=request.route_path('lots.entry.step1', event_id=event.id, lot_id=lot.id, option_index=option_index))}
<div align="center" style="text-align:center">
<input type="submit" value="お申込画面へ" />
</div>
</form>
% else:
${request.open_form_tag_for_get(action=request.route_path('lots.entry.step3', event_id=event.id, lot_id=lot.id))}
<div align="center" style="text-align:center">
<input type="submit" value="確認画面へ" />
</div>
% endif
