<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="${request.static_url('altair.app.ticketing.coupon:static/ES/pc/images/favicon.ico')}" />
    <link rel="stylesheet"
          href="${request.static_url('altair.app.ticketing.coupon:static/ES/pc/css/new_style.css')}">
    <title>${_(u'購入確認ページ')}</title>
    <script type="text/javascript"
            src="${request.static_url('altair.app.ticketing.coupon:static/common/js/jquery-1.11.3.min.js')}"></script>
    <script type="text/javascript"
            src="${request.static_url('altair.app.ticketing.coupon:static/common/js/new_coupon.js')}"></script>
    <script type="text/javascript"
            src="${request.static_url('altair.app.ticketing.coupon:static/common/js/disable_return_page.js')}"></script>
    <link rel="stylesheet" type="text/css"
          href="${request.static_url('altair.app.ticketing.coupon:static/common/css/new_coupon.css')}" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="coupon">
<div id="wrapper">
${next.body()}
</div>

<footer>
    <div class="copyright">© Entamestyle Inc.</div>
</footer>

</body>
</html>
