<%page args="week_sales, near_end_sales, helper" />
<%namespace file="../common/tags_smartphone.html" name="m" />
<script>
    $(function() {
        $( "#salestab" ).tabs();
    });
</script>

<style>
#salestab {
    background-color: #ffffff;
    border: 0px;
}

#salestab .ui-tabs {
	padding: 0;
	border-width: 0;
}

#salestab .ui-widget-header {
    background-color: #ffffff;
	border: 0;
}

#salestab .ui-tabs-nav {
	border-width: 0;
	padding: 0;
}

#salestab .ui-tabs-panel {
    background-color: cornsilk;
    border: 2px, #000000, solid;
	border-width: 2px;
}

#salestab .ui-tabs-nav li.ui-tabs-selected {
	border-width: 5px;
	margin-bottom: -5px;
}

#salestab .ui-tabs-panel A:link {
    color: #0000cc
}

#salestab .ui-tabs-panel A:visited {
  color: #990099;
}

</style>

<div style='clear:both;' id="salestab">
  <ul>
    <li><a href="#tab_week_sales">今週発売</a></li>
    <li><a href="#tab_near_end_sales">販売終了間近の公演</a></li>
  </ul>
  <div id="tab_week_sales">
    % if week_sales.events:
        % for event in week_sales.events:
            <a href="${request.route_path('smartphone.detail')}?event_id=${event.id}">${event.title}</a><br/>
        % endfor
    % endif
  </div>
  <div id="tab_near_end_sales">
    % if near_end_sales.events:
        % for event in near_end_sales.events:
            <a href="${request.route_path('smartphone.detail')}?event_id=${event.id}">${event.title}</a><br/>
        % endfor
    % endif
  </div>
</div>
