<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />
<%namespace file="/common/modal.html" import="delete_modal" />

<script type="text/javascript">
  function delete_membership(baseurl) {
    var modal = $('#modal-delete');
    modal.find('#message').text('この会員種別を削除します。よろしいですか？');
    modal.find("#delete").click(function(){
      $("#delet form").append($("<input type='hidden'>").attr("name", "membership_id").attr("value", "${membergroup.membership_id}"));
      $("#delet form").append($("<input type='hidden'>").attr("name", "redirect_to").attr("value", "${request.route_path("memberships",action="show", membership_id="membergroup.membership_id")}"));
      $("#delete_form").attr("action", "${request.route_path("membergroups", action="delete", membergroup_id=membergroup.id)}").submit();
      return false;
    })
    modal.modal("toggle");
  };
  $(function(){  $("#delete_link").click(delete_membership);  })
</script>

<form id="delete_form" method="POST">
</form>

<%doc>
## breadcrumbs are not supported yet
<div class="breadcrumbs">
  ${h.breadcrumbs(
      names=[u'トップ', u'membership'],
      urls=[request.route_path('index'), request.route_path('memberships',action="index",membership_id="*")]
  )}
</div>
</%doc>

<div class="page-header">
  <h3>会員種別詳細</h3>
</div>

<div class="content">
  ${h.flash_messages(request)}
</div>

<div>
  <a href="${request.route_path('membergroups',action="edit", membergroup_id=membergroup.id, _query=dict(membership_id=membergroup.membership_id,redirect_to=redirect_to))}" class="btn">編集</a>
  <a id="delete_link" href="#" class="btn">削除</a>
</div>

<%include file="./_detail.html" args="form=form, membergroup=membergroup" /> 

<hr/>


<div class="page-header">
<h3>結びついている販売条件</h3>
</div>
<div class="row-fluid">
  <div class="span12">
    <%include file="/sales_segments/_list.html" args="form=form_sg, sales_segments=salessegments" />
    <%include file="/memberships/salessegments/_action_button.html" args="membergroup=membergroup,redirect_to=redirect_to,order=None,event_id=None" />
  </div>
</div>

${delete_modal()}
