<%inherit file="./base.html"/>

<%block name="javascript">
    <script type="text/javascript" src="${request.static_url('altair.app.ticketing.cart:static/js/ajaxzip3-https.js')}"></script>
</%block>

${self.widget.flow_widget(2)}

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif

<form id="form1" name="form1" method="post" action="${request.url}">
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/KS/pc/images/title_methods.gif')}" alt="お支払い、引き取り方法の指定" width="267" height="30" /></h2>
      %if len(payment_delivery_methods) > 1:
            <p style="margin-left:20px;">どれかひとつをお選びください</p>
      %endif
      <% checked_id = request.params.get('payment_delivery_method_pair_id') %>
      %for m in payment_delivery_methods:
      <div class="settlementPayBox">
        <div class="settlementPayBoxInner">
          <table>
            <tr>
              <% checked = 'checked' if str(m.id) == checked_id else '' %>
              <td class="settlementPayRadio"${' rowspan="2"' if m.system_fee > 0 or m.special_fee > 0 else u''|n}>
                <input type="radio" name="payment_delivery_method_pair_id" id="radio2" value="${m.id}" autocomplete="off" ${checked} />
              </td>
              <td onclick="$(this).parents('tr').find('input').click();">
                <dl>
                  <dt>${m.payment_method.name}</dt>
                  <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                    <span class="paymentFeeLabel">手数料</span>
                    <span class="paymentFee">${h.format_currency(m.transaction_fee)}</span>
                    <span class="paymentFeeType">(${h.fee_type(m.payment_method.fee_type)})</span>
                    <div class="description">${m.payment_method.description or '' | n}</div>
                  </dd>
                </dl>
              </td>
              <td onclick="$(this).parents('tr').find('input').click();">
                <dl>
                  <dt>${m.delivery_method.name}</dt>
                  <dd class="devlieryFee_${h.format_number(m.delivery_fee)}">
                    <span class="deliveryFeeLabel">手数料</span>
                    <span class="deliveryFee">${h.format_currency(m.delivery_fee)}</span>
                    <span class="deliveryFeeType">(${h.fee_type(m.delivery_method.fee_type)})</span>
                    <div class="description">${m.delivery_method.description or '' | n}</div>
                  </dd>
                </dl>
              </td>
            </tr>
            % if m.system_fee > 0 or m.special_fee > 0:
            <tr>
              <td colspan="2">
                <dl class="fullwidth">
                  <dt>上記以外の利用料・手数料</dt>
                  <dd>
                    <dl>
                      %if m.system_fee > 0:
                      <dt>システム利用料</dt>
                      <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                        <span class="paymentFee">${h.format_currency(m.system_fee)}</span>
                        <span class="paymentFeeType">(${h.fee_type(m.system_fee_type)})</span>
                      </dd>
                      %endif
                      %if m.special_fee > 0:
                      <dt>${m.special_fee_name}</dt>
                      <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                        <span class="paymentFee">${h.format_currency(m.special_fee)}</span>
                        <span class="paymentFeeType">(${h.fee_type(m.special_fee_type)})</span>
                      </dd>
                      %endif
                    </dl>
                    <div class="description">
                      上記の利用料・手数料がかかります。
                    </div>
                  </dd>
                </dl>
              </td>
            </tr>
            % endif
          </table>
        </div>
      </div>
      %endfor
      <p>${view_context.mail_filter_domain_notice}</p>
    </div>
  </div>
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('altair.app.ticketing.cart:static/KS/pc/images/title_customer_info.gif')}" alt="購入者情報" width="103" height="30" /></h2>
      <!--
          <h2>購入者情報</h2>
          <div class="settlementPayBox">
            <div class="settlementPayBoxInner">
              -->
      <table id="confirmDelivery">
        <tr>
          <th scope="row">購入者氏名(全角)<span class="notice-label"> ※必須</span></th>
          <td>
            <ul>
              <li>
                ${form['last_name'].label}
                ${form['last_name']}
                (例：山田)
                ${h.error_list(request, form, 'last_name')}
              </li>
              <li>
                ${form['first_name'].label}
                ${form['first_name']}
                (例：太郎)
                ${h.error_list(request, form, 'first_name')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">購入者氏名(全角カナ)<span class="notice-label"> ※必須</span></th>
          <td>
            <ul>
              <li>
                ${form['last_name_kana'].label}
                ${form['last_name_kana']}
                (例：ヤマダ)
                ${h.error_list(request, form, 'last_name_kana')}
              </li>
              <li>
                ${form['first_name_kana'].label}
                ${form['first_name_kana']}
                (例：タロウ)
                ${h.error_list(request, form, 'first_name_kana')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">メールアドレス (半角英数)<span class="notice-label"> ※必須</span></th>
          <td>
            <ul>
              <li>
                ${form['email_1'].label(style=u'width:11em')}
                ${form['email_1'](style=u'width:20em')}
                (例：mail@example.ne.jp)
                ${h.error_list(request, form, 'email_1')}
              </li>
              <li>
                ${form['email_1_confirm'].label(style=u'width:11em')}
                ${form['email_1_confirm'](style=u'width:20em')}
                (例：mail@example.ne.jp)
                ${h.error_list(request, form, 'email_1_confirm')}
              </li>
            </ul>
            <p style="margin-left:10px; font-size:90%; color:#333;">${view_context.mail_filter_domain_notice}</p>
          </td>
        </tr>
        <tr>
          <th scope="row">住所<span class="notice-label"> ※必須</span></th>
          <td>
            <ul>
              <li>${form['zip'].label}
                <% path = request.static_url('altair.app.ticketing.cart:static/js/zipdata') %>
                ${form['zip'](onKeyUp="AjaxZip3.zip2addr('" + path + "', 'zip','','prefecture','city','', 'address_1');")}
                (例: 1030001)
                ${h.error_list(request, form, 'zip')}
              </li>
              <li>${form['prefecture'].label}
                ${form['prefecture']}
                (例: 東京都)
                ${h.error_list(request, form, 'prefecture')}
              </li>
              <li>${form['city'].label}
                ${form['city']}
                (例: 中央区)
                ${h.error_list(request, form, 'city')}
              </li>
              <li>
                <label for="address_1">町名番地</label>
                ${form['address_1'](style=u'width:20em')}
                (例: 日本橋x-xx-xx)
                ${h.error_list(request, form, 'address_1')}
              </li>
              <li>
                <label for="address_2">建物名等</label>
                ${form['address_2'](style=u'width:20em')}
                (例: yyビルz階)
                ${h.error_list(request, form, 'address_2')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">電話番号(半角数字)<span class="notice-label"> ※必須</span></th>
          <td>
            <ul>
              <li>${form['tel_1'].label}
                ${form['tel_1']}
                (例: 080xxxxyyyy)
                ${h.error_list(request, form, 'tel_1')}
              </li>
              <!-- <li>${form['fax'].label}
                   !--   ${form['fax']}
                   !--   ${h.error_list(request, form, 'fax')}
                   !-- </li> -->
            </ul>
          </td>
        </tr>
      </table>
      <!--
          </div>
  </div>
  -->
    </div>
  </div>
  
</div>
<p class="align2"><image onclick="$('#form1').submit()" src="${request.static_url('altair.app.ticketing.cart:static/KS/pc/images/btn_next.gif')}" alt="次へ" width="226" height="46" /></p>
</form>

