@charset "utf-8";

/*
	File Name   : layout.css
	Author      : Kensuke Takahashi
	Description : 各ブロックのレイアウト
*/


/* Container
----------------------------------------------------------- */
#container {
	width: 950px;
	margin: 0 auto 20px;
	padding: 20px 20px;
	background: #fff none repeat scroll 0 0;
	text-align: left;
	box-sizing: border-box;
}


/* Header
----------------------------------------------------------- */
/* margin padding リセット */
#grpheader div,
#grpheader dl,
#grpheader dt,
#grpheader dd,
#grpheader ul,
#grpheader ol,
#grpheader li,
#grpheader h1,
#grpheader form,
#grpheader p {
	margin: 0;
	padding: 0;
}

/* ヘッダ全体枠 */
div#grpheader {
	font-size: 120%;
	text-align: left; /* for Quirks Mode */
}
/* Main
----------------------------------------------------------- */
#main {
	position: relative;
	left: 1px;
	float: right;
	width: 740px;
	line-height: 1.5;
	margin-bottom: 20px;
	padding-top: 3px;
	font-size: 120%;
}

* html #main {
	overflow-x: hidden;
}

#index #main {
	float: left;
	width: 700px;
}

#detail #main {
	float: left;
	width: 690px;
}

#settlement #main {
	position: static;
	float: none;
	width: auto;
	margin: 10px 0 30px;
}

/* reset
----------------------------------------------------------- */
.selectpicker {
    float: right;
    margin: 5px;
    border: 1px solid #111;
    width: 120px;
    padding: 5px 35px 5px 5px;
    font-size: 14px;
    height: 30px;
}

.selectwrapper {
     height: 30px;
}

.selectdiv {
    clear: both;
}
