<%page args="sales_segment, form" />
<%namespace file="/common/helpers.html" name="h" />

% if sales_segment.payment_delivery_method_pairs:
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th></th>
    <th>${form.payment_method_id.label.text}</th>
    <th>${form.delivery_method_id.label.text}</th>
    <th>${form.system_fee.label.text}</th>
    <th>${form.transaction_fee.label.text}</th>
    <th>${form.delivery_fee.label.text}</th>
    <th>${form.discount.label.text}</th>
    <th>${form.discount_unit.label.text}</th>
    <th>${form.unavailable_period_days.label.text}</th>
    <th>${form.public.label.text}</th>
  </tr>
  % for i, pdmp in enumerate(sales_segment.payment_delivery_method_pairs):
  <tr>
    <td><input type="radio" name="payment_delivery_method_pair_id" value=${pdmp.id} /></td>
    <td>${pdmp.payment_method.name}</td>
    <td>${pdmp.delivery_method.name}</td>
    <td>${h.price_format(pdmp.system_fee)}</td>
    <%! from ticketing.core.models import FeeTypeEnum %>
    <%
      fee_type = ''
      if pdmp.payment_method.fee_type == int(FeeTypeEnum.Once.v[0]):
        fee_type = u' / 件'
      if pdmp.payment_method.fee_type == int(FeeTypeEnum.PerUnit.v[0]):
        fee_type = u' / 枚'
    %>
    <td>${h.price_format(pdmp.transaction_fee)}円${fee_type}</td>
    <%
      fee_type = ''
      if pdmp.delivery_method.fee_type == int(FeeTypeEnum.Once.v[0]):
        fee_type = u' / 件'
      if pdmp.delivery_method.fee_type == int(FeeTypeEnum.PerUnit.v[0]):
        fee_type = u' / 枚'
    %>
    <td>${h.price_format(pdmp.delivery_fee)}円${fee_type}</td>
    <td>${h.price_format(pdmp.discount)}</td>
    <td>${pdmp.discount_unit or ''}</td>
    <td>${u'公演%s日前から' % pdmp.unavailable_period_days if pdmp.unavailable_period_days else ''}</td>
    <td>${u'○' if pdmp.public else u'×'}</td>
  </tr>
  % endfor
</table>
% endif
