<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="h" />

<%
  if request.matched_route.name == 'payment_delivery_method_pairs.edit':
    route_name = u'編集'
    route_path = request.route_path('payment_delivery_method_pairs.edit', payment_delivery_method_pair_id=form.id.data)
  else:
    route_name = u'登録'
    route_path = request.route_path('payment_delivery_method_pairs.new', sales_segment_id=sales_segment.id)
%>

<script type="text/javascript">
  % if payment_methods:
  var payment_method_data = {
    % for payment_method in payment_methods:
      '${payment_method.id}':'${payment_method.fee}',
    % endfor
  };
  var delivery_method_data = {
    % for delivery_method in delivery_methods:
      '${delivery_method.id}':'${delivery_method.fee}',
    % endfor
  };

  $(function() {
    $('#payment_method_id').change(function(){
      $('#transaction_fee').val(Math.floor(payment_method_data[$(this).val()]));
    }).change();
    $('#delivery_method_id').change(function(){
      $('#delivery_fee').val(Math.floor(delivery_method_data[$(this).val()]));
    }).change();
  });
  % endif

  $(function() {
    $('#system_fee, #transaction_fee, #delivery_fee, #discount').load(function(){
      $(this).val(Math.floor($(this).val()));
    }).load();

    $('#public').change(function() {
      if ($(this).attr('checked')) {
        $(this).val(${form.public.default});
      } else {
        $(this).val(0);
      }
    }).change();

    $('[rel=popover]').popover();
  });
</script>

<div class="breadcrumbs">
  ${h.breadcrumbs(
    names=[u'イベント', sales_segment.event.title, u'販売区分', sales_segment.name],
    urls=[
      request.route_path('events.index'),
      request.route_path('events.show', event_id=sales_segment.event.id),
      request.route_path('sales_segments.index', event_id=sales_segment.event.id),
    ]
  )}
</div>

<div class="page-header">
  <h1>決済・配送方法${route_name}</h1>
</div>

<div class="content">
  ${h.flash_messages(request)}
  ${h.alert_message(form)}
</div>

<div class="well">
  <form class="form-horizontal" action="${route_path}" enctype="multipart/form-data" method="POST">
    <fieldset>
      % if request.matched_route.name == 'payment_delivery_method_pairs.new':
      ${h.form_item(form.payment_method_id)}
      ${h.form_item(form.delivery_method_id)}
      % else:
      ${h.form_item(form.payment_method_id, option={'disabled':'disabled'})}
      ${h.form_item(form.delivery_method_id, option={'disabled':'disabled'})}
      % endif

      ${h.form_item(form.system_fee, option={'class':'span2'})}
      ${h.form_item(form.transaction_fee, option={'class':'span2'})}
      ${h.form_item(form.delivery_fee, option={'class':'span2'})}
      ${h.form_item(form.discount, option={'class':'span2'})}
      ${h.form_item(form.discount_unit, option={'class':'span2'})}
      <%
        help = u'''
          <span class="help-inline">
            <a href="#" rel="popover" data-original-title="選択不可期間" data-content="パフォーマンス開始日時の何日前から選択できなくなるかを日数指定してください。" >
              <i class="icon-question-sign"></i>
            </a>
          </span>
        '''
      %>
      ${h.form_item(form.unavailable_period_days, option={'class':'span2'}, help=help)}
      ${h.form_item(form.public)}
      ${h.form_item(form.sales_segment_id)}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" name="submit" value="保存">
    </div>
  </form>
</div>
