<%inherit file="./base_nh.html"/>

%if request.session.peek_flash():
    %for message in request.session.pop_flash():
    <div class="error">${message}</div>
    %endfor
%endif
${h.get_nickname(request)} 

<form id="form1" name="form1" method="post" action="${request.url}">
  <div class="settlementBox">
    <div class="settlementBoxInner">
      <h2><img src="${request.static_url('ticketing.cart:static/img/settlement/title_methods.gif')}" alt="お支払い、引き取り方法の指定" width="267" height="30" /></h2>
      <p style="margin-left:20px;">どれかひとつをお選びください</p>
      <% checked_id = request.params.get('payment_delivery_method_pair_id') %>
      <% from ticketing.cart.plugins.sej import DELIVERY_PLUGIN_ID as SEJ_DELIVERY_PLUGIN_ID %>
      <style type="text/css">
.settlementPayBox-disabled {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    position: relative;
}

.settlementPayBox-disabled .settlementPayBoxInner {
    opacity: .2;
    filter: alpha(opacity=20);
}
      </style>
      %for m in payment_delivery_methods:
      <div class="settlementPayBox ${m.delivery_method.delivery_plugin.id == SEJ_DELIVERY_PLUGIN_ID and 'settlementPayBox-disabled' or ''}" onselectstart="return false;">
        <div class="settlementPayBoxInner">
          <table>
            <tr>
              <% checked = 'checked' if str(m.id) == checked_id else '' %>
              <td class="settlementPayRadio">
                <input type="radio" name="payment_delivery_method_pair_id" id="radio2" value="${m.id}" ${checked} ${m.delivery_method.delivery_plugin.id == SEJ_DELIVERY_PLUGIN_ID and 'disabled="disabled"' or ''}/>
              </td>
              <td onclick="$(this).parents('tr').find('input').click();">
                <dl>
                  <dt>${m.payment_method.name}</dt>
                  <dd class="paymentFee_${h.format_number(m.transaction_fee)}">
                    <span class="paymentFee">${h.format_currency(m.transaction_fee)}</span>
                    <span class="paymentFeeType">(${h.fee_type(m.payment_method.fee_type)})</span>
                    <div class="description">${m.payment_method.description or '' | n}</div>
                  </dd>
                </dl>
              </td>
              <td onclick="$(this).parents('tr').find('input').click();">
                <dl>
                  <dt>${m.delivery_method.name}</dt>
                  <dd class="devlieryFee_${h.format_number(m.delivery_fee)}">
                    <span class="deliveryFee">${h.format_currency(m.delivery_fee)}</span>
                    <span class="deliveryFeeType">(${h.fee_type(m.delivery_method.fee_type)})</span>
                    <div class="description">${m.delivery_method.description or '' | n}</div>
                  </dd>
              </dl></td>
            </tr>
          </table>
        </div>
        % if m.delivery_method.delivery_plugin.id == SEJ_DELIVERY_PLUGIN_ID:
        <div style="position: absolute; left: 60px; bottom: 40%; font-size: 20px; color: #d00">
          大変申し訳ございませんが、現在一時的にご利用になれません。ご不便をおかけいたします。
        </div>
        % endif
      </div>
      %endfor
      <p>※ 予約受付完了メール等をメールでご案内します。「ticketstar.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。</p>
    </div>
  </div>
  <div class="confirmBox">
    <div class="confirmBoxInner">
      <h2><img src="${request.static_url('ticketing.cart:static/img/settlement/title_customer_info.gif')}" alt="購入者情報" width="103" height="30" /></h2>
      <!--
          <h2>購入者情報</h2>
          <div class="settlementPayBox">
            <div class="settlementPayBoxInner">
              -->
      <table id="confirmDelivery">
        <tr>
          <th scope="row">購入者氏名(全角)</th>
          <td>
            <ul>
              <li>
                ${form['last_name'].label}
                ${form['last_name']}
                (例：山田)
                ${h.error_list(request, form, 'last_name')}
              </li>
              <li>
                ${form['first_name'].label}
                ${form['first_name']}
                (例：太郎)
                ${h.error_list(request, form, 'first_name')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">購入者氏名(全角カナ)</th>
          <td>
            <ul>
              <li>
                ${form['last_name_kana'].label}
                ${form['last_name_kana']}
                (例：ヤマダ)
                ${h.error_list(request, form, 'last_name_kana')}
              </li>
              <li>
                ${form['first_name_kana'].label}
                ${form['first_name_kana']}
                (例：タロウ)
                ${h.error_list(request, form, 'first_name_kana')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">${form['mail_address'].label}(半角英数)</th>
          <td>
            <ul>
              <li>
                ${form['mail_address'].label}
                ${form['mail_address']}
                (例：mail@example.ne.jp)
                ${h.error_list(request, form, 'mail_address')}
              </li>
              <li>
                ${form['mail_address2'].label}
                ${form['mail_address2']}
                (例：mail@example.ne.jp)
                ${h.error_list(request, form, 'mail_address2')}
              </li>
            </ul>
            <p style="margin-left:10px; font-size:90%; color:#333;">予約受付完了メール等をメールでご案内します。「ticketstar.jp」からのメールを受信できるよう、お申し込み前にドメイン指定の設定を必ずお願いいたします。</p>
          </td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td>
            <ul>
              <li>${form['zip'].label}
                ${form['zip']}
                (例: 1410022)
                ${h.error_list(request, form, 'zip')}
              </li>
              <li>${form['prefecture'].label}
                ${form['prefecture']}
                (例: 東京都)
                ${h.error_list(request, form, 'prefecture')}
              </li>
              <li>${form['city'].label}
                ${form['city']}
                (例: 品川区)
                ${h.error_list(request, form, 'city')}
              </li>
              <li>町名番地
                ${form['address_1']}
                (例: 東五反田x-xx-xx)
                <br />建物名等
                ${form['address_2']}
                (例: yyビルz階)
                ${h.error_list(request, form, 'address_1')}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">電話番号(半角数字)</th>
          <td>
            <ul>
              <li>${form['tel'].label}
                ${form['tel']}
                (例: 080xxxxyyyy)
                ${h.error_list(request, form, 'tel')}
              </li>
              <!-- <li>${form['fax'].label}
                   !--   ${form['fax']}
                   !--   ${h.error_list(request, form, 'fax')}
                   !-- </li> -->
            </ul>
          </td>
        </tr>
      </table>
      <!--
          </div>
  </div>
  -->
    </div>
  </div>
  
</div>
<p class="align2"><image onclick="$('#form1').submit()" src="${request.static_url('ticketing.cart:static/img/settlement/btn_next.gif')}" alt="次へ" width="226" height="46" /></p>
</form>

