<%inherit file="layout.html" />
<div class="purchased">
  <h2>入場チケット情報</h2>
  <table class="purchasedContents">
    <tbody>
      <tr>
        <thead>
          <th colspan="4">${order.performance.event.title} <br />${order.performance.name}<br />${h.japanese_date(order.performance.start_on)} ${h.japanese_time(order.performance.start_on)} ${order.performance.venue.name}</th>
        </thead>
      </tr>
      <tr>
        <td colspan="3">受付番号</td>
        <td class="textR">${order.order_no}</td>
      </tr>
      <tr>
        <td colspan="3">窓口引取番号</td>
        <td class="textR">${reserved_number.number}</td>
      </tr>
      %for product in order.items:
      <tr>
        <th scope="row"><img src="${request.static_url('altair.app.ticketing.coupon:static/leisure/pc/images/icon_dummy.gif')}" alt="" width="22" height="21" /> ${product.product.name}</th>
      % if product.product.sales_segment.setting.display_seat_no and product.seats:
        <td><strong>${product.seat_quantity}</strong>枚</td>
        <td>
        % for seat in product.seats:
          ${seat['name']}<br/>
        % endfor
        </td>
      % else:
      % if product.seats:
      <td colspan="2"><strong>${product.seat_quantity}</strong>枚</td>
      % else:
      <td colspan="2"><strong>${product.quantity}</strong>枚</td>
      % endif
      % endif
        <td class="textR">￥${h.format_number(product.price * product.quantity)}</td>
      </tr>
      %endfor
      <tr>
        <td colspan="3">入場状態</td>
        <td class="textR">
          % if order.printed_at:
            お客様は入場済みです
          % else:
            <div>お客様は、未入場です。</div>
            <form action="${request.route_path('coupon_admission', order_no=order.order_no)}" method="POST">
              <input class="btnLogin" type="submit" style="width:400px;height:50px;" value="入場する"/>
            </form>
          % endif
        </td>
      </tr>
  </table>

</div>
