<%page args="sales_segment_groups, limit=None" />
<%namespace file="/common/helpers.html" name="ch" />
<% paging = False if limit else True %>
<% from altair.app.ticketing.core.models import SalesSegmentGroup, SalesSegmentGroupSetting, SalesSegmentKindEnum %>
% if sales_segment_groups:
<style>
  .pdmp {
    border-left: none !important;
    width: 50%;
    border-bottom: 1px solid #dcdcdc;
  }
  .pdmp-right {
    border-left: 1px solid #dcdcdc !important;
  }
  .pdmp:nth-last-child(-n+2) {
    border-bottom: none !important;
  }
</style>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-bordered table-condensed" style="margin-bottom: 10px;">
      <thead>
        <tr>
          <th>${ch.sortable(SalesSegmentGroup.name, paging)}</th>
          <th>${ch.sortable(SalesSegmentGroup.start_at, paging)}</th>
          <th>${ch.sortable(SalesSegmentGroup.end_at, paging)}</th>
          <th>${ch.sortable(SalesSegmentGroup.account_id, paging)}</th>
          <th>${ch.sortable(SalesSegmentGroup.max_quantity, paging)}</th>
          <%doc><th>${ch.sortable(SalesSegmentGroup.order_limit, paging)}</th></%doc>
          <th>座席選択</th>
          <th>席番の表示</th>
          <th>${ch.sortable(SalesSegmentGroup.public, paging)}</th>
          <th style="width: 8.3%;">決済方法</th>
          <th style="width: 8.3%;">引取方法</th>

          <th class="minwidth">詳細</th>
          <th class="minwidth">編集</th>
          <th class="minwidth">コピー</th>
        </tr>
      </thead>
      <tbody>
      % for i, sales_segment_group in enumerate(sales_segment_groups):
        <% if limit and i >= limit: break %>
        <tr>
          <% count = len(sales_segment_group.payment_delivery_method_pairs) %>
          <% rowspan = '' %>
          <td ${rowspan}>
            <a href="${request.route_path('sales_segment_groups.show', sales_segment_group_id=sales_segment_group.id)}">${sales_segment_group.name}</a><br>
            <p>（${ch.sortable(SalesSegmentGroup.kind, paging)}: ${u''.join(e.v for e in SalesSegmentKindEnum._values if sales_segment_group.kind == e.k)}）</p>
          </td>
          <td ${rowspan}>${vh.datetime(sales_segment_group.start_at, with_weekday=True)}</td>
          <td ${rowspan}>${vh.datetime(sales_segment_group.end_at, with_weekday=True)}</td>
          <td ${rowspan}>${sales_segment_group.account.name}</td>
          <td ${rowspan}>
            ${u'%s枚' % sales_segment_group.max_quantity if sales_segment_group.max_quantity else u'-'} / ${u'%s枚' % sales_segment_group.setting.max_quantity_per_user if sales_segment_group.setting and sales_segment_group.setting.max_quantity_per_user else u'-'} / ${u'%s個' % sales_segment_group.max_product_quatity if sales_segment_group.max_product_quatity else u'-'}
          </td>
          <%doc><td ${rowspan}>${sales_segment_group.order_limit or u''}</td></%doc>
          <td ${rowspan}>${u'選択可' if sales_segment_group.seat_choice else u'×選択不可'}</td>
          <td ${rowspan}>${u'表示' if sales_segment_group.setting.display_seat_no else u'非表示'}</td>
          <td ${rowspan} ${'class = text-error' if not sales_segment_group.public else ''}>${u'公開' if sales_segment_group.public else u'非公開'}</td>

          % if count <= 1:
            %if count == 0:
              <td></td>
              <td></td>
            % else:
              <td>${sales_segment_group.payment_delivery_method_pairs[0].payment_method.name}</td>
              <td>${sales_segment_group.payment_delivery_method_pairs[0].delivery_method.name}</td>
            % endif
          % else:
          <td  colspan="2" style="padding: 0;">
            <table style="width: 100%; height: 100% !important;">
            % for payment_delivery_method_pair in sales_segment_group.payment_delivery_method_pairs:
            <tr>
              <td class="pdmp">${payment_delivery_method_pair.payment_method.name}</td>
              <td class="pdmp pdmp-right">${payment_delivery_method_pair.delivery_method.name}</td>
            </tr>
            % endfor
          </table>
          </td>
          % endif
          <td ${rowspan} align="center" style="width:1%; white-space:nowrap;">
            <%include file="/sales_segment_groups/_action_button.html" args="sales_segment_group_id=sales_segment_group.id,
                                                                             order=['show'],
                                                                             split=True,
                                                                             small=True,
                                                                             with_text=False" />
          </td>
          <td ${rowspan} align="center" style="width:1%; white-space:nowrap;">
            <%include file="/sales_segment_groups/_action_button.html" args="sales_segment_group_id=sales_segment_group.id,
                                                                             order=['edit'],
                                                                             split=True,
                                                                             small=True,
                                                                             with_text=False" />
          </td>
          <td ${rowspan} align="center" style="width:1%; white-space:nowrap;">
            <%include file="/sales_segment_groups/_action_button.html" args="sales_segment_group_id=sales_segment_group.id,
                                                                             order=['copy'],
                                                                             split=True,
                                                                             small=True,
                                                                             with_text=False" />
          </td>
        </tr>
      % endfor
      </tbody>
    </table>
    % if limit and len(sales_segment_groups) > limit:
    <div class="pull-right">
      ${len(sales_segment_groups)}件中${limit}件を表示
      <a href="${request.route_path('sales_segment_groups.index', event_id=event.id)}">もっと見る</a>
    </div>
    % endif
  </div>
</div>
% if paging:
${ch.pager(sales_segment_groups)}
% endif
<script type="text/javascript">
(function (form) {
  get_selected_sales_segment_group_id = function get_selected_sales_segment_group_id() {
    return form.find('input:radio[name="sales_segment_group_id"]:checked').val();
  };
})($('script:last').closest('form'));
</script>
% endif
