<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch"/>
<script type="text/javascript">
function get_selected_sales_segment_group_id() {
  return ${sales_segment_group.id};
}
</script>
<%block name="breadcrumbs">
${ch.breadcrumbs(
  names=[u'イベント', sales_segment_group.event.title, u'販売区分グループ', sales_segment_group.name],
  urls=[
    request.route_path('events.index'),
    request.route_path('events.show', event_id=sales_segment_group.event.id),
    request.route_path('sales_segment_groups.index', event_id=sales_segment_group.event.id),
  ]
)}
</%block>

<div class="page-header">
  <h1>販売区分グループ</h1>
</div>

<%include file="/sales_segment_groups/_detail.html", args="sales_segment_group=sales_segment_group"/>

<%include file="/sales_segment_groups/_action_button.html" args="order=['edit', 'copy', 'delete']" />
<div id="sales_segment_groups-form">
  <%include file="./_modal.html" args="modal_id='modal-sales_segment_group', event=sales_segment_group.event" />
</div>
<div class="btn-group" style="float: left;">
  <a class="btn" href="${request.route_path('lots.new', event_id=sales_segment_group.event.id)}?ssgid=${sales_segment_group.id}" style="margin-left: 10px;">
        抽選
  </a>
</div>

<div style="clear: left;"></div>

<hr />

<h3>決済引取方法</h3>
<%include file="/payment_delivery_method_pairs/_list.html" args="payment_delivery_method_pairs=sales_segment_group.payment_delivery_method_pairs" />
<%include file="/payment_delivery_method_pairs/_action_button.html" args="sales_segment_group=sales_segment_group" />

<hr />

<h3>会員区分</h3>
<div class="row-fluid">
  <div class="span12">
  <%include file="/memberships/groups/_list.html" args="member_groups=member_groups" />
  </div>
</div>

<div class="btn-group">
  <a href="${request.route_path("sales_segment_groups.bind_membergroup", sales_segment_group_id=sales_segment_group.id)}" class="btn">
    <i class="icon-pencil"></i> 会員区分の結びつきを変更
  </a>
</div>

<hr />

<h3>販売区分</h3>
<div class="row-fluid">
  <div class="span12">
    <form>
      <table class="table table-striped table-bordered table-condensed" style="margin-bottom: 10px;">
        <thead>
          <tr>
            <th class="minwidth"></th>
            <th class="minwidth">id</th>
            <th>パフォーマンス</th>
            <th>公演日</th>
            <th>販売開始日時</th>
            <th>販売終了日時</th>
            <th>配券元</th>
            <th>上限枚数</th>
            <th>購入回数制限</th>
            <th>座席選択可</th>
            <th>座席番号の表示</th>
            <th>公開</th>
            <th>購入履歴表示/非表示</th>
            <th>規約表示/非表示</th>
            <th>レポート対象</th>
          </tr>
        </thead>
        <tbody>
        % for i, sales_segment in enumerate(sales_segment_group.sales_segments):
          <tr>
            <td><input type="radio" name="sales_segment_id" value="${sales_segment.id}" /></td>
            <td>${sales_segment.id}</td>
            <td>
              % if sales_segment.performance is not None:
                <a href="${request.route_path('sales_segments.show', sales_segment_id=sales_segment.id)}">${sales_segment.performance.name}</a>
              % elif sales_segment.lots:
		%for lot in sales_segment.lots:
		[抽選]<a href="${request.route_path('lots.show', lot_id=lot.id)}">${lot.name}</a>
		%endfor
              % else:
                -
              % endif
            </td>
            <td>
              %if sales_segment.performance is not None:
                ${vh.datetime(sales_segment.performance.start_on, with_weekday=True)}
              %else:
                -
              %endif
            </td>
            <td>${vh.datetime(sales_segment.start_at, with_weekday=True)}</td>
            <td>${vh.datetime(sales_segment.end_at, with_weekday=True)}</td>
            <td>${sales_segment.account.name if sales_segment.account else u'(未設定)'}</td>
            <td>${u'%s枚' % sales_segment.max_quantity if sales_segment.max_quantity else u'-'} / ${u'%s枚' % sales_segment.setting.max_quantity_per_user if sales_segment.setting and sales_segment.setting.max_quantity_per_user else u'-'} / ${u'%s個' % sales_segment.max_product_quatity if sales_segment.max_product_quatity else u'-'}</td>
            <td>${sales_segment.setting.order_limit if sales_segment.setting and sales_segment.setting.order_limit else u'-'}</td>
            <td>${u'選択可' if sales_segment.seat_choice else u'×選択不可'}</td>
            <td>${u'表示' if sales_segment.setting.display_seat_no else u'非表示'}</td>
            <td ${'class = text-error' if not sales_segment_group.public else ''}>${u'公開' if sales_segment.public else u'非公開'}</td>
            <td>${u'表示' if sales_segment.setting and sales_segment.setting.disp_orderreview else u'非表示'}</td>
            <td>${u'表示' if sales_segment.setting and sales_segment.setting.disp_agreement else u'非表示'}</td>
            <td>${u'対象' if sales_segment.reporting else u'×対象外'}</td>
          </tr>
        % endfor
        </tbody>
      </table>
      <script type="text/javascript">
        (function (form) {
          get_selected_sales_segment_id = function get_selected_sales_segment_id() {
            return form.find('input:radio[name="sales_segment_id"]:checked').val();
          }
        })($('script:last').closest('form'));
      </script>
    </form>
    <%include file="/sales_segments/_action_button.html" />
    <%include file="/sales_segments/_modal.html" args="modal_id='modal-sales_segment'" />
  </div>
</div>
