/* control */
.clear {
    clear: both;
}
.hidden {
    display: none;
}

.float-left {
    float: left;
}

.selected {
	/* border-style: groove;
	 * boder-width: 5px;
	 * border-color: blue;
     */
    background-color: #eee;
}

.noitem {
    height: 60px;
}


/* object */
.block {
    background-color: #aaa;
    border-style: solid;
	border-width: 1px;
	border-color: #777;
    margin: 15px;
}

.widget {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #a7a;
}

.dropped-widget {
    height: 40px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
	width: 95%;
    background-color: #ffffaa;
}

.edited {
    background-color: #ccf;
}
.dropped-widget+.edited {
    background-color: #ccf;
}

/* container */
.simple_overlay {
	width:675px;	
}

#wrapped {
    width: 600px;
}

/* selected element */
div.selected {
	/* border-style: groove;
	 * boder-width: 5px;
	 * border-color: blue;
     */
    background-color: #ccc;
}

#selected_layout ul {
    list-style: none;
	padding: 0px;
	margin: 0px;
}

img.managed {
    border-style: solid;
	border-width: 5px;
	border-color: orange;
}

img.selected {
    border-style: solid;
	border-width: 5px;
	border-color: #ccc;
}


/* close button */
.dropped-widget .close, .dropped-widget .edit {
    visibility: hidden;;
}

.selected .close, .selected .edit {
    visibility: visible;
}

#triggers {
	text-align:center;
}

/* styling for elements inside overlay */
.details {
	position:absolute;
	top:15px;
	right:15px;
	font-size:11px;
	color:#fff;
	width:150px;
}

.details h3 {
	color:#aba;
	font-size:15px;
	margin:0 0 -10px 0;
}

.simple_overlay > div{
	margin-left: 20px;
	margin-top: 20px;
}


.simple_overlay h1{
    color:#fff
}
.simple_overlay .selected{
    background-color: #ff0000;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none;}

.tooltip h2 {
  background-color:#ee8;
}
.tooltip {
  display:none;
  background-color:#ffa;
  border:1px solid #cc9;
  padding:3px;
  width: 600px;
  font-size:13px;
  -moz-box-shadow: 2px 2px 11px #666;
  -webkit-box-shadow: 2px 2px 11px #666;
}