<%def name="actions(product, product_item=None)">
<%
  action_dict = {}
  if product_item:
    action_dict.update({
      'edit':dict(
        label=u'編集',
        url='javascript:edit_product_item(%s);' % (product_item.id),
        icon='icon-pencil',
      ),
      'delete':dict(
        label=u'削除',
        url='javascript:delete_product_item(%s);' % product_item.id,
        icon='icon-minus',
      ),
      'preview':dict(
        label=u'券面プレビュー',
        url='javascript:preview_ticket(%s);' % product_item.id,
        icon='icon-print'
      ),
    })
  action_dict.update({
    'new':dict(
      label=u'追加',
      url='javascript:new_product_item(%s);' % product.id,
      icon='icon-plus',
    ),
  })
  return action_dict
%>
</%def>
