<%page args="form, form_product, performance" />
<%namespace file="/common/helpers.html" name="h" />

<script type="text/javascript">
  $(function() {
    var product = $('#modal-product_item').find('#product');
    var product_item = $('#modal-product_item').find('#product-item');

    product.find('#sales_segment_id').change(function(){
      var choices = {
        % for choice in form_product.sales_segment_id.choices:
        '${choice[0]}':'${choice[1]}',
        % endfor
      }
      $(this).text(choices[$(this).val()]);
    });
    product_item.find('#stock_holder_id').change(function(){
      var stock_type_id = product_item.find('#stock_type_id');
      if (!stock_type_id.val()) {
        stock_type_id.val(product.find('#seat_stock_type_id').attr('value'));
      }
    });

    $('#modal-product_item').on('shown', function(){
      product.find('#sales_segment_id').change();
      product_item.find('#stock_holder_id').change();
      $(this).css('max-height', '750px')
          .css('margin-top', ($(this).outerHeight()/2)*-1)
          .css('margin-left',($(this).outerWidth()/2)*-1);
    });
  })
</script>

<div id="modal-product_item" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <div class="modal-body">
    <form action="javascript:save_product_item();" method="POST">
      <fieldset>
        <div id="product">
          <table class="table table-bordered">
            <tr>
              <th>${form_product.name.label.text}</th>
              <td><span id="name">${form_product.name.data}</span></td>
            </tr>
            <tr>
              <th>${form_product.price.label.text}</th>
              <td><span id="price">${h.price_format(form_product.price.data or 0)}</span></td>
            </tr>
            <tr>
              <th>${form_product.sales_segment_id.label.text}</th>
              <td>
                <span id="sales_segment_id">
                % for choice in form_product.sales_segment_id.choices:
                  % if choice[0] == form_product.sales_segment_id.data:
                    ${choice[1]}
                  % endif
                % endfor
                </span>
                <input id="seat_stock_type_id" type="hidden" value="${form_product.seat_stock_type_id.data}"/>
              </td>
            </tr>
          </table>
        </div>
        <div id="product-item">
          ${h.form_item(form.stock_id)}
          ${h.form_item(form.product_item_id)}
          ${h.form_item(form.performance_id)}
          ${h.form_item(form.product_id)}
          ${h.form_item(form.stock_holder_id)}
          ${h.form_item(form.stock_type_id)}
          ${h.form_item(form.product_item_name)}
          ${h.form_item(form.product_item_price)}
          ${h.form_item(form.product_item_quantity)}
          ${h.form_item(form.ticket_bundle_id)}
        </div>
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="$('#modal-product_item').find('form').submit();" class="btn">保存</a>
  </div>
</div>
