<%page args="form, form_product, performance" />
<%namespace file="/common/helpers.html" import="form_item" />

<script type="text/javascript">
  var stock_holder2stocks = {
    % for stock_holder in performance.event.stock_holders:
      '${stock_holder.id}':[
        % for stock in stock_holder.stocks:
          % if stock.performance_id == performance.id:
            ['${stock.id}', '${stock.stock_type.id}', '${stock.stock_type.name}'],
          % endif
        % endfor
      ],
    % endfor
  }

  $(function() {
    $('#modal-product_item #stock_holders').change(function(){
      $('#modal-product_item #stock_id').children().remove();
      var stock_ids = stock_holder2stocks[$(this).val()];
      var stock_id_node = window.document.getElementById('stock_id');
      if (stock_ids) {
        var seat_stock_type_id = $('#modal-product_item #seat_stock_type_id').attr('value');
        var selectedIndex = 0;
        for (var i = 0; i < stock_ids.length; i++ ) {
          if (seat_stock_type_id == stock_ids[i][1])
            selectedIndex = i;
          stock_id_node.options[i] = new Option(stock_ids[i][2], stock_ids[i][0]);
        }
        stock_id_node.selectedIndex = selectedIndex;
      }
    }).change();

    $('#modal-product_item #sales_segment_id').change(function(){
      var choices = {
        % for choice in form_product.sales_segment_id.choices:
          '${choice[0]}':'${choice[1]}',
        % endfor
      }
      $(this).text(choices[$(this).val()]);
    });

    $('#modal-product_item').on('shown', function(){
      $(this).css('max-height', '750px')
          .css('margin-top', ($(this).outerHeight()/2)*-1)
          .css('margin-left',($(this).outerWidth()/2)*-1);
    });
  });
</script>

<div id="modal-product_item" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>商品</h3>
  </div>

  <div class="modal-body">
    <form action="javascript:save_product_item();" method="POST">
      <fieldset>
        <div id="product">
          <table class="table table-bordered">
            <tr>
              <th>${form_product.name.label.text}</th>
              <td><span id="name"></span></td>
            </tr>
            <tr>
              <th>${form_product.price.label.text}</th>
              <td><span id="price"></span></td>
            </tr>
            <tr>
              <th>${form_product.sales_segment_id.label.text}</th>
              <td>
                <span id="sales_segment_id"></span>
                <input id="seat_stock_type_id" type="hidden" />
              </td>
            </tr>
          </table>
        </div>
        <div id="product-item">
          ${form_item(form.id)}
          ${form_item(form.performance_id)}
          ${form_item(form.product_id)}
          ${form_item(form.stock_holders)}
          ${form_item(form.stock_id)}
          ${form_item(form.name)}
          ${form_item(form.price)}
          ${form_item(form.quantity)}
          ${form_item(form.ticket_bundle_id)}
        </div>
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
    <a href="javascript:void(0);" onclick="$('#modal-product_item').find('form').submit();" class="btn">保存</a>
  </div>
</div>
