<%page args="event=None, performance=None" />
<%namespace file="/common/helpers.html" import="safe_strftime" />

% if event and len(event.products) > 0:
  % for product in event.products:
  <div class="well">
    <div class="span4" style="float: left;">
      <table class="table table-bordered table-condensed">
        <tbody id="product-${product.id}">
        <tr>
          <td><a href="javascript:edit_product('${product.id}');" id="name">${product.name}</a></td>
        </tr>
        <tr>
          <td id="price">${product.price}</td>
        </tr>
        % if product.sales_segment:
        <tr>
          <td>
            <a href="${request.route_path('sales_segments.show', sales_segment_id=product.sales_segment.id)}">
              <div id="sales_segment" value="${product.sales_segment.id}">${product.sales_segment.name}</div >
            </a>
          </td>
        </tr>
        <tr>
          <td>${safe_strftime(product.sales_segment.start_at)}〜${safe_strftime(product.sales_segment.end_at)}</td>
        </tr>
        % endif
        </tbody>
      </table>
    </div>

    % if performance:
      % for item in product.items_by_performance_id(performance.id):
      <div class="span3" style="float: left;">
        <table class="table table-bordered table-condensed">
          <tr>
            <th>枠名</th>
            <td><div id="stock_holder" value="${item.stock.stock_holder.id}">${item.stock.stock_holder.name}</div></td>
          </tr>
          <tr>
            <th>席種</th>
            <td><div id="stock" value="${item.stock.id}">${item.stock.stock_type.name}</div></td>
          </tr>
          <tr>
            <th>席数</th>
            <td>${item.stock.quantity}</td>
          </tr>
          <tr>
            <th>単価</th>
            <td id="price">${item.price}</td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input class="btn btn-mini btn-primary" type="button" value="編集" onclick="javascript:edit_product_item('${product.id}', '${item.id}');">
              <input class="btn btn-mini btn-primary" type="button" value="削除" onclick="javascript:delete_product_item('${item.id}');">
            </td>
          </tr>
        </table>
      </div>
      % endfor
      <input class="btn-mini btn-primary" type="button" value="追加" onclick="javascript:new_product_item('${product.id}');">
    % endif

    <div style="clear: both;"></div>
  </div>
  % endfor
% endif
