@charset "utf-8";

/* common
--------------------------------------------------- */
#settlement .att-text-a { color: #F00; }
#settlement a { text-decoration: underline; }
#settlement a:hover { text-decoration: none; }
#settlement .list-disc li { list-style: outside disc; margin: 0 0 1rem 20px; }
#settlement .error-list li {
	background: #FCC url(../images/icon_error.png) no-repeat 5px center;
	color: #C00;
	font-weight: bold;
	padding: 3px 10px 3px 30px;
	margin-bottom: 5px;
}

/* layout
--------------------------------------------------- */
html {
	font-size: 62.5%;
}
body {
	color: #333;
	font-size: 1.4rem;
	line-height: 1.5;
    font-family:Meiryo,"Hiragino Kaku Gothic ProN",MS-PGothic,sans-serif;
	text-align: center;
	background: #f4f3f1;
}

.ts-wrapper { width: 100%; }


/* ts-header ============================== */
header .head {
  height: 60px;
  margin: 0;
  padding: 0;
}
header h1 {
  text-align: left;
  padding-left: 10px;
  line-height: 60px;
}
header h1 img {
  text-align: left;
  border-radius: 5px;
  background: #ffffff;
  vertical-align: middle !important;
}

/* ts-footer ============================== */
.ts-footer {
	clear: both;
	position: relative;
	width: 950px;
	text-align: left;
	margin: 0 auto;
}

/* ts-contents ============================== */
.ts-contents {
	position: relative;
	width: 100%;
	text-align: left;
	background: #FFF;	
	margin: 0 auto;
}
.ts-contents-inner {

}



/* contents
--------------------------------------------------- */

.confirm-wrap {
	padding: 10px 2%;
}
.confirm-wrap .confirm-wrap-inner {
	border: 1px solid #E3E0DB;
	padding: 20px;
}


/* form-style ============================== */
/* form-reset */
.confirmForm input,
.confirmForm button,
.confirmForm textarea {
/*	margin: 0;
	padding: 0;
	background: none;*/
	border: none;
	border-radius: 0;
	outline: none;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.confirmForm input[type="button"],.confirmForm input[type="submit"] { cursor: pointer; }
.confirmForm input[type="button"]:hover,input[type="submit"]:hover { opacity: 0.6; }


/* form-style */
.confirmForm input[type="text"],
.confirmForm input[type="email"],
.confirmForm input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
	background: #f4f3f1;
	padding: 5px;
	margin: 3px;
}
.confirmForm input[type="text"]:focus { background: #FFF; }
.confirmForm input[type="email"]:focus { background: #FFF; }
.confirmForm input[type="password"]:focus { background: #FFF; }
.confirmForm input::-webkit-input-placeholder { color: #666; }
.confirmForm input:-ms-input-placeholder { color: #666; }
.confirmForm input::-moz-placeholder { color: #666; }
.confirmForm input:focus::-webkit-input-placeholder { color:transparent; }
.confirmForm input:focus:-ms-input-placeholder { color:transparent; }
.confirmForm input:focus::-moz-placeholder { color:transparent; }
.confirmForm select {
	border: 1px solid #CCC;
	padding: 5px;
}

.confirmForm input[type=radio],
.confirmForm input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
.confirmForm input[type=radio] + label,
.confirmForm input[type=checkbox] + label {
    position: relative;     
    display: inline-block;
    margin-right: 12px;
    line-height: 30px;
    cursor: pointer;
}



@media (min-width: 1px) {
.confirmForm input[type=radio],
.confirmForm input[type=checkbox] {
	display: none;
	margin: 0;
	background: #000;
}
.confirmForm input[type=radio] + label,
.confirmForm input[type=checkbox] + label {
	padding: 0 0 0 30px;
}
.confirmForm input[type=radio] + label::before,
.confirmForm input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;	 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -9px; 
	background: #FFF;
}
.confirmForm input[type=radio] + label::before {
	border: 2px solid #ccc;
	border-radius: 30px;
}
.confirmForm input[type=checkbox] + label::before {
	border: 2px solid #ccc;
}
.confirmForm input[type=radio]:checked + label::after,
.confirmForm input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;	 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
.confirmForm input[type=radio]:checked + label::after {
	left: 5px;	 
	width: 8px;
	height: 8px;
	margin-top: -4px;	 
	background: #E71063;
	border-radius: 8px;
}
.confirmForm input[type=checkbox]:checked + label::after {
	left: 3px;	 
	width: 16px;
	height: 8px;
	margin-top: -8px;	 
	border-left: 3px solid #E71063;
	border-bottom: 3px solid #E71063;	 
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
}


/* btn ============================== */

.confirm-btnBox {
	margin: 20px 0;
	text-align: center;
}
.confirm-btnBox .confirm-btnBox-column2 li {
	text-align: center;
}
.btn {
	cursor: pointer;
	display: inline-block;
	width: 205px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none !important;
	padding: 10px;
	margin: 10px;	
}
.btn:hover { opacity: 0.6; }
.btn-primary {
	border: none !important;
	background: #ED4A27 !important;
	color: #FFF !important;
}
.btn-primary-border {
	border: 2px solid #ED4A27 !important;
	border-radius: 5px !important;
	background: #FEF1EF !important;
	color: #ED4A27 !important;
}
.btn-secondly {
    border: none !important;
	background: #999;
	color: #FFF !important;
}

.deactivated {
    pointer-events: none;
    cursor: default;
    background: #F2846C !important;
    
}

/* heading ============================== */
.heading-primary {
	background: #bf0000;
	font-size: 2.0rem;
	color: #FFF;
	font-weight: bold;
	padding: 5px 2%;
	margin-bottom: 10px;	
}
.heading-secondly {
	background: #ABABAB;
	font-size: 1.6rem;
	color: #FFF;
	font-weight: bold;
	padding: 3px 2%;
	margin: 20px 0 5px 0;	
}

.heading_simple_line {
	font-size: 1.8rem;
	color: #bf0000;
	font-weight: bold;
	border-bottom: 2px solid #bf0000;
	padding: 10px;
	margin: 0 0 20px 0;
}



/* nav-stepbar ============================== */

.nav-stepbar {
    position: relative;
	overflow: hidden;
}
.nav-stepbar ol {
    position: relative;
	left: 50%;
	float:left;
}
.nav-stepbar ol li {
    position: relative;
	left: -50%;
    float: left;
	width: 150px;
	height: 50px;
    background: #C5D6DC;
	color: #004763;
    text-align: center;
    border-right: 12px solid #ffffff;
}
.nav-stepbar ol li:after{
	display: block;
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 10px solid #C5D6DC;
}
.nav-stepbar ol li.current {
    background: #739BAA;
	color: #FFF;
	font-weight: bold;
}
.nav-stepbar ol li.current:after{
    border-left: 10px solid #739BAA;
}
.nav-stepbar ol dl {
	padding-top: 3px;
}



/* select ============================== */

.selectdate-box dl dt,.selectdate-box dl dd {
	padding-bottom: 3px;
}
.selectdate-box dl dt {
	background: #EFEFEF;
	font-weight: bold;
	padding: 2px 3px;
	margin-bottom: 5px;
}
.selectdate-box dl dd {
	margin-bottom: 10px;
}
.selectdate-box dl dd #date-select,
.selectdate-box dl dd #venue-select {
	width: 100%;
	height: 30px;
}



.selectseat-wrap {
	margin-bottom: 30px;
}
.selectseat-box{
	float: left;
	width: 49%;
}
.selectseat-map {
	float: right;
	width: 49%;
	background: #EFEFEF;
}

.selectseat-accordion dt {
  position: relative;
	width: 100%;
	display: table;
	background: #FEF1EF;
	border: 1px solid #ED4A27;
	padding: 15px 10px;
	margin-bottom: 3px;
}
.selectseat-accordion dt li { display: inline-table; }
.selectseat-accordion dd.activated {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.selectseat-accordion dt:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -8px;
  background: #ED4A27;
}
 
.selectseat-accordion dt:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -13px;
  background: #FEF1EF;
}

.selectseat-accordion .selectseat-seat { font-weight: bold; }
.selectseat-accordion .selectseat-price { display: table; width: 100%; margin-bottom: 10px; }
.selectseat-accordion .selectseat-price li { display: inline-table; width: 49%; padding: 0; }
.selectseat-accordion .attBox{
	background: #f4f3f1;
	font-size: 1.2rem;
	padding: 5px;
}

.selectseat-btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
	background: #FFFEEC;
	box-shadow: 0 10px 10px 10px rgba(0,0,0,0.3);
	border-top: 2px solid #CCC;
	padding: 10px 2%;
}

.selectseat-btn p.chk-info-title {
    float: left;
    margin-right: 1em;
}
.selectseat-btn dt {
	float: left;
	width: 65%;
}
.selectseat-btn dd {
	float: right;
	width: 34%;
}
.selectseat-btn dd .btn {
	margin: 0;
	width: 100%;
	white-space: nowrap;
}

.seat-count {
	width: 100% !important;
	margin: 0 auto;
}

.btn-selectseat {
    cursor: pointer;
    display: inline-block;
    border: none !important;
    color: #FFF !important;
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none !important;
    padding: 10px;
    position: relative;
    background: #F2846C;
    color: #004763;
    text-align: center;
    border-right: 12px solid #ffffff;
}

.btn-seat-minus {
	left: 0;
    float: left;
}

li.btn-seat-minus:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #F2846C; 
}

.btn-seat-plus {
	right: 0;
    float: right;
}

li.btn-seat-plus:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #F2846C;
}

.btn-seat-active {
    cursor: pointer;
    background: #ED4A27;
}


li.btn-seat-minus.btn-seat-active:before {
    border-right: 10px solid #ED4A27;
}

li.btn-seat-plus.btn-seat-active:after {
    border-left: 10px solid #ED4A27;
}

.settlementBoxInner {
	overflow: hidden;
	padding-bottom: 10px;
}

.settlementSelectBox {
	width: auto;
}
.settlementSelectBoxInner {
	padding: 2px;
	border: 2px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.settlementSelectBox table {
	width: 100%;
}

.settlementSelectBox table tr:first-child th, .settlementSelectBox table tr:first-child td {
    border-top: none;
}
.settlementSelectBox th {
	width: 25%;
	padding: 5px 10px;
	font-size: 116.7%;
	font-weight: bold;
	border-top: 1px solid #efefef;
	background: #fbfbfb none repeat scroll 0 0;
}
.settlementSelectBox td {
	padding: 12px;
	background: #fff;
	border-top: 1px solid #efefef;
}
.settlementSelectBox select {
	padding: 5px;
	border: 1px solid #ccc;
}
.selectdate-box dl {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #CCC;
	padding: 10px;
}
.selectdate-box dl dt,.selectdate-box dl dd {
	padding: 5px;
}

/* .customer-table ============================== */
.customer-table {
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #CCC;
}
.customer-table th,
.customer-table td {
	border: 1px solid #CCC;
	padding: 10px 2%;
}
.customer-table th {
	width: 15%;
	background: #EFEFEF;
	font-weight: bold;
}
.customer-table th span {
	font-weight: normal;
	font-size: 1.0rem;
	color: #787878;
}
.customer-table td p.annot {
	background: #EFEFEF;
	font-size: 1.2rem;
	color: #666;
	line-height: 1.25;
	padding: 5px;
	margin: 5px 0;
}


/* .purchase-wrap ============================== */

.purchase-wrap {
	border: 1px solid #E3E0DB;
	padding: 10px 2%;
}
.purchase-title {
	background: #EFEFEF;
	font-weight: bold;
	padding: 10px;
}
.purchase-table {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #CCC;
	margin-top: 20px;
}
.purchase-table th,
.purchase-table td {
	padding: 10px;
	border-top: 1px solid #EFEFEF;
}
.purchase-table th {
	font-weight: bold;

}
.purchase-table tr.purchase-table-total th,
.purchase-table tr.purchase-table-total td {
	border-top: 2px solid #CCC;
}
.purchase-table td:last-child { text-align: right; }
.purchase-table tr.purchase-table-total td:last-child { font-weight: bold; font-size: 1.8rem; }



/* confirm_attBox ============================== */
.confirm-attBox-a {
	background: #FFE8E8;
	text-align: center;
	padding: 10px;
}
.confirm-attBox-b {
	background: #FEF1EF;
	text-align: center;
	padding: 10px;
}

/* confirm_magBox ============================== */

.confirm-magBox {
	background: #F8F7F5;
	border: 1px solid #E3E0DB;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 10px 3%;
	margin: 0 2%;
}
.confirm-magBox .icon_onmag {
	background: #F79597;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-weight: bold;
	font-size: 1.1rem;
	color: #FFF;
	padding: 0 5px;
}


/* settlement-wrap ============================== */

.settlement-wrap {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:2px solid #EFEFEF;
	margin-bottom: 20px;
}
.settlement-accordion dt {
	position: relative;
	display: block;
	background: #FFF;
	padding: 5px 10px;
	cursor: pointer;
}
.settlement-accordion dt:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 12px;
  height: 12px;
  margin-top: -8px;
  background: #666;
}
.settlement-accordion dt:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 12px;
  height: 12px;
  margin-top: -13px;
  background: #FFF;
}
.settlement-accordion dt.active:before {
  margin-top: -2px;
}
 
.settlement-accordion dt.active:after {
  margin-top: 3px;
}
.settlement-accordion {
	position: relative;
	cursor: pointer;
	background: #FFF;
}
.settlement-accordion dt { padding: 20px 4% 20px 2%; }
.settlement-accordion dt p { line-height: 1.0; }
.settlement-accordion dd {
	margin: 10px 2% 20px 2%;
}

.settlement-list{ font-size: 1.2rem; }	
.settlement-list-typeA:after { content: " + " ; display:block; text-align: center; }

.settlement-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
.settlement-table th,.settlement-table td {
	border: 1px solid #cccccc;
	padding: 10px;
}
.settlement-table th {
	background: #f2f2ee;
}
.settlement-table td:last-child {
	width: 20%;
}
