<%inherit file="./base.html"/>

%if request.session.peek_flash():
<div style="border: 3px solid red; background: #FFEEEE; padding: 10px; margin: 10px;">
  <ul>
    %for message in request.session.pop_flash():
    <li>${message}</li>
    %endfor
  </ul>
</div>
%endif

<div class="confirm-wrap">
  <form id="form1" class="confirmForm" name="form1" method="post" action="${request.url}">
    <div class="customerBox">
      <table class="customer-table">
        <tbody>
          <tr>
            <th>${_(u'楽天スーパーポイント口座(半角数字)')}</th>
          </tr>
          <tr>
            <td>
              <p>
                ${form['accountno'](placeholder=u"(" + __(u"例") + u": 1111-2222-3333-4444)", style="width: 17em; height: 2em")}
                    ${h.error_list(request, form, 'accountno')}
              </p>
              <p class="annot">${_(u'お持ちの方は、楽天スーパーポイント口座情報を入力して下さい。')}</p>
            </td>
          </tr>
          <tr>
            <td>
              ${_(u'楽天ポイント口座を確認するには、')}<a href="https://point.rakuten.co.jp/PointAccount/PointAccountView/?asid=${asid}" target="_blank">${_(u'こちら')} </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pdt20 pdb20 tac">
      <button onclick="$('#form1').submit()" class="btn btn-primary">次へ</button>
    </div>
  </form>
</div>