<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />
<%block name="breadcrumbs">
${ch.breadcrumbs(
  names=[u'トップ', u'member'],
  urls=[request.route_path('index')]
)}
</%block>

<div class="page-header">
  <h3>会員アカウント管理(ユーザサイトログインユーザ管理)</h3>
</div>

<h4>販売種別一覧</h4>
<table class="table table-striped table-bordered">
  <tbody>
    %for membership in memberships:
      <tr>
        <td><a href="${request.route_path("members.index", membership_id=membership.id)}">${membership.name}</a></td>
      </tr>
    %endfor
  </tbody>
</table>
