<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>仙台89ERS 2012-2013 ブースタークラブ入会申込ページ</title>
  <link rel="stylesheet" type="text/css" href="${request.static_url('ticketing.bj89ers:static/style.css')}" media="all" />
  <script language="JavaScript" src="${request.static_url('ticketing.bj89ers:static/js/jquery.js')}"></script>
</head>
<body>
  <div align="center">
    <div class="header">
      <img src="${request.static_url('ticketing.bj89ers:static/images/head_title.png')}" alt="仙台89ERS" width="780" height="135" />
    </div>
    <!-- これはdisplay none指定, なぜか... -->
    <h1 class="title">仙台89ERS 2012-2013 ブースタークラブ入会申込ページ</h1>
	<form action="${request.url}" method="post">
	<table class="layout" style="width:760px" class="wrapper">
      <tr>
		<td>
		  <h2>
        <div style="float:right;font-size:50%;text-align:right;font-weight:normal;">
          購入履歴は<a href="${request.route_url('order_review.form')}" style="color:#ff8">こちらのページ</a>で<br>確認できます
        </div>
        <span>仙台89ERS 2012-2013 ブースタークラブ入会申込ページ</span>
      </h2>
          <div class="formWrapper">
            <table cellpadding="0" cellspacing="0" class="form89ers">
              <colgroup>
                <col style="width:180px;">
                <col style="width:310px;">
              </colgroup>
              <tbody>
                <tr>
                  <th>新規／継続</th>
                    <td>
                      % for c in form.cont:
                        ${c.label}${c()}
                      % endfor
                      <br>
                        <small>お分かりの場合、下記に2011-12年の会員番号をご入力ください</small><br>
                      ${form.old_id_number()}<small>(半角数字8ケタ)</small>
                      ${h.error(['cont','old_id_number'])}
                    </td>
                </tr>
                <tr>
                  <th>会員種別</th>
                  <td>
                    <select id="member_type" name="member_type" class="">
                      <option value="">選択してください</option>
                        % for val in form.member_type.iter_choices():
                          <option value="${val[0]}" with-shirt="${'true' if len(products.get(val[0]).items)-1 else 'false'}"${" selected=selected" if val[0]==form.member_type.data else ''}>${val[1]}</option>
                        % endfor
                        </select>
                        <a href="http://www.89ers.jp/booster/index.html" target=”_blank”><span><small>会員種別についてはこちら</small></span></a>
                        ${h.error('member_type')}
                    </td>
                </tr>
                <tr >
                  <th>Tシャツサイズ</th>
                  <td>
                    ${form.t_shirts_size(id='t_shirts_size',disabled="disabled" )} <span><small>法人/プラチナ/ゴールド会員を選択の方はTシャツサイズをお選びください。</small></span>
                    ${h.error('t_shirts_size')}
                  </td>
                </tr>
                <tr>
                  <th>
                    氏名 <span class="red">*</span>
                  </th>
                  <td>
                    姓${form.last_name(size="45")}<small>（全角）</small><br>
                    名${form.first_name(size="45")}<small>（全角）</small>
                    ${h.error(['last_name','first_name'])}
                  </td>
                </tr>
                <tr>
                  <th>
                    氏名（フリガナ） <span class="red">*</span>
                  </th>
                  <td>
                    セイ${form.last_name_kana(size="45")}<small>（全角カナ）</small><br>
                    メイ${form.first_name_kana(size="45")}<small>（全角カナ）</small>
                    ${h.error(['last_name_kana','first_name_kana'])}
                  </td>
                </tr>
                <tr>
                  <th>
                    誕生日 <span class="red">*</span>
                  </th>
                  <td>
                    ${form.year}年${form.month}月${form.day}日
                    ${h.error(['year','month', 'day'])}
                  </td>
                </tr>
                <tr>
                  <th>
                    性別 <span class="red">*</span>
                  </th>
                  <td>
                    % for c in form.sex:
                     ${c.label}${c()}
                    % endfor
                    ${h.error('sex')}
                  </td>
                </tr>
                <tr>
                  <th>
                    郵便番号 <span class="red">*</span>
                  </th>
                  <td>
                    ${form.zipcode1(size="6", maxlength="3")}-${form.zipcode2(size="6", maxlength="4")}<span><small>（半角英数）</small></span>
                    ${h.error(['zipcode1', 'zipcode2'])}
                  </td>
                </tr>
                <tr>
                  <th>
                    住所 <span class="red">*</span>
                  </th>
                  <td>
                    <!-- TODO: 選択 -->
                    都道府県
                    ${form.prefecture()}<br>
                    市区町村
                    ${form.city(size=20)}<br>
                    町名番地 ${form.address1(size=45)}
                    <br>
                    建物名等 ${form.address2(size=45)}
                    ${h.error(['prefecture', 'city', 'address1', 'address2'])}
                    </td>
                </tr>
                <tr>
                  <th>
                    電話番号（携帯）
                  </th>
                  <td>
                    ${form.tel_1(size=12)}<span><small>（半角数字）</small></span>
                    ${h.error(['tel_1'])}
                  </td>
                </tr>
                <tr>
                  <th>
                    電話番号（自宅）<span class="red">*</span>
                  </th>
                  <td>
                    ${form.tel_2(size=12)}<span><small>（半角数字）</small></span>
                    ${h.error(['tel_2'])}
                  </td>
                </tr>
                <tr>
                  <th>
                    メールアドレス <span class="red">*</span>
                  </th>
                  <td>
                    ${form.email}
                    ${h.error('email')}
                  </td>
                </tr>
                <tr>
                  <th>
                  メールアドレス（確認用）<span class="red">*</span>
                  </th>
                  <td>
                   ${form.email2}
                    ${h.error('email2')}
                  </td>
                </tr>
                <tr>
                  <th>
                    仙台89ERSからのメールマガジンの配信
                  </th>
                  <td>
                   ${form.mail_permission}
                    ${h.error('mail_permission')}
                  </td>
                </tr>
                <tr>
                  <th>
                  　メモリアルブックへの氏名掲載希望
                  </th>
                  <td>
                    ${form.publicity} <span><small>ライト・ジュニア会員は記載されません</small></span>
                    ${h.error('publicity')}
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:center">
                     <div class="textRight red" style="font-size:12px;">*は入力必須項目です。</div>
                     <input type="submit" value="次に進む" class="submit" style="width:400px;height:50px;">
                  </td>
              </tr>
            </tbody>
        </table>
    </div>


<br />
<br />
<br />			
			</td>
		</tr>
    </table>
</form>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#member_type').change(function(){
        if ($(this + 'option:selected').attr('with-shirt') == 'true')
          $('#t_shirts_size').removeAttr('disabled')
        else
          $('#t_shirts_size').attr('disabled','disabled')

        if ($.inArray($(this).attr('value'), ['1', '3', '4', '5']) > -1)
          $('#publicity').removeAttr('disabled')
        else
          $('#publicity').attr('disabled','disabled')
      }).change();
    });
  </script>

	<%include file="../commons/footer.inc" />
	
</body>
</html>
