<%def name="band(bgcolor='blue', color='#ffffff')">
<div style="background-color:${bgcolor}" bgcolor="${bgcolor}">
% if color:
<font color="${color}">
% endif
${caller.body()}
% if color:
</font>
% endif
</div>
</%def>
<%def name="header(markercolor='blue')">
<div><font color="${markercolor}">■${caller.body()}</font></div>
</%def>
<%def name="line(width=1,color='blue')">
<div
% if color:
  style="background-color:${color}" bgcolor="${color}"
% endif
><img src="${request.static_url('altaircms:static/RT/mobile/clear.gif')}" width="1" height="${width}" /></div>
</%def>
