<%inherit file="layout.html" />
<%namespace file="altair.app.ticketing.passport:templates/__commons__/pc/helper.html" name="h" />

<header>
    <div class="header-inner">
        <h1>
            <a href="http://lagunatenbosch.tstar.jp/"><img
                    src="${request.static_url('altair.app.ticketing.passport:static/NF/pc/images/logo.png')}"
                    alt="ニフレルWEBチケット"></a>
        </h1>
    </div>
</header>

<section>
    <div id="modal-content">
        <form id="passport_form" action="" method="POST">
            <input class="btn-attention btn-attention-red" value="利用する" type="submit">
            <input id="modal-close" class="btn-attention btn-attention-gray" value="やめる" type="button">
            <input id="disp_dialog" name="disp_dialog" type="checkbox">
            <label for="disp_dialog" class="checkbox">次回から表示しない</label>
        </form>
        <div class="attention">本当に利用しますか？この操作は、施設（または店舗）の方が行います。お客様ご自身が、押してしまった場合は無効になります。</div>
    </div>
    <div id="alert-modal-content">
        <div class="super-attention">※このチケットは既に使用されています。</div>
        <form id="alert_passport_form" action="" method="GET">
            <input class="btn-attention" value="前に戻る" type="submit">
        </form>
    </div>

    <h2>チケット情報</h2>
    <div class="purchased">
  <div class="security_box">
    <div class="security_body" style="background-color:${passport_security.color}">
      ${passport_security.security_number}
    </div>

        <div class="purchasedContents contents-area">
            <ul>
                <li><span class="contents-area-point">イベント名</span><span
                        class="contents-area-txt">${order.performance.event.title}</span></li>
                <li><span class="contents-area-point">公演名</span><span class="contents-area-txt">${order.performance.name}</span>
                </li>
                <li><span class="contents-area-point">受付番号</span><span class="contents-area-txt">${order.order_no}</span>
                </li>
            </ul>
        </div>
    </div>

    ${h.render_passport(order)}
    </div>

    ${h.render_all_passport_button(order)}
</section>

<script>
<% from altair.app.ticketing.passport import PASSPORT_COOKIE_NAME %>
if(document.cookie.indexOf("${PASSPORT_COOKIE_NAME}") > -1){
  $(".confirm_exist").hide();
  $(".confirm_not_exist").show();
} else {
  $(".confirm_exist").show();
  $(".confirm_not_exist").hide();
}
</script>
