body {
  margin: 0 0;
  font-family: Helvetica;
  font-size: 17px;
  line-height: 1.5em;
  -webkit-text-size-adjust: none;
}

.page {
  width: 100%;
}

.header {
  overflow: hidden;
}

.header .grpheader {
  float: left;
  height: 80px;
}

.header .side-action-buttons {
  float: right;
  height: 20px;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  padding: 10px 0;
}

.header .band {
  clear: both;
  background-color: #78CAE7;
  color: #fff;
}

.header h1 {
  padding: 4px 0;
  margin: 0 0;
  font-size: 17px;
}

ul.menu {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0;
  overflow: hidden;
  width: 100%;
}

.menuitem {
  float: left;
  display: block;
  width: 100%;
  background-image: linear-gradient(top, #fff 0%, #f2f3e5 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, #f2f3e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f3e5));
  background-image: -moz-linear-gradient(top, #fff 0%, #f2f3e5 100%);
  height: 44px;
  vertical-align: middle;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.5em;
}
 
.menuitem:hover,
.menuitem:active {
  background-image: linear-gradient(top, #f8f8f8 0%, #eaebcc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eaebcc));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #eaebcc 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #eaebcc 100%);
}

.menuitem > .menuitem-label {
  display: block;
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #ccc;
  padding: 6px 0px 6px 10px;
  line-height: 32px;
  height: 32px;
  white-space: nowrap;
  vertical-align: bottom;
}

.menuitem-label:before {
  content: "";
  display: block;
  float: right;
  font-family: Serif;
  color: #888;
  text-shadow: 1px 1px 2px #fff;
  background: url("../images/rarrow.png") no-repeat center center;
  margin: 0 8px 0 10px;
  width: 12px;
  height: 32px;
  vertical-align: middle;
}

.menu._2cols .menuitem {
  width: 50%;
  font-size: 14px;
  line-height: 1.5em;
}

.menuitem i.icon:before {
  display: inline-block;
  vertical-align: -2px;
  content: "";
  width: 16px;
  height: 16px;
}

.menuitem i.icon.music:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #5454f2;
}

.menuitem i.icon.sports:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f0f296;
}

.menuitem i.icon.stage:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f0d1d2;
}

.menuitem i.icon.event:before {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #a1deff;
}

.sectionbox {
  width: 100%;
}

.sectionbox.inverted {
  color: #fff;
  background-color: #bf0000;
  background-image: linear-gradient(top, #bf0000 0%, #b81118);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf0000), to(#b81118));
  background-image: -webkit-linear-gradient(top, #bf0000 0%, #b81118);
  background-image: -moz-linear-gradient(top, #bf0000 0%, #b81118);
  box-shadow: inset 2px 2px 8px 0px rgba(0, 0, 0, .25);
}

.sectionbox.inverted a {
  color: #fff;
}

.sectionbox.inverted a:visited {
  color: #fff;
}

.sectionbox p:first-child,
.sectionbox p.first {
  margin: 0 0;
}

.sectionbox p {
  margin: 4px 0 0 0;
}

.sectionbox > .sectionbox-inner {
  padding: 10px 10px 10px 10px;
  margin: 0 0;
}

.btn {
  text-decoration: none;
  padding: 0 1em;
  font-size: 75%;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.btn-large {
  font-size: 20px;
  line-height: 40px;
  height: 44px; 
}

.buttonbox {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0 0;
  padding: 10px 10px;
  white-space: nowrap;
}

.buttonbox .btn {
  width: 100%;
}

ul.buttonbox {
  list-style-type: none;
  margin-right: 10px;
}

ul.buttonbox._2cols > li {
  float: left;
  margin: 0 0;
  padding: 0 0;
  display: block;
  width: 50%;
}

ul.buttonbox > li:first-child .btn {
  margin-left: 0px;
}

ul.buttonbox > li .btn {
  margin-left: 10px;
}

.buttonset {
  margin: 0 0;
  padding: 0 0;
  overflow: hidden;
}

ul.buttonset {
  list-style-type: none;
}

ul.buttonset li {
  float: left;
}

ul.buttonset._4cols li {
  width: 25%;
}

a.button {
  text-decoration: none;
}

ul.buttonset._4cols li button.embedded,
ul.buttonset._4cols li .button.embedded {
  display: block;
  width: auto;
  border: none;
  height: 60px;
  width: 100%;
  font-size: 12px;
  background-image: linear-gradient(top, #fff 0%, #e3e3e3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #fff 0%, #e3e3e3);
  background-image: -moz-linear-gradient(top, #fff 0%, #e3e3e3);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #555;
  font-weight: bold;
  padding: 0 0;
  text-align: center;
}

ul.buttonset._4cols li button.embedded.first,
ul.buttonset._4cols li .button.embedded.first {
  border-left: none;
}

ul.buttonset._4cols li button.embedded:active,
ul.buttonset._4cols li .button.embedded:active {
  background-image: linear-gradient(top, #fff 0%, #ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff 0%, #ddd);
  background-image: -moz-linear-gradient(top, #fff 0%, #ddd);
  margin-top: 1px;
  margin-bottom: -1px;
}

ul.buttonset._4cols li button.embedded .icon,
ul.buttonset._4cols li .button.embedded .icon {
  display: block;
  margin: 0 auto;
}

ul.buttonset i.icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  padding: 0 0;
  margin: 0 0;
  display: inline-block;
}

.icon.rlogo {
  background-position: center center;
  background-image: url(../images/icon.png);
}

.icon.orderreview {
  background-position: center center;
  background-image: url(../images/orderreview.png);
}

.icon.mailmag {
  background-position: center center;
  background-image: url(../images/mailmag.png);
}

.icon.okng {
  background-position: center center;
  background-image: url(../images/okng.png);
}

.condensed {
  font-size: 13px;
  line-height: 1.25em;
}

.h_70px {
  height: 70px;
}

.panel.condensed img.thematic,
.condensed .panel img.thematic {
  width: 66px;
  height: 66px;
  border: 1px solid #ccc;
  margin: 0 5px 0 0;
  float: left;
}

.panel.condensed p:first-child,
.condensed .panel p:first-child,
.panel.condensed p.first,
.condensed .panel p.firs {
  margin: 0 0;
}

.panel.condensed p,
.condensed .panel p {
  margin: 8px 0 0 0;
}

.panel.condensed h4,
.condensed .panel h4 {
  margin: 0 0 2px 0;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.panellist.fullwidth {
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
  border-bottom: 1px solid #ccc;
}

ul.panellist.fullwidth > li.panel {
  padding: 10px 10px;
  position: relative;
  border-top: 1px solid #ccc;
  background-image: linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff 0%, #f2f3e5 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #f2f3e5 100%);
  overflow: hidden;
}

ul.panellist.fullwidth > li.panel:active {
  background-image: linear-gradient(top, #eee 0%, #ddd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #eaebcc 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #eaebcc 100%);
}

ul.panellist.fullwidth > li.panel:first-child {
  border-top: none;
}

ul.panellist.fullwidth > li.panel > .panel-inner {
  padding: 0 0 0 0;
  margin: 0 0;
  overflow: hidden;
}

ul.panellist.expandable > li.panelgroup {
  position: relative;
  border-top: 1px solid #ccc;
  overflow: hidden;
}
  
ul.panellist.expandable > li.panelgroup.activated {
  height: auto;
}

ul.panellist.expandable > li.panelgroup:first-child {
  border-top: none;
}

ul.panellist.expandable > li.panelgroup > .panelgroup-label a:before,
ul.panellist.expandable > li.panelgroup > .panelgroup-label .panelgroup-label-inner:before {
  float: right;
  content: "▾";
  color: #fff;
  text-shadow: 1px 1px 3px #ccc;
  margin-right: 5px;
  font-size: 16px;
  height: 28px;
}

ul.panellist.expandable > li.panelgroup.activated .panelgroup-label a:before,
ul.panellist.expandable > li.panelgroup.activated .panelgroup-label .panelgroup-label-inner:before {
  content: "▴";
}

ul.panellist.expandable > li.panelgroup > .panelgroup-label {
  display: block;
  height: 28px;
  font-weight: bold;
  padding: 0px 10px;
  background-image: linear-gradient(top, #ccc 0%, #888 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#888));
  background-image: -webkit-linear-gradient(top, #ccc 0%, #888 100%);
  background-image: -moz-linear-gradient(top, #ccc 0%, #888 100%);
}


a.panelgroup-label,
.panelgroup-label > a {
  color: #fff;
  text-decoration: none;
  display: block;
}

ul.panellist.expandable > li.panelgroup > .panelgroup-inner {
  padding: 0 0 0 0;
  margin: 0 0;
  overflow: hidden;
}

ul.panelgroup-inner {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0;
}

ul.panelgroup-inner > li.panelgroup:first-child {
  border-top: none;
}

ul.panelgroup-inner > li.panel {
  padding: 10px 10px;
  position: relative;
  border-top: 1px solid #ccc;
  background-image: linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  overflow: hidden;
}

.navigable .panel-inner {
  padding-right: 25px !important;
}

.navigable .panel-inner:before {
  content: "";
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  font-family: Serif;
  color: #888;
  text-shadow: 1px 1px 2px #fff;
  background: url("../images/rarrow.png") no-repeat center center;
  width: 12px;
  margin-top: -8px;
  vertical-align: top;
}

.navigable.with-panel-footer .panel-inner:before,
.navigable .with-panel-footer .panel-inner:before,
.with-panel-footer .navigable .panel-inner:before {
  margin-top: -18px;
}

table.panellist.margined {
  display: block;
  border: none;
  background-image: linear-gradient(top, #f2f3e5, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f3e5), to(#fff));
  background-image: -webkit-linear-gradient(top, #abad8d 0%, #f2f3e5 100%);
  background-image: -moz-linear-gradient(top, #abad8d 0%, #f2f3e5 100%);
  margin: 0 0;
  padding: 0px 10px 10px 10px;
}

table.panellist.margined > caption {
  display: block;
  margin: 0 0;
  padding: 0 0;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

table.panellist.margined > tbody,
table.panellist.margined > thead,
table.panellist.margined > tbody > tr,
table.panellist.margined > thead > tr,
table.panellist.margined > tbody > tr > td,
table.panellist.margined > thead > tr > td,
table.panellist.margined > tbody > tr > th,
table.panellist.margined > thead > tr > th {
  display:block
}

table.panellist.margined > tbody > tr > td.panel {
  -webkit-box-shadow: 2px 2px 4px 0px rgb(0, 0, 0, .25);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .25);
  position: relative;
  margin-top: 10px;
  background-image: linear-gradient(top, #f7f7f0 0%, #f2f3e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f0), to(#f2f3e5));
  background-image: -webkit-linear-gradient(top, #f7f7f0 0%, #f2f3e5 100%);
  background-image: -moz-linear-gradient(top, #f7f7f0 0%, #f2f3e5 100%);
  overflow: hidden;
}

table.panellist.margined > tbody > tr:first-child > td.panel {
  margin-top: 0px;
}


table.panellist.margined > tbody > tr > td.panel p:first-child,
table.panellist.margined > tbody > tr > td.panel p.first {
  margin: 0 0;
}

table.panellist.margined > tbody > tr > td.panel p {
  margin: 8px 0 0 0;
}

table.panellist.margined > tbody > tr > td.panel > .panel-inner {
  padding: 5px 5px;
  margin: 0 0;
  overflow: hidden;
}

table.panellist.margined.navigable > tbody > tr > td.panel:active,
table.panellist.margined > tbody > tr > td.panel.navigable:active {
  background-image: linear-gradient(top, #f7f7f0 0%, #eaebcc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f0), to(#eaebcc));
  background-image: -webkit-linear-gradient(top, #f7f7f0 0%, #eaebcc 100%);
  background-image: -moz-linear-gradient(top, #f7f7f0 0%, #eaebcc 100%);
}

.panel .with-action-buttons,
.with-action-buttons .panel {
  display: table-row;
}

.with-action-buttons .panel-inner {
  display: table-cell;
  width: 100%;
}

.with-action-buttons .actions {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  padding-right: 5px;
  height: 100%;
}

.condensed .actions > .btn {
  font-size: 13px;
}

.panel .panel-footer {
  width: auto; 
  padding: 4px 4px;
  background-color: #fff;
  background-image: linear-gradient(top, #fff 0%, #eee 98%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.98, #eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 98%, #fff 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #eee 98%, #fff 100%);
  color: #aaa;
}

.panel > label {
  display: block;
}

.btn-iosish {
  display: inline-block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(top, #800 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#800), to(#fff));
  background-image: -webkit-linear-gradient(top, #800 0%, #fff 100%);
  background-image: -moz-linear-gradient(top, #800 0%, #fff 100%);
  padding: 2px 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-iosish > .btn-inner {
  display: block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: linear-gradient(top, #ddd 0%, #b44 40%, #880000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), color-stop(0.4, #b44), to(#8800000));
  background-image: -webkit-linear-gradient(top, #ddd 0%, #b44 40%, #880000 100%);
  background-image: -moz-linear-gradient(top, #ddd 0%, #b44 40%, #880000 100%);
  padding: 6px 6px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: auto;
}

.btn-iosish:hover > .btn-inner,
.btn-iosish:active > .btn-inner {
  background-image: linear-gradient(top, #fff 0%, #d66 40%, #a82020 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #d66), to(#a82020));
  background-image: -webkit-linear-gradient(top, #fff 0%, #d66 40%, #a82020 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #d66 40%, #a82020 100%);
}

.btn-primary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-primary {
  background-image: linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8C4E), color-stop(0.48, #FF7825), color-stop(0.5, #FF6000), to(#FF7621));
  background-image: -webkit-linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  background-image: -moz-linear-gradient(top, #FF8C4E 0%, #FF7825 48%, #FF6000 50%, #FF7621);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary:hover {
  background-image: linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9856), color-stop(0.48, #FF9958), color-stop(0.5, #FF8741), to(#FF8631));
  background-image: -webkit-linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  background-image: -moz-linear-gradient(top, #FF9856 0%, #FF9958 48%, #FF8741 50%, #FF8631);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-secondary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-secondary {
  background-image: linear-gradient(top, #66cc33 0%, #4fb219 48%, #399a01 50%, #4daf16);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc33), color-stop(0.48, #4fb219), color-stop(0.5, #399a01), to(#4daf16));
  background-image: -webkit-linear-gradient(top, #66cc33 0%, #4fb219 48%, #399a01 50%, #4daf16);
  background-image: -moz-linear-gradient(top, #66cc33 0%, #4fb219 48%, #399a01 50%, #4daf16);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-secondary:hover {
  background-image: linear-gradient(top, #74da41 0%, #5dc027 48%, #47a80e 50%, #5bbd24);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74da41), color-stop(0.48, #5dc027), color-stop(0.5, #47a80e), to(#5bbd24));
  background-image: -webkit-linear-gradient(top, #74da41 0%, #5dc027 48%, #47a80e 50%, #5bbd24);
  background-image: -moz-linear-gradient(top, #74da41 0%, #5dc027 48%, #47a80e 50%, #5bbd24);
  box-shadow-image: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-secondary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-supplementary {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-supplementary {
  background: #78CAE7;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-supplementary:hover {
  background: #78CAE7;
  box-shadow-image: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-supplementary:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-disabled {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn-disabled {
  background: linear-gradient(top, #cccccc 0%, #b2b2b2 48%, #9a9a9a 50%, #afafaf);
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), color-stop(0.48, #b2b2b2), color-stop(0.5, #9a9a9a), to(#afafaf));
  background: -webkit-linear-gradient(top, #cccccc 0%, #b2b2b2 48%, #9a9a9a 50%, #afafaf);
  background: -moz-linear-gradient(top, #cccccc 0%, #b2b2b2 48%, #9a9a9a 50%, #afafaf);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-disabled:hover {
  background-image: linear-gradient(top, #dadada 0%, #c0c0c0 48%, #a8a8a8 50%, #bdbdbd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), color-stop(0.48, #c0c0c0), color-stop(0.5, #a8a8a8), to(#bdbdbd));
  background-image: -webkit-linear-gradient(top, #dadada 0%, #c0c0c0 48%, #a8a8a8 50%, #bdbdbd);
  background-image: -moz-linear-gradient(top, #dadada 0%, #c0c0c0 48%, #a8a8a8 50%, #bdbdbd);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-disabled:active {
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
}

.btn-primary .btn-inner,
.btn-secondary .btn-inner,
.btn-supplementary .btn-inner,
.btn-disabled .btn-inner {
  font-weight: bold;
}

.label {
  border-radius: 2px;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  padding: 0px 4px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.label-salessegment-normal {
  background-color: #8d5;
}

.label-salessegment-ahead {
  background-color: #fc5;
}

.block {
  border-radius: 6px;
  border: 3px solid #f2f3e5;
  background-color: #f7f7f0;
  padding: 8px 8px;
  margin-bottom: .5em;
}

.block p {
  margin: 0 0 .5em 0;
}

h2.glitter {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  background-image: linear-gradient(top, #9ea398 0%, #898f83 48%, #767d70 50%, #878d81);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ea398), color-stop(0.48, #898f83), color-stop(0.5, #767d70), to(#878d81));
  background-image: -webkit-linear-gradient(top, #9ea398 0%, #898f83 48%, #767d70 50%, #878d81);
  background-image: -moz-linear-gradient(top, #9ea398 0%, #898f83 48%, #767d70 50%, #878d81);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h2.glitter:after {
  position: relative;
  display: block;
  left: -14px;
  top: -34px;
  content: "";
  width: 2px;
  height: 30px;
  background-image: linear-gradient(top, #ffffff 0%, #ffd6d6 48%, #ffb2b2 50%, #ffd2d2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.48, #ffd6d6), color-stop(0.5, #ffb2b2), to(#ffd2d2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffd6d6 48%, #ffb2b2 50%, #ffd2d2);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffd6d6 48%, #ffb2b2 50%, #ffd2d2);
}

h2.glitter.music:after {
  background-image: linear-gradient(top, #d0cdf2 0%, #8c8bf2 48%, #5454f2 50%, #8685f2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0cdf2), color-stop(0.48, #8c8bf2), color-stop(0.5, #5454f2), to(#8685f2));
  background-image: -webkit-linear-gradient(top, #d0cdf2 0%, #8c8bf2 48%, #5454f2 50%, #8685f2);
  background-image: -moz-linear-gradient(top, #d0cdf2 0%, #8c8bf2 48%, #5454f2 50%, #8685f2);
}

h2.glitter.performance:after {
  background-image: linear-gradient(top, #fff6f6 0%, #f7e2e3 48%, #f0d1d2 50%, #f6e0e1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff6f6), color-stop(0.48, #f7e2e3), color-stop(0.5, #f0d1d2), to(#f6e0e1));
  background-image: -webkit-linear-gradient(top, #fff6f6 0%, #f7e2e3 48%, #f0d1d2 50%, #f6e0e1);
  background-image: -moz-linear-gradient(top, #fff6f6 0%, #f7e2e3 48%, #f0d1d2 50%, #f6e0e1);
}

h2.glitter.sports:after {
  background-image: linear-gradient(top, #ffffcc 0%, #f7f8af 48%, #f0f296 50%, #f6f7ac);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffcc), color-stop(0.48, #f7f8af), color-stop(0.5, #f0f296), to(#f6f7ac));
  background-image: -webkit-linear-gradient(top, #ffffcc 0%, #f7f8af 48%, #f0f296 50%, #f6f7ac);
  background-image: -moz-linear-gradient(top, #ffffcc 0%, #f7f8af 48%, #f0f296 50%, #f6f7ac);
}

h2.glitter.event:after {
  background-image: linear-gradient(top, #d9f2ff 0%, #bbe7ff 48%, #a1deff 50%, #b8e6ff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9f2ff), color-stop(0.48, #bbe7ff), color-stop(0.5, #a1deff), to(#b8e6ff));
  background-image: -webkit-linear-gradient(top, #d9f2ff 0%, #bbe7ff 48%, #a1deff 50%, #b8e6ff);
  background-image: -moz-linear-gradient(top, #d9f2ff 0%, #bbe7ff 48%, #a1deff 50%, #b8e6ff);
}

h2.glitter.red {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  background: #78CAE7;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h2.glitter.red:after {
  background: #78CAE7;
}

h3.glitter {
  border: 1px solid #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 28px;
  line-height: 28px;
  font-size: 17px;
  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  padding: 0px 0px 0px 10px;
  margin: 0 0;
  background-image: linear-gradient(top, #9ea398 0%, #898f83 48%, #767d70 50%, #878d81);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ea398), color-stop(0.48, #898f83), color-stop(0.5, #767d70), to(#878d81));
  background-image: -webkit-linear-gradient(top, #9ea398 0%, #898f83 48%, #767d70 50%, #878d81);
  background-image: -moz-linear-gradient(top, #9ea398 0%, #898f83 48%, #767d70 50%, #878d81);
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .3), 0px 0px 0px 2px rgba(255, 255, 255, .3) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h3.glitter:after {
  position: relative;
  display: block;
  left: -6px;
  top: -24px;
  content: "";
  width: 2px;
  height: 20px;
}


.goto-link {
  text-decoration: none;
  padding: 6px 6px;
}

.header-navigation {
  margin-bottom: 15px;
}

input[type="text"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  height: 34px;
  font-size: 17px;
  padding: 0px 2px;
  margin: 0 0 2px 0;
}

select {
  height: 30px;
  font-size: 16px;
  margin: 3px 0 0 0;
  background-color: #fff;
}

button {
  height: 28px;
  margin: 3px 0 0 0;
  font-weight: bold;
}

input[type="submit"] {
  height: 28px;
  margin: 5px 0 0 0;
  font-weight: bold;
}

#mailMagazineBoxInner .dispBox .subscribed {
	color: #bbb;
}

#mailMagazineBoxInner .dispBox .subscribed label:after {
  display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #fff;
	background-color: #f88;
	vertical-align: middle;
	margin: 0 0 0 4px;
	padding: 2px 3px;
	font-size: 10px;
	height: 10px;
	line-height: 10px;
	font-weight: bold;
	content: "購読中";
}


.settlementBox {
	margin-bottom: 20px;
	background: url(../images/bg_box_bottom.gif) no-repeat left bottom #f7f7f0;
}

.settlementBoxInner {
	overflow: hidden;
	padding-bottom: 10px;
	background: url(../images/bg_box_top.gif) no-repeat 0 0;
}

.settlementBoxInner dl {
	margin-left:10px;
}

.settlementBoxInner dl dt.cartPayment {
	font-size:140%;
	font-weight:bold;
	border-left:2px #ccc solid;
	padding:3px 0 0 10px;
	height:30px;
	margin:8px 0 10px 0;
}

.settlementBoxInner p{
	margin:0 0 10px 20px;
}

.settlementBox2 {
	margin: 0 10px 20px;
	background: url(../images/bg_box_bottom_02.gif) no-repeat left bottom;
}

.settlementBoxInner2 {
	height: 1%;
	overflow: hidden;
	padding: 0 8px 10px 12px;
	background: url(../images/bg_box_top_02.gif) no-repeat 0 0;
}

.settlementBox h2 {
	position: static !important;
	padding: 8px 0 10px 12px;
	margin-bottom: 5px;
}

.settlementBox2 h2 {
	position: static !important;
	padding: 8px 0 10px;
	margin-bottom: 5px;
}

.settlementBox2 h2#hallName {
	display: block;
	margin: 8px 0 20px 0;
	padding: 4px 0 4px 5px;
	border-left: 2px solid #666666;
	font-size: 116.7%;
}

#settlementOperation .settlementBoxInner2 {
}

.error {
  margin: 0;
  color: red;
  font-weight: bold;
  font-size: 17px;
}

.settlementNotice {
	margin: 8px 8px;
	padding: 8px 8px;
	background-color: #ffeeee;
	color: #f00;
	font-weight: bold;
}

.settlementNotice p {
	margin: 0 0;
}
