<%page args="form, organization" />

<div class="page-header">
  <h4>基本情報</h4>
</div>
<table class="table table-bordered fullwidth">
  <tbody>
  <tr>
    <th class="span3">${form.name.label.text}</th>
    <td>${organization.name}</td>
  </tr>
  <tr>
    <th class="span3">${form.client_type.label.text}</th>
    <td>${organization.client_type}</td>
  </tr>
  </tbody>
</table>

<div class="page-header">
  <h4>連絡先</h4>
</div>
<table class="table table-bordered fullwidth">
  <tbody>
  <tr>
    <th class="span3">${form.prefecture_id.label.text}</th>
    <td>${organization.prefecture.name}</td>
  </tr>
  <tr>
    <th class="span3">${form.city.label.text}</th>
    <td>${organization.city}</td>
  </tr>
  <tr>
    <th class="span3">${form.address.label.text}</th>
    <td>${organization.address}</td>
  </tr>
  <tr>
    <th class="span3">${form.street.label.text}</th>
    <td>${organization.street}</td>
  </tr>
  <tr>
    <th class="span3">${form.other_address.label.text}</th>
    <td>${organization.other_address}</td>
  </tr>
  <tr>
    <th class="span3">${form.tel_1.label.text}</th>
    <td>${organization.tel_1}</td>
  </tr>
  <tr>
    <th class="span3">${form.tel_2.label.text}</th>
    <td>${organization.tel_2}</td>
  </tr>
  <tr>
    <th class="span3">${form.fax.label.text}</th>
    <td>${organization.fax}</td>
  </tr>
  </tbody>
</table>

% if organization.user.bank_account:
<div class="page-header">
  <h4>振込先</h4>
</div>
<table class="table table-bordered fullwidth">
  <tbody>
  <tr>
    <th class="span3">銀行名</th>
    <td>${organization.user.bank_account.bank_id}</td>
  </tr>
  <tr>
    <th class="span3">口座種別</th>
    <td>${organization.user.bank_account.account_type}</td>
  </tr>
  <tr>
    <th class="span3">口座番号</th>
    <td>${organization.user.bank_account.account_number}</td>
  </tr>
  <tr>
    <th class="span3">口座名義</th>
    <td>${organization.user.bank_account.account_owner}</td>
  </tr>
  </tbody>
</table>
% endif