<%page args="events, title=None" />
<%namespace file="/common/helpers.html" name="h" />

% if events:
  <div class="page-header">
    <h3>${title}イベント</h3>
  </div>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>イベントコード</th>
      <th>イベント名</th>
      <th>初回公演</th>
      <th>最終公演</th>
    </tr>
    % for event in events:
    <tr>
      <td><a href="${request.route_path('events.show', event_id=event.id)}">${event.code}</a></td>
      <td><a href="${request.route_path('events.show', event_id=event.id)}">${event.title}</a></td>
      <td>${h.safe_strftime(event.first_start_on)}</td>
      <td>${h.safe_strftime(event.final_start_on)}</td>
    </tr>
    % endfor
  </table>
% endif
