<form>
  <div class="ui-toolbar">
    <a href="${request.route_path('organizations.new')}" class="ui-button">新規クライアント</a>
    <a href="#" class="ui-button">まとめて削除</a>
  </div>
  ${organizations.pager(u'$link_previous ~3~ $link_next ( $pageページ目 $page_count ページ中)')}
  <table class="table fullwidth checkboxed_table">
    <thead>
      <tr>
        <th class="minwidth"><input type="checkbox" class="__action__-select_all" /></th>
        <th class="minwidth">ID</th>
        <th>クライアント名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    % for organization in organizations.items:
      <tr>
        <td><input type="checkbox" /></td>
        <td><a href="${request.route_path('organizations.show', organization_id=organization.id)}">${organization.id}</a></td>
        <td><a href="${request.route_path('organizations.show', organization_id=organization.id)}">${organization.name}</a></td>
        <td><a href="${request.route_path('organizations.edit', organization_id=organization.id)}">編集</a></td>
      </tr>
    % endfor
    </tbody>
  </table>
  ${organizations.pager(u'$link_previous ~3~ $link_next ( $pageページ目 $page_count ページ中)')}
</form>
