<%page args="account=None, order=None, small=False, split=False" />
<%namespace file="/common/modal.html" import="delete_modal" />

<%
  account_id = account.id if account else ''
  actions = {
    'new':dict(
      label=u'新規',
      url='javascript:new_account();',
      icon='icon-plus',
    ),
    'edit':dict(
      label=u'編集',
      url='javascript:edit_account({});'.format(account_id),
      icon='icon-pencil',
    ),
    'delete':dict(
      label=u'削除',
      url='javascript:delete_account({});'.format(account_id),
      attrs={'class':'btn-danger'},
      icon='icon-minus',
    ),
  }
  order = iter(order or ['new', 'edit', 'delete'])
%>
% if split:
  <div style="float: left; margin-right: 10px;">
  % for item in order:
      ${HH.action_button(actions, iter([item]), vertical=False, extra_classes=[u'btn-small'] if small else [])}
  % endfor
  </div>
% else:
    <div style="float: left;">
      ${HH.action_button(actions, order, vertical=False, extra_classes=[u'btn-small'] if small else [])}
    </div>
% endif
${delete_modal()}
