<%inherit file="/layout_2cols.html"/>
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'トップ', u'取引先'],
      urls=[request.route_path('index')]
  )}
</%block>
<div class="page-header">
  <h1>取引先</h1>
</div>

<%include file="./_action_button.html" />

<div class="row-fluid" style="margin-top: 30px;">
  <div class="span6">
    <%include file="./_list.html" args="form=form, accounts=accounts" />
  </div>
</div>

<%include file="./_modal.html" args="modal_id='modal_account'"/>
