<%inherit file="/layout_2cols.html" />
<%namespace file="/common/helpers.html" name="ch" />

<%block name="breadcrumbs">
  ${ch.breadcrumbs(
      names=[u'取引先', account.name],
      urls=[request.route_path('accounts.index')]
  )}
</%block>

<div class="page-header">
  <h1>${account.name}</h1>
</div>

<table class="table">
  <tbody>
    <tr>
      <th>種別<th>
      <td>${account.account_type_label}</td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 20px;">
  <%include file="/organizations/_events.html" args="events=owner_events, title=u'配券している'" />
</div>
<div style="margin-top: 20px;">
  <%include file="/organizations/_events.html" args="events=client_events, title=u'配券されている'" />
</div>
