@charset "utf-8";

/* reveiw password search============================== */
.review-password-tbl {
    border: none;
    width: 100%;
    border-collapse: collapse;
}
.review-password-tab-wrap {
    width:730px;
    margin:75px auto;
}
.review-password-tbl.search-form td {
	border: none;
	background: none;
	vertical-align: baseline;
	width: 55%;
	padding: 9px;
}
.review-password-tbl.search-form th {
	width: 45%;
	text-align: right;
	letter-spacing: 1.5px;
	font-weight: bolder;
}
.review-password-tbl.search-form td input[type="text"] {
	width: 280px;
	background: #e0e0e0;
	border: 1px solid #ccc;
	padding: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.review-password-tbl.search-form td input[type="text"]:focus {
	background: none;
	outline-offset: -2px;
	outline: -webkit-focus-ring-color auto 5px;
}
.review-password-tab {
    font-size:0;
    margin:0 86px;
}
.review-password-tab li{
    width:265px;
    margin:0 7px;
    display:inline-block;
    padding:12px 0;
    color:#000000;
    background:#f0e1f9;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    transition:ease 0.2s opacity;
}
.review-password-tab li:hover{
    opacity:0.6;
}
.review-password-panel-area{
    background:#ffffff;
    border: 2px solid #f0e1f9;
    height: 350px;
}
.review-password-tabcontent{
    width:100%;
    padding:80px 0;
    display:none;
}
ul.review-password-tab li.current{
    background:#7d00be;
    color:#ffffff;
}
.review-password-tabcontent.current{
    display:block;
    height: 350px;
    margin-top: -40px;
}
.review-password-tab-title {
    color:#7d00be;
    font-size:20px;
    text-align:center;
    margin-top: -15px;
    font-weight:600;
    letter-spacing:2px;
}
.review-password-annot {
    text-align:center;
    font-size: 1.2rem;
    background : none;
    color: #848484;
    line-height: 1.25;
    padding: 5px;
    margin: 20px 0px 20px 0;
}

@media screen and (max-width: 767px) {
	.review-password-tab-wrap {
		width: 100%;
		margin: 0 auto;
		height: 600px;
	}
	.review-password-panel-area {
		background: #ffffff;
		border: 2px solid #f0e1f9;
		height: 450px;
	}
	.review-password-tab {
		font-size: 0;
		margin: 0 0px;
		align-content: flex-start;
	}
	.review-password-tab li {
		width: 50%;
		margin: 0 0;
		display: inline-block;
		padding: 12px 0;
		color: #000000;
		background: #f0e1f9;
		text-align: center;
		font-size: 13px;
		cursor: pointer;
		transition: ease 0.2s opacity;
	}
	.review-password-tbl.search-form th,
	.review-password-tbl.search-form td {
		text-align: center;
	}
	.review-password-tbl.search-form th {
		margin: 15px 0 -5px 0;
	}
  	.review-password-tbl.search-form td input[type="text"] {
    	width: 100%;
  	}
	.review-password-tbl th,
	.review-password-tbl td {
		width: 100% !important;
		display: block;
		box-sizing: border-box;
	}
}

/* reveiw password show ============================== */
.reveiw-password-box {
	border-bottom: 1px dotted #CCC;
	padding: 10px;
}
.mypage-icon {
	float: left;
	width: 64px;
	height: 64px;
}
.reveiw-password-box dl { margin-left: 20px; }
.reveiw-password-box dt a { font-weight: bold; text-decoration:underline; }
.reveiw-password-box .br:after { content: "　"; }
.reveiw-password-notice {
    font-size: 1.3rem;
    background : none;
    color: #848484;
    line-height: 1.25;
    padding: 5px;
    margin: 0px 0px -10px 15px;
}
.notice-hr-top {
	width: 100%;
	border-top: 1px dotted #ccc;
}